Repository microsoft/semantic-kernel, pull requests merged in 2023-04, with the labels that each got.

#266 Restructure folders, add copilot chat to the main solution file
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  samples/apps/copilot-chat-app/SKWebApi/Config/AIServiceConfig.cs
  samples/apps/copilot-chat-app/SKWebApi/Config/ConfigExtensions.cs
  samples/apps/copilot-chat-app/SKWebApi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/SKWebApi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/SKWebApi/Model/Ask.cs
  samples/apps/copilot-chat-app/SKWebApi/Model/AskResult.cs
  samples/apps/copilot-chat-app/SKWebApi/Program.cs
  samples/apps/copilot-chat-app/SKWebApi/README.md
  samples/apps/copilot-chat-app/SKWebApi/SKWebApi.csproj
  samples/apps/copilot-chat-app/SKWebApi/SKWebApiConstants.cs
  samples/apps/copilot-chat-app/SKWebApi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/SKWebApi/Skills/ProbeController.cs
  samples/apps/copilot-chat-app/SKWebApi/Skills/SystemPromptDefaults.cs
  samples/apps/copilot-chat-app/SKWebApi/appsettings.json
  samples/apps/copilot-chat-app/WebApp/README.md
  samples/apps/copilot-chat-app/WebApp/assets/logo-black-512x512.png
  samples/apps/copilot-chat-app/WebApp/index.html
  samples/apps/copilot-chat-app/WebApp/package.json
  samples/apps/copilot-chat-app/WebApp/src/App.tsx
  samples/apps/copilot-chat-app/WebApp/src/Constants.ts
  samples/apps/copilot-chat-app/WebApp/src/components/Login.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/PageViewer.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatHistory.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatStatus.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/views/BackendProbe.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/views/ChatView.tsx
  samples/apps/copilot-chat-app/WebApp/src/index.css
  samples/apps/copilot-chat-app/WebApp/src/libs/AuthHelper.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/models/AlertType.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/models/ChatMessage.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/models/ChatUser.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/SemanticKernel.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/bot-agent/models/SKBotAudienceMember.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/model/Ask.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/model/AskResult.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/model/KeyConfig.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/useSemanticKernel.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/WebApp/src/main.tsx
  samples/apps/copilot-chat-app/WebApp/src/redux/app/hooks.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/app/store.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/app/AppState.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/app/appSlice.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/chat/ChatState.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/chat/chatSlice.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/WebApp/src/vite-env.d.ts
  samples/apps/copilot-chat-app/WebApp/tsconfig.json
  samples/apps/copilot-chat-app/WebApp/vite.config.ts
  samples/apps/copilot-chat-app/WebApp/yarn.lock
  samples/packaged/CopilotChat/SKWebApi/SKWebApi.sln
Labels: feature

#200 Python: Upgrade `PromptTemplateEngine` (bring back to parity w/ C# version)
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_base.py
  python/semantic_kernel/orchestration/context_variables.py
  python/semantic_kernel/semantic_functions/chat_prompt_template.py
  python/semantic_kernel/semantic_functions/prompt_template.py
  python/semantic_kernel/skill_definition/read_only_skill_collection.py
  python/semantic_kernel/skill_definition/read_only_skill_collection_base.py
  python/semantic_kernel/skill_definition/skill_collection.py
  python/semantic_kernel/template_engine/README.md
  python/semantic_kernel/template_engine/blocks/block.py
  python/semantic_kernel/template_engine/blocks/block_types.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/semantic_kernel/template_engine/blocks/function_id_block.py
  python/semantic_kernel/template_engine/blocks/symbols.py
  python/semantic_kernel/template_engine/blocks/text_block.py
  python/semantic_kernel/template_engine/blocks/val_block.py
  python/semantic_kernel/template_engine/blocks/var_block.py
  python/semantic_kernel/template_engine/code_tokenizer.py
  python/semantic_kernel/template_engine/prompt_template_engine.py
  python/semantic_kernel/template_engine/prompt_template_engine_base.py
  python/semantic_kernel/template_engine/protocols/code_renderer.py
  python/semantic_kernel/template_engine/protocols/prompt_templating_engine.py
  python/semantic_kernel/template_engine/protocols/text_renderer.py
  python/semantic_kernel/template_engine/template_exception.py
  python/semantic_kernel/template_engine/template_tokenizer.py
  python/tests/integration/template_engine/test_prompt_template_e2e.py
  python/tests/integration/template_engine/tests.txt
  python/tests/test_file_io_skill.py
  python/tests/unit/template_engine/blocks/test_block.py
  python/tests/unit/template_engine/blocks/test_code_block.py
  python/tests/unit/template_engine/blocks/test_function_id_block.py
  python/tests/unit/template_engine/blocks/test_text_block.py
  python/tests/unit/template_engine/blocks/test_val_block.py
  python/tests/unit/template_engine/blocks/test_var_block.py
  python/tests/unit/template_engine/test_code_tokenizer.py
  python/tests/unit/template_engine/test_prompt_template_engine.py
  python/tests/unit/template_engine/test_template_tokenizer.py
Labels: python

#269 Fix nuget, include tokenizer data files into the output dir
  dotnet/src/SemanticKernel/Connectors/OpenAI/Tokenizers/Settings/EmbeddedResource.cs
  dotnet/src/SemanticKernel/Memory/Collections/ScoredValue.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  samples/dotnet/FileCompression/FileCompressionSkill.cs
  samples/dotnet/FileCompression/IFileCompressor.cs
  samples/dotnet/FileCompression/ZipFileCompressor.cs
Labels: PR: ready for review

#270 Python: normalize `./tests` directory structure
  python/semantic_kernel/core_skills/__init__.py
  python/semantic_kernel/core_skills/file_io_skill.py
  python/tests/end-to-end/basics.py
  python/tests/end-to-end/chat.py
  python/tests/end-to-end/chat_gpt_api.py
  python/tests/end-to-end/memory.py
  python/tests/unit/core_skills/test_file_io_skill.py
  python/tests/unit/core_skills/test_text_skill.py
  python/tests/unit/core_skills/test_time_skill.py
  python/tests/unit/skill_definition/test_sk_function_decorators.py
Labels: python

#236 Fix import_semantic_skill_from_directory
  python/semantic_kernel/kernel_extensions/import_semantic_skill_from_directory.py
  python/semantic_kernel/semantic_functions/prompt_template_config.py
  python/tests/test_config.py
  python/tests/test_skills/TestSkill/TestFunction/config.json
  python/tests/test_skills/TestSkill/TestFunction/skprompt.txt
Labels: PR: ready to merge, python

#273 Invoke chatSkill from frontend
  samples/apps/copilot-chat-app/WebApp/src/libs/useChat.ts
Labels: PR: ready for review

#286 Removed samples/packaged (accidental merge)
  samples/packaged/CopilotChat/SKWebApi/Config/AIServiceConfig.cs
  samples/packaged/CopilotChat/SKWebApi/Config/ConfigExtensions.cs
  samples/packaged/CopilotChat/SKWebApi/Constants.cs
  samples/packaged/CopilotChat/SKWebApi/Controllers/SemanticKernelController.cs
  samples/packaged/CopilotChat/SKWebApi/FunctionLoadingExtensions.cs
  samples/packaged/CopilotChat/SKWebApi/Model/Ask.cs
  samples/packaged/CopilotChat/SKWebApi/Model/AskResult.cs
  samples/packaged/CopilotChat/SKWebApi/Program.cs
  samples/packaged/CopilotChat/SKWebApi/README.md
  samples/packaged/CopilotChat/SKWebApi/SKWebApi.csproj
  samples/packaged/CopilotChat/SKWebApi/SKWebApi.sln
  samples/packaged/CopilotChat/SKWebApi/Skills/ChatSkill.cs
  samples/packaged/CopilotChat/SKWebApi/Skills/SystemPromptDefaults.cs
  samples/packaged/CopilotChat/SKWebApi/appsettings.json
  samples/packaged/CopilotChat/WebApp/README.md
  samples/packaged/CopilotChat/WebApp/assets/logo-black-512x512.png
  samples/packaged/CopilotChat/WebApp/index.html
  samples/packaged/CopilotChat/WebApp/package.json
  samples/packaged/CopilotChat/WebApp/src/App.tsx
  samples/packaged/CopilotChat/WebApp/src/Constants.ts
  samples/packaged/CopilotChat/WebApp/src/components/Login.tsx
  samples/packaged/CopilotChat/WebApp/src/components/PageViewer.tsx
  samples/packaged/CopilotChat/WebApp/src/components/chat/ChatHistory.tsx
  samples/packaged/CopilotChat/WebApp/src/components/chat/ChatHistoryItem.tsx
  samples/packaged/CopilotChat/WebApp/src/components/chat/ChatInput.tsx
  samples/packaged/CopilotChat/WebApp/src/components/chat/ChatRoom.tsx
  samples/packaged/CopilotChat/WebApp/src/components/chat/ChatStatus.tsx
  samples/packaged/CopilotChat/WebApp/src/components/chat/ChatWindow.tsx
  samples/packaged/CopilotChat/WebApp/src/components/chat/chat-list/ChatList.tsx
  samples/packaged/CopilotChat/WebApp/src/components/chat/chat-list/ChatListItem.tsx
  samples/packaged/CopilotChat/WebApp/src/components/views/ChatView.tsx
  samples/packaged/CopilotChat/WebApp/src/index.css
  samples/packaged/CopilotChat/WebApp/src/libs/AuthHelper.ts
  samples/packaged/CopilotChat/WebApp/src/libs/models/AlertType.ts
  samples/packaged/CopilotChat/WebApp/src/libs/models/ChatMessage.ts
  samples/packaged/CopilotChat/WebApp/src/libs/models/ChatUser.ts
  samples/packaged/CopilotChat/WebApp/src/libs/semantic-kernel/SemanticKernel.ts
  samples/packaged/CopilotChat/WebApp/src/libs/semantic-kernel/bot-agent/models/SKBotAudienceMember.ts
  samples/packaged/CopilotChat/WebApp/src/libs/semantic-kernel/model/Ask.ts
  samples/packaged/CopilotChat/WebApp/src/libs/semantic-kernel/model/AskResult.ts
  samples/packaged/CopilotChat/WebApp/src/libs/semantic-kernel/model/KeyConfig.ts
  samples/packaged/CopilotChat/WebApp/src/libs/semantic-kernel/useSemanticKernel.ts
  samples/packaged/CopilotChat/WebApp/src/libs/useChat.ts
  samples/packaged/CopilotChat/WebApp/src/main.tsx
  samples/packaged/CopilotChat/WebApp/src/redux/app/hooks.ts
  samples/packaged/CopilotChat/WebApp/src/redux/app/store.ts
  samples/packaged/CopilotChat/WebApp/src/redux/features/app/AppState.ts
  samples/packaged/CopilotChat/WebApp/src/redux/features/app/appSlice.ts
  samples/packaged/CopilotChat/WebApp/src/redux/features/chat/ChatState.ts
  samples/packaged/CopilotChat/WebApp/src/redux/features/chat/chatSlice.ts
  samples/packaged/CopilotChat/WebApp/src/redux/features/conversations/ConversationsState.ts
  samples/packaged/CopilotChat/WebApp/src/redux/features/conversations/conversationsSlice.ts
  samples/packaged/CopilotChat/WebApp/src/vite-env.d.ts
  samples/packaged/CopilotChat/WebApp/tsconfig.json
  samples/packaged/CopilotChat/WebApp/vite.config.ts
  samples/packaged/CopilotChat/WebApp/yarn.lock
  samples/packaged/README.md
Labels: PR: ready to merge, PR: feature

#284 Copilot chat cleanup - removing Vite and updating README
  samples/apps/copilot-chat-app/WebApp/README.md
  samples/apps/copilot-chat-app/WebApp/package.json
  samples/apps/copilot-chat-app/WebApp/public/index.html
  samples/apps/copilot-chat-app/WebApp/src/App.tsx
  samples/apps/copilot-chat-app/WebApp/src/Constants.ts
  samples/apps/copilot-chat-app/WebApp/src/components/PageViewer.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/views/BackendProbe.tsx
  samples/apps/copilot-chat-app/WebApp/src/index.tsx
  samples/apps/copilot-chat-app/WebApp/src/libs/AuthHelper.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/WebApp/src/vite-env.d.ts
  samples/apps/copilot-chat-app/WebApp/tsconfig.json
  samples/apps/copilot-chat-app/WebApp/vite.config.ts
  samples/apps/copilot-chat-app/WebApp/yarn.lock
Labels: PR: ready to merge, PR: feature

#291 Add CORS to SKWebApi
  samples/apps/copilot-chat-app/SKWebApi/Program.cs
  samples/apps/copilot-chat-app/SKWebApi/appsettings.json
Labels: PR: ready to merge, PR: feature

#295 Addressing comments
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel/Diagnostics/Verify.cs
  dotnet/src/SemanticKernel/IKernel.cs
  dotnet/src/SemanticKernel/Kernel.cs
  samples/dotnet/FileCompression/FileCompressionSkill.cs
  samples/dotnet/FileCompression/IFileCompressor.cs
  samples/dotnet/FileCompression/ZipFileCompressor.cs
Labels: PR: ready for review

#283 Feature: OpenAPI/ChatGPT plugin Skills
  .gitignore
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/JsonPathSkill.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationException.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameterLocation.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationPayload.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParsingException.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/IRestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills/AzureKeyVaultSkill/openapi.json
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills/SkillResourceNames.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/JsonPathSkillTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/ResourceSkillsProvider.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/v2_0/operation.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Skills.UnitTests.csproj
  dotnet/src/SemanticKernel/IKernel.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Orchestration/SKFunction.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  samples/apps/auth-api-webapp-react/src/model/KeyConfig.ts
  samples/apps/book-creator-webapp-react/src/model/KeyConfig.ts
  samples/dotnet/kernel-syntax-examples/Example21_ChatGPTPlugins.cs
  samples/dotnet/kernel-syntax-examples/Example22_OpenApiSkill.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: .NET, PR: ready to merge, PR: main

#294 Fixing env variables and README
  samples/apps/copilot-chat-app/WebApp/README.md
  samples/apps/copilot-chat-app/WebApp/src/App.tsx
  samples/apps/copilot-chat-app/WebApp/src/Constants.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/SemanticKernel.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/useChat.ts
Labels: PR: ready for review, PR: ready to merge, PR: feature

#203 added logger warning and error for cosine similarity computation for …
  python/semantic_kernel/memory/volatile_memory_store.py
  python/tests/unit/memory/test_volatile_memory_store.py
Labels: PR: feedback to address, python

#296 Python: reduce the number of config classes
  python/semantic_kernel/__init__.py
  python/semantic_kernel/ai/open_ai/__init__.py
  python/semantic_kernel/ai/open_ai/services/azure_open_ai_config.py
  python/semantic_kernel/ai/open_ai/services/open_ai_config.py
  python/semantic_kernel/configuration/backend_config.py
  python/semantic_kernel/configuration/backend_types.py
  python/semantic_kernel/configuration/kernel_config.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_base.py
  python/semantic_kernel/kernel_builder.py
  python/semantic_kernel/kernel_config.py
  python/semantic_kernel/kernel_extensions/memory_configuration.py
  python/tests/end-to-end/basics.py
  python/tests/end-to-end/chat.py
  python/tests/end-to-end/chat_gpt_api.py
  python/tests/end-to-end/memory.py
  python/tests/test_config.py
Labels: python

#279 Use delegate type for authentication callback
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/AuthenticateRequestAsyncCallback.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Rest/RestApiOperationRunnerTests.cs
Labels: PR: ready for review, .NET, PR: feature

#255 Planner: Plan object model
  dotnet/src/SemanticKernel.IntegrationTests/CoreSkills/PlannerSkillTests.cs
  dotnet/src/SemanticKernel.UnitTests/CoreSkills/PlannerSkillTests.cs
  dotnet/src/SemanticKernel/CoreSkills/PlannerSkill.cs
  dotnet/src/SemanticKernel/Orchestration/Extensions/ContextVariablesExtensions.cs
  dotnet/src/SemanticKernel/Planning/FunctionFlowRunner.cs
  dotnet/src/SemanticKernel/Planning/KernelPlanningExtensions.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/Planning/SkillPlan.cs
Labels: PR: ready for review, PR: main

#318 Code style fixes
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/ITextRendering.cs
Labels: PR: ready for review, PR: main

#307 Remove unused Skill.cs file from KernelHttpServer
  samples/dotnet/KernelHttpServer/Model/Skill.cs
Labels: PR: ready to merge, PR: main

#317 Python: cleanup/sync/fixes (for examples, docs, tests, notebooks)
  python/.env.example
  python/README.md
  python/semantic_kernel/__init__.py
  python/semantic_kernel/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_builder.py
  python/semantic_kernel/kernel_extensions/__init__.py
  python/semantic_kernel/kernel_extensions/extends_kernel.py
  python/semantic_kernel/kernel_extensions/import_semantic_skill_from_directory.py
  python/semantic_kernel/kernel_extensions/import_skills.py
  python/semantic_kernel/kernel_extensions/inline_definition.py
  python/semantic_kernel/kernel_extensions/inline_function_definitions.py
  python/semantic_kernel/kernel_extensions/memory_configuration.py
  python/semantic_kernel/memory/volatile_memory_store.py
  python/tests/end-to-end/basics.py
  python/tests/end-to-end/chat.py
  python/tests/end-to-end/memory.py
  python/tests/end-to-end/skills_from_dir.py
  python/tests/unit/kernel_extensions/test_import_skills.py
  python/tests/unit/memory/test_volatile_memory_store.py
  samples/notebooks/python/1-basic-loading-the-kernel.ipynb
  samples/notebooks/python/2-running-prompts-from-file.ipynb
  samples/notebooks/python/3-semantic-function-inline.ipynb
  samples/notebooks/python/4-context-variables-chat.ipynb
  samples/notebooks/python/5-using-the-planner.ipynb
  samples/notebooks/python/6-memory-and-embeddings.ipynb
  samples/notebooks/python/init.py
Labels: python

#314 Fixed a few eslint warnings
  samples/apps/auth-api-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/auth-api-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/book-creator-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/book-creator-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/chat-summary-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/chat-summary-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/github-qna-webapp-react/src/components/setup/ModelConfig.tsx
Labels: PR: ready to merge, PR: main

#315 Fixed a no throw literal eslint error in the refapp
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/SemanticKernel.ts
Labels: PR: ready to merge, PR: feature

#313 Improve appsettings
  samples/apps/copilot-chat-app/SKWebApi/appsettings.json
Labels: PR: ready for review, .NET, PR: feature

#258 New notebooks for OpenAI ChatGPT and DALL-E 2
  samples/notebooks/dotnet/1-basic-loading-the-kernel.ipynb
  samples/notebooks/dotnet/2-running-prompts-from-file.ipynb
  samples/notebooks/dotnet/3-semantic-function-inline.ipynb
  samples/notebooks/dotnet/4-context-variables-chat.ipynb
  samples/notebooks/dotnet/5-using-the-planner.ipynb
  samples/notebooks/dotnet/7-DALL-E-2.ipynb
  samples/notebooks/dotnet/8-chatGPT-with-DALL-E-2.ipynb
  samples/notebooks/dotnet/Getting-Started-Notebook.ipynb
  samples/notebooks/dotnet/README.md
  samples/notebooks/dotnet/config/SkiaUtils.cs
  samples/notebooks/dotnet/config/Utils.cs
Labels: PR: ready for review, PR: main

#312 Request headers for OpenApi skills + small improvments/fixes
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameterStyle.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/RestApiOperationTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV2_0.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV3_0.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Skills.UnitTests.csproj
Labels: .NET, PR: main

#336 Minor cleanup of unused IDispoable on CosmosDBMemoryStore
  .github/workflows/codeql-analysis.yml
  README.md
  dotnet/src/SemanticKernel.IntegrationTests/CoreSkills/PlannerSkillTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.CosmosDB/CosmosDBMemoryStore.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameterStyle.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/RestApiOperationTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV2_0.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV3_0.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Skills.UnitTests.csproj
  dotnet/src/SemanticKernel.UnitTests/CoreSkills/TextSkillTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/ConditionalFlowHelperTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/FunctionFlowRunnerTests.cs
  dotnet/src/SemanticKernel/Connectors/OpenAI/Tokenizers/GPT3Tokenizer.cs
  dotnet/src/SemanticKernel/Connectors/OpenAI/Tokenizers/Settings/GPT3Settings.cs
  dotnet/src/SemanticKernel/CoreSkills/PlannerSkill.cs
  dotnet/src/SemanticKernel/CoreSkills/SemanticFunctionConstants.cs
  dotnet/src/SemanticKernel/CoreSkills/TextSkill.cs
  dotnet/src/SemanticKernel/Orchestration/SKFunction.cs
  dotnet/src/SemanticKernel/Planning/ConditionException.cs
  dotnet/src/SemanticKernel/Planning/ConditionalFlowConstants.cs
  dotnet/src/SemanticKernel/Planning/ConditionalFlowHelper.cs
  dotnet/src/SemanticKernel/Planning/FunctionFlowRunner.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  samples/apps/auth-api-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/auth-api-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/book-creator-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/book-creator-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/chat-summary-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/chat-summary-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/github-qna-webapp-react/src/components/setup/ModelConfig.tsx
  samples/dotnet/kernel-syntax-examples/Example12_Planning.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/notebooks/dotnet/1-basic-loading-the-kernel.ipynb
  samples/notebooks/dotnet/2-running-prompts-from-file.ipynb
  samples/notebooks/dotnet/3-semantic-function-inline.ipynb
  samples/notebooks/dotnet/4-context-variables-chat.ipynb
  samples/notebooks/dotnet/5-using-the-planner.ipynb
  samples/notebooks/dotnet/7-DALL-E-2.ipynb
  samples/notebooks/dotnet/8-chatGPT-with-DALL-E-2.ipynb
  samples/notebooks/dotnet/Getting-Started-Notebook.ipynb
  samples/notebooks/dotnet/README.md
  samples/notebooks/dotnet/config/SkiaUtils.cs
  samples/notebooks/dotnet/config/Utils.cs
  samples/skills/FunSkill/Joke/config.json
  samples/skills/WriterSkill/TranslateV2/config.json
Labels: .NET, PR: ready to merge, PR: feature

#323 Added top level readme for copilot chat.
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/images/Cert-Issue.png
  samples/apps/copilot-chat-app/images/UI-Sample.png
Labels: PR: feedback to address, PR: feature

#339 Specify the version of SkiaSharp to use in the notebooks
  samples/notebooks/dotnet/7-DALL-E-2.ipynb
  samples/notebooks/dotnet/8-chatGPT-with-DALL-E-2.ipynb
Labels: PR: ready for review, PR: main

#287 Python: remove `Verify` and `./diagnostics`
  python/.env.example
  python/semantic_kernel/ai/ai_exception.py
  python/semantic_kernel/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/core_skills/text_memory_skill.py
  python/semantic_kernel/diagnostics/sk_exception.py
  python/semantic_kernel/diagnostics/validation_exception.py
  python/semantic_kernel/diagnostics/verify.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_builder.py
  python/semantic_kernel/kernel_exception.py
  python/semantic_kernel/kernel_extensions/import_skills.py
  python/semantic_kernel/kernel_extensions/inline_definition.py
  python/semantic_kernel/kernel_extensions/memory_configuration.py
  python/semantic_kernel/orchestration/context_variables.py
  python/semantic_kernel/orchestration/sk_context.py
  python/semantic_kernel/orchestration/sk_function.py
  python/semantic_kernel/orchestration/sk_function_base.py
  python/semantic_kernel/skill_definition/function_view.py
  python/semantic_kernel/skill_definition/parameter_view.py
  python/semantic_kernel/skill_definition/skill_collection.py
  python/semantic_kernel/template_engine/blocks/function_id_block.py
  python/semantic_kernel/utils/validation.py
Labels: python

#310 fix: add missing default value
  python/semantic_kernel/semantic_functions/prompt_template_config.py
Labels: python

#341 OpenAPI passthrough token auth provider
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/TokenAuthenticationProvider.cs
Labels: PR: ready for review, .NET, PR: main

#342 Update readme
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/WebApp/env.example
Labels: PR: ready to merge, PR: feature

#346 OpenAPI token provider should accept async function pointer
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/TokenAuthenticationProvider.cs
Labels: PR: ready for review, .NET, PR: main

#338 Better sample4 error handling
  samples/apps/github-qna-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/github-qna-webapp-react/src/components/setup/ModelConfig.tsx
Labels: PR: ready for review, PR: ready to merge, PR: main

#364 Improve function availability and planning skill template
  dotnet/src/SemanticKernel.UnitTests/Planning/SKContextExtensionsTests.cs
  dotnet/src/SemanticKernel/CoreSkills/SemanticFunctionConstants.cs
  dotnet/src/SemanticKernel/Planning/SKContextPlanningExtensions.cs
Labels: bug, PR: ready for review, PR: main

#370 CosmosDBMemory Store Serialization Fix, Documentation, and Improved Factory Constructor
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryStore.cs
Labels: bug, PR: ready for review, PR: main

#340 Python: support Azure AD auth
  .vscode/settings.json
  python/.env.example
  python/semantic_kernel/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/ai/open_ai/services/open_ai_text_embedding.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_text_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_text_embedding.py
Labels: PR: feedback to address, python

#350 added *.development.config and *.development.json to gitignore
  .gitignore
  samples/apps/auth-api-webapp-react/README.md
  samples/apps/book-creator-webapp-react/README.md
  samples/apps/chat-summary-webapp-react/README.md
  samples/apps/copilot-chat-app/WebApp/README.md
  samples/apps/github-qna-webapp-react/README.md
  samples/dotnet/KernelHttpServer/README.md
Labels: PR: feedback to address, PR: main

#368 Support Azure Key Vault
  samples/apps/copilot-chat-app/SKWebApi/Config/ConfigExtensions.cs
  samples/apps/copilot-chat-app/SKWebApi/SKWebApi.csproj
  samples/apps/copilot-chat-app/SKWebApi/appsettings.json
Labels: PR: ready for review, .NET, PR: main

#374 Update READMEs, reduce code complexity, misc improvements
  README.md
  python/README.md
  python/poetry.lock
  python/pyproject.toml
  python/requirements.txt
  python/semantic_kernel/kernel_config.py
  python/semantic_kernel/orchestration/sk_function.py
  python/semantic_kernel/orchestration/sk_function_base.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  samples/notebooks/python/.env.example
  samples/notebooks/python/1-basic-loading-the-kernel.ipynb
  samples/notebooks/python/2-running-prompts-from-file.ipynb
  samples/notebooks/python/3-semantic-function-inline.ipynb
  samples/notebooks/python/4-context-variables-chat.ipynb
  samples/notebooks/python/5-using-the-planner.ipynb
  samples/notebooks/python/6-memory-and-embeddings.ipynb
  samples/skills/CalendarSkill/AssistantShowCalendarEvents/config.json
  samples/skills/ChatSkill/ChatFilter/config.json
  samples/skills/ChatSkill/ChatUser/config.json
  samples/skills/ChatSkill/ChatV2/config.json
  samples/skills/ClassificationSkill/Importance/config.json
  samples/skills/CodingSkill/Code/config.json
  samples/skills/CodingSkill/CommandLinePython/config.json
  samples/skills/CodingSkill/DOSScript/config.json
  samples/skills/CodingSkill/EmailSearch/config.json
  samples/skills/CodingSkill/Entity/config.json
  samples/skills/FunSkill/Limerick/config.json
  samples/skills/IntentDetectionSkill/AssistantIntent/config.json
  samples/skills/MiscSkill/Continue/config.json
  samples/skills/QASkill/AssistantResults/config.json
  samples/skills/QASkill/ContextQuery/config.json
  samples/skills/QASkill/Form/config.json
  samples/skills/QASkill/QNA/config.json
  samples/skills/SummarizeSkill/MakeAbstractReadable/config.json
  samples/skills/SummarizeSkill/Notegen/config.json
  samples/skills/WriterSkill/Acronym/config.json
  samples/skills/WriterSkill/AcronymGenerator/config.json
  samples/skills/WriterSkill/AcronymReverse/config.json
  samples/skills/WriterSkill/Brainstorm/config.json
  samples/skills/WriterSkill/EmailGen/config.json
  samples/skills/WriterSkill/EmailTo/config.json
  samples/skills/WriterSkill/NovelChapter/config.json
  samples/skills/WriterSkill/NovelChapterWithNotes/config.json
  samples/skills/WriterSkill/NovelOutline/config.json
  samples/skills/WriterSkill/ShortPoem/config.json
  samples/skills/WriterSkill/Translate/config.json
  samples/skills/WriterSkill/TranslateV2/config.json
Labels: PR: feedback to address, python

#376 Update readme
  README.md
Labels: PR: ready for review

#377 Fix typos and code style
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/RestApiOperationOpenAPIExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
  samples/dotnet/kernel-syntax-examples/Example21_ChatGPTPlugins.cs
  samples/dotnet/kernel-syntax-examples/Example22_OpenApiSkill.cs
Labels: PR: ready for review

#371 Simplifying state + removing unused components
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/WebApp/README.md
  samples/apps/copilot-chat-app/WebApp/env.example
  samples/apps/copilot-chat-app/WebApp/src/App.tsx
  samples/apps/copilot-chat-app/WebApp/src/Constants.ts
  samples/apps/copilot-chat-app/WebApp/src/components/Login.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatStatus.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/WebApp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/app/store.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/app/AppState.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/app/appSlice.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/chat/chatSlice.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/conversations/conversationsSlice.ts
Labels: PR: ready to merge, PR: main

#380 Rename SKWebApi to CopilotChatApi
  dotnet/SK-dotnet.sln
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/WebApp/src/components/views/BackendProbe.tsx
  samples/apps/copilot-chat-app/webapi/Config/AIServiceConfig.cs
  samples/apps/copilot-chat-app/webapi/Config/ConfigExtensions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/ProbeController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/Diagnostics/ExceptionExtensions.cs
  samples/apps/copilot-chat-app/webapi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/webapi/Model/Ask.cs
  samples/apps/copilot-chat-app/webapi/Model/AskResult.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/README.md
  samples/apps/copilot-chat-app/webapi/SKWebApiConstants.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/SystemPromptDefaults.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: PR: ready to merge, PR: main

#278 [Python] Add conversation summary skill
  python/semantic_kernel/core_skills/constants.py
  python/semantic_kernel/core_skills/conversation_summary_skill.py
Labels: PR: ready to merge, python

#405 python: fix unit tests - sk_function skill_collection
  python/semantic_kernel/orchestration/sk_context.py
Labels: python

#401 Linter fixes
  python/.conf/flake8.cfg
  python/README.md
  python/pyproject.toml
  python/semantic_kernel/core_skills/constants.py
  python/semantic_kernel/core_skills/conversation_summary_skill.py
  python/semantic_kernel/orchestration/sk_function.py
  samples/skills/CalendarSkill/AssistantShowCalendarEvents/config.json
  samples/skills/ChatSkill/ChatFilter/config.json
  samples/skills/ChatSkill/ChatUser/config.json
  samples/skills/ChatSkill/ChatV2/config.json
  samples/skills/ClassificationSkill/Importance/config.json
  samples/skills/CodingSkill/Code/config.json
  samples/skills/CodingSkill/CommandLinePython/config.json
  samples/skills/CodingSkill/DOSScript/config.json
  samples/skills/CodingSkill/EmailSearch/config.json
  samples/skills/CodingSkill/Entity/config.json
  samples/skills/FunSkill/Limerick/config.json
  samples/skills/IntentDetectionSkill/AssistantIntent/config.json
  samples/skills/MiscSkill/Continue/config.json
  samples/skills/QASkill/AssistantResults/config.json
  samples/skills/QASkill/ContextQuery/config.json
  samples/skills/QASkill/Form/config.json
  samples/skills/QASkill/QNA/config.json
  samples/skills/SummarizeSkill/MakeAbstractReadable/config.json
  samples/skills/SummarizeSkill/Notegen/config.json
  samples/skills/WriterSkill/Acronym/config.json
  samples/skills/WriterSkill/AcronymGenerator/config.json
  samples/skills/WriterSkill/AcronymReverse/config.json
  samples/skills/WriterSkill/Brainstorm/config.json
  samples/skills/WriterSkill/EmailGen/config.json
  samples/skills/WriterSkill/EmailTo/config.json
  samples/skills/WriterSkill/NovelChapter/config.json
  samples/skills/WriterSkill/NovelChapterWithNotes/config.json
  samples/skills/WriterSkill/NovelOutline/config.json
  samples/skills/WriterSkill/ShortPoem/config.json
  samples/skills/WriterSkill/Translate/config.json
  samples/skills/WriterSkill/TranslateV2/config.json
Labels: PR: ready for review, python

#418 Python unit test GitHub Action
  .github/workflows/python-test.yml
  python/DEV_SETUP.md
  python/README.md
Labels: PR: ready for review, python

#417 Add GPT tokenizer example
  samples/dotnet/kernel-syntax-examples/Example24_Tokenizer.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: PR: ready for review

#367 WHILE Condition feature for Planning
  dotnet/src/SemanticKernel.IntegrationTests/CoreSkills/PlannerSkillTests.cs
  dotnet/src/SemanticKernel.UnitTests/CoreSkills/MathSkillTests.cs
  dotnet/src/SemanticKernel.UnitTests/CoreSkills/TextSkillTests.cs
  dotnet/src/SemanticKernel.UnitTests/CoreSkills/WaitSkillTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/ConditionalFlowHelperTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/FunctionFlowRunnerTests.cs
  dotnet/src/SemanticKernel/CoreSkills/MathSkill.cs
  dotnet/src/SemanticKernel/CoreSkills/PlannerSkill.cs
  dotnet/src/SemanticKernel/CoreSkills/SemanticFunctionConstants.cs
  dotnet/src/SemanticKernel/CoreSkills/TextSkill.cs
  dotnet/src/SemanticKernel/CoreSkills/WaitSkill.cs
  dotnet/src/SemanticKernel/Planning/ConditionalFlowHelper.cs
  dotnet/src/SemanticKernel/Planning/FunctionFlowRunner.cs
  samples/dotnet/kernel-syntax-examples/Example12_Planning.cs
Labels: enhancement, .NET, PR: ready to merge, PR: main

#399 Update README.md
  README.md
Labels: documentation, PR: ready to merge, PR: main

#419 Add typing indicator animation
  samples/apps/copilot-chat-app/WebApp/package.json
  samples/apps/copilot-chat-app/WebApp/src/assets/custom.d.ts
  samples/apps/copilot-chat-app/WebApp/src/assets/typing-balls-light.svg
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/typing-indicator/TypingIndicator.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/typing-indicator/TypingIndicatorRenderer.tsx
  samples/apps/copilot-chat-app/WebApp/tsconfig.json
  samples/apps/copilot-chat-app/WebApp/yarn.lock
Labels: PR: ready for review, typescript

#389 Plan object execution capabilities
  .editorconfig
  .vscode/tasks.json
  dotnet/src/SemanticKernel.IntegrationTests/CoreSkills/PlannerSkillTests.cs
  dotnet/src/SemanticKernel.IntegrationTests/Fakes/EmailSkillFake.cs
  dotnet/src/SemanticKernel.IntegrationTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/PlanTests.cs
  dotnet/src/SemanticKernel/KernelException.cs
  dotnet/src/SemanticKernel/Orchestration/Extensions/KernelPlanExtensions.cs
  dotnet/src/SemanticKernel/Orchestration/Plan.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/Planning/PlanRunner.cs
Labels: enhancement, PR: feedback to address, .NET, PR: main

#413 Acquire token for connectors and server
  samples/apps/copilot-chat-app/WebApp/README.md
  samples/apps/copilot-chat-app/WebApp/src/App.tsx
  samples/apps/copilot-chat-app/WebApp/src/Constants.ts
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/views/Login.tsx
  samples/apps/copilot-chat-app/WebApp/src/index.tsx
  samples/apps/copilot-chat-app/WebApp/src/libs/auth/AuthHelper.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/auth/TokenHelper.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/connectors/useConnectors.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/SemanticKernel.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/app/AppState.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/app/appSlice.ts
Labels: PR: ready to merge, PR: main

#440 Reducing SK core to minimum viable dependency packages
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel/SemanticKernel.csproj
Labels: PR: ready for review, PR: dependencies, PR: main

#445 Adding Detailed Message for AIException Scenarios
  dotnet/src/SemanticKernel.IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel/AI/AIException.cs
  dotnet/src/SemanticKernel/Connectors/OpenAI/AzureOpenAIClientAbstract.cs
  dotnet/src/SemanticKernel/Connectors/OpenAI/OpenAIClientAbstract.cs
  samples/apps/auth-api-webapp-react/src/components/YourInfo.tsx
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/dotnet/KernelHttpServer/SemanticKernelEndpoint.cs
Labels: enhancement, PR: ready for review, .NET

#447 Fix typos and improve docs
  README.md
  dotnet/README.md
  python/FEATURE_PARITY.md
  samples/apps/copilot-chat-app/WebApp/README.md
  samples/apps/copilot-chat-app/WebApp/src/libs/auth/AuthHelper.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/SemanticKernel.ts
Labels: PR: ready for review

#448 Fix links and improve C# setup notebook
  dotnet/README.md
  samples/notebooks/dotnet/0-AI-settings.ipynb
Labels: PR: ready for review

#452 Fix cosmos memory store to return all results, not just the first batch
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryStore.cs
Labels: bug, PR: ready for review, .NET, PR: main

#439 Copilot Chat Persistent Chat History
  samples/apps/copilot-chat-app/WebApp/src/App.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatStatus.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/views/ChatView.tsx
  samples/apps/copilot-chat-app/WebApp/src/components/views/Login.tsx
  samples/apps/copilot-chat-app/WebApp/src/index.tsx
  samples/apps/copilot-chat-app/WebApp/src/libs/auth/AuthHelper.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/connectors/useConnectors.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/models/ChatMessage.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/SemanticKernel.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/model/AskResult.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/WebApp/src/ms-symbollockup_signin_light.svg
  samples/apps/copilot-chat-app/WebApp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/WebApp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatHistorySkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatMessage.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSession.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/SystemPromptDefaults.cs
  samples/apps/copilot-chat-app/webapi/Skills/utils.cs
  samples/apps/copilot-chat-app/webapi/Storage/ChatMessageRepository.cs
  samples/apps/copilot-chat-app/webapi/Storage/ChatSessionRepository.cs
  samples/apps/copilot-chat-app/webapi/Storage/CosmosDbContext.cs
  samples/apps/copilot-chat-app/webapi/Storage/IRepository.cs
  samples/apps/copilot-chat-app/webapi/Storage/IStorageContext.cs
  samples/apps/copilot-chat-app/webapi/Storage/IStorageEntity.cs
  samples/apps/copilot-chat-app/webapi/Storage/InMemoryContext.cs
  samples/apps/copilot-chat-app/webapi/Storage/Repository.cs
Labels: PR: ready for review, PR: main

#446 Skills and Connectors to DotNet Standard 2.0
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/Connectors.Memory.CosmosDB.csproj
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Diagnostics/NullableAttributes.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/HttpRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Text/StringExtensions.cs
  dotnet/src/SemanticKernel.IntegrationTests/RedirectOutput.cs
  dotnet/src/SemanticKernel.IntegrationTests/XunitLogger.cs
  dotnet/src/SemanticKernel.Skills/Skills.Document/DocumentSkill.cs
  dotnet/src/SemanticKernel.Skills/Skills.Document/Skills.Document.csproj
  dotnet/src/SemanticKernel.Skills/Skills.MsGraph/Connectors/OneDriveConnector.cs
  dotnet/src/SemanticKernel.Skills/Skills.MsGraph/Diagnostics/NullableAttributes.cs
  dotnet/src/SemanticKernel.Skills/Skills.MsGraph/Skills.MsGraph.csproj
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/XunitLogger.cs
  dotnet/src/SemanticKernel.Skills/Skills.Web/Skills.Web.csproj
  dotnet/src/SemanticKernel.Skills/Skills.Web/WebFileDownloadSkill.cs
  samples/dotnet/FileCompression/FileCompression.csproj
  samples/dotnet/github-skills/GitHubSkills.csproj
Labels: PR: ready for review, .NET

#443 Unit tests for OpenApi skills
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/RestApiOperationTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV2_0.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV3_0.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV3_1.yaml
  dotnet/src/SemanticKernel.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.UnitTests/Connectors/WebApi/Rest/RestApiOperationTests.cs
  dotnet/src/SemanticKernel/Connectors/WebApi/Rest/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel/Connectors/WebApi/Rest/Model/RestApiOperationParameter.cs
Labels: PR: ready for review

#456 Configure CosmosDB SDK to serialize JSON with camel case
  samples/apps/copilot-chat-app/webapi/Storage/ChatMessageRepository.cs
  samples/apps/copilot-chat-app/webapi/Storage/ChatSessionRepository.cs
  samples/apps/copilot-chat-app/webapi/Storage/CosmosDbContext.cs
Labels: PR: ready for review, PR: main

#468 Sqlite to netstandard2.0 + bug fix in WebSkill.DownloadToFile
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Connectors.Memory.Sqlite.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Database.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteExtensions.cs
  dotnet/src/SemanticKernel.IntegrationTests/RedirectOutput.cs
  dotnet/src/SemanticKernel.Skills/Skills.Web/WebFileDownloadSkill.cs
Labels: PR: ready for review

#479 CopilotChat: Have storage context to handle query
  samples/apps/copilot-chat-app/webapi/Storage/ChatMessageRepository.cs
  samples/apps/copilot-chat-app/webapi/Storage/ChatSessionRepository.cs
  samples/apps/copilot-chat-app/webapi/Storage/CosmosDbContext.cs
  samples/apps/copilot-chat-app/webapi/Storage/FileSystemContext.cs
  samples/apps/copilot-chat-app/webapi/Storage/IStorageContext.cs
  samples/apps/copilot-chat-app/webapi/Storage/VolatileContext.cs
Labels: PR: ready to merge, PR: main

#454 Remove kernel builder pattern for Python: sk.kernel_create() -> sk.Kernel()
  python/DEV_SETUP.md
  python/README.md
  python/pyproject.toml
  python/semantic_kernel/__init__.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_builder.py
  python/tests/end-to-end/basics.py
  python/tests/end-to-end/chat.py
  python/tests/end-to-end/chat_gpt_api.py
  python/tests/end-to-end/memory.py
  python/tests/end-to-end/skills_from_dir.py
  python/tests/integration/template_engine/test_prompt_template_e2e.py
  python/tests/unit/core_skills/test_file_io_skill.py
  python/tests/unit/core_skills/test_text_skill.py
  python/tests/unit/core_skills/test_time_skill.py
  python/tests/unit/kernel_extensions/test_import_skills.py
  samples/notebooks/python/00-getting-started.ipynb
  samples/notebooks/python/01-basic-loading-the-kernel.ipynb
  samples/notebooks/python/02-running-prompts-from-file.ipynb
  samples/notebooks/python/03-semantic-function-inline.ipynb
  samples/notebooks/python/04-context-variables-chat.ipynb
  samples/notebooks/python/05-using-the-planner.ipynb
  samples/notebooks/python/06-memory-and-embeddings.ipynb
Labels: enhancement, PR: ready for review, python, PR: main

#464 Introduce new meta package to install core packages
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.AI.OpenAI/Connectors.AI.OpenAI.csproj
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/Connectors.Memory.CosmosDB.csproj
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Connectors.Memory.Sqlite.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
  dotnet/src/SemanticKernel.Skills/Skills.Document/Skills.Document.csproj
  dotnet/src/SemanticKernel.Skills/Skills.MsGraph/Skills.MsGraph.csproj
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel.Skills/Skills.Web/Skills.Web.csproj
  dotnet/src/SemanticKernel/AI/Embeddings/EmbeddingReadOnlySpan.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
Labels: PR: ready for review, PR: ready to merge

#483 Update secret setup instructions for Copilot Chat
  samples/apps/copilot-chat-app/README.md
Labels: documentation, PR: ready to merge, PR: main

#485 Copilot chat: Extract semantic memory
  samples/apps/copilot-chat-app/webapi/Skills/ChatHistorySkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticChatMemory.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticChatMemoryItem.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticMemoryExtractor.cs
  samples/apps/copilot-chat-app/webapi/Skills/SystemPromptDefaults.cs
Labels: PR: ready for review, PR: ready to merge, PR: main

#494 Webapp vscode debug config
  samples/apps/copilot-chat-app/WebApp/.vscode/launch.json
  samples/apps/copilot-chat-app/WebApp/README.md
Labels: documentation, PR: ready for review, typescript

#499 Update CopilotChat to use only Chat APIs for completions, by default.
  samples/apps/copilot-chat-app/webapi/Config/ConfigExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: PR: ready for review, .NET, PR: main

#498 changed name_of_button+discord_logo+color
  README.md
Labels: documentation, PR: ready to merge, PR: main

#500 Upgrade python notebooks to 0.2.3
  samples/notebooks/python/requirements.txt
Labels: python

#507 Copilot chat: Interactively ask permissions
  samples/apps/copilot-chat-app/WebApp/src/App.tsx
  samples/apps/copilot-chat-app/WebApp/src/libs/auth/AuthHelper.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/useChat.ts
Labels: PR: ready for review, PR: main

#501 corrected python documentation
  python/README.md
Labels: python

#491 Fix planner RememberFunctions method
  dotnet/src/SemanticKernel.IntegrationTests/CoreSkills/PlannerSkillTests.cs
  dotnet/src/SemanticKernel.IntegrationTests/Fakes/EmailSkillFake.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/SKContextExtensionsTests.cs
  dotnet/src/SemanticKernel/CoreSkills/PlannerSkill.cs
  dotnet/src/SemanticKernel/CoreSkills/SemanticFunctionConstants.cs
  dotnet/src/SemanticKernel/Planning/FunctionViewExtensions.cs
  dotnet/src/SemanticKernel/Planning/SKContextPlanningExtensions.cs
  samples/skills/MiscSkill/Continue/config.json
  samples/skills/WriterSkill/ShortPoem/config.json
Labels: bug, PR: ready for review, .NET, PR: main

#510 Remove asyncio from dependency lists
  python/poetry.lock
  python/pyproject.toml
  python/requirements.txt
Labels: PR: ready for review, python

#513 Carry over changes from RefApp_SpeechInput into this branch; Minus ch…
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/WebApp/package.json
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/SKSpeech.ts
  samples/apps/copilot-chat-app/WebApp/src/libs/semantic-kernel/useSKSpeech.ts
  samples/apps/copilot-chat-app/webapi/Config/AzureSpeechConfig.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SpeechTokenController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: PR: feedback to address, PR: main

#484 Python: Making SKFunction.RunThread an outer class
  .github/workflows/python-test.yml
  python/semantic_kernel/orchestration/sk_function.py
Labels: PR: ready for review, python

#516 Add error propagation for invalid completion configuration
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
Labels: bug, PR: ready for review, .NET, PR: main

#517 CopilotChat: Only allow submit when chat message is not empty
  samples/apps/copilot-chat-app/WebApp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
Labels: bug, .NET, PR: ready to merge, typescript, PR: main

#518 Renamed samples/apps/copilot-chat-app/WebApp to samples/apps/copilot-chat-app/webapp
  samples/apps/copilot-chat-app/webapp/.vscode/launch.json
  samples/apps/copilot-chat-app/webapp/README.md
  samples/apps/copilot-chat-app/webapp/assets/bot-icon-1.png
  samples/apps/copilot-chat-app/webapp/assets/bot-icon-2.png
  samples/apps/copilot-chat-app/webapp/assets/bot-icon-3.png
  samples/apps/copilot-chat-app/webapp/assets/bot-icon-4.png
  samples/apps/copilot-chat-app/webapp/assets/bot-icon-5.png
  samples/apps/copilot-chat-app/webapp/env.example
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/public/index.html
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/src/assets/custom.d.ts
  samples/apps/copilot-chat-app/webapp/src/assets/typing-balls-light.svg
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistory.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatStatus.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/typing-indicator/TypingIndicator.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/typing-indicator/TypingIndicatorRenderer.tsx
  samples/apps/copilot-chat-app/webapp/src/components/views/BackendProbe.tsx
  samples/apps/copilot-chat-app/webapp/src/components/views/ChatView.tsx
  samples/apps/copilot-chat-app/webapp/src/components/views/Login.tsx
  samples/apps/copilot-chat-app/webapp/src/index.css
  samples/apps/copilot-chat-app/webapp/src/index.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/auth/AuthHelper.ts
  samples/apps/copilot-chat-app/webapp/src/libs/auth/TokenHelper.ts
  samples/apps/copilot-chat-app/webapp/src/libs/connectors/useConnectors.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/AlertType.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatMessage.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatUser.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/SKSpeech.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/SemanticKernel.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/bot-agent/models/SKBotAudienceMember.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/model/Ask.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/model/AskResult.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/model/KeyConfig.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/useSKSpeech.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/useSemanticKernel.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/ms-symbollockup_signin_light.svg
  samples/apps/copilot-chat-app/webapp/src/redux/app/hooks.ts
  samples/apps/copilot-chat-app/webapp/src/redux/app/store.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/AppState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/appSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/tsconfig.json
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: PR: ready to merge, PR: main

#460 Update READMEs and notebooks with latest nugets
  dotnet/README.md
  samples/notebooks/dotnet/00-getting-started.ipynb
  samples/notebooks/dotnet/01-basic-loading-the-kernel.ipynb
  samples/notebooks/dotnet/02-running-prompts-from-file.ipynb
  samples/notebooks/dotnet/03-semantic-function-inline.ipynb
  samples/notebooks/dotnet/04-context-variables-chat.ipynb
  samples/notebooks/dotnet/05-using-the-planner.ipynb
  samples/notebooks/dotnet/06-memory-and-embeddings.ipynb
  samples/notebooks/dotnet/07-DALL-E-2.ipynb
  samples/notebooks/dotnet/08-chatGPT-with-DALL-E-2.ipynb
Labels: PR: ready for review

#509 Feature matrix improvements
  FEATURE_MATRIX.md
  README.md
  python/FEATURE_PARITY.md
Labels: documentation, PR: ready for review, PR: ready to merge, PR: main

#524 Add Semantic Kernel as recommended extension
  .vscode/extensions.json
Labels: PR: ready for review

#539 CopilotChat: updated README with two more troubleshooting sections from recent updates
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: documentation, PR: ready for review

#522 Enable xml docs for all nugets
  dotnet/Directory.Build.props
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/SemanticKernel.Skills/Skills.MsGraph/Skills.MsGraph.csproj
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  samples/apps/copilot-chat-app/webapi/Config/ConfigExtensions.cs
  samples/apps/copilot-chat-app/webapi/Config/CosmosConfig.cs
  samples/apps/copilot-chat-app/webapi/Config/FileSystemConfig.cs
  samples/apps/copilot-chat-app/webapi/Config/QdrantConfig.cs
  samples/apps/copilot-chat-app/webapi/Config/ServiceConfig.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SpeechTokenController.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/PromptSettings.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticChatMemory.cs
  samples/apps/copilot-chat-app/webapi/Storage/FileSystemContext.cs
Labels: PR: ready for review

#543 Run linter for pull requests only if python files have changed
  .github/workflows/lint.yml
Labels: PR: ready for review, python

#492 A few small fixes
  samples/dotnet/AIPluginsServer/AIPlugins.AzureFunctions.Extensions/KernelAIPluginRunner.cs
  samples/dotnet/AIPluginsServer/AIPlugins.AzureFunctions.Extensions/KernelExtensions.cs
  samples/dotnet/AIPluginsServer/AIPlugins.AzureFunctions.Generator/SemanticSkillGenerator.cs
Labels: PR: ready for review

#511 Python: Use overloads for run_async method
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_base.py
  python/semantic_kernel/orchestration/context_variables.py
  python/tests/end-to-end/basics.py
  python/tests/end-to-end/chat.py
  python/tests/end-to-end/chat_gpt_api.py
  python/tests/end-to-end/memory.py
  python/tests/end-to-end/skills_from_dir.py
  python/tests/unit/orchestration/test_context_variables.py
  samples/notebooks/python/06-memory-and-embeddings.ipynb
Labels: enhancement, PR: ready for review, python, PR: main

#557 The wrong variable was assigned
  dotnet/src/SemanticKernel/CoreSkills/TextMemorySkill.cs
Labels: bug, PR: ready for review, .NET, PR: ready to merge

#555 Avoid fully buffering HTTP response streams
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.Web/WebFileDownloadSkill.cs
Labels: PR: ready to merge, kernel

#530 Vectorize DotProductImplementation with Vector<T>
  dotnet/src/SemanticKernel.UnitTests/VectorOperations/VectorOperationTests.cs
  dotnet/src/SemanticKernel/AI/Embeddings/VectorOperations/DotProductOperation.cs
Labels: PR: ready for review, PR: ready to merge, kernel.core

#561 Improve performance of SemanticTextPartitioner
  dotnet/src/SemanticKernel.Abstractions/Text/StringExtensions.cs
  dotnet/src/SemanticKernel/Planning/FunctionFlowRunner.cs
  dotnet/src/SemanticKernel/SemanticFunctions/Partitioning/SemanticTextPartitioner.cs
Labels: PR: ready for review, PR: ready to merge, kernel.core

#493 Support for text/plain media type for RestAPI skill requests
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV2_0.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV3_0.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV3_1.yaml
  dotnet/src/SemanticKernel.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel/Connectors/WebApi/Rest/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel/Connectors/WebApi/Rest/Model/RestApiOperationPayload.cs
  dotnet/src/SemanticKernel/Connectors/WebApi/Rest/RestApiOperationRunner.cs
Labels: PR: ready for review, PR: ready to merge, kernel

#564 Update README.md
  samples/apps/copilot-chat-app/README.md
Labels: PR: ready to merge, samples

#562 Enable CA1852 ("Type '...' can be sealed...)
  .editorconfig
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AddHeaderRequestPolicy.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/CreateCollectionRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/DeleteCollectionRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/DeleteVectorsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/GetCollectionRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/GetVectorsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/GetVectorsResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/ListCollectionsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/ListCollectionsResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/SearchVectorsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/SearchVectorsResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/UpsertVectorRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/UpsertVectorResponse.cs
  dotnet/src/SemanticKernel.IntegrationTests/Fakes/EmailSkillFake.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/ResourceSkillsProvider.cs
  dotnet/src/SemanticKernel.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/SKFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/Services/ServiceConfigTests.cs
  samples/apps/copilot-chat-app/webapi/Config/AIServiceConfig.cs
  samples/apps/copilot-chat-app/webapi/Config/AzureSpeechConfig.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticMemoryExtractor.cs
  samples/apps/copilot-chat-app/webapi/Storage/FileSystemContext.cs
  samples/dotnet/KernelHttpServer/Config/Constants.cs
  samples/dotnet/kernel-syntax-examples/Example23_ReadOnlyMemoryStore.cs
  samples/dotnet/kernel-syntax-examples/RepoUtils/Env.cs
  samples/dotnet/kernel-syntax-examples/Skills/EmailSkill.cs
Labels: PR: ready for review, kernel

#547 OpenAPI auth provider implementations
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/BasicAuthenticationProvider.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/BearerAuthenticationProvider.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/InteractiveMsalAuthenticationProvider.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/Authentication/BasicAuthenticationProviderTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/Authentication/BearerAuthenticationProviderTests.cs
  samples/dotnet/kernel-syntax-examples/Example22_OpenApiSkill.cs
Labels: .NET, PR: ready to merge, PR: main, kernel

#521 Add AAD and API Key auth
  samples/apps/copilot-chat-app/webapi/Auth/ApiKeyAuthenticationHandler .cs
  samples/apps/copilot-chat-app/webapi/Auth/ApiKeyAuthenticationSchemeOptions.cs
  samples/apps/copilot-chat-app/webapi/Auth/PassThroughAuthenticationHandler.cs
  samples/apps/copilot-chat-app/webapi/Constants.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SpeechTokenController.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/libs/auth/TokenHelper.ts
Labels: .NET, PR: ready to merge, samples

#514 Return embedding in MemoryQueryResult if requested
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryQueryResult.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/SKContextExtensionsTests.cs
  dotnet/src/SemanticKernel/Memory/NullMemory.cs
  dotnet/src/SemanticKernel/Memory/SemanticTextMemory.cs
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
Labels: enhancement, PR: ready for review, .NET, PR: ready to merge, PR: main, kernel.core

#565 Fix: Check for absence, not presence of API key header
  samples/apps/copilot-chat-app/webapi/Auth/ApiKeyAuthenticationHandler .cs
Labels: samples

#529 Fix to log more details about failed function execution.
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Orchestration/SKFunction.cs
Labels: PR: ready for review, PR: ready to merge, kernel.core

#578 Python: linter fix
  python/.conf/.pre-commit-config.yaml
  python/semantic_kernel/kernel.py
  python/tests/end-to-end/basics.py
  python/tests/unit/orchestration/test_context_variables.py
Labels: PR: ready to merge, python

#506 Python: Add native skill import from directory
  python/semantic_kernel/kernel_extensions/import_skills.py
  python/tests/test_native_skills/TestNativeSkill/native_function.py
  python/tests/unit/kernel_extensions/test_import_skills.py
Labels: PR: ready to merge, python

#504 Python: Adding core HttpSkill
  FEATURE_MATRIX.md
  python/semantic_kernel/core_skills/__init__.py
  python/semantic_kernel/core_skills/http_skill.py
  python/tests/unit/core_skills/test_http_skill.py
Labels: PR: ready to merge, python

#550 Copilot Chat: Document Ingestion
  dotnet/SK-dotnet.sln
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/importdocument/Config.cs
  samples/apps/copilot-chat-app/importdocument/ImportDocument.csproj
  samples/apps/copilot-chat-app/importdocument/Program.cs
  samples/apps/copilot-chat-app/importdocument/README.md
  samples/apps/copilot-chat-app/importdocument/appsettings.json
  samples/apps/copilot-chat-app/importdocument/sample-docs/ms10k.txt
  samples/apps/copilot-chat-app/webapi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatHistorySkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/DocumentMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/PromptSettings.cs
  samples/apps/copilot-chat-app/webapi/Skills/Utils.cs
Labels: PR: ready for review, samples

#593 Allow markdown workflow to run against PR branches
  .github/workflows/markdown-link-check.yml
Labels: PR: ready to merge

#591 Code style fixes and csproj fixes
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/AuthenticateRequestAsyncCallback.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/IRestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationException.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationParameterLocation.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationParameterStyle.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationPayload.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Abstractions/Diagnostics/ExceptionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryQueryResult.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Abstractions/Text/StringExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.Document/Skills.Document.csproj
  dotnet/src/SemanticKernel.Skills/Skills.MsGraph/Skills.MsGraph.csproj
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/InteractiveMsalAuthenticationProvider.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel.Skills/Skills.Web/Skills.Web.csproj
  dotnet/src/SemanticKernel.UnitTests/Orchestration/PlanTests.cs
  dotnet/src/SemanticKernel/AI/Embeddings/VectorOperations/CosineSimilarityOperation.cs
  dotnet/src/SemanticKernel/AI/Embeddings/VectorOperations/DivideOperation.cs
  dotnet/src/SemanticKernel/AI/Embeddings/VectorOperations/DotProductOperation.cs
  dotnet/src/SemanticKernel/AI/Embeddings/VectorOperations/MultiplyOperation.cs
  dotnet/src/SemanticKernel/CoreSkills/MathSkill.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
  dotnet/src/SemanticKernel/SemanticFunctions/Partitioning/SemanticTextPartitioner.cs
  samples/apps/copilot-chat-app/importdocument/Config.cs
  samples/apps/copilot-chat-app/importdocument/Program.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/Skills/DocumentMemorySkill.cs
Labels: PR: ready for review

#582 Add labeler workflow and configuration for GitHub Actions
  .github/labeler.yml
  .github/workflows/label.yml
Labels: PR: ready for review

#579 Improve performance of GPT3Tokenizer
  dotnet/src/Connectors/Connectors.AI.OpenAI/Connectors.AI.OpenAI.csproj
  dotnet/src/Connectors/Connectors.AI.OpenAI/Tokenizers/GPT3Tokenizer.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/Tokenizers/Settings/GPT3Settings.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel

#487 Python: Use overloads for sk function invoke_* calls
  python/semantic_kernel/orchestration/sk_function.py
  python/semantic_kernel/orchestration/sk_function_base.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  samples/notebooks/python/04-context-variables-chat.ipynb
Labels: enhancement, PR: ready to merge, python, samples

#602 Fix another extraneous JsonSerializerOptions instance
  samples/dotnet/KernelHttpServer/SemanticKernelEndpoint.cs
Labels: .NET, samples

#572 Bump C# language version to 11
  dotnet/Directory.Build.props
  dotnet/common.props
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Skills/Skills.UnitTests/Skills.UnitTests.csproj
Labels: PR: feedback to address, .NET

#605 Documentation: the corrected text should be Python instead of C#.
  samples/notebooks/python/03-semantic-function-inline.ipynb
Labels: samples

#601 Adding ConfigureAwait(false) to SDK projects
  dotnet/.editorconfig
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/OpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Database.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/IntegrationTests/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/IEmbeddingGeneration.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Abstractions/Reliability/DefaultHttpRetryHandler.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/SKContextExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/SemanticKernel/CoreSkills/FileIOSkill.cs
  dotnet/src/SemanticKernel/CoreSkills/HttpSkill.cs
  dotnet/src/SemanticKernel/CoreSkills/TextMemorySkill.cs
  dotnet/src/SemanticKernel/CoreSkills/WaitSkill.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Memory/SemanticTextMemory.cs
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
  dotnet/src/SemanticKernel/Orchestration/Plan.cs
  dotnet/src/SemanticKernel/Orchestration/SKFunction.cs
  dotnet/src/SemanticKernel/Orchestration/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel/Planning/Planners/SequentialPlanner.cs
  dotnet/src/SemanticKernel/Planning/SKContextPlanningExtensions.cs
  dotnet/src/SemanticKernel/SemanticFunctions/Partitioning/FunctionExtensions.cs
  dotnet/src/SemanticKernel/SemanticFunctions/PromptTemplate.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/PromptTemplateEngine.cs
  dotnet/src/Skills/Skills.Document/DocumentSkill.cs
  dotnet/src/Skills/Skills.MsGraph/CalendarSkill.cs
  dotnet/src/Skills/Skills.MsGraph/CloudDriveSkill.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/Client/MsGraphClientLoggingHandler.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/CredentialManagers/LocalUserMSALCredentialManager.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/MicrosoftToDoConnector.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OneDriveConnector.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OrganizationHierarchyConnector.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OutlookCalendarConnector.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OutlookMailConnector.cs
  dotnet/src/Skills/Skills.MsGraph/EmailSkill.cs
  dotnet/src/Skills/Skills.MsGraph/OrganizationHierarchySkill.cs
  dotnet/src/Skills/Skills.MsGraph/TaskListSkill.cs
  dotnet/src/Skills/Skills.OpenAPI/Authentication/BasicAuthenticationProvider.cs
  dotnet/src/Skills/Skills.OpenAPI/Authentication/BearerAuthenticationProvider.cs
  dotnet/src/Skills/Skills.OpenAPI/Authentication/InteractiveMsalAuthenticationProvider.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.UnitTests/Skills.UnitTests.csproj
  dotnet/src/Skills/Skills.Web/Bing/BingConnector.cs
  dotnet/src/Skills/Skills.Web/WebFileDownloadSkill.cs
  dotnet/src/Skills/Skills.Web/WebSearchEngineSkill.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SpeechTokenController.cs
  samples/dotnet/graph-api-skills/Program.cs
Labels: .NET, samples, kernel.core

#622 New python SK release
  python/pyproject.toml
Labels: python

#600 fixed error notebboks pyhon 4 when useAzureOpenAI equals True
  samples/notebooks/python/04-context-variables-chat.ipynb
Labels: PR: ready to merge, samples

#577 fixed missing today() in TimeSkill
  dotnet/src/SemanticKernel/CoreSkills/TimeSkill.cs
  python/semantic_kernel/core_skills/time_skill.py
Labels: .NET, PR: ready to merge, python, kernel.core

#607 CopilotChat in-app document import
  samples/apps/copilot-chat-app/images/Document-Memory-Sample.png
  samples/apps/copilot-chat-app/importdocument/Program.cs
  samples/apps/copilot-chat-app/importdocument/README.md
  samples/apps/copilot-chat-app/webapi/Config/DocumentImportConfig.cs
  samples/apps/copilot-chat-app/webapi/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/webapi/Model/DocumentImportForm.cs
  samples/apps/copilot-chat-app/webapi/Skills/DocumentMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/DocumentImport.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/useDocumentImport.ts
Labels: PR: ready for review, samples

#623 Upgrade Newtonsoft.Json to 13.0.3
  dotnet/Directory.Packages.props
Labels: PR: ready for review, PR: dependencies

#587 add bool to enable speech input
  samples/apps/copilot-chat-app/webapi/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SpeechTokenController.cs
  samples/apps/copilot-chat-app/webapi/Model/SpeechTokenResponse.cs
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/SKSpeech.ts
Labels: PR: ready to merge, samples

#619 Copilot Chat - Bot portability
  samples/apps/copilot-chat-app/webapi/Config/BotSchemaConfig.cs
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Model/Bot.cs
  samples/apps/copilot-chat-app/webapi/Model/BotEmbeddingConfig.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatMessage.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/components/FileUploader.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ShareBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/models/Bot.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatMessage.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/SemanticKernel.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/BaseService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/BotService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useFile.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: PR: ready for review, samples

#617 Tweak Score and ScoredValue
  dotnet/src/SemanticKernel/Memory/Collections/Score.cs
  dotnet/src/SemanticKernel/Memory/Collections/ScoredValue.cs
Labels: .NET, kernel.core

#588 CopilotChat: Options pattern and best practices
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/webapi/Config/AIServiceConfig.cs
  samples/apps/copilot-chat-app/webapi/Config/AIServiceOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/AuthorizationOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/AzureSpeechConfig.cs
  samples/apps/copilot-chat-app/webapi/Config/AzureSpeechOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/BotSchemaOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/ChatStoreOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/ConfigExtensions.cs
  samples/apps/copilot-chat-app/webapi/Config/CosmosOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/DocumentMemoryOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/FileSystemOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/MemoriesStoreOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/NotEmptyOrWhitespaceAttribute.cs
  samples/apps/copilot-chat-app/webapi/Config/QdrantOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/RequiredOnPropertyValueAttribute.cs
  samples/apps/copilot-chat-app/webapi/Config/ServiceConfig.cs
  samples/apps/copilot-chat-app/webapi/Config/ServiceOptions.cs
  samples/apps/copilot-chat-app/webapi/ConfigurationExtensions.cs
  samples/apps/copilot-chat-app/webapi/Constants.cs
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SpeechTokenController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/webapi/Model/Bot.cs
  samples/apps/copilot-chat-app/webapi/Model/BotEmbeddingConfig.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/README.md
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/DocumentMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticChatMemory.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticMemoryExtractor.cs
  samples/apps/copilot-chat-app/webapi/Skills/Utils.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapi/prompts.json
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: PR: ready for review, samples

#611 Remove a few unnecessary internal setters
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ISKFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel/AI/Embeddings/EmbeddingReadOnlySpan.cs
  dotnet/src/SemanticKernel/AI/Embeddings/EmbeddingSpan.cs
  dotnet/src/SemanticKernel/Orchestration/Plan.cs
Labels: .NET, PR: ready to merge, kernel.core

#633 Fix code style
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/Tokenizers/GPT3Tokenizer.cs
  samples/apps/copilot-chat-app/webapi/Config/AuthorizationOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/ChatStoreOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/NotEmptyOrWhitespaceAttribute.cs
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticMemoryExtractor.cs
  samples/apps/copilot-chat-app/webapi/Skills/Utils.cs
Labels: PR: ready for review, .NET, samples

#645 Fix state handling for plan execution
  dotnet/src/SemanticKernel.UnitTests/Orchestration/PlanTests.cs
  dotnet/src/SemanticKernel/Orchestration/Plan.cs
Labels: PR: ready for review, .NET, kernel.core

#635 Move authority out from Constants.ts to the .env (env.example)
  samples/apps/copilot-chat-app/webapp/env.example
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
Labels: PR: ready to merge, samples

#646 Update tasks.json to use IntegrationTests.csproj
  .vscode/tasks.json
Labels: PR: ready for review, PR: ready to merge

#647 [SequentialPlanner] Add default values to function manual
  dotnet/src/IntegrationTests/Planning/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel/Planning/FunctionViewExtensions.cs
Labels: .NET, PR: ready to merge, kernel.core

#640 OpenAPI Authentication readme
  dotnet/src/Skills/Skills.OpenAPI/Authentication/README.md
Labels: documentation, .NET, PR: ready to merge

#653 Fix context generation order in chat skill
  samples/apps/copilot-chat-app/webapi/Skills/PromptSettings.cs
Labels: PR: ready to merge, samples

#652 CopilotChat: Make Azure Speech optional on the backend and don't show errors when not configured on the frontend
  samples/apps/copilot-chat-app/webapi/Config/AzureSpeechOptions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SpeechTokenController.cs
Labels: bug, PR: ready to merge, samples

#655 Add .editorconfig suppressions for test projects
  dotnet/.editorconfig
  dotnet/src/Connectors/Connectors.UnitTests/.editorconfig
  dotnet/src/IntegrationTests/.editorconfig
  dotnet/src/SemanticKernel.UnitTests/.editorconfig
  dotnet/src/Skills/Skills.UnitTests/.editorconfig
Labels: PR: ready for review, PR: ready to merge

#654 Copilot chat: fix typescript encoding format
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/DocumentImport.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/useDocumentImport.ts
Labels: PR: ready for review, samples

#651 Copilot Chat: No error when upload an invalid bot file
  samples/apps/copilot-chat-app/webapi/Model/BotEmbeddingConfig.cs
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/useFile.ts
Labels: bug, typescript, samples

#657 Planning example improvements
  dotnet/src/IntegrationTests/Planning/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/SKContextExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/SequentialPlanParserTests.cs
  dotnet/src/SemanticKernel/Planning/FunctionViewExtensions.cs
  dotnet/src/SemanticKernel/Planning/Planners/PlannerConfig.cs
  dotnet/src/SemanticKernel/Planning/Planners/SemanticFunctionConstants.cs
  dotnet/src/SemanticKernel/Planning/Planners/SequentialPlanner.cs
  dotnet/src/SemanticKernel/Planning/SequentialPlanParser.cs
  samples/dotnet/kernel-syntax-examples/Example12_Planning.cs
  samples/skills/MiscSkill/ElementAtIndex/config.json
  samples/skills/MiscSkill/ElementAtIndex/skprompt.txt
Labels: PR: ready for review, .NET, samples, kernel.core

#608 Remove intermediary collections from Kernel.ImportSkill
  dotnet/src/SemanticKernel/Kernel.cs
Labels: .NET, kernel.core

#567 Some behavioral / perf fixes for Embedding<T>
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/Embedding.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/IMemoryStore.cs
  dotnet/src/SemanticKernel.UnitTests/AI/Embeddings/EmbeddingTests.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
Labels: PR: ready for review, .NET, kernel.core

#599 Adding Multiple Skill Directories Simplification + Integration Tests readme changes
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Orchestration/PlanTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/README.md
  dotnet/src/IntegrationTests/TestHelpers.cs
  dotnet/src/IntegrationTests/testsettings.json
  dotnet/src/SemanticKernel/KernelExtensions/ImportSemanticSkillFromDirectory.cs
  samples/dotnet/kernel-syntax-examples/Example12_Planning.cs
Labels: PR: ready for review, .NET, PR: ready to merge, samples, kernel.core

#639 MVP components for gRPC skills
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/GrpcOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Model/GrpcOperation.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Model/GrpcOperationDataContractType.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Model/GrpcOperationDataContractTypeFiled.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Model/GrpcOperationException.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Protobuf/ProtoDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Protobuf/ProtobufParsingException.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Skills.Grpc.csproj
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Grpc/GrpcRunnerTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Grpc/Protobuf/ProtoDocumentParserV30Tests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Grpc/Protobuf/TestSkills/ResourceSkillsProvider.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Grpc/Protobuf/TestSkills/protoV3.proto
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Skills.UnitTests.csproj
Labels: PR: ready for review, PR: ready to merge, feature

#620 Updates and tests for plan serialization and deserialization
  .vscode/tasks.json
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/ContextVariablesConverterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel/Orchestration/ContextVariablesConverter.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel.core

#678 Remove unnecessary async state machine from DefaultHttpRetryHandler
  dotnet/src/SemanticKernel.Abstractions/Reliability/DefaultHttpRetryHandler.cs
Labels: .NET, PR: ready to merge, kernel.core

#450 Python: Text partitioning module
  python/semantic_kernel/text/__init__.py
  python/semantic_kernel/text/function_extension.py
  python/semantic_kernel/text/text_chunker.py
  python/tests/unit/text/test_function_extension.py
  python/tests/unit/text/test_text_chunker.py
Labels: PR: ready to merge, python

#659 CopilotChat: External skills and planner
  samples/apps/copilot-chat-app/webapi/Config/SequentialPlannerOptions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/webapi/PlannerSkills/Summarize/config.json
  samples/apps/copilot-chat-app/webapi/PlannerSkills/Summarize/skprompt.txt
  samples/apps/copilot-chat-app/webapi/PlannerSkills/Translate/config.json
  samples/apps/copilot-chat-app/webapi/PlannerSkills/Translate/skprompt.txt
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/DocumentMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/PlannerFactory.cs
  samples/apps/copilot-chat-app/webapi/Skills/PromptSettings.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticMemoryExtractor.cs
  samples/apps/copilot-chat-app/webapi/Skills/Utilities.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: PR: ready for review, samples

#677 Seal internal types
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Database.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Abstractions/Reliability/DefaultHttpRetryHandler.cs
  dotnet/src/SemanticKernel/CoreSkills/WaitSkill.cs
  dotnet/src/SemanticKernel/SkillDefinition/ReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/FunctionIdBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/TextBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/ValBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/VarBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/CodeTokenizer.cs
  dotnet/src/SemanticKernel/TemplateEngine/TemplateTokenizer.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
Labels: .NET, PR: ready to merge, kernel.core

#683 Rename TextChunker from SemanticTextPartitioner
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerTests.cs
  dotnet/src/SemanticKernel/CoreSkills/ConversationSummarySkill.cs
  dotnet/src/SemanticKernel/Text/FunctionExtensions.cs
  dotnet/src/SemanticKernel/Text/TextChunker.cs
  samples/apps/copilot-chat-app/webapi/Controllers/DocumentImportController.cs
  samples/apps/github-qna-webapp-react/README.md
  samples/dotnet/github-skills/GitHubSkill.cs
Labels: .NET, PR: ready to merge, samples, kernel.core

#685 [Fix] Modify Plan class to update context variables with input
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel.core

#686 CopilotChat: Ensure the planner has full context and users UserIntent as the goal.
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
Labels: samples

#687 CopilotChat: Fix OpenAI configuration
  samples/apps/copilot-chat-app/webapi/Config/AIServiceOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/RequiredOnPropertyValueAttribute.cs
Labels: bug, samples

#669 Fix typo in docs
  samples/notebooks/python/00-getting-started.ipynb
  samples/notebooks/python/02-running-prompts-from-file.ipynb
  samples/notebooks/python/03-semantic-function-inline.ipynb
Labels: PR: feedback to address, samples
