Repository microsoft/semantic-kernel, pull requests merged in 2023-06, with the labels that each got.

#1297 Upgrade System.Text.Json and Microsoft.Extensions.Logging versions to 7.0
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/Connectors.Memory.CosmosDB.csproj
  dotnet/src/IntegrationTests/RedirectOutput.cs
  dotnet/src/IntegrationTests/XunitLogger.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/Skills/Skills.UnitTests/XunitHelpers/XunitLogger.cs
Labels: .NET, kernel, kernel.core

#1290 Change the description of the comment due to no "Deployment ID" on Az…
  samples/apps/auth-api-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/book-creator-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/chat-summary-webapp-react/src/components/ServiceConfig.tsx
  samples/notebooks/dotnet/01-basic-loading-the-kernel.ipynb
  samples/notebooks/python/01-basic-loading-the-kernel.ipynb
Labels: .NET, PR: ready to merge, samples

#1305 GitHub Repo Q&A: Fixed issue that prevents choosing and saving an OpenAI completions model.
  samples/apps/github-qna-webapp-react/src/components/setup/ModelConfig.tsx
Labels: PR: ready to merge, samples

#1296 Update the samples/dotnet projects to SK NuGet v0.15
  samples/dotnet/FileCompression/FileCompression.csproj
  samples/dotnet/FileCompression/FileCompressionSkill.cs
  samples/dotnet/KernelHttpServer/KernelHttpServer.csproj
  samples/dotnet/KernelHttpServer/SemanticKernelFactory.cs
  samples/dotnet/github-skills/GitHubSkill.cs
  samples/dotnet/github-skills/GitHubSkills.csproj
  samples/dotnet/graph-api-skills/MsGraphSkillsExample.csproj
  samples/dotnet/graph-api-skills/Program.cs
  samples/dotnet/kernel-extension-load-prompts-from-cloud/LoadPromptsFromCloud.csproj
  samples/dotnet/openapi-skills/OpenApiSkillsExample.csproj
  samples/dotnet/openapi-skills/Program.cs
Labels: PR: ready for review, .NET, samples

#1302 Copilot Chat: Make message input box input persistent per chat within the UI
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: bug, PR: ready for review, samples

#1193 Java Semantic Kernel CI
  .github/workflows/java-build.yml
  .github/workflows/java-integration-tests.yml
  java/pom.xml
Labels: java

#1199 Java - Add module to allow dependency injection via guice
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Config.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example00GettingStarted.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example02RunnningPromptsFromFile.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example03SemanticFunctionInline.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example04ContextVariablesChat.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example05UsingThePlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example06MemoryAndEmbeddings.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example01_NativeFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example02_Pipeline.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example08_RetryHandler.java
  java/samples/semantickernel-guice/pom.xml
  java/samples/semantickernel-guice/src/main/java/com/microsoft/semantickernel/guice/CompletionFunctionFactory.java
  java/samples/semantickernel-guice/src/main/java/com/microsoft/semantickernel/guice/Config.java
  java/samples/semantickernel-guice/src/main/java/com/microsoft/semantickernel/guice/SemanticKernelModule.java
  java/samples/semantickernel-guice/src/test/java/com/microsoft/semantickernel/guice/CompletionFunctionExample.java
  java/samples/semantickernel-guice/src/test/java/com/microsoft/semantickernel/guice/GuiceEmbeddingExample.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernelBuilder.java
  java/semantickernel-core/src/main/resources/META-INF/services/com.microsoft.semantickernel.Kernel$InternalBuilder
  java/semantickernel-core/src/main/resources/META-INF/services/com.microsoft.semantickernel.textcompletion.TextCompletion$Builder
Labels: feature branch, java

#1246 Java: VolatileMemoryStoreTests
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/embeddings/Embedding.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryRecord.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryRecordMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryStore.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/VolatileMemoryStoreTests.java
Labels: java

#1304 Java Format
  .github/workflows/java-format.yml
Labels: java

#1299 Remove System.Linq.Async dependency from SK
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/Connectors.Memory.CosmosDB.csproj
  dotnet/src/Connectors/Connectors.Memory.DuckDB/Connectors.Memory.DuckDB.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Connectors.Memory.Pinecone.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/Connectors.Memory.Postgres.csproj
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Connectors.Memory.Sqlite.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanResponse.cs
  dotnet/src/Extensions/Planning.ActionPlanner/EmbeddedResource.cs
  dotnet/src/Extensions/Planning.ActionPlanner/Planning.ActionPlanner.csproj
  dotnet/src/InternalUtilities/Linq/AsyncEnumerable.cs
  dotnet/src/InternalUtilities/Text/StringExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/dotnet/kernel-syntax-examples/Example25_ReadOnlyMemoryStore.cs
Labels: .NET, kernel, samples, kernel.core

#1313 Fix incorrect attribute causing the Qdrant connector to break
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/NumberToStringConverter.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/SearchVectorsResponse.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests3.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, memory

#1319 Copilot chat: mitigate JS warning
  samples/apps/copilot-chat-app/webapp/src/components/FileUploader.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/prompt-details/PromptDetails.tsx
Labels: PR: ready for review, samples

#1324 Temporarily add global.json to pin the dotnet version to avoid dotnet-format failures
  dotnet/global.json
Labels: bug

#1311 Enabling HTTPS with local WebApp development
  .gitignore
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/main.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-azureopenai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-openai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-new.json
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/.env.example
  samples/apps/copilot-chat-app/webapp/.gitignore
  samples/apps/copilot-chat-app/webapp/README.md
Labels: PR: feedback to address, samples

#1293 Add deployments elements needed for multi-user chat
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/main.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-azureopenai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-openai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-new.json
Labels: PR: ready to merge, samples

#1310 Use new extension methods
  dotnet/README.md
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatWebApi.csproj
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/notebooks/dotnet/00-getting-started.ipynb
  samples/notebooks/dotnet/01-basic-loading-the-kernel.ipynb
  samples/notebooks/dotnet/02-running-prompts-from-file.ipynb
  samples/notebooks/dotnet/03-semantic-function-inline.ipynb
  samples/notebooks/dotnet/04-context-variables-chat.ipynb
  samples/notebooks/dotnet/05-using-the-planner.ipynb
  samples/notebooks/dotnet/06-memory-and-embeddings.ipynb
  samples/notebooks/dotnet/07-DALL-E-2.ipynb
  samples/notebooks/dotnet/08-chatGPT-with-DALL-E-2.ipynb
Labels: PR: ready for review, .NET, samples

#1308 CopilotChat: Remove unused /invoke API from webapi service
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/README.md
  samples/apps/copilot-chat-app/webapp/src/libs/connectors/useConnectors.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/SemanticKernelService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
Labels: PR: ready for review, samples

#1292 Add persist to Chroma on upsert or delete
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
Labels: python

#804 Add support for weaviate as a memory store (Python)
  .github/workflows/python-integration-tests.yml
  FEATURE_MATRIX.md
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/weaviate_memory_store.py
  python/semantic_kernel/reliability/retry_mechanism_base.py
  python/tests/integration/connectors/memory/test_weaviate_memory_store.py
Labels: python

#1341 CopilotChat: Change health probe from /probe to /healthz
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/webapi/Controllers/ProbeController.cs
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/README.md
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/README.md
Labels: samples

#1343 CopilotChat: Fix frontend probe url
  samples/apps/copilot-chat-app/webapp/src/components/views/BackendProbe.tsx
Labels: samples

#1346 Adding local ToListAsync method in Copilot Chat
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/IAsyncEnumerableExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
Labels: PR: feedback to address, samples

#1342 Bump SK python version from 0.2.9 to 0.3.0, update feature matrix
  FEATURE_MATRIX.md
  python/pyproject.toml
Labels: python

#1318 Copilot Chat: Use MSAL active account instead of accounts[0]
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatStatus.tsx
  samples/apps/copilot-chat-app/webapp/src/index.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/auth/AuthHelper.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
Labels: PR: ready for review, samples

#1139 Add SequentialPlanner support to Copilot ChatApp
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/PlannerOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/CopilotChatPlanner.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  samples/apps/copilot-chat-app/webapi/README.md
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/utils/PlanUtils.ts
Labels: PR: ready to merge, samples

#1307 CopilotChat: Add Files tab
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatHistoryController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/MemorySource.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/CosmosOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/ChatMemorySourceRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/ChatMessageRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/CosmosDbContext.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/FileSystemContext.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/IRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/IStorageContext.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/Repository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/VolatileContext.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatResourceList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/utils/TextUtils.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatMemorySource.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/ChatService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/styles.tsx
Labels: PR: ready to merge, samples

#1349 Weaviate: Fix to be compatible with python 3.8
  python/semantic_kernel/connectors/memory/weaviate/weaviate_memory_store.py
  python/tests/integration/connectors/memory/test_weaviate_memory_store.py
Labels: python

#1181 Support for Multi Model Detailed Response (Max Tokens, Prompt Tokens, etc)
  dotnet/src/Connectors/Connectors.AI.HuggingFace/HuggingFaceModelResultExtension.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatCompletionAsTextResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIInvalidResponseException{T}.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextCompletionStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelConfigExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIModelResultExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/KernelConfigOpenAIExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ModelResult.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/dotnet/kernel-syntax-examples/Example20_HuggingFace.cs
  samples/dotnet/kernel-syntax-examples/Example43_GetModelResult.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/dotnet/kernel-syntax-examples/RepoUtils/ObjectExtensions.cs
Labels: enhancement, .NET, PR: ready to merge, extensibility, kernel, samples, kernel.core

#1323 Python: Add additional_metadata field to MemoryRecord and address TODOs in ChromaMemoryStore
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
  python/semantic_kernel/connectors/memory/chroma/utils.py
  python/semantic_kernel/core_skills/time_skill.py
  python/semantic_kernel/memory/memory_query_result.py
  python/semantic_kernel/memory/memory_record.py
  python/semantic_kernel/memory/null_memory.py
  python/semantic_kernel/memory/semantic_text_memory.py
  python/semantic_kernel/memory/semantic_text_memory_base.py
  python/tests/integration/connectors/memory/test_chroma.py
Labels: PR: ready for review, python

#1150 Python: Sync pyproject.toml with requirements.txt
  python/poetry.lock
  python/pyproject.toml
  python/requirements.txt
Labels: PR: ready for review, PR: ready to merge, python

#1295 Using dotenv instead of parsing keys ourselves
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/utils/settings.py
Labels: PR: ready to merge, python

#1275 Java: Complete porting TextSkill
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Config.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example01_NativeFunctions.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/skilldefinition/annotations/SKFunctionParameters.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/util/AzureOpenAISettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/util/ClientSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/util/OpenAISettings.java
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/TextSkill.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example01NativeFunctionsTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example02PipelineTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/skills/SearchEngineSkill.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/skills/StaticTextSkill.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/skills/TextSkill.java
Labels: PR: ready for review, PR: ready to merge, java

#1291 Java - Add conversation summary skill
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example13_ConversationSummarySkill.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/SKBuilders.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/exceptions/SkillsNotFoundException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/SKFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/CompletionSKFunction.java
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/ConversationSummarySkill.java
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/SemanticFunctionConstants.java
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/text/TextChunker.java
  java/semantickernel-core-skills/src/test/java/com/microsoft/semantickernel/text/TextChunkerTest.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultCompletionSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/NativeSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/skilldefinition/FunctionCollection.java
Labels: feature branch, java

#1117 IChatCompletion Multiple Results / New Interfaces
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatCompletionAsTextResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/SKChatMessage.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatHistory.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIModelResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/AzureTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/OpenAITextEmbeddingGeneration.cs
  dotnet/src/InternalUtilities/Linq/AsyncEnumerable.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatMessageBase.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatRequestSettings.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletionResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletionStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionExtensions.cs
  samples/dotnet/Directory.Packages.props
  samples/dotnet/kernel-syntax-examples/Example17_ChatGPT.cs
  samples/dotnet/kernel-syntax-examples/Example18_DallE.cs
  samples/dotnet/kernel-syntax-examples/Example26_AADAuth.cs
  samples/dotnet/kernel-syntax-examples/Example30_ChatWithPrompts.cs
  samples/dotnet/kernel-syntax-examples/Example32_StreamingCompletion.cs
  samples/dotnet/kernel-syntax-examples/Example33_StreamingChat.cs
  samples/dotnet/kernel-syntax-examples/Example34_CustomChatModel.cs
  samples/dotnet/kernel-syntax-examples/Example36_MultiCompletion.cs
  samples/dotnet/kernel-syntax-examples/Example37_MultiStreamingCompletion.cs
  samples/dotnet/kernel-syntax-examples/Example43_GetModelResult.cs
  samples/dotnet/kernel-syntax-examples/Example44_MultiChatCompletion.cs
  samples/dotnet/kernel-syntax-examples/Example45_MultiStreamingChatCompletion.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: enhancement, .NET, PR: ready to merge, extensibility, kernel, samples, kernel.core

#1377 Fixing typos
  .github/_typos.toml
  docs/GLOSSARY.md
  samples/apps/auth-api-webapp-react/src/components/InteractionButton.tsx
  samples/apps/copilot-chat-app/importdocument/sample-docs/ms10k.txt
  samples/apps/hugging-face-http-server/README.md
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/notebooks/python/06-memory-and-embeddings.ipynb
  samples/notebooks/python/07-hugging-face-for-skills.ipynb
Labels: .NET, PR: ready to merge, samples

#1286 Update Example02_Pipeline.cs
  samples/dotnet/kernel-syntax-examples/Example01_NativeFunctions.cs
  samples/dotnet/kernel-syntax-examples/Example02_Pipeline.cs
  samples/dotnet/kernel-syntax-examples/Example10_DescribeAllSkillsAndFunctions.cs
  samples/dotnet/kernel-syntax-examples/Example12_SequentialPlanner.cs
  samples/dotnet/kernel-syntax-examples/Skills/TextSkill.cs
Labels: .NET, PR: ready to merge, samples

#1368 style: chat-summary-webapp-react - change label for deployment form input from Model to Deployment
  samples/apps/chat-summary-webapp-react/src/components/ServiceConfig.tsx
Labels: PR: ready for review, samples

#1370 Remove unused variables in ActionPlanner.CreatePlanAsync
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
Labels: PR: ready for review, .NET, kernel

#1300 Reduce Logging Dependencies
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
Labels: .NET, PR: ready to merge, kernel.core

#1365 fix: Add Azure OpenAI support for python/08-native-function-inline
  samples/notebooks/python/08-native-function-inline.ipynb
Labels: PR: ready to merge, samples

#1197 Make use of OpenAI SDK directly
  java/.vscode/settings.json
  java/README.md
  java/api-test/api-usage-example/pom.xml
  java/api-test/api-usage-example/src/main/java/InlineFunctionExample.java
  java/api-test/api-usage-example/src/main/java/InlineFunctionWithPreBuiltSkillExample.java
  java/api-test/integration-tests/pom.xml
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/AbstractKernelTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/ContextVariableFunctionTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/InlineFunctionTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/KernelTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/TextEmbeddingsTest.java
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Config.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example00_GettingStarted.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example02_RunnningPromptsFromFile.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example03_SemanticFunctionInline.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example04_ContextVariablesChat.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example05_UsingThePlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example06_MemoryAndEmbeddings.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example13_ConversationSummarySkill.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example17_ChatGPT.java
  java/samples/semantickernel-guice/pom.xml
  java/samples/semantickernel-guice/src/main/java/com/microsoft/semantickernel/guice/Config.java
  java/samples/semantickernel-guice/src/main/java/com/microsoft/semantickernel/guice/SemanticKernelModule.java
  java/semantickernel-api/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/embeddings/EmbeddingGeneration.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/TextCompletion.java
  java/semantickernel-bom/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/azuresdk/ClientBase.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/textcompletion/OpenAITextCompletion.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/textembeddings/OpenAITextEmbeddingGeneration.java
  java/semantickernel-core-skills/src/test/java/com/microsoft/semantickernel/text/TextChunkerTest.java
  java/semantickernel-core/pom.xml
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/DefaultKernelTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/TextEmbeddingsTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletionTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example02PipelineTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example03VariablesTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example04CombineLLMPromptsAndNativeCodeTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example05UsingThePlannerTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example06TemplateLanguageTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example17ChatGPTTest.java
  java/semantickernel-openai-client/pom.xml
  java/semantickernel-openai-client/src/main/java/com/microsoft/semantickernel/openai/client/AzureOpenAIClient.java
  java/semantickernel-openai-client/src/main/java/com/microsoft/semantickernel/openai/client/OpenAIAsyncClient.java
  java/semantickernel-openai-client/src/main/java/com/microsoft/semantickernel/openai/client/OpenAIAsyncClientImpl.java
  java/semantickernel-openai-client/src/main/java/com/microsoft/semantickernel/openai/client/OpenAIClientBuilder.java
Labels: PR: ready to merge, java

#1383 Add option to ignore identifiers by regex in typos.toml
  .github/_typos.toml
Labels: PR: ready for review, PR: ready to merge, github actions, github_actions

#1380 Fix input handling and context passing in planners
  samples/dotnet/kernel-syntax-examples/Example12_SequentialPlanner.cs
  samples/dotnet/kernel-syntax-examples/Example31_CustomPlanner.cs
Labels: PR: ready for review, .NET, samples

#1209 Add Azure Dall-E
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureImageGenerationResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureImageOperationStatus.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ImageGeneration/AzureOpenAIImageGenerationTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAITestHelper.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/image_generation_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/image_result_test_response.json
  samples/dotnet/kernel-syntax-examples/Example18_DallE.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, samples

#1178 Redis connector for Semantic Memory
  FEATURE_MATRIX.md
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.Redis/Connectors.Memory.Redis.csproj
  dotnet/src/Connectors/Connectors.Memory.Redis/README.md
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisMemoryStoreException.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Redis/RedisMemoryStoreTests.cs
  samples/dotnet/kernel-syntax-examples/Example47_Redis.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/dotnet/kernel-syntax-examples/README.md
Labels: PR: ready for review, .NET, kernel, samples, memory

#1385 Http consistency: Qdrant
  dotnet/src/Connectors/Connectors.AI.HuggingFace/HuggingFaceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Diagnostics/NullableAttributes.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/GetVectorsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests2.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests3.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantVectorDbClientTests.cs
  dotnet/src/InternalUtilities/Http/HttpClientProvider.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionServiceExtensions.cs
  samples/dotnet/kernel-syntax-examples/Example19_Qdrant.cs
Labels: PR: ready for review, .NET, kernel, samples, kernel.core, memory

#1372 CopilotChat: Show uploaded documents in chat history
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ChatMessage.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/MemorySource.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistory.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryFileItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatResourceList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatMessage.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/BaseService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/DocumentImportService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
Labels: PR: ready for review, samples

#1376 Copilot Chat: Scenario Tests
  .github/workflows/copilot-chat-tests.yml
  .gitignore
  samples/apps/copilot-chat-app/webapp/.env.example
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/playwright.config.ts
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/views/BackendProbe.tsx
  samples/apps/copilot-chat-app/webapp/tests/chat.test.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: PR: ready for review, samples

#1333 fix text to reflect JSON nature of the output
  samples/notebooks/dotnet/05-using-the-planner.ipynb
Labels: PR: ready for review, .NET, PR: ready to merge, samples

#1242 Python: Added examples of using ChatCompletion models for skill building in Jupyter Notebooks
  samples/notebooks/python/03-semantic-function-inline.ipynb
  samples/notebooks/python/05-using-the-planner.ipynb
Labels: PR: ready for review, samples

#1213 Fix functions_view.py
  python/semantic_kernel/skill_definition/functions_view.py
  python/tests/unit/skill_definition/test_functions_view.py
Labels: python

#1359 Add sample notebook to demo weaviate memory store
  samples/notebooks/python/third_party/.env.example
  samples/notebooks/python/third_party/weaviate-persistent-memory.ipynb
Labels: PR: ready to merge, samples

#1392 Delete unused project OpenAI Client from the Java folder
  java/semantickernel-openai-client/pom.xml
  java/semantickernel-openai-client/src/main/java/com/microsoft/semantickernel/openai/client/AzureOpenAIClient.java
  java/semantickernel-openai-client/src/main/java/com/microsoft/semantickernel/openai/client/OpenAIAsyncClient.java
  java/semantickernel-openai-client/src/main/java/com/microsoft/semantickernel/openai/client/OpenAIAsyncClientImpl.java
  java/semantickernel-openai-client/src/main/java/com/microsoft/semantickernel/openai/client/OpenAIClientBuilder.java
Labels: java

#1405 Update typos config for jupyter and msbuild files
  .github/_typos.toml
Labels: PR: ready for review, PR: ready to merge, github actions, github_actions

#1422 Python: Fix weaviate integration tests
  python/semantic_kernel/connectors/memory/weaviate/weaviate_memory_store.py
  python/tests/integration/connectors/memory/test_weaviate_memory_store.py
  python/tests/unit/skill_definition/test_functions_view.py
Labels: python

#1386 Enabling Plan Edits in Copilot
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ProposedPlan.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/PlannerOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/CopilotChatPlanner.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  samples/apps/copilot-chat-app/webapi/README.md
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatMessage.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/Plan.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/libs/utils/PlanUtils.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: PR: ready to merge, samples

#1390 OpenAPIDocumentParser class clean-up.
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
Labels: PR: ready for review, .NET, kernel

#1174 New Semantic Memory Storage based on Azure Cognitive Search with custom embeddings
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemory.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchRecord.cs
  dotnet/src/Connectors/Connectors.Memory.AzureSearch/AzureSearchMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.AzureSearch/AzureSearchMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.AzureSearch/AzureSearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureSearch/Connectors.Memory.AzureSearch.csproj
  nuget.config
  samples/dotnet/kernel-syntax-examples/Example14_SemanticMemory.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
Labels: PR: in progress, .NET, kernel, samples, memory

#1411 Consistent Defaults in Python Notebooks
  samples/notebooks/python/05-using-the-planner.ipynb
Labels: PR: ready to merge, samples

#1413 CopilotChat: Add drag and drop for file upload
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
Labels: PR: ready for review, samples

#1344 Create Java Format workflow
  .github/workflows/java-format.yml
Labels: github actions, java

#1400 CopilotChat: Fix prompt and improve creation for Document messages
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ChatMessage.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/DocumentImportForm.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/DocumentMessageContent.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryFileItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/services/DocumentImportService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
Labels: PR: ready to merge, samples

#1294 Adding import checking to ruff
  python/.conf/.pre-commit-config.yaml
  python/.conf/flake8.cfg
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/utils/settings.py
  python/tests/unit/skill_definition/test_functions_view.py
Labels: PR: feedback to address, python

#1449 Copilot Chat: Add back attrs needed for testing
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
Labels: bug, PR: ready for review, samples

#1448 Updating samples to suggest chat completion models
  samples/apps/auth-api-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/book-creator-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/chat-summary-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/github-qna-webapp-react/package.json
  samples/apps/github-qna-webapp-react/src/components/setup/ModelConfig.tsx
  samples/apps/github-qna-webapp-react/yarn.lock
Labels: PR: ready to merge, samples

#1103 Add Azure Cognitive Search vector connector
  .github/workflows/python-integration-tests.yml
  python/.env.example
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/azure_cog_search/__init__.py
  python/semantic_kernel/connectors/memory/azure_cog_search/acs_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cog_search/acs_utils.py
  python/tests/integration/connectors/memory/test_az_cognitive_search.py
Labels: enhancement, PR: ready for review, PR: in progress, python, memory

#1424 Add .NET 7.0 SDK feature to devcontainer configuration
  .devcontainer/devcontainer.json
Labels: PR: ready to merge

#1426 Http consistency: Azure Cognitive Search Memory
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemory.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureSearchServiceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/Connectors.Memory.AzureCognitiveSearch.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/AzureCognitiveSearch/AzureCognitiveSearchMemoryTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/AzureCognitiveSearch/AzureSearchServiceKernelBuilderExtensionsTests.cs
  dotnet/src/SemanticKernel/KernelBuilder.cs
  samples/dotnet/kernel-syntax-examples/Example14_SemanticMemory.cs
Labels: PR: ready for review, .NET, kernel, samples, kernel.core

#1456 Python: added reference to AzureTextCompletion to notebook
  samples/notebooks/python/08-native-function-inline.ipynb
Labels: PR: ready to merge, samples

#919 Qdrant Memorystore in Python
  .github/workflows/python-integration-tests.yml
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/qdrant/__init__.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_memory_store.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_utils.py
  python/tests/integration/connectors/memory/test_qdrant_memory_store.py
Labels: enhancement, PR: ready for review, python, memory

#1391 TextCompletion Fixes + Interface simplification
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ImageGeneration/IImageGeneration.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletionResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletionStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Security/TrustServiceTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests1.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/dotnet/kernel-syntax-examples/Example36_MultiCompletion.cs
  samples/dotnet/kernel-syntax-examples/Example37_MultiStreamingCompletion.cs
  samples/dotnet/kernel-syntax-examples/Example43_GetModelResult.cs
Labels: bug, PR: ready for review, .NET, PR: ready to merge, kernel, samples, kernel.core

#1496 Python: Filter only json content from basic planner execution input
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/planning/basic_planner.py
Labels: bug, python

#1206 Add support for overlap between paragraphs when using TextChunker to split text
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerTests.cs
  dotnet/src/SemanticKernel/Text/TextChunker.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, kernel.core

#1479 Http consistency: Weaviate
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Connectors.Memory.Weaviate.csproj
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Diagnostics/NullableAttributes.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Diagnostics/Verify.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Http/ApiSchema/GetObjectRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Weaviate/WeaviateKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Weaviate/WeaviateMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Weaviate/WeaviateMemoryStoreTests.cs
  samples/dotnet/kernel-syntax-examples/Example46_Weaviate.cs
Labels: PR: ready for review, .NET, kernel, samples

#1064 Add Grounding Skill to Samples
  dotnet/src/SemanticKernel/CoreSkills/TextSkill.cs
  samples/dotnet/kernel-syntax-examples/Example48_GroundednessChecks.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/notebooks/python/02-running-prompts-from-file.ipynb
  samples/notebooks/python/09-groundedness-checking.ipynb
  samples/skills/GroundingSkill/ExciseEntities/config.json
  samples/skills/GroundingSkill/ExciseEntities/skprompt.txt
  samples/skills/GroundingSkill/ExtractEntities/config.json
  samples/skills/GroundingSkill/ExtractEntities/skprompt.txt
  samples/skills/GroundingSkill/ReferenceCheckEntities/config.json
  samples/skills/GroundingSkill/ReferenceCheckEntities/skprompt.txt
Labels: PR: feedback to address, PR: ready for review, .NET, samples, kernel.core

#1334 SKFunction should return Task<string>
  dotnet/src/Skills/Skills.MsGraph/OrganizationHierarchySkill.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/OrganizationHierarchySkillTests.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel

#1465 Add chat system prompt option for text completion
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/CompleteRequestSettings.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#1466 Fix day format in TimeSkill
  dotnet/src/SemanticKernel.UnitTests/CoreSkills/TimeSkillTests.cs
  dotnet/src/SemanticKernel/CoreSkills/TimeSkill.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, kernel.core

#1416 Python: Fix windows runtime error: adapt asyncio event loop policy for windows python 3.10 and above
  python/semantic_kernel/orchestration/sk_function.py
Labels: PR: ready to merge, python

#1393 Java: MathSkill
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/MathSkill.java
  java/semantickernel-core-skills/src/test/java/com/microsoft/semantickernel/coreskills/MathSkillTest.java
Labels: java

#1399 Java: File IO skill
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/FileIOSkill.java
  java/semantickernel-core-skills/src/test/java/com/microsoft/semantickernel/coreskills/FileIOSkillTest.java
Labels: java

#1523 Removing global.json file that overrides dotnet sdk version
  global.json
Labels: PR: ready for review

#1260 Use MADR for Architecture Decisions
  docs/decisions/0001-madr-architecture-decisions.md
  docs/decisions/README.md
  docs/decisions/adr-short-template.md
  docs/decisions/adr-template.md
Labels: documentation, PR: feedback to address, PR: ready for review

#1518 Fix order of bool args to GetParameterMarshalerDelegate
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
Labels: .NET, kernel.core

#1507 Fix variable expansion in plan steps
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanVariableExpansionTests.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, kernel.core

#1530 Fix parameter assignment in ActionPlanner
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
Labels: .NET, kernel, samples

#1531 CopilotChat: Fix pathing in webapi package.
  samples/apps/copilot-chat-app/deploy/package-webapi.sh
Labels: samples

#1373 Python wait core skill
  python/semantic_kernel/core_skills/wait_skill.py
  python/tests/unit/core_skills/test_wait_skill.py
Labels: PR: ready to merge, python

#1533 CopilotChat: add missing container
  samples/apps/copilot-chat-app/deploy/main.bicep
Labels: PR: ready to merge, samples

#1345 Copilot Chat: Multi-user support with SignalR
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatHistoryController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatParticipantController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Hubs/MessageRelayHub.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ChatParticipant.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ChatSession.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/CreateChatParameters.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/CosmosOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/PromptsOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/ChatParticipantRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/ChatSessionRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/CosmosDbContext.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/IRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/Repository.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistory.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryFileItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatStatus.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ShareBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationCreateDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationJoinDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/prompt-details/PromptDetails.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/typing-indicator/TypingIndicatorRenderer.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatParticipant.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatSession.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatUser.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/Plan.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/ChatService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/app/store.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/message-relay/signalRMiddleware.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: PR: ready for review, samples

#1534 Revert "Copilot Chat: Multi-user support with SignalR (#1345)"
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatHistoryController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatParticipantController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Hubs/MessageRelayHub.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ChatParticipant.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ChatSession.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/CreateChatParameters.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/CosmosOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/PromptsOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/ChatParticipantRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/ChatSessionRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/CosmosDbContext.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/IRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/Repository.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistory.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryFileItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatStatus.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ShareBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationCreateDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationJoinDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/prompt-details/PromptDetails.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/typing-indicator/TypingIndicatorRenderer.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatParticipant.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatSession.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatUser.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/Plan.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/ChatService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/app/store.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/message-relay/signalRMiddleware.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: samples

#1553 Copilot Chat: Update SK version to 0.16.230615.1-preview
  samples/apps/copilot-chat-app/webapi/CopilotChatWebApi.csproj
Labels: PR: ready for review, samples, Copilot Chat

#1556 Revert "Revert "Copilot Chat: Multi-user support with SignalR (#1345)" (#1534)"
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatHistoryController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatParticipantController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Hubs/MessageRelayHub.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ChatParticipant.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ChatSession.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/CreateChatParameters.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/CosmosOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/PromptsOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/ChatParticipantRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/ChatSessionRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/CosmosDbContext.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/IRepository.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Storage/Repository.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistory.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryFileItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatStatus.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ShareBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationCreateDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationJoinDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/prompt-details/PromptDetails.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/typing-indicator/TypingIndicatorRenderer.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatParticipant.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatSession.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatUser.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/Plan.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/ChatService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/app/store.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/message-relay/signalRMiddleware.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: samples

#1555 Fixing input values view logic
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
Labels: PR: ready to merge, samples, Copilot Chat

#1557 CopilotChat: Update main.json to reflect changes in main.bicep
  samples/apps/copilot-chat-app/deploy/main.json
Labels: samples

#1545 Http consistency: Grpc skills
  dotnet/src/Skills/Skills.Grpc/Extensions/KernelGrpcExtensions.cs
Labels: PR: ready for review, .NET, kernel

#1521 Http consistency: OpenAPI skills
  dotnet/src/Skills/Skills.OpenAPI/Authentication/README.md
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/OpenApiSkillExecutionParameters.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV3_1.yaml
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/TestSkills/nonCompliant_documentV3_0.json
  dotnet/src/Skills/Skills.UnitTests/Skills.UnitTests.csproj
  samples/dotnet/kernel-syntax-examples/Example21_ChatGPTPlugins.cs
  samples/dotnet/kernel-syntax-examples/Example22_OpenApiSkill_AzureKeyVault.cs
  samples/dotnet/kernel-syntax-examples/Example23_OpenApiSkill_Github.cs
  samples/dotnet/kernel-syntax-examples/Example24_OpenApiSkill_Jira.cs
Labels: PR: ready for review, .NET, kernel, samples, PR:breaking change

#1529 Python: Add option for Azure OpenAI to notebook sample 06
  samples/notebooks/python/06-memory-and-embeddings.ipynb
Labels: PR: ready to merge, samples

#1503 Rebrand end-to-end folder under python tests
  samples/python/kernel-syntax-examples/chat.py
  samples/python/kernel-syntax-examples/chat_gpt_api.py
  samples/python/kernel-syntax-examples/memory.py
  samples/python/kernel-syntax-examples/skills_from_dir.py
Labels: PR: ready to merge, samples

#1614 CopilotChat: deploy webapp typo fix
  samples/apps/copilot-chat-app/deploy/deploy-webapp.ps1
Labels: samples

#1519 Add CultureInfo to SKContext
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.UnitTests/CoreSkills/TimeSkillTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests2.cs
  dotnet/src/SemanticKernel/CoreSkills/TextSkill.cs
  dotnet/src/SemanticKernel/CoreSkills/TimeSkill.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
Labels: .NET, kernel, kernel.core

#1620 Copilot Chat: Update obsolete qDrant constructor
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
Labels: PR: ready for review, samples, copilot chat

#899 Initial pass at AppInsights sending custom events
  dotnet/src/SemanticKernel.Abstractions/Diagnostics/ITelemetryService.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatController.cs
  samples/apps/copilot-chat-app/webapi/Diagnostics/ITelemetryService.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/README.md
  samples/apps/copilot-chat-app/webapi/Services/AppInsightsTelemetryService.cs
  samples/apps/copilot-chat-app/webapi/Services/AppInsightsUserTelemetryInitializerService.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: PR: feedback to address, .NET, samples, kernel.core

#1618 CopilotChat: Fix issue with API key not propagating in SWA deploy
  samples/apps/copilot-chat-app/deploy/deploy-webapp.ps1
  samples/apps/copilot-chat-app/deploy/deploy-webapp.sh
  samples/apps/copilot-chat-app/webapp/template.swa-cli.config.json
Labels: bug, PR: ready for review, samples, copilot chat

#1626 GitHub Actions: node-pr builds run in parallel
  .github/workflows/node-pr.yml
Labels: github actions

#1613 Stabilizing Book Creator Sample: Updating sk nuget and switching to ActionPlanner
  samples/apps/book-creator-webapp-react/src/components/CreateBookWithPlanner.tsx
  samples/apps/book-creator-webapp-react/src/components/TopicSelection.tsx
  samples/apps/book-creator-webapp-react/src/hooks/TaskRunner.ts
  samples/dotnet/KernelHttpServer/KernelHttpServer.csproj
  samples/dotnet/KernelHttpServer/SemanticKernelEndpoint.cs
  samples/dotnet/KernelHttpServer/SemanticKernelFactory.cs
  samples/dotnet/github-skills/GitHubSkills.csproj
Labels: PR: ready to merge, planner, samples

#1566 Show document upload card in regular message format
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryFileItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistory.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryDocumentContent.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  samples/apps/copilot-chat-app/webapp/src/redux/features/message-relay/signalRMiddleware.ts
Labels: PR: ready to merge, samples, copilot chat

#1654 Add methods to import plans into kernel
  dotnet/src/SemanticKernel/Planning/KernelPlanExtensions.cs
Labels: PR: in progress, .NET, kernel.core

#1656 Updating sample app labels for azure open ai
  samples/apps/auth-api-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/book-creator-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/chat-summary-webapp-react/src/components/ServiceConfig.tsx
Labels: PR: ready to merge, samples

#713 Adding option to use private PAT token on GitHub Q&A sample
  samples/apps/github-qna-webapp-react/src/components/GitHubRepoSelection.tsx
  samples/dotnet/KernelHttpServer/Extensions.cs
  samples/dotnet/github-skills/GitHubSkill.cs
Labels: .NET, PR: ready to merge, samples

#1652 Add option to deserialize plan without requiring functions
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: PR: in progress, .NET, kernel, kernel.core

#1623 Move SK.CoreSkills to new package: SK.Skills.Core
  docs/SKILLS.md
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example01_NativeFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example02_Pipeline.cs
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example10_DescribeAllSkillsAndFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummarySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example15_MemorySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
  dotnet/src/Skills/Skills.Core/ConversationSummarySkill.cs
  dotnet/src/Skills/Skills.Core/FileIOSkill.cs
  dotnet/src/Skills/Skills.Core/HttpSkill.cs
  dotnet/src/Skills/Skills.Core/MathSkill.cs
  dotnet/src/Skills/Skills.Core/SemanticFunctionConstants.cs
  dotnet/src/Skills/Skills.Core/Skills.Core.csproj
  dotnet/src/Skills/Skills.Core/TextMemorySkill.cs
  dotnet/src/Skills/Skills.Core/TextSkill.cs
  dotnet/src/Skills/Skills.Core/TimeSkill.cs
  dotnet/src/Skills/Skills.Core/WaitSkill.cs
  dotnet/src/Skills/Skills.UnitTests/Core/FileIOSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Core/HttpSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Core/MathSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Core/TextSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Core/TimeSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Core/WaitSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Skills.UnitTests.csproj
  samples/apps/chat-summary-webapp-react/README.md
  samples/apps/chat-summary-webapp-react/src/App.tsx
Labels: .NET, kernel, samples, kernel.core

#1559 Copilot Chat: Update CC import document console app
  samples/apps/copilot-chat-app/importdocument/Config.cs
  samples/apps/copilot-chat-app/importdocument/Program.cs
  samples/apps/copilot-chat-app/importdocument/README.md
  samples/apps/copilot-chat-app/importdocument/appsettings.json
Labels: PR: ready for review, samples, copilot chat

#1464 Add NCalc skills for language-based math problems
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/NCalcSkills/LanguageCalculatorSkill.cs
  dotnet/samples/NCalcSkills/NCalcSkills.csproj
  dotnet/samples/NCalcSkills/SimpleCalculatorSkill.cs
Labels: PR: ready for review

#1693 Support of IEmbeddingGeneration<TValue, TEmbedding> interface by Kernel.GetService method
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/IEmbeddingGeneration.cs
Labels: .NET, PR: ready to merge, kernel.core

#1650 Python: move kernel-syntax-examples to python/samples folder
  python/samples/kernel-syntax-examples/chat.py
  python/samples/kernel-syntax-examples/chat_gpt_api.py
  python/samples/kernel-syntax-examples/memory.py
  python/samples/kernel-syntax-examples/skills_from_dir.py
  samples/dotnet/kernel-syntax-examples/README.md
  samples/python/kernel-syntax-examples/README.md
Labels: .NET, python, samples

#1615 Improve sequential plan parser with support for missing functions.
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanParser.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlannerConfig.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/skprompt.txt
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Planning/PlanningException.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#1452 Fix ESLint in samples/apps
  .github/workflows/node-pr.yml
  samples/apps/.eslintrc.js
  samples/apps/auth-api-webapp-react/.env.local
  samples/apps/auth-api-webapp-react/package.json
  samples/apps/auth-api-webapp-react/yarn.lock
  samples/apps/book-creator-webapp-react/.env.local
  samples/apps/book-creator-webapp-react/package.json
  samples/apps/book-creator-webapp-react/yarn.lock
  samples/apps/chat-summary-webapp-react/.env.local
  samples/apps/chat-summary-webapp-react/package.json
  samples/apps/chat-summary-webapp-react/yarn.lock
  samples/apps/copilot-chat-app/webapp/.env.local
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/yarn.lock
  samples/apps/github-qna-webapp-react/.env.local
  samples/apps/github-qna-webapp-react/package.json
  samples/apps/github-qna-webapp-react/yarn.lock
  samples/apps/package.json
  samples/apps/yarn.lock
Labels: PR: ready to merge, samples

#1634 Chroma memory store - C# implementation
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example50_Chroma.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClientException.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStoreException.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Connectors.Memory.Chroma.csproj
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/ChromaCollectionModel.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/ChromaEmbeddingsModel.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/ChromaQueryResultModel.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/Internal/AddEmbeddingsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/Internal/CreateCollectionRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/Internal/DeleteCollectionRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/Internal/DeleteEmbeddingsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/Internal/GetCollectionRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/Internal/GetEmbeddingsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/Internal/ListCollectionsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/Internal/QueryEmbeddingsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/HttpRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/IChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/README.md
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Chroma/ChromaMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Chroma/ChromaMemoryStoreTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: PR: ready for review, .NET, kernel, memory, connector

#1468 Add StepwisePlanner extension for MRKL style planning
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/samples/NCalcSkills/NCalcSkills.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Planning/StepwisePlanner/ParseResultTests.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/EmbeddedResource.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/Planning.StepwisePlanner.csproj
  dotnet/src/Extensions/Planning.StepwisePlanner/Skills/StepwiseStep/config.json
  dotnet/src/Extensions/Planning.StepwisePlanner/Skills/StepwiseStep/skprompt.txt
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlannerConfig.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/SystemStep.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
Labels: PR: ready for review, .NET, kernel

#1355 Java: Example14_SemanticMemory
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/AbstractKernelTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/TextEmbeddingsTest.java
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Config.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example14_SemanticMemory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/BuildersSingleton.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/SKBuilders.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryStore.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/SemanticTextMemory.java
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/textembeddings/OpenAITextEmbeddingGeneration.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemory.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryException.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchRecord.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/DefaultSemanticTextMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/MemoryConfiguration.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
  java/spotbugs-exclude.xml
Labels: feature branch, java

#1674 Java - Waitskill added
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/WaitSkill.java
  java/semantickernel-core-skills/src/test/java/com/microsoft/semantickernel/coreskills/WaitSkillTest.java
Labels: feature branch, java

#1711 updated copilot chat deployment readme based on learnings
  samples/apps/copilot-chat-app/deploy/README.md
  samples/apps/copilot-chat-app/deploy/deploy-webapp.ps1
  samples/apps/copilot-chat-app/deploy/deploy-webapp.sh
Labels: PR: ready to merge, samples

#1727 SequentialPlanner - Allow custom manual discovery and loading.
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanParser.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlannerConfig.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/skprompt.txt
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
Labels: .NET, kernel

#1709 Avoid recursion in TextChunker.BuildParagraph
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerTests.cs
  dotnet/src/SemanticKernel/Text/TextChunker.cs
Labels: .NET, PR: ready to merge, kernel, kernel.core

#1738 Fixes for OpenApiSkillsExample
  samples/dotnet/openapi-skills/OpenApiSkillsExample.csproj
  samples/dotnet/openapi-skills/Program.cs
  samples/dotnet/openapi-skills/appsettings.json
Labels: PR: ready for review, .NET, PR: ready to merge, samples

#1739 Consolidate duplicate HttpRequest files
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/HttpRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/HttpRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/HttpRequest.cs
  dotnet/src/InternalUtilities/src/Http/HttpRequest.cs
Labels: .NET, PR: ready to merge, kernel

#1737 OpenAPI fixes and improvements
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/OpenApiSkillExecutionParameters.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperationResponse.cs
  dotnet/src/Skills/Skills.OpenAPI/RestApiOperationRunner.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel

#1759 Update Memory Connectors feature matrix
  FEATURE_MATRIX.md
Labels: documentation, PR: ready for review, python, memory, connector

#1761 Reverting torch to 2.0.0
  python/poetry.lock
  python/pyproject.toml
Labels: PR: ready for review, python

#1768 Update input when invoking function with mutable context
  dotnet/src/SemanticKernel/SkillDefinition/SKFunctionExtensions.cs
Labels: bug, PR: ready for review, .NET, kernel, kernel.core

#1757 Fix SKFunction.InvokeAsync to respect `input` when passed in explicitly.
  dotnet/src/SemanticKernel/SkillDefinition/SKFunctionExtensions.cs
Labels: .NET, kernel.core

#1772 Fix to use semantic function default values
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel/SkillDefinition/InlineFunctionsDefinitionExtension.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  samples/skills/FunSkill/Limerick/config.json
Labels: .NET, kernel, samples, kernel.core

#769 Creating Pinecone memory store for Python
  python/.env.example
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/memory/pinecone/__init__.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_memory_store.py
  python/semantic_kernel/connectors/memory/pinecone/utils.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/connectors/memory/test_pinecone.py
Labels: enhancement, PR: ready to merge, python, extensibility, memory, connector

#1731 Python: Correct syntax in core skill examples
  python/semantic_kernel/core_skills/file_io_skill.py
  python/semantic_kernel/core_skills/math_skill.py
  python/semantic_kernel/core_skills/text_skill.py
  python/semantic_kernel/core_skills/time_skill.py
  python/semantic_kernel/core_skills/wait_skill.py
Labels: python, core plugin

#1501 Python: add iso_date time skill
  python/semantic_kernel/core_skills/time_skill.py
Labels: python

#1780 Copilot Chat: Adding missing appsettings chatparticipant config to bicep template
  samples/apps/copilot-chat-app/deploy/main.bicep
  samples/apps/copilot-chat-app/deploy/main.json
Labels: PR: ready to merge, samples, copilot chat

#1790 Chroma - fix for saving same memory record multiple times
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/Http/ApiSchema/Internal/UpsertEmbeddingsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/IChromaClient.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Chroma/ChromaMemoryStoreTests.cs
Labels: PR: ready for review, .NET, kernel, memory, connector

#1710 Copilot Chat: Fix ESLint violations + enable linter during build
  .github/workflows/node-pr.yml
  .vscode/settings.json
  samples/apps/.eslintrc.js
  samples/apps/copilot-chat-app/webapp/.env.local
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/FileUploader.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatResourceList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ShareBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationCreateDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationJoinDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/prompt-details/PromptDetails.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/typing-indicator/TypingIndicator.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/typing-indicator/TypingIndicatorRenderer.tsx
  samples/apps/copilot-chat-app/webapp/src/components/header/UserSettings.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginConnector.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginGallery.tsx
  samples/apps/copilot-chat-app/webapp/src/components/utils/TextUtils.ts
  samples/apps/copilot-chat-app/webapp/src/components/views/BackendProbe.tsx
  samples/apps/copilot-chat-app/webapp/src/components/views/Login.tsx
  samples/apps/copilot-chat-app/webapp/src/components/views/MissingEnvVariablesError.tsx
  samples/apps/copilot-chat-app/webapp/src/index.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/auth/AuthHelper.ts
  samples/apps/copilot-chat-app/webapp/src/libs/auth/TokenHelper.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatParticipant.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatSession.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/Plan.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/model/AskResult.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/model/KeyConfig.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/BaseService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/BotService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/ChatService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/SpeechService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useFile.ts
  samples/apps/copilot-chat-app/webapp/src/libs/utils/PlanUtils.ts
  samples/apps/copilot-chat-app/webapp/src/redux/app/rootReducer.ts
  samples/apps/copilot-chat-app/webapp/src/redux/app/store.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/AppState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/appSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/message-relay/signalRMiddleware.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/PluginsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/pluginsSlice.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
  samples/apps/package.json
  samples/apps/yarn.lock
Labels: PR: ready for review, samples, copilot chat

#1786 Copilot Chat: align bash deploy-webapi script with powershell
  samples/apps/copilot-chat-app/deploy/deploy-webapi.sh
Labels: samples, copilot chat
