Repository microsoft/semantic-kernel, pull requests merged in 2023-09, with the labels that each got.

#2629 Python: Error fix for HuggingFaceTextEmbedding when trying to run on GPU
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
Labels: python

#2655 Python: fixes for openapi sample
  python/samples/kernel-syntax-examples/openapi_example/openapi.yaml
  python/samples/kernel-syntax-examples/openapi_example/openapi_client.py
  python/semantic_kernel/connectors/openapi/sk_openapi.py
Labels: python

#2663 .Net: Fixed Azure Chat Completion with data example
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
Labels: PR: ready for review, .NET, kernel

#2603 .Net: Use GetType and typeof for loggers
  dotnet/docs/TELEMETRY.md
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Reliability/RetryThreeTimesWithBackoff.cs
  dotnet/samples/KernelSyntaxExamples/Reliability/RetryThreeTimesWithRetryAfterBackoff.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.ActionPlanner/InstrumentedActionPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/InstrumentedSequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/InstrumentedStepwisePlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/Block.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/PromptTemplateEngine.cs
  dotnet/src/SemanticKernel.Abstractions/Reliability/DefaultHttpRetryHandler.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel/SkillDefinition/ImportSemanticSkillFromDirectory.cs
  dotnet/src/SemanticKernel/SkillDefinition/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/NativeFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SemanticFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SkillCollection.cs
  dotnet/src/Skills/Skills.Core/TextMemorySkill.cs
  dotnet/src/Skills/Skills.Document/DocumentSkill.cs
  dotnet/src/Skills/Skills.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Skills/Skills.MsGraph/CalendarSkill.cs
  dotnet/src/Skills/Skills.MsGraph/CloudDriveSkill.cs
  dotnet/src/Skills/Skills.MsGraph/EmailSkill.cs
  dotnet/src/Skills/Skills.MsGraph/TaskListSkill.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.Web/Bing/BingConnector.cs
  dotnet/src/Skills/Skills.Web/Google/GoogleConnector.cs
  dotnet/src/Skills/Skills.Web/WebFileDownloadSkill.cs
Labels: documentation, PR: ready for review, .NET, kernel, kernel.core, memory

#2686 .Net: Fix redis memory store index check
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisMemoryStore.cs
Labels: PR: ready for review, .NET, kernel, memory

#2674 .Net: Use Cosine Distance for Azure Cognitive Search
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/IMemoryStore.cs
Labels: bug, PR: ready for review, .NET, kernel, kernel.core, memory

#2680 Update COMMUNITY.md
  COMMUNITY.md
Labels: documentation

#2600 First node-api-dotnet example showing how to invoke a semantic function
  node-api-dotnet/samples/NodeKernelSyntaxExamples/.gitignore
  node-api-dotnet/samples/NodeKernelSyntaxExamples/Example01_SummarizeText.js
  node-api-dotnet/samples/NodeKernelSyntaxExamples/NodeKernelSyntaxExamples.csproj
  node-api-dotnet/samples/NodeKernelSyntaxExamples/README.md
  node-api-dotnet/samples/NodeKernelSyntaxExamples/package.json
Labels: documentation, PR: ready for review, feature branch, javascript

#2672 .Net: [Error handling] [Part10] Using HttpOperationException for Http operations
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests.cs
  dotnet/src/InternalUtilities/src/Http/HttpClientExtensions.cs
  dotnet/src/Skills/Skills.Core/HttpSkill.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OneDriveConnector.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Skills/Skills.Web/Bing/BingConnector.cs
  dotnet/src/Skills/Skills.Web/WebFileDownloadSkill.cs
Labels: .NET, kernel, memory, PR: breaking change

#2702 .Net: Initial implementation of PowerShell planning
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example56_PowerShellPlanner.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Planning/PowerShell/PowerShellParserTests.cs
  dotnet/src/Extensions/Planning.PowerShell/EmbeddedResource.cs
  dotnet/src/Extensions/Planning.PowerShell/FunctionViewExtensions.cs
  dotnet/src/Extensions/Planning.PowerShell/Planning.PowerShell.csproj
  dotnet/src/Extensions/Planning.PowerShell/PowerShellParser.cs
  dotnet/src/Extensions/Planning.PowerShell/PowerShellPlanner.cs
  dotnet/src/Extensions/Planning.PowerShell/PowerShellPlannerConfig.cs
  dotnet/src/Extensions/Planning.PowerShell/SKContextExtensions.cs
  dotnet/src/Extensions/Planning.PowerShell/skprompt.txt
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: .NET, kernel, kernel.core

#2503 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#2671 .Net: Adding chat system prompt to config file schema
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/CompleteRequestSettings.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticFunctions/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/PromptTemplateConfigTests.cs
Labels: bug, PR: ready for review, .NET, PR: ready to merge, kernel, kernel.core

#2685 .Net Clean-up
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoSerializer.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/IPineconeMemoryStore.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/Embedding.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/EmbeddingGenerationServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/IMemoryStore.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.UnitTests/VectorOperations/VectorSpanTests.cs
  dotnet/src/SemanticKernel/AI/Embeddings/EmbeddingReadOnlySpan.cs
  dotnet/src/SemanticKernel/AI/Embeddings/EmbeddingSpan.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, memory, PR: breaking change

#2421 .Net: Combining memory connector examples into TextMemorySkill
  dotnet/samples/KernelSyntaxExamples/Example15_MemorySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemorySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example19_Qdrant.cs
  dotnet/samples/KernelSyntaxExamples/Example38_Pinecone.cs
  dotnet/samples/KernelSyntaxExamples/Example39_Postgres.cs
  dotnet/samples/KernelSyntaxExamples/Example46_Weaviate.cs
  dotnet/samples/KernelSyntaxExamples/Example47_Redis.cs
  dotnet/samples/KernelSyntaxExamples/Example50_Chroma.cs
  dotnet/samples/KernelSyntaxExamples/Example53_Kusto.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Chroma/ChromaMemoryStoreTests.cs
Labels: PR: ready for review, .NET, kernel, memory

#2720 Python: Fix attribute error in basic_planner.py under class Plan
  python/semantic_kernel/planning/basic_planner.py
Labels: python

#2727 Python: skip redis tests in CI if the platform is not linux
  .github/workflows/python-integration-tests.yml
  python/tests/integration/connectors/memory/test_redis.py
Labels: python

#2718 .Net: Hide memory collections and structures for internal usage only
  dotnet/samples/KernelSyntaxExamples/Example25_ReadOnlyMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.DuckDB/DuckDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Redis/RedisMemoryStoreTests.cs
  dotnet/src/SemanticKernel/Memory/Collections/Score.cs
  dotnet/src/SemanticKernel/Memory/Collections/ScoredValue.cs
  dotnet/src/SemanticKernel/Memory/Collections/TopNCollection.cs
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, memory, PR: breaking change

#2729 .Net: Fix the data format issue with RemoveBatchAsync method
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
Labels: .NET, kernel, memory

#2638 .Net: Implementing cosine similarity in duckdb engine
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Connectors/Connectors.Memory.DuckDB/Database.cs
  dotnet/src/Connectors/Connectors.Memory.DuckDB/DuckDBExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.DuckDB/DuckDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/DuckDB/DuckDBMemoryStoreTests.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, memory

#2725 .Net: Update Azure.Search.Documents.nupkg to version 11.5.0-beta.4
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
Labels: PR: ready for review, dependencies, .NET, kernel, memory

#2746 .Net: Downgrade System.Diagnostics.DiagnosticSource package
  dotnet/Directory.Packages.props
Labels: PR: ready for review, .NET

#2742 .Net [RestAPI] Fix to skip optional payload parameters
  dotnet/src/Skills/Skills.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Skills/Skills.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
Labels: PR: ready for review, .NET, kernel

#2691 Python: doc: fix the import
  python/README.md
Labels: documentation, python

#2528 .Net: Support named args
  docs/decisions/0007-support-multiple-named-args-in-template-function-calls.md
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/NamedArgBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/CodeTokenizerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/PromptTemplateEngineTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/TemplateTokenizerTests.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/BlockTypes.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/NamedArgBlock.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/Symbols.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/CodeTokenizer.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/TemplateTokenizer.cs
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
Labels: documentation, PR: ready for review, .NET, kernel

#2740 Python - Azure Cognitive Search Connector - Remove redeclaration
  python/semantic_kernel/connectors/memory/azure_cognitive_search/utils.py
Labels: bug, PR: ready for review, python, connector

#2737 .Net: Added support for relative server URLs in OpenAPI skill
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/OpenApiSkillExecutionParameters.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperationRunOptions.cs
  dotnet/src/Skills/Skills.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/Extensions/KernelAIPluginExtensionsTests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/HttpMessageHandlerStub.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiTestHelper.cs
Labels: PR: ready for review, .NET, kernel

#2721 .Net: [Error handling] [Part11] Propagating exception to SK consumer code
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/NCalcSkills/LanguageCalculatorSkill.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
  dotnet/src/IntegrationTests/SkillDefinition/InlineFunctionsDefinitionExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests2.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/NativeFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SemanticFunction.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Skills/Skills.UnitTests/Core/MathSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Core/TimeSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Core/WaitSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/CalendarSkillTests.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, PR: breaking change

#2633 Java: 2514 java minrelevancescore on memory api should be float
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/connectors/memory/jdbc/JDBCMemoryStoreTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/connectors/memory/postgresql/PostgreSQLMemoryStoreTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/TextEmbeddingsTest.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemory.java
  java/connectors/semantickernel-connectors-memory-jdbc/semantickernel-connectors-memory-jdbc.iml
  java/connectors/semantickernel-connectors-memory-jdbc/src/main/java/com/microsoft/semantickernel/connectors/memory/jdbc/JDBCMemoryStore.java
  java/connectors/semantickernel-connectors-memory-postgresql/semantickernel-connectors-memory-postgresql.iml
  java/connectors/semantickernel-connectors-memory-sqlite/src/test/java/com/microsoft/semantickernel/connectors/memory/sqlite/SQLiteMemoryStoreTest.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlannerRequestSettings.java
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/coreskills/TextMemorySkill.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example14_SemanticMemory.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example25_ReadOnlyMemoryStore.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryStore.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/NullMemory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/SemanticTextMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/DefaultSemanticTextMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryTests.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/VolatileMemoryStoreTests.java
Labels: java

#2769 Python: Add init file to connectors/memory
  python/semantic_kernel/connectors/memory/__init__.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_memory_store.py
  python/semantic_kernel/connectors/memory/pinecone/utils.py
  python/semantic_kernel/connectors/memory/redis/redis_memory_store.py
  python/semantic_kernel/connectors/memory/redis/utils.py
  python/semantic_kernel/connectors/memory/usearch/usearch_memory_store.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_memory_store.py
Labels: python, memory

#2779 Python: Update pyproject.toml with version=0.3.12
  python/pyproject.toml
Labels: python

#2787 .Net: [fix] Update StepwisePlanner to use LoggerFactory in PromptTemplateEngine
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
Labels: PR: ready for review, .NET, kernel

#2762 .Net: [fix] ImportPlan extension properly import plan object.
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: bug, PR: ready for review, .NET, kernel, kernel.core

#2788 .Net: [fix] StepwisePlanner ChatHistory token calculation refactoring
  dotnet/src/Extensions/Planning.StepwisePlanner/ChatHistoryExtensions.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlannerConfig.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#2764 .Net: [dev] Improve KernelSyntaxExamples ability to filter examples.
  .vscode/launch.json
  .vscode/tasks.json
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/samples/KernelSyntaxExamples/README.md
Labels: documentation, PR: ready for review, .NET, testing tools

#2796 .Net: Fixes for Chroma connector to be compatible with Chroma 0.4.10
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaBooleanConverter.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/README.md
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Chroma/ChromaMemoryStoreTests.cs
Labels: documentation, PR: ready for review, .NET, kernel, memory

#2798 .Net: Fixing sln configuration for Kusto Connector
  dotnet/SK-dotnet.sln
Labels: .NET

#2777 .Net: Weaviate .NET Connector: Added ReadOnlyMemoryConverter to fix deserialization
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Weaviate/WeaviateKernelBuilderExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Weaviate/WeaviateMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Weaviate/docker-compose.yml
  dotnet/src/IntegrationTests/README.md
Labels: documentation, PR: ready for review, .NET, kernel, memory

#2808 .Net Removing unused files fix
  dotnet/src/SemanticKernel.Abstractions/KernelConfig.cs
  dotnet/src/SemanticKernel/Memory/Collections/Score.cs
Labels: bug, .NET, kernel.core

#2766 Python: Update 00-getting-started.ipynb
  python/notebooks/00-getting-started.ipynb
Labels: python

#2795 .Net: IKernel - Pre/Post RunAsync Handlers - Part 1
  docs/decisions/0005-function-execution-handlers.md
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example57_FunctionEventHandlers.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/SKCancelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/SKEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel/Kernel.cs
Labels: documentation, enhancement, PR: ready for review, .NET, kernel, kernel.core

#2574 .Net: Per chunk header support in the TextChunker
  dotnet/samples/KernelSyntaxExamples/Example55_TextChunker.cs
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerTests.cs
  dotnet/src/SemanticKernel/Text/TextChunker.cs
Labels: .NET, kernel, kernel.core

#2832 .Net: Handle exceptions when creating plan from XML
  .vscode/tasks.json
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
Labels: .NET, kernel

#2827 .Net: Fix XML escaping in skprompt.txt examples
  dotnet/src/Extensions/Planning.SequentialPlanner/skprompt.txt
  python/semantic_kernel/planning/sequential_planner/Skills/SequentialPlanning/skprompt.txt
Labels: .NET, python, kernel

#2697 .Net: Fixed broken references and incorrectly formatted links
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
Labels: .NET

#2836 .Net: Removing Kernel.Func() shorthand
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGoogleSkills.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel/Kernel.cs
Labels: .NET, kernel, kernel.core, PR: breaking change

#2813 .Net: Fix build batch to align with Bash script
  .gitattributes
  dotnet/build.cmd
Labels: .NET

#2802 .Net: Allow Action Planner to Exclude Plugins and Functions
  dotnet/samples/KernelSyntaxExamples/Example28_ActionPlanner.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlannerConfig.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlannerConfig.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlannerConfig.cs
  dotnet/src/SemanticKernel/Planning/PlannerConfigBase.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#2822 .Net: Llama 2 with HuggingFace usage example
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  samples/apps/hugging-face-http-server/inference_app.py
  samples/apps/hugging-face-http-server/requirements.txt
Labels: PR: ready for review, .NET, samples

#2675 Python: Add Stepwise planner example to planner notebook
  python/notebooks/05-using-the-planner.ipynb
Labels: python

#2824 .Net: Add support for partial XML and global functions in plan parser
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanParser.cs
Labels: .NET, kernel

#2743 .Net: Fix default value for max_tokens
  dotnet/src/SemanticKernel/SkillDefinition/InlineFunctionsDefinitionExtension.cs
Labels: .NET, kernel.core, PR: breaking change

#2859 Python: Update pyproject.toml to version 0.3.13.dev
  python/pyproject.toml
Labels: python

#2797 .Net: Fix null ref in HttpClientExtensions.SendWithSuccessCheckAsync
  dotnet/src/InternalUtilities/src/Http/HttpClientExtensions.cs
Labels: .NET, PR: ready to merge

#2834 .Net: REST API components builders
  dotnet/src/Skills/Skills.OpenAPI/Builders/IOperationComponentBuilderFactory.cs
  dotnet/src/Skills/Skills.OpenAPI/Builders/OperationComponentBuilderFactory.cs
  dotnet/src/Skills/Skills.OpenAPI/Builders/Query/IQueryStringBuilder.cs
  dotnet/src/Skills/Skills.OpenAPI/Builders/Query/QueryStringBuilder.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/Skills/Skills.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/Skills/Skills.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/Skills/Skills.UnitTests/Connectors/WebApi/Rest/RestApiOperationTests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/Builders/OperationComponentBuilderFactoryTests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/Builders/QueryStringBuilderTests.cs
Labels: PR: ready for review, .NET, kernel

#2886 .Net: Remove IServiceConfig as it is not used
  dotnet/src/SemanticKernel.Abstractions/Services/IServiceConfig.cs
  dotnet/src/SemanticKernel.UnitTests/Services/ServiceConfigTests.cs
  dotnet/src/SemanticKernel/Services/ServiceConfig.cs
Labels: .NET, kernel, kernel.core, PR: breaking change

#2890 Java: Fix memory not updating if the record already exists
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/DefaultSemanticTextMemory.java
Labels: java

#2861 Java: 2636 net java azurecognitivesearchmemory should implement memorystore
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemory.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryException.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryRecord.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryStore.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchRecord.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/test/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryTests.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example14_SemanticMemory.java
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/VolatileMemoryStoreTests.java
  java/spotbugs-exclude.xml
Labels: java

#2878 .Net: Replacing `FunctionsView` class with List
  dotnet/samples/KernelSyntaxExamples/Example10_DescribeAllSkillsAndFunctions.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SKContextExtensionsTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/FunctionsView.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/IReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/NullReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/FunctionViewTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/FunctionsViewTests.cs
  dotnet/src/SemanticKernel/SkillDefinition/IReadOnlySkillCollectionTypeProxy.cs
  dotnet/src/SemanticKernel/SkillDefinition/SkillCollection.cs
Labels: .NET, kernel, kernel.core, PR: breaking change

#2905 Fix broken link and update the description
  docs/decisions/0001-madr-architecture-decisions.md
  docs/decisions/README.md
Labels: documentation

#2852 .Net: Making ContextVariables into a proper Dictionary.
  dotnet/src/IntegrationTests/Fakes/EmailSkillFake.cs
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/MsGraph/CalendarPluginTests.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ContextVariables.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/ContextVariablesConverterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/ContextVariablesTests.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/NativeFunction.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, PR: breaking change

#2909 .Net: Rename the SemanticKernel project to SemanticKernel.Core
  dotnet/SK-dotnet.sln
  dotnet/samples/ApplicationInsightsExample/ApplicationInsightsExample.csproj
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/NCalcPlugins/NCalcPlugins.csproj
  dotnet/src/Connectors/Connectors.AI.HuggingFace/Connectors.AI.HuggingFace.csproj
  dotnet/src/Connectors/Connectors.AI.Oobabooga/Connectors.AI.Oobabooga.csproj
  dotnet/src/Connectors/Connectors.AI.OpenAI/Connectors.AI.OpenAI.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/Connectors.Memory.AzureCognitiveSearch.csproj
  dotnet/src/Connectors/Connectors.Memory.Chroma/Connectors.Memory.Chroma.csproj
  dotnet/src/Connectors/Connectors.Memory.DuckDB/Connectors.Memory.DuckDB.csproj
  dotnet/src/Connectors/Connectors.Memory.Kusto/Connectors.Memory.Kusto.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Connectors.Memory.Pinecone.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/Connectors.Memory.Postgres.csproj
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Redis/Connectors.Memory.Redis.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Connectors.Memory.Sqlite.csproj
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Connectors.Memory.Weaviate.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Extensions/Planning.ActionPlanner/Planning.ActionPlanner.csproj
  dotnet/src/Extensions/Planning.SequentialPlanner/Planning.SequentialPlanner.csproj
  dotnet/src/Extensions/Planning.StepwisePlanner/Planning.StepwisePlanner.csproj
  dotnet/src/Extensions/Reliability.Basic/Reliability.Basic.csproj
  dotnet/src/Extensions/Reliability.Polly/Reliability.Polly.csproj
  dotnet/src/Functions/Functions.Grpc/Functions.Grpc.csproj
  dotnet/src/Functions/Functions.OpenAPI/Functions.OpenAPI.csproj
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/Plugins/Plugins.Core/Plugins.Core.csproj
  dotnet/src/Plugins/Plugins.UnitTests/Plugins.UnitTests.csproj
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
  dotnet/src/SemanticKernel/SemanticKernel.Core.csproj
Labels: .NET, kernel, kernel.core, memory

#2881 .Net: Removing IsSemantic and IsAsync properties from ISKFunction and FunctionView
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SKContextExtensionsTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/GrpcOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/InternalUtilities/src/Diagnostics/IsExternalInit.cs
  dotnet/src/InternalUtilities/src/Diagnostics/Verify.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticFunctions/IPromptTemplate.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/FunctionView.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ISKFunction.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ParameterView.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ParameterViewType.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/FunctionViewTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests1.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SkillCollectionTests.cs
  dotnet/src/SemanticKernel/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SemanticFunctions/PromptTemplate.cs
  dotnet/src/SemanticKernel/SkillDefinition/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/NativeFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel/SkillDefinition/SemanticFunction.cs
Labels: .NET, kernel, kernel.core, PR: breaking change

#2845 Python: use black as the default formatter
  python/.vscode/settings.json
Labels: python

#2835 .Net: SequentialPlanner skills lookup optimization
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanParser.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel/Planning/KernelPlanExtensions.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: PR: feedback to address, .NET, planner, kernel, kernel.core

#2897 .Net Calculator fix, missing function
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
Labels: bug, .NET, PR: ready to merge, PR: regression fix

#2850 .Net: Update StepwisePlannerConfig to Improve MaxPromptTokens Calculation and Add Tests for Edge Cases
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlannerConfig.cs
  dotnet/src/IntegrationTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
Labels: .NET, kernel, PR: breaking change

#2882 .Net: [OpenAPI] Support for `form` style query string parameters of array type
  dotnet/src/Functions/Functions.OpenAPI/Builders/Query/QueryStringBuilder.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Serialization/FormStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/Connectors/WebApi/Rest/RestApiOperationTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/QueryStringBuilderTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/Serialization/FormStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestPlugins/documentV3_1.yaml
Labels: PR: ready for review, .NET

#2917 .Net [BugFix] GenerateMessageStreamAsync Last Message Null
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
Labels: bug, .NET, PR: ready to merge, extensibility, kernel

#2849 .Net: make planner constructors more similar
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlannerConfig.cs
  dotnet/src/SemanticKernel/Planning/PlannerConfigBase.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, PR: breaking change

#2694 .Net: Milvus memory store connector for .NET
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Connectors/Connectors.Memory.Milvus/Connectors.Memory.Milvus.csproj
  dotnet/src/Connectors/Connectors.Memory.Milvus/MilvusMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Milvus/README.md
  dotnet/src/IntegrationTests/Connectors/Milvus/MilvusMemoryStoreTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/RedirectOutput.cs
  dotnet/src/IntegrationTests/XunitLogger.cs
Labels: documentation, .NET, kernel, memory

#2928 Java: Resolve postgresql version
  java/connectors/semantickernel-connectors-memory-postgresql/pom.xml
  java/semantickernel-bom/pom.xml
Labels: java

#2929 Java: [maven-release-plugin] prepare release java-0.2.9-alpha
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-jdbc/pom.xml
  java/connectors/semantickernel-connectors-memory-postgresql/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#2930 Java sk dev
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-jdbc/pom.xml
  java/connectors/semantickernel-connectors-memory-postgresql/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#2731 .Net: Update AggregatePartitionedResultsAsync method definition with additional arguments
  dotnet/src/SemanticKernel/Functions/SKFunctionTextExtensions.cs
Labels: .NET, kernel.core

#2918 .Net: Rename 'Skills' -> 'Plugins' - Part 5
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/ApplicationInsightsExample/RepoUtils/RepoFiles.cs
  dotnet/samples/KernelSyntaxExamples/Example01_NativeFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example02_Pipeline.cs
  dotnet/samples/KernelSyntaxExamples/Example03_Variables.cs
  dotnet/samples/KernelSyntaxExamples/Example04_CombineLLMPromptsAndNativeCode.cs
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example10_DescribeAllPluginsAndFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example11_WebSearchQueries.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example23_OpenApiPlugin_Github.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example28_ActionPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example35_GrpcPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example57_FunctionEventHandlers.cs
  dotnet/samples/KernelSyntaxExamples/Plugins/EmailPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Plugins/JiraPlugin/README.md
  dotnet/samples/KernelSyntaxExamples/Plugins/JiraPlugin/openapi.json
  dotnet/samples/KernelSyntaxExamples/Plugins/StaticTextPlugin.cs
  dotnet/samples/KernelSyntaxExamples/RepoUtils/RepoFiles.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/samples/NCalcPlugins/SimpleCalculatorPlugin.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Extensions/KernelSemanticFunctionExtensionsTests.cs
  dotnet/src/IntegrationTests/Fakes/EmailPluginFake.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/IntegrationTests/TestHelpers.cs
  dotnet/src/IntegrationTests/WebPlugin/WebPluginTests.cs
Labels: documentation, .NET, kernel

#2923 .Net: [OpenAPI] Removing duplication in parameters serialization functionality
  dotnet/src/Functions/Functions.OpenAPI/Builders/Serialization/ArrayParameterValueSerializer.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Serialization/FormStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Serialization/SpaceDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/Serialization/ArrayParameterSerializerTests.cs
Labels: PR: ready for review, .NET

#2922 .Net: Stream response should not skip white space
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
Labels: .NET, kernel

#2940 .Net: Rename 'Skills' -> 'Plugins' - Part 8 Update plugin names, descriptions, and parameters
  dotnet/src/Connectors/Connectors.Memory.Chroma/Connectors.Memory.Chroma.csproj
  dotnet/src/Connectors/Connectors.Memory.DuckDB/Connectors.Memory.DuckDB.csproj
  dotnet/src/Connectors/Connectors.Memory.Milvus/Connectors.Memory.Milvus.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Connectors.Memory.Pinecone.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/Connectors.Memory.Postgres.csproj
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Redis/Connectors.Memory.Redis.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Connectors.Memory.Sqlite.csproj
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Connectors.Memory.Weaviate.csproj
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestPlugins/documentV2_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestPlugins/documentV3_1.yaml
Labels: .NET, kernel, memory

#2864 .Net: New result types - FunctionResult and KernelResult
  docs/decisions/0009-function-and-kernel-result-types.md
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example02_Pipeline.cs
  dotnet/samples/KernelSyntaxExamples/Example03_Variables.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example23_OpenApiPlugin_Github.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example28_ActionPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example57_FunctionEventHandlers.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureRequestSettings.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Extensions/KernelSemanticFunctionExtensionsTests.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/IntegrationTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/WebPlugin/WebPluginTests.cs
  dotnet/src/InternalUtilities/test/FunctionHelpers.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/MathPluginTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/AIFunctionResultExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKFunction.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/KernelResult.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ModelResult.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Core/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Extensions/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunctionDelegate.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionTextExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/SemanticFunction.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: documentation, PR: ready for review, .NET, PR: ready to merge, kernel, kernel.core, PR: breaking change

#2840 .Net: Add new token counter implementations to TextChunker
  .github/_typos.toml
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/Example55_TextChunker.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Resources/EmbeddedResource.cs
  dotnet/samples/KernelSyntaxExamples/Resources/EnglishRoberta/dict.txt
  dotnet/samples/KernelSyntaxExamples/Resources/EnglishRoberta/encoder.json
  dotnet/samples/KernelSyntaxExamples/Resources/EnglishRoberta/vocab.bpe
Labels: .NET

#2912 .Net: Refactor PlannerConfig classes for better organization
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SKContextExtensionsTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanParser.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlannerConfig.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlannerConfig.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/SemanticKernel.Core/Planning/PlannerConfigBase.cs
Labels: .NET, kernel

#2943 .Net: Rename ImportXXXPlugins methods to ImportXXXFunctions for GRPC
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example23_OpenApiPlugin_Github.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example35_GrpcPlugins.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelAIPluginExtensionsTests.cs
  dotnet/src/IntegrationTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
  dotnet/src/SemanticKernel.Core/Extensions/KernelSemanticFunctionExtensions.cs
Labels: .NET, kernel

#2941 .Net: [OpenApi] Pipe delimited query string parameters
  dotnet/src/Functions/Functions.OpenAPI/Builders/Query/QueryStringBuilder.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Serialization/PipeDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/QueryStringBuilderTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/Serialization/ArrayParameterSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/Serialization/PipeDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationTests.cs
  samples/dotnet/MsGraphPluginsExample/MsGraphPluginsExample.csproj
Labels: PR: ready for review, .NET, samples

#2937 .Net: Rename ImportXXXPlugins methods to ImportXXXFunctions
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example02_Pipeline.cs
  dotnet/samples/KernelSyntaxExamples/Example03_Variables.cs
  dotnet/samples/KernelSyntaxExamples/Example04_CombineLLMPromptsAndNativeCode.cs
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example10_DescribeAllPluginsAndFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example11_WebSearchQueries.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example28_ActionPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/IntegrationTests/Extensions/KernelSemanticFunctionExtensionsTests.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/IntegrationTests/TestHelpers.cs
  dotnet/src/IntegrationTests/WebPlugin/WebPluginTests.cs
  dotnet/src/InternalUtilities/test/FunctionHelpers.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/FileIOPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/HttpPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/MathPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/TextPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/TimePluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/WaitPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/SearchUrlSkillTests.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Core/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel, kernel.core

#2964 Java: Fix exception on stop sequence when using text completion
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/textcompletion/OpenAITextCompletion.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/stepwiseplanner/DefaultStepwisePlanner.java
  java/pom.xml
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/NativeSKFunction.java
Labels: java

#2954 .Net: Update PlannerConfigBase.cs
  dotnet/src/SemanticKernel.Core/Planning/PlannerConfigBase.cs
Labels: PR: ready for review, .NET, PR: ready to merge

#2955 .Net: Update PromptTemplate.cs
  dotnet/src/SemanticKernel.Core/SemanticFunctions/PromptTemplate.cs
Labels: PR: ready for review, .NET, PR: ready to merge

#2688 .Net: Postgres memory store add simple constructor
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Postgres/PostgresMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresMemoryStoreTests.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, memory

#2965 .Net: Remove JsonPropertyOrder from OpenAIRequestSettings Refactor OpenAIRequestSettings class
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIRequestSettings.cs
Labels: .NET, kernel

#2963 .Net: Rename skill -> plugin in examples Update URLs, file paths, and plugin/skill names in Semantic Kernel examples and KernelSyntaxExamples
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example23_OpenApiPlugin_Github.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example35_GrpcPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
Labels: .NET

#2968 .Net: Rename ImportAIPluginAsync Update plugin import method and planner, and rename AIPlugin to Plugin in KernelAIPluginExtensions.cs
  docs/decisions/0005-open-api-dynamic-payload-and-namespaces.md
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example23_OpenApiPlugin_Github.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelAIPluginExtensionsTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
Labels: documentation, .NET, kernel

#2967 Add deprecation warnings to samples
  samples/apps/auth-api-webapp-react/README.md
  samples/apps/book-creator-webapp-react/README.md
  samples/apps/chat-summary-webapp-react/README.md
  samples/apps/github-qna-webapp-react/README.md
  samples/apps/hugging-face-http-server/README.md
  samples/dotnet/KernelHttpServer/README.md
  samples/dotnet/MsGraphPluginsExample/README.md
  samples/dotnet/OpenApiPluginsExample/README.md
  samples/python/kernel_http_server/README.md
Labels: documentation, PR: ready for review, samples

#2974 .Net: move maxtokens property to base config Update max tokens configuration in planners
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlannerConfig.cs
  dotnet/src/SemanticKernel.Core/Planning/PlannerConfigBase.cs
Labels: .NET

#2984 .Net: Fix Solution File
  dotnet/SK-dotnet.sln
Labels: .NET

#2949 .Net: Refactor planners, memory config, and function extensions
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Extensions/ReadOnlyFunctionCollectionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Extensions/FunctionViewExtensions.cs
  dotnet/src/Planners/Planners.Core/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/PlannerConfigBase.cs
  dotnet/src/Planners/Planners.Core/SemanticMemoryConfig.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanParser.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Utils/FunctionUtils.cs
Labels: .NET, kernel

#2991 .Net: Remove SKParameterAttribute and related code
  dotnet/src/SemanticKernel.Abstractions/Functions/SKParameterAttribute.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
Labels: .NET, kernel.core, PR: breaking change

#2948 Python: Enforcing return typehints on native functions
  python/semantic_kernel/core_skills/file_io_skill.py
  python/semantic_kernel/core_skills/text_memory_skill.py
  python/semantic_kernel/core_skills/wait_skill.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/orchestration/delegate_inference.py
  python/semantic_kernel/planning/stepwise_planner/stepwise_planner.py
  python/tests/unit/orchestration/test_native_function.py
Labels: PR: ready for review, python

#2844 Python: simple implementation of token usage
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
Labels: python

#2988 .Net: Some code enhancements
  .editorconfig
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TextCompletion/OobaboogaTextCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletionWithData/AzureChatCompletionWithDataTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/WebSocketTestServer.cs
  dotnet/src/Functions/Functions.Grpc/GrpcOperationRunner.cs
  dotnet/src/Functions/Functions.Grpc/Model/GrpcOperation.cs
  dotnet/src/Functions/Functions.Grpc/Model/GrpcOperationDataContractType.cs
  dotnet/src/Functions/Functions.Grpc/Model/GrpcOperationDataContractTypeFiled.cs
  dotnet/src/Functions/Functions.Grpc/Protobuf/ProtoDocumentParser.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/OperationComponentBuilderFactory.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Query/QueryStringBuilder.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelAIPluginExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Oobabooga/OobaboogaTextCompletionTests.cs
  dotnet/src/Planners/Planners.Core/Action/InstrumentedActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/InstrumentedSequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/InstrumentedStepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlannerConfig.cs
  dotnet/src/Plugins/Plugins.Core/TextMemoryPlugin.cs
  dotnet/src/Plugins/Plugins.MsGraph/Connectors/CredentialManagers/LocalUserMSALCredentialManager.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingConnector.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleConnector.cs
  dotnet/src/SemanticKernel.Core/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/SemanticFunction.cs
  dotnet/src/SemanticKernel.Core/KernelBuilder.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
Labels: PR: ready for review, .NET, kernel, memory

#2920 .Net: [FeatureBranch][FlowPlanner] Support referenced flow step
  dotnet/samples/KernelSyntaxExamples/Example57_FlowPlanner.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/FlowExtensionsTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/FlowSerializerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/FlowValidatorTest.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/FlowValidatorTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/TestData/Flow/flow.json
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/TestData/Flow/flow.yml
  dotnet/src/Extensions/Planning.FlowPlanner/Abstractions/IFlowCatalog.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Extensions/FlowExtensions.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Extensions/SKContextExtensions.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowExecutor/FlowExecutor.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowExecutor/ReActEngine.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowSerializer.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowValidator.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Model/CompletionType.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Model/Flow.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Model/FlowStep.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Model/ReferenceFlowStep.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Skills/CheckStartStep/skprompt.txt
  dotnet/src/IntegrationTests/Planning/FlowPlanner/CollectEmailSkill.cs
  dotnet/src/IntegrationTests/Planning/FlowPlanner/FlowPlannerTests.cs
Labels: .NET, kernel

#2892 Python: Make `semantic_kernel.NullLogger` match `logging.Logger` function signatures
  python/semantic_kernel/utils/null_logger.py
Labels: python

#2992 .Net: [OpenApi] REST API simplification
  dotnet/src/Functions/Functions.OpenAPI/Builders/IOperationComponentBuilderFactory.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/OperationComponentBuilderFactory.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Query/IQueryStringBuilder.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/QueryStringBuilder.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/OperationComponentBuilderFactoryTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/QueryStringBuilderTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationRunnerTests.cs
Labels: PR: ready for review, .NET

#3013 .Net: Move obsolete stuff to the obsolete region Update naming conventions and remove obsolete code
  dotnet/src/Functions/Functions.Semantic/SemanticFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
Labels: .NET, kernel.core

#3009 .Net: remove local variable not used
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
Labels: PR: ready for review, .NET, PR: ready to merge

#3010 .Net: Simplify boolean comparison
  dotnet/src/Functions/Functions.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/RestApiOperationRunner.cs
Labels: PR: ready for review, .NET, PR: ready to merge

#3011 .Net: remove Duplicate word in a comment
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextModelResult.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisMemoryStore.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, memory

#2842 .Net: Support function calling
  docs/decisions/0010-openai-function-calling.md
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/FunctionCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/FunctionViewExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunctionResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIRequestSettings.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/FunctionViewExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionResponseTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionTests.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ParameterView.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
Labels: documentation, PR: ready for review, .NET, kernel, kernel.core

#2853 Python: Fixed prompt_template_config.from_dict method overwriting default CompletionConfig param values
  python/semantic_kernel/semantic_functions/prompt_template_config.py
Labels: python

#2960 Java: Add batch operations to SQL memory stores
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/connectors/memory/jdbc/JDBCMemoryStoreTest.java
  java/connectors/semantickernel-connectors-memory-jdbc/pom.xml
  java/connectors/semantickernel-connectors-memory-jdbc/src/main/java/com/microsoft/semantickernel/connectors/memory/jdbc/JDBCConnector.java
  java/connectors/semantickernel-connectors-memory-jdbc/src/main/java/com/microsoft/semantickernel/connectors/memory/jdbc/JDBCMemoryStore.java
  java/connectors/semantickernel-connectors-memory-jdbc/src/main/java/com/microsoft/semantickernel/connectors/memory/jdbc/SQLConnector.java
  java/connectors/semantickernel-connectors-memory-jdbc/src/test/java/com/microsoft/semantickernel/connectors/memory/jdbc/JDBCConnectorTest.java
  java/connectors/semantickernel-connectors-memory-postgresql/src/main/java/com/microsoft/semantickernel/connectors/memory/postgresql/PostgreSQLConnector.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/test/java/com/microsoft/semantickernel/connectors/memory/sqlite/SQLiteMemoryStoreTest.java
Labels: java

#2668 ADR proposal for the Semantic Kernel v1.0 project and folder structure
  docs/decisions/0009-dotnet-project-structure.md
  docs/decisions/diagrams/skfunctions-preview.mmd
  docs/decisions/diagrams/skfunctions-preview.png
  docs/decisions/diagrams/skfunctions-v1.mmd
  docs/decisions/diagrams/skfunctions-v1.png
Labels: documentation

#2985 .Net: Fix redis package reference
  dotnet/src/Connectors/Connectors.Memory.Redis/Connectors.Memory.Redis.csproj
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, memory

#3019 .Net: [Feature Branch][Orchestrator.Flow] bug fix and add control variables
  dotnet/samples/KernelSyntaxExamples/Example57_FlowOrchestrator.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Execution/Constants.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Execution/ReActEngine.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Extensions/ContextVariablesExtensions.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Extensions/SKContextExtensions.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/FlowValidator.cs
  dotnet/src/IntegrationTests/Orchestration/Flow/FlowOrchestratorTests.cs
Labels: .NET, kernel

#3026 Update and refactor Orchestration.Flow extension .Net: Feature feature flow planner merge 929
  dotnet/samples/KernelSyntaxExamples/Example57_FlowOrchestrator.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Execution/Constants.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Execution/ExecutionState.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Execution/ReActEngine.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Experimental.Orchestration.Flow.csproj
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Extensions/ContextVariablesExtensions.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Extensions/SKContextExtensions.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/FlowOrchestrator.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/FlowOrchestratorConfig.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/FlowSerializer.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/FlowValidator.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Model/FlowStep.cs
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Plugins/CheckRepeatStep/config.json
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Plugins/CheckRepeatStep/skprompt.txt
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Plugins/CheckStartStep/config.json
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Plugins/CheckStartStep/skprompt.txt
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Plugins/ReActEngine/config.json
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Plugins/ReActEngine/gpt3/config.json
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Plugins/ReActEngine/gpt3/skprompt.txt
  dotnet/src/Extensions/Experimental/Orchestration.Flow/Plugins/ReActEngine/skprompt.txt
  dotnet/src/Extensions/Extensions.UnitTests/Orchestration/FlowOrchestrator/FlowSerializerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Orchestration/FlowOrchestrator/TestData/Flow/flow.json
  dotnet/src/Extensions/Extensions.UnitTests/Orchestration/FlowOrchestrator/TestData/Flow/flow.yml
  dotnet/src/Functions/Functions.Semantic/SemanticFunction.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationRunnerTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Orchestration/Flow/CollectEmailSkill.cs
  dotnet/src/IntegrationTests/Orchestration/Flow/FlowOrchestratorTests.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
Labels: .NET, kernel
