Repository microsoft/semantic-kernel, pull requests merged in 2023-08, with the labels that each got.

#2239 .Net: DotNet: Remove cosmosdb memory store
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/Connectors.Memory.CosmosDB.csproj
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryStore.cs
Labels: .NET, kernel, memory

#1999 Copilot Chat: Java: add Example15_MemorySkill
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/coreskills/TextMemorySkill.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example15_MemorySkill.java
  java/samples/semantickernel-guice/src/test/java/Foo.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/SKContext.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/DefaultSemanticTextMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/NativeSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/DefaultPromptTemplateEngine.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/blocks/CodeBlock.java
Labels: java

#2238 Java: dsgrieve/update sqlite connector
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/Database.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/SQLConnectorException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryRecordMetadata.java
Labels: java

#2261 Java: Update dependencies
  java/.mvn/wrapper/maven-wrapper.properties
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#2264 Java: Bump to 1.0.0-beta.3 azure-ai-openai
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/coreskills/ConversationSummarySkill.java
  java/pom.xml
  java/semantickernel-bom/pom.xml
Labels: java

#2255 .Net: Update samples to use SK 0.18
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  samples/dotnet/KernelHttpServer/Extensions.cs
  samples/dotnet/KernelHttpServer/KernelHttpServer.csproj
  samples/dotnet/graph-api-skills/MsGraphSkillsExample.csproj
  samples/dotnet/openapi-skills/OpenApiSkillsExample.csproj
  samples/dotnet/openapi-skills/README.md
  samples/notebooks/dotnet/00-getting-started.ipynb
  samples/notebooks/dotnet/01-basic-loading-the-kernel.ipynb
  samples/notebooks/dotnet/02-running-prompts-from-file.ipynb
  samples/notebooks/dotnet/03-semantic-function-inline.ipynb
  samples/notebooks/dotnet/04-context-variables-chat.ipynb
  samples/notebooks/dotnet/05-using-the-planner.ipynb
  samples/notebooks/dotnet/06-memory-and-embeddings.ipynb
  samples/notebooks/dotnet/07-DALL-E-2.ipynb
  samples/notebooks/dotnet/08-chatGPT-with-DALL-E-2.ipynb
  samples/notebooks/dotnet/09-memory-with-chroma.ipynb
  samples/notebooks/dotnet/10-BingSearch-using-kernel.ipynb
Labels: documentation, PR: ready for review, .NET, kernel, samples

#2279 Python: Fix Integration Tests, Send Push Notifications to Teams, Add Merge Gate
  .github/workflows/python-integration-tests.yml
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_memory_store.py
  python/tests/integration/connectors/memory/test_chroma.py
  python/tests/integration/connectors/memory/test_pinecone.py
  python/tests/integration/connectors/memory/test_qdrant_memory_store.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
Labels: python, memory

#2263 .Net: [Error handling] [Part1] SKException is instantiable and public
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ExceptionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Diagnostics/SKException.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, memory

#2274 Python: Fix missed assertion bug when loading from .env file
  python/semantic_kernel/utils/settings.py
Labels: PR: ready for review, python

#2303 Java: refactor Embedding to be float
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/textembeddings/OpenAITextEmbeddingGeneration.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/SqliteMemoryStore.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/test/java/com/microsoft/semantickernel/connectors/memory/sqlite/SqliteMemoryStoreTest.java
  java/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/embeddings/Embedding.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/embeddings/EmbeddingGeneration.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryRecord.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryStore.java
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/EmbeddingVector.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/CosineSimilarity.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/Divide.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/DotProduct.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/EuclideanLength.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/Multiply.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/Normalize.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/DefaultSemanticTextMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletionTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/MemoryRecordTests.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/VolatileMemoryStoreTests.java
Labels: java

#2287 Python: Enable core skills, retry mechanisms and template engine protocols to be used as pydantic fields
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/core_skills/conversation_summary_skill.py
  python/semantic_kernel/core_skills/file_io_skill.py
  python/semantic_kernel/core_skills/http_skill.py
  python/semantic_kernel/core_skills/math_skill.py
  python/semantic_kernel/core_skills/text_memory_skill.py
  python/semantic_kernel/core_skills/text_skill.py
  python/semantic_kernel/core_skills/time_skill.py
  python/semantic_kernel/core_skills/wait_skill.py
  python/semantic_kernel/reliability/pass_through_without_retry.py
  python/semantic_kernel/sk_pydantic.py
  python/semantic_kernel/template_engine/protocols/prompt_templating_engine.py
  python/tests/unit/planning/sequential_planner/__init__.py
  python/tests/unit/test_serialization.py
Labels: python

#2300 .Net: Change `VolatileMemoryStore.CreateCollectionAsync` to not throw when collection already exists
  dotnet/src/SemanticKernel.UnitTests/Memory/VolatileMemoryStoreTests.cs
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, kernel.core

#2298 .Net: [Error handling] [Part2] Replacing a few connector exceptions by SKException
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisMemoryStoreException.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Redis/RedisMemoryStoreTests.cs
  dotnet/src/Skills/Skills.Grpc/GrpcOperationRunner.cs
  dotnet/src/Skills/Skills.Grpc/Model/GrpcOperationException.cs
  dotnet/src/Skills/Skills.Grpc/Protobuf/ProtoDocumentParser.cs
  dotnet/src/Skills/Skills.Grpc/Protobuf/ProtobufParsingException.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/Exceptions/MsGraphConnectorException.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/MicrosoftToDoConnector.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OneDriveConnector.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperationException.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParsingException.cs
  dotnet/src/Skills/Skills.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Skills/Skills.UnitTests/Connectors/WebApi/Rest/RestApiOperationTests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
Labels: .NET, kernel, memory, PR: breaking change

#2242 Python: casting device int to str
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
Labels: python

#2007 .Net: Simplify chatgpt plugin import method names
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiSkill_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example23_OpenApiSkill_Github.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiSkill_Jira.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
  dotnet/src/IntegrationTests/Plugins/instacart-ai-plugin.json
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
Labels: .NET, PR: ready to merge, kernel

#2042 .Net Notebooks: associate Azure OpenAI endpoints with kernel
  samples/notebooks/dotnet/07-DALL-E-2.ipynb
  samples/notebooks/dotnet/08-chatGPT-with-DALL-E-2.ipynb
Labels: PR: ready for review, samples

#2266 .Net Bugfix: Azure SDK Retry Logic unaffected when Kernel Retry = 0
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/AzureOpenAICompletionTests.cs
  dotnet/src/SemanticKernel.Abstractions/Reliability/DefaultHttpRetryHandlerFactory.cs
Labels: .NET, PR: ready to merge, kernel, kernel.core

#2317 Python: Serialize semantic_kernel/template_engine/blocks
  python/semantic_kernel/template_engine/blocks/block.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/semantic_kernel/template_engine/blocks/function_id_block.py
  python/semantic_kernel/template_engine/blocks/text_block.py
  python/semantic_kernel/template_engine/blocks/val_block.py
  python/semantic_kernel/template_engine/blocks/var_block.py
  python/semantic_kernel/template_engine/code_tokenizer.py
  python/semantic_kernel/template_engine/prompt_template_engine.py
  python/semantic_kernel/template_engine/template_tokenizer.py
  python/tests/unit/template_engine/blocks/test_text_block.py
  python/tests/unit/test_serialization.py
Labels: python

#2297 Python: Import OpenAPI documents into the semantic kernel
  python/poetry.lock
  python/pyproject.toml
  python/samples/kernel-syntax-examples/openapi_example/README.md
  python/samples/kernel-syntax-examples/openapi_example/openapi.yaml
  python/samples/kernel-syntax-examples/openapi_example/openapi_client.py
  python/samples/kernel-syntax-examples/openapi_example/openapi_server.py
  python/semantic_kernel/connectors/openapi/__init__.py
  python/semantic_kernel/connectors/openapi/sk_openapi.py
  python/semantic_kernel/kernel.py
  python/tests/unit/openapi/invalid_openapi.yaml
  python/tests/unit/openapi/openapi.yaml
  python/tests/unit/openapi/test_sk_openapi.py
Labels: documentation, PR: ready for review, python

#2234 Python: make input parameter optional
  python/semantic_kernel/orchestration/sk_function.py
Labels: PR: ready to merge, python

#2200 Python: add invoke_stream_async for SKFunction
  python/semantic_kernel/kernel.py
  python/semantic_kernel/orchestration/sk_function.py
Labels: python

#2288 Python: Serialization add pydantic integration instructions
  python/DEV_SETUP.md
Labels: documentation, python

#2307 .Net: Update examples and notebooks to stop using text-davinci-003
  dotnet/README.md
  dotnet/samples/KernelSyntaxExamples/Example04_CombineLLMPromptsAndNativeCode.cs
  dotnet/samples/KernelSyntaxExamples/Example05_InlineFunctionDefinition.cs
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGoogleSkills.cs
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example10_DescribeAllSkillsAndFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummarySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example15_MemorySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example17_ChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/Example19_Qdrant.cs
  dotnet/samples/KernelSyntaxExamples/Example26_AADAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example27_SemanticFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example28_ActionPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example32_StreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example33_StreamingChat.cs
  dotnet/samples/KernelSyntaxExamples/Example36_MultiCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example37_MultiStreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example38_Pinecone.cs
  dotnet/samples/KernelSyntaxExamples/Example39_Postgres.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example41_HttpClientUsage.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example46_Weaviate.cs
  dotnet/samples/KernelSyntaxExamples/Example47_Redis.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example49_LogitBias.cs
  dotnet/samples/KernelSyntaxExamples/Example50_Chroma.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  samples/dotnet/graph-api-skills/Program.cs
  samples/dotnet/graph-api-skills/README.md
  samples/dotnet/graph-api-skills/appsettings.json
  samples/notebooks/dotnet/00-getting-started.ipynb
  samples/notebooks/dotnet/01-basic-loading-the-kernel.ipynb
  samples/notebooks/dotnet/02-running-prompts-from-file.ipynb
  samples/notebooks/dotnet/03-semantic-function-inline.ipynb
  samples/notebooks/dotnet/04-context-variables-chat.ipynb
  samples/notebooks/dotnet/05-using-the-planner.ipynb
  samples/notebooks/dotnet/06-memory-and-embeddings.ipynb
  samples/notebooks/dotnet/07-DALL-E-2.ipynb
  samples/notebooks/dotnet/09-memory-with-chroma.ipynb
  samples/notebooks/dotnet/10-BingSearch-using-kernel.ipynb
  samples/notebooks/dotnet/README.md
  samples/notebooks/dotnet/config/Settings.cs
  samples/notebooks/dotnet/config/settings.json.openai-example
Labels: documentation, PR: ready for review, .NET, PR: ready to merge, samples

#2305 .Net: The Type property is added to the ParameterView class
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ParameterView.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ParameterViewType.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/ParameterViewTypeTests.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/Extensions/KernelAIPluginExtensionsTests.cs
Labels: .NET, PR: ready to merge, kernel, kernel.core

#2329 Python: Adgudime/python/serialization/skill definition
  python/semantic_kernel/orchestration/sk_function_base.py
  python/semantic_kernel/planning/action_planner/action_planner.py
  python/semantic_kernel/planning/basic_planner.py
  python/semantic_kernel/planning/plan.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner_extensions.py
  python/semantic_kernel/skill_definition/function_view.py
  python/semantic_kernel/skill_definition/functions_view.py
  python/semantic_kernel/skill_definition/parameter_view.py
  python/semantic_kernel/skill_definition/read_only_skill_collection.py
  python/semantic_kernel/skill_definition/read_only_skill_collection_base.py
  python/semantic_kernel/skill_definition/sk_function_context_parameter_decorator.py
  python/semantic_kernel/skill_definition/sk_function_decorator.py
  python/semantic_kernel/skill_definition/skill_collection.py
  python/semantic_kernel/skill_definition/skill_collection_base.py
  python/tests/unit/skill_definition/test_functions_view.py
  python/tests/unit/test_serialization.py
Labels: python

#2331 Python: Embeddings batch size
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
  python/tests/integration/embeddings/test_azure_oai_embedding_service.py
  python/tests/unit/ai/open_ai/services/test_azure_text_embedding.py
Labels: PR: feedback to address, python

#2299 .Net: [Error handling] [Part3] Replacing a few connector exceptions by SKException
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaInvalidResponseException.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaTextCompletion.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClientException.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStoreException.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Diagnostics/QdrantMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecord.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Diagnostics/WeaviateMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Chroma/ChromaMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Chroma/ChromaMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Weaviate/WeaviateMemoryStoreTests.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryException.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryRecord.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/MemoryExceptionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/VolatileMemoryStoreTests.cs
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
Labels: .NET, kernel, kernel.core, memory, PR: breaking change

#2306 Java: MemoryStore updates
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/SqliteMemoryStore.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryStore.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/DefaultSemanticTextMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/VolatileMemoryStoreTests.java
Labels: java

#2336 .Net: Small typo in example
  dotnet/samples/KernelSyntaxExamples/Example15_MemorySkill.cs
Labels: .NET, PR: ready to merge, samples

#2341 Python: Update Planner Jupyter Notebook to feature latest planners
  python/semantic_kernel/planning/basic_planner.py
  samples/notebooks/python/05-using-the-planner.ipynb
Labels: python, samples

#2349 .Net: Splitting semantic and native function internal implementations
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/SkillDefinition/NativeFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SemanticFunction.cs
Labels: .NET, kernel.core

#2350 Python: Add init file to connectors submodule
  python/semantic_kernel/connectors/__init__.py
Labels: python

#2353 .Net: Removing unused files
  dotnet/src/SemanticKernel/AI/Embeddings/IEmbeddingIndex.cs
  dotnet/src/SemanticKernel/AI/Embeddings/IEmbeddingWithMetadata.cs
  dotnet/src/SemanticKernel/Orchestration/ContextVariablesExtensions.cs
Labels: .NET, PR: ready to merge, kernel.core, PR: breaking change

#2364 Python: [BugFix] ReadOnlySkillCollection is not a Generic
  python/semantic_kernel/skill_definition/constants.py
  python/semantic_kernel/skill_definition/read_only_skill_collection.py
  python/semantic_kernel/skill_definition/skill_collection.py
  python/tests/unit/test_serialization.py
Labels: python

#2368 Python: Move notebooks into language folders
  README.md
  dotnet/README.md
  dotnet/notebooks/0-AI-settings.ipynb
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/01-basic-loading-the-kernel.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-context-variables-chat.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/notebooks/07-DALL-E-2.ipynb
  dotnet/notebooks/08-chatGPT-with-DALL-E-2.ipynb
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
  dotnet/notebooks/README.md
  dotnet/notebooks/config/.gitignore
  dotnet/notebooks/config/Settings.cs
  dotnet/notebooks/config/SkiaUtils.cs
  dotnet/notebooks/config/Utils.cs
  dotnet/notebooks/config/settings.json.azure-example
  dotnet/notebooks/config/settings.json.openai-example
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  python/DEV_SETUP.md
  python/README.md
  python/notebooks/.env.example
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-skills.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/notebooks/third_party/.env.example
  python/notebooks/third_party/weaviate-persistent-memory.ipynb
Labels: documentation, PR: ready for review, .NET, python

#2328 Java: Integrate EmbeddingVector into Embedding
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example25_ReadOnlyMemoryStore.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/embeddings/Embedding.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/embeddings/VectorOperations.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/EmbeddingVector.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/CosineSimilarity.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/Divide.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/DotProduct.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/EuclideanLength.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/Multiply.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/vectoroperations/Normalize.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/DefaultSemanticTextMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/VolatileMemoryStoreTests.java
  java/spotbugs-exclude.xml
Labels: java

#2313 Update readme
  README.md
Labels: documentation, PR: ready for review

#2366 .Net: Fix Inline Functions Definition Extensions and add tests
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/src/IntegrationTests/SkillDefinition/InlineFunctionsDefinitionExtensionsTests.cs
  dotnet/src/SemanticKernel/SkillDefinition/InlineFunctionsDefinitionExtension.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#2377 .Net: Locked Moq package version (4.18.4)
  .github/dependabot.yml
  dotnet/Directory.Packages.props
Labels: .NET

#2383 Java: Add documentation in case that our deployment version changes
  java/pom.xml
Labels: java

#2388 Python: Fix parameter propagation bug in Plan Object Model
  python/semantic_kernel/planning/plan.py
  python/tests/unit/planning/test_plan_execution.py
Labels: bug, python

#2311 Java SQLIte connector: implement getNearestMatchingAsync and getNearestMatchesAsync
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/Database.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/SQLConnectorException.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/SQLiteMemoryStore.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/SqliteMemoryStore.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/test/java/com/microsoft/semantickernel/connectors/memory/sqlite/SQLiteMemoryStoreTest.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/test/java/com/microsoft/semantickernel/connectors/memory/sqlite/SqliteMemoryStoreTest.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/DefaultSemanticTextMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
Labels: java

#2386 Updated version of Microsoft.SemanticKernel.nuget in sample projects.
  samples/dotnet/KernelHttpServer/KernelHttpServer.csproj
  samples/dotnet/KernelHttpServer/SemanticKernelEndpoint.cs
  samples/dotnet/graph-api-skills/MsGraphSkillsExample.csproj
  samples/dotnet/graph-api-skills/Program.cs
  samples/dotnet/openapi-skills/OpenApiSkillsExample.csproj
  samples/dotnet/openapi-skills/Program.cs
Labels: samples

#2215 .Net: Align Chroma memory store behavior with other stores
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
Labels: .NET, PR: ready to merge, kernel, memory

#2257 .Net: Adding Kusto as an external memory
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example53_Kusto.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/samples/KernelSyntaxExamples/README.md
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/Connectors.Memory.Kusto.csproj
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoSerializer.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/README.md
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Kusto/KustoMemoryStoreTests.cs
Labels: documentation, PR: ready for review, .NET, PR: ready to merge, kernel, memory

#2426 Java: prepare release java-0.2.8-alpha
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#2427 Java: Prepare java dev iteration
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#2283 .Net: Add support for custom authentication provider for OpenAPI
  dotnet/src/Skills/Skills.OpenAPI/Authentication/CustomAuthenticationProvider.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/Authentication/CustomAuthenticationProviderTests.cs
Labels: .NET, kernel

#2362 .Net: [Error handling] [Part4] Replacing KernelException and OpenAIInvalidResponseException exceptions by SKException
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIInvalidResponseException{T}.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/InternalUtilities/src/Diagnostics/Verify.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/TextEmbeddingServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ImageGeneration/ImageGenerationServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/KernelException.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/IReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/NullReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel.UnitTests/KernelExceptionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests3.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/NativeFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SkillCollection.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/CalendarSkillTests.cs
Labels: .NET, kernel, kernel.core, PR: breaking change

#2428 SKException consistency with docs/decisions/0004-error-handling.md
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/azuresdk/ClientBase.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/textcompletion/OpenAITextCompletion.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/textembeddings/OpenAITextEmbeddingGeneration.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AzureOpenAISettings.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAIClientProvider.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAISettings.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/SettingsMap.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemory.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryException.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/Database.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/SQLConnectorException.java
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/SQLiteMemoryStore.java
  java/extensions/semantickernel-gpt3-tokenizer/src/main/java/com/microsoft/semantickernel/settings/GPT3Settings.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/actionplanner/ActionPlanner.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlanParser.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlanner.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/SKCheckedException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/SKException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/AIException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/exceptions/ConfigurationException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/exceptions/NotSupportedException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/exceptions/SkillsNotFoundException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/extensions/KernelExtensions.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryRecord.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/AbstractSkFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionNotRegisteredException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/planner/PlanningException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/skilldefinition/FunctionNotFound.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultCompletionSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/NativeSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/skilldefinition/FunctionCollection.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/CodeTokenizer.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/DefaultPromptTemplateEngine.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/TemplateException.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/TemplateTokenizer.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/blocks/CodeBlock.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/blocks/VarBlock.java
Labels: java

#2365 .Net: Update Sequential Planner example with plan recall
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
Labels: PR: ready for review, .NET, PR: ready to merge

#2420 Python: Better Integration Test Reporting
  .github/workflows/python-integration-tests.yml
  python/poetry.lock
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
Labels: python

#2468 .Net: [Error handling] [Part5] Replacing TemplateException exception by SKException
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/FunctionIdBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/VarBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/CodeTokenizerTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/TemplateExceptionTests.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/FunctionIdBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/VarBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/CodeTokenizer.cs
  dotnet/src/SemanticKernel/TemplateEngine/PromptTemplateEngine.cs
  dotnet/src/SemanticKernel/TemplateEngine/TemplateException.cs
  dotnet/src/SemanticKernel/TemplateEngine/TemplateTokenizer.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, PR: breaking change

#2076 Python: Add Google PaLM connector with text completion and example file
  python/.env.example
  python/poetry.lock
  python/pyproject.toml
  python/samples/kernel-syntax-examples/google_palm_text_completion.py
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/ai/google_palm/__init__.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/utils/settings.py
  python/tests/conftest.py
  python/tests/integration/completions/conftest.py
  python/tests/integration/completions/test_gp_text_service.py
  python/tests/unit/ai/google_palm/services/test_palm_text_completion.py
Labels: python

#2236 Python: added num_records parameter to text memory skill
  python/semantic_kernel/core_skills/text_memory_skill.py
Labels: python

#2494 .Net: [Error handling] [Part6] Replacing PlanningException by SKException
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.ActionPlanner/EmbeddedResource.cs
  dotnet/src/Extensions/Planning.ActionPlanner/IActionPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/EmbeddedResource.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/ISequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanParser.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/EmbeddedResource.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/IStepwisePlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Planning/PlanningException.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanningExceptionTests.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, PR: breaking change

#2211 .Net: Redis memory store constructor additions
  dotnet/samples/KernelSyntaxExamples/Example47_Redis.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorDistanceMetric.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Redis/RedisMemoryStoreTests.cs
Labels: .NET, PR: ready to merge, kernel, memory

#2517 Java: Fix SQLite Memory Connector error when opening existing SK database
  java/connectors/semantickernel-connectors-memory-sqlite/src/main/java/com/microsoft/semantickernel/connectors/memory/sqlite/Database.java
Labels: java

#2425 Python: Update 03-semantic-function-inline.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
Labels: python

#2474 Python fix native function default parameter
  python/semantic_kernel/orchestration/sk_function.py
  python/tests/unit/orchestration/test_native_function.py
Labels: python

#2249 .Net: docs(dotnet): supply maxTokens to avoid response truncation
  dotnet/README.md
Labels: documentation, .NET

#2258 Python: Add Google PaLM connector with chat completion and text embedding
  python/poetry.lock
  python/samples/kernel-syntax-examples/google_palm_chat.py
  python/samples/kernel-syntax-examples/google_palm_chat_with_memory.py
  python/samples/kernel-syntax-examples/google_palm_chat_with_skill.py
  python/semantic_kernel/connectors/ai/google_palm/__init__.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_embedding.py
  python/tests/integration/completions/conftest.py
  python/tests/integration/completions/test_gp_chat_service.py
  python/tests/integration/completions/test_gp_text_service.py
  python/tests/integration/embeddings/test_gp_embedding_service.py
  python/tests/unit/ai/google_palm/services/test_palm_chat_completion.py
  python/tests/unit/ai/google_palm/services/test_palm_text_embedding.py
Labels: python

#2498 .Net: Azure OpenAI Chat Completion with data
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/SKChatMessage.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureChatCompletionWithDataConfig.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataChoice.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataMessage.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataRequest.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataSource.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataSourceParameters.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataSourceType.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingChoice.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingDelta.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingMessage.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletionWithData/AzureChatCompletionWithDataTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionExtensions.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#2531 Python: Revert "Python: Update Azure Cognitive Search Class Change VectorSearchAlgorithmConfi…"
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
Labels: python, memory

#2483 Update InteractWithGraph.tsx - Fix failures caused by break change of stripping off the async suffix from SK functions
  samples/apps/auth-api-webapp-react/src/components/InteractWithGraph.tsx
Labels: samples

#2534 Python: ACS should use Hnsw for vector indexing
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
Labels: python, memory

#2165 .Net: Feature flow planner
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example55_FlowPlanner.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/ChatHistorySerializerTest.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/FlowSerializerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/FlowValidatorTest.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/TestData/Flow/flow.json
  dotnet/src/Extensions/Extensions.UnitTests/Planning/FlowPlanner/TestData/Flow/flow.yml
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SKContextExtensionsTests.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Abstractions/ChatSkill.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Abstractions/IFlowExecutor.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Abstractions/IFlowStatusProvider.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Abstractions/IFlowValidator.cs
  dotnet/src/Extensions/Planning.FlowPlanner/EmbeddedResource.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Extensions/FlowExtensions.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowExecutor/ChatHistorySerializer.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowExecutor/Constants.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowExecutor/ExecutionState.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowExecutor/FlowExecutor.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowExecutor/FlowStatusProvider.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowExecutor/ReActEngine.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowExecutor/ReActStep.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowPlanner.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowPlannerConfig.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowSerializer.cs
  dotnet/src/Extensions/Planning.FlowPlanner/FlowValidator.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Model/CompletionType.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Model/Flow.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Model/FlowStep.cs
  dotnet/src/Extensions/Planning.FlowPlanner/Planning.FlowPlanner.csproj
  dotnet/src/Extensions/Planning.FlowPlanner/Skills/CheckRepeatStep/config.json
  dotnet/src/Extensions/Planning.FlowPlanner/Skills/CheckRepeatStep/skprompt.txt
  dotnet/src/Extensions/Planning.FlowPlanner/Skills/ReActEngine/config.json
  dotnet/src/Extensions/Planning.FlowPlanner/Skills/ReActEngine/gpt3/config.json
  dotnet/src/Extensions/Planning.FlowPlanner/Skills/ReActEngine/gpt3/skprompt.txt
  dotnet/src/Extensions/Planning.FlowPlanner/Skills/ReActEngine/skprompt.txt
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Planning/FlowPlanner/CollectEmailSkill.cs
  dotnet/src/IntegrationTests/Planning/FlowPlanner/FlowPlannerTests.cs
  dotnet/src/IntegrationTests/Planning/FlowPlanner/SendEmailSkill.cs
  dotnet/src/InternalUtilities/src/Extensions/DictionaryExtensions.cs
Labels: .NET, kernel

#2147 .Net: Expose the token counter in the TextChunker
  dotnet/samples/KernelSyntaxExamples/Example55_TextChunker.cs
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerTests.cs
  dotnet/src/SemanticKernel/Text/TextChunker.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, kernel.core

#2535 Python: Update fake skill and planner test
  python/tests/integration/fakes/writer_skill_fake.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
Labels: python

#2533 Update python-integration-tests.yml
  .github/workflows/python-integration-tests.yml
Labels: github actions

#2223 Python: add stepwise planner
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/ai/chat_request_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/planning/__init__.py
  python/semantic_kernel/planning/stepwise_planner/Skills/StepwiseStep/config.json
  python/semantic_kernel/planning/stepwise_planner/Skills/StepwiseStep/skprompt.txt
  python/semantic_kernel/planning/stepwise_planner/__init__.py
  python/semantic_kernel/planning/stepwise_planner/stepwise_planner.py
  python/semantic_kernel/planning/stepwise_planner/stepwise_planner_config.py
  python/semantic_kernel/planning/stepwise_planner/system_step.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/planning/stepwise_planner/test_stepwise_planner_parse_result.py
Labels: python

#2457 Python: Added Snoop as a development dependency
  python/poetry.lock
  python/pyproject.toml
Labels: python

#2552 .Net: Removing `FromSemanticConfig` from NativeFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/NativeFunction.cs
Labels: .NET, kernel.core

#2390 Python: provide methods to register single native function to the kernel
  python/semantic_kernel/kernel.py
  python/tests/unit/kernel_extensions/test_register_functions.py
Labels: python

#2358 Python: Adding USearch memory connector
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/usearch/__init__.py
  python/semantic_kernel/connectors/memory/usearch/usearch_memory_store.py
  python/tests/integration/connectors/memory/test_usearch.py
Labels: python, memory

#2537 Python: Add missing parameter `logger` on inheriting classes and makes it optional
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
Labels: python

#2495 Python: add restore method to chat_prompt_template
  python/semantic_kernel/semantic_functions/chat_prompt_template.py
Labels: python

#2510 Python : Adding Sample for Azure Cognitive Search Memory
  python/samples/kernel-syntax-examples/azure_cognitive_search_memory.py
Labels: python

#2546 .Net: [Error handling] [Part8] Replacing AIException by SKException for non-HTTP related cases
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/Tokenizers/Settings/GPT3Settings.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/SemanticKernel.Abstractions/AI/AIException.cs
  dotnet/src/SemanticKernel/Kernel.cs
Labels: .NET, kernel, kernel.core, memory

#2542 .Net: [OpenAPI] Fallback to operation summary if no description provided
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV2_0.json
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV3_0.json
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/TestSkills/documentV3_1.yaml
Labels: .NET, kernel

#2550 .Net: Update Sequential and StepwisePlannerTests
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
Labels: .NET, kernel

#2369 Python: Enable serialization for `sk/orchestration`
  python/semantic_kernel/core_skills/conversation_summary_skill.py
  python/semantic_kernel/core_skills/file_io_skill.py
  python/semantic_kernel/core_skills/http_skill.py
  python/semantic_kernel/core_skills/math_skill.py
  python/semantic_kernel/core_skills/text_memory_skill.py
  python/semantic_kernel/core_skills/web_search_engine_skill.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/memory/semantic_text_memory_base.py
  python/semantic_kernel/orchestration/context_variables.py
  python/semantic_kernel/orchestration/delegate_handlers.py
  python/semantic_kernel/orchestration/delegate_inference.py
  python/semantic_kernel/orchestration/sk_context.py
  python/semantic_kernel/orchestration/sk_function.py
  python/semantic_kernel/orchestration/sk_function_base.py
  python/semantic_kernel/planning/plan.py
  python/semantic_kernel/template_engine/prompt_template_engine.py
  python/semantic_kernel/template_engine/protocols/prompt_templating_engine.py
  python/tests/conftest.py
  python/tests/unit/core_skills/test_file_io_skill.py
  python/tests/unit/core_skills/test_http_skill.py
  python/tests/unit/orchestration/test_context_variables.py
  python/tests/unit/planning/action_planner/test_action_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner_extensions.py
  python/tests/unit/planning/test_plan_execution.py
  python/tests/unit/template_engine/blocks/test_code_block.py
  python/tests/unit/template_engine/test_prompt_template_engine.py
  python/tests/unit/test_serialization.py
  samples/python/kernel_http_server/utils/kernel_server.py
Labels: python, samples

#2557 Python: Integration tests 'needs' path filter job
  .github/workflows/python-integration-tests.yml
  python/samples/kernel-syntax-examples/action_planner.py
Labels: python

#2539 .Net: Update Plan Result in State with matching outputs
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: .NET, kernel.core

#2526 .Net: Tokens information in telemetry
  dotnet/docs/TELEMETRY.md
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
Labels: documentation, PR: ready for review, .NET, kernel

#2547 Python: Add HF model and pipeline kwargs to allow model loading customization
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/tests/integration/completions/test_hf_local_text_completions.py
Labels: python

#2569 .Net: Fix GitHub Repo Q&A Bot Sample
  samples/dotnet/KernelHttpServer/Plugins/GitHubPlugin.cs
Labels: bug, PR: ready for review, samples

#2467 .Net: [RestApi] Dynamic payload generation with namespaced payload parameters
  docs/decisions/006-open-api-dynamic-payload-and-namespaces.md
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelAIPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/OpenApiSkillExecutionParameters.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/HttpContentFactory.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Skills/Skills.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
Labels: documentation, PR: ready for review, .NET, kernel

#1538 Python: add Azure Credentials authentication and api_key renewal
  python/pyproject.toml
  python/samples/kernel-syntax-examples/ad_auth.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_credentials_mixin.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/utils/settings.py
Labels: PR: feedback to address, python

#2148 Python: Update .env with weaviate
  python/.env.example
  python/notebooks/third_party/weaviate-persistent-memory.ipynb
  python/semantic_kernel/utils/settings.py
Labels: PR: feedback to address, python

#2584 .Net: Fix: ActionPlanner plan parameter population
  dotnet/samples/KernelSyntaxExamples/Example28_ActionPlanner.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  samples/skills/FunSkill/Joke/config.json
  samples/skills/FunSkill/Joke/skprompt.txt
Labels: .NET, kernel, samples

#2562 .Net: Extract template engine from Kernel.Core
  docs/decisions/0006-prompt-extract-template-engine.md
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGoogleSkills.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/FunctionIdBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/TextBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/ValBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/VarBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/CodeTokenizerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/PromptTemplateEngineTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/TemplateTokenizerTests.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/Block.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/BlockTypes.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/FunctionIdBlock.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/ITextRendering.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/Symbols.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/TextBlock.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/ValBlock.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/Blocks/VarBlock.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/CodeTokenizer.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/PromptTemplateEngine.cs
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/TemplateEngine.PromptTemplateEngine.csproj
  dotnet/src/Extensions/TemplateEngine.PromptTemplateEngine/TemplateTokenizer.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/SkillDefinition/InlineFunctionsDefinitionExtensionsTests.cs
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/IPromptTemplateEngine.cs
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
  dotnet/src/SemanticKernel/KernelBuilder.cs
  dotnet/src/SemanticKernel/SemanticFunctions/PromptTemplate.cs
Labels: documentation, PR: ready for review, .NET, kernel, kernel.core, PR: breaking change

#2621 Rename 006-open-api-dynamic-payload-and-namespaces.md to 0005-open-api-dynamic-payload-and-namespaces.md
  docs/decisions/0005-open-api-dynamic-payload-and-namespaces.md
Labels: documentation

#2625 .Net: Fixed AppInsights example project
  dotnet/samples/ApplicationInsightsExample/ApplicationInsightsExample.csproj
Labels: PR: ready for review, .NET, samples

#2604 Python: Update pyproject.toml
  python/pyproject.toml
Labels: python

#2631 Update README.md
  README.md
Labels: documentation

#2622 .Net: [Error handling] [Part9] Replacing AIException by HttpOperationException
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/RequestFailedExceptionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/RequestFailedExceptionExtensions.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/AzureOpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/InternalUtilities/src/Http/HttpClientExtensions.cs
  dotnet/src/InternalUtilities/src/Http/HttpContentExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/AIException.cs
  dotnet/src/SemanticKernel.Abstractions/Diagnostics/HttpOperationException.cs
  dotnet/src/SemanticKernel.UnitTests/AI/AIExceptionTests.cs
  dotnet/src/SemanticKernel.UnitTests/HttpMessageHandlerStub.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/HttpClientExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/HttpContentExtensionsTests.cs
  dotnet/src/SemanticKernel/SkillDefinition/SemanticFunction.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, memory, PR: breaking change

#2637 .Net: Fix handling of metadata for SKFunction.FromNativeFunction
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests2.cs
  dotnet/src/SemanticKernel/SkillDefinition/NativeFunction.cs
Labels: .NET, kernel, kernel.core

#2620 .Net: Dotnet notebooks update sk version
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/01-basic-loading-the-kernel.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-context-variables-chat.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/notebooks/07-DALL-E-2.ipynb
  dotnet/notebooks/08-chatGPT-with-DALL-E-2.ipynb
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
Labels: .NET

#2657 .Net: Add missing ModelResult abstraction in IChatResult interface
  dotnet/samples/KernelSyntaxExamples/Example34_CustomChatModel.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatResult.cs
Labels: enhancement, PR: ready for review, .NET, PR: ready to merge, kernel.core, PR: breaking change

#2536 Python: Add setup for contributing-python and tests for Semantic-Kernel-Python
  .vscode/tasks.json
  python/DEV_SETUP.md
Labels: documentation, python

#2511 Python: Update sk version in notebook samples
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-skills.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
Labels: python

#2069 Python: added settings function to load direct into constructor
  .gitignore
  python/samples/kernel-syntax-examples/azure_chat_gpt_api.py
  python/semantic_kernel/utils/settings.py
  python/tests/conftest.py
  python/tests/integration/completions/test_conversation_summary_skill.py
Labels: python

#2644 Python: fix incorrect `token_selection_biases` assignments
  python/semantic_kernel/semantic_functions/prompt_template_config.py
Labels: python

#2664 Python: Update dev setup readme
  python/DEV_SETUP.md
Labels: documentation, python
