Repository microsoft/semantic-kernel, pull requests merged in 2023-03, with the labels that each got.

#20 Update GitHub Actions, PR, NuGet version process
  .github/workflows/dotnet-ci.yml
  .github/workflows/dotnet-integration-tests.yml
  .github/workflows/dotnet-pr.yml
  .github/workflows/update-version.sh
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Skills/Skills.Document/Skills.Document.csproj
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Sqlite/Skills.Memory.Sqlite.csproj
  dotnet/src/SemanticKernel.Skills/Skills.MsGraph/Skills.MsGraph.csproj
  dotnet/src/SemanticKernel.Skills/Skills.Web/Skills.Web.csproj
  dotnet/src/SemanticKernel/SemanticKernel.csproj
Labels: PR: ready for review

#18 Improve Azure function error messages in sample apps
  samples/apps/auth-api-webapp-react/src/components/InteractWithGraph.tsx
  samples/apps/auth-api-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/auth-api-webapp-react/src/components/TaskButton.tsx
  samples/apps/auth-api-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/book-creator-webapp-react/src/components/CreateBook.tsx
  samples/apps/book-creator-webapp-react/src/components/CreateBookWithPlanner.tsx
  samples/apps/book-creator-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/book-creator-webapp-react/src/components/TopicSelection.tsx
  samples/apps/book-creator-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/chat-summary-webapp-react/src/components/AISummary.tsx
  samples/apps/chat-summary-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/chat-summary-webapp-react/src/hooks/SemanticKernel.ts
Labels: PR: ready for review

#21 Fix bug in SKFunction: remove duplicate RequestSettings objects
  dotnet/src/SemanticKernel.Test/Orchestration/SKFunctionTests1.cs
  dotnet/src/SemanticKernel.Test/Orchestration/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.Test/Orchestration/SKFunctionTests3.cs
  dotnet/src/SemanticKernel/AI/CompleteRequestSettings.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Orchestration/SKFunction.cs
Labels: PR: ready for review

#24 Add nuget and license badges to README
  README.md
Labels: PR: ready for review

#25 Rename SemanticKernelFunction to KernelHttpServer
  .vscode/tasks.json
  dotnet/SK-dotnet.sln
  samples/apps/README.md
  samples/apps/auth-api-webapp-react/README.md
  samples/apps/auth-api-webapp-react/src/components/FunctionProbe.tsx
  samples/apps/book-creator-webapp-react/README.md
  samples/apps/book-creator-webapp-react/src/components/FunctionProbe.tsx
  samples/apps/chat-summary-webapp-react/README.md
  samples/apps/chat-summary-webapp-react/src/components/FunctionProbe.tsx
  samples/dotnet/KernelHttpServer/.vscode/extensions.json
  samples/dotnet/KernelHttpServer/Config/ApiKeyConfig.cs
  samples/dotnet/KernelHttpServer/Config/CompletionService.cs
  samples/dotnet/KernelHttpServer/Extensions.cs
  samples/dotnet/KernelHttpServer/KernelHttpServer.csproj
  samples/dotnet/KernelHttpServer/Model/Ask.cs
  samples/dotnet/KernelHttpServer/Model/AskResult.cs
  samples/dotnet/KernelHttpServer/Model/Skill.cs
  samples/dotnet/KernelHttpServer/PingEndpoint.cs
  samples/dotnet/KernelHttpServer/Program.cs
  samples/dotnet/KernelHttpServer/README.md
  samples/dotnet/KernelHttpServer/SemanticKernelEndpoint.cs
  samples/dotnet/KernelHttpServer/SemanticKernelFactory.cs
  samples/dotnet/KernelHttpServer/TokenAuthenticationProvider.cs
  samples/dotnet/KernelHttpServer/Utils/RepoFiles.cs
  samples/dotnet/KernelHttpServer/Utils/YourAppException.cs
  samples/dotnet/KernelHttpServer/host.json
  samples/dotnet/KernelHttpServer/local.settings.json
  samples/dotnet/kernel-syntax-examples/Example14_Memory.cs
  samples/notebooks/dotnet/6-memory-and-embeddings.ipynb
Labels: PR: ready for review

#26 Add WebFileDownloadSkill
  dotnet/src/IntegrationTest/WebSkill/WebSkillTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.Document/Skills.Document.csproj
  dotnet/src/SemanticKernel.Skills/Skills.Web/WebFileDownloadSkill.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Clients/AzureOpenAIClientAbstract.cs
Labels: PR: ready for review

#27 IBackendConfig Abstraction + KernelConfig Refactoring
  dotnet/src/SemanticKernel.Test/AI/OpenAI/Services/AzureOpenAIConfigTests.cs
  dotnet/src/SemanticKernel.Test/AI/OpenAI/Services/BackendConfigTests.cs
  dotnet/src/SemanticKernel.Test/AI/OpenAI/Services/OpenAIConfigTests.cs
  dotnet/src/SemanticKernel.Test/Configuration/KernelConfigTests.cs
  dotnet/src/SemanticKernel.Test/KernelTests.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Services/AzureOpenAIConfig.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Services/BackendConfig.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Services/OpenAIConfig.cs
  dotnet/src/SemanticKernel/Configuration/BackendConfig.cs
  dotnet/src/SemanticKernel/Configuration/BackendTypes.cs
  dotnet/src/SemanticKernel/Configuration/IBackendConfig.cs
  dotnet/src/SemanticKernel/Configuration/KernelConfig.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/KernelExtensions/MemoryConfiguration.cs
Labels: PR: feedback to address

#31 Fix Example14_Memory.cs example strings
  samples/dotnet/kernel-syntax-examples/Example14_Memory.cs
Labels: PR: ready for review

#34 Add a preamble to translate prompt
  samples/skills/WriterSkill/Translate/skprompt.txt
Labels: PR: ready for review

#33 Add new features and tests to PlannerSkill and FunctionFlowRunner
  dotnet/src/SemanticKernel.Test/CoreSkills/PlannerSkillTests.cs
  dotnet/src/SemanticKernel/CoreSkills/SemanticFunctionConstants.cs
  dotnet/src/SemanticKernel/Planning/FunctionFlowRunner.cs
Labels: PR: ready for review

#19 Modify AzureTextEmbeddings.GenerateEmbeddingsAsync() to emulate batching
  .github/workflows/dotnet-integration-tests.yml
  dotnet/src/IntegrationTest/AI/OpenAIEmbeddingTests.cs
  dotnet/src/IntegrationTest/README.md
  dotnet/src/IntegrationTest/testsettings.json
  dotnet/src/SemanticKernel/AI/OpenAI/Services/AzureTextEmbeddings.cs
Labels: bug

#32 Fix a few minor issues in the graph-api-skills readme
  .gitignore
  samples/apps/auth-api-webapp-react/README.md
  samples/dotnet/graph-api-skills/README.md
  samples/dotnet/graph-api-skills/appsettings.json
Labels: PR: feedback to address

#42 Fix code style, namespaces, etc.
  dotnet/src/IntegrationTest/AI/OpenAIEmbeddingTests.cs
Labels: PR: ready to merge

#45 Add Roslyn and VS Threading analyzers
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.Test/CoreSkills/PlannerSkillTests.cs
Labels: PR: ready for review

#40 Add line to README that project is alpha
  README.md
Labels: PR: ready for review

#46 Update VSCode launch and task settings and add code coverage option
  .vscode/launch.json
  .vscode/tasks.json
  dotnet/Directory.Packages.props
Labels: PR: ready for review

#39 Python (experimental): Add design doc + some linter configs
  .conf/.pre-commit-config.yaml
  .conf/flake8.cfg
  DESIGN.md
  DEV_SETUP.md
  Makefile
  semantic_kernel/ai/embeddings/embedding_index_base.py
  semantic_kernel/memory/volatile_memory_store.py
  semantic_kernel/orchestration/delegate_inference.py
  semantic_kernel/orchestration/sk_context.py
  semantic_kernel/semantic_functions/prompt_template_config.py
  tests/chat.py
Labels: PR: feedback to address

#49 Fixing testsettings for integration tests
  dotnet/src/IntegrationTest/testsettings.json
Labels: bug, PR: ready for review

#54 Enpoint and ApiKey Required for Embedding Integration Tests
  .github/workflows/dotnet-integration-tests.yml
Labels: PR: ready for review

#56 Fix Integration test OpenAIEmbeddingTests
  .github/workflows/dotnet-integration-tests.yml
Labels: PR: ready for review

#57 Invite people to collaborate :-)
  README.md
Labels: PR: ready for review

#52 Bug fix: surface exceptions thrown by native functions
  dotnet/src/SemanticKernel.Test/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel/AI/AIException.cs
  dotnet/src/SemanticKernel/Diagnostics/ValidationException.cs
  dotnet/src/SemanticKernel/KernelException.cs
  dotnet/src/SemanticKernel/Planning/PlanningException.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/TemplateException.cs
Labels: PR: ready for review

#51 Bring embeddings and memory to KernelHttpServer
  samples/apps/auth-api-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/auth-api-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/auth-api-webapp-react/src/model/KeyConfig.ts
  samples/apps/book-creator-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/book-creator-webapp-react/src/components/TaskButton.tsx
  samples/apps/book-creator-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/book-creator-webapp-react/src/model/KeyConfig.ts
  samples/apps/chat-summary-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/chat-summary-webapp-react/src/hooks/SemanticKernel.ts
  samples/apps/chat-summary-webapp-react/src/model/KeyConfig.ts
  samples/dotnet/KernelHttpServer/Config/AIService.cs
  samples/dotnet/KernelHttpServer/Config/ApiKeyConfig.cs
  samples/dotnet/KernelHttpServer/Config/BackendConfig.cs
  samples/dotnet/KernelHttpServer/Config/Constants.cs
  samples/dotnet/KernelHttpServer/Extensions.cs
  samples/dotnet/KernelHttpServer/Program.cs
  samples/dotnet/KernelHttpServer/SemanticKernelEndpoint.cs
  samples/dotnet/KernelHttpServer/SemanticKernelFactory.cs
Labels: PR: ready for review

#53 Added TopNCollection and MinHeap data structures for usage in Memory
  dotnet/src/SemanticKernel.Test/Memory/Collections/MinHeapTests.cs
  dotnet/src/SemanticKernel.Test/Memory/Collections/TopNCollectionTests.cs
  dotnet/src/SemanticKernel.Test/Memory/VolatileMemoryStoreTests.cs
  dotnet/src/SemanticKernel/Diagnostics/Verify.cs
  dotnet/src/SemanticKernel/Memory/Collections/MinHeap.cs
  dotnet/src/SemanticKernel/Memory/Collections/Score.cs
  dotnet/src/SemanticKernel/Memory/Collections/ScoredValue.cs
  dotnet/src/SemanticKernel/Memory/Collections/TopNCollection.cs
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
Labels: PR: ready for review

#72 Fix setting plan arguments twice in UpdateWithPlanEntry
  dotnet/src/SemanticKernel/Orchestration/Extensions/ContextVariablesExtensions.cs
Labels: PR: ready to merge

#80 Added lost unit tests after refactoring
  dotnet/src/SemanticKernel.UnitTests/Memory/Collections/MinHeapTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/Collections/TopNCollectionTests.cs
Labels: PR: ready for review

#65 Add support for values params for functions
  docs/PROMPT_TEMPLATE_LANGUAGE.md
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/SemanticKernel.IntegrationTests/SemanticKernel.IntegrationTests.csproj
  dotnet/src/SemanticKernel.IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel.IntegrationTests/TemplateLanguage/tests.txt
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/FunctionIdBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/TextBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/ValBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/VarBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/CodeTokenizerTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/TemplateTokenizerTests.cs
  dotnet/src/SemanticKernel/Memory/Collections/MinHeap.cs
  dotnet/src/SemanticKernel/Memory/Collections/TopNCollection.cs
  dotnet/src/SemanticKernel/SkillDefinition/IReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel/SkillDefinition/ReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel/SkillDefinition/SkillCollection.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/Block.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/BlockTypes.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/FunctionIdBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/ITextRendering.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/Symbols.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/TextBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/ValBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/VarBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/CodeTokenizer.cs
  dotnet/src/SemanticKernel/TemplateEngine/IPromptTemplateEngine.cs
  dotnet/src/SemanticKernel/TemplateEngine/PromptTemplateEngine.cs
  dotnet/src/SemanticKernel/TemplateEngine/TemplateException.cs
  dotnet/src/SemanticKernel/TemplateEngine/TemplateTokenizer.cs
  samples/dotnet/KernelHttpServer/Config/Constants.cs
  samples/dotnet/KernelHttpServer/SemanticKernelEndpoint.cs
  samples/dotnet/kernel-syntax-examples/Example15_MemorySkill.cs
Labels: PR: ready to merge

#85 HuggingFace sample fix
  .gitignore
  samples/apps/local_inference_server/README.md
  samples/apps/local_inference_server/inference_app.py
  samples/apps/local_inference_server/requirements.txt
Labels: PR: ready for review

#84 Improve code python skill
  samples/skills/CodingSkill/CodePython/config.json
  samples/skills/CodingSkill/CodePython/skprompt.txt
Labels: PR: ready for review

#41 Sample readme updates + Ignoring .env files
  .gitignore
  samples/apps/auth-api-webapp-react/README.md
  samples/apps/book-creator-webapp-react/README.md
  samples/apps/chat-summary-webapp-react/README.md
  samples/dotnet/kernel-syntax-examples/Properties/launchSettings.json
Labels: PR: ready to merge

#92 Add python-preview link to README
  README.md
Labels: PR: ready for review

#98 Update readme links and trouble-shooting section
  samples/apps/github-qna-webapp-react/README.md
Labels: PR: ready for review

#101 Add Discord widget to Readme
  README.md
Labels: PR: ready for review, PR: ready to merge

#107 [Docs] Sample 5: move the text about the planner just after the planner output
  samples/notebooks/dotnet/5-using-the-planner.ipynb
Labels: PR: ready to merge

#35 TextMemorySkill: Recall Can Return Many Memories, added Keyed Lookup Functions Retrieve() and Remove()
  dotnet/src/SemanticKernel/CoreSkills/TextMemorySkill.cs
  dotnet/src/SemanticKernel/Memory/ISemanticTextMemory.cs
  dotnet/src/SemanticKernel/Memory/NullMemory.cs
  dotnet/src/SemanticKernel/Memory/SemanticTextMemory.cs
  samples/dotnet/kernel-syntax-examples/Example15_MemorySkill.cs
  samples/notebooks/dotnet/6-memory-and-embeddings.ipynb
Labels: PR: ready for review, PR: ready to merge

#120 Several changes to resolve PR feedback
  samples/apps/github-qna-webapp-react/README.md
  samples/apps/github-qna-webapp-react/src/components/GitHubRepoSelection.tsx
  samples/apps/github-qna-webapp-react/src/components/QnA.tsx
  samples/dotnet/KernelHttpServer/Extensions.cs
  samples/dotnet/KernelHttpServer/SemanticKernelEndpoint.cs
  samples/dotnet/github-skills/GitHubSkill.cs
  samples/skills/QASkill/GitHubMemoryQuery/config.json
  samples/skills/QASkill/GitHubMemoryQuery/skprompt.txt
  samples/skills/QASkill/MemoryQuery/skprompt.txt
Labels: PR: ready to merge

#109 Fix typo in Getting-Started-Notebook.ipynb
  samples/notebooks/dotnet/Getting-Started-Notebook.ipynb
Labels: PR: ready to merge, main

#100 Add sample 4 to main readme
  README.md
  samples/apps/github-qna-webapp-react/README.md
Labels: PR: ready for review

#97 Sample 4 fit and finish (synchronous chat loading states, tool tips, sorted model dropdowns, dependency gates)
  samples/apps/github-qna-webapp-react/src/App.tsx
  samples/apps/github-qna-webapp-react/src/components/QnA.tsx
  samples/apps/github-qna-webapp-react/src/components/ServiceConfig.tsx
  samples/apps/github-qna-webapp-react/src/components/chat/ChatHistoryItem.tsx
  samples/apps/github-qna-webapp-react/src/components/setup/ModelConfig.tsx
Labels: PR: ready for review, PR: ready to merge, typescript

#89 Add new Question function to existing ClassificationSkill samples
  samples/skills/ClassificationSkill/Question/config.json
  samples/skills/ClassificationSkill/Question/skprompt.txt
Labels: PR: feedback to address, main

#138 Minor non-functional updates to sample 4
  samples/apps/github-qna-webapp-react/README.md
  samples/apps/github-qna-webapp-react/src/components/GitHubRepoSelection.tsx
Labels: PR: ready for review, main

#144 Python : Simplification for the SK decorators and core TextSkill
  python/semantic_kernel/core_skills/text_memory_skill.py
  python/semantic_kernel/core_skills/text_skill.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/orchestration/context_variables.py
  python/semantic_kernel/orchestration/sk_function.py
  python/semantic_kernel/skill_definition/__init__.py
  python/semantic_kernel/skill_definition/sk_function_decorator.py
  python/semantic_kernel/skill_definition/sk_function_input_decorator.py
  python/semantic_kernel/skill_definition/sk_function_name_decorator.py
  python/tests/memory.py
  python/tests/test_sk_function_decorators.py
  python/tests/test_text_skill.py
Labels: python

#123 Add Lint Workflow
  .github/workflows/lint.yml
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/core_skills/text_memory_skill.py
Labels: PR: ready for review, python

#67 Integrate use of embeddings to determine related skills returned from FunctionView
  .vscode/tasks.json
  dotnet/src/SemanticKernel.IntegrationTests/AI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel.IntegrationTests/CoreSkills/PlannerSkillTests.cs
  dotnet/src/SemanticKernel.IntegrationTests/README.md
  dotnet/src/SemanticKernel.IntegrationTests/TestHelpers.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/SKContextExtensionsTests.cs
  dotnet/src/SemanticKernel/CoreSkills/PlannerSkill.cs
  dotnet/src/SemanticKernel/CoreSkills/SemanticFunctionConstants.cs
  dotnet/src/SemanticKernel/Orchestration/Extensions/ContextVariablesExtensions.cs
  dotnet/src/SemanticKernel/Planning/FunctionViewExtensions.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/Planning/SKContextExtensions.cs
  samples/dotnet/kernel-syntax-examples/Example12_Planning.cs
Labels: PR: ready for review, main

#153 Rename DownloadToFileAsync to DownloadToFile in WebSkillTests
  dotnet/src/SemanticKernel.IntegrationTests/WebSkill/WebSkillTests.cs
Labels: bug, PR: ready for review, PR: ready to merge, main

#135 HuggingFace backend implementation
  dotnet/src/SemanticKernel.Test/AI/HuggingFace/HuggingFaceBackendTests.cs
  dotnet/src/SemanticKernel.Test/AI/HuggingFace/TestData/completion_test_response.json
  dotnet/src/SemanticKernel.Test/AI/HuggingFace/TestData/embeddings_test_response.json
  dotnet/src/SemanticKernel.Test/SemanticKernel.Test.csproj
  dotnet/src/SemanticKernel/AI/HuggingFace/HttpSchema/CompletionRequest.cs
  dotnet/src/SemanticKernel/AI/HuggingFace/HttpSchema/CompletionResponse.cs
  dotnet/src/SemanticKernel/AI/HuggingFace/HttpSchema/EmbeddingRequest.cs
  dotnet/src/SemanticKernel/AI/HuggingFace/HttpSchema/EmbeddingResponse.cs
  dotnet/src/SemanticKernel/AI/HuggingFace/Services/HuggingFaceBackend.cs
  samples/apps/local_inference_server/utils/CompletionGenerator.py
  samples/apps/local_inference_server/utils/EmbeddingGenerator.py
Labels: PR: ready for review, .NET

#171 New Microsoft.SemanticKernel.Skills.OpenAPI project added
  dotnet/SK-dotnet.sln
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
Labels: PR: ready for review

#148 Add OpenAI GPT tokenizer class
  dotnet/src/SemanticKernel.UnitTests/AI/OpenAI/Tokenizers/GPT3TokenizerTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/SKFunctionTests1.cs
  dotnet/src/SemanticKernel/AI/CompleteRequestSettings.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Tokenizers/GPT3Tokenizer.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Tokenizers/Settings/EmbeddedResource.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Tokenizers/Settings/GPT3Settings.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Tokenizers/Settings/encoder.json
  dotnet/src/SemanticKernel/AI/OpenAI/Tokenizers/Settings/vocab.bpe
  dotnet/src/SemanticKernel/SemanticKernel.csproj
Labels: PR: ready for review, .NET, PR: ready to merge, main

#185 Added prompt normalization for OpenAI requests
  dotnet/src/SemanticKernel.IntegrationTests/AI/AIServiceType.cs
  dotnet/src/SemanticKernel.IntegrationTests/AI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Text/StringExtensionsTests.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Services/AzureTextCompletion.cs
  dotnet/src/SemanticKernel/AI/OpenAI/Services/OpenAITextCompletion.cs
  dotnet/src/SemanticKernel/Text/StringExtensions.cs
Labels: bug, PR: ready for review, .NET, main

#83 PR: SK VectorDB connector work - Merging Forked branch & PR from Fork to SK branch
  dotnet/SK-dotnet.sln
  dotnet/src/IntegrationTest/AI/OpenAIEmbeddingTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/BatchData.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/CollectionData.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/CollectionInfo.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/CollectionParams.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/Filter.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/PayloadInfo.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/PointSearchData.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/Points.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/QdrantApiUrlConstants.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/QdrantDistanceType.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/QdrantResponse.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/QdrantResult.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/QdrantVectorRecord.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/DataModels/VectorSettings.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/Diagnostics/IValidatable.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/Diagnostics/VectorDBException.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/Diagnostics/Verify.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/HttpRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/HttpSchema/CollectionHandler.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/HttpSchema/CreateCollectionRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/HttpSchema/PointsVectorHandler.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/HttpSchema/SearchVectorsHandler.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Internal/HttpSchema/SecureHttpHandler.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Skills.Memory.Qdrant.csproj
  dotnet/src/SemanticKernel.Test/AI/OpenAI/Services/AzureOpenAIConfigTests.cs
  dotnet/src/SemanticKernel.Test/AI/OpenAI/Services/BackendConfigTests.cs
  dotnet/src/SemanticKernel.Test/AI/OpenAI/Services/OpenAIConfigTests.cs
  dotnet/src/SemanticKernel.Test/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/VolatileMemoryStoreTests.cs
  dotnet/src/SemanticKernel/AI/Embeddings/IEmbeddingWithMetadata.cs
  dotnet/src/SemanticKernel/Memory/MemoryException.cs
  dotnet/src/SemanticKernel/Memory/MemoryQueryResult.cs
  dotnet/src/SemanticKernel/Memory/MemoryRecord.cs
  dotnet/src/SemanticKernel/Memory/Storage/IDataStore.cs
Labels: PR: feedback to address, PR: in progress

#188 OpenAPI skills MVP
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/BearerTokenHandler.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/IAuthenticationHandler.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationException.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameterType.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParsingException.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/IRestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills/AzureKeyVaultSkill/openapi.json
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills/SkillResourceNames.cs
  dotnet/src/SemanticKernel/Diagnostics/Verify.cs
  dotnet/src/SemanticKernel/IKernel.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Orchestration/SKFunction.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  samples/dotnet/kernel-syntax-examples/Example16_OpenApiSkill.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: PR: feedback to address, PR: ready for review

#183 fix: delegate compatibility issue for python 3.9
  python/semantic_kernel/orchestration/delegate_handlers.py
  python/semantic_kernel/orchestration/sk_function.py
Labels: PR: ready for review, python

#169 fix: static functions has no attr __wrapped__
  python/semantic_kernel/orchestration/delegate_inference.py
Labels: PR: ready to merge, python

#187 python: core skill FileIOSkill
  python/poetry.lock
  python/pyproject.toml
  python/requirements.txt
  python/semantic_kernel/core_skills/file_io_skill.py
  python/semantic_kernel/core_skills/text_skill.py
  python/tests/test_file_io_skill.py
Labels: PR: ready for review, python

#166 Fix for running `samples/notebooks/python/6-memory-and-embeddings.ipynb`
  python/semantic_kernel/memory/semantic_text_memory.py
  samples/notebooks/python/6-memory-and-embeddings.ipynb
Labels: PR: ready to merge, python

#213 HuggingFace remote support
  dotnet/src/IntegrationTest/AI/HuggingFaceTextCompletionTests.cs
  dotnet/src/IntegrationTest/testsettings.json
  dotnet/src/SemanticKernel.Test/AI/HuggingFace/HuggingFaceBackendTests.cs
  dotnet/src/SemanticKernel.Test/AI/HuggingFace/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/SemanticKernel.Test/AI/HuggingFace/HuggingFaceTestHelper.cs
  dotnet/src/SemanticKernel.Test/AI/HuggingFace/HuggingFaceTextCompletionTests.cs
  dotnet/src/SemanticKernel.Test/AI/HuggingFace/TestData/completion_test_response.json
  dotnet/src/SemanticKernel/AI/HuggingFace/HttpSchema/CompletionRequest.cs
  dotnet/src/SemanticKernel/AI/HuggingFace/HttpSchema/CompletionResponse.cs
  dotnet/src/SemanticKernel/AI/HuggingFace/HttpSchema/EmbeddingRequest.cs
  dotnet/src/SemanticKernel/AI/HuggingFace/Services/HuggingFaceEmbeddingGeneration.cs
  dotnet/src/SemanticKernel/AI/HuggingFace/Services/HuggingFaceTextCompletion.cs
  samples/apps/local_inference_server/inference_app.py
  samples/apps/local_inference_server/templates/completions.html
  samples/apps/local_inference_server/templates/embeddings.html
  samples/apps/local_inference_server/templates/images.html
  samples/apps/local_inference_server/utils/create_responses.py
Labels: PR: ready for review, .NET

#206 Update README and lock notebooks to 0.9
  README.md
  samples/notebooks/dotnet/1-basic-loading-the-kernel.ipynb
  samples/notebooks/dotnet/2-running-prompts-from-file.ipynb
  samples/notebooks/dotnet/3-semantic-function-inline.ipynb
  samples/notebooks/dotnet/4-context-variables-chat.ipynb
  samples/notebooks/dotnet/5-using-the-planner.ipynb
  samples/notebooks/dotnet/6-memory-and-embeddings.ipynb
Labels: PR: ready for review

#220 Added support for loading OpenAPI skills from URL as well as from ChatGPT Plugin definitions.
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
Labels: PR: ready to merge

#209 python: Porting TimeSkill
  python/semantic_kernel/core_skills/__init__.py
  python/semantic_kernel/core_skills/time_skill.py
  python/tests/test_time_skill.py
Labels: PR: ready to merge, python

#210 Memory - Qdrant Vector Database Connector
  dotnet/SK-dotnet.sln
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Diagnostics/IValidatable.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Diagnostics/VectorDBException.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Diagnostics/Verify.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/CreateCollectionRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/DeleteCollectionRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/DeleteVectorsRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/GetCollectionRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/GetVectorsRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/GetVectorsResponse.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/ListCollectionsRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/ListCollectionsResponse.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/QdrantResponse.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/SearchVectorsRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/SearchVectorsResponse.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/UpsertVectorRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/ApiSchema/UpsertVectorResponse.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/HttpRequest.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Http/SecureHttpHandler.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/QdrantDistanceType.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/QdrantVectorRecord.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.Qdrant/Skills.Memory.Qdrant.csproj
  dotnet/src/SemanticKernel.UnitTests/Memory/VolatileMemoryStoreTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/SKContextExtensionsTests.cs
  dotnet/src/SemanticKernel/AI/Embeddings/IEmbeddingWithMetadata.cs
  dotnet/src/SemanticKernel/CoreSkills/TextMemorySkill.cs
  dotnet/src/SemanticKernel/Memory/MemoryException.cs
  dotnet/src/SemanticKernel/Memory/MemoryQueryResult.cs
  dotnet/src/SemanticKernel/Memory/MemoryRecord.cs
  dotnet/src/SemanticKernel/Memory/MemoryRecordMetadata.cs
  dotnet/src/SemanticKernel/Memory/SemanticTextMemory.cs
  dotnet/src/SemanticKernel/Memory/Storage/IDataStore.cs
  dotnet/src/SemanticKernel/Planning/SKContextExtensions.cs
  samples/dotnet/kernel-syntax-examples/Example14_Memory.cs
  samples/dotnet/kernel-syntax-examples/Example19_Qdrant.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/dotnet/kernel-syntax-examples/README.md
Labels: enhancement, PR: ready for review, .NET, main

#218 Add chat skill
  refapp/SKWebApi/Skills/ChatSkill.cs
  refapp/SKWebApi/Skills/SystemPromptDefaults.cs
Labels: PR: ready for review, .NET

#82 Add FileCompression skill
  dotnet/SK-dotnet.sln
  dotnet/src/SemanticKernel.Skills/Skills.Web/WebFileDownloadSkill.cs
  samples/dotnet/FileCompression/FileCompression.csproj
  samples/dotnet/FileCompression/FileCompressionSkill.cs
  samples/dotnet/FileCompression/IFileCompressor.cs
  samples/dotnet/FileCompression/ZipFileCompressor.cs
Labels: PR: ready for review, main

#237 Dynamic payload for OpenAPI skills CRU requests
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameterType.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationPayload.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/IRestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/ResourceSkillsProvider.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/TestSkills/v2_0/operation.json
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Skills.UnitTests.csproj
  samples/dotnet/kernel-syntax-examples/Example16_OpenApiSkill.cs
Labels: PR: ready for review

#219 Initial version of service with SK functionality
  refapp/SKWebApi/Config/AIServiceConfig.cs
  refapp/SKWebApi/Config/ConfigExtensions.cs
  refapp/SKWebApi/Constants.cs
  refapp/SKWebApi/Controllers/SemanticKernelController.cs
  refapp/SKWebApi/FunctionLoadingExtensions.cs
  refapp/SKWebApi/Model/Ask.cs
  refapp/SKWebApi/Model/AskResult.cs
  refapp/SKWebApi/Program.cs
  refapp/SKWebApi/README.md
  refapp/SKWebApi/appsettings.json
Labels: PR: feedback to address, .NET

#242 Update chat skill to align with the latest kernel changes
  refapp/SKWebApi/Skills/ChatSkill.cs
Labels: PR: ready for review, .NET

#222 Auth integration for OpenAPI skill
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/BearerTokenHandler.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Authentication/IAuthenticationHandler.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationException.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Rest/RestApiOperationRunnerTests.cs
  samples/dotnet/kernel-syntax-examples/Example20_OpenApiSkill.cs
Labels: PR: ready for review, .NET

#231 HuggingFace service for text completion and embedding generation
  .gitignore
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/HuggingFaceTestHelper.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TestData/completion_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TestData/embeddings_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextEmbedding/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/SemanticKernel.IntegrationTests/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/SemanticKernel.IntegrationTests/README.md
  dotnet/src/SemanticKernel.IntegrationTests/SemanticKernel.IntegrationTests.csproj
  dotnet/src/SemanticKernel.IntegrationTests/testsettings.json
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextCompletion/TextCompletionRequest.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextCompletion/TextCompletionResponse.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextEmbedding/TextEmbeddingRequest.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextEmbedding/TextEmbeddingResponse.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  samples/apps/hugging-face-http-server/Dockerfile
  samples/apps/hugging-face-http-server/README.md
  samples/apps/hugging-face-http-server/inference_app.py
  samples/apps/hugging-face-http-server/requirements.txt
  samples/apps/hugging-face-http-server/static/css/styles.css
  samples/apps/hugging-face-http-server/templates/completions.html
  samples/apps/hugging-face-http-server/templates/documentation.html
  samples/apps/hugging-face-http-server/templates/embeddings.html
  samples/apps/hugging-face-http-server/templates/home.html
  samples/apps/hugging-face-http-server/templates/images.html
  samples/apps/hugging-face-http-server/utils/CompletionGenerator.py
  samples/apps/hugging-face-http-server/utils/EmbeddingGenerator.py
  samples/apps/hugging-face-http-server/utils/ImageGenerator.py
  samples/apps/hugging-face-http-server/utils/InferenceGenerator.py
  samples/apps/hugging-face-http-server/utils/create_responses.py
  samples/dotnet/kernel-syntax-examples/Example20_HuggingFace.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: PR: ready for review, .NET, main

#244 Remove files that could contain secrets
  samples/apps/auth-api-webapp-react/.env.example
  samples/apps/auth-api-webapp-react/README.md
  samples/apps/book-creator-webapp-react/.env.example
  samples/apps/chat-summary-webapp-react/.env.example
  samples/apps/github-qna-webapp-react/.env.example
Labels: PR: ready for review, main

#250 Change visibility modifiers on MemoryRecord and associated collection classes
  dotnet/src/SemanticKernel/Memory/Collections/MinHeap.cs
  dotnet/src/SemanticKernel/Memory/Collections/Score.cs
  dotnet/src/SemanticKernel/Memory/Collections/ScoredValue.cs
  dotnet/src/SemanticKernel/Memory/Collections/TopNCollection.cs
  dotnet/src/SemanticKernel/Memory/MemoryRecord.cs
Labels: PR: ready for review

#254 Fix Github skill to better support DB backed memory stores
  samples/dotnet/github-skills/GitHubSkill.cs
Labels: PR: ready for review

#260 Examples of usage of ChatGPT plugins in SK.
  samples/dotnet/kernel-syntax-examples/Example20_OpenApiSkill.cs
  samples/dotnet/kernel-syntax-examples/Example21_ChatGPTPlugins.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: PR: ready for review, feature

#251 Fixes for string query parameters and HTTP endpoint url construction.
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/Model/RestApiOperationParameterLocation.cs
  dotnet/src/SemanticKernel.Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserTests.cs
Labels: PR: ready for review, feature

#261 Add CosmosDB implementation of IMemoryStore<float>
  dotnet/src/SemanticKernel.Skills/Skills.Memory.CosmosDB/CosmosDBMemoryRecord.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.CosmosDB/CosmosDBMemoryStore.cs
  dotnet/src/SemanticKernel.Skills/Skills.Memory.CosmosDB/Skills.Memory.CosmosDB.csproj
Labels: PR: ready for review, feature

#262 Update server path and payload
  samples/packaged/CopilotChat/SKWebApi/Controllers/SemanticKernelController.cs
  samples/packaged/CopilotChat/SKWebApi/FunctionLoadingExtensions.cs
  samples/packaged/CopilotChat/SKWebApi/Program.cs
  samples/packaged/CopilotChat/SKWebApi/SKWebApi.csproj
  samples/packaged/CopilotChat/SKWebApi/SKWebApiConstants.cs
  samples/packaged/CopilotChat/SKWebApi/Skills/ChatSkill.cs
  samples/packaged/CopilotChat/SKWebApi/Skills/ProbeController.cs
  samples/packaged/CopilotChat/SKWebApi/Skills/SystemPromptDefaults.cs
  samples/packaged/CopilotChat/SKWebApi/appsettings.json
  samples/packaged/CopilotChat/WebApp/README.md
  samples/packaged/CopilotChat/WebApp/src/App.tsx
  samples/packaged/CopilotChat/WebApp/src/components/views/BackendProbe.tsx
  samples/packaged/CopilotChat/WebApp/src/libs/semantic-kernel/SemanticKernel.ts
  samples/packaged/CopilotChat/WebApp/src/libs/semantic-kernel/model/Ask.ts
  samples/packaged/CopilotChat/WebApp/src/libs/semantic-kernel/model/AskResult.ts
  samples/packaged/CopilotChat/WebApp/src/libs/useChat.ts
Labels: PR: ready for review, .NET, typescript, feature
