Repository microsoft/semantic-kernel, pull requests merged in 2023-11, with the labels that each got.

#3354 .Net: Reduce visibility of two fields from public to private
  dotnet/src/SemanticKernel.Core/Functions/SemanticFunction.cs
Labels: .NET, PR: ready to merge, PR: breaking change

#3359 Update ADRs 0016 and 0017
  docs/decisions/0016-semantic-function-multiple-model-support.md
  docs/decisions/0017-custom-prompt-template-formats.md
Labels: documentation

#3342 Java: add documentation for the various packages
  java/PACKAGES.md
  java/README.md
Labels: documentation, java

#3320 Java: Set Useragent for connectors. Extract settings classes to their own module
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryStore.java
  java/extensions/semantickernel-settings-loader/pom.xml
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/SemanticKernelHttpSettings.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AbstractOpenAIClientSettings.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AzureOpenAISettings.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/ClientType.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAIClientProvider.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAISettings.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/settings/SettingsMap.java
  java/extensions/semantickernel-settings-loader/src/test/java/com/microsoft/semantickernel/connectors/ai/openai/util/ConfigLoadingTest.java
  java/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example08_RetryHandler.java
  java/semantickernel-bom/pom.xml
Labels: java

#3246 .Net Issue Fix - Add FunctionResponse to ChatStreaming interfaces
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/SKChatMessage.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIModelResultExtensions.cs
Labels: enhancement, PR: ready for review, .NET, PR: ready to merge, kernel

#3370 Java: Fix spell check jobs and enable Builds on java-development branch
  .github/workflows/java-build.yml
  .github/workflows/java-integration-tests.yml
  java/PACKAGES.md
  java/README.md
Labels: documentation, java

#3368 .Net: Locked version of Roslynator packages to 4.3.0
  dotnet/Directory.Packages.props
  samples/dotnet/Directory.Packages.props
Labels: PR: ready for review, .NET

#3373 Java: Fix doc link
  java/PACKAGES.md
Labels: documentation, java

#3377 Update the readme to reference Java in main branch
  README.md
Labels: documentation

#3395 .Net: Version 1.0.0-beta5
  dotnet/nuget/nuget-package.props
Labels: .NET

#3397 Java: Fixed invalid links in documentation
  java/README.md
  java/samples/sample-code/README.md
Labels: documentation, PR: ready for review, PR: ready to merge, java

#3398 .Net: Fix use of InternalsVisibleTo
  dotnet/src/Experimental/Orchestration.Flow/Experimental.Orchestration.Flow.csproj
Labels: .NET

#3399 .Net: Renamed Azure* classes and methods to AzureOpenAI*
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example17_ChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/Example26_AADAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example27_SemanticFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example28_ActionPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example33_StreamingChat.cs
  dotnet/samples/KernelSyntaxExamples/Example36_MultiCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example37_MultiStreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Example44_MultiChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureRequestSettings.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example61_MultipleLLMs.cs
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/samples/KernelSyntaxExamples/Example63_FlowOrchestrator.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataConfig.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGenerationResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageOperationStatus.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/TextEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Weaviate/WeaviateKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AIServicesOpenAIExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataTests.cs
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/FlowOrchestratorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/AzureOpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
Labels: PR: ready for review, .NET, kernel, PR: breaking change

#3298 Java: Allow Semantic Kernel to obtain credentials via Managed identity and azure cli. Fix some tests
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/extensions/semantickernel-settings-loader/pom.xml
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AzureCredentialType.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AzureOpenAISettings.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAIClientProvider.java
  java/samples/sample-code/README.md
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example04_CombineLLMPromptsAndNativeCode.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example12_SequentialPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example14_SemanticMemory.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example17_ChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example28_ActionPlanner.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/SkillExecutor.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/extensions/KernelExtensions.java
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
Labels: documentation, java

#3338 ADR for mapping of prompt syntax to completion service model
  docs/decisions/0020-prompt-syntax-mapping-to-completion-service-model.md
Labels: documentation

#3351 .Net IKernel Function Hooks Phase 2 (Rendered Prompt Support)
  docs/decisions/0018-kernel-hooks-phase2.md
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedNativeFunctions.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/BasicPromptTemplateTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/PromptTemplateEngineTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelAIPluginExtensionsTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/SKEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/EventHandlerWrapperOfT.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/IFunctionRunner.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Core/Events/SKEventArgsExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionTextExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/SemanticFunction.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.Core/Orchestration/FunctionRunner.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: documentation, .NET, PR: ready to merge, kernel, kernel.core

#3304 .Net: Enable use of authentication info from Open AI plugin manifest
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Functions/Functions.OpenAPI/Authentication/CustomAuthenticationProvider.cs
  dotnet/src/Functions/Functions.OpenAPI/Authentication/README.md
  dotnet/src/Functions/Functions.OpenAPI/DocumentLoader.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/OpenAIAuthenticateRequestAsyncCallback.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/OpenAIAuthenticationConfig.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/OpenAIFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/QueryStringBuilderTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenAI/KernelOpenAIPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestPlugins/ai-plugin.json
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
Labels: documentation, .NET, kernel, PR: breaking change

#3384 Java: optionally allow/disallow missing functions in sequential planner
  .gitignore
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlanParser.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlanner.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlannerRequestSettings.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example12_SequentialPlanner.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlannerTest.java
Labels: java

#3390 Java - Changes constant settings visibility to public
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AbstractOpenAIClientSettings.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AzureOpenAISettings.java
  java/extensions/semantickernel-settings-loader/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAISettings.java
Labels: java

#3392 .Net: Handlebars prompt template support
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example64_MultiplePromptTemplates.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Handlebars/HandlebarsPromptTemplateFactoryTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/TemplateEngine.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Extensions/TemplateEngine.Handlebars/HandlebarsPromptTemplateFactory.cs
  dotnet/src/Extensions/TemplateEngine.Handlebars/TemplateEngine.Handlebars.csproj
Labels: .NET, kernel

#3387 .Net: Chat Prompts - handling in Connector
  dotnet/samples/KernelSyntaxExamples/Example63_ChatCompletionPrompts.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/ChatPromptParser.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatHistory.cs
  dotnet/src/SemanticKernel.Core/Prompt/PromptNode.cs
  dotnet/src/SemanticKernel.Core/Prompt/XmlPromptParser.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/XmlPromptParserTests.cs
Labels: PR: ready for review, .NET, kernel

#3421 .Net: Function calling: Add function author role and name property
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunctionResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatMessageBase.cs
Labels: .NET, kernel, kernel.core

#2950 .Net: MongoDB memory store connector for .NET
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/Connectors.Memory.MongoDB.csproj
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBMemoryEntry.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBMemoryRecordMetadata.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/README.md
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/MongoDB/MongoDBMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/DataHelper.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBMemoryStoreTestsFixture.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/testsettings.json
Labels: documentation, .NET, kernel, memory

#3433 .Net: Bump to version 1.0.0-beta6
  dotnet/nuget/nuget-package.props
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBMemoryStoreTests.cs
Labels: .NET, kernel

#3438 Java: [maven-release-plugin] prepare release java-0.2.10-alpha
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-jdbc/pom.xml
  java/connectors/semantickernel-connectors-memory-mysql/pom.xml
  java/connectors/semantickernel-connectors-memory-postgresql/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/extensions/semantickernel-settings-loader/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#3439 Java: prepare for next development iteration
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-jdbc/pom.xml
  java/connectors/semantickernel-connectors-memory-mysql/pom.xml
  java/connectors/semantickernel-connectors-memory-postgresql/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/extensions/semantickernel-settings-loader/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#3441 Java: [maven-release-plugin] prepare release java-0.2.11-alpha
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-jdbc/pom.xml
  java/connectors/semantickernel-connectors-memory-mysql/pom.xml
  java/connectors/semantickernel-connectors-memory-postgresql/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/extensions/semantickernel-settings-loader/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#3442 Java: Prepare for next development iteration
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-jdbc/pom.xml
  java/connectors/semantickernel-connectors-memory-mysql/pom.xml
  java/connectors/semantickernel-connectors-memory-postgresql/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/extensions/semantickernel-settings-loader/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#3447 .Net: Refactor IAIServiceSelector to allow for additional parameters in future
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/Services/IAIServiceSelector.cs
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Functions/DelegatingAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/OrderedIAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/SemanticFunction.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
Labels: .NET, kernel, kernel.core

#3449 .Net: Small fixes for C# tutorial
  README.md
  dotnet/README.md
Labels: documentation, .NET

#3422 .Net: Add ReturnParameterView for native functions
  dotnet/src/Plugins/Plugins.Core/MathPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionView.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ReturnParameterView.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunction.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionViewTests.cs
Labels: .NET, kernel, kernel.core

#3371 .Net: Rename SKFunction factory methods
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/BasicPromptTemplateTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/PromptTemplateEngineTests.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunctionDelegate.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunction.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionViewTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, kernel

#3427 .Net: Remove the artificially created server-url parameter from OpenAPI function parameter view
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationTests.cs
Labels: enhancement, PR: in progress, .NET

#3452 .Net: Allow to exclude operations when importing and OpenAPI swagger
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
Labels: .NET

#3415 .Net: Add support for arbitrary service attributes - Option #1
  docs/decisions/0021-aiservice-metadata.md
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example34_CustomChatModel.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example61_MultipleLLMs.cs
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/samples/KernelSyntaxExamples/README.md
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/OpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/OpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresMemoryEntry.cs
  dotnet/src/IntegrationTests/Extensions/KernelSemanticFunctionExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/Services/IAIService.cs
  dotnet/src/SemanticKernel.Abstractions/Services/IAIServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Services/INamedServiceProvider.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.Core/Services/AIServiceSelectorBase.cs
  dotnet/src/SemanticKernel.Core/Services/NamedServiceProvider.cs
  dotnet/src/SemanticKernel.Core/Services/OrderedIAIServiceSelector.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Services/ServiceRegistryTests.cs
Labels: documentation, .NET, kernel, kernel.core, memory

#3458 .Net: Remove the code to load the BasicTemplateEngine by default
  dotnet/src/SemanticKernel.Core/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
Labels: .NET

#3063 Python: sync C# for Pre/Post RunAsync Handlers
  python/semantic_kernel/events/__init__.py
  python/semantic_kernel/events/function_invoked_event_args.py
  python/semantic_kernel/events/function_invoking_event_args.py
  python/semantic_kernel/events/sk_events_args.py
  python/semantic_kernel/kernel.py
  python/tests/unit/test_kernel.py
Labels: PR: ready to merge, python

#3478 .Net: Upgrade .Net notebooks to Microsoft.SemanticKernel, 1.0.0-beta6
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/01-basic-loading-the-kernel.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-context-variables-chat.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/notebooks/07-DALL-E-2.ipynb
  dotnet/notebooks/08-chatGPT-with-DALL-E-2.ipynb
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
Labels: .NET

#3488 Python: Add user agent to OpenAI and OpenAPI headers
  python/.vscode/extensions.json
  python/.vscode/launch.json
  python/.vscode/settings.json
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
  python/semantic_kernel/connectors/openapi/sk_openapi.py
  python/semantic_kernel/connectors/telemetry.py
  python/tests/unit/openapi/test_sk_openapi.py
Labels: python

#2990 Python: Adding Azure CosmosDB Mongo vCore as a datastore.
  python/.env.example
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/__init__.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmos_db_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmos_db_store_api.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/cosmosdb_utils.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/mongo_vcore_store_api.py
  python/semantic_kernel/memory/memory_record.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/connectors/memory/test_azure_cosmosdb_memory_store.py
Labels: python, memory

#3505 .Net: Fix an unnecessary string.Join
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunction.cs
Labels: .NET, kernel

#3509 .Net: Avoid creating new JsonSerializerOptions per Serialize/Deserialize
  dotnet/src/Experimental/Orchestration.Flow/FlowSerializer.cs
  dotnet/src/Functions/Functions.Grpc/GrpcOperationRunner.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
Labels: .NET

#3503 .Net: Add internal copy of [Experimental]
  dotnet/samples/KernelSyntaxExamples/Example63_FlowOrchestrator.cs
  dotnet/src/Experimental/Orchestration.Flow/AssemblyInfo.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ExperimentalAttribute.cs
Labels: .NET

#3506 .Net: Remove IOrderedEnumerable from method signatures
  dotnet/src/Planners/Planners.Core/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/PlannerConfigBase.cs
Labels: .NET

#3508 .Net: Fix a few issues with ChatHistoryExtensions
  dotnet/src/Planners/Planners.Core/Stepwise/ChatHistoryExtensions.cs
Labels: .NET

#3513 Python: Update Python notebooks to use release 0.3.15
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-skills.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
Labels: python

#3507 .Net: Remove use of ConcurrentBag from planner extensions
  dotnet/src/Planners/Planners.Core/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
Labels: .NET

#3497 .Net BugFix Adding Plugins.Memory to be correctly picked by code signing
  dotnet/SK-dotnet.sln
Labels: bug, .NET, PR: ready to merge

#3428 .Net: Handlebars Planner
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/KernelSyntaxExamples/README.md
  dotnet/src/IntegrationTests/Planners/HandlebarsPlanner/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/HandlebarsPlanner/HandlebarsTemplateEngineExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Planners.Core.UnitTests.csproj
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsParameterTypeView.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlan.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsTemplateEngineExtensions.cs
  dotnet/src/Planners/Planners.Core/Handlebars/NoLoops/skPrompt.handlebars
  dotnet/src/Planners/Planners.Core/Handlebars/skPrompt.handlebars
  dotnet/src/Planners/Planners.Core/Planners.Core.csproj
  samples/plugins/WriterPlugin/Translate/config.json
Labels: documentation, .NET, kernel, samples

#3446 .Net: Experimental Feature - Assistants API
  .github/_typos.toml
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/KernelSyntaxExamples/Example71_AssistantDelegation.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Plugins/MenuPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Resources/Assistants/ParrotAssistant.yaml
  dotnet/samples/KernelSyntaxExamples/Resources/Assistants/ToolAssistant.yaml
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Experimental/Assistants.UnitTests/Experimental.Assistants.UnitTests.csproj
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/KernelExtensionTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/OpenAIRestExtensions.AssistantTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/OpenAIRestExtensions.MessagesTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/OpenAIRestExtensions.RunTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/OpenAIRestExtensions.ThreadTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/SKFunctionExtensionTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Integration/AssistantHarness.cs
  dotnet/src/Experimental/Assistants.UnitTests/Integration/RunHarness.cs
  dotnet/src/Experimental/Assistants.UnitTests/Integration/ThreadHarness.cs
  dotnet/src/Experimental/Assistants.UnitTests/MockExtensions.cs
  dotnet/src/Experimental/Assistants.UnitTests/Templates/GameAssistant.yaml
  dotnet/src/Experimental/Assistants.UnitTests/Templates/PoetAssistant.yaml
  dotnet/src/Experimental/Assistants.UnitTests/TestConfig.cs
  dotnet/src/Experimental/Assistants.UnitTests/testsettings.json
  dotnet/src/Experimental/Assistants/AssistantBuilder.Static.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.cs
  dotnet/src/Experimental/Assistants/AssistantResponse.cs
  dotnet/src/Experimental/Assistants/Experimental.Assistants.csproj
  dotnet/src/Experimental/Assistants/Extensions/IKernelExtensions.cs
  dotnet/src/Experimental/Assistants/Extensions/ISKFunctionExtensions.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.Assistant.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.Messages.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.Run.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.Thread.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.cs
  dotnet/src/Experimental/Assistants/IAssistant.cs
  dotnet/src/Experimental/Assistants/IChatMessage.cs
  dotnet/src/Experimental/Assistants/IChatThread.cs
  dotnet/src/Experimental/Assistants/Internal/Assistant.cs
  dotnet/src/Experimental/Assistants/Internal/ChatMessage.cs
  dotnet/src/Experimental/Assistants/Internal/ChatRun.cs
  dotnet/src/Experimental/Assistants/Internal/ChatThread.cs
  dotnet/src/Experimental/Assistants/Internal/OpenAIRestContext.cs
  dotnet/src/Experimental/Assistants/Models/AssistantConfigurationModel.cs
  dotnet/src/Experimental/Assistants/Models/AssistantModel.cs
  dotnet/src/Experimental/Assistants/Models/OpenAIListModel.cs
  dotnet/src/Experimental/Assistants/Models/OpenAIParameters.cs
  dotnet/src/Experimental/Assistants/Models/ThreadMessageModel.cs
  dotnet/src/Experimental/Assistants/Models/ThreadModel.cs
  dotnet/src/Experimental/Assistants/Models/ThreadRunModel.cs
  dotnet/src/Experimental/Assistants/Models/ThreadRunStepModel.cs
  dotnet/src/Experimental/Assistants/Models/ToolModel.cs
  dotnet/src/Experimental/Assistants/Models/ToolResultModel.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
Labels: PR: ready for review, .NET, kernel, kernel.core, feature branch

#3510 .Net: Fix nullable reference type warnings
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataResult.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/PodType.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeUtils.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Diagnostics/Verify.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Functions/Functions.Grpc/GrpcOperationRunner.cs
  dotnet/src/Functions/Functions.Grpc/Protobuf/ProtoDocumentParser.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Serialization/ArrayParameterValueSerializer.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationResponseConverter.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Action/InstrumentedActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/InstrumentedSequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/InstrumentedStepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Plugins/Plugins.Memory/Collections/ScoredValue.cs
  dotnet/src/Plugins/Plugins.Memory/VolatileMemoryStore.cs
  dotnet/src/Plugins/Plugins.MsGraph/Connectors/Client/MsGraphClientLoggingHandler.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
  dotnet/src/SemanticKernel.Abstractions/Http/HttpHandlerFactory{THandler}.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/KernelResult.cs
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Prompt/XmlPromptParser.cs
  dotnet/src/SemanticKernel.Core/Services/OrderedIAIServiceSelector.cs
Labels: .NET, kernel, kernel.core, memory

#3519 .Net release 1.0.0-beta7
  dotnet/nuget/nuget-package.props
Labels: .NET

#3520 .Net: Fix ApplicationInsights Example to use SpanId to correlate operations and activities
  dotnet/samples/ApplicationInsightsExample/Program.cs
Labels: bug, PR: ready for review, .NET

#3516 .Net: Kernel class is moved abstractions
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/BasicPromptTemplateTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Extensions/ReadOnlyFunctionCollectionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/SKPluginCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/IFunctionRunner.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedIAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Orchestration/FunctionRunner.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionViewTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/FunctionResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/KernelResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, kernel, kernel.core

#3504 .Net: Delete StringExtensions
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunctionResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatHistory.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionTests.cs
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/Experimental.Orchestration.Flow.IntegrationTests.csproj
  dotnet/src/Experimental/Orchestration.Flow.UnitTests/Experimental.Orchestration.Flow.UnitTests.csproj
  dotnet/src/Functions/Functions.Grpc/Extensions/GrpcOperationExtensions.cs
  dotnet/src/InternalUtilities/src/Text/StringExtensions.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsTemplateEngineExtensions.cs
  dotnet/src/SemanticKernel.Core/Text/TextChunker.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/XmlPromptParserTests.cs
  dotnet/src/SemanticKernel.UnitTests/Text/StringExtensionsTests.cs
Labels: .NET, kernel, memory

#3517 .Net: Add serialisation and deserialisation of ChatHistory
  dotnet/samples/KernelSyntaxExamples/Example17_ChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example33_StreamingChat.cs
  dotnet/samples/KernelSyntaxExamples/Example34_CustomChatModel.cs
  dotnet/samples/KernelSyntaxExamples/Example44_MultiChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example49_LogitBias.cs
  dotnet/samples/KernelSyntaxExamples/Example63_FlowOrchestrator.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIChatMessage.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/CollectEmailPlugin.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/ChatHistorySerializer.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatMessage.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatStreamingResult.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryTests.cs
Labels: .NET, kernel, kernel.core

#3533 .Net: Remove unneeded InternalsVisibleTo in SK Abstractions project
  dotnet/src/Experimental/Assistants/Experimental.Assistants.csproj
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
Labels: .NET, kernel.core

#3450 Add support for OpenAPI responses and schema validation
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/RestApiOperationResponseExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Functions.OpenAPI.csproj
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationExpectedResponse.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationResponse.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationResponseTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/200FakeResponseSchema.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/2XXFakeResponseSchema.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/DefaultResponseSchema.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/FakeResponseSchema.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/InvalidProductContent.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/NotProductContent.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/ObjectResponseSchema.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/ProductResponseSchema.json
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/ResourceResponseProvider.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/ValidProductContent.json
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
Labels: .NET, kernel

#3532 .Net: New sample showing how to use an enum with OpenAI function calling
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/FunctionViewExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/FunctionViewExtensionsTests.cs
  dotnet/src/Planners/Planners.Core/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Schema/JsonSchemaFunctionView.cs
  dotnet/src/SemanticKernel.Core/Extensions/FunctionViewExtensions.cs
Labels: .NET, kernel, kernel.core

#3534 .Net: Version 1.0.0-beta8
  dotnet/nuget/nuget-package.props
Labels: .NET

#3518 .Net: Merge BasicPromptTemplateFactory to ms.sk.core
  dotnet/SK-dotnet.sln
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-context-variables-chat.ipynb
  dotnet/samples/ApplicationInsightsExample/ApplicationInsightsExample.csproj
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example64_MultiplePromptTemplates.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/Experimental.Orchestration.Flow.IntegrationTests.csproj
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/ReActEngine.cs
  dotnet/src/Experimental/Orchestration.Flow/Experimental.Orchestration.Flow.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Extensions/TemplateEngine.Basic/Extensions/KernelBasicPromptTemplateExtensions.cs
  dotnet/src/Extensions/TemplateEngine.Basic/TemplateEngine.Basic.csproj
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/Planners/Planners.Core/Planners.Core.csproj
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.OpenAI/Planners.OpenAI.csproj
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Core/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/Block.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/BlockTypes.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/FunctionIdBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ITextRendering.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/NamedArgBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/Symbols.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/TextBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ValBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/VarBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/CodeTokenizer.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/KernelPromptTemplateEngine.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/KernelPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/TemplateTokenizer.cs
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/FunctionIdBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/NamedArgBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/TextBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/ValBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/VarBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/CodeTokenizerTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/KernelPromptTemplateFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/KernelPromptTemplateTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/TemplateTokenizerTests.cs
Labels: .NET, kernel, kernel.core

#3531 .Net: Kernel is passed to SKFunction.InvokeAsync method
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example27_SemanticFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/ReActEngine.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/BasicPromptTemplateTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/TemplateEngine.Basic/BasicPromptTemplate.cs
  dotnet/src/Extensions/TemplateEngine.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/AzureOpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Plugins/Plugins.Core/ConversationSummaryPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKFunction.cs
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/IPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/Extensions/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionTextExtensions.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionViewTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/AggregatorPromptTemplateFactoryTests.cs
Labels: .NET, kernel, kernel.core

#3539 .Net: Update kernel template engine unit test namespaces
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/FunctionIdBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/NamedArgBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/TextBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/ValBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/VarBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/CodeTokenizerTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/TemplateTokenizerTests.cs
Labels: .NET, kernel

#3526 .Net: Propagate original unwrapped exception from NativeMethod
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
Labels: .NET, kernel

#3498 .Net: update duckdb and api usage
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.v3.ncrunchsolution
  dotnet/src/Connectors/Connectors.Memory.DuckDB/Database.cs
  dotnet/src/Connectors/Connectors.Memory.DuckDB/DuckDBExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.DuckDB/DuckDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/DuckDB/DuckDBMemoryStoreTests.cs
Labels: .NET, kernel, memory

#3457 .Net: Support for YAML and Markdown serializations of semantic functions
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Functions/Functions.Markdown/Extensions/KernelFunctionsMarkdownExtensions.cs
  dotnet/src/Functions/Functions.Markdown/Functions.Markdown.csproj
  dotnet/src/Functions/Functions.Markdown/Functions/SKFunctionMarkdown.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/Markdown/Functions/SKFunctionMarkdownTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/AIRequestSettingsNodeDeserializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/Functions/SKFunctionYamlTests.cs
  dotnet/src/Functions/Functions.Yaml/AIRequestSettingsNodeDeserializer.cs
  dotnet/src/Functions/Functions.Yaml/Extensions/KernelFunctionsPromptYamlExtensions.cs
  dotnet/src/Functions/Functions.Yaml/Functions.Yaml.csproj
  dotnet/src/Functions/Functions.Yaml/Functions/SKFunctionYaml.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Models/PromptFunctionModel.cs
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/SemanticFunction.cs
Labels: .NET, kernel.core

#3542 .Net: Add CancellationToken to ExecuteAsync methods
  dotnet/src/Functions/Functions.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
Labels: .NET

#3554 .Net: Rename deploymentName to modelId
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
Labels: .NET, kernel

#3548 .Net: Remove list allocation from ExecutionState.SetpExecutionState
  dotnet/src/Experimental/Orchestration.Flow/Execution/ExecutionState.cs
  dotnet/src/InternalUtilities/src/Extensions/DictionaryExtensions.cs
Labels: .NET

#3374 .Net: Reduce TextChunker allocation with default token counter
  dotnet/src/SemanticKernel.Core/Text/TextChunker.cs
Labels: .NET

#3530 .Net: Make SemanticKernel.UnitTests run on both .NET 6 and .NET Framework 4.8
  dotnet/Directory.Packages.props
  dotnet/src/InternalUtilities/src/Http/HttpClientExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKPluginCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/HttpMessageHandlerStub.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/MemoryRecordTests.cs
  dotnet/src/SemanticKernel.UnitTests/Reliability/NullHttpRetryHandlerTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/TemplateTokenizerTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/HttpClientExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/HttpContentExtensionsTests.cs
Labels: .NET, kernel

#3564 .Net: Consolidate Planners namespaces into Planning
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example28_ActionPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example66_FunctionCallingStepwisePlanner.cs
  dotnet/src/IntegrationTests/Planners/HandlebarsPlanner/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/HandlebarsPlanner/HandlebarsTemplateEngineExtensionsTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Extensions/ReadOnlyFunctionCollectionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Stepwise/ParseResultTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Stepwise/StepwisePlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/XunitHelpers/TestConsoleLogger.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanResponse.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Action/IActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Action/InstrumentedActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Extensions/FunctionViewExtensions.cs
  dotnet/src/Planners/Planners.Core/Extensions/PromptTemplateConfigExtensions.cs
  dotnet/src/Planners/Planners.Core/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsParameterTypeView.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlan.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsTemplateEngineExtensions.cs
  dotnet/src/Planners/Planners.Core/PlannerConfigBase.cs
  dotnet/src/Planners/Planners.Core/Planners.Core.csproj
  dotnet/src/Planners/Planners.Core/SemanticMemoryConfig.cs
  dotnet/src/Planners/Planners.Core/Sequential/ISequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/InstrumentedSequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanParser.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Stepwise/ChatHistoryExtensions.cs
  dotnet/src/Planners/Planners.Core/Stepwise/IStepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/InstrumentedStepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Stepwise/SystemStep.cs
  dotnet/src/Planners/Planners.Core/Utils/EmbeddedResource.cs
  dotnet/src/Planners/Planners.OpenAI/Planners.OpenAI.csproj
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlannerConfig.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlannerResult.cs
  dotnet/src/Planners/Planners.OpenAI/Utils/EmbeddedResource.cs
Labels: .NET, kernel

#3549 .Net: Delete use of [Serializable]
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionRequest.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/TextEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataChoice.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataMessage.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataRequest.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataSource.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataSourceParameters.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingChoice.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingDelta.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingMessage.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResponse.cs
Labels: .NET, kernel

#3546 .Net: Delete AggregatePartitionedResultsAsync
  dotnet/src/Plugins/Plugins.Core/ConversationSummaryPlugin.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionTextExtensions.cs
Labels: .NET

#3551 .Net: Fix up some issues related to JSON Schema
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/SKFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/SKFunctionMetadataExtensionsTests.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/OpenApiSchemaExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/RestApiOperationResponseExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationExpectedResponse.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationPayload.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationResponse.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationResponseTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationRunnerTests.cs
  dotnet/src/Planners/Planners.Core/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaFunctionContent.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaFunctionParameters.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaFunctionResponse.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaFunctionView.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaResponse.cs
  dotnet/src/Planners/Planners.Core/Schema/SKFunctionMetadataExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/SKJsonSchema.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/SKParameterMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/SKReturnParameterMetadata.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionMetadataTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKJsonSchemaTests.cs
Labels: .NET, kernel, kernel.core

#3558 .Net: Clean up planner interfaces and instrumentation
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Action/IActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Action/InstrumentedActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/ISequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/InstrumentedSequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Stepwise/IStepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/InstrumentedStepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlannerExtensions.cs
  dotnet/src/SemanticKernel.Core/Extensions/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Planning/IPlanner.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlanner.cs
  dotnet/src/SemanticKernel.Core/Planning/PlanExtensions.cs
  dotnet/src/SemanticKernel.Core/Planning/PlannerExtensions.cs
Labels: .NET, kernel

#3572 .Net: Remove kernel props from context
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedNativeFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/src/Experimental/Assistants/Extensions/KernelExtensions.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/ReActEngine.cs
  dotnet/src/Extensions/TemplateEngine.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Extensions/ReadOnlyFunctionCollectionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Abstractions/Services/IAIServiceSelector.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedIAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Extensions/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.Core/Services/AIServiceSelectorBase.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionMetadataTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/FunctionResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/KernelResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/KernelPromptTemplateTests.cs
Labels: .NET, kernel, kernel.core

#3584 .Net Remove KernelResult class
  dotnet/samples/KernelSyntaxExamples/Example02_Pipeline.cs
  dotnet/samples/KernelSyntaxExamples/Example03_Variables.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Extensions/KernelSemanticFunctionExtensionsTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/WebPlugin/WebPluginTests.cs
  dotnet/src/InternalUtilities/test/FunctionHelpers.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsTemplateEngineExtensions.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/KernelResult.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/KernelResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, kernel, kernel.core

#3588 .Net: Make EventHandlerWrapper internal
  dotnet/src/SemanticKernel.Abstractions/Functions/EventHandlerWrapperOfT.cs
Labels: .NET, kernel.core

#3587 .Net: Rename SKFunction to SKFunctionFactory
  docs/decisions/0022-skfunction.md
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/samples/NCalcPlugins/SimpleCalculatorPlugin.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/KernelExtensionTests.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Functions/Functions.Markdown/Functions/SKFunctionMarkdown.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/Functions/Functions.Yaml/Functions/SKFunctionYaml.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Extensions/ReadOnlyFunctionCollectionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaFunctionContent.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaFunctionParameters.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaFunctionResponse.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaFunctionView.cs
  dotnet/src/Planners/Planners.Core/Schema/JsonSchemaResponse.cs
  dotnet/src/Plugins/Plugins.Core/ConversationSummaryPlugin.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/SKPluginExtensions.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionMetadataTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKPluginCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKPluginTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/KernelPromptTemplateTests.cs
Labels: documentation, .NET, kernel

#3590 .Net: Remove remaining [Obsolete] usage
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionResult.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/DataHelper.cs
  dotnet/src/InternalUtilities/src/Diagnostics/IsExternalInit.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/CosineSimilarityOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/DivideOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/DotProductOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/EuclideanLengthOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/MultiplyOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/NormalizeOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/SpanExtensions.cs
Labels: .NET, kernel, kernel.core

#3592 .Net: Replace some switch statements with switch expressions
  dotnet/samples/KernelSyntaxExamples/Example55_TextChunker.cs
  dotnet/src/Functions/Functions.Grpc/GrpcOperationRunner.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/RestApiOperationResponseExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/NamedArgBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/CodeTokenizer.cs
Labels: .NET

#3593 .Net: Remove a few unnecessary null suppressions
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/OpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
Labels: .NET, kernel

#3570 .Net: Clean up a few exception throws
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Serialization/FormStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Serialization/PipeDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenAPI/Builders/Serialization/SpaceDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/Grpc/Protobuf/TestPlugins/ResourcePluginsProvider.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/Serialization/PipeDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/Serialization/SpaceDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenApiTestHelper.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestPlugins/ResourcePluginsProvider.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestResponses/ResourceResponseProvider.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/InternalUtilities/src/Linq/AsyncEnumerable.cs
  dotnet/src/SemanticKernel.Core/Services/AIServiceCollection.cs
Labels: .NET, kernel, memory

#3594 .Net: SKContext.Culture property removed
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Core/Extensions/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/KernelBuilder.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel, kernel.core

#3589 .Net: Consolidate use of JsonSerializerOptions
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/OpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIRequestSettings.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIRequestSettingsConverter.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoSerializer.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/PodType.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeDocument.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeUtils.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Http/HttpRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIRequestSettingsConverterTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIRequestSettingsTests.cs
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/SendEmailPlugin.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/InternalUtilities/src/Http/HttpRequest.cs
  dotnet/src/InternalUtilities/src/Text/Json.cs
  dotnet/src/InternalUtilities/src/Text/JsonOptionsCache.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/SKJsonSchema.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ModelResult.cs
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
Labels: .NET, kernel, kernel.core, memory

#3576 .Net: Remove SKParameterMetadata.Type and ParameterJsonType
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/SKFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/SKFunctionMetadataExtensionsTests.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/ReActEngine.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsTemplateEngineExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ParameterJsonType.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/SKParameterMetadata.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/ParameterJsonTypeTests.cs
Labels: .NET, kernel, kernel.core

#3621 .Net: Move instrumentation into KernelFunction
  dotnet/src/Functions/Functions.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Core/Extensions/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedKernelFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/SKPlugin.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
Labels: .NET, kernel.core

#3622 .Net: Rename skFunction locals/parameters to function
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Example61_MultipleLLMs.cs
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/samples/KernelSyntaxExamples/Example64_MultiplePromptTemplates.cs
  dotnet/src/Experimental/Assistants/Extensions/KernelFunctionExtensions.cs
  dotnet/src/Extensions/TemplateEngine.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/Markdown/Functions/SKFunctionMarkdownTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/Functions/SKFunctionYamlTests.cs
  dotnet/src/IntegrationTests/Planners/HandlebarsPlanner/HandlebarsTemplateEngineExtensionsTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Plugins/SamplePluginsTests.cs
  dotnet/src/Planners/Planners.Core/Schema/SKFunctionMetadataExtensions.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanParser.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/SKEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKPluginExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Services/IAIServiceSelector.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedIAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Services/AIServiceSelectorBase.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKPluginCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, kernel, kernel.core

#3601 .Net: Delete IPlanner and associated WithInstrumentation
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Core/PlannerInstrumentation.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/SemanticKernel.Core/Planning/IPlanner.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlanner.cs
  dotnet/src/SemanticKernel.Core/Planning/PlannerExtensions.cs
Labels: .NET, kernel

#3638 .Net: Make KernelFunction properties read-only
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
Labels: .NET, kernel.core

#3623 .Net: Move static factory methods to KernelPluginFactory
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/KernelSyntaxExamples/Example71_AssistantDelegation.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/SKPlugin.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET

#3641 .Net: Several Kernel-related improvements / fixes
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example71_AssistantDelegation.cs
  dotnet/src/Experimental/Assistants.UnitTests/Integration/RunHarness.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.Static.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.cs
  dotnet/src/Experimental/Assistants/IAssistant.cs
  dotnet/src/Experimental/Assistants/Internal/Assistant.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/TestHelpers.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/EmptyReadOnlySKPluginCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKPluginCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKPluginExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/SKPluginCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/KernelPromptTemplateTests.cs
Labels: .NET, kernel, kernel.core

#3644 .Net: Remove event handler wrapper from SKContext
  dotnet/src/SemanticKernel.Abstractions/Functions/EventHandlerWrapperOfT.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
Labels: .NET, kernel.core

#3578 .Net: Removing AIServiceSelectorBase.cs as pattern for custom IAIServiceSelector has been simplified
  dotnet/src/SemanticKernel.Core/Services/AIServiceSelectorBase.cs
Labels: .NET

#3647 .Net: Remove support for passing multiple functions to Kernel.RunAsync
  dotnet/samples/KernelSyntaxExamples/Example02_Pipeline.cs
  dotnet/samples/KernelSyntaxExamples/Example03_Variables.cs
  dotnet/samples/KernelSyntaxExamples/Example04_CombineLLMPromptsAndNativeCode.cs
  dotnet/samples/KernelSyntaxExamples/Example05_InlineFunctionDefinition.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example11_WebSearchQueries.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example35_GrpcPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedNativeFunctions.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/WebPlugin/WebPluginTests.cs
  dotnet/src/InternalUtilities/test/FunctionHelpers.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, kernel, kernel.core

#3496 .Net Kernel and ISKFunction Streaming Option #1 (Phase 1)
  docs/decisions/0023-kernel-streaming.md
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example72_KernelStreaming.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/StreamingTextContent.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionRequest.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/StreamingChatContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/StreamingChatWithDataContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/StreamingTextContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingChoice.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/IntegrationTests/Extensions/KernelSemanticFunctionExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/StreamingContent.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/StreamingMethodContent.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: documentation, enhancement, PR: ready for review, .NET, PR: ready to merge, kernel, kernel.core, v1.0 candidate

#3648 .Net: Move code to invoke pre and post hooks down to KernelFunction
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/SKCancelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/SKEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, kernel, kernel.core

#3654 .Net: Rename Kernel.RunAsync to Kernel.InvokeAsync
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example03_Variables.cs
  dotnet/samples/KernelSyntaxExamples/Example05_InlineFunctionDefinition.cs
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example11_WebSearchQueries.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example35_GrpcPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureRequestSettings.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedNativeFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example61_MultipleLLMs.cs
  dotnet/samples/KernelSyntaxExamples/Example63_ChatCompletionPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example64_MultiplePromptTemplates.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/src/Experimental/Assistants/Internal/ChatRun.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
  dotnet/src/InternalUtilities/test/FunctionHelpers.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/MultipleModelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, kernel

#3655 .Net: Eliminate the MS.SK.TemplateEngine namespace
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureRequestSettings.cs
  dotnet/samples/KernelSyntaxExamples/Example61_MultipleLLMs.cs
  dotnet/samples/KernelSyntaxExamples/Example64_MultiplePromptTemplates.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/ReActEngine.cs
  dotnet/src/Experimental/Orchestration.Flow/Extensions/PromptTemplateConfigExtensions.cs
  dotnet/src/Experimental/Orchestration.Flow/FlowOrchestratorConfig.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Handlebars/HandlebarsPromptTemplateFactoryTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Functions/Functions.Markdown/Extensions/KernelFunctionsMarkdownExtensions.cs
  dotnet/src/Functions/Functions.Markdown/Functions/SKFunctionMarkdown.cs
  dotnet/src/Functions/Functions.Yaml/Extensions/KernelFunctionsPromptYamlExtensions.cs
  dotnet/src/Functions/Functions.Yaml/Functions/SKFunctionYaml.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/Planners/Planners.Core/Extensions/PromptTemplateConfigExtensions.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlannerConfig.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Models/PromptFunctionModel.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/IPromptTemplate.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/IPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/SKPluginExtensions.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/AggregatorPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/Block.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ITextRendering.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/MultipleModelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/AggregatorPromptTemplateFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/PromptTemplateConfigTests.cs
Labels: .NET, kernel, kernel.core

#3662 .Net Kernel Streaming Unit and Integration Tests
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel.Core/Functions/SKFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromPromptTests.cs
Labels: PR: ready for review, .NET, kernel

#3667 .Net Clean Old Streaming APIs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/Example26_AADAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example32_StreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example33_StreamingChat.cs
  dotnet/samples/KernelSyntaxExamples/Example36_MultiCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example37_MultiStreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example41_HttpClientUsage.cs
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example63_FlowOrchestrator.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/StreamingChatContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIModelResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/IntegrationTests/Extensions/KernelSemanticFunctionExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
Labels: .NET, kernel, kernel.core

#3672 .Net: Upgrade to the 8.0 LTS versions of nuget packages
  dotnet/Directory.Packages.props
  dotnet/samples/ApplicationInsightsExample/ApplicationInsightsExample.csproj
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/Connectors.Memory.Postgres.csproj
  dotnet/src/Connectors/Connectors.Memory.Redis/Connectors.Memory.Redis.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/Experimental.Orchestration.Flow.IntegrationTests.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel, memory

#3673 .Net: Remove dependency on planners.core
  dotnet/SK-dotnet.sln
  dotnet/src/InternalUtilities/planning/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/InternalUtilities/planning/Extensions/SKFunctionMetadataExtensions.cs
  dotnet/src/InternalUtilities/planning/PlannerConfigBase.cs
  dotnet/src/InternalUtilities/planning/PlanningUtilities.props
  dotnet/src/InternalUtilities/planning/Schema/JsonSchemaFunctionContent.cs
  dotnet/src/InternalUtilities/planning/Schema/JsonSchemaFunctionParameters.cs
  dotnet/src/InternalUtilities/planning/Schema/JsonSchemaFunctionResponse.cs
  dotnet/src/InternalUtilities/planning/Schema/JsonSchemaFunctionView.cs
  dotnet/src/InternalUtilities/planning/Schema/JsonSchemaResponse.cs
  dotnet/src/InternalUtilities/planning/Schema/SKFunctionMetadataExtensions.cs
  dotnet/src/InternalUtilities/planning/SemanticMemoryConfig.cs
  dotnet/src/Planners/Planners.Core/Planners.Core.csproj
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlannerConfig.cs
  dotnet/src/Planners/Planners.Handlebars/Planners.Handlebars.csproj
  dotnet/src/Planners/Planners.OpenAI/Planners.OpenAI.csproj
Labels: .NET

#3678 .Net: Move Plan to the ms.sk.planners.core package
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Planning/PlanTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Planning/PlanVariableExpansionTests.cs
  dotnet/src/Planners/Planners.Core/KernelPlanExtensions.cs
  dotnet/src/Planners/Planners.Core/Plan.cs
  dotnet/src/Planners/Planners.Core/PlanExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/FunctionResult.cs
Labels: .NET, kernel, kernel.core

#3674 .Net: OpenAI Connector Internals Update Azure Beta 9
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/Example33_StreamingChat.cs
  dotnet/samples/KernelSyntaxExamples/Example37_MultiStreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example72_KernelStreaming.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/StreamingChatContent.cs
Labels: .NET, kernel

#3671 .Net: KernelFunctionArguments class has been added
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionArguments.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionArgumentsTests.cs
Labels: .NET, kernel, kernel.core

#3580 Python: fixes for base class issues
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_embedding.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/openapi/sk_openapi.py
  python/semantic_kernel/sk_pydantic.py
  python/tests/unit/openapi/test_sk_openapi.py
Labels: python

#3701 .Net: Temporarily excluding planners and flow orchestrator
  .github/workflows/dotnet-build-and-test.yml
  dotnet/SK-dotnet.sln
  dotnet/samples/ApplicationInsightsExample/ApplicationInsightsExample.csproj
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
Labels: .NET, kernel, kernel.core

#3712 Python: undo small changes in init and utils
  python/semantic_kernel/__init__.py
  python/semantic_kernel/utils/settings.py
Labels: python

#3573 Python: extended notebook 06 to showcase Azure AI Search for semantic memory
  python/notebooks/.env.example
  python/notebooks/06-memory-and-embeddings.ipynb
  python/semantic_kernel/__init__.py
  python/semantic_kernel/utils/settings.py
Labels: python

#3394 ADR for JSON-serializable custom types
  docs/decisions/0021-json-serializable-custom-types.md
Labels: documentation

#3599 .Net: Update Application Insights Example
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/TelemetryExample/Program.cs
  dotnet/samples/TelemetryExample/RepoUtils/Env.cs
  dotnet/samples/TelemetryExample/RepoUtils/RepoFiles.cs
  dotnet/samples/TelemetryExample/TelemetryExample.csproj
Labels: enhancement, .NET

#3721 .Net: Remove IPromptTemplate.Parameters
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/TemplateEngine.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/IPromptTemplate.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/AggregatorPromptTemplateFactoryTests.cs
Labels: .NET, kernel, kernel.core

#3725 Python: reverts of changed files
  python/.env.example
  python/notebooks/05-using-the-planner.ipynb
  python/semantic_kernel/memory/memory_record.py
Labels: python

#3716 .Net: Fix OpenAI JSON manifest parsing (underscore cases)
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/OpenAIAuthenticationConfig.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenAI/KernelOpenAIPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/TestPlugins/ai-plugin2.json
Labels: bug, .NET

#3727 .Net BugFix #3715 Exception Streaming OpenAI Chat WithData (Example 54)
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataRequest.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIPromptExecutionSettings.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel

#3729 .Net: Replace straggling Add usage with AddRange
  dotnet/src/Experimental/Assistants/AssistantBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPluginCollection.cs
Labels: .NET, kernel.core

#3740 Python: Fix integration test keyword args. Bump python package version to 0.4.0.dev.
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_azure_oai_text_service.py
  python/tests/integration/completions/test_conversation_summary_skill.py
  python/tests/integration/embeddings/test_azure_oai_embedding_service.py
  python/tests/integration/embeddings/test_hf_embedding_service.py
  python/tests/integration/planning/sequential_planner/test_sequential_plan_parser.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
Labels: python

#3739 .Net: Handlebars Planner - Passing kernel in method signatures instead of constructors
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/TelemetryExample/Program.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlan.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsTemplateEngineExtensions.cs
Labels: .NET, kernel

#3741 Python: Temp skip hugging face int tests until we can investigate stability.
  python/tests/integration/completions/test_hf_local_text_completions.py
  python/tests/integration/completions/test_hf_local_text_summarization.py
Labels: python

#3555 Python: Make SK compatible with OpenAI 1.0
  python/poetry.lock
  python/pyproject.toml
  python/samples/kernel-syntax-examples/azure_chat_gpt_api.py
  python/samples/kernel-syntax-examples/chat_gpt_api_function_calling.py
  python/samples/kernel-syntax-examples/openai_function_calling.py
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/ai/ai_service_client_base.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_embedding.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/const.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_model_types.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding_base.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/semantic_kernel/orchestration/sk_context.py
  python/semantic_kernel/orchestration/sk_function.py
  python/semantic_kernel/sk_pydantic.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/completions/conftest.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_azure_oai_text_service.py
  python/tests/integration/completions/test_conversation_summary_skill.py
  python/tests/integration/completions/test_hf_local_text_completions.py
  python/tests/integration/completions/test_hf_local_text_summarization.py
  python/tests/integration/embeddings/test_azure_oai_embedding_service.py
  python/tests/integration/embeddings/test_hf_embedding_service.py
  python/tests/integration/planning/sequential_planner/test_sequential_plan_parser.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
  python/tests/unit/ai/google_palm/services/test_palm_chat_completion.py
  python/tests/unit/ai/google_palm/services/test_palm_text_completion.py
  python/tests/unit/ai/google_palm/services/test_palm_text_embedding.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_text_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_text_embedding.py
  python/tests/unit/ai/open_ai/services/test_openai_chat_completion.py
  python/tests/unit/ai/open_ai/services/test_openai_text_completion.py
Labels: python

#3745 .Net: Some fixes to clean up after previous PR's
  dotnet/src/Extensions/TemplateEngine.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/InternalUtilities/planning/Extensions/KernelFunctionMetadataExtensions.cs
  dotnet/src/InternalUtilities/planning/Schema/KernelFunctionMetadataExtensions.cs
Labels: .NET, kernel

#3753 .Net: Fix ordered service selector
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedAIServiceSelector.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceConfigurationProviderTests.cs
Labels: .NET, kernel, kernel.core

#3738 .Net: Rename AzureTextCompletion to AzureOpenAITextCompletion
  dotnet/samples/KernelSyntaxExamples/Example32_StreamingCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureOpenAITextCompletion.cs
Labels: .NET, kernel

#3755 .Net: Copy PlannerInstrumentation.cs to InternalUtilities
  dotnet/SK-dotnet.sln
  dotnet/src/InternalUtilities/planning/PlannerInstrumentation.cs
Labels: .NET, planner

#3757 .Net: Adding IChatCompletion Streaming ChatHistory as input
  dotnet/samples/KernelSyntaxExamples/Example33_StreamingChat.cs
  dotnet/samples/KernelSyntaxExamples/Example37_MultiStreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatCompletion.cs
Labels: .NET, kernel, kernel.core

#3769 .Net The KernelFunctionArguments class is renamed to KernelArguments
  dotnet/samples/KernelSyntaxExamples/Example03_Variables.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example35_GrpcPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/samples/KernelSyntaxExamples/Example64_MultiplePromptTemplates.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/PluginCollectionExtensions.cs
  dotnet/src/Experimental/Assistants/Internal/ChatRun.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/KernelOpenApiPluginExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
  dotnet/src/InternalUtilities/test/FunctionHelpers.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsTemplateEngineExtensions.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/Plugins/Plugins.Core/ConversationSummaryPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/KernelCancelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/KernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelArguments.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionArguments.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/Services/IAIServiceSelector.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Extensions/KernelFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelArgumentsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceConfigurationProviderTests.cs
Labels: .NET, kernel, kernel.core

#3773 .Net: Optional arguments parameter for template and code rendering API
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/src/Extensions/TemplateEngine.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/IPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/AggregatorPromptTemplateFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel, kernel.core

#3772 .Net Semantic Function -> Prompt Function Missing Renaming
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example10_DescribeAllPluginsAndFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example27_PromptFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureRequestSettings.cs
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedNativeFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example61_MultipleLLMs.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/KernelSyntaxExamples/Example72_KernelStreaming.cs
  dotnet/samples/KernelSyntaxExamples/Plugins/DictionaryPlugin/ComplexParamsDictionaryPlugin.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Functions/Functions.Markdown/Extensions/KernelFunctionsMarkdownExtensions.cs
  dotnet/src/Functions/Functions.Markdown/Functions/KernelFunctionMarkdown.cs
  dotnet/src/Functions/Functions.UnitTests/Markdown/Functions/KernelFunctionMarkdownTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/PromptExecutionSettingsNodeDeserializerTests.cs
  dotnet/src/Functions/Functions.Yaml/Extensions/KernelFunctionsPromptYamlExtensions.cs
  dotnet/src/Functions/Functions.Yaml/Functions/KernelFunctionYaml.cs
  dotnet/src/IntegrationTests/TestHelpers.cs
  dotnet/src/Plugins/Plugins.Core/ConversationSummaryPlugin.cs
  dotnet/src/Plugins/Plugins.Core/PromptFunctionConstants.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Extensions/KernelFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginExtensions.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET, kernel, kernel.core

#3770 .Net: The FunctionResult class has been made immutable
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.UnitTests/Events/FunctionInvokedEventArgsTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel, kernel.core

#3775 .Net Native Function -> Method Function Missing Renaming
  dotnet/samples/KernelSyntaxExamples/Example01_MethodFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateMethodFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedMethodFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/KernelSyntaxExamples/Plugins/DictionaryPlugin/StringParamsDictionaryPlugin.cs
  dotnet/src/InternalUtilities/test/FunctionHelpers.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelNameAttribute.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionTests3.cs
Labels: .NET, kernel, kernel.core

#3762 .Net: Instrument the HandleBars planner
  dotnet/src/InternalUtilities/planning/PlannerInstrumentation.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Handlebars/Planners.Handlebars.csproj
Labels: enhancement, .NET, planner

#3846 .Net: Fix handling execution settings that are in string format
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIPromptExecutionSettingsConverter.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsConverterTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/Functions/KernelFunctionYamlTests.cs
Labels: .NET, kernel

#3783 .Net Kernel RunStreaming to InvokeStreaming + Small other Run to Invoke changes
  dotnet/samples/KernelSyntaxExamples/Example72_KernelStreaming.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel

#3847 .Net: Add tests for KernelBuilder (and tweak the DI workaround)
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/KernelBuilder.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelBuilderTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel, kernel.core

#3791 .Net: Add streaming equivalent to InvokePromptAsync
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureRequestSettings.cs
  dotnet/samples/KernelSyntaxExamples/Example61_MultipleLLMs.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET, kernel

#3849 .Net: Net: Tiny fixes found during bug bash
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example72_KernelStreaming.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelBuilderTests.cs
Labels: .NET, kernel, kernel.core
