Repository microsoft/semantic-kernel, pull requests merged in 2023-07, with the labels that each got.

#1712 Java: Http skill Added
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/HttpSkill.java
  java/semantickernel-core-skills/src/test/java/com/microsoft/semantickernel/coreskills/HttpSkillTest.java
Labels: feature branch, java

#1801 Remove some unnecessary null checks
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
Labels: .NET, PR: ready to merge, kernel.core

#1803 Fixed function parameter not being used for LoadFromFile
  samples/notebooks/dotnet/config/Settings.cs
Labels: .NET, PR: ready to merge, samples

#1686 Update Redis Connector README.md with various options to get RediSearch
  dotnet/src/Connectors/Connectors.Memory.Redis/README.md
Labels: documentation, .NET, PR: ready to merge, kernel

#1785 Notebook showing how to leverage Chroma for Semantic Memory
  samples/notebooks/dotnet/09-memory-with-chroma.ipynb
Labels: .NET, PR: ready to merge, samples

#1794 Improve postgres memory
  dotnet/samples/KernelSyntaxExamples/Example39_Postgres.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/IndexDefinition.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresMemoryEntry.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/README.md
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Postgres/PostgresMemoryStoreTests.cs
Labels: .NET, PR: ready to merge, kernel, memory, connector

#1816 Python: Fix for SemanticTextMemory Embedding issue
  python/semantic_kernel/memory/semantic_text_memory.py
Labels: python

#1822 Fix in labeler.yml
  .github/labeler.yml
Labels: github actions, github_actions

#1799 Downgrade several 7.0.* packages to 6.0.*
  .github/dependabot.yml
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/Connectors.Memory.Postgres.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/RedirectOutput.cs
  dotnet/src/IntegrationTests/XunitLogger.cs
  dotnet/src/Skills/Skills.UnitTests/XunitHelpers/XunitLogger.cs
Labels: .NET, kernel, memory

#1795 Java: Connectors - Memory - Unit test coverage #1598
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/DataEntryBase.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryRecord.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryStore.java
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/DefaultSemanticTextMemory.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/memory/VolatileMemoryStore.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryTests.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/MemoryExceptionTests.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/MemoryRecordTests.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/memory/VolatileMemoryStoreTests.java
Labels: java

#1842 Copilot Chat: Url DataAnnotation is not compatible with Uri. Should be string
  samples/apps/copilot-chat-app/webapi/ConfigurationExtensions.cs
  samples/apps/copilot-chat-app/webapi/Options/ServiceOptions.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: bug, samples, copilot chat

#1729 Feature/notebook bing search
  .gitignore
  samples/notebooks/dotnet/00-getting-started.ipynb
  samples/notebooks/dotnet/01-basic-loading-the-kernel.ipynb
  samples/notebooks/dotnet/02-running-prompts-from-file.ipynb
  samples/notebooks/dotnet/03-semantic-function-inline.ipynb
  samples/notebooks/dotnet/04-context-variables-chat.ipynb
  samples/notebooks/dotnet/05-using-the-planner.ipynb
  samples/notebooks/dotnet/06-memory-and-embeddings.ipynb
  samples/notebooks/dotnet/07-DALL-E-2.ipynb
  samples/notebooks/dotnet/08-chatGPT-with-DALL-E-2.ipynb
  samples/notebooks/dotnet/10-BingSearch-using-kernel.ipynb
  samples/notebooks/python/00-getting-started.ipynb
  samples/notebooks/python/01-basic-loading-the-kernel.ipynb
  samples/notebooks/python/02-running-prompts-from-file.ipynb
  samples/notebooks/python/03-semantic-function-inline.ipynb
  samples/notebooks/python/04-context-variables-chat.ipynb
  samples/notebooks/python/05-using-the-planner.ipynb
  samples/notebooks/python/06-memory-and-embeddings.ipynb
  samples/notebooks/python/07-hugging-face-for-skills.ipynb
  samples/notebooks/python/08-native-function-inline.ipynb
Labels: PR: ready to merge, samples

#1864 Python: Enable pinecone tests to run in CI
  python/tests/integration/connectors/memory/test_pinecone.py
Labels: bug, python

#1870 Improve README.md
  README.md
Labels: documentation, PR: ready for review

#1860 Copilot Chat: Fix redirect URI update in deploy scripts
  samples/apps/copilot-chat-app/deploy/README.md
  samples/apps/copilot-chat-app/deploy/deploy-webapp.ps1
  samples/apps/copilot-chat-app/deploy/deploy-webapp.sh
Labels: documentation, PR: ready for review, samples, copilot chat

#1612 Copilot Chat: Reduce calls to MSAL getIdToken
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatStatus.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/header/UserSettings.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/AppState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/appSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/message-relay/signalRMiddleware.ts
Labels: PR: ready to merge, samples, copilot chat, copilot dev ux

#1885 Adding CopilotChat.sln
  samples/apps/copilot-chat-app/CopilotChat.sln
Labels: samples, copilot chat

#1887 Adding dotnet.defaultSolution to .vscode settings
  .vscode/settings.json
Labels: PR: ready to merge

#1884 Cleanup repo root
  compliance.yml
  dotnet/build.cmd
  dotnet/build.sh
  dotnet/nuget.config
  samples/apps/copilot-chat-app/webapi/nuget.config
  samples/dotnet/nuget.config
Labels: .NET, PR: ready to merge, samples, copilot chat

#1802 Extracting plan json from ActionPlanner result
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
Labels: .NET, PR: ready to merge, planner, kernel, samples, copilot chat, sk team issue

#1895 Removing TrustService from Kernel.Core (to become extension)
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/IntegrationTests/Security/TrustServiceTests.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ContextVariables.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/Security/ITrustService.cs
  dotnet/src/SemanticKernel.Abstractions/Security/TrustAwareString.cs
  dotnet/src/SemanticKernel.Abstractions/Security/TrustService.cs
  dotnet/src/SemanticKernel.Abstractions/Security/UntrustedContentException.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticFunctions/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ISKFunction.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/SKFunctionAttribute.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/ContextVariablesTests.cs
  dotnet/src/SemanticKernel.UnitTests/Security/TrustAwareStringTests.cs
  dotnet/src/SemanticKernel.UnitTests/Security/TrustServiceTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests1.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests4.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/KernelBuilder.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/InlineFunctionsDefinitionExtension.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/Skills/Skills.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
Labels: .NET, PR: ready to merge, kernel, kernel.core

#1558 Copilot Chat: CI Tests
  .github/workflows/copilot-chat-tests.yml
  samples/apps/copilot-chat-app/importdocument/sample-docs/Lorem_ipsum.pdf
  samples/apps/copilot-chat-app/webapp/.env.example
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/playwright.config.ts
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ShareBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationCreateDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationJoinDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/components/header/UserSettings.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginConnector.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginGallery.tsx
  samples/apps/copilot-chat-app/webapp/src/components/utils/TextUtils.ts
  samples/apps/copilot-chat-app/webapp/tests/chat.test.ts
  samples/apps/copilot-chat-app/webapp/tests/testsBasic.ts
  samples/apps/copilot-chat-app/webapp/tests/testsMultiuser.ts
  samples/apps/copilot-chat-app/webapp/tests/testsPlanner.ts
  samples/apps/copilot-chat-app/webapp/tests/utils.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: PR: ready for review, samples, copilot chat

#1685 Copilot Chat: Fix header and chat list UI bugs
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/header/UserSettings.tsx
  samples/apps/copilot-chat-app/webapp/src/index.tsx
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/appSlice.ts
  samples/apps/copilot-chat-app/webapp/src/styles.tsx
Labels: samples, copilot chat, copilot ux

#1872 Update feature matrix with the latest Java state
  FEATURE_MATRIX.md
Labels: documentation

#1877 Java: Configure pom for releases
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-extensions-parent/actionplanner-extension/pom.xml
  java/semantickernel-extensions-parent/pom.xml
  java/semantickernel-extensions-parent/sequentialplanner-extensions/pom.xml
Labels: java

#1489 Python: Update notebooks and add samples for streaming and multiple responses
  samples/notebooks/python/00-getting-started.ipynb
  samples/notebooks/python/01-basic-loading-the-kernel.ipynb
  samples/notebooks/python/02-running-prompts-from-file.ipynb
  samples/notebooks/python/03-semantic-function-inline.ipynb
  samples/notebooks/python/04-context-variables-chat.ipynb
  samples/notebooks/python/05-using-the-planner.ipynb
  samples/notebooks/python/06-memory-and-embeddings.ipynb
  samples/notebooks/python/07-hugging-face-for-skills.ipynb
  samples/notebooks/python/08-native-function-inline.ipynb
  samples/notebooks/python/10-multiple-results-per-prompt.ipynb
  samples/notebooks/python/11-streaming-completions.ipynb
Labels: samples

#1357 Added a text completion connector to oobabooga text-generation-webui project
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Connectors/Connectors.AI.Oobabooga/Connectors.AI.Oobabooga.csproj
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaInvalidResponseException.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionRequest.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionResponse.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionStreamingResponse.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionStreamingResult.cs
  dotnet/src/Connectors/Connectors.UnitTests/ConnectedClient.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/OobaboogaTestHelper.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/OobaboogaWebSocketTestServer.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TestData/completion_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TestData/completion_test_streaming_response.json
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TextCompletion/OobaboogaTextCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/WebSocketTestServer.cs
  dotnet/src/Connectors/Connectors.UnitTests/XunitLogger.cs
  dotnet/src/IntegrationTests/Connectors/Oobabooga/OobaboogaTextCompletionTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/README.md
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionExtensions.cs
Labels: documentation, PR: feedback to address, .NET, kernel, kernel.core, connector

#1892 Java: Fix example12 test
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example12SequentialPlannerTest.java
Labels: PR: ready for review, java

#1849 Java: Fix reactor flatMap producing out of order results
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultCompletionSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/DefaultPromptTemplateEngine.java
  java/semantickernel-extensions-parent/sequentialplanner-extensions/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/DefaultSequentialPlannerSKContext.java
Labels: java

#1367 Make MaxTokens nullable
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlannerConfig.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatRequestSettings.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/CompleteRequestSettings.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticFunctions/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests1.cs
  dotnet/src/SemanticKernel/SkillDefinition/InlineFunctionsDefinitionExtension.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunctionExtensions.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#1388 Python: adding external tokenizer to python text_chunker
  python/semantic_kernel/text/text_chunker.py
  python/tests/unit/text/test_text_chunker.py
Labels: python

#1913 .Net: upgrade duckdb to strong named version
  dotnet/Directory.Packages.props
Labels: .NET

#1811 Copilot Chat: Update to newest SK nuget
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/DocumentMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatWebApi.csproj
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
Labels: samples, copilot chat

#1886 Updating dotnet samples to 17.230704.3
  dotnet/SK-dotnet.sln
  samples/apps/github-qna-webapp-react/src/components/GitHubRepoSelection.tsx
  samples/apps/github-qna-webapp-react/src/components/QnA.tsx
  samples/dotnet/FileCompression/FileCompression.csproj
  samples/dotnet/FileCompression/FileCompressionSkill.cs
  samples/dotnet/FileCompression/IFileCompressor.cs
  samples/dotnet/FileCompression/ZipFileCompressor.cs
  samples/dotnet/KernelHttpServer/Extensions.cs
  samples/dotnet/KernelHttpServer/KernelHttpServer.csproj
  samples/dotnet/KernelHttpServer/Plugins/GitHubPlugin.cs
  samples/dotnet/KernelHttpServer/README.md
  samples/dotnet/github-skills/GitHubSkills.csproj
  samples/dotnet/graph-api-skills/MsGraphSkillsExample.csproj
  samples/dotnet/graph-api-skills/Program.cs
  samples/dotnet/graph-api-skills/appsettings.json
  samples/dotnet/kernel-extension-load-prompts-from-cloud/LoadPromptsFromCloud.csproj
  samples/dotnet/kernel-extension-load-prompts-from-cloud/SampleExtension.cs
  samples/dotnet/openapi-skills/OpenApiSkillsExample.csproj
  samples/dotnet/openapi-skills/Program.cs
Labels: documentation, .NET, PR: ready to merge, samples

#1911 feature/oobaboga: Fixing merge from main
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionRequest.cs
Labels: .NET, kernel

#1912 .Net Notebook: Fixing new skills namespace in memory notebook
  samples/notebooks/dotnet/06-memory-and-embeddings.ipynb
Labels: samples

#1925 Java: Add source plugin
  java/pom.xml
Labels: java

#1923 Java: Update to Service registry pattern
  java/api-test/api-usage-example/src/main/java/InlineFunctionExample.java
  java/api-test/api-usage-example/src/main/java/InlineFunctionWithPreBuiltSkillExample.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/AbstractKernelTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/KernelTest.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example00_GettingStarted.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example06_MemoryAndEmbeddings.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example02_Pipeline.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example03_Variables.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example04_CombineLLMPromptsAndNativeCode.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example12_SequentialPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example13_ConversationSummarySkill.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example14_SemanticMemory.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example17_ChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example28_ActionPlanner.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/embeddings/EmbeddingGeneration.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/AIService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/AIServiceCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/AIServiceProvider.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/DefaultAIServiceProvider.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/DefaultNamedServiceProvider.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/NamedServiceProvider.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/TextCompletion.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/skilldefinition/DefaultSkillCollection.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/AiServiceRegistryTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/DefaultKernelTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletionTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryTests.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example04CombineLLMPromptsAndNativeCodeTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example05UsingThePlannerTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example06TemplateLanguageTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example12SequentialPlannerTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example17ChatGPTTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example28ActionPlanner.java
Labels: java

#1927 Python: Bump python SK package version
  python/pyproject.toml
Labels: python

#1924 Make bug report more inclusive of programming languages other than dotnet
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: PR: ready for review

#1547 Java: ADR to define the folder structure to be used for the Java port
  docs/decisions/0002-java-folder-structure.md
Labels: documentation, PR: in progress, java

#1899 Copilot Chat: Display usernames in Copilot Chat
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/controls/ParticipantsList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/controls/ShareBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/auth/AuthHelper.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/GraphService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useGraph.ts
  samples/apps/copilot-chat-app/webapp/src/redux/app/rootReducer.ts
  samples/apps/copilot-chat-app/webapp/src/redux/app/store.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/PluginsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/users/UsersState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/users/usersSlice.ts
  samples/apps/copilot-chat-app/webapp/src/styles.tsx
Labels: PR: ready for review, samples, copilot chat

#1959 .Net: Set default max tokens for SequentialPlanner
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
Labels: .NET, kernel

#1953 Copilot Chat: Update ReadMe to avoid confusion in starting the webapp
  samples/apps/copilot-chat-app/README.md
Labels: documentation, PR: ready for review, samples, copilot chat

#1956 Copilot Chat: Update ReadMe to avoid confusion in specifying models for the webapi
  samples/apps/copilot-chat-app/README.md
Labels: documentation, PR: ready for review, samples, copilot chat

#1675 Copilot Chat: support multiple document import
  samples/apps/copilot-chat-app/importdocument/Program.cs
  samples/apps/copilot-chat-app/importdocument/README.md
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/ChatMessage.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/DocumentData.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/DocumentImportForm.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Models/DocumentMessageContent.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/DocumentMemoryOptions.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryDocumentContent.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/services/DocumentImportService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/message-relay/signalRMiddleware.ts
Labels: documentation, PR: ready for review, samples, copilot chat

#1354 Python: postgres memory store
  .github/workflows/python-integration-tests.yml
  FEATURE_MATRIX.md
  python/.env.example
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_memory_store.py
  python/semantic_kernel/connectors/memory/postgres/__init__.py
  python/semantic_kernel/connectors/memory/postgres/postgres_memory_store.py
  python/semantic_kernel/memory/memory_record.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/connectors/memory/test_postgres.py
Labels: documentation, PR: feedback to address, python, memory, connector

#1850 Java: Add documentation for configuring samples and add maven exec
  java/api-test/integration-tests/pom.xml
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/AbstractKernelTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/KernelTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/TextEmbeddingsTest.java
  java/pom.xml
  java/samples/sample-code/README.md
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Config.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example00_GettingStarted.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example02_RunnningPromptsFromFile.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example05_UsingThePlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example04_CombineLLMPromptsAndNativeCode.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example12_SequentialPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example13_ConversationSummarySkill.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example14_SemanticMemory.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example17_ChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example28_ActionPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/SampleSkillsUtil.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/SkillExecutor.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/AIException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ai/embeddings/Embedding.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/BuildersSingleton.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatHistory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryStore.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/AbstractSKContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/AbstractSkFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ContextVariables.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/SKContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/SKFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/WritableContextVariables.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/planner/PlanningException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/blocks/Block.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/blocks/BlockTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/CompletionRequestSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/CompletionSKFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/util/ClientSettings.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AIProviderSettings.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AzureOpenAISettings.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/ClientSettings.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAISettings.java
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/ConversationSummarySkill.java
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/MathSkill.java
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/WaitSkill.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/SkFunctionBuilders.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/ai/EmbeddingVector.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultCompletionSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultSemanticSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/NativeSKFunction.java
  java/semantickernel-extensions-parent/actionplanner-extension/src/main/java/com/microsoft/semantickernel/planner/actionplanner/Plan.java
  java/semantickernel-extensions-parent/sequentialplanner-extensions/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/EmbeddedResource.java
Labels: documentation, java

#1970 Java: Test release of 0.2.3-alpha
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-extensions-parent/pom.xml
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/pom.xml
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/src/main/java/com/microsoft/semantickernel/planner/actionplanner/ActionPlanResponse.java
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/src/main/java/com/microsoft/semantickernel/planner/actionplanner/ActionPlanner.java
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/src/main/java/com/microsoft/semantickernel/planner/actionplanner/Plan.java
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/src/main/resources/com/microsoft/semantickernel/planner/actionplanner/skprompt.txt
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/pom.xml
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/DefaultSequentialPlannerSKContext.java
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/EmbeddedResource.java
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlanParser.java
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlanner.java
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlannerRequestSettings.java
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/src/main/resources/com/microsoft/semantickernel/planner/sequentialplanner/skprompt.txt
Labels: java

#1971 Java: [maven-release-plugin] prepare release java-0.2.4-alpha
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-extensions-parent/pom.xml
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/pom.xml
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/pom.xml
Labels: java

#1972 Java: [maven-release-plugin] prepare for next development iteration
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-extensions-parent/pom.xml
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/pom.xml
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/pom.xml
Labels: java

#1890 Remove `dotnet format` check from PR template
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation, PR: ready for review

#1889 .Net: Update PromptTemplateEngine to render code blocks in parallel
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/IPromptTemplateEngine.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel/TemplateEngine/PromptTemplateEngine.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#1914 .Net: Cleanup from Resharper analysis
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/Example39_Postgres.cs
  dotnet/samples/KernelSyntaxExamples/Example47_Redis.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/Tokenizers/Settings/GPT3Settings.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Diagnostics/ValidateExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Chroma/ChromaMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresMemoryStoreTests.cs
  dotnet/src/InternalUtilities/src/Http/NonDisposableHttpClientHandler.cs
  dotnet/src/SemanticKernel.Abstractions/AI/AIException.cs
  dotnet/src/SemanticKernel.Abstractions/KernelException.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryException.cs
  dotnet/src/SemanticKernel.Abstractions/Planning/PlanningException.cs
  dotnet/src/SemanticKernel.Abstractions/Services/INamedServiceProvider.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/NullReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/Collections/MinHeapTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests1.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests3.cs
  dotnet/src/SemanticKernel/AI/Embeddings/VectorOperations/SpanExtensions.cs
  dotnet/src/SemanticKernel/Memory/Collections/MinHeap.cs
  dotnet/src/SemanticKernel/Services/AIServiceCollection.cs
  dotnet/src/SemanticKernel/TemplateEngine/TemplateException.cs
  dotnet/src/Skills/Skills.Grpc/Extensions/GrpcOperationExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.UnitTests/Grpc/GrpcRunnerTests.cs
  dotnet/src/Skills/Skills.Web/IWebSearchEngineConnector.cs
  samples/dotnet/KernelHttpServer/Config/ApiKeyConfig.cs
Labels: .NET, kernel, samples, kernel.core, memory

#1491 Copilot Chat: Feature/tesseract ocr Issue #1440
  .gitignore
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/OcrSupportOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/TesseractOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatWebApi.csproj
  samples/apps/copilot-chat-app/webapi/CopilotChatWebApi.sln
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/README.md
  samples/apps/copilot-chat-app/webapi/Services/ITesseractEngine.cs
  samples/apps/copilot-chat-app/webapi/Services/NullTesseractEngine.cs
  samples/apps/copilot-chat-app/webapi/Services/TesseractEngineWrapper.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapi/data/README.md
  samples/apps/copilot-chat-app/webapp/src/components/FileUploader.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
Labels: documentation, PR: ready for review, samples, copilot chat

#1982 Java: Fix printing result in Example05
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example05_UsingThePlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example06_MemoryAndEmbeddings.java
Labels: java

#1984 Copilot Chat: fix CC Tests
  samples/apps/copilot-chat-app/webapp/.env.example
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/playwright.config.ts
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationCreateDialog.tsx
  samples/apps/copilot-chat-app/webapp/tests/chat.test.ts
  samples/apps/copilot-chat-app/webapp/tests/testsMultiuser.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: PR: ready for review, samples, copilot chat

#1987 Java: Add URL attribute to POM.xml for Java SDK
  java/semantickernel-bom/pom.xml
Labels: java

#1955 Copilot Chat: fix regression of missing bot name buttons
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
Labels: PR: ready to merge, samples, copilot chat

#1995 Copilot Chat: Updating Semantic Kernel Nuget packages in Copilot Chat.
  samples/apps/copilot-chat-app/webapi/CopilotChatWebApi.csproj
Labels: samples, copilot chat

#1880 Python: Add Logit-Bias to TextCompletion abstractions
  python/samples/kernel-syntax-examples/openai_logit_bias.py
  python/semantic_kernel/connectors/ai/chat_request_settings.py
  python/semantic_kernel/connectors/ai/complete_request_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_text_completion.py
Labels: PR: ready for review, python

#1991 Java: pom.xml updated for the next release
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-extensions-parent/pom.xml
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/pom.xml
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/pom.xml
Labels: java

#1812 Allow client to provide the OpenAIClient and APIM example
  .gitignore
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/samples/KernelSyntaxExamples/README.md
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
Labels: documentation, .NET, PR: ready to merge, kernel

#1962 Python: Add retry logic to pinecone integration tests + fix chroma tests + fix conversation summary tests
  .github/workflows/python-integration-tests.yml
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
  python/semantic_kernel/connectors/memory/chroma/utils.py
  python/semantic_kernel/text/text_chunker.py
  python/tests/integration/connectors/memory/test_pinecone.py
Labels: bug, PR: ready to merge, python, memory

#2002 Copilot Chat Test Fixes
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginGallery.tsx
  samples/apps/copilot-chat-app/webapp/tests/utils.ts
Labels: PR: ready to merge, samples, copilot chat

#2003 Copilot Chat: Removing HttpClient that was not being handled correctly in Klarna pl…
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ChatController.cs
Labels: samples, copilot chat

#1954 .Net: Use static Regex for ActionPlanner.CreatePlanAsync
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
Labels: .NET, PR: ready to merge, kernel

#2005 Python: Default logit-bias {} instead of None
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_text_completion.py
Labels: python

#1907 Python: Plan Object Model
  .vscode/launch.json
  python/semantic_kernel/core_skills/file_io_skill.py
  python/semantic_kernel/core_skills/text_skill.py
  python/semantic_kernel/core_skills/time_skill.py
  python/semantic_kernel/core_skills/wait_skill.py
  python/semantic_kernel/kernel_exception.py
  python/semantic_kernel/planning/plan.py
  python/tests/unit/planning/test_plan_creation.py
  python/tests/unit/planning/test_plan_execution.py
Labels: PR: ready for review, python

#1439 Python, DotNet: New Semantic Memory Storage based on Azure Cognitive Search
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemory.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchRecord.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureSearchServiceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureSearch/AzureSearchMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.AzureSearch/AzureSearchMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.AzureSearch/AzureSearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureSearch/Connectors.Memory.AzureSearch.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/AzureCognitiveSearch/AzureCognitiveSearchMemoryTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/AzureCognitiveSearch/AzureSearchServiceKernelBuilderExtensionsTests.cs
  dotnet/src/InternalUtilities/src/Linq/AsyncEnumerable.cs
  python/.env.example
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/azure_search/__init__.py
  python/semantic_kernel/connectors/memory/azure_search/azure_search_memory_store.py
  python/semantic_kernel/connectors/memory/azure_search/utils.py
  python/tests/integration/connectors/memory/test_azure_search.py
Labels: PR: ready for review, .NET, python, kernel, memory

#2019 Java: Add name and desc to pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-extensions-parent/pom.xml
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/pom.xml
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/pom.xml
Labels: java

#1853 Copilot Chat: Use standard semantic skills to define chat prompts
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/PromptPluginOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/PromptsOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/DocumentMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/Constants.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/Chat/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/Chat/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractAudience/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractAudience/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractMemoryLongTerm/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractMemoryLongTerm/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractMemoryWorking/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractMemoryWorking/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractUserIntent/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractUserIntent/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/README.md
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/Utilities.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatWebApi.csproj
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: documentation, PR: ready to merge, samples, copilot chat

#2021 Java: sk release branch
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-extensions-parent/pom.xml
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/pom.xml
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/pom.xml
Labels: documentation, samples, java

#2016 .Net: Merge feature/oobabooga branch to main
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Connectors/Connectors.AI.Oobabooga/Connectors.AI.Oobabooga.csproj
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaInvalidResponseException.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionRequest.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionResponse.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionStreamingResponse.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionStreamingResult.cs
  dotnet/src/Connectors/Connectors.UnitTests/ConnectedClient.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/OobaboogaTestHelper.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/OobaboogaWebSocketTestServer.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TestData/completion_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TestData/completion_test_streaming_response.json
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TextCompletion/OobaboogaTextCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/WebSocketTestServer.cs
  dotnet/src/Connectors/Connectors.UnitTests/XunitLogger.cs
  dotnet/src/IntegrationTests/Connectors/Oobabooga/OobaboogaTextCompletionTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/README.md
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionExtensions.cs
Labels: documentation, .NET, PR: ready to merge, kernel, kernel.core

#2000 .Net: Add custom PromptConfig to Stepwise Planner
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
Labels: .NET, PR: ready to merge, kernel

#1976 .Net: Ensure Action is JSON format in Stepwise Planner
  dotnet/src/Extensions/Extensions.UnitTests/Planning/StepwisePlanner/ParseResultTests.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/Skills/StepwiseStep/skprompt.txt
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
Labels: .NET, PR: ready to merge, kernel

#2013 .Net: Removing obsolete code for connectors and their registration.
  dotnet/samples/KernelSyntaxExamples/Example04_CombineLLMPromptsAndNativeCode.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGoogleSkills.cs
  dotnet/samples/KernelSyntaxExamples/Example46_Weaviate.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelConfigExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextEmbedding/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests3.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Weaviate/WeaviateMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/KernelConfigOpenAIExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/Weaviate/WeaviateMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/WebSkill/WebSkillTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletionResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletionStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/KernelConfig.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ObsoleteAttributes.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/SKFunctionAttribute.cs
  dotnet/src/SemanticKernel.UnitTests/KernelConfigTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests2.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/Skills/Skills.Core/HttpSkill.cs
  dotnet/src/Skills/Skills.UnitTests/Core/HttpSkillTests.cs
  dotnet/src/Skills/Skills.Web/Bing/BingConnector.cs
  dotnet/src/Skills/Skills.Web/WebFileDownloadSkill.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, memory

#2022 Java: Prepare for next dev cycle
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-extensions-parent/pom.xml
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/pom.xml
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/pom.xml
Labels: java

#1832 .Net: Update KernelSyntaxExamples env variables
  dotnet/samples/KernelSyntaxExamples/Example01_NativeFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example04_CombineLLMPromptsAndNativeCode.cs
  dotnet/samples/KernelSyntaxExamples/Example05_InlineFunctionDefinition.cs
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGoogleSkills.cs
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example10_DescribeAllSkillsAndFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummarySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  dotnet/samples/KernelSyntaxExamples/Example15_MemorySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example17_ChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/Example19_Qdrant.cs
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiSkill_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example23_OpenApiSkill_Github.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiSkill_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example28_ActionPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example29_Tokenizer.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example32_StreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example33_StreamingChat.cs
  dotnet/samples/KernelSyntaxExamples/Example36_MultiCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example37_MultiStreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example38_Pinecone.cs
  dotnet/samples/KernelSyntaxExamples/Example39_Postgres.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example41_HttpClientUsage.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example44_MultiChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example46_Weaviate.cs
  dotnet/samples/KernelSyntaxExamples/Example47_Redis.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example49_LogitBias.cs
  dotnet/samples/KernelSyntaxExamples/Example50_Chroma.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Program.cs
  dotnet/samples/KernelSyntaxExamples/README.md
  dotnet/samples/KernelSyntaxExamples/Reliability/ConfigurationNotFoundException.cs
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
Labels: documentation, .NET, PR: ready to merge

#1813 Python: implemented web search engine skill with bing connector
  python/samples/kernel-syntax-examples/bing_search_skill.py
  python/semantic_kernel/connectors/search_engine/__init__.py
  python/semantic_kernel/connectors/search_engine/bing_connector.py
  python/semantic_kernel/connectors/search_engine/connector.py
  python/semantic_kernel/core_skills/__init__.py
  python/semantic_kernel/core_skills/web_search_engine_skill.py
Labels: PR: ready for review, python

#1691 Python: temporal kernel run stream async
  python/semantic_kernel/kernel.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_azure_oai_text_service.py
Labels: PR: ready to merge, python

#2018 Fix typo in Samples causing error: PlanningException: Create plan err
  samples/notebooks/dotnet/05-using-the-planner.ipynb
Labels: samples

#2035 Copilot Chat: Revert "Copilot Chat: Use standard semantic skills to define chat prompts"
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/PromptPluginOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/PromptsOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/DocumentMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/Constants.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/Chat/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/Chat/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractAudience/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractAudience/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractMemoryLongTerm/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractMemoryLongTerm/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractMemoryWorking/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractMemoryWorking/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractUserIntent/config.json
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/ExtractUserIntent/skprompt.txt
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/SemanticSkills/README.md
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/Utilities.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatWebApi.csproj
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: documentation, samples, copilot chat

#2030 Python: Azure Search installation and tests improvements
  .github/workflows/python-unit-tests.yml
  python/poetry.lock
  python/pyproject.toml
  python/tests/integration/connectors/memory/test_azure_search.py
Labels: PR: ready for review, python

#1869 GPT3 tokenizer
  java/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example29_Tokenizer.java
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-gpt3-tokenizer/pom.xml
  java/semantickernel-gpt3-tokenizer/src/main/java/com/microsoft/semantickernel/GPT3Tokenizer.java
  java/semantickernel-gpt3-tokenizer/src/main/java/com/microsoft/semantickernel/settings/EmbeddedResource.java
  java/semantickernel-gpt3-tokenizer/src/main/java/com/microsoft/semantickernel/settings/GPT3Settings.java
  java/semantickernel-gpt3-tokenizer/src/main/resources/encoder.json
  java/semantickernel-gpt3-tokenizer/src/main/resources/vocab.bpe
  java/semantickernel-gpt3-tokenizer/src/test/java/com/microsoft/semantickernel/GPT3TokenizerTest.java
Labels: java

#2054 Copilot Chat: standardizing to 'chat copilot' and fixing input bug
  samples/apps/copilot-chat-app/webapp/README.md
  samples/apps/copilot-chat-app/webapp/public/index.html
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/dialogs/DeleteChatDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/plugin-wizard/PluginWizard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/plugin-wizard/steps/EnterManifestStep.tsx
  samples/apps/copilot-chat-app/webapp/src/components/shared/TokenUsage.tsx
  samples/apps/copilot-chat-app/webapp/src/components/views/MissingEnvVariablesError.tsx
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/PluginsState.ts
  samples/apps/copilot-chat-app/webapp/tests/chat.test.ts
  samples/apps/copilot-chat-app/webapp/tests/testsMultiuser.ts
  samples/apps/copilot-chat-app/webapp/tests/testsPlanner.ts
  samples/apps/copilot-chat-app/webapp/tests/utils.ts
Labels: documentation, samples, copilot chat

#2055 .Net: Remove unused fields in unit tests
  dotnet/src/Skills/Skills.UnitTests/Document/DocumentSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/CalendarSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/CloudDriveSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/EmailSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/OrganizationHierarchySkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/TaskListSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/JsonPathSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Web/WebSearchEngineSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/XunitHelpers/TestConsoleLogger.cs
  dotnet/src/Skills/Skills.UnitTests/XunitHelpers/XunitLogger.cs
Labels: .NET, PR: ready to merge, kernel

#1905 .Net: SK Telemetry improvements
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/ApplicationInsightsExample/ApplicationInsightsExample.csproj
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/samples/ApplicationInsightsExample/RepoUtils/Env.cs
  dotnet/samples/ApplicationInsightsExample/RepoUtils/RepoFiles.cs
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/RepoUtils/PlanExtensions.cs
  dotnet/samples/KernelSyntaxExamples/Skills/EmailSkill.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/AzureTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/OpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/ISequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/InstrumentedSequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlannerExtensions.cs
  dotnet/src/IntegrationTests/Fakes/EmailSkillFake.cs
  dotnet/src/SemanticKernel.Abstractions/Diagnostics/ITelemetryService.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/Planning/PlanExtensions.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/PromptTemplateEngine.cs
  dotnet/src/Skills/Skills.Core/TextMemorySkill.cs
  dotnet/src/Skills/Skills.Document/DocumentSkill.cs
  dotnet/src/Skills/Skills.MsGraph/CalendarSkill.cs
  dotnet/src/Skills/Skills.MsGraph/CloudDriveSkill.cs
  dotnet/src/Skills/Skills.MsGraph/EmailSkill.cs
  dotnet/src/Skills/Skills.MsGraph/TaskListSkill.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.Web/Bing/BingConnector.cs
  samples/dotnet/openapi-skills/Program.cs
Labels: PR: ready for review, .NET, kernel, samples, kernel.core, memory

#1941 Python: Milvus memory connector
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/milvus/__init__.py
  python/semantic_kernel/connectors/memory/milvus/milvus_memory_store.py
  python/tests/integration/connectors/memory/test_milvus.py
Labels: PR: feedback to address, python, memory

#2075 Rename Azure Search to Azure Cognitive Search
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-unit-tests.yml
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/Connectors.Memory.AzureCognitiveSearch.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  python/.env.example
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/azure_cognitive_search/__init__.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/utils.py
  python/semantic_kernel/connectors/memory/azure_search/__init__.py
  python/tests/integration/connectors/memory/test_azure_cognitive_search.py
Labels: .NET, python, kernel, memory

#2010 Python: api update for 0.4.0
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
Labels: python, memory

#2082 Python: skip milvus tests if the platform is windows
  python/tests/integration/connectors/memory/test_milvus.py
Labels: python

#915 Python: KernelHttpServer
  samples/python/kernel_http_server/.funcignore
  samples/python/kernel_http_server/README.md
  samples/python/kernel_http_server/function_app.py
  samples/python/kernel_http_server/host.json
  samples/python/kernel_http_server/local.settings.json
  samples/python/kernel_http_server/requirements.txt
  samples/python/kernel_http_server/utils/ask.py
  samples/python/kernel_http_server/utils/config.py
  samples/python/kernel_http_server/utils/kernel_server.py
  samples/python/kernel_http_server/utils/kernel_utils.py
  samples/skills/FunSkill/Joke/config.json
Labels: documentation, PR: ready to merge, samples

#2072 .Net: Fix for Chroma boolean values processing
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaBooleanConverter.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClientException.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Chroma/ChromaMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Chroma/ChromaMemoryStoreTests.cs
Labels: PR: ready for review, .NET, kernel, memory, connector

#2077 Java: Fix a number of planner issues, add blog example
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example_PlanWithNativeFunctions.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/AbstractSkFunction.java
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/src/main/java/com/microsoft/semantickernel/planner/actionplanner/Plan.java
Labels: java

#2092 Java: Prepare development iteration
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-connectors-parent/semantickernel-connectors/pom.xml
  java/semantickernel-core-skills/pom.xml
  java/semantickernel-core/pom.xml
  java/semantickernel-extensions-parent/pom.xml
  java/semantickernel-extensions-parent/semantickernel-actionplanner-extension/pom.xml
  java/semantickernel-extensions-parent/semantickernel-sequentialplanner-extension/pom.xml
  java/semantickernel-gpt3-tokenizer/pom.xml
Labels: java

#1882 Java: Fix TimeSkill unit test
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/skilldefinition/annotations/SKFunctionParameters.java
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/coreskills/TimeSkill.java
  java/semantickernel-core-skills/src/main/java/com/microsoft/semantickernel/util/LocaleParser.java
  java/semantickernel-core-skills/src/test/java/com/microsoft/semantickernel/coreskills/TimeSkillTest.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/NativeSKFunction.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example06TemplateLanguageTest.java
Labels: PR: feedback to address, PR: in progress, java

#2079 .Net: Remove Memory property from SKContext
  dotnet/samples/KernelSyntaxExamples/Example15_MemorySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SKContextExtensionsTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlannerConfig.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planning/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKContextTests.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/KernelBuilder.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/Skills/Skills.Core/TextMemorySkill.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, kernel.core

#2090 .Net: Update to Azure.AI.OpenAI version 1.0.0-beta.6
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
Labels: .NET, kernel, kernel.core

#2102 Python: Fix linting issues in python KernelHttpServer sample
  samples/python/kernel_http_server/function_app.py
  samples/python/kernel_http_server/utils/kernel_server.py
  samples/python/kernel_http_server/utils/kernel_utils.py
Labels: PR: ready for review, samples

#1718 Exception handling ADR
  docs/decisions/0004-error-handling.md
Labels: documentation, PR: ready for review, sk team issue

#2086 .Net: Remove CancellationToken from SKContext
  dotnet/src/Extensions/Extensions.UnitTests/Planning/ActionPlanner/ActionPlannerTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SKContextExtensionsTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/ISequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/InstrumentedSequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlannerConfig.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticFunctions/IPromptTemplate.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ISKFunction.cs
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/IPromptTemplateEngine.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests1.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SemanticFunctions/PromptTemplate.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel/TemplateEngine/PromptTemplateEngine.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#2083 Python: Azure Cognitive Search bug fixes
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
  python/semantic_kernel/memory/memory_store_base.py
  python/tests/integration/connectors/memory/test_azure_cognitive_search.py
Labels: python, memory

#2043 Java: Allow ChatCompletion to be used as a TextCompletion
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/Example12_SequentialPlanner.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatRequestSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/CompletionRequestSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/TextCompletion.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/semantickernel-connectors-parent/semantickernel-connectors/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/textcompletion/OpenAITextCompletion.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/DefaultKernelTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletionTest.java
Labels: java

#2080 Java: Allow functions to be loaded from the classpath
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/syntaxexamples/javaspecific/Java_Example01_ResourceLoading.java
  java/samples/sample-code/src/main/resources/Plugins/ExamplePlugins/ExampleFunctionRoot/config.json
  java/samples/sample-code/src/main/resources/Plugins/ExamplePlugins/ExampleFunctionRoot/skprompt.txt
  java/samples/sample-code/src/main/resources/com/microsoft/semantickernel/syntaxexamples/javaspecific/Plugins/ExamplePlugins/ExampleFunction/config.json
  java/samples/sample-code/src/main/resources/com/microsoft/semantickernel/syntaxexamples/javaspecific/Plugins/ExamplePlugins/ExampleFunction/skprompt.txt
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/SkillExecutor.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/extensions/KernelExtensions.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
Labels: java

#2117 Fix GitHub Q&A sample not working with some repos
  samples/apps/github-qna-webapp-react/README.md
  samples/apps/github-qna-webapp-react/contents-read-access.png
  samples/dotnet/KernelHttpServer/Plugins/GitHubPlugin.cs
Labels: documentation, PR: ready for review, PR: ready to merge, samples

#2084 Copilot Chat: Disable alwaysOn and enable health check
  samples/apps/copilot-chat-app/deploy/main.bicep
Labels: PR: ready for review, samples, copilot chat

#2107 .Net: Minor cleanup of collection nullability.
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
Labels: .NET, PR: ready to merge, kernel, kernel.core

#2108 .Net: Template Engine interface cleanup
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ParameterView.cs
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/IPromptTemplateEngine.cs
  dotnet/src/SemanticKernel/SemanticFunctions/PromptTemplate.cs
  dotnet/src/SemanticKernel/TemplateEngine/PromptTemplateEngine.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#2026 Java: Move samples to new package; Add jbang support
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/AbstractKernelTest.java
  java/samples/example.conf.properties
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Config.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example00_GettingStarted.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example02_RunnningPromptsFromFile.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example03_SemanticFunctionInline.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example04_ContextVariablesChat.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example05_UsingThePlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example01_NativeFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example02_Pipeline.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example03_Variables.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example04_CombineLLMPromptsAndNativeCode.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example12_SequentialPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummarySkill.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example14_SemanticMemory.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example17_ChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example28_ActionPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example29_Tokenizer.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/RunAll.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/SampleSkillsUtil.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/javaspecific/Java_Example01_ResourceLoading.java
Labels: java

#2178 .Net: Remove `ReadOnlySkillCollection` accessor from ISkillCollection
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SKContextExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/IReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ISkillCollection.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/SkillDefinition/IReadOnlySkillCollectionTypeProxy.cs
  dotnet/src/SemanticKernel/SkillDefinition/ReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel/SkillDefinition/SkillCollection.cs
Labels: .NET, kernel, kernel.core, PR: breaking change

#2159 Create pointers to learn.microsoft.com
  FEATURE_MATRIX.md
  README.md
  docs/PLANNERS.md
  docs/PROMPT_TEMPLATE_LANGUAGE.md
  docs/SKILLS.md
Labels: documentation

#2188 .Net: Obsolete SKContext[...] indexer
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGoogleSkills.cs
  dotnet/samples/KernelSyntaxExamples/Example15_MemorySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/Skills/Skills.Core/HttpSkill.cs
  dotnet/src/Skills/Skills.Core/TextMemorySkill.cs
  dotnet/src/Skills/Skills.Core/TextSkill.cs
  dotnet/src/Skills/Skills.Core/TimeSkill.cs
Labels: .NET, kernel, kernel.core, PR: breaking change

#2073 Java: Blog sample
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example99_BlogAnnouncement.java
Labels: java

#2180 .Net: Telemetry improvements for Plan and SKFunction
  dotnet/samples/ApplicationInsightsExample/Program.cs
  dotnet/src/SemanticKernel/Planning/IPlan.cs
  dotnet/src/SemanticKernel/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/Planning/PlanExtensions.cs
  dotnet/src/SemanticKernel/SkillDefinition/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunctionExtensions.cs
Labels: PR: ready for review, .NET, kernel.core

#2118 Python: Qdrant Memory Store
  .github/workflows/python-unit-tests.yml
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/qdrant/__init__.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_memory_store.py
  python/tests/integration/connectors/memory/test_qdrant_memory_store.py
Labels: PR: ready for review, PR: ready to merge, python, memory

#2196 .Net: Hook up memory in SequentialPlanner examples
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
Labels: .NET, planner

#2171 Java: Add a more detailed error message when the user uses the wrong completion model
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultCompletionSKFunction.java
Labels: java

#2202 Java: Fix broken build in BlogAnnouncement example
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example99_BlogAnnouncement.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example00_GettingStarted.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example02_RunnningPromptsFromFile.java
Labels: bug, java

#2198 .Net: Obsolete SKContext.Fail, .Func, .LastErrorDescription
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/NCalcSkills/LanguageCalculatorSkill.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  dotnet/src/Extensions/Planning.StepwisePlanner/StepwisePlanner.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests2.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/Skills/Skills.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, PR: breaking change

#2176 Python: documentation for /memory
  python/semantic_kernel/memory/memory_store_base.py
  python/semantic_kernel/memory/null_memory.py
  python/semantic_kernel/memory/semantic_text_memory_base.py
Labels: PR: ready to merge, python

#1916 Python: Add sequential planner to python
  .vscode/launch.json
  python/samples/kernel-syntax-examples/sequential_planner.py
  python/semantic_kernel/core_skills/math_skill.py
  python/semantic_kernel/memory/semantic_text_memory_base.py
  python/semantic_kernel/planning/__init__.py
  python/semantic_kernel/planning/plan.py
  python/semantic_kernel/planning/planning_exception.py
  python/semantic_kernel/planning/sequential_planner/Skills/SequentialPlanning/config.json
  python/semantic_kernel/planning/sequential_planner/Skills/SequentialPlanning/skprompt.txt
  python/semantic_kernel/planning/sequential_planner/__init__.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner_config.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner_extensions.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner_parser.py
  python/tests/integration/fakes/email_skill_fake.py
  python/tests/integration/fakes/fun_skill_fake.py
  python/tests/integration/fakes/summarize_skill_fake.py
  python/tests/integration/fakes/writer_skill_fake.py
  python/tests/integration/planning/sequential_planner/test_sequential_plan_parser.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner_extensions.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner_parser.py
Labels: PR: feedback to address, python

#2096 Copilot Chat: [Chat Copilot] Validate images using Azure content safety
  samples/apps/copilot-chat-app/webapi/CopilotChat/Controllers/ContentModeratorController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Extensions/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Options/ContentModeratorOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/Services/AzureContentModerator.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/tabs/DocumentsTab.tsx
  samples/apps/copilot-chat-app/webapp/src/components/header/settings-dialog.tsx/SettingSection.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/services/ContentModerationService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useContentModerator.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useFile.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/AppState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/appSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/src/styles.tsx
Labels: samples, copilot chat

#2109 .Net: Sync HTTP User Agent across HTTP clients/Azure resources
  dotnet/SK-dotnet.sln
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextEmbedding/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TextCompletion/OobaboogaTextCompletionTests.cs
  dotnet/src/InternalUtilities/src/System/EnvExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Diagnostics/Telemetry.cs
  dotnet/src/Skills/Skills.Core/HttpSkill.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/OpenApiSkillExecutionParameters.cs
  dotnet/src/Skills/Skills.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Skills/Skills.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/Skills/Skills.Web/Bing/BingConnector.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, memory

#2218 .Net: Documentation for telemetry in SK
  dotnet/docs/TELEMETRY.md
Labels: documentation, PR: ready for review, .NET

#2220 Java: Update README.md - fix to git clone command
  java/README.md
Labels: documentation, java

#2115 Java: Improve config discovery and misconfiguration reporting
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/AbstractKernelTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/ContextVariableFunctionTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/FunSkillTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/InlineFunctionTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/KernelTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/PlannerTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/TextEmbeddingsTest.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AIProviderSettings.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AbstractOpenAIClientSettings.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/AzureOpenAISettings.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/ClientSettings.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/ClientType.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAIClientProvider.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAISettings.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/SettingsMap.java
  java/connectors/semantickernel-connectors-ai-openai/src/test/java/com/microsoft/semantickernel/connectors/ai/openai/util/ConfigLoadingTest.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example99_BlogAnnouncement.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example_PlanWithNativeFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/SamplesConfig.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Config.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example00_GettingStarted.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example02_RunnningPromptsFromFile.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example03_SemanticFunctionInline.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example04_ContextVariablesChat.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example05_UsingThePlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example04_CombineLLMPromptsAndNativeCode.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example12_SequentialPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummarySkill.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example14_SemanticMemory.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example17_ChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example28_ActionPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/javaspecific/SequentialPlanner_AnswerQuestion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/SKCheckedException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/exceptions/ConfigurationException.java
  java/semantickernel-connectors-parent/pom.xml
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/DefaultKernelTest.java
Labels: java

#2226 .Net: Update build.cmd
  dotnet/build.cmd
Labels: .NET, PR: ready to merge

#1948 Python: Action Planner implementation
  python/samples/kernel-syntax-examples/action_planner.py
  python/semantic_kernel/planning/__init__.py
  python/semantic_kernel/planning/action_planner/action_planner.py
  python/semantic_kernel/planning/action_planner/skprompt.txt
  python/tests/unit/planning/action_planner/test_action_planner.py
Labels: PR: feedback to address, python

#2214 .Net Updating OpenAI/AzureOpenAI ModelResults to be per Choice
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIModelResultExtensions.cs
Labels: PR: ready for review, .NET, extensibility, kernel

#2231 .Net: Parsing of OpenAPI documents without the host/servers attribute.
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
Labels: PR: ready for review, .NET, kernel

#2212 .Net: Simplifying ISKFunction.InvokeAsync
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGoogleSkills.cs
  dotnet/samples/KernelSyntaxExamples/Example15_MemorySkill.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ContextVariables.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ISKFunction.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunctionExtensions.cs
Labels: PR: ready for review, .NET, kernel.core, PR: breaking change

#2244 Java: Support streaming on ChatCompletions
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example33_StreamingChat.java
  java/samples/semantickernel-guice/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletion.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/DefaultKernelTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example33StreamingChatTest.java
Labels: java

#2203 Java: Add more setting options to context variable builder
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/actionplanner/Plan.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example03_Variables.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/AbstractSKContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ContextVariables.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultContextVariables.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example03VariablesTest.java
Labels: enhancement, java
