Repository microsoft/semantic-kernel, pull requests merged in 2023-05, with the labels that each got.

#730 Import gRPC skills
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Extensions/GrpcOperationExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/GrpcOperationRunner.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Model/GrpcOperation.cs
  dotnet/src/SemanticKernel.Skills/Skills.Grpc/Skills.Grpc.csproj
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Grpc/Extensions/GrpcOperationExtensionsTests.cs
  dotnet/src/SemanticKernel.Skills/Skills.UnitTests/Grpc/GrpcRunnerTests.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  samples/dotnet/kernel-syntax-examples/Example27_GrpcSkills.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: PR: ready for review

#612 Clean up exposure and handling of CancellationToken
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/AzureTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/OpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/IQdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Database.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/IEmbeddingGeneration.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ImageGeneration/IImageGeneration.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/IMemoryStore.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/ISemanticTextMemory.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ISKFunction.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Memory/NullMemory.cs
  dotnet/src/SemanticKernel/Memory/SemanticTextMemory.cs
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
  dotnet/src/SemanticKernel/Planning/KernelPlanExtensions.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunctionExtensions.cs
  dotnet/src/Skills/Skills.Document/FileSystem/IFileSystemConnector.cs
  dotnet/src/Skills/Skills.Document/FileSystem/LocalFileSystemConnector.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/Client/MsGraphClientLoggingHandler.cs
  dotnet/src/Skills/Skills.MsGraph/ICalendarConnector.cs
  dotnet/src/Skills/Skills.MsGraph/ICloudDriveConnector.cs
  dotnet/src/Skills/Skills.MsGraph/IEmailConnector.cs
  dotnet/src/Skills/Skills.MsGraph/IOrganizationHierarchyConnector.cs
  dotnet/src/Skills/Skills.MsGraph/ITaskManagementConnector.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.Web/IWebSearchEngineConnector.cs
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/dotnet/kernel-syntax-examples/Example23_ReadOnlyMemoryStore.cs
Labels: PR: feedback to address, .NET, kernel, samples, kernel.core

#748 Trim all configuration strings
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
Labels: samples

#750 Remove duplicative extension methods on KernelPlanExtensions
  dotnet/src/SemanticKernel/Planning/KernelPlanExtensions.cs
Labels: .NET, kernel.core

#648 Jira plugin open api
  samples/dotnet/kernel-syntax-examples/Example22_OpenApiSkill_AzureKeyVault.cs
  samples/dotnet/kernel-syntax-examples/Example23_OpenApiSkill_Jira.cs
  samples/dotnet/kernel-syntax-examples/Example24_ReadOnlyMemoryStore.cs
  samples/dotnet/kernel-syntax-examples/Example25_Tokenizer.cs
  samples/dotnet/kernel-syntax-examples/Example26_AADAuth.cs
  samples/dotnet/kernel-syntax-examples/Example27_SemanticFunctionsUsingChatGPT.cs
  samples/dotnet/kernel-syntax-examples/Example28_ActionPlanner.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/dotnet/kernel-syntax-examples/Skills/JiraSkill/README.md
  samples/dotnet/kernel-syntax-examples/Skills/JiraSkill/openapi.json
Labels: PR: ready for review, .NET, samples

#744 API simplification: make AI service ID optional
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/KernelConfigOpenAIExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/KernelConfigOpenAIExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/KernelConfig.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Memory/MemoryConfiguration.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/dotnet/KernelBuilder/Program.cs
  samples/dotnet/KernelHttpServer/SemanticKernelFactory.cs
  samples/dotnet/graph-api-skills/Program.cs
  samples/dotnet/kernel-syntax-examples/Example04_CombineLLMPromptsAndNativeCode.cs
  samples/dotnet/kernel-syntax-examples/Example05_InlineFunctionDefinition.cs
  samples/dotnet/kernel-syntax-examples/Example06_TemplateLanguage.cs
  samples/dotnet/kernel-syntax-examples/Example07_BingAndGoogleSkills.cs
  samples/dotnet/kernel-syntax-examples/Example08_RetryHandler.cs
  samples/dotnet/kernel-syntax-examples/Example09_FunctionTypes.cs
  samples/dotnet/kernel-syntax-examples/Example10_DescribeAllSkillsAndFunctions.cs
  samples/dotnet/kernel-syntax-examples/Example12_SequentialPlanner.cs
  samples/dotnet/kernel-syntax-examples/Example13_ConversationSummarySkill.cs
  samples/dotnet/kernel-syntax-examples/Example14_Memory.cs
  samples/dotnet/kernel-syntax-examples/Example15_MemorySkill.cs
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/dotnet/kernel-syntax-examples/Example17_ChatGPT.cs
  samples/dotnet/kernel-syntax-examples/Example18_DallE.cs
  samples/dotnet/kernel-syntax-examples/Example19_Qdrant.cs
  samples/dotnet/kernel-syntax-examples/Example20_HuggingFace.cs
  samples/dotnet/kernel-syntax-examples/Example26_AADAuth.cs
  samples/dotnet/kernel-syntax-examples/Example27_SemanticFunctionsUsingChatGPT.cs
  samples/dotnet/kernel-syntax-examples/Example28_ActionPlanner.cs
  samples/dotnet/kernel-syntax-examples/Example28_ChatWithPrompts.cs
Labels: PR: ready for review, .NET, kernel, samples, kernel.core

#741 Fix typos and code style
  .editorconfig
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextEmbedding/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/Tokenizers/GPT3TokenizerTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlannerConfig.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/Collections/MinHeapTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/Collections/TopNCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerTests.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  dotnet/src/SemanticKernel/SkillDefinition/ImportSemanticSkillFromDirectory.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/VarBlock.cs
  dotnet/src/SemanticKernel/TemplateEngine/PromptTemplateEngine.cs
  dotnet/src/SemanticKernel/TemplateEngine/TemplateTokenizer.cs
  dotnet/src/Skills/Skills.MsGraph/CloudDriveSkill.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/CredentialManagers/LocalUserMSALCredentialManager.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OneDriveConnector.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  samples/apps/copilot-chat-app/webapi/Auth/ApiKeyAuthenticationHandler.cs
  samples/apps/copilot-chat-app/webapi/Config/PlannerOptions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/ChatHistoryController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/Model/Bot.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/dotnet/FileCompression/FileCompressionSkill.cs
  samples/dotnet/KernelHttpServer/Utils/RepoFiles.cs
  samples/dotnet/kernel-syntax-examples/Example05_InlineFunctionDefinition.cs
  samples/dotnet/kernel-syntax-examples/Example06_TemplateLanguage.cs
  samples/dotnet/kernel-syntax-examples/Example07_BingAndGoogleSkills.cs
  samples/dotnet/kernel-syntax-examples/Example14_Memory.cs
  samples/dotnet/kernel-syntax-examples/Example15_MemorySkill.cs
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/dotnet/kernel-syntax-examples/Example20_HuggingFace.cs
  samples/dotnet/kernel-syntax-examples/RepoUtils/RepoFiles.cs
Labels: .NET, PR: ready to merge, kernel, samples, kernel.core

#742 Fix potential multiple enumerations
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
  samples/apps/copilot-chat-app/importdocument/Program.cs
  samples/apps/copilot-chat-app/webapi/Controllers/ChatHistoryController.cs
  samples/apps/copilot-chat-app/webapi/Storage/ChatMessageRepository.cs
Labels: .NET, PR: ready to merge, samples, kernel.core

#749 Remove ValidationException
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/OpenAIImageGeneration.cs
  dotnet/src/SemanticKernel.Abstractions/Diagnostics/ValidationException.cs
  dotnet/src/SemanticKernel.Abstractions/Diagnostics/Verify.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ContextVariables.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticFunctions/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/SKFunctionContextParameterAttribute.cs
  dotnet/src/SemanticKernel.UnitTests/Diagnostics/ValidationExceptionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Services/ServiceConfigTests.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/SemanticKernel/CoreSkills/TextMemorySkill.cs
  dotnet/src/SemanticKernel/Services/ServiceConfig.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#753 New Python release version: 0.2.5
  python/pyproject.toml
Labels: PR: ready for review, python

#747 Azure Cognitive Search connector for Semantic Memory
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemory.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchRecord.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/Connectors.Memory.AzureCognitiveSearch.csproj
  samples/dotnet/kernel-syntax-examples/Example14_Memory.cs
  samples/dotnet/kernel-syntax-examples/Example14_SemanticMemory.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/dotnet/kernel-syntax-examples/README.md
Labels: PR: feedback to address, .NET, kernel, samples

#743 Allow passing custom HttpClient
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/OpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/KernelConfigOpenAIExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/AzureTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/OpenAITextEmbeddingGeneration.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/dotnet/KernelBuilder/Program.cs
Labels: PR: feedback to address, .NET, kernel, samples

#641 Open API GitHub Plugin Skill + Frontend Auth (MSAL + Basic / PAT)
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/Model/OpenApiSkillsAuthHeaders.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/GitHubSkill/openapi.json
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/README.md
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/src/assets/custom.d.ts
  samples/apps/copilot-chat-app/webapp/src/assets/plugin-icons/github.png
  samples/apps/copilot-chat-app/webapp/src/assets/plugin-icons/jira.png
  samples/apps/copilot-chat-app/webapp/src/assets/plugin-icons/ms-graph.png
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginConnector.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginGallery.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/auth/TokenHelper.ts
  samples/apps/copilot-chat-app/webapp/src/libs/connectors/useConnectors.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/SemanticKernel.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/BaseService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/BotService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/ChatService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/app/store.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/PluginsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/pluginsSlice.ts
  samples/dotnet/kernel-syntax-examples/Example23_OpenApiSkill_Github.cs
  samples/dotnet/kernel-syntax-examples/Example24_OpenApiSkill_Jira.cs
  samples/dotnet/kernel-syntax-examples/Example25_ReadOnlyMemoryStore.cs
  samples/dotnet/kernel-syntax-examples/Example28_Tokenizer.cs
  samples/dotnet/kernel-syntax-examples/Example30_ChatWithPrompts.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/dotnet/kernel-syntax-examples/README.md
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, samples, kernel.core

#732 Python: Proper separation of unit and integration tests
  .github/workflows/dotnet-integration-tests.yml
  .github/workflows/python-unit-tests.yml
  python/DEV_SETUP.md
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
  python/tests/end-to-end/basics_with_azure_oai_chat_service.py
  python/tests/end-to-end/basics_with_azure_oai_text_service.py
  python/tests/end-to-end/basics_with_hf_local_text2text_service.py
  python/tests/end-to-end/basics_with_hf_local_text_generation_service.py
  python/tests/end-to-end/basics_with_hf_local_text_summarization.py
  python/tests/end-to-end/basics_with_oai_chat_service.py
  python/tests/end-to-end/basics_with_oai_text_service.py
  python/tests/end-to-end/memory_with_azure_oai_embedding_service.py
  python/tests/end-to-end/memory_with_hf_embedding_service.py
  python/tests/end-to-end/memory_with_oai_embedding_service.py
  python/tests/integration/completions/e2e_text_completion.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_azure_oai_text_service.py
  python/tests/integration/completions/test_hf_local_text2text_service.py
  python/tests/integration/completions/test_hf_local_text_generation_service.py
  python/tests/integration/completions/test_hf_local_text_summarization.py
  python/tests/integration/completions/test_oai_chat_service.py
  python/tests/integration/completions/test_oai_text_service.py
  python/tests/integration/embeddings/e2e_memories.py
  python/tests/integration/embeddings/test_azure_oai_embedding_service.py
  python/tests/integration/embeddings/test_hf_embedding_service.py
  python/tests/integration/embeddings/test_oai_embedding_service.py
  python/tests/template_engine/prompt_template_e2e_tests.py
  python/tests/template_engine/tests.txt
Labels: PR: ready to merge, python

#719 Resolve completion failures from an unexpected exception thrown in the Qdrant Connector
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
Labels: PR: ready for review, .NET, kernel

#761 Python: Update Notebooks to version 0.2.6.dev0; Fix bug in 0.2.5.dev0
  python/README.md
  python/pyproject.toml
  python/semantic_kernel/kernel_config.py
  python/semantic_kernel/kernel_extensions/memory_configuration.py
  python/semantic_kernel/memory/semantic_text_memory.py
  python/tests/end-to-end/chat.py
  python/tests/end-to-end/memory.py
  python/tests/end-to-end/skills_from_dir.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_azure_oai_text_service.py
  python/tests/integration/completions/test_hf_local_text2text_service.py
  python/tests/integration/completions/test_hf_local_text_generation_service.py
  python/tests/integration/completions/test_hf_local_text_summarization.py
  python/tests/integration/completions/test_oai_text_service.py
  python/tests/integration/embeddings/test_azure_oai_embedding_service.py
  python/tests/integration/embeddings/test_hf_embedding_service.py
  python/tests/integration/embeddings/test_oai_embedding_service.py
  python/tests/unit/kernel_extensions/test_import_skills.py
  python/tests/unit/text/test_function_extension.py
  samples/notebooks/python/00-getting-started.ipynb
  samples/notebooks/python/01-basic-loading-the-kernel.ipynb
  samples/notebooks/python/02-running-prompts-from-file.ipynb
  samples/notebooks/python/03-semantic-function-inline.ipynb
  samples/notebooks/python/04-context-variables-chat.ipynb
  samples/notebooks/python/05-using-the-planner.ipynb
  samples/notebooks/python/06-memory-and-embeddings.ipynb
  samples/notebooks/python/requirements.txt
Labels: python, samples

#711 Copilot Chat: Include doc memory in upload/download a bot file
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Model/Bot.cs
  samples/apps/copilot-chat-app/webapp/src/libs/services/BotService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
Labels: PR: ready for review, samples

#764 Fix code style
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/KernelConfigOpenAIExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticFunctions/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.UnitTests/Services/ServiceConfigTests.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Model/OpenApiSkillsAuthHeaders.cs
  samples/dotnet/kernel-syntax-examples/Example23_OpenApiSkill_Github.cs
  samples/dotnet/kernel-syntax-examples/Example24_OpenApiSkill_Jira.cs
  samples/dotnet/kernel-syntax-examples/Example29_Tokenizer.cs
  samples/dotnet/kernel-syntax-examples/Example30_ChatWithPrompts.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Resources/30-system-prompt.txt
  samples/dotnet/kernel-syntax-examples/Resources/30-user-context.txt
  samples/dotnet/kernel-syntax-examples/Resources/30-user-prompt.txt
Labels: PR: ready for review, .NET, kernel, samples, kernel.core

#704 Addition of deployment templates and scripts
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-AI.ps1
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-AI.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK.ps1
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/README.md
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-ai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-ai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk.json
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: PR: ready to merge, samples

#757 Bumping up black formatter version
  python/pyproject.toml
Labels: PR: ready for review, python

#765 CopilotChat: Migrate to ActionPlanner
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanResponse.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/Extensions/Planning.ActionPlanner/skprompt.txt
  samples/apps/copilot-chat-app/webapi/Config/PlannerOptions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/CopilotChatPlanner.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/KlarnaSkill/ai-plugin.json
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/KlarnaSkill/openapi.json
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/README.md
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: PR: ready for review, .NET, kernel, samples

#774 CopilotChat: Add instructions for Planner:AIService in READMEs
  samples/apps/copilot-chat-app/README.md
Labels: documentation, samples

#775 Minor comment update in copilotchat appsetting comments
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: samples

#776 Improve ACS memory connector performance/cost
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemory.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchRecord.cs
Labels: PR: ready for review, .NET, kernel

#778 Support distinct model for planner in deployment templates
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-AI.ps1
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-AI.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/README.md
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-ai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk.bicep
Labels: PR: ready for review, samples

#779 Retry functionality for OpenAPI skills
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  samples/dotnet/kernel-syntax-examples/Example22_OpenApiSkill_AzureKeyVault.cs
Labels: PR: ready for review, .NET, kernel, samples

#789 Default the planner to disabled since we just published a how-to video.
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: samples

#781 CopilotChat: Enable MsGraph ToDos in CopilotChat
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/Client/MsGraphClientLoggingHandler.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/MicrosoftToDoConnector.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OneDriveConnector.cs
  dotnet/src/Skills/Skills.MsGraph/ITaskManagementConnector.cs
  dotnet/src/Skills/Skills.MsGraph/TaskListSkill.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/PlannerSkills/Summarize/config.json
  samples/apps/copilot-chat-app/webapi/PlannerSkills/Summarize/skprompt.txt
  samples/apps/copilot-chat-app/webapi/PlannerSkills/Translate/config.json
  samples/apps/copilot-chat-app/webapi/PlannerSkills/Translate/skprompt.txt
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/KlarnaSkill/ai-plugin.json
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/KlarnaSkill/openapi.json
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
  samples/dotnet/kernel-syntax-examples/Example21_ChatGPTPlugins.cs
  samples/dotnet/kernel-syntax-examples/Example24_OpenApiSkill_Jira.cs
Labels: PR: ready for review, .NET, kernel, samples, kernel.core

#768 add Java sample skill (gRPC server) for gRPC operation runner (client) with a sample proto file
  dotnet/src/Skills/Skills.Grpc/GrpcOperationRunner.cs
  samples/java/JavaReferenceSkill/.gitignore
  samples/java/JavaReferenceSkill/README.md
  samples/java/JavaReferenceSkill/pom.xml
  samples/java/JavaReferenceSkill/src/main/java/com/microsoft/semantickernel/skills/random/Main.java
  samples/java/JavaReferenceSkill/src/main/java/com/microsoft/semantickernel/skills/random/RandomActivitySkill.java
  samples/java/JavaReferenceSkill/src/main/proto/activity.proto
  samples/java/JavaReferenceSkill/src/test/java/com/microsoft/semantickernel/skills/random/RandomActivitySkillTest.java
Labels: .NET, kernel, samples

#799 Roll back default language version from 11 to 10
  dotnet/Directory.Build.props
  dotnet/common.props
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  samples/dotnet/KernelHttpServer/KernelHttpServer.csproj
  samples/dotnet/kernel-syntax-examples/Example21_ChatGPTPlugins.cs
Labels: bug, .NET, PR: ready to merge, kernel, samples

#798 Fix code style
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ISkillCollection.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/MicrosoftToDoConnector.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/dotnet/kernel-syntax-examples/Example24_OpenApiSkill_Jira.cs
Labels: PR: ready for review, .NET, kernel, samples, kernel.core

#809 Remove InternalsVisibleTo dependencies in solution
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Utilities/Diagnostics/HttpStatusCodeType.cs
  dotnet/src/SemanticKernel/Orchestration/SKContextExtensions.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#762 Python/hf example notebook
  samples/notebooks/python/07-hugging-face-for-skills.ipynb
Labels: PR: ready for review, samples

#811 Update Copilot Chat\webapi\ README.md
  samples/apps/copilot-chat-app/webapi/README.md
Labels: samples

#705 Plan,TextMemorySkill improvements and custom planner examples
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanParser.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel/CoreSkills/TextMemorySkill.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  samples/dotnet/kernel-syntax-examples/Example12_SequentialPlanner.cs
  samples/dotnet/kernel-syntax-examples/Example31_CustomPlanner.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/dotnet/kernel-syntax-examples/RepoUtils/PlanExtensions.cs
  samples/skills/QASkill/ContextQuery/skprompt.txt
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, samples, kernel.core

#812 🧪Add results-directory option to dotnet test tasks
  .vscode/tasks.json
Labels: PR: ready for review, PR: ready to merge

#815 Fix typo that calls semantic function instead of native function when…
  python/semantic_kernel/orchestration/sk_function.py
Labels: PR: ready for review, python

#816 Fix for the latest, partially successful, merge of gRPC feature branch with the main one.
  dotnet/src/Skills/Skills.Grpc/Protobuf/ProtoDocumentParser.cs
  samples/dotnet/kernel-syntax-examples/Example32_GrpcSkills.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: PR: ready for review, .NET, kernel, samples

#597 Python: Basic JSON-based Planner implementation
  python/semantic_kernel/core_skills/__init__.py
  python/semantic_kernel/planning/basic_planner.py
  python/semantic_kernel/planning/plan.py
  samples/notebooks/python/05-using-the-planner.ipynb
  samples/skills/WriterSkill/EnglishImprover/config.json
  samples/skills/WriterSkill/EnglishImprover/skprompt.txt
  samples/skills/WriterSkill/Translate/config.json
Labels: PR: feedback to address, python, samples

#784 fix typo in type hint
  python/semantic_kernel/memory/memory_store_base.py
Labels: PR: ready to merge, python

#801 CopilotChat: Enable email read and calendar read plugins
  dotnet/src/Skills/Skills.MsGraph/CalendarSkill.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/MicrosoftGraphModelExtensions.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OutlookCalendarConnector.cs
  dotnet/src/Skills/Skills.MsGraph/Connectors/OutlookMailConnector.cs
  dotnet/src/Skills/Skills.MsGraph/EmailSkill.cs
  dotnet/src/Skills/Skills.MsGraph/ICalendarConnector.cs
  dotnet/src/Skills/Skills.MsGraph/IEmailConnector.cs
  dotnet/src/Skills/Skills.MsGraph/Models/CalendarEvent.cs
  dotnet/src/Skills/Skills.MsGraph/Models/EmailAddress.cs
  dotnet/src/Skills/Skills.MsGraph/Models/EmailMessage.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/CalendarSkillTests.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
Labels: PR: ready for review, .NET, kernel, samples

#797 OpenAPI Skill server-url configurations
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.UnitTests/Connectors/WebApi/Rest/RestApiOperationTests.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/PluginsState.ts
  samples/dotnet/kernel-syntax-examples/Example22_OpenApiSkill_AzureKeyVault.cs
Labels: .NET, PR: ready to merge, Issues:Planner, kernel, samples, kernel.core

#807 ITextCompletion Streaming Support
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletion.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/dotnet/kernel-syntax-examples/Example32_StreamingCompletion.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: .NET, PR: ready to merge, kernel, samples, kernel.core

#821 Fix a few analyzer diagnostics
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosDB/CosmosMemoryStore.cs
  dotnet/src/SemanticKernel.Abstractions/KernelConfig.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests3.cs
  dotnet/src/SemanticKernel/AI/Embeddings/EmbeddingReadOnlySpan.cs
  dotnet/src/SemanticKernel/AI/Embeddings/EmbeddingSpan.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
  samples/apps/copilot-chat-app/importdocument/Program.cs
  samples/dotnet/kernel-syntax-examples/Example25_ReadOnlyMemoryStore.cs
Labels: .NET, kernel, samples, kernel.core

#824 Addressing merge PR comments
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  dotnet/src/Skills/Skills.Grpc/Extensions/GrpcOperationExtensions.cs
  dotnet/src/Skills/Skills.Grpc/Extensions/KernelGrpcExtensions.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#796 Remove unnecessary suppressions and fix a few warnings
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemory.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecord.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Sqlite/SqliteMemoryStoreTests.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/IReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel/Memory/MemoryConfiguration.cs
  dotnet/src/SemanticKernel/Memory/VolatileMemoryStore.cs
  dotnet/src/SemanticKernel/Orchestration/ContextVariablesExtensions.cs
  dotnet/src/SemanticKernel/Orchestration/SKContextExtensions.cs
  dotnet/src/SemanticKernel/SkillDefinition/SkillCollection.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
Labels: .NET, kernel, kernel.core

#823 python: fix issue of No module named 'semantic_kernel.planning'
  python/semantic_kernel/planning/__init__.py
Labels: PR: ready to merge, python

#820 Python: Optional dependencies
  .github/workflows/python-integration-tests.yml
  python/DEV_SETUP.md
  python/poetry.lock
  python/pyproject.toml
  python/requirements.txt
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  samples/notebooks/python/07-hugging-face-for-skills.ipynb
Labels: python, samples

#818 Updated Readme for Sample Apps
  samples/apps/copilot-chat-app/README.md
Labels: samples

#830 fix path to glossary
  samples/notebooks/dotnet/02-running-prompts-from-file.ipynb
Labels: .NET, samples

#826 Add support for custom context in plan execution
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ContextVariables.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: bug, PR: ready for review, .NET, kernel, kernel.core

#805 fix implementation to return embedding
  python/semantic_kernel/memory/memory_record.py
Labels: python

#556 fix issue 508
  dotnet/src/Skills/Skills.UnitTests/Web/WebSearchEngineSkillTests.cs
  dotnet/src/Skills/Skills.Web/Bing/BingConnector.cs
  dotnet/src/Skills/Skills.Web/Google/GoogleConnector.cs
  dotnet/src/Skills/Skills.Web/IWebSearchEngineConnector.cs
  dotnet/src/Skills/Skills.Web/WebSearchEngineSkill.cs
Labels: PR: feedback to address, .NET, kernel

#731 Merge KernelConfig with Kernel
  python/README.md
  python/semantic_kernel/__init__.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_base.py
  python/semantic_kernel/kernel_config.py
  python/semantic_kernel/kernel_extensions/memory_configuration.py
  python/tests/end-to-end/basics_with_azure_oai_chat_service.py
  python/tests/end-to-end/basics_with_azure_oai_text_service.py
  python/tests/end-to-end/basics_with_hf_local_text2text_service.py
  python/tests/end-to-end/basics_with_hf_local_text_generation_service.py
  python/tests/end-to-end/basics_with_hf_local_text_summarization.py
  python/tests/end-to-end/basics_with_oai_chat_service.py
  python/tests/end-to-end/basics_with_oai_text_service.py
  python/tests/end-to-end/chat.py
  python/tests/end-to-end/chat_gpt_api.py
  python/tests/end-to-end/memory.py
  python/tests/end-to-end/memory_with_azure_oai_embedding_service.py
  python/tests/end-to-end/memory_with_hf_embedding_service.py
  python/tests/end-to-end/memory_with_oai_embedding_service.py
  python/tests/end-to-end/skills_from_dir.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_azure_oai_text_service.py
  python/tests/integration/completions/test_hf_local_text2text_service.py
  python/tests/integration/completions/test_hf_local_text_generation_service.py
  python/tests/integration/completions/test_hf_local_text_summarization.py
  python/tests/integration/completions/test_oai_chat_service.py
  python/tests/integration/completions/test_oai_text_service.py
  python/tests/integration/embeddings/test_azure_oai_embedding_service.py
  python/tests/integration/embeddings/test_hf_embedding_service.py
  python/tests/integration/embeddings/test_oai_embedding_service.py
  python/tests/unit/kernel_extensions/test_import_skills.py
  python/tests/unit/text/test_function_extension.py
  samples/notebooks/python/00-getting-started.ipynb
  samples/notebooks/python/01-basic-loading-the-kernel.ipynb
  samples/notebooks/python/02-running-prompts-from-file.ipynb
  samples/notebooks/python/03-semantic-function-inline.ipynb
  samples/notebooks/python/04-context-variables-chat.ipynb
  samples/notebooks/python/05-using-the-planner.ipynb
  samples/notebooks/python/06-memory-and-embeddings.ipynb
Labels: PR: ready for review, python, samples

#787 Method name is added to exception message.
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
Labels: PR: ready for review, .NET, kernel.core

#773 Copilot chat: Avoid duplication in document memories
  samples/apps/copilot-chat-app/webapi/Config/DocumentMemoryOptions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/DocumentMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/PromptSettings.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: PR: ready to merge, samples

#857 Improvements/fixes for service registry
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AIServicesOpenAIExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/TextEmbeddingServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ImageGeneration/ImageGenerationServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Services/ServiceExtensions.cs
  dotnet/src/SemanticKernel/KernelBuilder.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/dotnet/KernelBuilder/Program.cs
  samples/dotnet/KernelHttpServer/SemanticKernelFactory.cs
  samples/dotnet/graph-api-skills/Program.cs
  samples/dotnet/kernel-syntax-examples/Example04_CombineLLMPromptsAndNativeCode.cs
  samples/dotnet/kernel-syntax-examples/Example05_InlineFunctionDefinition.cs
  samples/dotnet/kernel-syntax-examples/Example06_TemplateLanguage.cs
  samples/dotnet/kernel-syntax-examples/Example07_BingAndGoogleSkills.cs
  samples/dotnet/kernel-syntax-examples/Example08_RetryHandler.cs
  samples/dotnet/kernel-syntax-examples/Example09_FunctionTypes.cs
  samples/dotnet/kernel-syntax-examples/Example10_DescribeAllSkillsAndFunctions.cs
  samples/dotnet/kernel-syntax-examples/Example12_SequentialPlanner.cs
  samples/dotnet/kernel-syntax-examples/Example13_ConversationSummarySkill.cs
  samples/dotnet/kernel-syntax-examples/Example14_SemanticMemory.cs
  samples/dotnet/kernel-syntax-examples/Example15_MemorySkill.cs
  samples/dotnet/kernel-syntax-examples/Example17_ChatGPT.cs
  samples/dotnet/kernel-syntax-examples/Example18_DallE.cs
  samples/dotnet/kernel-syntax-examples/Example19_Qdrant.cs
  samples/dotnet/kernel-syntax-examples/Example26_AADAuth.cs
  samples/dotnet/kernel-syntax-examples/Example27_SemanticFunctionsUsingChatGPT.cs
  samples/dotnet/kernel-syntax-examples/Example28_ActionPlanner.cs
  samples/dotnet/kernel-syntax-examples/Example30_ChatWithPrompts.cs
  samples/dotnet/kernel-syntax-examples/Example31_CustomPlanner.cs
  samples/dotnet/kernel-syntax-examples/Example32_StreamingCompletion.cs
Labels: .NET, kernel, samples, kernel.core, feature

#829 IChatCompletion Streaming Support
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatCompletion.cs
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/dotnet/kernel-syntax-examples/Example17_ChatGPT.cs
  samples/dotnet/kernel-syntax-examples/Example33_StreamingChat.cs
  samples/dotnet/kernel-syntax-examples/Example34_CustomChatModel.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/dotnet/kernel-syntax-examples/README.md
Labels: PR: ready for review, .NET, kernel, samples, kernel.core

#859 CopilotChat: Add Azure Cog Search for Semantic Memory
  samples/apps/copilot-chat-app/webapi/Config/AzureCognitiveSearchOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/MemoriesStoreOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: enhancement, PR: ready for review, samples

#860 Lower relevancy threshold and increase max relevant functions for seq…
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
Labels: .NET, kernel

#855 Python: fixes and release
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/kernel.py
  python/tests/integration/completions/e2e_text_completion.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_azure_oai_text_service.py
  python/tests/integration/completions/test_oai_chat_service.py
  python/tests/integration/completions/test_oai_text_service.py
  python/tests/integration/embeddings/test_oai_embedding_service.py
Labels: python

#864 Revert "CopilotChat: Add Azure Cog Search for Semantic Memory (#859)"
  samples/apps/copilot-chat-app/webapi/Config/AzureCognitiveSearchOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/MemoriesStoreOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: samples

#814 gRPC skills functionality
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  dotnet/src/Skills/Skills.Grpc/Extensions/GrpcOperationExtensions.cs
  dotnet/src/Skills/Skills.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Skills/Skills.Grpc/GrpcOperationRunner.cs
  dotnet/src/Skills/Skills.Grpc/Model/GrpcOperation.cs
  dotnet/src/Skills/Skills.Grpc/Model/GrpcOperationDataContractType.cs
  dotnet/src/Skills/Skills.Grpc/Model/GrpcOperationDataContractTypeFiled.cs
  dotnet/src/Skills/Skills.Grpc/Model/GrpcOperationException.cs
  dotnet/src/Skills/Skills.Grpc/Protobuf/ProtoDocumentParser.cs
  dotnet/src/Skills/Skills.Grpc/Protobuf/ProtobufParsingException.cs
  dotnet/src/Skills/Skills.Grpc/Skills.Grpc.csproj
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.UnitTests/Grpc/Extensions/GrpcOperationExtensionsTests.cs
  dotnet/src/Skills/Skills.UnitTests/Grpc/GrpcRunnerTests.cs
  dotnet/src/Skills/Skills.UnitTests/Grpc/Protobuf/ProtoDocumentParserV30Tests.cs
  dotnet/src/Skills/Skills.UnitTests/Grpc/Protobuf/TestSkills/ResourceSkillsProvider.cs
  dotnet/src/Skills/Skills.UnitTests/Grpc/Protobuf/TestSkills/protoV3.proto
  dotnet/src/Skills/Skills.UnitTests/Skills.UnitTests.csproj
  samples/dotnet/kernel-syntax-examples/Example35_GrpcSkills.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
  samples/java/JavaReferenceSkill/.gitignore
  samples/java/JavaReferenceSkill/README.md
  samples/java/JavaReferenceSkill/pom.xml
  samples/java/JavaReferenceSkill/src/main/java/com/microsoft/semantickernel/skills/random/Main.java
  samples/java/JavaReferenceSkill/src/main/java/com/microsoft/semantickernel/skills/random/RandomActivitySkill.java
  samples/java/JavaReferenceSkill/src/main/proto/activity.proto
  samples/java/JavaReferenceSkill/src/test/java/com/microsoft/semantickernel/skills/random/RandomActivitySkillTest.java
Labels: PR: ready for review, .NET, kernel, samples, kernel.core

#866 CopilotChat: Add Azure Cog Search for Semantic Memory w/ IOptions fix
  samples/apps/copilot-chat-app/webapi/Config/AzureCognitiveSearchOptions.cs
  samples/apps/copilot-chat-app/webapi/Config/MemoriesStoreOptions.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: samples

#848 Simplify orchestration API
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SKContextExtensionsTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SKContextSequentialPlannerExtensions.cs
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanParser.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/IReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ISkillCollection.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKContextTests.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Orchestration/SKContextExtensions.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/ReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel/SkillDefinition/SkillCollection.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/CodeBlock.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#858 Removing end-to-end tests that were moved to integration tests
  python/tests/end-to-end/basics_with_azure_oai_chat_service.py
  python/tests/end-to-end/basics_with_azure_oai_text_service.py
  python/tests/end-to-end/basics_with_hf_local_text2text_service.py
  python/tests/end-to-end/basics_with_hf_local_text_generation_service.py
  python/tests/end-to-end/basics_with_hf_local_text_summarization.py
  python/tests/end-to-end/basics_with_oai_chat_service.py
  python/tests/end-to-end/basics_with_oai_text_service.py
  python/tests/end-to-end/memory_with_azure_oai_embedding_service.py
  python/tests/end-to-end/memory_with_hf_embedding_service.py
  python/tests/end-to-end/memory_with_oai_embedding_service.py
Labels: PR: ready for review, python

#868 Python: Update notebooks by pinning pip package and removing requirements.txt
  python/README.md
  samples/notebooks/python/00-getting-started.ipynb
  samples/notebooks/python/01-basic-loading-the-kernel.ipynb
  samples/notebooks/python/02-running-prompts-from-file.ipynb
  samples/notebooks/python/03-semantic-function-inline.ipynb
  samples/notebooks/python/04-context-variables-chat.ipynb
  samples/notebooks/python/05-using-the-planner.ipynb
  samples/notebooks/python/06-memory-and-embeddings.ipynb
  samples/notebooks/python/07-hugging-face-for-skills.ipynb
  samples/notebooks/python/requirements.txt
Labels: python, samples

#879 CopilotChat: Add Klarna to extensions list
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Model/OpenApiSkillsAuthHeaders.cs
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapp/src/assets/plugin-icons/klarna.png
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginConnector.tsx
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginGallery.tsx
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/PluginsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/pluginsSlice.ts
Labels: samples

#880 Improvements + fixes
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel/KernelBuilder.cs
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/dotnet/kernel-syntax-examples/Example17_ChatGPT.cs
  samples/dotnet/kernel-syntax-examples/Example20_HuggingFace.cs
  samples/dotnet/kernel-syntax-examples/Example33_StreamingChat.cs
  samples/dotnet/kernel-syntax-examples/Example34_CustomChatModel.cs
Labels: .NET, kernel, samples, kernel.core

#882 InternalsVisibleTo Reduction & Shared Common Utilities - Part 1
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.AI.OpenAI/Connectors.AI.OpenAI.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Connectors.Memory.Sqlite.csproj
  dotnet/src/Extensions/Planning.ActionPlanner/Planning.ActionPlanner.csproj
  dotnet/src/Extensions/Planning.SequentialPlanner/Planning.SequentialPlanner.csproj
  dotnet/src/InternalUtilities/Diagnostics/CompilerServicesAttributes.cs
  dotnet/src/InternalUtilities/Diagnostics/ExceptionExtensions.cs
  dotnet/src/InternalUtilities/Diagnostics/HttpStatusCodeType.cs
  dotnet/src/InternalUtilities/Diagnostics/NullableAttributes.cs
  dotnet/src/InternalUtilities/Diagnostics/Verify.cs
  dotnet/src/InternalUtilities/InternalUtilities.props
  dotnet/src/InternalUtilities/Text/Json.cs
  dotnet/src/InternalUtilities/Text/StringExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperation.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationParameter.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationParameterLocation.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationParameterStyle.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationPayload.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/RestApiOperationRunner.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.UnitTests/Text/StringExtensionsTests.cs
  dotnet/src/SemanticKernel/SemanticKernel.csproj
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/Skills/Skills.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Skills/Skills.Grpc/Skills.Grpc.csproj
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Skills.OpenAPI.csproj
Labels: .NET, kernel, kernel.core

#881 CopilotChat: Documentation Updates
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
Labels: documentation, PR: ready for review, samples

#884 Newtonsoft.Json CWE-755 - Improper Handling of Exceptional Conditions
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Skills/Skills.Grpc/Extensions/KernelGrpcExtensions.cs
  dotnet/src/Skills/Skills.UnitTests/Grpc/Extensions/GrpcOperationExtensionsTests.cs
  dotnet/src/Skills/Skills.UnitTests/Grpc/Protobuf/ProtoDocumentParserV30Tests.cs
  samples/dotnet/kernel-syntax-examples/Example35_GrpcSkills.cs
Labels: .NET, kernel, samples

#885 Copilotchat: Don't call the planner if there are no functions available
  samples/apps/copilot-chat-app/webapi/Skills/CopilotChatPlanner.cs
Labels: enhancement, PR: ready for review, samples

#869 CopilotChat: Make use of auth settings
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
Labels: PR: ready to merge, samples

#883 Plan serialization: add support for indented JSON
  dotnet/src/SemanticKernel/Planning/Plan.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel.core

#888 Allow to replace functions (fix regression)
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SkillCollectionTests.cs
  dotnet/src/SemanticKernel/SkillDefinition/SkillCollection.cs
Labels: .NET, kernel, kernel.core

#840 Add Qdrant to deploymemt templates
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-AI.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-AzureOpenAI.ps1
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-AzureOpenAI.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-OpenAI.ps1
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-OpenAI.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK.ps1
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/README.md
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-ai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-ai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-azureopenai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-azureopenai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-openai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-openai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk.json
Labels: PR: feedback to address, samples

#810 Setup scripts for Copilot Chat
  samples/apps/copilot-chat-app/scripts/Install-Requirements.ps1
  samples/apps/copilot-chat-app/scripts/README.md
  samples/apps/copilot-chat-app/scripts/Start-Backend.ps1
  samples/apps/copilot-chat-app/scripts/Start-Backend.sh
  samples/apps/copilot-chat-app/scripts/Start-Frontend.ps1
  samples/apps/copilot-chat-app/scripts/Start-Frontend.sh
  samples/apps/copilot-chat-app/scripts/Start.ps1
  samples/apps/copilot-chat-app/scripts/Start.sh
Labels: enhancement, PR: ready for review, samples

#800 Integrate jira into copilot chat
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/Model/CommentAuthor.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/Model/CommentResponse.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/Model/IndividualComments.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/Model/IssueResponse.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/Model/IssueResponseFIeld.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/openapi.json
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/README.md
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/pluginsSlice.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: PR: ready for review, samples

#894 CopilotChat: Fix document upload and memory issues
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/webapi/Config/DocumentMemoryOptions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: samples

#896 Fix variable name reporting in exception messages
  dotnet/src/Skills/Skills.Web/Bing/BingConnector.cs
  dotnet/src/Skills/Skills.Web/Google/GoogleConnector.cs
Labels: .NET, kernel

#887 RestAPI: Move to Skills.OpenApi package
  dotnet/src/SemanticKernel.Abstractions/Connectors/WebApi/Rest/IRestApiOperationRunner.cs
  dotnet/src/Skills/Skills.OpenAPI/Authentication/AuthenticateRequestAsyncCallback.cs
  dotnet/src/Skills/Skills.OpenAPI/Authentication/README.md
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelChatGptPluginExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/KernelOpenApiExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperation.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperationException.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperationParameter.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperationParameterLocation.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperationParameterStyle.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperationPayload.cs
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Skills/Skills.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Skills/Skills.UnitTests/Connectors/WebApi/Rest/RestApiOperationRunnerTests.cs
  dotnet/src/Skills/Skills.UnitTests/Connectors/WebApi/Rest/RestApiOperationTests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/OpenApiDocumentParserV31Tests.cs
Labels: .NET, kernel, kernel.core

#891 Make all protected members of ClientBase / OpenAIClientBase / AzureOpenAIClientBase private protected
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
Labels: .NET, kernel

#872 Copilot UI fixes
  samples/apps/copilot-chat-app/webapp/src/components/FileUploader.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/index.css
Labels: bug, PR: feedback to address, samples

#900 Fix issue with casting custom functions in plan.InvokeAsync
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
Labels: bug, .NET, PR: ready to merge, kernel.core

#898 Add speech service for speech recognition to deployment templates
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-ai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk.bicep
Labels: PR: ready for review, samples

#892 Add CosmosDB to deployment templates
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-ai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk.bicep
Labels: PR: ready for review, samples

#901 Removed CallerArgumentExpressionAttribute to fix support for dotnet 6
  dotnet/src/InternalUtilities/Diagnostics/CompilerServicesAttributes.cs
  dotnet/src/InternalUtilities/Diagnostics/Verify.cs
Labels: .NET

#903 Misc code style fixes
  dotnet/SK-dotnet.sln
  dotnet/src/InternalUtilities/Diagnostics/CompilerServicesAttributes.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/CopilotChatPlanner.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/Model/CommentResponse.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/Model/IssueResponseFIeld.cs
Labels: .NET, PR: ready to merge, samples

#873 Fixing issues in the Jupyter notebook for the planner
  samples/notebooks/dotnet/05-using-the-planner.ipynb
  samples/notebooks/dotnet/config/Utils.cs
  samples/notebooks/dotnet/config/settings.json.azure-example
  samples/notebooks/dotnet/config/settings.json.openai-example
Labels: .NET, samples

#921 Wire up direct reports email
  dotnet/src/Skills/Skills.MsGraph/OrganizationHierarchySkill.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/OrganizationHierarchySkillTests.cs
Labels: .NET, kernel

#918 Fix error when using klarna plugin
  dotnet/src/Skills/Skills.OpenAPI/Model/RestApiOperation.cs
Labels: PR: ready for review, .NET, kernel

#813 Added timestamp property to chat session model
  samples/apps/copilot-chat-app/webapi/Model/ChatSession.cs
Labels: PR: ready to merge, samples

#870 Copilot chat: join chats via chat ids
  samples/apps/copilot-chat-app/webapi/Config/CosmosOptions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/ChatHistoryController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/ChatParticipantController.cs
  samples/apps/copilot-chat-app/webapi/Model/ChatParticipant.cs
  samples/apps/copilot-chat-app/webapi/Model/ChatSession.cs
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/Storage/ChatParticipantRepository.cs
  samples/apps/copilot-chat-app/webapi/Storage/ChatSessionRepository.cs
  samples/apps/copilot-chat-app/webapi/Storage/CosmosDbContext.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ShareBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/NewBotMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationCreateDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/invitation-dialog/InvitationJoinDialog.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatParticipant.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatSession.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/ChatService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
Labels: PR: feedback to address, samples

#929 CopilotChat: Minor refactor of token limits and reduce to 4096 for gpt-3.5-turbo.
  samples/apps/copilot-chat-app/webapi/Config/PromptsConfig.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/PromptSettings.cs
  samples/apps/copilot-chat-app/webapi/prompts.json
Labels: .NET, PR: ready to merge, samples

#932 CopilotChat: Slim down error messages in WebApp
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
Labels: PR: ready for review, samples

#933 Fix linter not running
  .github/workflows/lint.yml
Labels: PR: ready for review

#841 [Python] Port MathSkill from C# to python3
  FEATURE_MATRIX.md
  python/semantic_kernel/core_skills/__init__.py
  python/semantic_kernel/core_skills/math_skill.py
  python/tests/unit/core_skills/test_math_skill.py
Labels: PR: ready to merge, python

#938 Update System.Text.Json and enable transitive pinning
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.UnitTests/Orchestration/ContextVariablesConverterTests.cs
Labels: .NET, kernel

#951 Fix error handling for OpenAI completion tests
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
Labels: .NET, kernel

#955 Revert "Update System.Text.Json and enable transitive pinning (#938)"
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.UnitTests/Orchestration/ContextVariablesConverterTests.cs
Labels: .NET, kernel

#937 Add support for non-static native functions with external references
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests3.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#931 Fix python bug preventing use of Azure OpenAI and OpenAI at the same …
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
  python/semantic_kernel/core_skills/__init__.py
  python/semantic_kernel/core_skills/math_skill.py
  python/tests/integration/completions/e2e_text_completion.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_oai_text_service.py
  python/tests/integration/embeddings/test_oai_embedding_service.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_text_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_text_embedding.py
  python/tests/unit/core_skills/test_math_skill.py
Labels: PR: feedback to address, python

#924 Rename Timestamp to CreateOn in ChatSession
  samples/apps/copilot-chat-app/webapi/Model/ChatSession.cs
Labels: PR: ready for review, samples

#895 Plan viewer and approval for Copilot Chat
  samples/apps/copilot-chat-app/webapi/Model/ProposedPlan.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistory.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/models/ChatMessage.ts
  samples/apps/copilot-chat-app/webapp/src/libs/models/Plan.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/model/AskResult.ts
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/sk-utilities.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
  samples/apps/copilot-chat-app/webapp/src/styles.tsx
Labels: enhancement, PR: ready for review, typescript, samples

#959 Change FileSizeLimit to 4MB for document memory
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: samples

#956 Copilot chat: Document import chat-session scope
  samples/apps/copilot-chat-app/importdocument/Program.cs
  samples/apps/copilot-chat-app/importdocument/README.md
  samples/apps/copilot-chat-app/webapi/Config/DocumentMemoryOptions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/Model/DocumentImportForm.cs
  samples/apps/copilot-chat-app/webapi/Skills/DocumentMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/DocumentImport.ts
Labels: PR: ready to merge, samples

#975 Bug fix: Fix bot icons
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-1.png
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-2.png
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-3.png
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-4.png
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-5.png
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
Labels: PR: ready to merge, samples

#976 Copilot Chat: UX polish
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
Labels: PR: ready for review, typescript, samples

#965 Move CopilotChat webapi to nuget package dependencies
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
Labels: PR: ready for review, samples

#977 Spell checking automation + fix typos
  .github/_typos.toml
  .github/workflows/typos.yaml
  dotnet/src/Connectors/Connectors.AI.OpenAI/Tokenizers/GPT3Tokenizer.cs
  dotnet/src/IntegrationTests/README.md
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  python/semantic_kernel/text/text_chunker.py
  python/tests/unit/text/test_text_chunker.py
  samples/apps/book-creator-webapp-react/src/components/TaskButton.tsx
  samples/apps/copilot-chat-app/README.md
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/openapi.json
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginConnector.tsx
  samples/dotnet/kernel-syntax-examples/Example13_ConversationSummarySkill.cs
  samples/dotnet/kernel-syntax-examples/Skills/JiraSkill/openapi.json
  samples/notebooks/dotnet/05-using-the-planner.ipynb
  samples/notebooks/dotnet/07-DALL-E-2.ipynb
  samples/notebooks/dotnet/08-chatGPT-with-DALL-E-2.ipynb
  samples/notebooks/python/05-using-the-planner.ipynb
  samples/notebooks/python/07-hugging-face-for-skills.ipynb
Labels: PR: ready for review, .NET, python, kernel, samples, kernel.core

#832 Add VS Code tasks for CopilotChat project
  .vscode/launch.json
  .vscode/tasks.json
  samples/apps/copilot-chat-app/.vscode/tasks.json
  samples/apps/copilot-chat-app/webapi/README.md
Labels: PR: ready for review, PR: ready to merge, samples

#853 [Python] Conversation summary skill porting part I
  FEATURE_MATRIX.md
  python/semantic_kernel/core_skills/__init__.py
  python/semantic_kernel/core_skills/conversation_summary_skill.py
  python/tests/integration/completions/e2e_text_completion.py
  python/tests/integration/completions/test_conversation_summary_skill.py
Labels: python

#969 Make Qdrant, CosmosDB, Speech Services optional in deployment templates
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-AzureOpenAI.ps1
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-OpenAI.ps1
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK.ps1
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-ai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-azureopenai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-azureopenai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-openai.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk-existing-openai.json
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk.bicep
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/sk.json
Labels: PR: ready for review, samples

#981 Fixing Copilot Chat UI bugs
  samples/apps/copilot-chat-app/webapp/env.example
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/checkEnv.ts
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistory.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/views/ChatView.tsx
  samples/apps/copilot-chat-app/webapp/src/components/views/MissingEnvVariablesError.tsx
  samples/apps/copilot-chat-app/webapp/src/index.tsx
Labels: samples

#980 Fix bug in Copilot Chat setup scripts
  samples/apps/copilot-chat-app/scripts/Start-Frontend.sh
  samples/apps/copilot-chat-app/scripts/Start.ps1
  samples/apps/copilot-chat-app/scripts/Start.sh
Labels: bug, PR: ready for review, samples

#964 A few examples of using SK SDK in DI/IoC container
  dotnet/src/SemanticKernel/KernelBuilder.cs
  dotnet/src/SemanticKernel/Services/AIServiceProvider.cs
  dotnet/src/SemanticKernel/Services/NamedServiceProvider.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/dotnet/kernel-syntax-examples/Example35_DIContainer.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: PR: ready for review, .NET, samples, kernel.core

#777 SKFunction Invoke Parameter Duplication
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Diagnostics/NullableAttributes.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Extensions/Planning.ActionPlanner/ActionPlanner.cs
  dotnet/src/InternalUtilities/Diagnostics/CompilerServicesAttributes.cs
  dotnet/src/InternalUtilities/Diagnostics/NullableAttributes.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/NullMemory.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ContextVariables.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/ISKFunction.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/NullReadOnlySkillCollection.cs
  dotnet/src/SemanticKernel.UnitTests/CoreSkills/HttpSkillTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/ContextVariablesConverterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/SkillDefinition/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/PromptTemplateEngineTests.cs
  dotnet/src/SemanticKernel/Kernel.cs
  dotnet/src/SemanticKernel/Planning/Plan.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  dotnet/src/SemanticKernel/TemplateEngine/Blocks/VarBlock.cs
  dotnet/src/Skills/Skills.MsGraph/Diagnostics/NullableAttributes.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/CalendarSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/EmailSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/OrganizationHierarchySkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/MsGraph/TaskListSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/OpenAPI/JsonPathSkillTests.cs
  dotnet/src/Skills/Skills.UnitTests/Web/WebSearchEngineSkillTests.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/GitHubSkill/Model/User.cs
  samples/apps/copilot-chat-app/webapi/Skills/SemanticChatMemory.cs
  samples/dotnet/github-skills/GitHubSkill.cs
  samples/dotnet/kernel-syntax-examples/Example07_BingAndGoogleSkills.cs
  samples/dotnet/kernel-syntax-examples/Example09_FunctionTypes.cs
  samples/dotnet/kernel-syntax-examples/Example31_CustomPlanner.cs
Labels: PR: ready for review, .NET, PR: ready to merge, kernel, samples, kernel.core

#939 Update skprompt.txt
  samples/skills/ChatSkill/ChatGPT/skprompt.txt
Labels: PR: ready to merge, samples

#995 Fix typo in poem generated by chatbot
  python/tests/integration/completions/e2e_text_completion.py
Labels: PR: ready for review, PR: ready to merge, python

#987 Fix deadlock in TextMemory skill
  dotnet/src/SemanticKernel/CoreSkills/TextMemorySkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/dotnet/kernel-syntax-examples/Example15_MemorySkill.cs
Labels: .NET, samples, kernel.core

#889 Introducing Connectors.AI.HuggingFace Package
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.AI.HuggingFace/Connectors.AI.HuggingFace.csproj
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionRequest.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionResponse.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/TextEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/TextEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextEmbedding/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  samples/dotnet/kernel-syntax-examples/Example20_HuggingFace.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
Labels: .NET, PR: ready to merge, kernel, samples

#982 Fixing web skill package reference
  dotnet/Directory.Packages.props
  dotnet/src/Skills/Skills.Web/Skills.Web.csproj
Labels: .NET, PR: ready to merge, kernel

#1000 Bump python release number - 0.2.8.dev
  python/pyproject.toml
  python/tests/integration/completions/e2e_text_completion.py
Labels: PR: ready for review, python

#983 Fixed incorrect setting name.
  samples/apps/copilot-chat-app/README.md
Labels: PR: ready to merge, samples

#1001 Update samples to use 'chat' completion models rather than text completion models
  samples/apps/auth-api-webapp-react/README.md
  samples/apps/book-creator-webapp-react/README.md
  samples/apps/chat-summary-webapp-react/README.md
  samples/apps/github-qna-webapp-react/README.md
  samples/dotnet/KernelHttpServer/SemanticKernelFactory.cs
Labels: PR: ready for review, .NET, samples

#842 Minor documentation changes and ToString)= overrides for easier debugging.
  docs/PROMPT_TEMPLATE_LANGUAGE.md
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
Labels: .NET, PR: ready to merge, kernel.core

#1004 Adding UnitTest tags for dotnet 6,7,8 version support
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
  dotnet/src/SemanticKernel/Orchestration/ContextVariablesConverter.cs
  dotnet/src/Skills/Skills.UnitTests/Skills.UnitTests.csproj
Labels: PR: ready for review, .NET, kernel, kernel.core

#1005 Add CLSCompliant=false to csproj files
  dotnet/Directory.Build.props
Labels: PR: ready to merge

#1006 Add new dotnet analyzers
  .editorconfig
  dotnet/Directory.Packages.props
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
Labels: PR: ready to merge, samples

#1008 Update FileIOSkill to block writing to readonly files
  dotnet/src/SemanticKernel/CoreSkills/FileIOSkill.cs
Labels: PR: ready for review, .NET, kernel.core

#1009 Fix warning in Score.cs
  dotnet/src/SemanticKernel/Memory/Collections/Score.cs
Labels: PR: ready for review, .NET, kernel.core

#1007 Adding support for JSON responses with embedded results
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
Labels: PR: ready to merge, samples

#1019 Update jira plugin UI for copilot chat
  samples/apps/copilot-chat-app/webapp/src/components/open-api-plugins/PluginConnector.tsx
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/PluginsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/pluginsSlice.ts
Labels: samples

#1020 CopilotChat: Enable Mail.Send in Microsoft Graph plugin
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
Labels: samples

#1018 Copilot Chat: Fix bot profile pictures end up the same after refresh
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ConversationsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: PR: ready for review, samples

#1023 Rendering clickable URLs and fixing scrollbar styling
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/utils/TextUtils.ts
  samples/apps/copilot-chat-app/webapp/src/index.css
Labels: bug, PR: ready for review, typescript, samples

#1028 Edit bot name refactor (modal flow)
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
Labels: PR: ready for review, typescript, samples

#1029 Copilot log out
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/header/UserSettings.tsx
Labels: PR: ready for review, samples

#1027 Update SK nugets in Copilot Chat
  dotnet/Directory.Packages.props
  samples/apps/copilot-chat-app/webapi/CopilotChatWebApi.csproj
Labels: PR: ready for review, PR: ready to merge, samples

#1024 Bring bash deployment scripts back up to date
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-AzureOpenAI.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK-Existing-OpenAI.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/DeploySK.sh
  samples/apps/copilot-chat-app/webapi/DeploymentTemplates/README.md
Labels: PR: ready to merge, samples

#952 ITextCompletion Multiple Results (Incl. Streaming)
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextCompletionStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextCompletion/HuggingFaceTextCompletionTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/CompleteRequestSettings.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletionResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletionStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionExtensions.cs
  samples/dotnet/kernel-syntax-examples/Example16_CustomLLM.cs
  samples/dotnet/kernel-syntax-examples/Example36_MultiCompletion.cs
  samples/dotnet/kernel-syntax-examples/Example37_MultiStreamingCompletion.cs
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: enhancement, .NET, PR: ready to merge, kernel, samples, kernel.core

#1025 Fix incorrect condition in QdrantMemoryStore.DeleteCollectionAsync
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryStoreTests.cs
Labels: PR: ready for review, .NET, kernel

#1039 Copilot Chat setup script fixes
  samples/apps/copilot-chat-app/scripts/Install-Requirements.ps1
  samples/apps/copilot-chat-app/scripts/README.md
  samples/apps/copilot-chat-app/scripts/Start.sh
Labels: bug, documentation, PR: ready for review, samples

#957 python: add chroma memory store
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-unit-tests.yml
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/chroma/__init__.py
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
  python/semantic_kernel/connectors/memory/chroma/utils.py
  python/tests/integration/connectors/memory/test_chroma.py
Labels: python

#1015 Python: Merge Kernel, KernelBase, KernelExtensions
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_extensions/__init__.py
  python/semantic_kernel/kernel_extensions/extends_kernel.py
  python/semantic_kernel/kernel_extensions/import_skills.py
  python/semantic_kernel/kernel_extensions/inline_definition.py
  python/semantic_kernel/kernel_extensions/memory_configuration.py
  python/tests/unit/core_skills/test_file_io_skill.py
  python/tests/unit/core_skills/test_http_skill.py
  python/tests/unit/core_skills/test_math_skill.py
Labels: PR: ready to merge, python

#770 Pinecone dataconnector
  FEATURE_MATRIX.md
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Connectors.Memory.Pinecone.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/ConfigureIndexRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/DeleteIndexRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/DeleteRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/DescribeIndexRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/DescribeIndexStatsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/FetchRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/FetchResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/ListIndexesRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/QueryRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/QueryResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/UpdateVectorRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/UpsertRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/ApiSchema/UpsertResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/HttpRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Http/SecureHttpHandler.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/IPineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/IPineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/IndexDefinition.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/IndexMetadataConfig.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/IndexMetric.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/IndexNamespaceStats.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/IndexState.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/IndexStats.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/IndexStatus.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/OperationType.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/PineconeIndex.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/PodType.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/Query.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/SparseVectorData.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeDocument.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeDocumentExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryException.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeUtils.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeUtilsTests.cs
  samples/dotnet/kernel-syntax-examples/Example38_Pinecone.cs
  samples/dotnet/kernel-syntax-examples/KernelSyntaxExamples.csproj
  samples/dotnet/kernel-syntax-examples/Program.cs
Labels: .NET, PR: ready to merge, kernel, samples

#1022 Fix authentication in notebook
  samples/notebooks/python/04-context-variables-chat.ipynb
Labels: PR: ready to merge, samples

#1067 UX: Fix preview wrap in chatlistitem
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
Labels: bug, PR: ready for review, typescript, samples

#1062 Hotfix - ChatCompletionImpl as ITextCompletion Regression Fix and Added Tests
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatCompletionAsTextResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Planning/PlanTests.cs
  dotnet/src/IntegrationTests/Planning/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/README.md
  dotnet/src/IntegrationTests/TestSettings/AzureOpenAIConfiguration.cs
  dotnet/src/IntegrationTests/TestSettings/OpenAIConfiguration.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: bug, PR: ready for review, .NET, PR: ready to merge, kernel
