Repository microsoft/semantic-kernel, pull requests merged in 2023-10, with the labels that each got.

#3030 .Net: Bug + Regression Fix + Added UTs
  dotnet/samples/KernelSyntaxExamples/Example57_FunctionEventHandlers.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: bug, PR: ready for review, .NET, PR: ready to merge, kernel, PR: regression fix

#2818 Python: Adding MongoDB Atlas Vector Search Connector
  .github/workflows/python-integration-tests.yml
  python/.env.example
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/memory/mongodb_atlas/README.md
  python/semantic_kernel/connectors/memory/mongodb_atlas/__init__.py
  python/semantic_kernel/connectors/memory/mongodb_atlas/mongodb_atlas_memory_store.py
  python/semantic_kernel/connectors/memory/mongodb_atlas/utils.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/connectors/memory/test_mongodb_atlas.py
  samples/apps/hugging-face-http-server/inference_app.py
Labels: documentation, python, samples, memory

#3059 Java: fixed minRelevance filtering in getNearestMatchesAsync. make getSearc…
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryStore.java
Labels: java

#3008 .Net: use single EmbeddedResource class
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/EmbeddedResource.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/EmbeddedResource.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Utils/EmbeddedResource.cs
Labels: PR: feedback to address, .NET

#3065 .Net: Issue-2839: Fixed .NET notebook '07-DALL-E-2' errors
  dotnet/notebooks/07-DALL-E-2.ipynb
Labels: .NET

#3037 Python: Fix ActionPlanner logging: Value of the parameter
  python/semantic_kernel/planning/action_planner/action_planner.py
Labels: python

#3036 Python: fix: python notebooks 10 chapter title
  python/notebooks/10-multiple-results-per-prompt.ipynb
Labels: python

#3042 .Net: Memory Plugin extraction - Part 1
  docs/decisions/0011-memory-as-plugin.md
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/InternalUtilities/test/Linq/AsyncEnumerable.cs
  dotnet/src/Plugins/Plugins.Memory/Collections/MinHeap.cs
  dotnet/src/Plugins/Plugins.Memory/Collections/ScoredValue.cs
  dotnet/src/Plugins/Plugins.Memory/Collections/TopNCollection.cs
  dotnet/src/Plugins/Plugins.Memory/Plugins.Memory.csproj
  dotnet/src/Plugins/Plugins.Memory/TextMemoryPlugin.cs
  dotnet/src/Plugins/Plugins.Memory/VolatileMemoryStore.cs
  dotnet/src/Plugins/Plugins.UnitTests/Memory/Collections/MinHeapTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Memory/Collections/TopNCollectionTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Memory/VolatileMemoryStoreTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Plugins.UnitTests.csproj
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryQueryResult.cs
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
Labels: documentation, PR: ready for review, .NET, kernel, kernel.core, PR: breaking change

#2956 .Net: Typo "Azure Open AI service key"→"Azure OpenAI Service Key"
  dotnet/README.md
Labels: documentation, .NET

#3075 .Net: Fixed examples and XML documentation
  dotnet/samples/KernelSyntaxExamples/Example04_CombineLLMPromptsAndNativeCode.cs
  dotnet/samples/KernelSyntaxExamples/Example05_InlineFunctionDefinition.cs
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example11_WebSearchQueries.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  dotnet/samples/KernelSyntaxExamples/Example21_ChatGPTPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example23_OpenApiPlugin_Github.cs
  dotnet/samples/KernelSyntaxExamples/Example27_SemanticFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example35_GrpcPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example57_FunctionEventHandlers.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/Plugins/Plugins.Core/ConversationSummaryPlugin.cs
  dotnet/src/Plugins/Plugins.Core/FileIOPlugin.cs
  dotnet/src/Plugins/Plugins.Core/HttpPlugin.cs
  dotnet/src/Plugins/Plugins.Core/MathPlugin.cs
  dotnet/src/Plugins/Plugins.Core/TextPlugin.cs
  dotnet/src/Plugins/Plugins.Core/TimePlugin.cs
  dotnet/src/Plugins/Plugins.Core/WaitPlugin.cs
  dotnet/src/Plugins/Plugins.Memory/TextMemoryPlugin.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
Labels: PR: ready for review, .NET, kernel

#2903 .Net Updates to SKContext.KernelContext Phase 2
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/Connectors.AI.OpenAI.csproj
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/PromptTemplateEngineTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Extensions/ReadOnlyFunctionCollectionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/IFunctionRunner.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Core/Extensions/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/FunctionCollection.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.Core/Orchestration/FunctionRunner.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
  dotnet/src/SemanticKernel.UnitTests/Functions/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/FunctionResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, PR: ready to merge, kernel, kernel.core, PR: breaking change

#3084 .Net Returning actual function result
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
Labels: PR: ready for review, .NET

#3073 .Net: Update indentation in FunctionViewExtensions
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/Planners/Planners.Core/Extensions/FunctionViewExtensions.cs
  samples/plugins/MiscPlugin/ElementAtIndex/config.json
  samples/skills/MiscSkill/ElementAtIndex/config.json
Labels: .NET, kernel, samples

#3087 .Net: Fixes to the Kernel Syntax Samples Update AI text completion services and add HTTP reliability
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
Labels: .NET

#3088 .Net: Fix for Stepwise Planner
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
Labels: PR: ready for review, .NET, kernel

#3086 .Net Kernel Syntax Examples BugFix
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example23_OpenApiPlugin_Github.cs
  dotnet/samples/KernelSyntaxExamples/Example27_SemanticFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example35_GrpcPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/IFunctionRunner.cs
  dotnet/src/SemanticKernel.Core/Orchestration/FunctionRunner.cs
Labels: bug, PR: ready for review, .NET, kernel, kernel.core, PR: regression fix

#3062 .Net: ADR for Kernel Service Registration
  docs/decisions/0012-kernel-service-registration.md
Labels: documentation, PR: ready for review

#3100 .Net: Small fixes in examples
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  dotnet/samples/KernelSyntaxExamples/Example26_AADAuth.cs
Labels: PR: ready for review, .NET

#3102 .Net Update nuget version to 1.0.0-beta1
  dotnet/nuget/nuget-package.props
Labels: PR: ready for review, .NET

#3101 Python: fixed doc error in 01-basic-loading-the-kernel.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
Labels: python

#3096 Python: Allow action planner to exclude skills or functions
  python/semantic_kernel/planning/action_planner/__init__.py
  python/semantic_kernel/planning/action_planner/action_planner.py
  python/semantic_kernel/planning/action_planner/action_planner_config.py
  python/semantic_kernel/planning/action_planner/skprompt.txt
  python/tests/unit/planning/action_planner/test_action_planner.py
Labels: python

#3095 Python: Fix wrong output sample of SequentialPlanner
  python/samples/kernel-syntax-examples/sequential_planner.py
Labels: python

#3113 .Net: Use the new TensorPrimitives for numerical operations
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/Example25_ReadOnlyMemoryStore.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Connectors.Memory.Sqlite.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Redis/RedisMemoryStoreTests.cs
  dotnet/src/Plugins/Plugins.Memory/Plugins.Memory.csproj
  dotnet/src/Plugins/Plugins.Memory/VolatileMemoryStore.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/CosineSimilarityOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/DivideOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/DotProductOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/EuclideanLengthOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/MultiplyOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/NormalizeOperation.cs
  dotnet/src/SemanticKernel.Core/AI/Embeddings/VectorOperations/SpanExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/VectorOperations/VectorOperationTests.cs
Labels: .NET, kernel, memory

#3114 Java: Fix documentation to reflect correct enum value for OPEN_AI.
  java/samples/sample-code/README.md
  java/samples/sample-code/pom.xml
Labels: documentation, java

#3158 Python: .Net: Update dotnet notebooks to use SK 1.0.0-beta1 version
  dotnet/README.md
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/01-basic-loading-the-kernel.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-context-variables-chat.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/notebooks/07-DALL-E-2.ipynb
  dotnet/notebooks/08-chatGPT-with-DALL-E-2.ipynb
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
  dotnet/notebooks/config/Settings.cs
  dotnet/src/IntegrationTests/README.md
  python/DEV_SETUP.md
  python/README.md
  python/notebooks/00-getting-started.ipynb
  samples/apps/auth-api-webapp-react/README.md
  samples/apps/book-creator-webapp-react/README.md
  samples/apps/chat-summary-webapp-react/README.md
  samples/apps/github-qna-webapp-react/README.md
  samples/python/kernel_http_server/README.md
Labels: documentation, PR: ready for review, .NET, python, kernel, samples

#3156 .Net: Replace bespoke IWaitProvider with TimeProvider
  dotnet/Directory.Packages.props
  dotnet/src/Plugins/Plugins.Core/Plugins.Core.csproj
  dotnet/src/Plugins/Plugins.Core/WaitPlugin.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/WaitPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Plugins.UnitTests.csproj
Labels: .NET

#2356 Python: Implement Function calling for Chat
  python/.vscode/settings.json
  python/samples/kernel-syntax-examples/chat_gpt_api_function_calling.py
  python/samples/kernel-syntax-examples/openai_function_calling.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/chat_request_settings.py
  python/semantic_kernel/connectors/ai/open_ai/models/chat/function_call.py
  python/semantic_kernel/connectors/ai/open_ai/models/chat/open_ai_chat_message.py
  python/semantic_kernel/connectors/ai/open_ai/semantic_functions/open_ai_chat_prompt_template.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/core_skills/math_skill.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/models/chat/chat_message.py
  python/semantic_kernel/orchestration/sk_context.py
  python/semantic_kernel/orchestration/sk_function.py
  python/semantic_kernel/orchestration/sk_function_base.py
  python/semantic_kernel/semantic_functions/chat_prompt_template.py
  python/semantic_kernel/semantic_functions/prompt_template.py
  python/semantic_kernel/semantic_functions/prompt_template_config.py
  python/semantic_kernel/skill_definition/parameter_view.py
  python/semantic_kernel/skill_definition/sk_function_context_parameter_decorator.py
  python/tests/unit/ai/open_ai/models/chat/test_function_call.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/models/chat/test_chat_message.py
  python/tests/unit/orchestration/test_native_function.py
  python/tests/unit/skill_definition/test_prompt_templates.py
  python/tests/unit/test_serialization.py
  samples/skills/FunSkill/Joke/config.json
Labels: PR: ready for review, python, samples

#3141 .Net Fix for double retries
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIKernelBuilderExtensions.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
Labels: PR: ready for review, .NET, kernel, PR: breaking change

#3170 .Net: Added ToString override for FunctionResult and KernelResult
  dotnet/src/SemanticKernel.Abstractions/Orchestration/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/KernelResult.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/FunctionResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/KernelResultTests.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#3150 .Net: Adding EnumType PodType.Starter to Pinecone (#2482)
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/PodType.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeUtils.cs
Labels: .NET, kernel, memory

#3172 Python: improve ai service usability for text/chat completion
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
Labels: PR: ready for review, PR: ready to merge, python

#3111 Python: Prevent "device" override on "device_map" in HuggingFace Pipeline
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
Labels: PR: ready for review, PR: ready to merge, python

#3176 .Net: Deprecated Oobabooga functionality in favor of new NuGet package
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionRequest.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionResponse.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionStreamingResponse.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionStreamingResult.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/OobaboogaWebSocketTestServer.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TextCompletion/OobaboogaTextCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/Oobabooga/OobaboogaTextCompletionTests.cs
Labels: PR: ready for review, .NET, kernel

#3078 .Net: Update the description to explain why context.Variables.Update is being used
  dotnet/notebooks/04-context-variables-chat.ipynb
Labels: .NET

#3175 .Net: Hide Memory Collection types for internal usage only
  dotnet/src/Plugins/Plugins.Memory/Collections/MinHeap.cs
  dotnet/src/Plugins/Plugins.Memory/Collections/ScoredValue.cs
  dotnet/src/Plugins/Plugins.Memory/Collections/TopNCollection.cs
  dotnet/src/Plugins/Plugins.UnitTests/Memory/Collections/MinHeapTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Memory/Collections/TopNCollectionTests.cs
Labels: PR: ready for review, .NET, PR: breaking change

#3174 .Net: Net: PromptTemplateConfig and IPromptTemplate namesapce refactor
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureRequestSettings.cs
  dotnet/src/Functions/Functions.Semantic/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/Functions/Functions.Semantic/SemanticFunction.cs
  dotnet/src/Functions/Functions.Semantic/SemanticFunctions/SemanticFunctionConfig.cs
  dotnet/src/Functions/Functions.Semantic/TemplateEngine/PromptTemplate.cs
  dotnet/src/Functions/Functions.Semantic/TemplateEngine/PromptTemplateConfig.cs
  dotnet/src/Functions/Functions.UnitTests/SemanticFunctions/PromptTemplateConfigTests.cs
  dotnet/src/Functions/Functions.UnitTests/SemanticFunctions/SemanticFunctionTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core/Extensions/PromptTemplateConfigExtensions.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlannerConfig.cs
  dotnet/src/SemanticKernel.Abstractions/TemplateEngine/IPromptTemplate.cs
Labels: .NET, kernel, kernel.core, PR: breaking change

#3184 .Net: Remove ILoggerFactory from FunctionCollection
  dotnet/src/SemanticKernel.Core/Functions/FunctionCollection.cs
  dotnet/src/SemanticKernel.Core/KernelBuilder.cs
Labels: .NET

#3188 .Net: Avoid a few unnecessary Dictionary allocations in Abstractions
  dotnet/src/SemanticKernel.Abstractions/AI/AIRequestSettings.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/FunctionResult.cs
Labels: .NET, kernel.core

#3189 .Net: Avoid list allocation in NullReadOnlyFunctionCollection
  dotnet/src/SemanticKernel.Abstractions/Functions/NullReadOnlyFunctionCollection.cs
Labels: .NET, kernel.core

#3190 .Net: Delete duplicative Json.ToJson
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.Semantic/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/InternalUtilities/src/Text/Json.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/ModelResult.cs
Labels: .NET, kernel.core

#3186 .Net: Move several IKernel methods to a KernelExtensions class
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Stepwise/ParseResultTests.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET, kernel.core

#3183 .Net: Obsolete the useless SetDefaultFunctionCollection
  dotnet/src/Functions/Functions.Semantic/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/Functions/Functions.Semantic/SemanticFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
Labels: .NET, kernel.core

#3197 .Net: The NuGet packages version has been bumped for beta2
  dotnet/nuget/nuget-package.props
Labels: .NET

#3179 .Net: Change InstrumentedSK* types pulic to internal
  dotnet/src/Planners/Planners.Core/Action/InstrumentedActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/InstrumentedSequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/InstrumentedStepwisePlanner.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
Labels: .NET, PR: breaking change

#3212 .Net: Updated dotnet README to align with SK 1.0.0-beta2
  dotnet/README.md
Labels: documentation, PR: ready for review, .NET

#3211 Java: Update azure-ai-openai and azure-core-http-netty version
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/util/OpenAIClientProvider.java
  java/pom.xml
  java/samples/semantickernel-samples-guice/src/main/java/com/microsoft/semantickernel/guice/Config.java
  java/semantickernel-bom/pom.xml
Labels: java

#3199 .Net: Merge Semantic Function back into SK Core Refactor Semantic Functions to SemanticKernel.Core
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example05_InlineFunctionDefinition.cs
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example10_DescribeAllPluginsAndFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureRequestSettings.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/NCalcPlugins/NCalcPlugins.csproj
  dotnet/src/Connectors/Connectors.AI.OpenAI/Extensions/KernelOpenAIExtensions.cs
  dotnet/src/Functions/Functions.Semantic/Functions.Semantic.csproj
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Extensions/KernelSemanticFunctionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core/Planners.Core.csproj
  dotnet/src/Plugins/Plugins.Core/Plugins.Core.csproj
  dotnet/src/SemanticKernel.Core/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/SemanticFunction.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/PromptTemplate.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/PromptTemplateConfigTests.cs
Labels: .NET, kernel, kernel.core

#3039 Python: Context Variables like dict
  python/semantic_kernel/connectors/openapi/sk_openapi.py
  python/semantic_kernel/core_skills/file_io_skill.py
  python/semantic_kernel/core_skills/http_skill.py
  python/semantic_kernel/core_skills/text_memory_skill.py
  python/semantic_kernel/core_skills/web_search_engine_skill.py
  python/semantic_kernel/orchestration/context_variables.py
  python/semantic_kernel/planning/plan.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner_extensions.py
  python/semantic_kernel/template_engine/blocks/var_block.py
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
  python/tests/unit/planning/action_planner/test_action_planner.py
Labels: python, PR: breaking change

#3228 .Net PromptTemplateEngine using FunctionRunner.
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/PromptTemplateEngineTests.cs
  dotnet/src/Extensions/TemplateEngine.Basic/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.Core/Functions/FunctionCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/PromptTemplateConfigTests.cs
Labels: PR: ready for review, .NET, kernel

#3229 Python: strings don't have contains method in python
  python/semantic_kernel/planning/stepwise_planner/stepwise_planner.py
  python/tests/unit/planning/stepwise_planner/test_stepwise_planner_parse_result.py
Labels: PR: ready for review, PR: ready to merge, python

#3231 Python: Fixed type error in plan.run_next_step_async method
  python/semantic_kernel/kernel.py
Labels: PR: ready for review, PR: ready to merge, python

#3230 .Net StreamingResult derivation fix for Text and Chat Results
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example34_CustomChatModel.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatStreamingResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/IResultBase.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextResult.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextStreamingResult.cs
Labels: bug, .NET, PR: ready to merge, kernel, kernel.core, PR: breaking change

#3253 Java: Fix typos in Java
  java/README.md
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/test/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryTests.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example02_RunningPromptsFromFile.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example03_SemanticFunctionInline.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ContextVariables.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/WritableContextVariables.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/orchestration/NativeSKFunctionTest.java
Labels: documentation, java

#3261 .Net: Update nuget version to 1.0.0-beta3
  dotnet/nuget/nuget-package.props
Labels: .NET

#3255 .Net: Example with native functions using custom types
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedNativeFunctions.cs
Labels: .NET

#3249 .Net Remove SKCancelEventArgs unneeded finalizer
  dotnet/src/SemanticKernel.Abstractions/Events/SKCancelEventArgs.cs
Labels: .NET, PR: ready to merge, kernel.core

#3262 Python: Update pyproject.toml to 0.3.14.dev
  python/pyproject.toml
Labels: python

#3227 .Net: Introduce IAIServiceSelector interface to allow AI service and request settings to be selected during semantic function execution
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/PromptTemplateEngineTests.cs
  dotnet/src/IntegrationTests/Plugins/SamplePluginsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Extensions/ReadOnlyFunctionCollectionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/IAIServiceSelector.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/ISKFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Core/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Extensions/SKFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/DelegatingAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/InstrumentedSKFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/NativeFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/OrderedIAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/SemanticFunction.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/MultipleModelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/FunctionResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/KernelResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, kernel, kernel.core

#3180 .Net: Remove Kernel.Builder
  dotnet/samples/KernelSyntaxExamples/Example06_TemplateLanguage.cs
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example10_DescribeAllPluginsAndFunctions.cs
  dotnet/samples/KernelSyntaxExamples/Example11_WebSearchQueries.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example41_HttpClientUsage.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateNativeFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureRequestSettings.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/README.md
  dotnet/src/Connectors/Connectors.Memory.Kusto/README.md
  dotnet/src/Connectors/Connectors.Memory.Milvus/README.md
  dotnet/src/Connectors/Connectors.Memory.Postgres/README.md
  dotnet/src/Connectors/Connectors.Memory.Redis/README.md
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AIServicesOpenAIExtensionsTests.cs
  dotnet/src/IntegrationTests/Extensions/KernelSemanticFunctionExtensionsTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/TemplateLanguage/PromptTemplateEngineTests.cs
  dotnet/src/IntegrationTests/WebPlugin/WebPluginTests.cs
  dotnet/src/InternalUtilities/test/FunctionHelpers.cs
  dotnet/src/Plugins/Plugins.Core/ConversationSummaryPlugin.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/FileIOPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/MathPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/TextPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/TimePluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/WaitPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/SearchUrlSkillTests.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/MultipleModelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests3.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SemanticFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  samples/dotnet/KernelHttpServer/SemanticKernelFactory.cs
  samples/dotnet/MsGraphPluginsExample/Program.cs
  samples/dotnet/OpenApiPluginsExample/Program.cs
Labels: documentation, .NET, kernel, samples, memory

#3264 .Net: Plans using FunctionRunner + RequestSettings
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/IKernel.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/FunctionRunnerExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/IFunctionRunner.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Orchestration/FunctionRunner.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: .NET, PR: ready to merge, kernel, kernel.core

#3265 .Net Removing IPlan interface
  dotnet/src/SemanticKernel.Core/Planning/IPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/InstrumentedPlan.cs
  dotnet/src/SemanticKernel.Core/Planning/Plan.cs
  dotnet/src/SemanticKernel.Core/Planning/PlanExtensions.cs
Labels: .NET, PR: ready to merge

#3287 Update README.md
  README.md
Labels: documentation

#3277 ADR for SK prompt syntax for chat completion roles
  docs/decisions/0014-chat-completion-roles-in-prompt.md
Labels: documentation

#3323 Update status of all merged ADR's to accepted and add a contact
  docs/decisions/0001-madr-architecture-decisions.md
  docs/decisions/0002-java-folder-structure.md
  docs/decisions/0003-support-multiple-native-function-args.md
  docs/decisions/0004-error-handling.md
  docs/decisions/0005-function-execution-handlers.md
  docs/decisions/0006-open-api-dynamic-payload-and-namespaces.md
  docs/decisions/0007-prompt-extract-template-engine.md
  docs/decisions/0008-support-generic-llm-request-settings.md
  docs/decisions/0009-support-multiple-named-args-in-template-function-calls.md
  docs/decisions/0010-dotnet-project-structure.md
  docs/decisions/0010-openai-function-calling.md
  docs/decisions/0011-function-and-kernel-result-types.md
  docs/decisions/0012-kernel-service-registration.md
  docs/decisions/0013-memory-as-plugin.md
  docs/decisions/0014-chat-completion-roles-in-prompt.md
Labels: documentation

#3299 Java: Docs
  java/README.md
  java/samples/sample-code/README.md
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example99_BlogAnnouncement.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/Example_PlanWithNativeFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/SamplesConfig.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Config.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example00_GettingStarted.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example02_RunningPromptsFromFile.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example03_SemanticFunctionInline.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example04_ContextVariablesChat.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/Example05_UsingThePlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example01_NativeFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example02_Pipeline.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example03_Variables.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example04_CombineLLMPromptsAndNativeCode.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example12_SequentialPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummarySkill.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example14_SemanticMemory.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example15_MemorySkill.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example17_ChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example25_ReadOnlyMemoryStore.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example28_ActionPlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example29_Tokenizer.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example33_StreamingChat.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example51_StepwisePlanner.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/RunAll.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/javaspecific/Java_Example01_ResourceLoading.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/javaspecific/SequentialPlanner_AnswerQuestion.java
Labels: documentation, java

#3241 Java: allow customising the reading of memory records. Fixes #3060
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/main/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryStore.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/test/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryTests.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/memory/MemoryStore.java
Labels: java

#3321 Java: Fix logging config parsing errors. Fixes #3238
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/SkillExecutor.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/extensions/KernelExtensions.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
Labels: java

#3334 Java: Fix broken DefaultKernelTest test
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/DefaultKernelTest.java
Labels: java

#3305 Completion service type selection ADR
  docs/decisions/0015-completion-service-selection.md
Labels: documentation

#3286 ADR Custom Prompt Template Formats
  docs/decisions/0014-custom-prompt-template-formats.md
  docs/decisions/diagrams/prompt-template-factory.mmd
  docs/decisions/diagrams/prompt-template-factory.png
Labels: documentation

#3040 .Net: ADR with proposal for the multiple LLM support use cases
  docs/decisions/0015-semantic-function-multiple-model-support.md
  dotnet/samples/KernelSyntaxExamples/Example61_MultipleLLMs.cs
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/Blocks/CodeBlockTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/TemplateEngine/Prompt/PromptTemplateEngineTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Extensions/ReadOnlyFunctionCollectionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Orchestration/SKContext.cs
  dotnet/src/SemanticKernel.Abstractions/Services/IAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Extensions/KernelSemanticFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/DelegatingAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/OrderedIAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/SemanticFunction.cs
  dotnet/src/SemanticKernel.Core/Kernel.cs
  dotnet/src/SemanticKernel.Core/KernelBuilder.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedIAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/SKFunctionTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/FunctionResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Orchestration/KernelResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/Planning/PlanTests.cs
Labels: documentation, .NET, kernel, kernel.core, PR: breaking change

#3343 .Net: Bump version to 1.0.0-beta4
  dotnet/nuget/nuget-package.props
Labels: .NET

#3350 .Net: Remove the Oobabooga AI connector
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.AI.Oobabooga/Connectors.AI.Oobabooga.csproj
  dotnet/src/Connectors/Connectors.AI.Oobabooga/README.md
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/OobaboogaTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionRequest.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionResponse.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionStreamingResponse.cs
  dotnet/src/Connectors/Connectors.AI.Oobabooga/TextCompletion/TextCompletionStreamingResult.cs
  dotnet/src/Connectors/Connectors.UnitTests/ConnectedClient.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/OobaboogaTestHelper.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/OobaboogaWebSocketTestServer.cs
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TestData/completion_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TestData/completion_test_streaming_response.json
  dotnet/src/Connectors/Connectors.UnitTests/Oobabooga/TextCompletion/OobaboogaTextCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/WebSocketTestServer.cs
  dotnet/src/Connectors/Connectors.UnitTests/XunitLogger.cs
  dotnet/src/IntegrationTests/Connectors/Oobabooga/OobaboogaTextCompletionTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: documentation, .NET, kernel
