Repository microsoft/semantic-kernel, pull requests merged in 2023-12, with the labels that each got.

#3860 .Net TypeConverterFactory utility class
  dotnet/src/InternalUtilities/src/System/TypeConverterFactory.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
Labels: .NET, PR: ready to merge, kernel.core

#3856 .Net: Allow object IAIService attributes
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/OpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureOpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/OpenAITextEmbeddingGeneration.cs
  dotnet/src/IntegrationTests/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/Services/IAIService.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceConfigurationProviderTests.cs
Labels: .NET, PR: ready to merge, kernel, kernel.core, v1

#3877 .Net: Make PromptNode and XmlPromptParser internal
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/ChatPromptParser.cs
  dotnet/src/SemanticKernel.Core/Prompts/PromptNode.cs
  dotnet/src/SemanticKernel.Core/Prompts/XmlPromptParser.cs
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/XmlPromptParserTests.cs
Labels: .NET, PR: ready to merge, kernel, v1

#3766 .Net: Clean up some extension method classes
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIChatResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/RequestFailedExceptionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureOpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/OpenAITextEmbeddingGeneration.cs
  dotnet/src/Experimental/Assistants/Extensions/AssistantsKernelExtensions.cs
  dotnet/src/Experimental/Assistants/Extensions/AssistantsKernelFunctionExtensions.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/GrpcKernelExtensions.cs
  dotnet/src/Functions/Functions.Markdown/Extensions/MarkdownKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.Yaml/Extensions/PromptYamlKernelExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Services/AIServiceExtensions.cs
  dotnet/src/SemanticKernel.Core/Extensions/KernelFunctionExtensions.cs
Labels: .NET, kernel, kernel.core, v1

#3853 .Net: Rename Handlebars package to MS.SK.PromptTemplate.Handlebars
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example64_MultiplePromptTemplates.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplate/Handlebars/HandlebarsPromptTemplateFactoryTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplate/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/Extensions/HandlebarsKernelExtensions.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/HandlebarsPromptTemplateFactory.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/PromptTemplate.Handlebars.csproj
Labels: .NET, kernel, v1

#3781 .Net Standardized prompt input support for Chat Completion APIs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example63_ChatCompletionPrompts.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/HuggingFaceTextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureOpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/IntegrationTests/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletion.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceConfigurationProviderTests.cs
Labels: .NET, kernel, kernel.core, v1

#3854 .Net BugBash Bugfix Example 59 - FunctionCalling (Added default serialization to Method Function results)
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientBase.cs
Labels: bug, .NET, kernel, v1 bugbash, v1

#3888 .Net: Remove skip and repeat
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel, kernel.core, v1

#3850 .Net: Move ModelResult from Microsoft.SemanticKernel.Orchestration to Microsoft.SemanticKernel.AI
  dotnet/samples/KernelSyntaxExamples/Example12_SequentialPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example31_CustomPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Example63_FlowOrchestrator.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/HuggingFaceModelResultExtension.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextCompletion/TextCompletionResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIModelResultExtensions.cs
  dotnet/src/Experimental/Orchestration.Flow/Abstractions/IFlowExecutor.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/ReActEngine.cs
  dotnet/src/Experimental/Orchestration.Flow/Extensions/ContextVariablesExtensions.cs
  dotnet/src/Experimental/Orchestration.Flow/FlowOrchestrator.cs
  dotnet/src/IntegrationTests/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/AIFunctionResultExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/IResultBase.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ModelResult.cs
Labels: .NET, kernel, kernel.core, v1

#3778 .Net: Remove implementation detail from public {Azure} OpenAI client surface area
  dotnet/samples/KernelSyntaxExamples/Example33_StreamingChat.cs
  dotnet/samples/KernelSyntaxExamples/Example37_MultiStreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example72_KernelStreaming.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AddHeaderRequestPolicy.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIChatMessage.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ChatResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIChatResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIFunctionResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/RequestFailedExceptionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/StreamingChatContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/StreamingChatWithDataContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/StreamingTextContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextModelResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/TextResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAIImageGenerationClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/FunctionCallBehavior.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/AzureOpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/OpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIModelResultExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/AzureOpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextCompletion/OpenAITextCompletion.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextEmbedding/OpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionResponseTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionTests.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Services/AIServiceExtensions.cs
Labels: .NET, kernel, kernel.core, v1

#3880 Python: fix deployment name parameter when using base_url
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
Labels: python

#3881 Python: readded user agent telemetry to openai classes
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_config_base.py
Labels: python

#3896 .Net: Remove the function author role from the public API
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/ChatHistoryExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
Labels: .NET, kernel, kernel.core, v1

#3595 Python: Bug fix in Python sample notebook 10
  python/notebooks/10-multiple-results-per-prompt.ipynb
Labels: python

#3423 .Net: Update Example 22 to demonstrate usage of OpenAI authentication config
  dotnet/samples/KernelSyntaxExamples/Example21_OpenAIPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenAIPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenApiPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Resources/22-ai-plugin.json
  dotnet/samples/KernelSyntaxExamples/Resources/22-openapi.json
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Functions/Functions.OpenAPI/Authentication/AuthenticateRequestAsyncCallback.cs
  dotnet/src/Functions/Functions.OpenAPI/Authentication/BasicAuthenticationProvider.cs
  dotnet/src/Functions/Functions.OpenAPI/Authentication/OAuthTokenResponse.cs
  dotnet/src/Functions/Functions.OpenAPI/Authentication/OpenAIAuthenticationProvider.cs
  dotnet/src/Functions/Functions.OpenAPI/DocumentLoader.cs
  dotnet/src/Functions/Functions.OpenAPI/Functions.OpenAPI.csproj
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/OpenAIAuthenticateRequestAsyncCallback.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/OpenAIAuthenticationConfig.cs
  dotnet/src/Functions/Functions.OpenAPI/Plugins/PluginResourceNames.cs
  dotnet/src/Functions/Functions.OpenAPI/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/OpenAI/KernelOpenAIPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationRunnerTests.cs
Labels: .NET

#3904 .Net: Clean up KernelEventArgs and friends
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/src/SemanticKernel.Abstractions/Events/CancelKernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/KernelCancelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/KernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Core/Events/KernelEventArgsExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel, kernel.core, v1

#3898 .Net: Remove .Extensions and .Functions subnamespaces
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example35_GrpcPlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Reliability/ConfigurationNotFoundException.cs
  dotnet/samples/KernelSyntaxExamples/RepoUtils/ObjectExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ImageGeneration/OpenAIImageGeneration.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/NumberToStringConverter.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionResponseTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/KernelExtensionTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/KernelFunctionExtensionTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/OpenAIRestExtensions.AssistantTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/OpenAIRestExtensions.MessagesTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/OpenAIRestExtensions.RunTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/OpenAIRestExtensions.ThreadTests.cs
  dotnet/src/Experimental/Assistants.UnitTests/Integration/AssistantHarness.cs
  dotnet/src/Experimental/Assistants.UnitTests/Integration/ThreadHarness.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.Static.cs
  dotnet/src/Experimental/Assistants/Extensions/AssistantsKernelExtensions.cs
  dotnet/src/Experimental/Assistants/Extensions/AssistantsKernelFunctionExtensions.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.Assistant.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.Messages.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.Run.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.Thread.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.cs
  dotnet/src/Experimental/Assistants/Internal/Assistant.cs
  dotnet/src/Experimental/Assistants/Internal/ChatRun.cs
  dotnet/src/Experimental/Assistants/Internal/ChatThread.cs
  dotnet/src/Experimental/Assistants/Models/ToolModel.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/GrpcKernelExtensions.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/GrpcOperationExtensions.cs
  dotnet/src/Functions/Functions.Markdown/Extensions/MarkdownKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/OpenApiSchemaExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/OpenAIFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/Grpc/Extensions/GrpcOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/QueryStringBuilderTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/Serialization/ArrayParameterSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Builders/Serialization/SpaceDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenAPI/RestApiOperationResponseConverterTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/Functions/KernelFunctionYamlTests.cs
  dotnet/src/Functions/Functions.Yaml/Extensions/PromptYamlKernelExtensions.cs
  dotnet/src/Functions/Functions.Yaml/Functions/KernelFunctionYaml.cs
  dotnet/src/IntegrationTests/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
  dotnet/src/IntegrationTests/Plugins/SamplePluginsTests.cs
  dotnet/src/Plugins/Plugins.Document/OpenXml/Extensions/WordprocessingDocumentEx.cs
  dotnet/src/Plugins/Plugins.Document/OpenXml/WordDocumentConnector.cs
  dotnet/src/SemanticKernel.UnitTests/Events/FunctionInvokedEventArgsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelArgumentsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/MultipleModelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceConfigurationProviderTests.cs
Labels: .NET, kernel, memory, v1

#3908 .Net: Move some Kernel extensions down to Kernel
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET, kernel.core

#3918 .Net: Fix InvokeHandlebarsPromptAsync to take KernelArguments
  dotnet/src/Extensions/PromptTemplate.Handlebars/Extensions/HandlebarsKernelExtensions.cs
Labels: .NET, kernel

#3914 .Net: Change internal ExecutionSettings to be a List rather than IEnumerable
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedAIServiceSelector.cs
Labels: .NET, kernel.core

#3920 .Net: Remove a few unnecessary `await Task.FromResult`s
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResult.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/HandlebarsPromptTemplate.cs
Labels: .NET, kernel

#3921 .Net: Remove deleted files from .sln
  dotnet/SK-dotnet.sln
Labels: .NET

#3916 .Net: Remove some overheads from KernelPromptTemplate
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/TemplateTokenizer.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel, v1

#3923 .Net: Removing request settings leftovers
  dotnet/samples/KernelSyntaxExamples/Example44_MultiChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureExecutionSettings.cs
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithData.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Functions/Functions.UnitTests/Markdown/Functions/KernelFunctionMarkdownTests.cs
  dotnet/src/IntegrationTests/Plugins/SamplePluginsTests.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/ITextCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextCompletion/TextCompletionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelArguments.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/PromptTemplateConfigTests.cs
Labels: .NET, kernel, kernel.core, v1

#3917 .Net: Avoid using exceptions for control flow in AggregatorPromptTemplateFactory
  dotnet/src/Extensions/PromptTemplate.Handlebars/HandlebarsPromptTemplateFactory.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/PromptTemplate.Handlebars.csproj
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/IPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateFactoryExtensions.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/AggregatorPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/AggregatorPromptTemplateFactoryTests.cs
Labels: .NET, kernel, kernel.core, v1

#3746 Java: Make input parameter of createNewChat method a system message in ChatHistory
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletionTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example17ChatGPTTest.java
Labels: java

#3926 .Net: Rename ImageGeneration to TextToImage
  dotnet/README.md
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/Connectors.AI.OpenAI.csproj
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAITextToImageClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextToImage/AzureOpenAIImageOperationStatus.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextToImage/AzureOpenAITextToImageResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextToImage/AzureOpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextToImage/OpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextToImage/TextToImageRequest.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextToImage/TextToImageResponse.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AIServicesOpenAIExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToImage/AzureOpenAITextToImageTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextToImage/ITextToImageService.cs
Labels: documentation, .NET, kernel, kernel.core, v1

#3929 .Net: Assistant Experimental Feature Update
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/KernelSyntaxExamples/Example71_AssistantDelegation.cs
  dotnet/samples/KernelSyntaxExamples/Resources/Assistants/ParrotAssistant.yaml
  dotnet/src/Experimental/Assistants.UnitTests/Integration/AssistantHarness.cs
  dotnet/src/Experimental/Assistants.UnitTests/Integration/RunHarness.cs
  dotnet/src/Experimental/Assistants.UnitTests/Integration/ThreadHarness.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.Static.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.cs
  dotnet/src/Experimental/Assistants/IAssistant.cs
  dotnet/src/Experimental/Assistants/Internal/Assistant.cs
  dotnet/src/Experimental/Assistants/Internal/ChatRun.cs
Labels: .NET, v1

#3924 .Net: Rename ITextCompletion to ITextGenerationService
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  dotnet/samples/KernelSyntaxExamples/Example27_PromptFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example32_StreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example37_MultiStreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example51_StepwisePlanner.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/Connectors.AI.HuggingFace.csproj
  dotnet/src/Connectors/Connectors.AI.HuggingFace/HuggingFaceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextGeneration/HuggingFaceTextGenerationService.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextGeneration/TextGenerationRequest.cs
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextGeneration/TextGenerationResponse.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIStreamingTextContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/Connectors.AI.OpenAI.csproj
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextGeneration/AzureOpenAITextGenerationService.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/TextGeneration/OpenAITextGenerationService.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/README.md
  dotnet/src/Connectors/Connectors.Memory.MongoDB/README.md
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextGeneration/HuggingFaceTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AIServicesOpenAIExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/TextGeneration/HuggingFaceTextGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/ITextGenerationService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/StreamingTextContent.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/TextContent.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/TextGenerationExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelBuilderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/MultipleModelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceConfigurationProviderTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: documentation, .NET, kernel, memory, kernel.core, v1

#3938 .Net Removing remaining public facing records
  dotnet/src/Functions/Functions.OpenAPI/Authentication/OAuthTokenResponse.cs
  dotnet/src/Functions/Functions.OpenAPI/Model/RestApiOperationPayload.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/OpenAIAuthenticationConfig.cs
Labels: .NET

#3857 .Net: Function calling stepwise planner improvements
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example66_FunctionCallingStepwisePlanner.cs
  dotnet/src/InternalUtilities/planning/Extensions/ChatHistoryExtensions.cs
  dotnet/src/Planners/Planners.OpenAI/Planners.OpenAI.csproj
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlannerConfig.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/GeneratePlan.yaml
  dotnet/src/Planners/Planners.OpenAI/Stepwise/InitialPlanPrompt.txt
Labels: PR: ready for review, .NET, planner, v1

#3956 .Net: Add ChatHistory.RemoveRange
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
Labels: .NET, kernel.core

#3931 .Net: Change a few KernelExceptions to ArgumentExceptions
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCognitiveSearch/AzureCognitiveSearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/InternalUtilities/src/Diagnostics/Verify.cs
Labels: .NET, kernel, memory

#3964 .Net: Remove CreateFunctionFromPromptXXXResource methods
  dotnet/src/Functions/Functions.Markdown/KernelFunctionMarkdown.cs
  dotnet/src/Functions/Functions.Markdown/MarkdownKernelExtensions.cs
  dotnet/src/Functions/Functions.Yaml/KernelFunctionYaml.cs
  dotnet/src/Functions/Functions.Yaml/PromptYamlKernelExtensions.cs
Labels: .NET

#3940 .Net: Fix up KernelFunction.InvokeStreamingAsync to be more similar to non-streaming
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel, kernel.core

#3935 .Net Tests Update
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel

#3965 .Net: input_parameters should be input_variables to match prompt serialization
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplate/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/Functions/KernelFunctionYamlTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/PromptExecutionSettingsNodeDeserializerTests.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/InputVariable.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/OutputVariable.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/PromptTemplateConfigTests.cs
  samples/plugins/FunPlugin/Joke/config.json
  samples/plugins/FunPlugin/Limerick/config.json
  samples/plugins/GroundingPlugin/ExciseEntities/config.json
  samples/plugins/GroundingPlugin/ExtractEntities/config.json
  samples/plugins/GroundingPlugin/ReferenceCheckEntities/config.json
  samples/plugins/MiscPlugin/Continue/config.json
  samples/plugins/MiscPlugin/ElementAtIndex/config.json
  samples/plugins/SummarizePlugin/Summarize/config.json
  samples/plugins/WriterPlugin/Brainstorm/config.json
  samples/plugins/WriterPlugin/NovelChapter/config.json
  samples/plugins/WriterPlugin/NovelChapterWithNotes/config.json
  samples/plugins/WriterPlugin/NovelOutline/config.json
  samples/plugins/WriterPlugin/ShortPoem/config.json
  samples/plugins/WriterPlugin/Translate/config.json
Labels: .NET, kernel, samples, kernel.core

#3930 .Net Add ModelId to Content Abstractions
  dotnet/src/Connectors/Connectors.AI.HuggingFace/TextGeneration/HuggingFaceTextGenerationService.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIWithDataChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIWithDataStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIStreamingTextContent.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextGeneration/HuggingFaceTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/StreamingChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ContentBase.cs
  dotnet/src/SemanticKernel.Abstractions/AI/StreamingContentBase.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/StreamingTextContent.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/TextContent.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryTests.cs
Labels: .NET, kernel, kernel.core

#3967 Python: extra tests and a fix for the base_url
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
Labels: python

#3954 .Net: remove serviceId requirement for examples 56 and 58
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateMethodFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureExecutionSettings.cs
Labels: .NET

#3859 .Net: Establish pattern to use LoggerMessage attribute in KernelFunction and Instrumented Planner
  dotnet/src/InternalUtilities/planning/PlannerInstrumentation.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionLogMessages.cs
Labels: enhancement, .NET, kernel.core

#3985 .Net: Remove `string? input` overloads and add KernelArgument ctor
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example03_Variables.cs
  dotnet/samples/KernelSyntaxExamples/Example05_InlineFunctionDefinition.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example11_WebSearchQueries.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  dotnet/samples/KernelSyntaxExamples/Example27_PromptFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplate/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/InternalUtilities/test/FunctionHelpers.cs
  dotnet/src/Plugins/Plugins.Core/FileIOPlugin.cs
  dotnet/src/Plugins/Plugins.Core/HttpPlugin.cs
  dotnet/src/Plugins/Plugins.Core/MathPlugin.cs
  dotnet/src/Plugins/Plugins.Core/TextPlugin.cs
  dotnet/src/Plugins/Plugins.Core/TimePlugin.cs
  dotnet/src/Plugins/Plugins.Core/WaitPlugin.cs
  dotnet/src/Plugins/Plugins.Memory/TextMemoryPlugin.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/MathPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/TimePluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/WaitPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/MsGraph/CalendarPluginTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelArguments.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel, kernel.core

#4001 Python: Bump Python version to 0.4.1. Make TextMemorySkill attributes ClassVar.
  python/pyproject.toml
  python/semantic_kernel/core_skills/text_memory_skill.py
Labels: python

#3969 Java: Add Java v1 core draft
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatCompletion.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/actionplanner/Plan.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/DefaultSequentialPlannerSKContext.java
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/stepwiseplanner/DefaultStepwisePlanner.java
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/coreskills/TextMemorySkill.java
  java/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelResult.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatHistory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/nativefunction/NativeFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/AbstractSKContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/AbstractSKFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ContextVariables.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResult.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/SKContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/SKFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/WritableContextVariables.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/Plugin.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/skilldefinition/KernelSkillsSupplier.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/skilldefinition/ReadOnlyFunctionCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/skilldefinition/ReadOnlySkillCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/PromptTemplateEngine.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/CompletionSKFunction.java
  java/semantickernel-core/pom.xml
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernelResult.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/functions/SemanticFunctionResult.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultCompletionSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultContextVariables.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultSKContext.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultSemanticSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/NativeSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/semanticfunctions/DefaultPromptTemplate.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/semanticfunctions/SemanticFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/semanticfunctions/SemanticFunctionModel.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/skilldefinition/DefaultSkillCollection.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/skilldefinition/FunctionCollection.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/DefaultPromptTemplateEngine.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/blocks/CodeBlock.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/blocks/VarBlock.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplateEngine.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/orchestration/NativeSKFunctionTest.java
Labels: java

#4004 .Net: Release 1.0.0-rc2
  dotnet/nuget/nuget-package.props
Labels: .NET

#4014 .Net: Small fix in plan generation prompt of FunctionCallingStepwisePlanner
  dotnet/src/Planners/Planners.OpenAI/Stepwise/GeneratePlan.yaml
Labels: bug, PR: ready for review, .NET, PR: ready to merge

#4012 .Net: fixed the AzureOpenAITextEmbeddingGeneration parameter order
  dotnet/src/Connectors/Connectors.AI.OpenAI/OpenAIMemoryBuilderExtensions.cs
Labels: PR: ready for review, .NET, kernel

#4022 .Net Preventing arguments collection
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel

#4010 .Net: Add comment to Example08_RetryHandler
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
Labels: .NET

#4007 .Net With the new dedicated Rendering events rederedPrompt metadata is not necessary.
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/SemanticKernel.Core/Events/KernelEventArgsExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
Labels: .NET, kernel

#3974 .Net Adding Kernel + Function.InvokeAsync<T>
  dotnet/samples/KernelSyntaxExamples/Example03_Variables.cs
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedMethodFunctions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelExtensionsTests.cs
Labels: .NET, kernel

#4028 .Net: Add missing limit argument in example 15
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
Labels: .NET

#4030 .Net: Code duplication removed
  dotnet/src/InternalUtilities/src/System/InternalTypeConverter.cs
  dotnet/src/InternalUtilities/src/System/TypeConverterFactory.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/InternalTypeConverterTests.cs
Labels: .NET, kernel, kernel.core

#4003 .Net: Create prompt integration test
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/PromptTests.cs
  dotnet/src/IntegrationTests/prompts/GenerateStory.yaml
  dotnet/src/IntegrationTests/prompts/GenerateStoryHandlebars.yaml
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedAIServiceSelector.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/MultipleModelTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceConfigurationProviderTests.cs
Labels: .NET, kernel, kernel.core, v1

#4046 .Net: Address API review feedback on Kernel.GetService
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/Example26_AADAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AIServicesOpenAIExtensionsTests.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelBuilderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceConfigurationProviderTests.cs
Labels: .NET, kernel, kernel.core

#4050 Java: Bump netty
  java/semantickernel-bom/pom.xml
Labels: java

#4051 Java: [maven-release-plugin] prepare release java-0.2.13-alpha
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-jdbc/pom.xml
  java/connectors/semantickernel-connectors-memory-mysql/pom.xml
  java/connectors/semantickernel-connectors-memory-postgresql/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/extensions/semantickernel-settings-loader/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#4043 .Net Rename Azure Cognitive to Azure AI Search
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/README.md
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataConfig.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataRequest.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/Connectors.Memory.AzureAISearch.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/RequestFailedExceptionExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
Labels: documentation, .NET, kernel, memory

#4053 Java sk dev
  java/api-test/api-usage-example/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-ai-openai/pom.xml
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/pom.xml
  java/connectors/semantickernel-connectors-memory-jdbc/pom.xml
  java/connectors/semantickernel-connectors-memory-mysql/pom.xml
  java/connectors/semantickernel-connectors-memory-postgresql/pom.xml
  java/connectors/semantickernel-connectors-memory-sqlite/pom.xml
  java/extensions/semantickernel-gpt3-tokenizer/pom.xml
  java/extensions/semantickernel-planners/pom.xml
  java/extensions/semantickernel-settings-loader/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/semantickernel-samples-guice/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
  java/semantickernel-core/pom.xml
Labels: java

#4018 .Net: Clarify some kernel semantic examples
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/Example32_StreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
Labels: .NET

#4025 .Net BugFix - Using StandardizedPrompt With Kernel/Function InvokeAsync with ChatCompletions was not being parsed correctly.
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/AzureOpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletion/OpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatCompletionService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/StreamingChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/TextGenerationExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
Labels: .NET, kernel, kernel.core

#4055 .Net: Nulls for function arguments
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/VarBlock.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/NamedArgBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/VarBlockTests.cs
Labels: .NET, kernel

#4019 .Net: Simplify and clarify multi stream chat completion example
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
Labels: .NET

#4054 .Net: Assistants Update - Refine Cleanup / Delete Support
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/KernelSyntaxExamples/Example71_AssistantDelegation.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/KernelExtensionTests.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.Static.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.cs
  dotnet/src/Experimental/Assistants/AssistantResponse.cs
  dotnet/src/Experimental/Assistants/Exceptions/AssistantException.cs
  dotnet/src/Experimental/Assistants/Extensions/AssistantsKernelExtensions.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.cs
  dotnet/src/Experimental/Assistants/IAssistant.cs
  dotnet/src/Experimental/Assistants/IChatThread.cs
  dotnet/src/Experimental/Assistants/Internal/Assistant.cs
  dotnet/src/Experimental/Assistants/Internal/ChatRun.cs
  dotnet/src/Experimental/Assistants/Internal/ChatThread.cs
Labels: enhancement, PR: ready for review, .NET, feature branch

#4061 .Net: Assistant: Fix run processing
  dotnet/src/Experimental/Assistants/Internal/ChatRun.cs
Labels: bug, PR: ready for review, .NET

#4060 .Net BugFix Azure AI Search as not a valid name in the JSON request
  dotnet/src/Connectors/Connectors.AI.OpenAI/ChatCompletionWithData/ChatWithDataRequest.cs
Labels: .NET, kernel

#4069 .Net: Guard some LogXx calls to avoid overheads when not logging
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/AzureOpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/AzureSdk/OpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.AI.OpenAI/CustomClient/OpenAITextToImageClientCore.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
Labels: .NET, kernel

#4056 .Net: Allow a JSON schema to be defined for input and output variables
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Functions/Functions.Yaml/KernelFunctionYaml.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelJsonSchema.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/InputVariable.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/OutputVariable.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
Labels: .NET, kernel, kernel.core

#4068 .Net: Reduce overheads of XmlPromptParser.TryParse for non-XML
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatPromptParser.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/TextGenerationExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/XmlPromptParser.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/XmlPromptParserTests.cs
Labels: .NET, kernel, kernel.core

#4065 .Net: Move InvokeAsync<T> KernelFunction extension to just be instance method
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET, kernel.core

#4066 .Net: Consolidate away KernelPluginExtensions
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPluginExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginExtensions.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET, kernel.core

#4075 .Net: Remove implicit operator string from base content types
  dotnet/samples/KernelSyntaxExamples/Example17_ChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextGeneration/HuggingFaceTextGenerationTests.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ContentBase.cs
  dotnet/src/SemanticKernel.Abstractions/AI/StreamingContentBase.cs
Labels: .NET, kernel, kernel.core

#4089 .Net Upgrade to Azure SDK Beta 11
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionTests.cs
Labels: .NET, kernel, v1 bugbash, v1

#4084 .Net: Change IKernelPlugin to be abstract class KernelPlugin
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example22_OpenAIPlugin_AzureKeyVault.cs
  dotnet/samples/KernelSyntaxExamples/Example24_OpenApiPlugin_Jira.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/KernelSyntaxExamples/Resources/Example73_MutableKernelPlugin.cs
  dotnet/src/Experimental/Assistants.UnitTests/Extensions/KernelExtensionTests.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.Static.cs
  dotnet/src/Experimental/Assistants/AssistantBuilder.cs
  dotnet/src/Experimental/Assistants/IAssistant.cs
  dotnet/src/Experimental/Assistants/Internal/Assistant.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/GrpcKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenAPI/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/IKernelPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/IReadOnlyKernelPluginCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPluginCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPluginExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/DefaultKernelPlugin.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPlugin.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelBuilderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel, kernel.core

#4085 .Net: Enable InvokeAsync() and InvokeAsync<T> To Return the Connector Type
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
Labels: .NET, kernel, kernel.core, v1 bugbash

#4098 Python: moved telemetry from pkg_resource to importlib
  python/semantic_kernel/connectors/telemetry.py
Labels: python

#3986 Python: Fix SKFunction.invoke_stream_async
  python/semantic_kernel/orchestration/delegate_handlers.py
  python/semantic_kernel/orchestration/delegate_inference.py
  python/semantic_kernel/orchestration/delegate_types.py
  python/semantic_kernel/orchestration/sk_function.py
Labels: python

#4112 .Net: Add KernelPlugin.GetFunctionsMetadata
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPluginExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
Labels: .NET, kernel, kernel.core

#3568 .Net: ADR to add more planner related telemetry items
  docs/decisions/0025-planner-telemetry-enhancement.md
  dotnet/docs/TELEMETRY.md
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/TelemetryExample/Program.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/InternalUtilities/planning/PlannerInstrumentation.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlan.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionLogMessages.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
Labels: documentation, .NET, kernel, kernel.core

#4091 .Net: Change IAIServiceSelector.SelectAIService to be a Try method and add non-Try extension
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/SemanticKernel.Abstractions/IKernelBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/Services/AIServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Services/IAIServiceSelector.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelBuilderTests.cs
Labels: .NET, kernel, kernel.core

#4095 .Net: Add an example of pipelining functions
  dotnet/samples/KernelSyntaxExamples/Example73_MutableKernelPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example74_Pipelining.cs
Labels: .NET

#4121 .Net: Fix stack overflow caused by erroneous recursion in OpenAIChatCompletionService
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletion/OpenAIChatCompletionService.cs
Labels: .NET, kernel

#4119 .Net: Allow KernelFunction argument to KernelFunctionFromMethod method
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests2.cs
Labels: .NET, kernel

#4118 .Net: Make KernelPromptTemplate internal
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
Labels: .NET

#4100 .Net OpenAPI -> OpenApi Naming Change
  dotnet/README.md
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Plugins/JiraPlugin/README.md
  dotnet/src/Functions/Functions.OpenApi/Authentication/AuthenticateRequestAsyncCallback.cs
  dotnet/src/Functions/Functions.OpenApi/Authentication/BasicAuthenticationProvider.cs
  dotnet/src/Functions/Functions.OpenApi/Authentication/BearerAuthenticationProvider.cs
  dotnet/src/Functions/Functions.OpenApi/Authentication/CustomAuthenticationProvider.cs
  dotnet/src/Functions/Functions.OpenApi/Authentication/InteractiveMsalAuthenticationProvider.cs
  dotnet/src/Functions/Functions.OpenApi/Authentication/OAuthTokenResponse.cs
  dotnet/src/Functions/Functions.OpenApi/Authentication/OpenAIAuthenticationProvider.cs
  dotnet/src/Functions/Functions.OpenApi/Authentication/README.md
  dotnet/src/Functions/Functions.OpenApi/Builders/QueryStringBuilder.cs
  dotnet/src/Functions/Functions.OpenApi/Builders/Serialization/ArrayParameterValueSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Builders/Serialization/FormStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Builders/Serialization/PipeDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Builders/Serialization/SpaceDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/DocumentLoader.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiSchemaExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationResponseExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Functions.OpenApi.csproj
  dotnet/src/Functions/Functions.OpenApi/HttpContentFactory.cs
  dotnet/src/Functions/Functions.OpenApi/HttpResponseContentSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/JsonPathPlugin.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationExpectedResponse.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationParameter.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationParameterLocation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationParameterStyle.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationPayload.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationResponse.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationResponseConverter.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationRunOptions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIAuthenticateRequestAsyncCallback.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIAuthenticationConfig.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/Planners/Planners.OpenAI/Planners.OpenAI.csproj
  python/samples/kernel-syntax-examples/openapi_example/README.md
Labels: documentation, .NET, python, kernel, v1 bugbash, v1

#4122 .Net: [OpenApi][DataTypeSupport][Part1] Headers serialization
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/QueryStringBuilderTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
Labels: .NET

#4077 .Net: Update notebooks to use RC version of Semantic Kernel
  dotnet/README.md
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/01-basic-loading-the-kernel.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-kernel-arguments-chat.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/notebooks/07-DALL-E-2.ipynb
  dotnet/notebooks/08-chatGPT-with-DALL-E-2.ipynb
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
  dotnet/notebooks/README.md
Labels: documentation, PR: ready for review, .NET

#4140 .Net: Populate prompt function variables from template
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/NamedArgBlock.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
Labels: .NET, kernel

#4133 .Net: [OpenApi][DataTypeSupport][Part2] Headers serialization
  dotnet/src/Functions/Functions.OpenApi/Builders/QueryStringBuilder.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/ArrayParameterValueSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/FormStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/PipeDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/SimpleStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/SpaceDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/ArrayParameterSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/FormStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/PipeDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/SimpleStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/SpaceDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
Labels: .NET

#4142 .Net: Streamline KernelPromptTemplate.AddMissingInputVariables
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
Labels: .NET

#4145 .Net: Moved Microsoft.SemanticKernel.Events classes to Microsoft.SemanticKernel
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/src/SemanticKernel.Abstractions/Events/CancelKernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/KernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Events/FunctionInvokedEventArgsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#3606 .Net: Fix for #2432: Qdrant Vector Deletion
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/DeleteVectorsResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
Labels: .NET, kernel, memory, v1

#4154 .Net: Augment pipelining example with named outputs
  dotnet/samples/KernelSyntaxExamples/Example74_Pipelining.cs
Labels: .NET, v1

#4044 .Net: Marshaling of function arguments
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
Labels: .NET, kernel, v1

#4155 .Net: Add Kernel.InvokeStreamingAsync overloads that take pluginName/functionName
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
Labels: .NET, kernel.core, v1

#4113 .Net: Updates for ChatMessageContent to support complex content model
  docs/decisions/0025-chat-content-models.md
  docs/decisions/diagrams/chat-text-models.mmd
  docs/decisions/diagrams/chat-text-models.png
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/Example49_LogitBias.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Example74_GPTVision.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatMessageContentItemCollection.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextToImage/ImageContent.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryTests.cs
Labels: documentation, PR: ready for review, .NET, kernel, kernel.core, v1

#4107 .Net: Trace log rendered prompts in KernelFunctionFromPrompt
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
Labels: .NET, v1

#4141 .Net: Enhance Service Selector to use ExecutionSettings from Invoke Async Calls
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedAIServiceSelector.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceSelectorTests.cs
Labels: .NET, kernel, kernel.core, v1

#4159 .Net: Make modelId optional for Azure AI services
  dotnet/samples/KernelSyntaxExamples/Example26_AADAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletion/AzureOpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextGeneration/AzureOpenAITextGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/AzureOpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AIServicesOpenAIExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextEmbeddingTests.cs
Labels: .NET, kernel, v1

#4150 .Net: Improve example 21
  dotnet/samples/KernelSyntaxExamples/Example21_OpenAIPlugins.cs
Labels: .NET, v1

#4151 .Net: Simplify example 43
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
Labels: .NET, v1

#4088 .Net: Simplify and clarify example 16
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
Labels: .NET, v1

#4172 .Net KernelExample57 - Update comments
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
Labels: PR: ready for review, .NET, v1 bugbash, v1

#4187 .Net: Tweak a few collections on JSON-deserialized types
  dotnet/samples/KernelSyntaxExamples/Example49_LogitBias.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Functions/Functions.Yaml/PromptExecutionSettingsNodeDeserializer.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
Labels: .NET, kernel, kernel.core

#4163 .Net: Naming and location updates for content models
  docs/decisions/diagrams/chat-text-models.mmd
  docs/decisions/diagrams/chat-text-models.png
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example75_GPTVision.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIStreamingTextContent.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextGeneration/HuggingFaceTextGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatMessageContentItemCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Content/ChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Content/ImageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Content/KernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Content/StreamingChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Content/StreamingKernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Content/StreamingTextContent.cs
  dotnet/src/SemanticKernel.Abstractions/Content/TextContent.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/StreamingMethodContent.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionResultTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: documentation, PR: ready for review, .NET, kernel, kernel.core

#4188 .Net: Mark Kernel Events Functionality as Experimental
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/Plugins/Plugins.UnitTests/Plugins.UnitTests.csproj
  dotnet/src/SemanticKernel.Abstractions/Events/CancelKernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/KernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: documentation, .NET, kernel, kernel.core

#4176 .Net: Add service suffix IEmbeddingGenerationService
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextEmbedding/OpenAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.UnitTests/HuggingFace/TextEmbedding/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Qdrant/QdrantMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Weaviate/WeaviateMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AIServicesOpenAIExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextEmbeddingTests.cs
  dotnet/src/Plugins/Plugins.Memory/MemoryBuilder.cs
  dotnet/src/Plugins/Plugins.UnitTests/Memory/MemoryBuilderTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/EmbeddingGenerationServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/IEmbeddingGenerationService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/ITextEmbeddingGenerationService.cs
  dotnet/src/SemanticKernel.Core/Memory/SemanticTextMemory.cs
Labels: .NET, kernel, kernel.core, v1

#4186 .Net: Fix InvokePromptAsync doesn't work for non-semantic-kernel templates
  dotnet/src/Extensions/PromptTemplate.Handlebars/Extensions/HandlebarsKernelExtensions.cs
  dotnet/src/IntegrationTests/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/AggregatorPromptTemplateFactoryTests.cs
Labels: .NET, kernel, v1

#4162 .Net: Add OpenAIPromptExecutionSettings.Seed
  dotnet/docs/EXPERIMENTS.md
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsTests.cs
Labels: documentation, .NET, kernel, v1

#4185 .Net: Add support for DI service arguments to KernelFunctionFromMethod
  dotnet/src/SemanticKernel.Abstractions/Functions/FromKernelServicesAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests2.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel, kernel.core, v1

#4153 .Net: Redo OpenAI function calling to be tool calling
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIFunctionResponse.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIFunctionToolCall.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletion/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletion/OpenAIChatHistory.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.OpenAI/FunctionCallBehavior.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/AzureOpenAIImageOperationStatus.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/AzureOpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.OpenAI/ToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionResponseTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionTests.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/GrpcKernelExtensions.cs
  dotnet/src/Functions/Functions.Markdown/MarkdownKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/InternalUtilities/src/Http/HttpClientExtensions.cs
  dotnet/src/InternalUtilities/src/Http/HttpClientProvider.cs
  dotnet/src/InternalUtilities/src/Http/HttpContentExtensions.cs
  dotnet/src/InternalUtilities/src/System/InternalTypeConverter.cs
  dotnet/src/InternalUtilities/src/System/TypeConverterFactory.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/Plugins/Plugins.Web/WebFileDownloadPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/Services/AIServiceExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/DefaultKernelPlugin.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/StreamingMethodContent.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/HttpContentExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/InternalTypeConverterTests.cs
Labels: .NET, kernel, memory, kernel.core, v1

#4194 .Net: Fix PromptRendered event does not use changed RenderedPrompt
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
Labels: .NET, kernel, v1

#4166 Java: Clean up samples/sk-v1 poms
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/assistants/AssistantKernel.java
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/assistants/AssistantThread.java
  java/pom.xml
  java/samples/pom.xml
  java/samples/sk-v1/05-MultiModal/pom.xml
  java/samples/sk-v1/06-Assistants/pom.xml
  java/samples/sk-v1/pom.xml
  java/semantickernel-bom/pom.xml
Labels: java

#4158 Java: Initial Update of ContextVariables to v1
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/e2e/ContextVariableFunctionTest.java
  java/connectors/semantickernel-connectors-ai-openai/src/main/java/com/microsoft/semantickernel/connectors/ai/openai/chatcompletion/OpenAIChatHistory.java
  java/plugins/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/actionplanner/ActionPlanner.java
  java/plugins/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/actionplanner/Plan.java
  java/plugins/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/DefaultSequentialPlannerSKContext.java
  java/plugins/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/sequentialplanner/SequentialPlanner.java
  java/plugins/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/stepwiseplanner/DefaultStepwisePlanner.java
  java/plugins/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/stepwiseplanner/SystemStep.java
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/coreskills/TextMemorySkill.java
  java/pom.xml
  java/samples/sample-code/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Verify.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatHistory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/AbstractSKContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/AbstractSkFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ContextVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ContextVariables.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResult.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/SKContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/SKFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/WritableContextVariables.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/ContextVariableType.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/ContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/ContextVariableTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/converters/BooleanVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/converters/CharacterVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/converters/ChatHistoryVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/converters/NumberVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/converters/StringVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/skilldefinition/ParameterView.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/skilldefinition/annotations/SKSample.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/DefaultKernelResult.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/functions/SemanticFunctionResult.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultCompletionSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultContextVariables.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/DefaultSKContext.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/orchestration/NativeSKFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/semanticfunctions/SemanticFunction.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/blocks/CodeBlock.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/blocks/VarBlock.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplateEngine.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/DefaultKernelTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/orchestration/NativeSKFunctionTest.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example12SequentialPlannerTest.java
Labels: java

#4156 .Net Removing special "input" argument
  dotnet/samples/KernelSyntaxExamples/Example03_Arguments.cs
  dotnet/samples/KernelSyntaxExamples/Example05_InlineFunctionDefinition.cs
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
  dotnet/samples/KernelSyntaxExamples/Example11_WebSearchQueries.cs
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  dotnet/samples/KernelSyntaxExamples/Example27_PromptFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example40_DIContainer.cs
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example54_AzureChatCompletionWithData.cs
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/NCalcPlugins/LanguageCalculatorPlugin.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplate/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/Plugins/Plugins.Memory/TextMemoryPlugin.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/TimePluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/WaitPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/MsGraph/CalendarPluginTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelArguments.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionAttribute.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel, kernel.core, v1

#4175 .Net: Use named args for creating or adding AI services
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/Example26_AADAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example27_PromptFunctionsUsingChatGPT.cs
  dotnet/samples/KernelSyntaxExamples/Example32_StreamingCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example36_MultiCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example42_KernelBuilder.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example56_TemplateMethodFunctionsWithMultipleArguments.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureExecutionSettings.cs
  dotnet/samples/KernelSyntaxExamples/Example61_MultipleLLMs.cs
  dotnet/samples/KernelSyntaxExamples/Example62_CustomAIServiceSelector.cs
  dotnet/samples/KernelSyntaxExamples/Example64_MultiplePromptTemplates.cs
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example72_KernelStreaming.cs
Labels: .NET, v1

#4173 .Net: Update telemetry sample app
  dotnet/samples/TelemetryExample/Program.cs
  dotnet/samples/TelemetryExample/README.md
  dotnet/samples/TelemetryExample/RepoUtils/Env.cs
  dotnet/samples/TelemetryExample/TelemetryExample.csproj
  dotnet/samples/TelemetryExample/TestConfiguration.cs
Labels: documentation, enhancement, .NET

#4064 .Net: Assistant chat enhancement
  dotnet/samples/KernelSyntaxExamples/Example67_KernelStreaming.cs
  dotnet/samples/KernelSyntaxExamples/Example68_GPTVision.cs
  dotnet/samples/KernelSyntaxExamples/Example69_MutableKernelPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Assistant.cs
  dotnet/samples/KernelSyntaxExamples/Example71_AssistantDelegation.cs
  dotnet/samples/KernelSyntaxExamples/Example72_AssistantCollaboration.cs
  dotnet/samples/KernelSyntaxExamples/Example73_AssistantAuthoring.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Plugins/MenuPlugin.cs
  dotnet/src/Experimental/Assistants.UnitTests/Integration/RunHarness.cs
  dotnet/src/Experimental/Assistants/AssistantPlugin.cs
  dotnet/src/Experimental/Assistants/Experimental.Assistants.csproj
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.Assistant.cs
  dotnet/src/Experimental/Assistants/Extensions/OpenAIRestExtensions.cs
  dotnet/src/Experimental/Assistants/IAssistant.cs
  dotnet/src/Experimental/Assistants/IAssistantExtensions.cs
  dotnet/src/Experimental/Assistants/IChatThread.cs
  dotnet/src/Experimental/Assistants/Internal/Assistant.cs
  dotnet/src/Experimental/Assistants/Internal/ChatThread.cs
Labels: PR: ready for review, .NET, feature branch, v1

#4189 .Net: Integration Tests for Function Calling Stepwise Planner
  dotnet/samples/KernelSyntaxExamples/Example66_FunctionCallingStepwisePlanner.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
Labels: .NET, kernel, v1

#3919 Python: Add python connector for Azure OpenAI on your data
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_cross_lingual.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_vector_search.py
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/ai/chat_request_settings.py
  python/semantic_kernel/connectors/ai/open_ai/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/models/chat/azure_chat_with_data_response.py
  python/semantic_kernel/connectors/ai/open_ai/semantic_functions/open_ai_chat_prompt_template_with_data_config.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/orchestration/sk_function.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
Labels: python

#4000 .Net: Add default JSON-serializable TypeConverter
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedMethodFunctions.cs
  dotnet/src/InternalUtilities/src/System/TypeConverterFactory.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/TypeConverterFactoryTests.cs
Labels: .NET, kernel, v1

#4204 Python: Bump Python package version to 0.4.2.dev
  python/pyproject.toml
Labels: python

#4195 .Net: Blocks Namespace Flattening + Content -> Contents folder
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ImageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/KernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingKernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingTextContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/TextContent.cs
  dotnet/src/SemanticKernel.Core/Contents/StreamingMethodContent.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/Block.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/BlockTypes.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/CodeBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/FunctionIdBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ITextRendering.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/NamedArgBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/Symbols.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/TextBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ValBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/VarBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/CodeTokenizer.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/TemplateTokenizer.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/FunctionIdBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/NamedArgBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/TextBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/ValBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/VarBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/CodeTokenizerTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/TemplateTokenizerTests.cs
Labels: .NET, kernel, kernel.core, v1

#4214 .Net - Update pgvector for Postgres memory connector
  dotnet/Directory.Packages.props
Labels: bug, PR: ready for review, .NET, v1

#4216 .Net: Revert ".Net: Add default JSON-serializable TypeConverter"
  dotnet/samples/KernelSyntaxExamples/Example15_TextMemoryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example60_AdvancedMethodFunctions.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresMemoryStore.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/InternalUtilities/src/System/TypeConverterFactory.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/TypeConverterFactoryTests.cs
Labels: .NET, kernel, memory

#4017 .Net: Handlebars Prompt Template Helpers
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example64_MultiplePromptTemplates.cs
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step3_Yaml_Prompt.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/TelemetryExample/Program.cs
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplate/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/HandlebarsPromptTemplateFactoryTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/HandlebarsPromptTemplateTestUtils.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/Helpers/KernelFunctionHelpersTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/Helpers/KernelHelperUtilsTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/Helpers/KernelSystemHelpersTests.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplate.Handlebars/HandlebarsPromptTemplateFactory.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Extensions/HandlebarsKernelExtensions.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplateFactory.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplateOptions.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelperUtils.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelFunctionHelpers.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelSystemHelpers.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/PromptTemplates.Handlebars.csproj
  dotnet/src/IntegrationTests/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlanTests.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/PromptTests.cs
  dotnet/src/InternalUtilities/src/Type/TypeExtensions.cs
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Handlebars/HandlebarsTemplateEngineExtensionsTests.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPrompt.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/Extensions/HandlebarsPlannerExtensions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/Extensions/HandlebarsPromptTemplateExtensions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/Extensions/KernelParameterMetadataExtensions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlan.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlannerOptions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsTemplateEngineExtensions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/Models/HandlebarsPlannerErrorCodes.cs
  dotnet/src/Planners/Planners.Handlebars/Planners.Handlebars.csproj
Labels: enhancement, .NET, kernel, v1

#4215 .Net: Make it possible to get the execution settings for a prompt within an AI Selection Service
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step1_Create_Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
Labels: .NET, kernel.core, v1

#4221 .Net: Add missing logging to InvokePrompt{Streaming}Async
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET, v1

#4192 .Net: [OpenApi][DataTypeSupport][Part3] support for string and non-string Types
  dotnet/src/Functions/Functions.OpenApi/Builders/QueryStringBuilder.cs
  dotnet/src/Functions/Functions.OpenApi/HttpContentFactory.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/ArrayParameterValueSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/FormStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/OpenApiTypeConverter.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/PipeDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/SimpleStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/SpaceDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/QueryStringBuilderTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/FormStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/OpenApiTypeConverterTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/PipeDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/SimpleStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/Serialization/SpaceDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
Labels: .NET, kernel, v1

#4229 Python: Add missing parenthesis in markdown in 03-semantic-function-inline notebook
  python/notebooks/03-semantic-function-inline.ipynb
Labels: python

#4220 .Net: PromptExecutionSettings in KernelArguments should be an ordered dictionary
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Extensions/HandlebarsKernelExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelArguments.cs
  dotnet/src/SemanticKernel.Abstractions/Services/OrderedAIServiceSelector.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelArgumentsTests.cs
Labels: .NET, kernel, kernel.core, v1

#4167 .Net ChatHistory Streaming Message Helper API
  dotnet/docs/EXPERIMENTS.md
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatHistoryExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: documentation, .NET, kernel, kernel.core, v1

#4236 .Net: Fix default OpenAI execution settings values
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsTests.cs
Labels: .NET, kernel, v1

#4237 Python: Resolve hanging issue in Jupyter notebooks when re-running async functions
  python/semantic_kernel/orchestration/sk_function.py
Labels: python

#4240 .Net: Fixing issues with functions that take a parameter.
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
Labels: .NET

#4241 .Net: Bump version to 1.0.0-rc4
  dotnet/nuget/nuget-package.props
Labels: .NET, v1

#4244 .Net: Mark gRPC and OpenAPI Functions as Experimental
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Functions/Functions.Grpc/AssemblyInfo.cs
  dotnet/src/Functions/Functions.OpenApi/AssemblyInfo.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Plugins/PluginTests.cs
Labels: documentation, .NET, kernel, v1

#4225 .Net: OpenApi functionality cleanup
  dotnet/src/Functions/Functions.OpenApi/Builders/QueryStringBuilder.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Builders/QueryStringBuilderTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/ArrayParameterSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/FormStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/OpenApiTypeConverterTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/PipeDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/SimpleStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/SpaceDelimitedStyleParametersSerializerTests.cs
Labels: .NET, v1

#4255 .Net: Fix unit test failing due to time zone expectations
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/OpenApiTypeConverterTests.cs
Labels: .NET

#4254 .Net: Web search examples fixed to pass `query` argument instead of `input`.
  dotnet/samples/KernelSyntaxExamples/Example07_BingAndGooglePlugins.cs
  dotnet/samples/KernelSyntaxExamples/Example11_WebSearchQueries.cs
Labels: .NET, v1

#4260 .Net: Use IReadOnlyDictionary for metadata dictionaries
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAIWithDataChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAIWithDataStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIStreamingTextContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ImageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/KernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingKernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingTextContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/TextContent.cs
  dotnet/src/SemanticKernel.Abstractions/Events/CancelKernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/KernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionResultTests.cs
Labels: .NET, kernel, kernel.core

#4270 .Net: Update the sample to also demonstrate loading yaml resources
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step3_Yaml_Prompt.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Resources/GenerateStory.yaml
  dotnet/samples/KernelSyntaxExamples/Resources/GenerateStoryHandlebars.yaml
Labels: .NET

#4177 Python: pysdk issue 3897 - update notebooks
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-skills.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
  python/semantic_kernel/core_skills/text_memory_skill.py
Labels: python

#3657 .Net: Minor Documentation Corrections in MathPlugin:
  dotnet/src/Plugins/Plugins.Core/MathPlugin.cs
Labels: .NET, v1

#4219 .Net: Function calling stepwise planner integration tests in pipeline
  .github/workflows/dotnet-build-and-test.yml
  .github/workflows/dotnet-integration-tests.yml
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/IntegrationTests/TestSettings/PlannerConfiguration.cs
  dotnet/src/IntegrationTests/testsettings.json
  dotnet/src/Planners/Planners.OpenAI/Stepwise/GeneratePlan.yaml
Labels: .NET, kernel, v1

#4273 .Net: Add getting started showing how to use hooks for responsible AI
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step5_Chat_Prompt.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step6_Responsible_AI.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step7_Pipelining.cs
Labels: .NET, v1

#4274 .Net: Update notebooks to use RC4
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/01-basic-loading-the-kernel.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-kernel-arguments-chat.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/notebooks/07-DALL-E-2.ipynb
  dotnet/notebooks/08-chatGPT-with-DALL-E-2.ipynb
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
Labels: PR: ready for review, .NET

#4161 .Net: Some random minor cleanup
  .editorconfig
  dotnet/samples/KernelSyntaxExamples/Example16_CustomLLM.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/AzureOpenAITextToImageService.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelSystemHelpers.cs
  dotnet/src/Functions/Functions.Grpc/Extensions/GrpcKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/InternalUtilities/planning/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Handlebars/KernelParameterMetadataExtensionsTests.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/Extensions/HandlebarsPromptTemplateExtensions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/Extensions/KernelParameterMetadataExtensions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlan.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/Plugins/Plugins.Document/DocumentPlugin.cs
  dotnet/src/Plugins/Plugins.Memory/TextMemoryPlugin.cs
  dotnet/src/Plugins/Plugins.MsGraph/CalendarPlugin.cs
  dotnet/src/Plugins/Plugins.MsGraph/CloudDrivePlugin.cs
  dotnet/src/Plugins/Plugins.MsGraph/EmailPlugin.cs
  dotnet/src/Plugins/Plugins.MsGraph/TaskListPlugin.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingConnector.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleConnector.cs
  dotnet/src/Plugins/Plugins.Web/WebFileDownloadPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/Block.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionMetadataTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceSelectorTests.cs
Labels: .NET, kernel, memory, kernel.core

#4284 .Net: Small fixes and improvements
  dotnet/samples/KernelSyntaxExamples/Example45_MultiStreamingChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/TelemetryExample/Program.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIMemoryBuilderExtensions.cs
  dotnet/src/InternalUtilities/planning/PlannerInstrumentation.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlan.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
Labels: PR: ready for review, .NET, kernel, v1

#4287 .Net: Example 58 - remove chatModelId requirement
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureExecutionSettings.cs
Labels: .NET, v1
