Repository microsoft/semantic-kernel, pull requests merged in 2024-01, with the labels that each got.

#4417 .Net: Updated dotnet README for SK v1.0
  dotnet/README.md
Labels: documentation, PR: ready for review, .NET

#4404 .Net: Update KernelFunctionAttribute's XML comment to be accurate and more descriptive
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionAttribute.cs
Labels: .NET, kernel.core

#4412 .Net: Use cached JsonSerializerOptions in handlebars planner
  dotnet/src/Planners/Planners.Handlebars/Handlebars/Extensions/KernelParameterMetadataExtensions.cs
Labels: .NET

#4391 .Net: Add OpenAIPromptExecutionSettings.ResponseFormat
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
Labels: .NET, kernel

#4452 Java: Fix execution of Example05_InlineFunctionDefinition
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelPromptTemplateFactory.java
Labels: java

#4461 .Net: Change OpenAI function calling examples to use latest models
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/IntegrationTests/TestSettings/PlannerConfiguration.cs
Labels: .NET, kernel

#4458 Java: Add List<KernelFunction> getFunctions() API to Kernel
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
Labels: java

#4459 .Net: Correct file names in comments
  dotnet/samples/KernelSyntaxExamples/Example30_ChatWithPrompts.cs
Labels: .NET, samples

#4467 Python: Mark flaky test with xfail until we can fix it.
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
Labels: python

#4455 .Net: Function Calling Planner: Catch exceptions and output error messages to chat history
  dotnet/src/IntegrationTests/Fakes/ThrowingEmailPluginFake.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
Labels: PR: ready for review, .NET, kernel

#4428 Python: Supports better exceptions when Azure OpenAI content filtering is triggered
  python/semantic_kernel/connectors/ai/ai_exception.py
  python/semantic_kernel/connectors/ai/open_ai/exceptions/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/exceptions/content_filter_ai_exception.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
Labels: python

#4479 Python: response format fix
  python/semantic_kernel/connectors/ai/open_ai/request_settings/open_ai_request_settings.py
  python/tests/unit/ai/open_ai/test_openai_request_settings.py
Labels: python

#4469 Java: Add code evaluation blocks
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sk-v1/01-SimpleChat/src/main/java/Main.java
  java/samples/sk-v1/01-SimpleChat/src/test/java/SimpleChatTest.java
  java/samples/sk-v1/02-PersonaChat/src/main/java/Main.java
  java/samples/sk-v1/02-PersonaChat/src/test/java/PersonaChatTest.java
  java/samples/sk-v1/03-SimpleRag/src/main/java/Main.java
  java/samples/sk-v1/03-SimpleRag/src/test/java/SimpleRagTest.java
  java/semantickernel-api/src/main/ignore/java/com/microsoft/semantickernel/templateengine/PromptTemplateEngine.java
  java/semantickernel-api/src/main/ignore/java/com/microsoft/semantickernel/templateengine/blocks/BlockTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/exceptions/SKException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/DefaultKernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunctionMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/ContextVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/DefaultKernelArguments.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelParameterMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/InputVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelPromptTemplateFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/CodeTokenizer.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/DefaultPromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/TemplateException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/TemplateTokenizer.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/Block.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/BlockTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/CodeRendering.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/FunctionIdBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/NamedArgBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/Symbols.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/TextBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/TextRendering.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/ValBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/VarBlock.java
  java/semantickernel-core/src/main/ignore/com/microsoft/semantickernel/skilldefinition/CaseInsensitiveMap.java
  java/semantickernel-core/src/main/ignore/com/microsoft/semantickernel/templateengine/DefaultPromptTemplateEngine.java
  java/semantickernel-core/src/main/ignore/com/microsoft/semantickernel/templateengine/blocks/CodeBlock.java
  java/semantickernel-core/src/main/ignore/com/microsoft/semantickernel/templateengine/blocks/CodeRendering.java
  java/semantickernel-core/src/main/java/com/microsoft/semantickernel/semanticfunctions/DefaultPromptTemplate.java
Labels: java

#4480 Java: Add retry example
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example08_RetryHandler.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelPromptTemplateFactory.java
Labels: java

#4471 .Net: Avoid causing first-chance exceptions in CodeTokenizer
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/NamedArgBlock.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/CodeTokenizer.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/NamedArgBlockTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/CodeTokenizerTests.cs
Labels: .NET, kernel

#4509 Python: constr removed and replaced by annotated stringconstraints
  python/semantic_kernel/connectors/ai/ai_service_client_base.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_embedding.py
Labels: python

#4507 Python: moved cspell to own settings, small fixes in typing
  python/.cspell.json
  python/.vscode/settings.json
  python/semantic_kernel/connectors/ai/open_ai/const.py
  python/semantic_kernel/connectors/ai/open_ai/request_settings/azure_chat_request_settings.py
  python/semantic_kernel/connectors/ai/open_ai/request_settings/open_ai_request_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
Labels: python

#4513 Python: Add sample for rag self critique with AI Search
  python/samples/kernel-syntax-examples/self-critique_rag.py
Labels: python

#4333 Python: Debug logging for StepwisePlanner's next step thought
  python/semantic_kernel/planning/stepwise_planner/stepwise_planner.py
Labels: python

#4520 .Net - Unblock main / Fix dotnet-format workflow
  .github/workflows/dotnet-format.yml
Labels: bug, .NET, github_actions, release blocker

#4486 .Net - Add support for instruction templating on Agents
  dotnet/samples/KernelSyntaxExamples/Example70_Agents.cs
  dotnet/samples/KernelSyntaxExamples/Resources/Agents/ParrotAgent.yaml
  dotnet/samples/KernelSyntaxExamples/Resources/Agents/ToolAgent.yaml
  dotnet/src/Experimental/Agents/AgentBuilder.Static.cs
  dotnet/src/Experimental/Agents/AgentBuilder.cs
  dotnet/src/Experimental/Agents/AgentPlugin.cs
  dotnet/src/Experimental/Agents/Experimental.Agents.csproj
  dotnet/src/Experimental/Agents/IAgent.cs
  dotnet/src/Experimental/Agents/IAgentExtensions.cs
  dotnet/src/Experimental/Agents/IAgentThread.cs
  dotnet/src/Experimental/Agents/Internal/Agent.cs
  dotnet/src/Experimental/Agents/Internal/ChatThread.cs
  dotnet/src/Experimental/Agents/Models/AgentConfigurationModel.cs
  dotnet/src/Functions/Functions.Yaml/KernelFunctionYaml.cs
Labels: PR: ready for review, .NET, enhancement, agents

#4388 .Net: Fixed KeyNotFoundExeption in Example09.
  dotnet/samples/KernelSyntaxExamples/Example09_FunctionTypes.cs
Labels: .NET, vnext

#4474 .Net: Fix handling of required calls with OpenAI
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ToolCallBehavior.cs
Labels: .NET, kernel, vnext

#4535 .Net: Skip failing stepwise planner integration test
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/IntegrationTests/README.md
Labels: .NET, kernel, vnext, documentation

#4495 Python: Fix positional argument mismatch for invoking native functions.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/07-hugging-face-for-skills.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/semantic_kernel/orchestration/sk_function.py
Labels: python

#4438 .Net: Enable package compatibility validation
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
  dotnet/src/Extensions/PromptTemplates.Handlebars/PromptTemplates.Handlebars.csproj
  dotnet/src/Functions/Functions.Yaml/Functions.Yaml.csproj
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
Labels: PR: ready for review, .NET, kernel, vnext, kernel.core

#4519 Python: Remove code coverage def in pyproject.toml which doesn't allow one to debug unit tests
  python/pyproject.toml
Labels: python

#4397 .Net Remove redundant not existed solution items
  dotnet/SK-dotnet.sln
Labels: .NET, vnext

#4540 .Net: Invariant culture for OpenApiSchema conversion
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiSchemaExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/OpenApiSchemaExtensionsTests.cs
Labels: .NET, vnext

#4516 Java: Remove aiservices-azureopenai
  java/aiservices/azureopenai/pom.xml
  java/aiservices/azureopenai/src/main/java/com/microsoft/semantickernel/aiservices/azureopenai/chatcompletion/AzureOpenAIChatCompletion.java
  java/aiservices/azureopenai/src/main/java/com/microsoft/semantickernel/aiservices/azureopenai/chatcompletion/AzureOpenAIChatResponse.java
  java/aiservices/azureopenai/src/main/resources/META-INF/services/com.microsoft.semantickernel.chatcompletion.AzureOpenAIChatCompletion$Builder
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatResponse.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/BuildersSingleton.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/AzureOpenAIChatCompletion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/OpenAIChatCompletion.java
Labels: java

#3557 Python: Fix notebooks 10 and 11
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/notebooks/services.py
Labels: python

#4484 Java: 03-SimpleRag impl to point of invoking Azure OpenAI API
  java/aiservices/openai/pom.xml
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/plugins/semantickernel-plugin-core/pom.xml
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/assistants/AssistantKernel.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/assistants/AssistantThread.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/coreskills/ConversationSummarySkill.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/coreskills/FileIOSkill.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/coreskills/HttpSkill.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/coreskills/MathSkill.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/coreskills/SemanticFunctionConstants.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/coreskills/TextMemorySkill.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/coreskills/TextSkill.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/coreskills/TimeSkill.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/coreskills/WaitSkill.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/plugins/web/bing/BingConnector.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/text/TextChunker.java
  java/plugins/semantickernel-plugin-core/src/ignore/java/com/microsoft/semantickernel/util/LocaleParser.java
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/plugins/web/bing/BingConnector.java
  java/samples/sk-v1/01-SimpleChat/src/main/resources/Plugins/ChatPlugin/SimpleChat.prompt.yaml
  java/samples/sk-v1/02-PersonaChat/src/main/resources/Plugins/ChatPlugin/PersonaChat.prompt.yaml
  java/samples/sk-v1/03-SimpleRag/src/main/java/Main.java
  java/samples/sk-v1/03-SimpleRag/src/main/java/plugins/searchplugin/Search.java
  java/samples/sk-v1/03-SimpleRag/src/main/resources/Plugins/ChatPlugin/GroundedChat.prompt.yaml
  java/samples/sk-v1/04-DynamicRag/src/main/resources/Plugins/ChatPlugin/Chat.prompt.yaml
  java/samples/sk-v1/04-DynamicRag/src/main/resources/Plugins/IntentPlugin/GetNextStep.prompt.yaml
  java/samples/sk-v1/04-DynamicRag/src/main/resources/Plugins/MathPlugin/GenerateMathProblem.prompt.yaml
  java/samples/sk-v1/05-MultiModal/src/main/resources/Plugins/ChatPlugin/GroundedChat.prompt.yaml
  java/samples/sk-v1/05-MultiModal/src/main/resources/Plugins/HuggingFace/FillMaskTask.prompt.yaml
  java/samples/sk-v1/05-MultiModal/src/main/resources/Plugins/HuggingFace/ImageToTextTask.prompt.yaml
  java/samples/sk-v1/05-MultiModal/src/main/resources/Plugins/HuggingFace/QuestionAnsweringTask.prompt.yaml
  java/samples/sk-v1/05-MultiModal/src/main/resources/Plugins/HuggingFace/SummarizationTask.prompt.yaml
  java/samples/sk-v1/05-MultiModal/src/main/resources/Plugins/HuggingFace/TextToImageTask.prompt.yaml
  java/samples/sk-v1/05-MultiModal/src/main/resources/Plugins/Ollama/Math.prompt.yaml
  java/samples/sk-v1/05-MultiModal/src/main/resources/Plugins/SearchPlugin/GetSearchQuery.prompt.yaml
  java/samples/sk-v1/06-Assistants/Assistants/Designer.agent.yaml
  java/samples/sk-v1/06-Assistants/Assistants/Mathmatician.agent.yaml
  java/samples/sk-v1/06-Assistants/Assistants/ProjectManager.agent.yaml
  java/samples/sk-v1/06-Assistants/Assistants/Researcher.agent.yaml
  java/samples/sk-v1/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/BuildersSingleton.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/DefaultKernelPlugin.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelParameterMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPlugin.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
Labels: java

#4546 .Net - Add support for agent tools: code-interpreter and retrieval tool
  dotnet/samples/KernelSyntaxExamples/Example75_AgentTools.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Resources/travelinfo.txt
  dotnet/src/Experimental/Agents/AgentBuilder.cs
  dotnet/src/Experimental/Agents/AgentCapability.cs
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.AssistantFiles.cs
  dotnet/src/Experimental/Agents/IAgent.cs
  dotnet/src/Experimental/Agents/IChatMessage.cs
  dotnet/src/Experimental/Agents/Internal/Agent.cs
  dotnet/src/Experimental/Agents/Internal/ChatMessage.cs
  dotnet/src/Experimental/Agents/Internal/ChatThread.cs
  dotnet/src/Experimental/Agents/Models/AssistantModel.cs
  dotnet/src/Experimental/Agents/Models/ThreadMessageModel.cs
Labels: PR: ready for review, .NET, feature branch, experimental, enhancement

#4570 Python: Fix issues with chat OYD, update samples and tests
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_cross_lingual.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_vector_search.py
  python/semantic_kernel/connectors/ai/open_ai/request_settings/azure_chat_request_settings.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/ai/open_ai/test_openai_request_settings.py
Labels: python

#4528 .Net: Bug fixes for Handlebars Prompt Template and Planner
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelperUtils.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelFunctionHelpers.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelSystemHelpers.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPrompt.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
Labels: .NET, kernel, vnext

#4549 .Net: Add missing XxFromFunctions members
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Experimental/Agents.UnitTests/Extensions/KernelExtensionTests.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel

#3973 .Net: Add previous plan and error to retry the handdlebars planning.
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPrompt.handlebars
Labels: .NET, vnext

#4555 .Net: Allow Add{Azure}OpenAI methods to resolve OpenAIClient from DI
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
Labels: .NET, kernel, vnext

#4477 Python: added ollama connector
  python/semantic_kernel/connectors/ai/ai_service_client_base.py
  python/semantic_kernel/connectors/ai/ollama/__init__.py
  python/semantic_kernel/connectors/ai/ollama/ollama_request_settings.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_embedding.py
  python/semantic_kernel/connectors/ai/ollama/utils.py
  python/tests/unit/ai/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/ai/ollama/services/test_ollama_test_completion.py
  python/tests/unit/ai/ollama/services/test_ollama_text_embedding.py
  python/tests/unit/ai/ollama/utils.py
Labels: python

#4581 Python: Bump pyproject to 0.4.5 for release. Update notebooks to use this version
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-skills.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
Labels: python

#4542 .Net: [Fix] .Net: FunctionCallingStepwisePlannerTests.DoesNotThrowWhenPluginFunctionThrowsNonCriticalExceptionAsync is failing
  dotnet/src/IntegrationTests/Fakes/ThrowingEmailPluginFake.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
Labels: bug, PR: ready for review, .NET, kernel

#3061 FAQ explaining how to access nightly builds
  docs/FAQS.md
Labels: docs and tests, documentation

#4585 Java: add example Example27_PromptFunctionsUsingChatGPT
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/ParsedPrompt.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/XMLPromptParser.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example03_Arguments.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example26_AADAuth.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example27_PromptFunctionsUsingChatGPT.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/TextAIService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelFunctionFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/TextGenerationService.java
Labels: java

#4599 Python: Fix OYD tool message parsing
  python/semantic_kernel/connectors/ai/open_ai/models/chat/azure_chat_with_data_response.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
Labels: python

#4584 .Net: Add missing CancellationToken to InvokePromptAsync<T>. (#4573)
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET

#4533 Branching strategy ADR
  docs/decisions/0030-branching-strategy.md
  docs/decisions/diagrams/git-flow.png
  docs/decisions/diagrams/git-hub-flow.png
  docs/decisions/diagrams/net-pr-status-checks.png
Labels: documentation

#4620 .Net: Bumping - v1.1.0 release
  dotnet/nuget/nuget-package.props
Labels: .NET

#4502 .Net: Simplify example 52 to showcase using a custom OpenAIClient in genera…
  dotnet/samples/KernelSyntaxExamples/Example52_ApimAuth.cs
  dotnet/samples/KernelSyntaxExamples/Example52_CustomOpenAIClient.cs
  dotnet/samples/KernelSyntaxExamples/README.md
Labels: .NET, documentation

#4617 .Net: Remove Polly as a dependency
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/Example08_RetryHandler.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
Labels: .NET

#4651 .Net: Catch InvalidOperationException in RedirectOutput.Log
  dotnet/src/IntegrationTests/RedirectOutput.cs
Labels: .NET, kernel

#4609 .Net: Fix issue #4608
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIMemoryBuilderExtensions.cs
Labels: .NET, kernel

#4592 Java: Tidy up builder usage and implement Example42_KernelBuilder
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/aiservices/openai/src/main/resources/META-INF/services/com.microsoft.semantickernel.chatcompletion.ChatCompletionService$Builder
  java/aiservices/openai/src/main/resources/META-INF/services/com.microsoft.semantickernel.textcompletion.TextGenerationService$Builder
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/ConversationSummaryPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example03_Arguments.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example10_DescribeAllPluginsAndFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummaryPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example26_AADAuth.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example27_PromptFunctionsUsingChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example42_KernelBuilder.java
  java/samples/sk-v1/01-SimpleChat/src/main/java/Main.java
  java/samples/sk-v1/01-SimpleChat/src/test/java/SimpleChatTest.java
  java/samples/sk-v1/02-PersonaChat/src/main/java/Main.java
  java/samples/sk-v1/02-PersonaChat/src/test/java/PersonaChatTest.java
  java/samples/sk-v1/03-SimpleRag/src/main/java/Main.java
  java/samples/sk-v1/03-SimpleRag/src/test/java/SimpleRagTest.java
  java/semantickernel-api/pom.xml
  java/semantickernel-api/src/main/ignore/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionYamlBuilder.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/SKBuilders.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/BuildersSingleton.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/ServiceLoadUtil.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunctionYaml.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/TextGenerationService.java
Labels: java

#4663 .Net: Update PackageValidationBaselineVersion
  dotnet/nuget/nuget-package.props
Labels: .NET

#4623 Java: Add Example55_TextChunker and Example56_TemplateMethodFunctionsWithMultipleArguments
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/plugins/TextPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example10_DescribeAllPluginsAndFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummaryPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example17_ChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example26_AADAuth.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example27_PromptFunctionsUsingChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example33_StreamingChat.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example55_TextChunker.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example56_TemplateMethodFunctionsWithMultipleArguments.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example58_ConfigureExecutionSettings.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example64_MultiplePromptTemplates.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelFunctionFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelPromptTemplateFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/TemplateTokenizer.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/NamedArgBlock.java
Labels: java

#4655 Java: Implement Example61_MultipleLLMs
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/api-test/api-usage-example/src/main/java/InlineFunctionExample.java
  java/api-test/api-usage-example/src/main/java/InlineFunctionWithPreBuiltSkillExample.java
  java/api-test/integration-tests/src/test/ignore/com/microsoft/semantickernel/e2e/AbstractKernelTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example05_InlineFunctionDefinitionTest.java
  java/connectors/semantickernel-connectors-memory-azurecognitivesearch/src/test/java/com/microsoft/semantickernel/connectors/memory/azurecognitivesearch/AzureCognitiveSearchMemoryTests.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example08_RetryHandler.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example10_DescribeAllPluginsAndFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummaryPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example26_AADAuth.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example27_PromptFunctionsUsingChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example41_HttpClientUsage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example42_KernelBuilder.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example49_LogitBias.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example56_TemplateMethodFunctionsWithMultipleArguments.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example58_ConfigureExecutionSettings.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example61_MultipleLLMs.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example62_CustomAIServiceSelector.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example64_MultiplePromptTemplates.java
  java/samples/sk-v1/01-SimpleChat/src/main/java/Main.java
  java/samples/sk-v1/01-SimpleChat/src/test/java/SimpleChatTest.java
  java/samples/sk-v1/02-PersonaChat/src/main/java/Main.java
  java/samples/sk-v1/02-PersonaChat/src/test/java/PersonaChatTest.java
  java/samples/sk-v1/03-SimpleRag/src/main/java/Main.java
  java/samples/sk-v1/03-SimpleRag/src/test/java/SimpleRagTest.java
  java/semantickernel-api/src/main/ignore/java/com/microsoft/semantickernel/services/AIServiceCollection.java
  java/semantickernel-api/src/main/ignore/java/com/microsoft/semantickernel/services/AIServiceSelector.java
  java/semantickernel-api/src/main/ignore/java/com/microsoft/semantickernel/services/DefaultAIServiceProvider.java
  java/semantickernel-api/src/main/ignore/java/com/microsoft/semantickernel/services/OrderedAIServiceSelector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/AIService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/ServiceProvider.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/DefaultKernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/DefaultKernelArguments.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/KernelArguments.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelFunctionFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/OutputVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/AIServiceSelection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/AIServiceSelector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/BaseAIServiceSelector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/NamedServiceProvider.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/OrderedAIServiceSelector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/TextGenerationService.java
Labels: java

#4669 Java: Remove streaming feature
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example33_Chat.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example42_KernelBuilder.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example67_KernelStreaming.java
  java/samples/sk-v1/01-SimpleChat/src/test/java/SimpleChatTest.java
  java/samples/sk-v1/02-PersonaChat/src/main/java/Main.java
  java/samples/sk-v1/02-PersonaChat/src/test/java/PersonaChatTest.java
  java/samples/sk-v1/03-SimpleRag/src/main/java/Main.java
  java/samples/sk-v1/03-SimpleRag/src/test/java/SimpleRagTest.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/StreamingKernelContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatMessageContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/StreamingChatMessageContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/TextRequestContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/DefaultKernelArguments.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/ParentAIServiceSelector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/StreamingTextContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/TextContent.java
Labels: java

#4612 .Net: DefaultValue for OpenAPI payload properties
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationParameter.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV2_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_1.yaml
Labels: PR: ready for review, .NET

#4673 Python: Fixes `Plan` using an empty function in describe and incorrectly setting context variables for next steps.
  python/semantic_kernel/planning/plan.py
Labels: python

#4657 .Net: CancelKernelEventArgs is marked with SKEXP0003 Experimental Attribute instead of SKEXP0004
  dotnet/src/SemanticKernel.Abstractions/Events/CancelKernelEventArgs.cs
Labels: .NET, kernel.core

#4684 .Net: Remove use of the samples/skills folder
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Plugins/SamplePluginsTests.cs
  dotnet/src/IntegrationTests/TestHelpers.cs
  dotnet/src/IntegrationTests/skills/FunSkill/Joke/config.json
  dotnet/src/IntegrationTests/skills/FunSkill/Joke/skprompt.txt
Labels: .NET, kernel

#4649 .Net: Converted examples 52 and others to tests
  dotnet/samples/KernelSyntaxExamples/Example52_CustomOpenAIClient.cs
  dotnet/samples/KernelSyntaxExamples/Example58_ConfigureExecutionSettings.cs
  dotnet/samples/KernelSyntaxExamples/Example70_Agents.cs
  dotnet/samples/KernelSyntaxExamples/Example75_AgentTools.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
Labels: .NET, kernel

#4678 .Net: Add an example showing how to use the OpenAI response format property
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step1_Create_Kernel.cs
Labels: .NET

#4602 .Net: Extend chat message parsing and add relevant unit tests
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatPromptParser.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/ChatPromptParserTests.cs
Labels: .NET, kernel, kernel.core

#4437 .Net: Function and Prompt Filters
  dotnet/SK-dotnet.sln
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/KernelSyntaxExamples/Example76_Filters.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step7_Observability.cs
  dotnet/src/InternalUtilities/src/System/NonNullCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionFilterContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvokedContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvokingContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/IFunctionFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/IPromptFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptFilterContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderedContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderingContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/PromptRenderingResult.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/KernelFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: docs and tests, PR: ready for review, .NET, kernel, vnext, kernel.core, documentation

#4708 .Net: OpenApi operation name sanitization
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/KernelOpenApiPluginExtensionsTests.cs
Labels: PR: ready for review, .NET

#4712 Python: Bump pyproject version to 0.4.6. Bump notebook sk versions to 0.4.6.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
Labels: python

#4683 Java: Add Example69_MutableKernelPlugin
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example69_MutableKernelPlugin.java
Labels: java

#3380 .Net: Implementation of FunctionResultExtended with kernel example
  dotnet/samples/KernelSyntaxExamples/Example77_StronglyTypedFunctionResult.cs
Labels: .NET

#4715 Python: Sets a valid default content filter code to ResponsibleAIPolicyViolation
  python/semantic_kernel/connectors/ai/open_ai/exceptions/content_filter_ai_exception.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
Labels: python

#4714 .Net: Marked Kernel events as deprecated in favor of filters
  docs/decisions/0031-kernel-filters.md
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Example76_Filters.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step6_Responsible_AI.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step7_Observability.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/SemanticKernel.Abstractions/Events/CancelKernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/FunctionInvokingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/KernelEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderedEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Events/PromptRenderingEventArgs.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/PromptRenderingResult.cs
  dotnet/src/SemanticKernel.UnitTests/Events/FunctionInvokedEventArgsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, documentation

#4665 .Net: Update FlowOrchestrator to use yaml plugins and reliability improvement
  dotnet/samples/KernelSyntaxExamples/BaseTest.cs
  dotnet/samples/KernelSyntaxExamples/Example74_FlowOrchestrator.cs
  dotnet/samples/KernelSyntaxExamples/RepoUtils/XunitLogger.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Experimental/Orchestration.Flow/Execution/ReActEngine.cs
  dotnet/src/Experimental/Orchestration.Flow/Experimental.Orchestration.Flow.csproj
  dotnet/src/Experimental/Orchestration.Flow/FlowOrchestratorConfig.cs
  dotnet/src/Experimental/Orchestration.Flow/Plugins/CheckRepeatStep.yaml
  dotnet/src/Experimental/Orchestration.Flow/Plugins/CheckRepeatStep/config.json
  dotnet/src/Experimental/Orchestration.Flow/Plugins/CheckRepeatStep/skprompt.txt
  dotnet/src/Experimental/Orchestration.Flow/Plugins/CheckStartStep.yaml
  dotnet/src/Experimental/Orchestration.Flow/Plugins/CheckStartStep/config.json
  dotnet/src/Experimental/Orchestration.Flow/Plugins/CheckStartStep/skprompt.txt
  dotnet/src/Experimental/Orchestration.Flow/Plugins/ReActEngine.gpt4.yaml
  dotnet/src/Experimental/Orchestration.Flow/Plugins/ReActEngine.yaml
  dotnet/src/Experimental/Orchestration.Flow/Plugins/ReActEngine/config.json
  dotnet/src/Experimental/Orchestration.Flow/Plugins/ReActEngine/gpt4/config.json
  dotnet/src/Experimental/Orchestration.Flow/Plugins/ReActEngine/gpt4/skprompt.txt
  dotnet/src/Experimental/Orchestration.Flow/Plugins/ReActEngine/skprompt.txt
Labels: .NET

#4723 .Net: Upgraded package version to 1.2.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#4725 Java: Add Example44_MultiChatCompletion
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example44_MultiChatCompletion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/TextAIService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
Labels: java

#4736 .Net: Pass user field in SK C#
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
Labels: .NET, kernel

#4619 ADR Connector Community Support
  docs/decisions/0031-feature-branch-strategy.md
Labels: PR: ready to merge, documentation

#4737 .Net: Reverted example with filters
  dotnet/samples/KernelSyntaxExamples/Example76_Filters.cs
Labels: .NET

#4720 Python: updates to chat_prompt and related
  python/semantic_kernel/connectors/ai/open_ai/request_settings/open_ai_request_settings.py
  python/semantic_kernel/connectors/ai/open_ai/semantic_functions/open_ai_chat_prompt_template.py
  python/semantic_kernel/semantic_functions/chat_prompt_template.py
  python/tests/unit/ai/open_ai/test_openai_request_settings.py
  python/tests/unit/plugin_definition/test_prompt_templates.py
Labels: python

#4745 .Net GoogleAI Embeddings generation impl
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/GoogleAI/GoogleAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/GoogleAI/GoogleAIEmbeddingRequestTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/GoogleAI/GoogleAIEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/GoogleAI/GoogleAIEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/GoogleAI/GoogleAIEmbeddingsClient.cs
Labels: .NET, kernel

#4685 Java: sample Example07_BingAndGooglePlugins
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/connectors/semantickernel-connectors-web-bing/pom.xml
  java/connectors/semantickernel-connectors-web-bing/src/main/java/com/microsoft/semantickernel/connectors/web/bing/BingConnector.java
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/plugins/web/SearchUrlPlugin.java
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/plugins/web/WebSearchEnginePlugin.java
  java/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example07_BingAndGooglePlugins.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example11_WebSearchQueries.java
  java/samples/sk-v1/03-SimpleRag/src/main/java/plugins/searchplugin/Search.java
  java/samples/sk-v1/05-MultiModal/pom.xml
  java/samples/sk-v1/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/connectors/WebSearchEngineConnector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunctionMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ToolCallBehavior.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/ContextVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/ContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/ContextVariableTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/converters/NumberVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelFunctionFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelParameterMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/orchestration/contextvariables/converters/NumberVariableContextVariableTypeConverterTest.java
  java/semantickernel-bom/pom.xml
Labels: java

#4742 .Net GoogleAI/VertexAI Gemini Text & Chat generation impl
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Common/GeminiClientChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Common/GeminiClientChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Common/GeminiClientTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Common/GeminiClientTextStreamingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/VertexAI/VertexAIGeminiEndpointProviderTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Common/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Common/GeminiTextGenerationClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/VertexAI/VertexAIGeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/VertexAI/VertexAIGeminiEndpointProvider.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/VertexAI/VertexAIConfiguration.cs
Labels: .NET, kernel

#4760 Python: bump pyproject version for release. Update notebook package versions.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
Labels: python

#4756 .Net: update link to .NET8.0 download
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/README.md
Labels: .NET, documentation

#4738 Update COMMUNITY.md
  COMMUNITY.md
Labels: documentation

#4749 .Net: Articles grammar correction
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/src/SemanticKernel.Abstractions/AI/XmlPromptParser.cs
Labels: .NET, kernel.core

#4758 .Net VertexAI Embeddings generation
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/VertexAI/VertexAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/VertexAI/VertexAIEmbeddingRequestTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/VertexAI/VertexAIEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/VertexAI/VertexAIEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/VertexAI/VertexAIEmbeddingsClient.cs
Labels: .NET, kernel

#4491 Python: implement KernelContent and all related classes
  python/samples/kernel-syntax-examples/azure_chat_gpt_api.py
  python/samples/kernel-syntax-examples/openai_function_calling.py
  python/samples/kernel-syntax-examples/self-critique_rag.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/google_palm/gp_request_settings.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/contents/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/contents/azure_chat_message_content.py
  python/semantic_kernel/connectors/ai/open_ai/contents/azure_streaming_chat_message_content.py
  python/semantic_kernel/connectors/ai/open_ai/contents/open_ai_chat_message_content.py
  python/semantic_kernel/connectors/ai/open_ai/contents/open_ai_streaming_chat_message_content.py
  python/semantic_kernel/connectors/ai/open_ai/models/chat/azure_chat_with_data_response.py
  python/semantic_kernel/connectors/ai/open_ai/models/chat/function_call.py
  python/semantic_kernel/connectors/ai/open_ai/models/chat/open_ai_chat_message.py
  python/semantic_kernel/connectors/ai/open_ai/models/chat/tool_calls.py
  python/semantic_kernel/connectors/ai/open_ai/semantic_functions/open_ai_chat_prompt_template.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/semantic_kernel/models/chat/chat_message.py
  python/semantic_kernel/models/chat/chat_role.py
  python/semantic_kernel/models/chat/finish_reason.py
  python/semantic_kernel/models/contents/__init__.py
  python/semantic_kernel/models/contents/chat_message_content.py
  python/semantic_kernel/models/contents/kernel_content.py
  python/semantic_kernel/models/contents/streaming_chat_message_content.py
  python/semantic_kernel/models/contents/streaming_kernel_content.py
  python/semantic_kernel/models/contents/streaming_text_content.py
  python/semantic_kernel/models/contents/text_content.py
  python/semantic_kernel/orchestration/kernel_function.py
  python/tests/conftest.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
  python/tests/integration/completions/test_gp_chat_service.py
  python/tests/integration/completions/test_oai_chat_service.py
  python/tests/integration/completions/test_oai_text_service.py
  python/tests/unit/ai/google_palm/services/test_palm_chat_completion.py
  python/tests/unit/ai/google_palm/services/test_palm_text_completion.py
  python/tests/unit/ai/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/ai/ollama/services/test_ollama_test_completion.py
Labels: python

#4374 Python: Add astra memory
  python/.env.example
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/memory/astradb/__init__.py
  python/semantic_kernel/connectors/memory/astradb/astra_client.py
  python/semantic_kernel/connectors/memory/astradb/astradb_memory_store.py
  python/semantic_kernel/connectors/memory/astradb/utils.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/connectors/memory/test_astradb.py
Labels: python, memory connector, memory

#4765 .Net Gemini refactor chat system messages handling
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Common/GeminiClientChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Common/GeminiClientChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Common/GeminiChatCompletionClient.cs
Labels: .NET, kernel

#4782 Python: Renames request settings to prompt execution settings
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/samples/kernel-syntax-examples/azure_chat_gpt_api.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_cross_lingual.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_vector_search.py
  python/samples/kernel-syntax-examples/chat_gpt_api_function_calling.py
  python/samples/kernel-syntax-examples/google_palm_chat.py
  python/samples/kernel-syntax-examples/google_palm_text_completion.py
  python/samples/kernel-syntax-examples/openai_logit_bias.py
  python/semantic_kernel/connectors/ai/__init__.py
  python/semantic_kernel/connectors/ai/ai_service_client_base.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/google_palm/__init__.py
  python/semantic_kernel/connectors/ai/google_palm/gp_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/__init__.py
  python/semantic_kernel/connectors/ai/hugging_face/hf_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/ollama/ollama_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/azure_chat_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding_base.py
  python/semantic_kernel/connectors/ai/prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/orchestration/kernel_function.py
  python/semantic_kernel/orchestration/kernel_function_base.py
  python/semantic_kernel/planning/plan.py
  python/semantic_kernel/semantic_functions/prompt_template_config.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
  python/tests/unit/ai/google_palm/services/test_palm_chat_completion.py
  python/tests/unit/ai/google_palm/services/test_palm_text_completion.py
  python/tests/unit/ai/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/ai/ollama/services/test_ollama_test_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/ai/open_ai/services/test_azure_text_completion.py
  python/tests/unit/ai/open_ai/test_openai_request_settings.py
  python/tests/unit/ai/test_ai_request_settings.py
  python/tests/unit/planning/test_plan_creation.py
  python/tests/unit/plugin_definition/test_prompt_templates.py
Labels: python

#4801 .Net: Update the baseline to 1.3.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#4600 .Net: OpenAI embeddings refactor
  dotnet/samples/KernelSyntaxExamples/Example78_TextEmbedding.cs
  dotnet/samples/KernelSyntaxExamples/RepoUtils/EnumerableExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextEmbedding/OpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#4796 Python: Remove sync function invoke. Update other code to use async invoke.
  python/README.md
  python/notebooks/00-getting-started.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/samples/kernel-syntax-examples/action_planner.py
  python/samples/kernel-syntax-examples/bing_search_plugin.py
  python/samples/kernel-syntax-examples/google_search_plugin.py
  python/samples/kernel-syntax-examples/openapi_example/openapi_client.py
  python/samples/kernel-syntax-examples/sequential_planner.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/orchestration/kernel_function.py
  python/semantic_kernel/orchestration/kernel_function_base.py
  python/semantic_kernel/planning/action_planner/action_planner.py
  python/semantic_kernel/planning/basic_planner.py
  python/semantic_kernel/planning/plan.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner.py
  python/semantic_kernel/planning/stepwise_planner/stepwise_planner.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/semantic_kernel/text/function_extension.py
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
  python/tests/unit/kernel_extensions/test_register_functions.py
  python/tests/unit/planning/action_planner/test_action_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner_parser.py
  python/tests/unit/planning/test_plan_execution.py
  python/tests/unit/test_kernel.py
Labels: python, documentation
