Repository microsoft/semantic-kernel, pull requests merged in 2024-04, with the labels that each got.

#5695 Python: Introduce operations to handle OpenAI plugins, improve OpenAPI plugins, and allow for auth
  python/poetry.lock
  python/pyproject.toml
  python/samples/kernel-syntax-examples/openai_plugin_azure_key_vault.py
  python/samples/kernel-syntax-examples/openai_plugin_klarna.py
  python/samples/kernel-syntax-examples/openapi_example/openapi.yaml
  python/samples/kernel-syntax-examples/openapi_example/openapi_client.py
  python/samples/kernel-syntax-examples/resources/open_ai_plugins/akv-openai.json
  python/samples/kernel-syntax-examples/resources/open_ai_plugins/akv-openapi.yaml
  python/semantic_kernel/connectors/openai_plugin/__init__.py
  python/semantic_kernel/connectors/openai_plugin/openai_authentication_config.py
  python/semantic_kernel/connectors/openai_plugin/openai_function_execution_parameters.py
  python/semantic_kernel/connectors/openai_plugin/openai_utils.py
  python/semantic_kernel/connectors/openapi/__init__.py
  python/semantic_kernel/connectors/openapi/kernel_openapi.py
  python/semantic_kernel/connectors/openapi_plugin/__init__.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_function_execution_parameters.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_manager.py
  python/semantic_kernel/connectors/utils/__init__.py
  python/semantic_kernel/connectors/utils/document_loader.py
  python/semantic_kernel/exceptions/kernel_exceptions.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/utils/settings.py
  python/tests/assets/test_plugins/TestPlugin/TestOpenAIPlugin/akv-openai.json
  python/tests/assets/test_plugins/TestPlugin/TestOpenAPIPlugin/akv-openapi.yaml
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/unit/connectors/openapi/test_sk_openapi.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#5713 Python: Bump versions to 0.9.5b1 for release.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-prompt-function-inline.ipynb
  python/notebooks/04-kernel-arguments-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
Labels: python

#5701 Python: Honor the function calling options if configured.
  python/poetry.lock
  python/samples/kernel-syntax-examples/openai_function_calling_stepwise_planner.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner_options.py
Labels: python

#5717 Python: .Net: Fixed typos based on new spell checker vocabulary
  .github/_typos.toml
  dotnet/samples/CreateChatGptPlugin/MathPlugin/azure-function/Prompts/GetLogicalValue/skprompt.txt
  dotnet/samples/KernelSyntaxExamples/Example13_ConversationSummaryPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example81_TextEmbedding.cs
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummarySkill.java
  java/semantickernel-core/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example13ConversationSummarySkillTest.java
  python/notebooks/10-multiple-results-per-prompt.ipynb
Labels: .NET, python, java

#5698 .Net & Python: Fix broken links in notebooks
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
Labels: .NET, python

#5574 .Net Stream Json Parser as Utility for Connectors.
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Client/TextGenerationStreamJsonParserTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TextGeneration/TextGenerationStreamResponseTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/IStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/TextGenerationStreamJsonParser.cs
  dotnet/src/InternalUtilities/src/Text/StreamJsonParser.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/StreamJsonParserTests.cs
Labels: .NET, PR: ready to merge, kernel

#5716 .Net: Publish Microsoft.SemanticKernel.Plugins.OpenApi.Extensions package
  dotnet/src/Functions/Functions.OpenApi.Extensions/Functions.OpenApi.Extensions.csproj
Labels: .NET

#5730 .Net: MistralAI Function calling for chat completion requests
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Connectors.MistralAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/function_call_response.json
  dotnet/src/Connectors/Connectors.MistralAI/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/ChatCompletionRequest.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatChoice.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatMessage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralFunction.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralParameters.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralPropertyType.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralTool.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralToolCall.cs
  dotnet/src/Connectors/Connectors.MistralAI/Connectors.MistralAI.csproj
  dotnet/src/Connectors/Connectors.MistralAI/Extensions/MistralAIPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIToolCallBehavior.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
Labels: .NET, kernel

#5049 .Net [4877] SK format the weaviate
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Http/ApiSchema/CreateGraphRequest.cs
Labels: .NET, kernel, memory

#5638 .Net: Improved Logging for 06-memory-and-embeddings.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
Labels: .NET

#5738 Python: small fix for CH serialization
  python/semantic_kernel/connectors/ai/open_ai/contents/open_ai_chat_message_content.py
  python/semantic_kernel/contents/chat_history.py
  python/tests/unit/contents/test_chat_history.py
Labels: python

#5741 Python: Small docstring fix
  python/semantic_kernel/events/function_invoked_event_args.py
Labels: python

#5710 .Net: Specialized SSE parser as Utility
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiStreamResponseTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/StreamJsonParserTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/StreamJsonParser.cs
  dotnet/src/InternalUtilities/src/Text/SseData.cs
  dotnet/src/InternalUtilities/src/Text/SseJsonParser.cs
  dotnet/src/InternalUtilities/src/Text/SseLine.cs
  dotnet/src/InternalUtilities/src/Text/SseReader.cs
  dotnet/src/InternalUtilities/src/Text/StreamJsonParser.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/SseJsonParserTests.cs
Labels: .NET, kernel

#5684 Python: Update to AOAI OYD 2024-02-15-preview API version
  python/.env.example
  python/poetry.lock
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_vector_search.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/azure_chat_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/test_openai_request_settings.py
Labels: python

#5726 Python: Fix the command for pipeline checks in DEV_SETUP.md
  python/DEV_SETUP.md
Labels: python, documentation

#5666 .Net - Add support for Name property to ChatMessageContent
  dotnet/samples/KernelSyntaxExamples/Example37_CompletionIdentity.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AzureSdk/OpenAIChatMessageContentTests.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingChatMessageContent.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ChatMessageContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: PR: ready for review, .NET, kernel, ai connector, agents, kernel.core

#5745 .Net: Fix function result logging exception
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionLogMessages.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionLogMessagesTests.cs
Labels: .NET, kernel, kernel.core

#5759 Python: Add missing await to openapi client
  python/samples/kernel-syntax-examples/openapi_example/openapi_client.py
Labels: python

#5764 .Net: Baseline version 1.7.0
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET

#5771 .Net: Update MistralAI kernel syntax samples
  dotnet/samples/KernelSyntaxExamples/MistralAI/MistralAI_Chat_Prompt.cs
  dotnet/samples/KernelSyntaxExamples/MistralAI/MistralAI_Function_Calling.cs
Labels: .NET

#5770 Python: dev_setup and readme updates
  python/.vscode/tasks.json
  python/DEV_SETUP.md
  python/README.md
Labels: python, documentation

#5776 Python: updated decorator to allow no brackets
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/tests/unit/functions/test_kernel_function_decorators.py
Labels: python

#5673 .Net: Added better formatting for responses from Bing Searches & Ability to use custom Bing Search endpoint.
  dotnet/src/Plugins/Plugins.UnitTests/Web/WebSearchEngineSkillTests.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingConnector.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleConnector.cs
  dotnet/src/Plugins/Plugins.Web/IWebSearchEngineConnector.cs
  dotnet/src/Plugins/Plugins.Web/WebPage.cs
  dotnet/src/Plugins/Plugins.Web/WebSearchEnginePlugin.cs
Labels: .NET

#5739 .Net: Anthropic initial
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/ClaudePromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Connectors.Anthropic.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Core/ClaudeRequestTests.cs
  dotnet/src/Connectors/Connectors.Anthropic/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Anthropic/ClaudePromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Anthropic/Connectors.Anthropic.csproj
  dotnet/src/Connectors/Connectors.Anthropic/Core/Claude/AuthorRoleConverter.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Claude/Models/ClaudeMessageContent.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Claude/Models/ClaudeRequest.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.Anthropic/Models/Claude/ClaudeFinishReason.cs
  dotnet/src/Connectors/Connectors.Anthropic/Models/Claude/ClaudeMetadata.cs
Labels: PR: feedback to address, .NET, kernel

#5752 .Net: Move Gemini models to InternalModels directory
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/GeminiPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiContent.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiPart.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiResponse.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiResponseCandidate.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiTool.cs
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiChatMessageContent.cs
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiFinishReason.cs
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiFunction.cs
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiFunctionToolCall.cs
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiFunctionToolResult.cs
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiMetadata.cs
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiSafetyRating.cs
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiSafetySetting.cs
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiStreamingChatMessageContent.cs
Labels: .NET, kernel

#5768 Java: Add header for chat completion requests
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
Labels: java

#5718 .Net: Update stepwise planner to accept optional chatHistory to resume execution as needed.
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
Labels: .NET

#5791 .Net: Bump version to 1.7.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#5782 Java: Add support for response_format on chat completion
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/InvocationContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ResponseFormat.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
Labels: java

#5635 .Net: Remove JsonSchema.Net dependency from Microsoft.SemanticKernel.Abstractions/Core
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiFunction.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIFunction.cs
  dotnet/src/Experimental/Agents/Extensions/AssistantsKernelFunctionExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Functions.OpenApi.csproj
  dotnet/src/InternalUtilities/planning/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/InternalUtilities/src/Schema/.editorconfig
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.ReflectionHelpers.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapperConfiguration.cs
  dotnet/src/InternalUtilities/src/Schema/KernelJsonSchemaBuilder.cs
  dotnet/src/InternalUtilities/src/Schema/Polyfills/NullabilityInfo.cs
  dotnet/src/InternalUtilities/src/Schema/Polyfills/NullabilityInfoContext.cs
  dotnet/src/InternalUtilities/src/Schema/Polyfills/NullabilityInfoHelpers.cs
  dotnet/src/InternalUtilities/src/Schema/README.md
  dotnet/src/InternalUtilities/src/Schema/ReferenceTypeNullability.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelJsonSchema.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelParameterMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelJsonSchemaTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelParameterMetadataTests.cs
Labels: .NET, kernel, kernel.core, documentation

#5802 .Net: Focus CI on .NET 8 SDK
  .github/workflows/dotnet-build-and-test.yml
  .github/workflows/dotnet-ci.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/dotnet-integration-tests.yml
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
Labels: .NET, kernel.core

#5817 .Net: Add new kernel syntax sample which shows function calling planner with RAG
  dotnet/samples/KernelSyntaxExamples/Example80_FunctionCallingPlannerWithRAG.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
Labels: .NET

#5819 .Net: Upgrade projects from net6.0 to net8.0 and adjust LangVersion to 12
  .editorconfig
  dotnet/Directory.Build.props
  dotnet/Directory.Packages.props
  dotnet/samples/CreateChatGptPlugin/MathPlugin/azure-function/Directory.Build.props
  dotnet/samples/CreateChatGptPlugin/MathPlugin/azure-function/shared/PluginShared.csproj
  dotnet/samples/CreateChatGptPlugin/MathPlugin/azure-function/sk-chatgpt-azure-function.csproj
  dotnet/samples/CreateChatGptPlugin/MathPlugin/kernel-functions-generator/kernel-functions-generator.csproj
  dotnet/samples/CreateChatGptPlugin/Solution/CreateChatGptPlugin.csproj
  dotnet/samples/CreateChatGptPlugin/Solution/Program.cs
  dotnet/samples/DocumentationExamples/DocumentationExamples.csproj
  dotnet/samples/HomeAutomation/HomeAutomation.csproj
  dotnet/samples/HuggingFaceImageTextExample/FormMain.cs
  dotnet/samples/HuggingFaceImageTextExample/HuggingFaceImageTextExample.csproj
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/TelemetryExample/TelemetryExample.csproj
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/Connectors.AzureAISearch.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Google.UnitTests/Connectors.Google.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Connectors.HuggingFace.UnitTests.csproj
  dotnet/src/Connectors/Connectors.HuggingFace/Client/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.DuckDB/DuckDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Milvus/MilvusMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeDocumentExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeUtils.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/Connectors.Onnx.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Onnx/BertOnnxTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Experimental/Agents.UnitTests/Experimental.Agents.UnitTests.csproj
  dotnet/src/Experimental/Agents/Experimental.Agents.csproj
  dotnet/src/Experimental/Agents/IAgentExtensions.cs
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/Experimental.Orchestration.Flow.IntegrationTests.csproj
  dotnet/src/Experimental/Orchestration.Flow.UnitTests/Experimental.Orchestration.Flow.UnitTests.csproj
  dotnet/src/Experimental/Orchestration.Flow/Experimental.Orchestration.Flow.csproj
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/InternalUtilities/planning/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Planners.Core.UnitTests.csproj
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Planners.Handlebars.UnitTests.csproj
  dotnet/src/Plugins/Plugins.UnitTests/Plugins.UnitTests.csproj
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/TextGenerationExtensions.cs
  dotnet/src/SemanticKernel.Core/Memory/SemanticTextMemory.cs
  dotnet/src/SemanticKernel.UnitTests/.editorconfig
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel, kernel.core, memory

#5822 Java: Fix chat message parsing
  java/semantickernel-api/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/ChatHistoryVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/CollectionVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/PrimitiveVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/StringVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/TextContentVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
  java/semantickernel-bom/pom.xml
Labels: java

#5821 .Net: Fix handling of generic return types in CreateFromMethod
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
Labels: .NET, kernel

#5787 .Net: [Feature Branch] Added ADR for exception handling in filters
  docs/decisions/0039-set-plugin-name-in-metadata.md
  docs/decisions/0040-filters-exception-handling.md
Labels: documentation

#5705 .Net - Voilà: Agent Framework
  dotnet/SK-dotnet.sln
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/AgentSyntaxExamples/AgentSyntaxExamples.csproj
  dotnet/samples/AgentSyntaxExamples/BaseTest.cs
  dotnet/samples/AgentSyntaxExamples/Configuration/ConfigurationNotFoundException.cs
  dotnet/samples/AgentSyntaxExamples/Configuration/TestConfiguration.cs
  dotnet/samples/AgentSyntaxExamples/Example01_Agent.cs
  dotnet/samples/AgentSyntaxExamples/Example02_Plugins.cs
  dotnet/samples/AgentSyntaxExamples/Plugins/MenuPlugin.cs
  dotnet/samples/AgentSyntaxExamples/README.md
  dotnet/samples/AgentSyntaxExamples/RepoUtils/TextOutputHelperExtensions.cs
  dotnet/samples/AgentSyntaxExamples/RepoUtils/XunitLogger.cs
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentChannel.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
  dotnet/src/Agents/Abstractions/ChatHistoryChannel.cs
  dotnet/src/Agents/Abstractions/ChatHistoryKernelAgent.cs
  dotnet/src/Agents/Abstractions/Extensions/ChatHistoryExtensions.cs
  dotnet/src/Agents/Abstractions/IChatHistoryHandler.cs
  dotnet/src/Agents/Abstractions/Internal/BroadcastQueue.cs
  dotnet/src/Agents/Abstractions/Internal/ChannelReference.cs
  dotnet/src/Agents/Abstractions/Internal/KeyEncoder.cs
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/Abstractions/Properties/AssemblyInfo.cs
  dotnet/src/Agents/Core/Agents.Core.csproj
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/Properties/AssemblyInfo.cs
  dotnet/src/Agents/UnitTests/AgentChannelTests.cs
  dotnet/src/Agents/UnitTests/AgentChatTests.cs
  dotnet/src/Agents/UnitTests/Agents.UnitTests.csproj
  dotnet/src/Agents/UnitTests/ChatHistoryChannelTests.cs
  dotnet/src/Agents/UnitTests/Core/ChatCompletionAgentTests.cs
  dotnet/src/Agents/UnitTests/Extensions/ChatHistoryExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Internal/BroadcastQueueTests.cs
  dotnet/src/Agents/UnitTests/Internal/KeyEncoderTests.cs
  dotnet/src/Experimental/Agents/Internal/OpenAIRestContext.cs
Labels: PR: ready for review, .NET, feature branch, experimental, agents, documentation

#5830 Python: Allow args to pass to func calling stepwise planner
  python/samples/kernel-syntax-examples/openai_function_calling_stepwise_planner.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/tests/unit/planners/function_calling_stepwise_planner/test_unit_function_calling_stepwise_planner.py
Labels: python

#5832 .Net - Agents IReadonlyList instead of IEnumerable (Step #ANY)
  dotnet/src/Agents/Abstractions/AgentChannel.cs
  dotnet/src/Agents/Abstractions/ChatHistoryChannel.cs
  dotnet/src/Agents/Abstractions/Internal/BroadcastQueue.cs
  dotnet/src/Agents/UnitTests/AgentChannelTests.cs
  dotnet/src/Agents/UnitTests/Internal/BroadcastQueueTests.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#5840 community office hours
  COMMUNITY.md
Labels: documentation

#5838 .Net: Fix a few straggler warnings from recently updated analyzers
  .editorconfig
  dotnet/Directory.Packages.props
  dotnet/src/Agents/Abstractions/ChatHistoryChannel.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/PodType.cs
Labels: .NET, kernel, memory

#5850 .Net: Extend plugins sample to demonstrate the use of enums
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step2_Add_Plugins.cs
Labels: .NET

#5847 .Net - Fix Experimental Agent Type Handling for Tool Calling
  dotnet/samples/KernelSyntaxExamples/Example70_Agents.cs
  dotnet/samples/KernelSyntaxExamples/Plugins/MenuPlugin.cs
  dotnet/src/Experimental/Agents/Internal/ChatRun.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#5788 .Net: [Feature Branch][Option 4] Change IFunctionFilter signature by adding delegate to next filter or function
  dotnet/samples/KernelSyntaxExamples/Example76_Filters.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step7_Observability.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/IFunctionFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/KernelFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel, kernel.core

#5871 Python: Bump project version for release. Fix missing imports in notebooks.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-prompt-function-inline.ipynb
  python/notebooks/04-kernel-arguments-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_vector_search.py
Labels: python

#5785 .Net Hugging Face TGI Chat Completion Message API Support
  dotnet/samples/KernelSyntaxExamples/Example20_HuggingFace.cs
  dotnet/samples/KernelSyntaxExamples/Example86_ImageToText.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/HuggingFacePromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceStreamingChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceStreamingTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TestData/chatcompletion_test_response.json
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TestData/chatcompletion_test_stream_response.txt
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TestData/completion_test_response.json
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TestData/textgeneration_test_response.json
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TestData/textgeneration_test_stream_response.txt
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TextGeneration/TextGenerationStreamResponseTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/ImageToTextGenerationResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/TextGenerationResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/ChatCompletionRequest.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/ChatCompletionResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/ChatCompletionStreamResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/GeneratedTextItem.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/ImageToTextGenerationResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/TextEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/TextEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/TextGenerationRequest.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/TextGenerationResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/TextGenerationStreamResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFacePromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Models/HuggingFaceChatCompletionMetadata.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Models/HuggingFaceTextGenerationMetadata.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Models/HuggingFaceTextGenerationStreamMetadata.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceChatCompletionService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceImageToTextService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/TextGeneration/TextGenerationStreamMetadata.cs
  dotnet/src/InternalUtilities/src/Text/SseJsonParser.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/SseJsonParserTests.cs
Labels: PR: ready for review, .NET, kernel

#4753 .Net Enable Usage of Custom Compatible Chat Message API Endpoints with OpenAI Connector + Examples
  dotnet/samples/KernelSyntaxExamples/Example88_CustomMessageAPIEndpoint.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/CustomHostPipelinePolicy.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletion/OpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextEmbedding/OpenAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextGeneration/OpenAITextGenerationService.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionServiceTests.cs
Labels: .NET, kernel

#5885 Python: added kwargs to embedding and text memory
  python/semantic_kernel/connectors/ai/embeddings/embedding_generator_base.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_embedding.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_embedding.py
  python/semantic_kernel/core_plugins/text_memory_plugin.py
  python/semantic_kernel/memory/semantic_text_memory.py
  python/semantic_kernel/memory/semantic_text_memory_base.py
Labels: python

#5865 .Net: [Feature Branch] Updated Prompt Filters
  dotnet/samples/KernelSyntaxExamples/Example76_Filters.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step6_Responsible_AI.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step7_Observability.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/IPromptFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderingContext.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/PromptRenderingResult.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/KernelFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel, kernel.core

#5874 .Net: During OpenAPI import use payload parameter if specified
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/KernelOpenApiPluginExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/repair-service.json
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Plugins/RepairServiceTests.cs
  dotnet/src/IntegrationTests/Plugins/repair-service.json
Labels: .NET, kernel

#5843 .Net: Fix ignoring non-default search index name
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/MongoDB/MongoDBMemoryStoreTests.cs
Labels: .NET, kernel, memory

#5875 .Net: Deleting Planners.Core source which contained pre-V1 planners.
  .github/workflows/dotnet-build-and-test.yml
  .github/workflows/dotnet-format.yml
  dotnet/src/Planners/Planners.Core.UnitTests/.editorconfig
  dotnet/src/Planners/Planners.Core.UnitTests/Action/ActionPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Extensions/ReadOnlyFunctionCollectionExtensionsTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Planners.Core.UnitTests.csproj
  dotnet/src/Planners/Planners.Core.UnitTests/Planning/PlanSerializationTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Planning/PlanTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Planning/PlanVariableExpansionTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlanParserTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Sequential/SequentialPlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Stepwise/ParseResultTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/Stepwise/StepwisePlannerTests.cs
  dotnet/src/Planners/Planners.Core.UnitTests/XunitHelpers/TestConsoleLogger.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanResponse.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlanner.cs
  dotnet/src/Planners/Planners.Core/Action/ActionPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Action/skprompt.txt
  dotnet/src/Planners/Planners.Core/Extensions/PromptTemplateConfigExtensions.cs
  dotnet/src/Planners/Planners.Core/KernelPlanExtensions.cs
  dotnet/src/Planners/Planners.Core/Plan.cs
  dotnet/src/Planners/Planners.Core/PlanExtensions.cs
  dotnet/src/Planners/Planners.Core/Planners.Core.csproj
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanParser.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlanner.cs
  dotnet/src/Planners/Planners.Core/Sequential/SequentialPlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Sequential/skprompt.txt
  dotnet/src/Planners/Planners.Core/Stepwise/Plugin/RenderFunctionManual/config.json
  dotnet/src/Planners/Planners.Core/Stepwise/Plugin/RenderFunctionManual/skprompt.txt
  dotnet/src/Planners/Planners.Core/Stepwise/Plugin/RenderQuestion/config.json
  dotnet/src/Planners/Planners.Core/Stepwise/Plugin/RenderQuestion/skprompt.txt
  dotnet/src/Planners/Planners.Core/Stepwise/Plugin/StepwiseStep/config.json
  dotnet/src/Planners/Planners.Core/Stepwise/Plugin/StepwiseStep/skprompt.txt
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlanner.cs
  dotnet/src/Planners/Planners.Core/Stepwise/StepwisePlannerConfig.cs
  dotnet/src/Planners/Planners.Core/Stepwise/SystemStep.cs
  dotnet/src/Planners/Planners.Core/Utils/EmbeddedResource.cs
  dotnet/src/Planners/Planners.Core/Utils/FunctionUtils.cs
Labels: .NET

#5794 .Net: Claude service and DI
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Extensions/AnthropicServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Services/AnthropicChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Anthropic/AnthropicClientOptions.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Claude/AnthropicClient.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.Anthropic/Extensions/AnthropicKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Anthropic/Extensions/AnthropicServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Anthropic/Services/AnthropicChatCompletionService.cs
Labels: .NET, kernel

#5765 [Python Getting Started] Update `base_url` to `endpoint`
  python/README.md
Labels: python, documentation

#5907 Python: reduce the amount of complex classes in the serialization to xml
  python/semantic_kernel/contents/chat_message_content.py
Labels: python

#5790 .Net: Claude tools models
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/AnthropicPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/AnthropicToolCallBehaviorTests.cs
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Core/AnthropicRequestTests.cs
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Core/AuthorRoleConverterTests.cs
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Core/ClaudeRequestTests.cs
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Models/AnthropicFunctionTests.cs
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Models/AnthropicFunctionToolCallTests.cs
  dotnet/src/Connectors/Connectors.Anthropic.UnitTests/Utils/AnthropicKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.Anthropic/AnthropicPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Anthropic/AnthropicToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/AnthropicClient.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/AuthorRoleConverter.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Models/AnthropicRequest.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Models/AnthropicToolFunctionDeclaration.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Models/Message/AnthropicContent.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Models/Message/AnthropicImageContent.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Models/Message/AnthropicTextContent.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Models/Message/AnthropicToolCallContent.cs
  dotnet/src/Connectors/Connectors.Anthropic/Core/Models/Message/AnthropicToolResultContent.cs
  dotnet/src/Connectors/Connectors.Anthropic/Models/AnthropicChatMessageContent.cs
  dotnet/src/Connectors/Connectors.Anthropic/Models/AnthropicFinishReason.cs
  dotnet/src/Connectors/Connectors.Anthropic/Models/AnthropicFunction.cs
  dotnet/src/Connectors/Connectors.Anthropic/Models/AnthropicFunctionToolCall.cs
  dotnet/src/Connectors/Connectors.Anthropic/Models/AnthropicFunctionToolResult.cs
  dotnet/src/Connectors/Connectors.Anthropic/Models/AnthropicMetadata.cs
Labels: .NET, kernel

#5725 .Net - Introducing AgentGroupChat (Step #2)
  dotnet/samples/AgentSyntaxExamples/Example01_Agent.cs
  dotnet/samples/AgentSyntaxExamples/Example02_Plugins.cs
  dotnet/samples/AgentSyntaxExamples/Example03_Chat.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/Chat/AgentGroupChatSettings.cs
  dotnet/src/Agents/Core/Chat/AggregatorTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/RegExTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/SelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/SequentialSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/TerminationStrategy.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/UnitTests/Agents.UnitTests.csproj
  dotnet/src/Agents/UnitTests/Core/AgentGroupChatTests.cs
  dotnet/src/Agents/UnitTests/Core/Chat/AgentGroupChatSettingsTests.cs
  dotnet/src/Agents/UnitTests/Core/Chat/AggregatorTerminationStrategyTests.cs
  dotnet/src/Agents/UnitTests/Core/Chat/RegExTerminationStrategyTests.cs
  dotnet/src/Agents/UnitTests/Core/Chat/SequentialSelectionStrategyTests.cs
  dotnet/src/Agents/UnitTests/Core/ChatCompletionAgentTests.cs
Labels: PR: ready for review, .NET, feature branch, experimental, agents

#5800 .Net: Function call content types
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example59_OpenAIFunctionCalling.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/chat_completion_multiple_function_calls_test_response.json
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/InternalUtilities/src/Functions/FunctionName.cs
  dotnet/src/InternalUtilities/src/System/IListExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionResultContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/KernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelArguments.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ChatMessageContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/FunctionCallContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/FunctionResultContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/FunctionNameTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/IListExtensionsTests.cs
Labels: .NET, kernel, kernel.core

#5842 Java: Add booking sample with M365 booking system
  java/samples/booking-agent-m365/pom.xml
  java/samples/booking-agent-m365/src/main/java/com/microsoft/semantickernel/BookingAgent.java
  java/samples/booking-agent-m365/src/main/java/com/microsoft/semantickernel/BookingPlugin.java
  java/samples/booking-agent-m365/src/main/resources/log4j2.xml
  java/samples/pom.xml
Labels: java

#5903 Python: fixing python readme
  python/README.md
Labels: python, documentation

#5900 .Net: [Feature Branch] Function Call Filters
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example76_Filters.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/AutoFunctionInvocationFilterTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/filters_multiple_function_calls_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/filters_streaming_multiple_function_calls_test_response.txt
  dotnet/src/InternalUtilities/src/System/EnumerableExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/AutoFunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/IAutoFunctionInvocationFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
Labels: .NET, kernel, kernel.core

#5925 .Net: [Feature Branch] Reverted hooks
  dotnet/samples/KernelSyntaxExamples/Example57_KernelHooks.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step7_Observability.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/PromptRenderingResult.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel, kernel.core

#5914 Java: Align Example59_OpenAIFunctionCalling with .NET
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example59_OpenAIFunctionCalling.java
Labels: java

#5829 Java: Add OpenApi plugin importer and upgrade tool calling to cover more usecases
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIFunction.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/RenderingTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/ToolCallBehaviourTest.java
  java/samples/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/ConfiguringPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example17_ChatGPT.java
  java/samples/semantickernel-openapi-plugin/pom.xml
  java/samples/semantickernel-openapi-plugin/src/main/java/com/microsoft/semantickernel/samples/openapi/OpenAPIHttpRequestPlugin.java
  java/samples/semantickernel-openapi-plugin/src/main/java/com/microsoft/semantickernel/samples/openapi/SemanticKernelOpenAPIImporter.java
  java/samples/semantickernel-openapi-plugin/src/test/java/ExampleAdoptiumImporter.java
  java/samples/semantickernel-openapi-plugin/src/test/java/ExampleOpenAPIParent.java
  java/samples/semantickernel-openapi-plugin/src/test/java/ExamplePetstoreImporter.java
  java/samples/semantickernel-openapi-plugin/src/test/resources/adoptium.json
  java/samples/semantickernel-openapi-plugin/src/test/resources/adoptium.yaml
  java/samples/semantickernel-openapi-plugin/src/test/resources/petstore.yaml
  java/semantickernel-api/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/KernelHook.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/KernelHooks.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/PreToolCallEvent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionInvocation.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/InputVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethodTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionYamlTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfigTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateFactoryTest.java
  java/semantickernel-bom/pom.xml
Labels: java

#5916 Java: Add OpenAI Audio to/from Text services
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/OpenAiService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/audio/OpenAiAudioToTextService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/audio/OpenAiTextToAudioService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/aiservices/openai/src/main/resources/META-INF/services/com.microsoft.semantickernel.services.audio.AudioToTextService$Builder
  java/aiservices/openai/src/main/resources/META-INF/services/com.microsoft.semantickernel.services.audio.TextToAudioService$Builder
  java/pom.xml
  java/samples/booking-agent-m365/src/main/java/com/microsoft/semantickernel/BookingAgent.java
  java/samples/booking-agent-m365/src/main/java/com/microsoft/semantickernel/BookingPlugin.java
  java/samples/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example59_OpenAIFunctionCalling.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example82_Audio.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariableTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/PreToolCallEvent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionArguments.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/audio/AudioContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/audio/AudioToTextExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/audio/AudioToTextService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/audio/TextToAudioExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/audio/TextToAudioService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/openai/OpenAiServiceBuilder.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/textcompletion/TextGenerationService.java
  java/semantickernel-bom/pom.xml
Labels: java

#5696 .Net: ADR for function call content model classes
  docs/decisions/0039-function-call-content.md
Labels: documentation

#5935 .Net: [Feature Branch] Filters clean-up
  dotnet/samples/KernelSyntaxExamples/Example76_Filters.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step6_Responsible_AI.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step7_Observability.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/IFunctionInvocationFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/IPromptRenderFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderingContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionCanceledException.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/KernelFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel, kernel.core

#5928 .Net: Update sample to show how to use enum[] with function calling
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step2_Add_Plugins.cs
Labels: .NET

#5932 .Net: Add basic support for streaming with function calling
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/MistralAI/MistralAI_Chat_Prompt.cs
  dotnet/samples/KernelSyntaxExamples/MistralAI/MistralAI_Function_Calling.cs
  dotnet/samples/KernelSyntaxExamples/MistralAI/MistralAI_Streaming_Function_Calling.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_streaming_function_call_response.txt
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_streaming_function_called_response.txt
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/function_call_response.json
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatCompletionChoice.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatCompletionChunk.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatMessage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralFunction.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralParameters.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralToolCall.cs
Labels: .NET, kernel

#5911 .Net: Add support for making open api operation metadata and extension metadata available at function invocation time
  dotnet/samples/KernelSyntaxExamples/Example23_OpenAPIPlugin.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/OpenApiKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV2_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_1.yaml
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionMetadata.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethodOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests2.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionMetadataTests.cs
Labels: .NET, kernel, kernel.core

#5941 .Net: Fixes HuggingFace text generation support
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/HuggingFacePromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceStreamingTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/TextGenerationRequest.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFacePromptExecutionSettings.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/TextGeneration/HuggingFaceTextGenerationTests.cs
Labels: .NET, kernel

#5947 Python: drop support for python before 3.10
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-lint.yml
  .github/workflows/python-test-coverage.yml
  .github/workflows/python-unit-tests.yml
  python/poetry.lock
  python/pyproject.toml
Labels: python

#5929 .Net: Bump to version 1.8.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#5956 .Net: Moved Onnx tests to integration tests
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/BertOnnxOptionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Onnx/BertOnnxTextEmbeddingGenerationServiceTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel

#5921 Python: (Astra DB) Include caller identity as user-agent when issuing HTTP request to Astra DB's Data API
  python/.env.example
  python/semantic_kernel/connectors/memory/astradb/astra_client.py
  python/tests/integration/connectors/memory/test_astradb.py
Labels: python, memory

#5951 .Net: Update the package icon to use the Semantic Kernel logo
  dotnet/nuget/icon.png
Labels: .NET

#5938 .Net: Cleanup tokenizer examples
  dotnet/samples/KernelSyntaxExamples/Example55_TextChunker.cs
  dotnet/samples/KernelSyntaxExamples/Example81_TextEmbedding.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
Labels: .NET

#5831 .Net - Agents Fix: Chat Concurrency (Step #ANY)
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/Internal/BroadcastQueue.cs
  dotnet/src/Agents/UnitTests/AgentChatTests.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#5950 .Net: Baseline 1.8.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#5862 .Net: Fixed ReSharper/Rider errors to be compliant with dotnet formatting settings
  .editorconfig
  dotnet/SK-dotnet.sln.DotSettings
Labels: .NET

#5750 .Net: Google connector API version selection
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationFunctionCallingTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatStreamingFunctionCallingTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiCountingTokensTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/GoogleAI/GoogleAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/VertexAI/VertexAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiTokenCounterClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/GoogleAI/GoogleAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/VertexAI/VertexAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/GoogleAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/GoogleAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/GoogleAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/VertexAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/VertexAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/VertexAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Google/GoogleAIVersion.cs
  dotnet/src/Connectors/Connectors.Google/Services/GoogleAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Google/Services/GoogleAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Google/Services/VertexAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Google/Services/VertexAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Google/VertexAIVersion.cs
Labels: .NET, kernel

#5981 .Net: Integration tests improvements
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
Labels: .NET, kernel

#5983 Python: move Hugging Face tests to integration
  docs/decisions/0037-audio-naming.md
  python/semantic_kernel/connectors/ai/hugging_face/hf_prompt_execution_settings.py
  python/tests/integration/completions/test_hf_local_text_completions.py
  python/tests/unit/functions/test_kernel_function_decorators.py
Labels: python, documentation

#5962 Java: Fix required tool call being requested multiple times
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/RenderingTest.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
Labels: java

#5866 .Net: Support XML Tags in Chat Prompts
  docs/decisions/0040-set-plugin-name-in-metadata.md
  docs/decisions/0041-chat-prompt-xml-support.md
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step9_Safe_Chat_Prompts.cs
  dotnet/src/Extensions/Extensions.UnitTests/Extensions.UnitTests.csproj
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/Helpers/KernelSystemHelpersTests.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplateFactory.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelFunctionHelpers.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/PromptTemplates.Handlebars.csproj
  dotnet/src/SemanticKernel.Abstractions/AI/XmlPromptParser.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/InputVariable.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/ChatPromptParserTests.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/XmlPromptParserTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
Labels: .NET, kernel, kernel.core, documentation

#5984 Java: Ensure xml is unescaped before sending to LLM
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/XMLPromptParser.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/RenderingTest.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example17_ChatGPT.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
Labels: java

#5991 .Net: Version 1.9.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#5992 .Net: Flaky integration test disabled.
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
Labels: .NET, kernel

#5228 .Net: Azure CosmosDB Mongo vCore Memory Store Integration
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBConfig.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryRecordMetadata.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBSimilarityType.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBVectorSearchType.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/Connectors.Memory.AzureCosmosDBMongoDB.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryStoreTestsFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/DataHelper.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/testsettings.json
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmos_db_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/cosmosdb_utils.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/mongo_vcore_store_api.py
  python/tests/integration/connectors/memory/test_azure_cosmosdb_memory_store.py
Labels: .NET, python, kernel, memory

#5985 .Net add new projects for markdown function
  .github/_typos.toml
  dotnet/SK-dotnet.sln
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/PromptTemplates.Liquid.UnitTests.csproj
  dotnet/src/Extensions/PromptTemplates.Liquid/AssemblyInfo.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/PromptTemplates.Liquid.csproj
  dotnet/src/Functions/Functions.Prompty.UnitTests/Functions.Prompty.UnitTests.csproj
  dotnet/src/Functions/Functions.Prompty/AssemblyInfo.cs
  dotnet/src/Functions/Functions.Prompty/Functions.Prompty.csproj
Labels: .NET, kernel

#5996 .Net: Use automatic platform detection for unit tests
  dotnet/SK-dotnet.sln.DotSettings
Labels: .NET

#5987 .Net - Agent Samples Restructure
  dotnet/samples/Concepts/AgentSyntax/AgentSyntax.csproj
  dotnet/samples/Concepts/AgentSyntax/BaseTest.cs
  dotnet/samples/Concepts/AgentSyntax/Example11_OpenAIAssistant.cs
  dotnet/samples/Concepts/AgentSyntax/Getting_Started/Step1_Agent.cs
  dotnet/samples/Concepts/AgentSyntax/Getting_Started/Step2_Plugins.cs
  dotnet/samples/Concepts/AgentSyntax/Getting_Started/Step3_Chat.cs
  dotnet/samples/Concepts/AgentSyntax/MixedChat_Agents.cs
  dotnet/samples/Concepts/AgentSyntax/OpenAIAssistant_Agent.cs
  dotnet/samples/Concepts/AgentSyntax/OpenAIAssistant_ChartMaker.cs
  dotnet/samples/Concepts/AgentSyntax/OpenAIAssistant_CodeInterpreter.cs
  dotnet/samples/Concepts/AgentSyntax/OpenAIAssistant_Retrieval.cs
Labels: bug, PR: ready for review, .NET, agents

#5936 .Net: New API for Filters
  docs/decisions/0039-set-plugin-name-in-metadata.md
  docs/decisions/0040-chat-prompt-xml-support.md
  docs/decisions/0041-function-call-content.md
  docs/decisions/0042-samples-restructure.md
  docs/decisions/0043-filters-exception-handling.md
  dotnet/samples/GettingStarted/Step6_Responsible_AI.cs
  dotnet/samples/GettingStarted/Step7_Observability.cs
  dotnet/samples/KernelSyntaxExamples/Example76_Filters.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/AutoFunctionInvocationFilterTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/filters_multiple_function_calls_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/filters_streaming_multiple_function_calls_test_response.txt
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/AutoFunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/IAutoFunctionInvocationFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/IFunctionFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/IFunctionInvocationFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/IPromptFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/IPromptRenderFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionCanceledException.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/PromptRenderingResult.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/FilterBaseTest.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/FunctionInvocationFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/KernelFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/PromptRenderFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
  dotnet/src/SemanticKernel.UnitTests/TemplateEngine/Blocks/CodeBlockTests.cs
Labels: .NET, kernel, kernel.core, documentation

#6006 .Net - Enhance _OLD_ Agents Package for Function Calling Arguments
  dotnet/samples/KernelSyntaxExamples/Example70_Agents.cs
  dotnet/samples/KernelSyntaxExamples/Plugins/MenuPlugin.cs
  dotnet/src/Experimental/Agents/IAgentThread.cs
  dotnet/src/Experimental/Agents/Internal/ChatRun.cs
  dotnet/src/Experimental/Agents/Internal/ChatThread.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#6017 .Net: Deprecated unused filter context classes
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionFilterContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvokedContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvokingContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptFilterContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderedContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderingContext.cs
Labels: .NET, kernel.core

#6031 .Net: Version 1.10.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#5961 .Net: Markdown prompt support (without tool call support)
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/docs/EXPERIMENTS.md
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateFactoryTest.cs
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateTest.ItRenderChatTestAsync.verified.txt
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateTest.cs
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/PromptTemplates.Liquid.UnitTests.csproj
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/TestData/chat.txt
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplateFactory.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/PromptTemplates.Liquid.csproj
  dotnet/src/Functions/Functions.Prompty.UnitTests/Functions.Prompty.UnitTests.csproj
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTest.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chat.prompty
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModel.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModelConfig.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModelParameters.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyTool.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyYaml.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/ApiType.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/ModelType.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/ParserType.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/RoleType.cs
  dotnet/src/Functions/Functions.Prompty/Extensions/PromptyKernelExtensions.cs
  dotnet/src/Functions/Functions.Prompty/Functions.Prompty.csproj
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
Labels: .NET, kernel, documentation

#5988 .Net Restaurant Bookings Demo
  .github/workflows/markdown-link-check-config.json
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/BookingRestaurant/AppConfig.cs
  dotnet/samples/Demos/BookingRestaurant/Appointment.cs
  dotnet/samples/Demos/BookingRestaurant/BookingRestaurant.csproj
  dotnet/samples/Demos/BookingRestaurant/BookingsPlugin.cs
  dotnet/samples/Demos/BookingRestaurant/Program.cs
  dotnet/samples/Demos/BookingRestaurant/README.md
Labels: .NET, documentation

#6044 .Net: Agents - Getting Started Step4 Improvement: Cross Model
  dotnet/samples/Concepts/Agents/MixedChat_Agents.cs
  dotnet/samples/GettingStartedWithAgents/Step4_KernelFunctionStrategies.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#6020 Python: Fix typo in line to instantiate Kernel.
  python/README.md
Labels: python, documentation

#6056 .Net: Moved BookingRestaurant project to Demos folder in solution
  dotnet/SK-dotnet.sln
Labels: .NET

#6060 Java: Fix null warnings
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
Labels: java

#6046 .Net - Agents Fix: Capture Function-Calling Content (ChatCompletionAgent)
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#6029 .Net - Agent Aggregator / Complex Chat
  dotnet/samples/Concepts/Agents/ComplexChat_NestedShopper.cs
  dotnet/samples/Concepts/Agents/MixedChat_Agents.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Agent.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_ChartMaker.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_CodeInterpreter.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Retrieval.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/AggregatorAgent.cs
  dotnet/src/Agents/Abstractions/AggregatorChannel.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/UnitTests/AgentChatTests.cs
  dotnet/src/Agents/UnitTests/AggregatorAgentTests.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/JsonResultTranslator.cs
Labels: PR: ready for review, .NET, feature branch, agents

#6055 .Net - Agent DI Sample
  dotnet/samples/Concepts/DependencyInjection/Kernel_Injecting.cs
  dotnet/samples/GettingStartedWithAgents/Step5_JsonResult.cs
  dotnet/samples/GettingStartedWithAgents/Step6_DependencyInjection.cs
Labels: PR: ready for review, .NET, experimental, agents
