Repository microsoft/semantic-kernel, pull requests merged in 2024-07, with the labels that each got.

#7022 .Net: Copy AzureOpenAITextEmbeddingGenerationService to Connectors.AzureOpenAI project
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextEmbeddingGenerationService.cs
Labels: .NET, kernel

#7002 .Net: VectorStore: Add strongly typed properties for vector store exception metadata.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorRecordStore.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreErrorHandler.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/VectorStoreException.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/VectorStoreOperationException.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/VectorStoreRecordMappingException.cs
Labels: .NET, kernel, kernel.core, memory

#7024 .Net: AzureOpenAIChatCompletionService Functionality Cleanup
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIFunctionToolCallTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIStreamingTextContentTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIFunctionToolCall.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIStreamingTextContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.cs
  dotnet/src/IntegrationTestsV2/BaseIntegrationTest.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletionTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_NonStreamingTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_StreamingTests.cs
Labels: .NET, kernel

#6946 .Net Agents - Support single-agent / no-chat invocation of `OpenAIAssistantAgent`
  dotnet/samples/GettingStartedWithAgents/Step1_Agent.cs
  dotnet/samples/GettingStartedWithAgents/Step8_OpenAIAssistant.cs
  dotnet/src/Agents/OpenAI/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
Labels: PR: ready for review, .NET, enhancement, agents

#7030 .Net: Migrate AzureOpenAITextEmbeddingGenerationService to Azure AI SDK v2
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Connectors.AzureOpenAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/text-embeddings-multiple-response.txt
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/text-embeddings-response.txt
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextEmbeddingGenerationService.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAITextEmbeddingTests.cs
  dotnet/src/InternalUtilities/test/AssertExtensions.cs
Labels: .NET, kernel

#7048 .Net: Move AzureOpenAIChatCompletionService to the Services folder
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIChatCompletionService.cs
Labels: .NET, kernel

#7029 .Net: OpenAI V2 - Migrate Audio Services Phase 04
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/ClientResultExceptionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Connectors.OpenAIV2.UnitTests.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/KernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/ServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Settings/OpenAIAudioToTextExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Settings/OpenAITextToAudioExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.TextToAudio.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextEmbbedingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAIAudioToTextExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAITextToAudioExecutionSettings.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIAudioToTextTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAITextToAudioTests.cs
  dotnet/src/IntegrationTestsV2/TestData/test_audio.wav
  dotnet/src/InternalUtilities/openai/Extensions/ClientResultExceptionExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Extensions/ClientResultExceptionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/OpenAI/MockPipelineResponse.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/OpenAI/MockResponseHeaders.cs
Labels: .NET, kernel

#7051 Python: removed google palm
  python/.env.example
  python/poetry.lock
  python/pyproject.toml
  python/samples/concepts/memory/google_palm_chat_with_memory.py
  python/samples/concepts/plugins/google_palm_chat_with_plugin.py
  python/samples/concepts/text_generation/google_palm_text_completion.py
  python/semantic_kernel/connectors/ai/google_palm/__init__.py
  python/semantic_kernel/connectors/ai/google_palm/gp_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/google_palm/services/__init__.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_embedding.py
  python/semantic_kernel/connectors/ai/google_palm/settings/__init__.py
  python/semantic_kernel/connectors/ai/google_palm/settings/google_palm_settings.py
  python/tests/conftest.py
  python/tests/integration/completions/conftest.py
  python/tests/integration/completions/test_gp_chat_service.py
  python/tests/integration/completions/test_gp_text_service.py
  python/tests/integration/embeddings/test_gp_embedding_service.py
  python/tests/samples/samples_utils.py
  python/tests/samples/test_concepts.py
  python/tests/samples/test_learn_resources.py
  python/tests/unit/connectors/google_palm/services/test_palm_chat_completion.py
  python/tests/unit/connectors/google_palm/services/test_palm_text_completion.py
  python/tests/unit/connectors/google_palm/services/test_palm_text_embedding.py
Labels: python

#7033 .Net: Added cancellation token to filter context types
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/AutoFunctionInvocationFilterTests.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/AutoFunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/FunctionInvocationFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/PromptRenderFilterTests.cs
Labels: .NET, kernel, kernel.core

#7050 Python: Coverage configs
  python/.coveragerc
  python/mypy.ini
  python/tests/integration/completions/test_azure_oai_text_service.py
  python/tests/integration/completions/test_hf_local_text_completions.py
  python/tests/integration/completions/test_oai_text_service.py
  python/tests/integration/completions/test_text_completion.py
Labels: python

#7059 .Net Ollama Connector with Ollama Sharp Client Update
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Connectors.Ollama.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/HttpMessageHandlerStub.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaTestHelper.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_test_response.txt
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_test_response_stream.txt
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/embeddings_test_response.json
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/text_generation_test_response.txt
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/text_generation_test_response_stream.txt
  dotnet/src/Connectors/Connectors.Ollama/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Ollama/Connectors.Ollama.csproj
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaChatResponseStreamer.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/ServiceBase.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaMetadata.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextGenerationService.cs
Labels: .NET, kernel

#7028 .Net: VectorStore: Add custom serialization options / naming support.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorRecordStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorRecordStoreOptions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/RecordAttributes/VectorStoreRecordDataAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/RecordAttributes/VectorStoreRecordKeyAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/RecordAttributes/VectorStoreRecordVectorAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/RecordDefinition/VectorStoreRecordProperty.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, kernel.core, memory

#7060 .Net: Split ClientCore class
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.Embeddings.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextEmbeddingGenerationService.cs
Labels: .NET, kernel

#6999 .Net: update Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
Labels: .NET, kernel.core

#7073 .Net: Tidying up AzureOpenAIChatCompletionService
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIChatCompletionService.cs
Labels: .NET, kernel

#7074 .Net: Remove exception utility duplicate
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.AzureOpenAI/ClientResultExceptionExtensions.cs
Labels: .NET, kernel

#7063 .Net: Fix milvus search metric type bug.
  dotnet/src/Connectors/Connectors.Memory.Milvus/MilvusMemoryStore.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Milvus/MilvusMemoryStoreTests.cs
Labels: .NET, kernel, memory

#7081 .Net: VectorStore: Moving all vector store interfaces to data folder and namespace.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorRecordStoreTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorRecordStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecordStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapperOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorRecordStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorRecordStoreTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorRecordStoreTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreRecordMapperTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorRecordStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorRecordStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorRecordStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreErrorHandler.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorRecordStore.cs
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStoreRecordMapper.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordDataAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordKeyAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordVectorAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordDataProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordDefinition.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordKeyProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordVectorProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/DeleteRecordOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/GetRecordOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/UpsertRecordOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/StorageToDataModelMapperOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStoreException.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStoreOperationException.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStoreRecordMappingException.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, kernel.core, memory

#7067 .Net: Gemini added support of system messages and removed messages order limitation
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiVision.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiChatCompletionTests.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#7089 .Net: Version 1.15.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#6917 .Net: Sample showing model thought process for each function call
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ReasonedFunctionCalling.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_RepeatedFunctionCalling.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: .NET, documentation

#7093 .Net: Migrate AzureOpenAITextToImageService to Azure.AI.OpenAI v2
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Connectors.AzureOpenAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/text-to-image-response.txt
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.Embeddings.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.TextToImage.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToImageService.cs
Labels: .NET, kernel

#7076 .Net: OpenAI V2 - Migrated FileService - Phase 05
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/KernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/OpenAIFileUploadExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/ServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIFileServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Connectors.OpenAIV2.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.File.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Models/OpenAIFilePurpose.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Models/OpenAIFileReference.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIFileService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextEmbbedingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAIFileUploadExecutionSettings.cs
Labels: .NET, kernel

#7070 Python: Update sessions python plugin to work with the correct endpoints
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_settings.py
  python/tests/unit/core_plugins/test_sessions_python_plugin.py
Labels: python

#7049 Python: #6499 Mistral AI Chat Completion
  .github/workflows/python-integration-tests.yml
  python/poetry.lock
  python/pyproject.toml
  python/samples/concepts/chat_completion/chat_mistral_api.py
  python/semantic_kernel/connectors/ai/mistral_ai/__init__.py
  python/semantic_kernel/connectors/ai/mistral_ai/prompt_execution_settings/__init__.py
  python/semantic_kernel/connectors/ai/mistral_ai/prompt_execution_settings/mistral_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/__init__.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/mistral_ai/settings/__init__.py
  python/semantic_kernel/connectors/ai/mistral_ai/settings/mistral_ai_settings.py
  python/tests/conftest.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/unit/connectors/mistral_ai/services/test_mistralai_chat_completion.py
  python/tests/unit/connectors/mistral_ai/test_mistralai_request_settings.py
Labels: python

#7099 .Net: Copy AzureOpenAITextToAudioService related code to AzureOpenAI project
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.TextToAudio.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToAudioService.cs
Labels: .NET, kernel

#7098 .Net: Allow custom serialization options to be passed to TextMemoryPlugin.
  dotnet/samples/Concepts/Memory/TextMemoryPlugin_RecallJsonSerializationWithOptions.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Plugins/Plugins.Memory/TextMemoryPlugin.cs
Labels: .NET, documentation

#7107 .Net: Clean-up
  docs/decisions/0046-kernel-content-graduation.md
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIFileService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextEmbbedingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToAudioService.cs
Labels: .NET, kernel, documentation

#7112 .Net: Prepare AzureOpenAIAudioToTextService for migration to the Azure.AI.OpenAI SDK V2
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIAudioToTextService.cs
Labels: .NET, kernel

#7113 ADR Bug - Fixed typo in ADR
  docs/decisions/0046-kernel-content-graduation.md
Labels: bug, PR: ready for review, documentation

#7102 .Net: Migrate AzureOpenAITextToAudioService to Azure.AI.OpenAI SDK v2
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.TextToAudio.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAITextToAudioExecutionSettings.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAITextToAudioTests.cs
Labels: .NET, kernel

#6973 Python: Verify local models in Ollama and LM Studio are compatible with the OpenAI connector
  .github/workflows/python-samples-tests.yml
  python/samples/concepts/README.md
  python/samples/concepts/local_models/lm_studio_chat_completion.py
  python/samples/concepts/local_models/lm_studio_text_embedding.py
  python/samples/concepts/local_models/ollama_chat_completion.py
  python/samples/concepts/plugins/openai_plugin_azure_key_vault.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/settings/open_ai_settings.py
  python/tests/samples/samples_utils.py
  python/tests/samples/test_concepts.py
  python/tests/samples/test_learn_resources.py
Labels: python, documentation

#7109 .Net: Adding volatile vector record store implementation.
  docs/decisions/0046-kernel-content-graduation.md
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorRecordStore.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorRecordStoreOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorRecordStoreTests.cs
Labels: .NET, kernel, documentation

#7139 Python: slight mypy ini update
  python/mypy.ini
Labels: python

#7130 .Net: Migrate AzureOpenAIAudioToTextService to Azure.AI.OpenAI SDK v2
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIAudioToTextExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAITextToAudioExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIAudioToTextExecutionSettings.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIAudioToTextTests.cs
Labels: .NET, kernel

#7004 .Net: Filters graduation
  README.md
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/Concepts/Optimization/FrugalGPTWithFilters.cs
  dotnet/samples/Concepts/Optimization/PluginSelectionWithFilters.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/IFunctionInvocationFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/IPromptRenderFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderContext.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
Labels: .NET, kernel.core, documentation

#7141 .Net: OpenAI V2 - Audio to Text - Response Format as Enum conversion for format
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Settings/OpenAIAudioToTextExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAIAudioToTextExecutionSettings.cs
Labels: .NET, kernel

#7140 .Net: AzureOpenAI services cleanup
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.Embeddings.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.TextToAudio.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.TextToImage.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
Labels: .NET, kernel

#7119 .Net: Include request data when operation is cancelled
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/IntegrationTests/Plugins/OpenApi/RepairServiceTests.cs
Labels: .NET, kernel

#7148 .Net: Copy OpenAI file service to the Connectors.AzureOpenAI project
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.File.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Model/AzureOpenAIFilePurpose.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Model/AzureOpenAIFileReference.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIFileService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIFileUploadExecutionSettings.cs
Labels: .NET, kernel

#7153 Python: Turn on mypy for OpenAPI plugins. Increase code coverage.
  python/mypy.ini
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_expected_response.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_run_options.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_manager.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_parser.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_runner.py
  python/tests/unit/connectors/openapi/test_openapi_manager.py
  python/tests/unit/connectors/openapi/test_openapi_parser.py
  python/tests/unit/connectors/openapi/test_openapi_runner.py
  python/tests/unit/connectors/openapi/test_rest_api_operation_run_options.py
  python/tests/unit/connectors/openapi/test_rest_api_uri.py
  python/tests/unit/connectors/openapi/test_sk_openapi.py
Labels: python

#7138 .Net: OpenAI V2 Connector - ChatCompletion + FC - Phase 06
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Connectors.OpenAIV2.UnitTests.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/AutoFunctionInvocationFilterTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/OpenAIChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/OpenAIFunctionTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/OpenAIFunctionToolCallTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/OpenAIWithDataStreamingChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/ChatHistoryExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/KernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/OpenAIPluginCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/ServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Models/OpenAIFileReferenceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIFileServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/chat_completion_invalid_streaming_test_response.txt
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/chat_completion_multiple_function_calls_test_response.json
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/chat_completion_single_function_call_test_response.json
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/chat_completion_streaming_multiple_function_calls_test_response.txt
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/chat_completion_streaming_single_function_call_test_response.txt
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/chat_completion_streaming_test_response.txt
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/chat_completion_test_response.json
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/chat_completion_with_data_streaming_test_response.txt
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/chat_completion_with_data_test_response.json
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/filters_multiple_function_calls_test_response.json
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/filters_streaming_multiple_function_calls_test_response.txt
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/ToolCallBehaviorTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Connectors.OpenAIV2.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/OpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/OpenAIFunctionToolCall.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/OpenAIStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/ToolCallBehavior.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIChatCompletionTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIChatCompletion_NonStreamingTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIChatCompletion_StreamingTests.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET, kernel

#7163 Python: Enable mypy for connector utils and search connectors. Improve code quality.
  python/mypy.ini
  python/semantic_kernel/connectors/search_engine/bing_connector.py
  python/semantic_kernel/connectors/search_engine/bing_connector_settings.py
  python/semantic_kernel/connectors/search_engine/google_connector.py
  python/semantic_kernel/connectors/search_engine/google_search_settings.py
  python/semantic_kernel/connectors/utils/document_loader.py
  python/tests/conftest.py
  python/tests/unit/connectors/search_engine/test_bing_search_connector.py
  python/tests/unit/connectors/search_engine/test_google_search_connector.py
  python/tests/unit/connectors/utils/test_document_loader.py
Labels: python

#7154 Python: Turn on mypy for function choice behavior. Improve test coverage.
  python/mypy.ini
  python/semantic_kernel/connectors/ai/function_choice_behavior.py
  python/tests/unit/connectors/test_function_choice_behavior.py
Labels: python

#7035 Python: Azure AI Inference Function Calling
  python/semantic_kernel/connectors/ai/azure_ai_inference/azure_ai_inference_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/utils.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
Labels: python

#7177 Python: Bump Python project version to 1.2.0 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#7176 Python: Enable mypy for the HuggingFace connectors. Increase unit test code coverage.
  python/mypy.ini
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/tests/unit/connectors/hugging_face/test_hf_text_completions.py
  python/tests/unit/connectors/hugging_face/test_hf_text_embedding.py
Labels: python

#7180 Python: Bump ruff to 0.5.1
  .pre-commit-config.yaml
  python/poetry.lock
  python/pyproject.toml
Labels: python

#7178 .Net: Switching all vector record store instances to be tied to a single collection
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorRecordStoreTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorRecordStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecordStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorRecordStoreOptions.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorRecordStoreTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorRecordStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorRecordStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorRecordStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorRecordStoreTests.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/DeleteRecordOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/GetRecordOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/UpsertRecordOptions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorRecordStore.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorRecordStoreOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorRecordStoreTests.cs
Labels: .NET, kernel, kernel.core, memory

#7185 .Net: Upgrade the System.Text.Json package to the patched version 8.0.4
  dotnet/Directory.Packages.props
Labels: .NET

#7187 Python: Small docstring fix
  python/semantic_kernel/functions/kernel_function_extension.py
Labels: python

#7184 .Net: OpenAI V2 - FileService Obsolescence
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/KernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/OpenAIFileUploadExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/ServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Models/OpenAIFileReferenceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIFileServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.File.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Models/OpenAIFilePurpose.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Models/OpenAIFileReference.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIFileService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAIFileUploadExecutionSettings.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIFileServiceTests.cs
  dotnet/src/IntegrationTestsV2/IntegrationTestsV2.csproj
  dotnet/src/IntegrationTestsV2/TestData/test_content.txt
  dotnet/src/IntegrationTestsV2/TestData/test_image_001.jpg
Labels: .NET, kernel

#7144 Python: mypy and tests for OpenAI
  python/mypy.ini
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/embeddings/embedding_generator_base.py
  python/semantic_kernel/connectors/ai/open_ai/exceptions/content_filter_ai_exception.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding_base.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/semantic_kernel/contents/streaming_text_content.py
  python/semantic_kernel/contents/text_content.py
  python/semantic_kernel/services/ai_service_client_base.py
  python/semantic_kernel/services/ai_service_selector.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
  python/tests/unit/connectors/open_ai/services/test_openai_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_openai_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_openai_text_embedding.py
  python/tests/unit/connectors/open_ai/test_openai_request_settings.py
  python/tests/unit/core_plugins/test_conversation_summary_plugin_unit.py
Labels: python

#7105 Python: allow more options for FunctionCallContent constructor
  .github/workflows/python-test-coverage.yml
  .github/workflows/python-unit-tests.yml
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/function_call_content.py
  python/semantic_kernel/contents/function_result_content.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/semantic_kernel/contents/text_content.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/unit/contents/test_chat_message_content.py
  python/tests/unit/contents/test_function_call.py
  python/tests/unit/contents/test_function_result_content.py
  python/tests/unit/contents/test_streaming_chat_message_content.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#7203 .Net: OpenAI V2 - Reverting all avoidable Breaking Changes - Phase 08
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/KernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/ServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextEmbbedingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToImageService.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAITextToImageTests.cs
Labels: .NET, kernel

#7205 .Net: OpenAI V2 Removing LogActivity Extra Implementation
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToImageService.cs
Labels: .NET, kernel

#7204 Python: add experimental unit tests for python 3.13
  .github/workflows/python-test-coverage.yml
  .github/workflows/python-unit-tests.yml
  python/semantic_kernel/connectors/ai/prompt_execution_settings.py
  python/tests/unit/connectors/test_prompt_execution_settings.py
Labels: python

#7199 .Net Agent - Cosmetic Sample Updates
  dotnet/samples/Concepts/Agents/ComplexChat_NestedShopper.cs
  dotnet/samples/Concepts/Agents/MixedChat_Agents.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_ChartMaker.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_CodeInterpreter.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_FileManipulation.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Retrieval.cs
  dotnet/samples/GettingStartedWithAgents/Step1_Agent.cs
  dotnet/samples/GettingStartedWithAgents/Step2_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/Step3_Chat.cs
  dotnet/samples/GettingStartedWithAgents/Step4_KernelFunctionStrategies.cs
  dotnet/samples/GettingStartedWithAgents/Step5_JsonResult.cs
  dotnet/samples/GettingStartedWithAgents/Step6_DependencyInjection.cs
  dotnet/samples/GettingStartedWithAgents/Step7_Logging.cs
  dotnet/samples/GettingStartedWithAgents/Step8_OpenAIAssistant.cs
Labels: PR: ready for review, .NET, experimental, enhancement, agents

#7207 .Net: Align metadata names with underlying library ones
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.ChatCompletion.cs
Labels: .NET, kernel

#7116 Python: Introduce the single, non-group chat completion agent
  python/samples/concepts/README.md
  python/samples/concepts/agents/README.md
  python/samples/concepts/agents/step1_agent.py
  python/samples/concepts/agents/step2_plugins.py
  python/semantic_kernel/agents/__init__.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/agent_channel.py
  python/semantic_kernel/agents/chat_completion_agent.py
  python/semantic_kernel/agents/chat_history_channel.py
  python/tests/samples/test_concepts.py
  python/tests/unit/agents/test_agent.py
  python/tests/unit/agents/test_agent_channel.py
  python/tests/unit/agents/test_chat_completion_agent.py
  python/tests/unit/agents/test_chat_history_channel.py
Labels: python, agents, documentation

#7211 Python: Increase unit test coverage
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/tests/unit/connectors/openai_plugin/test_openai_plugin.py
  python/tests/unit/connectors/openapi/test_openapi_manager.py
  python/tests/unit/core_plugins/test_sessions_python_plugin.py
  python/tests/unit/functions/test_function_result.py
  python/tests/unit/functions/test_kernel_function_from_method.py
  python/tests/unit/kernel/test_kernel.py
  python/tests/unit/services/test_service_utils.py
  python/tests/unit/utils/test_chat.py
  python/tests/unit/utils/test_logging.py
Labels: python

#7202 Python: added singular get methods
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/embeddings/embedding_generator_base.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding_base.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/tests/unit/connectors/open_ai/services/test_openai_text_embedding.py
Labels: python

#7182 Python : CQ MyPy Fix for MistralAI Connector
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_chat_completion.py
  python/tests/unit/connectors/mistral_ai/services/test_mistralai_chat_completion.py
Labels: python

#7069 .Net Agents - Add dynamic logging methods
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/AggregatorAgent.cs
  dotnet/src/Agents/Abstractions/Logging/AgentChatLogMessages.cs
  dotnet/src/Agents/Abstractions/Logging/AggregatorAgentLogMessages.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/Chat/AggregatorTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/RegExTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/SequentialSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/TerminationStrategy.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/Logging/AgentGroupChatLogMessages.cs
  dotnet/src/Agents/Core/Logging/AggregatorTerminationStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/ChatCompletionAgentLogMessages.cs
  dotnet/src/Agents/Core/Logging/KernelFunctionSelectionStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/KernelFunctionTerminationStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/RegExTerminationStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/SequentialSelectionStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/TerminationStrategyLogMessages.cs
  dotnet/src/Agents/OpenAI/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/Logging/AssistantThreadActionsLogMessages.cs
  dotnet/src/Agents/OpenAI/Logging/OpenAIAssistantAgentLogMessages.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
Labels: PR: ready for review, .NET, enhancement, agents

#7222 .Net: Rollback unnecessary breaking change
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIAudioToTextExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIAudioToTextExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Settings/OpenAIAudioToTextExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAIAudioToTextExecutionSettings.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletionTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_NonStreamingTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIChatCompletionTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIChatCompletion_NonStreamingTests.cs
Labels: .NET, kernel

#7229 .Net: Preparing grounds for Concepts OpenAI V2 migration
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/ConceptsV2/ConceptsV2.csproj
Labels: .NET

#7235 .Net: Remove unnecessary breaking changes
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/OpenAIChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/OpenAIPluginCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/OpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIPluginCollectionExtensions.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIChatCompletion_FunctionCallingTests.cs
Labels: .NET, kernel

#7223 Python: added tests for singular and small fix to code coverage
  .github/workflows/merge-gatekeeper.yml
  .github/workflows/python-test-coverage.yml
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
  python/tests/unit/connectors/open_ai/services/test_openai_text_completion.py
Labels: python

#7212 .Net: Ollama Connector : Added metadata, integration tests + more adjustments
  docs/decisions/0046-kernel-content-graduation.md
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Connectors.Ollama.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Ollama/Core/ServiceBase.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaMetadata.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaTextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaTextGenerationTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/TestSettings/OllamaConfiguration.cs
Labels: .NET, kernel, documentation

#7217 Python: Azure AI Inference connector code quality improvement
  python/mypy.ini
  python/semantic_kernel/connectors/ai/azure_ai_inference/azure_ai_inference_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_text_embedding.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/utils.py
  python/tests/unit/connectors/azure_ai_inference/conftest.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_chat_completion.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_text_embedding.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_utils.py
Labels: python

#7181 .Net: Use Arrays instead of Lists for DuckDB
  dotnet/samples/Concepts/Memory/TextMemoryPlugin_MultipleMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.DuckDB/Database.cs
  dotnet/src/Connectors/Connectors.Memory.DuckDB/DuckDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/DuckDB/DuckDBMemoryStoreTests.cs
Labels: .NET, kernel, memory

#7210 .Net: Improve support for enumerable types and remove complex object support from azure ai search.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorRecordStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, memory

#7236 .Net Remove Azure* redundant function calling classes
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/AzureOpenAIToolCallBehaviorTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIFunctionToolCallTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIPluginCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/ChatHistoryExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/FunctionCalling/AutoFunctionInvocationFilterTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/FunctionCalling/AzureOpenAIFunctionTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/FunctionCalling/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/AzureOpenAIToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIFunction.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIFunctionToolCall.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Connectors.OpenAIV2.csproj
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_FunctionCallingTests.cs
Labels: .NET, kernel

#7259 .Net: Remove unnecessary azure chat message content classes
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_FunctionCallingTests.cs
Labels: .NET, kernel

#7261 .Net: Rename VectorRecordStore to VetorStoreRecordCollection
  docs/decisions/0045-updated-vector-store-design.md
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchRecordMapperType.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantRecordMapperType.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisRecordMapperType.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreRecordCollectionTests.cs
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/DeleteRecordOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/GetRecordOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/UpsertRecordOptions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollectionOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, kernel.core, documentation, memory

#7258 .Net: Create KernelPlugin from Open API without Kernel instance
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Plugins/CreatePluginFromOpenApiSpec_RepairService.cs
  dotnet/samples/Concepts/README.md
  dotnet/samples/Concepts/Resources/Plugins/RepairServicePlugin/repair-service.json
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIAudioToTextTests.cs
  dotnet/src/IntegrationTests/Plugins/OpenApi/OpenApiPluginsTests.cs
  dotnet/src/IntegrationTests/Plugins/OpenApi/RepairServiceTests.cs
Labels: .NET, kernel, documentation

#7230 .Net: Pinecone RemoveBatchFromNamespaceAsync method performance optimization
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeMemoryStoreTests.cs
Labels: .NET, kernel, memory

#7252 .Net: DuckDBMemoryStore RemoveBatchAsync method performance improvement
  dotnet/src/Connectors/Connectors.Memory.DuckDB/Database.cs
  dotnet/src/Connectors/Connectors.Memory.DuckDB/DuckDBMemoryStore.cs
Labels: .NET, kernel, memory

#7265 .Net: Minimize *prompt execution settings duplication
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIAudioToTextExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAITextToAudioExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.TextToAudio.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIAudioToTextExecutionSettings.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAITextToAudioExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAITextToAudioExecutionSettings.cs
Labels: .NET, kernel, ai connector

#7266 .Net: Cleanup
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAIAudioToTextExecutionSettings.cs
Labels: .NET, kernel

#7264 .Net: Using OpenAPI description as default plugin description
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiInfo.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiSpecification.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/IOpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
Labels: .NET

#7262 .Net: Adding collectionName, exists and delete to collection interface
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/MockableQdrantClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreRecordCollectionTests.cs
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, kernel.core, memory

#7256 .Net: Sample showing function calling using NexusRaven
  dotnet/samples/Concepts/FunctionCalling/NexusRaven_FunctionCalling.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/ChatCompletionRequest.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/TextGenerationRequest.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFacePromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceChatCompletionService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceImageToTextService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceTextGenerationService.cs
Labels: .NET, kernel, documentation

#7287 .Net: Adding Azure AI Search CollectionCreate
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordDataAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordVectorAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/DistanceFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/IndexKind.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordDataProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordVectorProperty.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, kernel.core, memory

#7233 .Net: OpenAI V2 - Concepts Migration - Phase 2.0
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/DependencyInjection/Kernel_Injecting.cs
  dotnet/samples/Concepts/Functions/FunctionResult_StronglyTyped.cs
  dotnet/samples/Concepts/Memory/TextChunkingAndEmbedding.cs
  dotnet/samples/Concepts/Memory/TextMemoryPlugin_RecallJsonSerializationWithOptions.cs
  dotnet/samples/LearnResources/LearnResources.csproj
  dotnet/samples/LearnResources/MicrosoftLearn/AIServices.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIMemoryBuilderExtensions.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/Planners/Planners.OpenAI/Planners.OpenAI.csproj
Labels: .NET, kernel

#7165 Python: Migrate to Ollama Python SDK
  .github/workflows/python-integration-tests.yml
  python/mypy.ini
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/ollama/ollama_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/ollama/ollama_settings.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_base.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_embedding.py
  python/semantic_kernel/connectors/ai/ollama/utils.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding_base.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/samples/test_concepts.py
  python/tests/unit/connectors/ollama/conftest.py
  python/tests/unit/connectors/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/connectors/ollama/services/test_ollama_text_completion.py
  python/tests/unit/connectors/ollama/services/test_ollama_text_embedding.py
Labels: python, ai connector

#7305 .Net: Chat history serialization test + bug fix
  .github/_typos.toml
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.ChatCompletion.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAIChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTestsV2/TestData/serializedChatHistoryV1_15_1.json
Labels: .NET, kernel

#7315 .Net: Add redis collection create support.
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#7318 .Net: Add CreateCollection to Volatile vectorstore and abstraction
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, kernel.core

#7216 .Net Agents - Agent History Propagation
  dotnet/samples/Concepts/Agents/ChatCompletion_FunctionTermination.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_Streaming.cs
  dotnet/src/Agents/Abstractions/AgentChannel.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/AggregatorChannel.cs
  dotnet/src/Agents/Abstractions/ChatHistoryChannel.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
  dotnet/src/Agents/UnitTests/AgentChannelTests.cs
  dotnet/src/Agents/UnitTests/Internal/BroadcastQueueTests.cs
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
Labels: PR: ready for review, .NET, kernel, experimental, enhancement, agents

#7046 .Net: Added example of Plan generation and execution using Auto Function Calling
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/Planners/AutoFunctionCallingPlanning.cs
  dotnet/samples/Concepts/README.md
  dotnet/samples/Demos/StepwisePlannerMigration/Controllers/AutoFunctionCallingController.cs
  dotnet/samples/Demos/StepwisePlannerMigration/Controllers/StepwisePlannerController.cs
  dotnet/samples/Demos/StepwisePlannerMigration/Extensions/ConfigurationExtensions.cs
  dotnet/samples/Demos/StepwisePlannerMigration/Models/PlanRequest.cs
  dotnet/samples/Demos/StepwisePlannerMigration/Options/OpenAIOptions.cs
  dotnet/samples/Demos/StepwisePlannerMigration/Plugins/TimePlugin.cs
  dotnet/samples/Demos/StepwisePlannerMigration/Plugins/WeatherPlugin.cs
  dotnet/samples/Demos/StepwisePlannerMigration/Program.cs
  dotnet/samples/Demos/StepwisePlannerMigration/README.md
  dotnet/samples/Demos/StepwisePlannerMigration/Resources/auto-function-calling-plan.json
  dotnet/samples/Demos/StepwisePlannerMigration/Resources/stepwise-plan.json
  dotnet/samples/Demos/StepwisePlannerMigration/Services/IPlanProvider.cs
  dotnet/samples/Demos/StepwisePlannerMigration/Services/PlanProvider.cs
  dotnet/samples/Demos/StepwisePlannerMigration/StepwisePlannerMigration.csproj
  dotnet/samples/Demos/StepwisePlannerMigration/StepwisePlannerMigration.http
  dotnet/samples/Demos/StepwisePlannerMigration/appsettings.json
Labels: .NET, documentation

#7332 .Net: Add IVectorStore interface and Volatile implementation
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStore.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordDataAttribute.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStore.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreTests.cs
Labels: .NET, kernel, kernel.core

#7299 Python: MaaS sample with MMLU
  python/samples/concepts/README.md
  python/samples/concepts/model_as_a_service/README.md
  python/samples/concepts/model_as_a_service/helpers.py
  python/samples/concepts/model_as_a_service/mmlu_model_eval.py
Labels: python, documentation

#7334 .Net: Refactor samples to use new {Azure}OpenAI connectors
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAIWithData_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryAuthorName.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionMultipleChoices.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreamingMultipleChoices.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_CustomAzureOpenAIClient.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Planners/AutoFunctionCallingPlanning.cs
  dotnet/samples/Concepts/TextGeneration/OpenAI_TextGenerationStreaming.cs
  dotnet/samples/Demos/StepwisePlannerMigration/StepwisePlannerMigration.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.TextToImage.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToImageService.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAITextToImageTests.cs
Labels: .NET, kernel

#7338 Python: fix for kernel function type_object when not using Annotations. Add more unit tests.
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/tests/conftest.py
  python/tests/unit/functions/test_kernel_function_decorators.py
  python/tests/unit/functions/test_kernel_function_from_method.py
  python/tests/unit/kernel/test_kernel.py
  python/tests/unit/planners/function_calling_stepwise_planner/test_function_calling_stepwise_planner.py
  python/tests/unit/planners/test_planner_extensions.py
Labels: python

#7335 .Net: Adding VectorStore for Azure AI Search.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/IAzureAISearchVectorStoreRecordCollectionFactory.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreTests.cs
Labels: .NET, kernel, memory

#7337 .Net: Test execution settings compatibility
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Settings/OpenAIPromptExecutionSettings.cs
Labels: .NET, kernel

#7345 .Net: Adding VectorStore for Redis.
  dotnet/src/Connectors/Connectors.Memory.Redis/IRedisVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreTests.cs
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStoreRecordCollection.cs
Labels: .NET, kernel, kernel.core, memory

#7353 .Net: Migrate remaining samples to new {Azure}OpenAI services
  dotnet/samples/Concepts/Agents/ComplexChat_NestedShopper.cs
  dotnet/samples/Concepts/Agents/Legacy_AgentCharts.cs
  dotnet/samples/Concepts/Agents/Legacy_AgentTools.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_FileManipulation.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_FileService.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Retrieval.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/src/Experimental/Agents/Experimental.Agents.csproj
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.cs
Labels: .NET, ai connector

#7354 .Net: Adding a VectorStore implementation for Qdrant
  dotnet/src/Connectors/Connectors.Memory.Qdrant/IQdrantVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreTests.cs
Labels: .NET, kernel, memory

#7341 Python: Add application ID for Azure AI Inference
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_text_embedding.py
  python/semantic_kernel/connectors/telemetry.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_chat_completion.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_text_embedding.py
  python/tests/unit/telemetry/test_user_agent.py
Labels: python

#7356 .Net: Remove mapper type option and default redis prefixing to true.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchRecordMapperType.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantRecordMapperType.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisRecordMapperType.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#7358 Python: Bump ruff from 0.5.1 to 0.5.2
  .pre-commit-config.yaml
  python/poetry.lock
  python/pyproject.toml
Labels: python

#7385 .Net: Fix casting bug in VolatileVectorStore
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStore.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel

#7384 .Net: OpenAI V2 - Demos Migration
  dotnet/samples/Demos/BookingRestaurant/BookingRestaurant.csproj
  dotnet/samples/Demos/CodeInterpreterPlugin/CodeInterpreterPlugin.csproj
  dotnet/samples/Demos/ContentSafety/ContentSafety.csproj
  dotnet/samples/Demos/CreateChatGptPlugin/README.md
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/CreateChatGptPlugin.csproj
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/config/KernelBuilderExtensions.cs
  dotnet/samples/Demos/FunctionInvocationApproval/FunctionInvocationApproval.csproj
  dotnet/samples/Demos/HomeAutomation/HomeAutomation.csproj
  dotnet/samples/Demos/HomeAutomation/Options/AzureOpenAIOptions.cs
  dotnet/samples/Demos/HomeAutomation/Program.cs
  dotnet/samples/Demos/TelemetryWithAppInsights/TelemetryWithAppInsights.csproj
  dotnet/samples/Demos/TimePlugin/TimePlugin.csproj
Labels: .NET, documentation

#7366 Python: Notebook ServiceSettings needs the create method.
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
Labels: python

#7206 .Net: Sample showing how to transform a plugin
  dotnet/samples/Concepts/Plugins/TransformPlugin.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#7344 .Net: Handle missing operation id in OpenApi spec
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
Labels: .NET

#7386 .Net: Add basic KernelBuilder and ServiceCollection extensions for registering VectorStores.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisServiceCollectionExtensionsTests.cs
  dotnet/src/SemanticKernel.Core/Data/KernelBuilderExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/ServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/KernelBuilderExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/ServiceCollectionExtensionsTests.cs
Labels: .NET, kernel, memory

#7367 Python: Json schema improvements for Union and Optional
  python/samples/getting_started/00-getting-started.ipynb
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/const.py
  python/semantic_kernel/exceptions/function_exceptions.py
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/semantic_kernel/schema/kernel_json_schema_builder.py
  python/tests/integration/connectors/memory/test_postgres.py
  python/tests/unit/functions/test_kernel_parameter_metadata.py
  python/tests/unit/schema/test_schema_builder.py
  python/tests/unit/services/test_service_utils.py
Labels: python

#7408 Python: Bump Python version to 1.3.0 from 1.2.0 for a release.
  python/pyproject.toml
  python/samples/concepts/agents/README.md
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python, documentation

#6972 ADR Agents - `AgentChat` Serialization Design
  docs/decisions/0048-agent-chat-serialization.md
  docs/decisions/diagrams/agentchat-relationships.png
  docs/decisions/diagrams/agentchat-state.mmd
  docs/decisions/diagrams/agentchat-state.png
Labels: PR: ready for review, experimental, enhancement, agents, documentation

#7215 ADR Agents - Assistant V2 Support
  docs/decisions/0049-agents-assistantsV2.md
  docs/decisions/diagrams/assistant-agent.mmd
  docs/decisions/diagrams/assistant-agent.png
  docs/decisions/diagrams/assistant-definition.mmd
  docs/decisions/diagrams/assistant-definition.png
  docs/decisions/diagrams/assistant-invocationsettings.mmd
  docs/decisions/diagrams/assistant-invocationsettings.png
  docs/decisions/diagrams/assistant-serviceconfig.mmd
  docs/decisions/diagrams/assistant-serviceconfig.png
  docs/decisions/diagrams/assistant-threadcreationsettings.mmd
  docs/decisions/diagrams/assistant-threadcreationsettings.png
Labels: PR: ready for review, experimental, agents, documentation, api_proposal

#6518 .Net: Add GenAI support to Connectors.Onnx
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/OnnxExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/OnnxRuntimeGenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Onnx/Connectors.Onnx.csproj
  dotnet/src/Connectors/Connectors.Onnx/OnnxKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxServiceCollectionExtensions.cs
Labels: .NET, kernel

#7388 .Net: Add Data ingestion sample for VectorStore
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Memory/VectorStoreFixtures/VectorStoreInfra.cs
  dotnet/samples/Concepts/Memory/VectorStoreFixtures/VectorStoreQdrantContainerFixture.cs
  dotnet/samples/Concepts/Memory/VectorStoreFixtures/VectorStoreRedisContainerFixture.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion.cs
Labels: .NET

#7398 .Net: Added additional data to auto function invocation filter context
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/AutoFunctionInvocationFilterTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/filters_multiple_function_calls_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/filters_streaming_multiple_function_calls_test_response.txt
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/AutoFunctionInvocationContext.cs
Labels: .NET, kernel, kernel.core

#7413 .Net: Version1.16.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#7418 .Net: Remove log entry
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
Labels: .NET

#7411 .Net: Add missing experimental attributes and fix typos.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStore.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/DistanceFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/IndexKind.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/GetRecordOptions.cs
  dotnet/src/SemanticKernel.Core/Data/KernelBuilderExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/ServiceCollectionExtensions.cs
Labels: .NET, kernel, kernel.core, memory

#7127 .Net: dotnet Pinecone connector improvements: move to Pinecone.NET and new VectorRecordStore API
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Connectors.Memory.Pinecone.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/IPineconeVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionCreateMapping.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeAllTypes.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeUserSecretsExtensions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/ITestCondition.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeApiKeySetConditionAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeFactAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeFactDiscoverer.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeFactTestCase.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeTheoryAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeTheoryDiscoverer.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeTheoryTestCase.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/XunitTestCaseExtensions.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordVectorAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/DistanceFunction.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, kernel.core, memory

#7424 .Net: RedisJson rename, adr rename and AzureAISearch integration tests disable
  docs/decisions/0050-updated-vector-store-design.md
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, documentation, memory

#7427 .Net: Net: OpenAI v2 Reusability
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.Embeddings.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.TextToAudio.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.TextToImage.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.Embeddings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.TextToAudio.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.TextToImage.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextEmbbedingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToImageService.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET, kernel

#7425 .Net: using a more modern and compatible collation
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerClient.cs
Labels: .NET, kernel, memory

#7419 Python: Google AI Connector
  .github/workflows/python-integration-tests.yml
  python/.cspell.json
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_text_embedding.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/utils.py
  python/semantic_kernel/connectors/ai/google/__init__.py
  python/semantic_kernel/connectors/ai/google/google_ai/__init__.py
  python/semantic_kernel/connectors/ai/google/google_ai/google_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/google/google_ai/google_ai_settings.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/__init__.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_base.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_text_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/utils.py
  python/semantic_kernel/connectors/ai/ollama/__init__.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/integration/embeddings/test_azure_ai_inference_embedding_service.py
  python/tests/integration/embeddings/test_google_ai_embedding_service.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_text_embedding.py
  python/tests/unit/connectors/google/google_ai/conftest.py
  python/tests/unit/connectors/google/google_ai/services/test_google_ai_chat_completion.py
  python/tests/unit/connectors/google/google_ai/services/test_google_ai_text_completion.py
  python/tests/unit/connectors/google/google_ai/services/test_google_ai_text_embedding.py
  python/tests/unit/connectors/google/google_ai/services/test_google_ai_utils.py
Labels: python

#7417 .Net: Baseline 1.16.1
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel, kernel.core

#7428 .Net: Fix collection create field naming bug and add tests to cover scenario.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#7415 .Net Agents - Fix interoperability of assistant generated content
  dotnet/samples/Concepts/Agents/MixedChat_Files.cs
  dotnet/samples/Concepts/Agents/MixedChat_Images.cs
  dotnet/src/Agents/OpenAI/AssistantThreadActions.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#6914 Python: Add OpenTelemetry to Python SK
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_text_embedding.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/semantic_kernel/connectors/memory/astradb/astra_client.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_function_execution_parameters.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_runner.py
  python/semantic_kernel/connectors/utils/document_loader.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/utils/telemetry/__init__.py
  python/semantic_kernel/utils/telemetry/const.py
  python/semantic_kernel/utils/telemetry/decorators.py
  python/semantic_kernel/utils/telemetry/user_agent.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_chat_completion.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_text_embedding.py
  python/tests/unit/connectors/mistral_ai/services/test_mistralai_chat_completion.py
  python/tests/unit/connectors/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/connectors/ollama/services/test_ollama_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_completion.py
  python/tests/unit/connectors/utils/test_document_loader.py
  python/tests/unit/functions/test_kernel_plugins.py
  python/tests/unit/telemetry/test_user_agent.py
  python/tests/unit/utils/test_tracing.py
Labels: python, memory

#7285 .Net: Test with the LightPlugin
  dotnet/samples/Concepts/ChatCompletion/OpenAI_FunctionCalling.cs
Labels: .NET

#7450 .Net: Promote cancelled exception data to kernel function cancelled exception
  dotnet/src/IntegrationTests/Plugins/OpenApi/RepairServiceTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
Labels: .NET, kernel, kernel.core

#7458 .Net: VectorStore: Add DI extensions for Pinecone and reorder params for others.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeServiceCollectionExtensionsTests.cs
Labels: .NET, kernel, memory

#7068 Update README.md
  README.md
Labels: documentation

#7455 Python: Update MMLU sample so that it works with all Chat Completion services
  python/samples/concepts/model_as_a_service/mmlu_model_eval.py
Labels: python

#7407 Python: Persist user and assistant messages in chat history (concept sample)
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
Labels: python

#7471 .Net: OpenAI V2 Migration - Apply recommendations
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.Embeddings.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.TextToImage.cs
  dotnet/src/Connectors/Connectors.OpenAI/Extensions/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/Extensions/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/Services/OpenAITextEmbbedingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAI/Services/OpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAITextToAudioExecutionSettings.cs
  dotnet/src/InternalUtilities/openai/Extensions/ClientResultExceptionExtensions.cs
  dotnet/src/InternalUtilities/openai/Policies/GeneratedActionPipelinePolicy.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextToImage/ITextToImageService.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/OpenAI/MockPipelineResponse.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/OpenAI/MockResponseHeaders.cs
Labels: .NET, kernel, kernel.core

#7459 .Net: Removing embedding generation attributes and fixing cloning bug.
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordMapperTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordDataAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordDataProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordKeyProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordVectorProperty.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, kernel.core

#7524 .Net: Add a few improvements to data ingestion sample.
  dotnet/samples/Concepts/Memory/VectorStoreFixtures/VectorStoreQdrantContainerFixture.cs
  dotnet/samples/Concepts/Memory/VectorStoreFixtures/VectorStoreRedisContainerFixture.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion.cs
Labels: .NET

#7533 .Net: Fix bug where JsonSerializerOptions is not consistently used.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordMapperTests.cs
Labels: .NET, kernel, memory

#7529 .Net: Add support for any key type to the VolatileVectorStore.
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/IAzureAISearchVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/IPineconeVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/IQdrantVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/IRedisVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStore.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreTests.cs
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStore.cs
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStore.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollectionOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreTests.cs
Labels: .NET, kernel, kernel.core, memory

#5922 ADR - Agent Framework
  docs/decisions/0032-agents.md
  docs/decisions/diagrams/agent-abstractions.mmd
  docs/decisions/diagrams/agent-abstractions.png
  docs/decisions/diagrams/agent-aggregator.mmd
  docs/decisions/diagrams/agent-aggregator.png
  docs/decisions/diagrams/agent-analysis.png
  docs/decisions/diagrams/agent-assistant.mmd
  docs/decisions/diagrams/agent-assistant.png
  docs/decisions/diagrams/agent-chatcompletion.mmd
  docs/decisions/diagrams/agent-chatcompletion.png
  docs/decisions/diagrams/agent-design.mmd
  docs/decisions/diagrams/agent-design.png
  docs/decisions/diagrams/agent-groupchat.mmd
  docs/decisions/diagrams/agent-groupchat.png
  docs/decisions/diagrams/agent-pattern.png
Labels: experimental, agents, documentation

#7528 Python: serialize the result as string, consistent with behavior before 1.2
  python/semantic_kernel/contents/function_result_content.py
  python/tests/unit/contents/test_chat_history.py
  python/tests/unit/contents/test_function_result_content.py
Labels: python

#7545 .Net: Restricting property writability and renaming data model name property on VectorStoreRecordProperty
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordProperty.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, kernel.core, memory

#7541 .Net: Rename DI extensions that depend on already registered dependencies.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisServiceCollectionExtensions.cs
Labels: .NET, kernel, memory

#7575 .Net: Removing reflection type checks where possible when using definitions.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordDataProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordKeyProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordVectorProperty.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, kernel.core, memory
