Repository microsoft/semantic-kernel, pull requests merged in 2024-08, with the labels that each got.

#7576 Python: small improvements in test running
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-test-coverage.yml
  .github/workflows/python-unit-tests.yml
  python/.vscode/tasks.json
  python/poetry.lock
  python/pyproject.toml
  python/tests/integration/completions/test_chat_completions.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#7578 Python: Volatile memory store
  python/samples/concepts/memory/new_memory.py
  python/semantic_kernel/connectors/memory/redis/redis_store.py
  python/semantic_kernel/connectors/memory/volatile/__init__.py
  python/semantic_kernel/connectors/memory/volatile/volatile_collection.py
  python/semantic_kernel/connectors/memory/volatile/volatile_store.py
  python/tests/unit/connectors/memory/test_volatile.py
Labels: python, memory

#7588 .Net: [Feature branch] Small formatting improvements
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, memory

#7598 .Net: VectorStore: Adding a simple example a custom mapper example.
  dotnet/samples/Concepts/Memory/VectorStoreFixtures/VectorStoreQdrantContainerFixture.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_CustomMapper.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_MultiStore.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_Simple.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#7621 .Net: Added release candidate suffix for production packages
  dotnet/Directory.Build.props
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
  dotnet/src/Extensions/PromptTemplates.Handlebars/PromptTemplates.Handlebars.csproj
  dotnet/src/Functions/Functions.Yaml/Functions.Yaml.csproj
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
Labels: .NET, kernel, kernel.core

#7618 .Net: Adding improvements to xml docs based on suggestions from team.
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordDataAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordKeyAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordAttributes/VectorStoreRecordVectorAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/DistanceFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/IndexKind.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordDataProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordDefinition.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordKeyProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/VectorStoreRecordVectorProperty.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/DeleteRecordOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/GetRecordOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/UpsertRecordOptions.cs
Labels: .NET, kernel.core

#7625 Python: removed underscore in .env for open_ai
  python/.env.example
  python/samples/getting_started/.env.example
  python/samples/getting_started/third_party/.env.example
  python/samples/learn_resources/.env.example
  python/samples/learn_resources/README.md
  python/samples/learn_resources/evaluate_with_prompt_flow.py
Labels: python, documentation, samples

#7603 Python: Function calling in Google connectors
  python/semantic_kernel/connectors/ai/azure_ai_inference/azure_ai_inference_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/google/README.md
  python/semantic_kernel/connectors/ai/google/google_ai/google_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/utils.py
  python/semantic_kernel/connectors/ai/google/shared_utils.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/__init__.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/utils.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_text_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/vertex_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/vertex_ai_settings.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/contents/function_result_content.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/unit/connectors/google/google_ai/conftest.py
  python/tests/unit/connectors/google/google_ai/services/test_google_ai_chat_completion.py
  python/tests/unit/connectors/google/google_ai/services/test_google_ai_utils.py
  python/tests/unit/connectors/google/test_shared_utils.py
  python/tests/unit/connectors/google/vertex_ai/conftest.py
  python/tests/unit/connectors/google/vertex_ai/services/test_vertex_ai_chat_completion.py
  python/tests/unit/connectors/google/vertex_ai/services/test_vertex_ai_utils.py
  python/tests/unit/contents/test_function_result_content.py
Labels: python, documentation

#7122 Python: #6499 Mistral AI Embedding Connector
  .github/workflows/python-integration-tests.yml
  python/semantic_kernel/connectors/ai/mistral_ai/__init__.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/mistral_ai/settings/mistral_ai_settings.py
  python/tests/conftest.py
  python/tests/integration/embeddings/test_embedding_service.py
  python/tests/unit/connectors/mistral_ai/services/test_mistralai_chat_completion.py
  python/tests/unit/connectors/mistral_ai/services/test_mistralai_text_embeddings.py
Labels: python

#7855 .Net Agents - Fix `ChatCompletion_FunctionTermination` to actually use `IAutoFunctionInvocationFilter` (as intended)
  dotnet/samples/Concepts/Agents/ChatCompletion_FunctionTermination.cs
Labels: bug, PR: ready for review, .NET, enhancement, agents

#7619 Python: Update chat history channel to produce the correct messages with a visibility bool
  python/poetry.lock
  python/semantic_kernel/agents/agent_channel.py
  python/semantic_kernel/agents/chat_history_channel.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/function_call_content.py
  python/semantic_kernel/contents/function_result_content.py
  python/semantic_kernel/contents/text_content.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/unit/agents/test_chat_history_channel.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
Labels: python

#7612 Python: additional details for pypi
  python/pyproject.toml
Labels: python

#7854 Python: Refactor agent retrieve method to be classmethod. Update tests.
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/tests/unit/agents/test_azure_assistant_agent.py
  python/tests/unit/agents/test_open_ai_assistant_agent.py
Labels: python

#7865 Python: Bump Python version to 1.4.0 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
  python/samples/getting_started_with_agents/README.md
Labels: python, documentation

#7882 .Net Agents - Identify assistant code-interpreter response with metadata
  dotnet/src/Agents/OpenAI/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
Labels: PR: ready for review, .NET, experimental, enhancement, agents

#7611 Fix JSON schema generation for .NET 9
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.ReflectionHelpers.cs
Labels: .NET

#7623 .Net: [Feature branch] Added release candidate suffix for production packages
  dotnet/Directory.Build.props
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
  dotnet/src/Extensions/PromptTemplates.Handlebars/PromptTemplates.Handlebars.csproj
  dotnet/src/Functions/Functions.Yaml/Functions.Yaml.csproj
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
  dotnet/src/SemanticKernel.MetaPackage/SemanticKernel.MetaPackage.csproj
Labels: .NET, kernel, kernel.core

#7901 .Net: Increase connection timeout for redis integration tests.
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
Labels: .NET, kernel

#7906 .Net: Package version 1.17.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#7899 .Net: Bugfix - ACA Sessions - Code Interpreter Demo
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonPlugin.cs
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsRemoteFileMetadata.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/SessionsPythonPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/TestData/sessions_python_plugin_file_list.json
  dotnet/src/Plugins/Plugins.UnitTests/TestData/sessions_python_plugin_file_upload.json
Labels: .NET

#7615 .Net: SK AI Model Router Demo
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/AIModelRouter/AIModelRouter.csproj
  dotnet/samples/Demos/AIModelRouter/CustomRouter.cs
  dotnet/samples/Demos/AIModelRouter/Program.cs
  dotnet/samples/Demos/AIModelRouter/README.md
  dotnet/samples/Demos/AIModelRouter/SelectedServiceFilter.cs
Labels: .NET, documentation

#7954 Python: Bump Python version to 1.5.0 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#7953 .Net: Moving VectorStore DI extensions to core namespace.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeServiceCollectionExtensionsTests.cs
  dotnet/src/SemanticKernel.Core/Data/KernelBuilderExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/ServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/ServiceCollectionExtensionsTests.cs
Labels: .NET, kernel, memory

#7955 .Net: Disable redis integration tests since they are intermittently failing on ubuntu
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreTests.cs
Labels: .NET, kernel

#7956 Python: Fix some Python portions of README.
  README.md
Labels: documentation

#7961 .Net: Azure AI Inference Connector - Project + References
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Connectors.AzureAIInference.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference/Connectors.AzureAIInference.csproj
Labels: PR: in progress, .NET, kernel, ai connector, sk team issue

#7959 .Net: Azure AI Inference - ADR
  docs/decisions/0051-dotnet-azure-model-as-a-service.md
Labels: ai connector, documentation

#7570 .Net Agents - ChatHistory Reducer Pattern
  dotnet/samples/Concepts/Agents/ChatCompletion_HistoryReducer.cs
  dotnet/src/Agents/Abstractions/ChatHistoryKernelAgent.cs
  dotnet/src/Agents/Abstractions/Extensions/ChatHistoryExtensions.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryChannel.cs
  dotnet/src/Agents/Core/History/ChatHistoryReducerExtensions.cs
  dotnet/src/Agents/Core/History/ChatHistorySummarizationReducer.cs
  dotnet/src/Agents/Core/History/ChatHistoryTruncationReducer.cs
  dotnet/src/Agents/Core/History/IChatHistoryReducer.cs
  dotnet/src/Agents/Core/IChatHistoryHandler.cs
  dotnet/src/Agents/Core/IChatHistoryHandlerExtensions.cs
  dotnet/src/Agents/UnitTests/AgentChatTests.cs
  dotnet/src/Agents/UnitTests/AggregatorAgentTests.cs
  dotnet/src/Agents/UnitTests/Core/AgentGroupChatTests.cs
  dotnet/src/Agents/UnitTests/Core/ChatHistoryChannelTests.cs
  dotnet/src/Agents/UnitTests/Core/History/ChatHistoryReducerExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Core/History/ChatHistorySummarizationReducerTests.cs
  dotnet/src/Agents/UnitTests/Core/History/ChatHistoryTruncationReducerTests.cs
  dotnet/src/Agents/UnitTests/Core/History/MockHistoryGenerator.cs
  dotnet/src/Agents/UnitTests/MockAgent.cs
Labels: PR: ready for review, PR: in progress, .NET, experimental, agents

#7971 .Net: Package version 1.17.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#7952 .Net: Allow chat history mutation from auto-function invocation filters
  dotnet/samples/Demos/StepwisePlannerMigration/Services/PlanProvider.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/MultipleHttpMessageHandlerStub.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
Labels: .NET, kernel, ai connector, filters

#7974 .Net: Function calling mvp model
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoice.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorConfiguration.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorConfigurationContext.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/FunctionChoiceTests.cs
Labels: .NET, kernel, ai connector, kernel.core, function_calling

#7900 .Net Agents - `ChatCompletionAgent` Pre-Graduation
  dotnet/samples/Concepts/Agents/ChatCompletion_FunctionTermination.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_ServiceSelection.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_Streaming.cs
  dotnet/samples/GettingStartedWithAgents/Step2_Plugins.cs
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryChannel.cs
  dotnet/src/Agents/Core/IChatHistoryHandler.cs
  dotnet/src/Agents/OpenAI/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
  dotnet/src/Agents/UnitTests/Core/ChatCompletionAgentTests.cs
  dotnet/src/Agents/UnitTests/MockAgent.cs
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
  dotnet/src/SemanticKernel.Abstractions/Services/AIServiceExtensions.cs
Labels: .NET, kernel, experimental, agents, kernel.core

#8015 .Net: OpenAI V2 - Small fix
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.cs
Labels: .NET, kernel, ai connector, openai_sdk_v2

#8017 .Net: Prepare {Azure}OpenAI connectors for function call abstraction
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_FunctionCallingTests.cs
Labels: .NET, ai connector, function_calling

#8071 Python: Update auto invoke function filter handling for proper functionality for OpenAI models.
  python/samples/concepts/filtering/auto_function_invoke_filters.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/kernel.py
Labels: python

#7976 .Net: Azure AI Inference Connector - Chat Completion Phase 1
  dotnet/src/Connectors/Connectors.AzureAIInference/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/AddHeaderRequestPolicy.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/RequestFailedExceptionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Services/AzureAIInferenceChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Settings/AzureAIInferencePromptExecutionSettings.cs
  dotnet/src/IntegrationTests/Connectors/AzureAIInference/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/TestSettings/AzureAIInferenceConfiguration.cs
Labels: .NET, kernel, ai connector, sk team issue

#8067 .Net: Auto function choice behavior
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoice.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorConfiguration.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorConfigurationContext.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/PromptExecutionSettingsTests.cs
Labels: .NET, kernel, ai connector, kernel.core, function_calling

#8085 .Net: Allow chat history mutation from auto-function invocation filters in MistralAI connector
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralTestBase.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Services/MistralAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_function_call_response.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_streaming_function_call_response.txt
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
Labels: .NET, kernel, ai connector

#7527 .Net: AzureOpenAI with DefaultAzureCredential sample
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletion.cs
Labels: .NET

#8076 .Net: Azure AI Inference - Chat Streaming Phase 2
  dotnet/src/Connectors/Connectors.AzureAIInference/Connectors.AzureAIInference.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
  dotnet/src/IntegrationTests/Connectors/AzureAIInference/AzureAIInferenceChatCompletionServiceTests.cs
Labels: .NET, kernel

#8098 Python: Combine FunctionResultContent to one ChatMessageContent for Auto Func Invoke Filter
  python/samples/concepts/filtering/auto_function_invoke_filters.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
Labels: python

#8097 .Net: AzureOpenAI - Enable package validation
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
Labels: .NET, PR: ready to merge, kernel, ai connector, openai_sdk_v2

#8095 .Net: Ollama Connector - Embeddings + Latest OllamaSharp update.
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/embeddings_test_response.json
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextEmbeddingGenerationService.cs
Labels: .NET, kernel, ai connector

#8091 Python: updated packages and reverted default multi-core testing
  .github/workflows/python-integration-tests.yml
  .pre-commit-config.yaml
  python/.vscode/tasks.json
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_memory_store.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
Labels: python, memory

#8107 .Net: Create a classifiable Kernel Function logger
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
Labels: .NET, kernel.core

#8108 Python: Bump Python project version to 1.5.1 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#8168 .Net: Fix Prompty Issue of parsing ResponseFormat (issue #8148, #8154)
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTest.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chatJsonObject.prompty
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModelParameters.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyResponseFormat.cs
  dotnet/src/Functions/Functions.Prompty/KernelFunctionPrompty.cs
Labels: .NET

#8177 .Net: Azure AI Studio Connector - Add ChatCompletion UnitTests - Phase 1
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Connectors.AzureAIInference.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Services/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/TestData/chat_completion_response.json
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/TestData/chat_completion_streaming_response.txt
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
Labels: .NET, kernel, ai connector

#7569 Python: Update mmlu_model_eval.py
  python/samples/concepts/model_as_a_service/mmlu_model_eval.py
Labels: python

#7905 Python: Refactor completion integration tests
  python/.cspell.json
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/shared_utils.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_chat_completion.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/completion_test_base.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/integration/completions/test_chat_completion_with_image_input_text_output.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_text_completion.py
Labels: python

#8182 .Net: OpenAPI customization
  dotnet/samples/Concepts/Plugins/OpenApiPlugin_CustomHttpContentReader.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/HttpResponseContentReader.cs
  dotnet/src/Functions/Functions.OpenApi/HttpResponseContentReaderContext.cs
  dotnet/src/Functions/Functions.OpenApi/HttpResponseContentSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
Labels: .NET, openapi

#8180 .Net: Azure MaaS Connector: UTs - Phase 3
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Extensions/AzureAIInferenceKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Extensions/AzureAIInferenceServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Services/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Services/AzureAIInferenceChatCompletionService.cs
Labels: .NET, kernel, ai connector

#8179 .Net: Azure MaaS Connector: UTs - Phase 2
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Core/ChatClientCoreTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Services/AzureAIInferenceChatCompletionService.cs
Labels: .NET, kernel, ai connector

#8194 Create TRANSPARENCY_FAQS.md
  TRANSPARENCY_FAQS.md
Labels: documentation

#8198 .Net: Map OpenAPI parameter type to KernelParameterMetadata
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationParameter.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV2_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_1.yaml
Labels: .NET, openapi

#8191 .Net: Azure MaaS Connector: UTs - Phase 4
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Settings/AzureAIInferencePromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Settings/AzureAIInferencePromptExecutionSettings.cs
Labels: .NET, kernel, ai connector

#8225 .Net: Delete unnecessary parameters
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
Labels: .NET, kernel, memory

#8195 .Net: Azure MaaS Connector: Samples
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Demos/AIModelRouter/AIModelRouter.csproj
  dotnet/samples/Demos/AIModelRouter/Program.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
Labels: .NET, ai connector, kernel.core

#8267 Python: Introducing Text To Image services
  .github/workflows/python-integration-tests.yml
  python/samples/concepts/images/image_generation.py
  python/semantic_kernel/connectors/ai/open_ai/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_to_image.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_model_types.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_to_image.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_to_image_base.py
  python/semantic_kernel/connectors/ai/open_ai/settings/azure_open_ai_settings.py
  python/semantic_kernel/connectors/ai/open_ai/settings/open_ai_settings.py
  python/semantic_kernel/connectors/ai/text_to_image_client_base.py
  python/tests/conftest.py
  python/tests/integration/connectors/memory/test_postgres.py
  python/tests/samples/test_concepts.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_to_image.py
  python/tests/unit/connectors/open_ai/services/test_openai_text_to_image.py
Labels: python

#8190 Python: improvements in memory connectors
  python/samples/concepts/memory/data_models.py
  python/samples/concepts/memory/new_memory.py
  python/samples/concepts/memory/pandas_memory.py
  python/semantic_kernel/connectors/ai/open_ai/__init__.py
  python/semantic_kernel/connectors/memory/azure_ai_search/azure_ai_search_collection.py
  python/semantic_kernel/connectors/memory/qdrant/__init__.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_collection.py
  python/semantic_kernel/connectors/memory/redis/__init__.py
  python/semantic_kernel/connectors/memory/redis/redis_collection.py
  python/semantic_kernel/connectors/memory/volatile/__init__.py
  python/semantic_kernel/data/__init__.py
  python/semantic_kernel/data/vector_store_record_collection.py
Labels: python, memory

#8277 .Net: OpenAI V2 - Prompty UT Fix
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chatJsonObject.prompty
Labels: .NET

#8183 .Net Agents- Support Reset for `AgentChat`
  dotnet/samples/Concepts/Agents/MixedChat_Reset.cs
  dotnet/src/Agents/Abstractions/AgentChannel.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/AggregatorChannel.cs
  dotnet/src/Agents/Core/ChatHistoryChannel.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
  dotnet/src/Agents/UnitTests/AgentChannelTests.cs
  dotnet/src/Agents/UnitTests/AgentChatTests.cs
  dotnet/src/Agents/UnitTests/Internal/BroadcastQueueTests.cs
Labels: PR: ready for review, .NET, experimental, agents

#8279 Python: Introduce agent chat reset functionality. Add unit tests and a sample.
  python/samples/concepts/agents/mixed_chat_reset.py
  python/semantic_kernel/agents/channels/agent_channel.py
  python/semantic_kernel/agents/channels/chat_history_channel.py
  python/semantic_kernel/agents/channels/open_ai_assistant_channel.py
  python/semantic_kernel/agents/group_chat/agent_chat.py
  python/tests/unit/agents/test_agent_chat.py
  python/tests/unit/agents/test_chat_history_channel.py
  python/tests/unit/agents/test_open_ai_assistant_channel.py
Labels: python, sk team issue, experimental, agents

#7562 .Net: Add OpenAPI Feature Tests for Parser
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30FeatureTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryFeatureTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/openapi_feature_testsV3_0.json
Labels: .NET

#8294 Python: Bump Python project version to 1.6.0 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#8023 Python: Fix incorrect instructions in README
  README.md
Labels: documentation

#7387 Python: Update 03-prompt-function-inline.ipynb (Typo "Azure Open AI"→"Azure O…
  python/samples/getting_started/03-prompt-function-inline.ipynb
Labels: python

#8299 .Net Agents - Introduce "Root" agent selection
  dotnet/samples/GettingStartedWithAgents/Step4_KernelFunctionStrategies.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/SelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/SequentialSelectionStrategy.cs
  dotnet/src/Agents/UnitTests/Core/AgentGroupChatTests.cs
  dotnet/src/Agents/UnitTests/Core/Chat/KernelFunctionSelectionStrategyTests.cs
  dotnet/src/Agents/UnitTests/Core/Chat/SequentialSelectionStrategyTests.cs
Labels: PR: ready for review, .NET, experimental, enhancement, agents

#8305 double 'see' fix
  README.md
Labels: documentation

#8309 .Net: Ollama - Adding Missing Samples
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Memory/Ollama_EmbeddingGeneration.cs
  dotnet/samples/Concepts/TextGeneration/Ollama_TextGeneration.cs
  dotnet/samples/Concepts/TextGeneration/Ollama_TextGenerationStreaming.cs
  dotnet/samples/Demos/AIModelRouter/AIModelRouter.csproj
  dotnet/samples/Demos/AIModelRouter/CustomRouter.cs
  dotnet/samples/Demos/AIModelRouter/Program.cs
  dotnet/samples/Demos/AIModelRouter/SelectedServiceFilter.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, kernel

#8301 ADR for Entity Framework memory connector
  docs/decisions/0051-entity-framework-as-connector.md
Labels: documentation

#8280 Python: Instrument kernel function
  dotnet/samples/Demos/TelemetryWithAppInsights/README.md
  python/.cspell.json
  python/samples/demos/telemetry_with_application_insights/.env.example
  python/samples/demos/telemetry_with_application_insights/README.md
  python/samples/demos/telemetry_with_application_insights/main.py
  python/samples/demos/telemetry_with_application_insights/repo_utils.py
  python/samples/demos/telemetry_with_application_insights/telemetry_sample_settings.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_log_messages.py
Labels: .NET, python, documentation

#8300 Python: Add agent function termination sample. Fix openai chat completion chat history bug.
  python/samples/concepts/agents/chat_completion_function_termination.py
  python/samples/concepts/agents/mixed_chat_files.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/unit/connectors/google/google_ai/services/test_google_ai_chat_completion.py
  python/tests/unit/connectors/google/vertex_ai/services/test_vertex_ai_chat_completion.py
Labels: python

#8312 Python: Bump Python project version to 1.7.0 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#8291 .Net: Add support for OpenAPI descriptions with server variables
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationServer.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationServerVariable.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
  dotnet/src/IntegrationTests/Plugins/OpenApi/repair-service.json
Labels: .NET, kernel

#8313 Python: Upgrade ruff to 0.6.1
  .pre-commit-config.yaml
  python/poetry.lock
  python/pyproject.toml
Labels: python

#8315 .Net: Package version 1.17.2
  dotnet/nuget/nuget-package.props
Labels: .NET

#8296 .Net: Vector Store: Allowing json serializer options to be passed down from vector store options and user agent string.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollectionOptions.cs
Labels: .NET, kernel, memory

#7557 .Net: Added implementation of Azure CosmosDB for MongoDB connector for new memory design
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBHotelModel.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/Connectors.AzureCosmosDBMongoDB.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBConstants.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBNamingConvention.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/Connectors.Memory.AzureCosmosDBMongoDB.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/IAzureCosmosDBMongoDBVectorStoreRecordCollectionFactory.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryStoreTestsFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreCollectionFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLMemoryStoreTestsFixture.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/IndexKind.cs
Labels: .NET, kernel, kernel.core, memory

#8316 .Net: Remove Oobabooga Legacy reference
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/src/Connectors/Connectors.Oobabooga/README.md
  dotnet/src/IntegrationTests/README.md
Labels: .NET, kernel, ai connector, documentation

#8314 .Net: Ollama Concept Test Fix
  dotnet/samples/Concepts/TextGeneration/Ollama_TextGeneration.cs
Labels: .NET

#8018 .Net: Demos: add folder for F# script samples .fsx and one with hugging face 🤗 chat completion
  dotnet/samples/Demos/FSharpScripts/huggingFaceChatCompletion.fsx
Labels: .NET

#8287 .Net: Optimize SQLite GetBatchAsync to retrieve multiple entries with a single query
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Database.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
Labels: .NET, kernel, memory

#8322 .Net: Fix collection create bug for redis hashsets.
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionCreateMappingTests.cs
Labels: .NET, kernel, memory

#8317 Python: Add metrics instrumentation
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  python/samples/demos/telemetry_with_application_insights/README.md
  python/samples/demos/telemetry_with_application_insights/main.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_log_messages.py
Labels: .NET, python, kernel.core, documentation

#8330 Python: Fix agent group chat bug related to function calling in ChatCompletionAgent
  python/samples/concepts/agents/mixed_chat_agents_plugins.py
  python/semantic_kernel/agents/channels/open_ai_assistant_channel.py
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
Labels: python

#8334 Python: Bump Python version to 1.8.0 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#8290 .Net: Refactor: Relocate Weaviate Integration Test Files
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/docker-compose.yml
Labels: .NET, kernel

#8332 .Net: Updated baseline version to 1.17.2
  dotnet/nuget/nuget-package.props
Labels: .NET

#8307 .Net: ADR for Text Search Abstractions
  docs/decisions/00NN-text-search.md
  docs/decisions/diagrams/search-abstractions.png
  docs/decisions/diagrams/text-search-abstraction.mmd
  docs/decisions/diagrams/text-search-abstraction.png
  docs/decisions/diagrams/text-search-imemorystore.mmd
  docs/decisions/diagrams/text-search-imemorystore.png
  docs/decisions/diagrams/text-search-iwebsearchengineconnector.mmd
  docs/decisions/diagrams/text-search-iwebsearchengineconnector.png
  dotnet/src/SemanticKernel.Abstractions/Search/BasicFilterOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Search/EqualityFilterClause.cs
  dotnet/src/SemanticKernel.Abstractions/Search/FilterClause.cs
  dotnet/src/SemanticKernel.Abstractions/Search/ITextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Search/KernelSearchResults.cs
  dotnet/src/SemanticKernel.Abstractions/Search/TextSearchOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Search/TextSearchResult.cs
Labels: .NET, kernel.core, documentation

#8337 .Net Extract and reuse common code for function calling
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/NoneFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehavior.cs
Labels: .NET, kernel, ai connector, kernel.core

#8320 Python: switch to uv
  .github/workflows/python-build-wheel.yml
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-lint.yml
  .github/workflows/python-unit-tests.yml
  .gitignore
  .vscode/tasks.json
  python/.conf/packages_list.json
  python/.env.example
  python/.pre-commit-config.yaml
  python/.vscode/tasks.json
  python/DEV_SETUP.md
  python/Makefile
  python/README.md
  python/log.txt
  python/mypy.ini
  python/poetry.lock
  python/pyproject.toml
  python/samples/concepts/plugins/openapi/README.md
  python/samples/concepts/setup/ALL_SETTINGS.md
  python/semantic_kernel/__init__.py
  python/semantic_kernel/contents/utils/data_uri.py
  python/semantic_kernel/core_plugins/sessions_python_tool/README.md
  python/setup_dev.sh
  python/uv.lock
Labels: python, documentation

#8342 .Net: Function choice behavior in JSON prompts
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIPromptExecutionSettings.cs
  dotnet/src/Functions/Functions.UnitTests/Markdown/Functions/KernelFunctionMarkdownTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/NoneFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorDeserializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/NoneFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/PromptTemplateConfigTests.cs
Labels: .NET, kernel, ai connector, kernel.core

#8369 Python: added license info to project
  python/pyproject.toml
Labels: python

#7563 Python: ChromaMemoryStore - Get methods will default to not return embeddings in query results
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
Labels: python, memory

#8335 .Net: Add TextSearchExtension methods to create KernelPlugins and KernelFunctions
  dotnet/src/SemanticKernel.Abstractions/Search/TextSearchDelegates.cs
  dotnet/src/SemanticKernel.Core/Search/TextSearchExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Search/MockTextSearch.cs
  dotnet/src/SemanticKernel.UnitTests/Search/TextSearchExtensionsTests.cs
Labels: .NET, kernel, kernel.core

#8391 Python: bump version to 1.8.1
  python/.pre-commit-config.yaml
  python/LICENSE
  python/Makefile
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
  python/semantic_kernel/__init__.py
Labels: python

#8400 .Net: [Feature Branch] .Net: Increase RC package version to 1.18.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#8346 Python: Update model diagnostics
  python/.cspell.json
  python/samples/demos/telemetry_with_application_insights/.env.example
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_base.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_base.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_text_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_base.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_text_completion.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_base.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/ollama/ollama_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_base.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/utils/telemetry/decorators.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/__init__.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/decorators.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/gen_ai_attributes.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/model_diagnostics_settings.py
  python/tests/conftest.py
  python/tests/unit/connectors/mistral_ai/services/test_mistralai_text_embeddings.py
  python/tests/unit/utils/model_diagnostics/conftest.py
  python/tests/unit/utils/model_diagnostics/test_trace_chat_completion.py
  python/tests/unit/utils/model_diagnostics/test_trace_text_completion.py
  python/tests/unit/utils/test_tracing.py
Labels: python

#8404 Python: add license to pyproject
  .github/workflows/python-build.yml
  python/pyproject.toml
  python/semantic_kernel/__init__.py
Labels: python

#8405 Python: .Net: OpenAI V2 - `main` MergeFix
  python/.cspell.json
  python/.pre-commit-config.yaml
  python/LICENSE
  python/Makefile
  python/pyproject.toml
  python/samples/demos/telemetry_with_application_insights/.env.example
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_base.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_base.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_text_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_base.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_text_completion.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_base.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/ollama/ollama_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_base.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/utils/telemetry/decorators.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/__init__.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/decorators.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/gen_ai_attributes.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/model_diagnostics_settings.py
  python/tests/conftest.py
  python/tests/unit/connectors/mistral_ai/services/test_mistralai_text_embeddings.py
  python/tests/unit/utils/model_diagnostics/conftest.py
  python/tests/unit/utils/model_diagnostics/test_trace_chat_completion.py
  python/tests/unit/utils/model_diagnostics/test_trace_text_completion.py
  python/tests/unit/utils/test_tracing.py
Labels: python, openai_sdk_v2

#8393 .Net: Function choice behavior in SK YAML prompts
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/Functions/KernelFunctionYamlTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/PromptExecutionSettingsNodeDeserializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/PromptExecutionSettingsTypeConverterTests.cs
  dotnet/src/Functions/Functions.Yaml/Functions.Yaml.csproj
  dotnet/src/Functions/Functions.Yaml/KernelFunctionYaml.cs
  dotnet/src/Functions/Functions.Yaml/PromptExecutionSettingsNodeDeserializer.cs
  dotnet/src/Functions/Functions.Yaml/PromptExecutionSettingsTypeConverter.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_NoneFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.UnitTests/AI/PromptExecutionSettingsTests.cs
Labels: .NET, kernel, ai connector, kernel.core, Ignite

#8343 .Net: Update Bing Search to new Text Search Design
  dotnet/samples/Concepts/Search/Bing_TextSearch.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionServiceTests.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  dotnet/src/Plugins/Plugins.UnitTests/TestData/bing_site_filter_devblogs_microsoft.com.json
  dotnet/src/Plugins/Plugins.UnitTests/TestData/bing_what_is_the_semantic_kernel.json
  dotnet/src/Plugins/Plugins.UnitTests/Web/Bing/BingTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingMetaTag.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingOpenGraphImage.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingSearchResponse.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearchOptions.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingWebPage.cs
Labels: .NET, kernel

#8394 .Net: Update Google Search to new Text Search Design
  .github/_typos.toml
  dotnet/samples/Concepts/Search/Google_TextSearch.cs
  dotnet/src/Plugins/Plugins.UnitTests/TestData/google_site_filter_devblogs_microsoft.com.json
  dotnet/src/Plugins/Plugins.UnitTests/TestData/google_what_is_the_semantic_kernel.json
  dotnet/src/Plugins/Plugins.UnitTests/Web/Google/GoogleTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleTextSearchOptions.cs
Labels: .NET

#8414 Python: Fix KernelArgument bug in invoke_prompt functions
  python/.pre-commit-config.yaml
  python/semantic_kernel/functions/kernel_arguments.py
  python/semantic_kernel/kernel.py
  python/tests/unit/functions/test_kernel_arguments.py
Labels: python

#8417 Python: fix discrimator field for CMC
  python/.vscode/tasks.json
  python/semantic_kernel/contents/chat_message_content.py
  python/tests/unit/contents/test_chat_message_content.py
Labels: python

#8418 .Net: Add text search concepts demonstrating RAG and Function Calling
  dotnet/samples/Concepts/RAG/Bing_RagWithTextSearch.cs
  dotnet/samples/Concepts/Search/Bing_FunctionCallingWithTextSearch.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Bing/BingTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearch.cs
Labels: .NET

#8422 .Net: OpenAI V2 Bugfix for Streaming Asynchronous Filter Results
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_streaming_async_filter_response.txt
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/OpenAIStreamingChatMessageContent.cs
Labels: .NET, kernel

#8401 .Net: Add support for ImageContent to use data URIs in ChatPromptParser so templates can use base64 encoded images.
  dotnet/samples/Concepts/PromptTemplates/HandlebarsVisionPrompts.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatPromptParser.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/ChatPromptParserTests.cs
Labels: .NET, kernel, kernel.core, documentation, Ignite
