Repository microsoft/semantic-kernel, pull requests merged in 2024-11, with the labels that each got.

#9418 Python: Search sync
  python/pyproject.toml
  python/samples/concepts/memory/azure_ai_search_as_plugin.py
  python/samples/concepts/memory/new_memory.py
  python/samples/concepts/search/bing_text_search.py
  python/samples/concepts/search/bing_text_search_as_plugin.py
  python/semantic_kernel/connectors/memory/astradb/astradb_memory_store.py
  python/semantic_kernel/connectors/memory/azure_ai_search/azure_ai_search_collection.py
  python/semantic_kernel/connectors/memory/azure_ai_search/const.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
  python/semantic_kernel/connectors/memory/in_memory/__init__.py
  python/semantic_kernel/connectors/memory/in_memory/in_memory_collection.py
  python/semantic_kernel/connectors/memory/in_memory/in_memory_store.py
  python/semantic_kernel/connectors/memory/mongodb_atlas/README.md
  python/semantic_kernel/connectors/memory/postgres/utils.py
  python/semantic_kernel/connectors/memory/qdrant/const.py
  python/semantic_kernel/connectors/memory/redis/const.py
  python/semantic_kernel/connectors/memory/volatile/__init__.py
  python/semantic_kernel/connectors/memory/weaviate/utils.py
  python/semantic_kernel/connectors/search/bing/bing_search.py
  python/semantic_kernel/data/__init__.py
  python/semantic_kernel/data/const.py
  python/semantic_kernel/data/filter_clauses/__init__.py
  python/semantic_kernel/data/filter_clauses/filter_clause_base.py
  python/semantic_kernel/data/kernel_search_results.py
  python/semantic_kernel/data/search_base.py
  python/semantic_kernel/data/search_filter.py
  python/semantic_kernel/data/search_options.py
  python/semantic_kernel/data/text_search/__init__.py
  python/semantic_kernel/data/text_search/text_search.py
  python/semantic_kernel/data/text_search/text_search_filter.py
  python/semantic_kernel/data/text_search/text_search_options.py
  python/semantic_kernel/data/text_search/utils.py
  python/semantic_kernel/data/text_search/vector_store_text_search.py
  python/semantic_kernel/data/vector_search/__init__.py
  python/semantic_kernel/data/vector_search/const.py
  python/semantic_kernel/data/vector_search/vector_search.py
  python/semantic_kernel/data/vector_search/vector_search_filter.py
  python/semantic_kernel/data/vector_search/vector_search_options.py
  python/semantic_kernel/data/vector_search/vector_text_search.py
  python/semantic_kernel/data/vector_search/vectorizable_text_search.py
  python/semantic_kernel/data/vector_search/vectorized_search.py
  python/semantic_kernel/exceptions/function_exceptions.py
  python/semantic_kernel/functions/kernel_function_extension.py
  python/semantic_kernel/functions/kernel_plugin.py
  python/tests/integration/memory/memory_stores/test_astradb_memory_store.py
  python/tests/integration/memory/memory_stores/test_azure_cosmosdb_no_sql_memory_store.py
  python/tests/integration/memory/vector_stores/data_records.py
  python/tests/integration/memory/vector_stores/postgres/test_postgres.py
  python/tests/integration/memory/vector_stores/test_vector_store.py
  python/tests/integration/memory/vector_stores/vector_store_test_base.py
  python/tests/unit/connectors/memory/conftest.py
  python/tests/unit/connectors/memory/postgres/test_postgres.py
  python/tests/unit/connectors/memory/volatile/test_volatile.py
  python/tests/unit/connectors/memory/weaviate/test_utils.py
  python/tests/unit/data/conftest.py
  python/tests/unit/data/test_filter.py
  python/tests/unit/data/test_text_search.py
  python/tests/unit/data/test_vector_store_text_search.py
  python/uv.lock
Labels: python, documentation, memory

#9497 Python: Search integration test fixes
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/integration/completions/test_chat_completion_with_image_input_text_output.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_conversation_summary_plugin.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/integration/embeddings/test_embedding_service_base.py
  python/tests/integration/memory/memory_stores/test_astradb_memory_store.py
  python/tests/integration/memory/memory_stores/test_pinecone_memory_store.py
  python/tests/integration/memory/vector_stores/data_records.py
  python/tests/integration/memory/vector_stores/postgres/test_postgres.py
  python/tests/integration/memory/vector_stores/test_vector_store.py
  python/tests/integration/memory/vector_stores/vector_store_test_base.py
  python/tests/integration/utils.py
Labels: python

#9495 .Net: Improve logging for function calls processor and kernel function
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessorLoggerExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionLogMessages.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionLogMessagesTests.cs
Labels: .NET, kernel, kernel.core

#9503 .Net: Fixed typos
  .github/_typos.toml
  dotnet/src/Agents/UnitTests/Core/History/MockHistoryGenerator.cs
Labels: .NET

#9490 .Net: Fixed JSON schema name in Structured Outputs for generic types
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
Labels: .NET, kernel

#9451 .Net: Added an example to show how to limit token usage with filters
  dotnet/samples/Concepts/Filtering/MaxTokensWithFilters.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#8954 .Net: Samples showing how to manage Chat History
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/ChatCompletionServiceExtensions.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/ChatCompletionServiceWithReducer.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/ChatHistoryExtensions.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/ChatHistoryReducerTests.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/IChatHistoryReducer.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/MaxTokensChatHistoryReducer.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/SummarizingChatHistoryReducer.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/TruncatingChatHistoryReducer.cs
  dotnet/samples/Concepts/ChatCompletion/MultipleProviders_ChatHistoryReducer.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#9489 .Net: Create a getting started project for vector stores.
  dotnet/SK-dotnet.sln
  dotnet/samples/GettingStartedWithVectorStores/GettingStartedWithVectorStores.csproj
  dotnet/samples/GettingStartedWithVectorStores/Glossary.cs
  dotnet/samples/GettingStartedWithVectorStores/README.md
  dotnet/samples/GettingStartedWithVectorStores/Step1_Ingest_Data.cs
  dotnet/samples/GettingStartedWithVectorStores/Step2_Vector_Search.cs
  dotnet/samples/GettingStartedWithVectorStores/Step3_Switch_VectorStore.cs
  dotnet/samples/GettingStartedWithVectorStores/VectorStoresFixture.cs
  dotnet/samples/README.md
Labels: .NET, documentation

#9502 .Net: Add sample to show how to create a decorator for generating embeddings.
  dotnet/samples/Concepts/Memory/VectorStoreEmbeddingGeneration/GenerateTextEmbeddingAttribute.cs
  dotnet/samples/Concepts/Memory/VectorStoreEmbeddingGeneration/TextEmbeddingVectorStore.cs
  dotnet/samples/Concepts/Memory/VectorStoreEmbeddingGeneration/TextEmbeddingVectorStoreExtensions.cs
  dotnet/samples/Concepts/Memory/VectorStoreEmbeddingGeneration/TextEmbeddingVectorStoreRecordCollection.cs
  dotnet/samples/Concepts/Memory/VectorStore_EmbeddingGeneration.cs
Labels: .NET

#9507 Python: Fixes displaying of error message to properly show the exception details
  python/semantic_kernel/processes/local_runtime/local_process.py
Labels: python

#6099 .Net: Function Calling Abstractions ADR
  docs/decisions/0061-function-call-behavior.md
  docs/decisions/diagrams/tool-behavior-usage-by-ai-service.png
Labels: documentation

#9523 .Net: Fix bug where has named vectors wasn't passed to record collection in GetCollection.
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreTests.cs
Labels: .NET, kernel, memory

#9521 .Net: Function calling clean-up
  dotnet/samples/Concepts/FunctionCalling/FunctionCalling.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehavior.cs
Labels: .NET, kernel.core

#9486 Python: Fix planner notebook link to plan.py
  python/samples/getting_started/05-using-the-planner.ipynb
Labels: python

#9522 .Net: Add more steps to getting started project.
  dotnet/samples/GettingStartedWithVectorStores/GettingStartedWithVectorStores.csproj
  dotnet/samples/GettingStartedWithVectorStores/Step3_Switch_VectorStore.cs
  dotnet/samples/GettingStartedWithVectorStores/Step4_NonStringKey_VectorStore.cs
  dotnet/samples/GettingStartedWithVectorStores/Step5_Use_GenericDataModel.cs
  dotnet/samples/GettingStartedWithVectorStores/Step6_Use_CustomMapper.cs
Labels: .NET

#9534 .Net: Fix typos
  dotnet/samples/Concepts/Resources/what-is-semantic-kernel.json
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordMapping.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
Labels: .NET, kernel.core

#9538 .Net: Include the operation path in the KernelFunction.Metadata
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/OpenApiKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
Labels: .NET

#9526 .Net: Add AudioTimestamp Property to GeminiPromptExecutionSettings
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/GeminiPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.Google/GeminiPromptExecutionSettings.cs
Labels: .NET, kernel

#9472 .Net: Improve langchain interop sample further
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/AzureAISearchFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/LangchainDocument.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/MappingVectorStoreRecordCollection.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/PineconeFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/QdrantFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/RedisFactory.cs
  dotnet/samples/Concepts/Memory/VectorStore_Langchain_Interop.cs
  dotnet/samples/Concepts/Memory/VectorStore_Langchain_Interop_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_Langchain_Interop_Qdrant.cs
  dotnet/samples/Concepts/Memory/VectorStore_Langchain_Interop_Redis.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#9549 .Net: revise public api surface of the rest-api model
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiInfo.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationExpectedResponse.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationParameter.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationPayload.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationServer.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationServerVariable.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
Labels: .NET, openapi

#9546 .Net: Update ONNX Rag sample to use vector store.
  dotnet/samples/Demos/OnnxSimpleRAG/OnnxSimpleRAG.csproj
  dotnet/samples/Demos/OnnxSimpleRAG/Program.cs
Labels: .NET

#9481 .Net: Processes State Management Part 2
  dotnet/samples/GettingStartedWithProcesses/README.md
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishAndChipsProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishSandwichProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FriedFishProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FishSandwichStateProcessSuccess.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FishSandwichStateProcessSuccessLowStock.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FriedFishProcessStateSuccess.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FriedFishProcessStateSuccessLowStock.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FriedFishProcessStateSuccessNoStock.json
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03a_FoodPreparation.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/CutFoodStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/CutFoodWithSharpeningStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/FryFoodStep.cs
  dotnet/src/Experimental/Process.Abstractions/Internal/KernelProcessStepMetadataFactory.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepInfo.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepMetadataAttribute.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepState.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessStateMetadata.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessStepStateMetadata.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/Internal/KernelProcessStateMetadataExtension.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/KernelProcessStateTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/CloneTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/KernelProcessStateMetadataFactory.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessConstants.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessExtensions.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
Labels: .NET, documentation, processes

#9554 .Net: Add {Azure}OpenAI support Audio-to-Text Timestamp Granularities
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIAudioToTextExecutionSettings.cs
Labels: .NET, kernel

#9527 .Net: Added an example how to access ChatHistory in SK function
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryInFunctions.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#9556 .Net: Include the operation in the KernelFunction.Metadata
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/OpenApiKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
Labels: .NET

#9559 .Net: Version 1.27.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#9560 .Net: Process Framework: Simplify Event Emission in Process Steps
  dotnet/samples/Demos/ProcessWithDapr/Controllers/ProcessController.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepContext.cs
  dotnet/src/IntegrationTests/Processes/ProcessCycleTests.cs
Labels: PR: ready for review, .NET, kernel, experimental, enhancement, processes

#9562 .Net: First step in moving to use function calling processor
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Connectors.MistralAI.csproj
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAITextEmbeddingGenerationService.cs
Labels: .NET, kernel

#9558 .Net: Parse multiple servers
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_1.yaml
Labels: .NET

#9568 .Net: Make OpenApi model classes experimental
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiInfo.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationExpectedResponse.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationParameter.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationParameterLocation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationParameterStyle.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationPayload.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationPayloadProperty.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationServer.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationServerVariable.cs
Labels: .NET, openapi

#9581 .Net Agents - Fix polling cycle to properly evaluate failure mode on exception
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/RunPollingOptions.cs
Labels: PR: ready for review, .NET, experimental, enhancement, agents

#9430 .Net: Provide access to the security scheme and requirement for an Open API function
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOAuthFlow.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOAuthFlows.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiSecurityRequirement.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiSecurityScheme.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiSpecification.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/OpenApiKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/apikey-securityV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/no-securityV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/oauth-securityV3_0.json
Labels: .NET, openapi

#9550 .Net: Shared (Cross-Runtime) integration tests for Processes
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Experimental/Process.Abstractions/KernelProcessContext.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Contracts/ProcessStartRequest.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Controllers/ProcessTestController.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/HealthActor.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/IHealthActor.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Process.IntegrationTestHost.Dapr.csproj
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/ProcessStateTypeResolver.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Program.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/appsettings.json
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/DaprTestProcessContext.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/Process.IntegrationTestRunner.Dapr.csproj
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/ProcessTestFixture.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/README.md
  dotnet/src/Experimental/Process.IntegrationTestRunner.Local/Process.IntegrationTestRunner.Local.csproj
  dotnet/src/Experimental/Process.IntegrationTestRunner.Local/ProcessTestFixture.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/Process.IntegrationTests.Resources.csproj
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessCycleTestResources.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/Process.IntegrationTests.Shared.csproj
  dotnet/src/Experimental/Process.IntegrationTests.Shared/Process.IntegrationTests.Shared.props
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessCycleTests.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessTestFixture.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessTests.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/TestSettings/AzureOpenAIConfiguration.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/TestSettings/OpenAIConfiguration.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/TestSettings/ProcessTestGroup.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/TestSettings/testsettings.json
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprKernelProcessContext.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprStepInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IProcess.cs
  dotnet/src/Experimental/Process.UnitTests/Process.UnitTests.csproj
  dotnet/src/IntegrationTests/Processes/ProcessCycleTests.cs
Labels: .NET, kernel, experimental, documentation, processes

#9561 .Net: Added support for OpenAI image detail level property
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionWithVision.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ImageContentTests.cs
Labels: .NET, kernel

#9601 .Net: Don't allow function name/id to be overwritten with an empty string
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContentBuilder.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/FunctionCallBuilder/FunctionCallContentBuilderTests.cs
Labels: .NET, kernel, kernel.core

#9604 Comment out broken link
  docs/decisions/0054-processes.md
Labels: documentation

#9595 .Net: Rename OpenAPI model classes
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/HttpContentFactory.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiExpectedResponse.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiParameter.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiParameterLocation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiParameterStyle.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiPayload.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiPayloadProperty.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiSecurityScheme.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiServer.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiServerVariable.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiSpecification.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/FormStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/PipeDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/SimpleStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/SpaceDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/FormStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/PipeDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/SimpleStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/SpaceDelimitedStyleParametersSerializerTests.cs
Labels: .NET, openapi

#9574 Python: Adding Vector Search to the In Memory collection
  .github/workflows/python-lint.yml
  python/.pre-commit-config.yaml
  python/.vscode/tasks.json
  python/semantic_kernel/connectors/memory/azure_ai_search/azure_ai_search_collection.py
  python/semantic_kernel/connectors/memory/in_memory/const.py
  python/semantic_kernel/connectors/memory/in_memory/in_memory_collection.py
  python/semantic_kernel/data/filter_clauses/any_tags_equal_to_filter_clause.py
  python/semantic_kernel/data/filter_clauses/equal_to_filter_clause.py
  python/semantic_kernel/data/filter_clauses/filter_clause_base.py
  python/semantic_kernel/search/__init__.py
  python/semantic_kernel/search/const.py
  python/tests/unit/connectors/memory/in_memory/test_in_memory.py
Labels: python, memory

#9608 Python: Add type hint for ProcessStepBuilder in send_event_to. Improve schema building.
  python/semantic_kernel/processes/process_step_edge_builder.py
  python/semantic_kernel/schema/kernel_json_schema_builder.py
  python/tests/integration/memory/vector_stores/postgres/test_postgres_int.py
  python/tests/unit/processes/test_process_step_edge_builder.py
  python/tests/unit/services/test_service_utils.py
Labels: python, processes

#9610 .Net: Version 1.28.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#9611 Python: Bump Python version to 1.14.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#9598 .Net Processes: fixing KernelProcessStateMetadata usage
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FishSandwichStateProcessSuccess.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FishSandwichStateProcessSuccessLowStock.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FriedFishProcessStateSuccess.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FriedFishProcessStateSuccessLowStock.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FriedFishProcessStateSuccessNoStock.json
  dotnet/samples/GettingStartedWithProcesses/Utilities/ProcessStateMetadataUtilities.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessStateMetadata.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessStepStateMetadata.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/Internal/KernelProcessStateMetadataExtension.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/CloneTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/KernelProcessStateMetadataFactory.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessConstants.cs
Labels: .NET, processes

#9488 .Net: MS AI Ollama with Function calling
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Demos/OllamaFunctionCalling/OllamaFunctionCalling.csproj
  dotnet/samples/Demos/OllamaFunctionCalling/Plugins/MyAlarmPlugin.cs
  dotnet/samples/Demos/OllamaFunctionCalling/Plugins/MyLightPlugin.cs
  dotnet/samples/Demos/OllamaFunctionCalling/Plugins/MyTimePlugin.cs
  dotnet/samples/Demos/OllamaFunctionCalling/Program.cs
  dotnet/samples/Demos/OllamaFunctionCalling/README.md
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Connectors.Ollama.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Extensions/OllamaKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Extensions/OllamaServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_function_call_response.txt
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_multiple_function_calls_test_response.txt
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_test_response.txt
  dotnet/src/Connectors/Connectors.Ollama/Connectors.Ollama.csproj
  dotnet/src/Connectors/Connectors.Ollama/Core/ServiceBase.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextEmbeddingsGenerationService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaTextEmbeddingTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/InternalUtilities/test/MultipleHttpMessageHandlerStub.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatClientChatCompletionService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceChatClient.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/EmbeddingGenerationServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
Labels: .NET, kernel, kernel.core, documentation

#9469 .Net: OpenApi payload construction ADR
  docs/decisions/0006-open-api-dynamic-payload-and-namespaces.md
  docs/decisions/0062-open-api-payload.md
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Plugins/OpenApiPlugin_PayloadHandling.cs
  dotnet/samples/Concepts/README.md
  dotnet/samples/Concepts/Resources/Plugins/EventPlugin/openapiV1.json
  dotnet/samples/Concepts/Resources/Plugins/EventPlugin/openapiV2.json
Labels: .NET, documentation

#9626 Python: Exclude the KernelContent's inner_content as it breaks serializing the model
  python/samples/concepts/README.md
  python/samples/concepts/chat_history/serialize_chat_history.py
  python/semantic_kernel/contents/kernel_content.py
  python/tests/unit/contents/test_chat_history.py
Labels: python, chat history

#7457 .Net Agents - `AgentChat` Serialization
  dotnet/samples/Concepts/Agents/ChatCompletion_Serialization.cs
  dotnet/samples/Concepts/Agents/MixedChat_Serialization.cs
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentChannel.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/AgentChatSerializer.cs
  dotnet/src/Agents/Abstractions/AggregatorAgent.cs
  dotnet/src/Agents/Abstractions/AggregatorChannel.cs
  dotnet/src/Agents/Abstractions/Logging/AggregatorAgentLogMessages.cs
  dotnet/src/Agents/Abstractions/Serialization/AgentChannelState.cs
  dotnet/src/Agents/Abstractions/Serialization/AgentChatState.cs
  dotnet/src/Agents/Abstractions/Serialization/AgentParticipant.cs
  dotnet/src/Agents/Abstractions/Serialization/ChatMessageReference.cs
  dotnet/src/Agents/Abstractions/Serialization/JsonChannelStateConverter.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryChannel.cs
  dotnet/src/Agents/OpenAI/Logging/OpenAIAssistantAgentLogMessages.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
  dotnet/src/Agents/UnitTests/AgentChatSerializerTests.cs
  dotnet/src/Agents/UnitTests/AgentChatTests.cs
  dotnet/src/Agents/UnitTests/Core/ChatHistoryChannelTests.cs
  dotnet/src/Agents/UnitTests/MockAgent.cs
  dotnet/src/Agents/UnitTests/MockChannel.cs
Labels: .NET, experimental, enhancement, agents, Ignite

#9524 .Net: Remove experimental attribute from the new function calling model classes
  dotnet/src/Functions/Functions.Yaml/Functions.Yaml.csproj
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/StreamingKernelContentItemCollection.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoice.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorConfiguration.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorConfigurationContext.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorOptions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/NoneFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContentBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionResultContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingFunctionCallUpdateContent.cs
Labels: .NET, kernel.core

#9635 .Net: Fix unit tests to check for security property
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/OpenApiKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
Labels: .NET

#9639 .Net: Onnx Bump 0.5.0 + Add missing integration tests
  dotnet/Directory.Packages.props
  dotnet/src/IntegrationTests/Connectors/Onnx/BertOnnxTextEmbeddingGenerationServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/Onnx/OnnxRuntimeGenAIChatCompletionServiceTests.cs
  dotnet/src/IntegrationTests/TestSettings/OnnxConfiguration.cs
Labels: .NET, kernel

#9646 .Net: Processes - Resolving issues with integrations test in Dapr runtime.
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessEvent.cs
Labels: .NET

#9652 .Net Agents - Fix Function Call Handling for Streaming
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
Labels: bug, PR: ready for review, .NET, experimental, enhancement, agents

#9658 .Net: Reverting Onnx from 0.5.0 to 0.4.0
  dotnet/Directory.Packages.props
Labels: .NET

#9426 .Net: Removed obsolete filter classes
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionFilterContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvokedContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvokingContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptFilterContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderedContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderingContext.cs
Labels: .NET, kernel.core

#9662 .Net: Added an example of OpenAI Realtime API
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/OpenAIRealtime/Assets/realtime_whats_the_weather_pcm16_24khz_mono.wav
  dotnet/samples/Demos/OpenAIRealtime/OpenAIRealtime.csproj
  dotnet/samples/Demos/OpenAIRealtime/Options/AzureOpenAIOptions.cs
  dotnet/samples/Demos/OpenAIRealtime/Options/OpenAIOptions.cs
  dotnet/samples/Demos/OpenAIRealtime/Program.cs
  dotnet/samples/Demos/OpenAIRealtime/README.md
Labels: .NET, documentation

#9665 .Net: Promote Liquid prompt template support to preview
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplateFactory.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/AssemblyInfo.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/PromptTemplates.Liquid.csproj
  dotnet/src/IntegrationTests/Connectors/Onnx/BertOnnxTextEmbeddingGenerationServiceTests.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/InputVariable.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplateFactory.cs
Labels: .NET, kernel, kernel.core

#9296 Python: Azure Cosmos DB NoSQL Vector Store & Collection implementation
  .github/workflows/python-integration-tests.yml
  python/.cspell.json
  python/samples/concepts/memory/new_memory.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/__init__.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_base.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_collection.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_composite_key.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_settings.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_store.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/const.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/utils.py
  python/semantic_kernel/connectors/memory/weaviate/utils.py
  python/semantic_kernel/data/vector_storage/vector_store_record_collection.py
  python/tests/integration/memory/vector_stores/azure_cosmos_db/conftest.py
  python/tests/integration/memory/vector_stores/azure_cosmos_db/test_azure_cosmos_db_no_sql.py
  python/tests/integration/memory/vector_stores/data_records.py
  python/tests/integration/memory/vector_stores/test_vector_store.py
  python/tests/integration/memory/vector_stores/vector_store_test_base.py
  python/tests/unit/connectors/memory/azure_cosmos_db/conftest.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql_collection.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql_store.py
  python/tests/unit/connectors/memory/conftest.py
  python/tests/unit/connectors/memory/postgres/test_postgres_store.py
  python/tests/unit/connectors/memory/weaviate/test_weaviate_collection.py
  python/tests/unit/connectors/memory/weaviate/test_weaviate_utils.py
  python/tests/unit/memory/test_azure_cognitive_search_memory_store_unit_tests.py
Labels: python, memory

#9669 .Net Agents - Fix Aggregator Streaming for Nested Mode
  dotnet/src/Agents/Abstractions/AggregatorChannel.cs
  dotnet/src/IntegrationTests/Agents/AggregatorAgentTests.cs
Labels: bug, PR: ready for review, .NET, kernel, experimental, enhancement, agents

#9621 Python: introducing Vector Search for Qdrant Collection
  python/.cspell.json
  python/samples/concepts/memory/new_memory.py
  python/semantic_kernel/connectors/memory/azure_ai_search/azure_ai_search_collection.py
  python/semantic_kernel/connectors/memory/in_memory/in_memory_collection.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_collection.py
  python/semantic_kernel/data/vector_search/vector_search.py
  python/semantic_kernel/data/vector_storage/vector_store_record_collection.py
  python/semantic_kernel/utils/list_handler.py
  python/tests/unit/connectors/memory/in_memory/test_in_memory.py
  python/tests/unit/connectors/memory/qdrant/test_qdrant.py
Labels: python, memory

#8906 .Net: Move OpenApi extensions to the SemanticKernel namespace.
  dotnet/samples/Concepts/Planners/HandlebarsPlanning.cs
  dotnet/samples/Concepts/RAG/WithPlugins.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationResponseExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationResponseTests.cs
Labels: .NET, openapi, Ignite

#9640 .Net: MS AI Azure Inference Connector Update
  .github/workflows/dotnet-build-and-test.yml
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Demos/AIModelRouter/Program.cs
  dotnet/samples/Demos/AIModelRouter/README.md
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Connectors.AzureAIInference.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Extensions/AzureAIInferenceKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Extensions/AzureAIInferenceServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Services/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Connectors.AzureAIInference.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Services/AzureAIInferenceChatCompletionService.cs
  dotnet/src/IntegrationTests/Connectors/AzureAIInference/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureAIInference/AzureAIInferenceChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTests/TestSettings/AzureAIInferenceConfiguration.cs
  dotnet/src/IntegrationTests/testsettings.json
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, kernel, documentation

#9667 Python: add new link check action
  .github/.linkspector.yml
  .github/workflows/markdown-link-check-config.json
  .github/workflows/markdown-link-check.yml
  docs/decisions/0032-agents.md
  python/README.md
  python/samples/getting_started_with_agents/README.md
Labels: python, documentation

#9680 .Net: Bump version to 1.29.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#9542 Python: Upgrading Mistral AI Connector to Version 1.0
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/mistral_ai/prompt_execution_settings/mistral_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_base.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_text_embedding.py
  python/tests/unit/connectors/ai/mistral_ai/services/test_mistralai_chat_completion.py
  python/tests/unit/connectors/ai/mistral_ai/services/test_mistralai_text_embeddings.py
  python/uv.lock
Labels: python

#9687 .Net: Update baseline package version to 1.29.0
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel, kernel.core

#9671 .Net - Complete Ability to use Samples without API Key (Security Wave)
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/LearnResources/LearnResources.csproj
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAgentsTest.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: PR: ready for review, .NET

#9688 .Net: Removed experimental flag from FunctionResult rendered prompt property
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
Labels: .NET, kernel.core

#9703 .Net: Processes - Tests for OnFunctionError events.
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Contracts/ProcessStartRequest.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Controllers/ProcessTestController.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/DaprTestProcessContext.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessCycleTestResources.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessTests.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Process.Runtime.Dapr.csproj
Labels: .NET

#9692 .Net: Logging improvements in OpenAPI plugins
  dotnet/samples/Concepts/Plugins/OpenApiPlugin_Telemetry.cs
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/Program.cs
  dotnet/src/Functions/Functions.OpenApi/DocumentLoader.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
Labels: .NET

#9704 .Net: Promote OpenAPI package to preview
  dotnet/src/Functions/Functions.OpenApi/AssemblyInfo.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/Functions.OpenApi.csproj
  dotnet/src/Functions/Functions.OpenApi/HttpResponseContentReader.cs
  dotnet/src/Functions/Functions.OpenApi/HttpResponseContentReaderContext.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParserOptions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OperationSelectionPredicateContext.cs
Labels: .NET, openapi, Ignite

#9707 Python: Bump py version to 1.15.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#9684 Python: Introducing Vector Search to Weaviate and adding the ability to have unnamed vectors
  .github/workflows/python-integration-tests.yml
  python/samples/concepts/memory/new_memory.py
  python/semantic_kernel/connectors/memory/azure_ai_search/azure_ai_search_collection.py
  python/semantic_kernel/connectors/memory/weaviate/utils.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_collection.py
  python/semantic_kernel/data/record_definition/vector_store_model_definition.py
  python/tests/conftest.py
  python/tests/integration/memory/vector_stores/data_records.py
  python/tests/integration/memory/vector_stores/test_vector_store.py
  python/tests/unit/connectors/memory/conftest.py
  python/tests/unit/connectors/memory/qdrant/test_qdrant.py
  python/tests/unit/connectors/memory/weaviate/test_weaviate_collection.py
Labels: python, PR: breaking change, memory

#9698 Python: Introducing search for CosmosDB NoSQL Collections
  python/samples/concepts/memory/new_memory.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_base.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_collection.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_settings.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/utils.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql_collection.py
Labels: python, memory

#9650 .Net: process framework - Simplest step implementation and simplification of Function event resolution for steps with 1 function.
  dotnet/samples/GettingStartedWithProcesses/README.md
  dotnet/samples/GettingStartedWithProcesses/Step00/Step00_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step00/Steps/DoMoreWorkStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step00/Steps/DoSomeWorkStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step00/Steps/LastStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step00/Steps/StartStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step01/Step01_Processes.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
Labels: PR: ready for review, .NET, experimental, enhancement, documentation, processes

#9690 .Net Agents - Support `IAutoFunctionInvocationFilter` for `OpenAIAssistantAgent`
  dotnet/samples/Concepts/Agents/ChatCompletion_FunctionTermination.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_ChartMaker.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_FunctionFilters.cs
  dotnet/src/Agents/OpenAI/Agents.OpenAI.csproj
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeAllTypes.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeHotel.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessorLoggerExtensions.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAgentsTest.cs
Labels: bug, .NET, kernel, experimental, enhancement, agents

#9706 .Net Agents - Harden Assistant handling of `FunctionResultContent`
  dotnet/src/Agents/OpenAI/Internal/AssistantMessageFactory.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
Labels: bug, PR: ready for review, .NET, experimental, enhancement, agents

#9720 Python: Update the samples/demos readme.
  python/samples/demos/README.md
Labels: python, documentation

#9737 .Net Agents - Support AdditionalMessages for `OpenAIAssistantAgent`
  dotnet/src/Agents/OpenAI/Internal/AssistantMessageFactory.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantRunOptionsFactory.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantInvocationOptions.cs
  dotnet/src/Agents/OpenAI/OpenAIThreadCreationOptions.cs
  dotnet/src/Agents/UnitTests/OpenAI/Internal/AssistantMessageFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Internal/AssistantRunOptionsFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantInvocationOptionsTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
Labels: PR: ready for review, .NET, kernel, experimental, enhancement, agents

#9710 .Net Processes - Map Step Evolution
  dotnet/samples/GettingStartedWithProcesses/Step05/Step05_MapReduce.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessMap.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessMapStateMetadata.cs
  dotnet/src/Experimental/Process.Core/Internal/KernelProcessStateMetadataExtension.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessMapBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessMapTests.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalMap.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/MapActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprMapInfo.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessMapBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/KernelProcessSerializationTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalMapTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/KernelProcessStateMetadataFactory.cs
  dotnet/src/InternalUtilities/process/Abstractions/MapExtensions.cs
  dotnet/src/InternalUtilities/process/Runtime/MapExtensions.cs
Labels: PR: ready for review, .NET, experimental, enhancement, processes

#9740 .Net Agents - Add `incomplete` status to termination check for `OpenAIAssistantAgent`
  dotnet/src/Agents/OpenAI/Internal/AssistantRunOptionsFactory.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Agents/UnitTests/OpenAI/Internal/AssistantRunOptionsFactoryTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
Labels: bug, PR: ready for review, .NET, kernel, experimental, agents

#9742 .Net Agents - Protect against null-reference for Assistant file-search result when streaming
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/TestData/employees.pdf
Labels: bug, PR: ready for review, .NET, experimental, agents

#9736 .Net: ImportPluginFromOpenApiAsync will ignore operations with unsupported content types
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/multipart-form-data.json
Labels: .NET

#9697 .Net: Samples showing use of allOf, anyof and oneOf
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Plugins/OpenApiPlugin_PayloadHandling.cs
  dotnet/samples/Concepts/Resources/Plugins/PetsPlugin/allOfV3.json
  dotnet/samples/Concepts/Resources/Plugins/PetsPlugin/anyOfV3.json
  dotnet/samples/Concepts/Resources/Plugins/PetsPlugin/oneOfV3.json
Labels: .NET

#9738 .Net: fix: forwards cancellation token to outbound connections to free up resources upon cancellation
  dotnet/src/Connectors/Connectors.Google/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.Memory.Chroma/ChromaClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/Services/OpenAIFileService.cs
  dotnet/src/Functions/Functions.OpenApi/DocumentLoader.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/InternalUtilities/src/Http/HttpContentExtensions.cs
  dotnet/src/Plugins/Plugins.Core/HttpPlugin.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingConnector.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/WebFileDownloadPlugin.cs
Labels: .NET, kernel, memory

#9718 .Net: Fix FunctionChoiceBehavior State Restoration in OllamaPromptExecutionSettings.
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Settings/OllamaPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Ollama/Settings/OllamaPromptExecutionSettings.cs
Labels: .NET, kernel

#9748 .Net: Removed Kernel events
  dotnet/samples/Concepts/Filtering/Legacy_KernelHooks.cs
  dotnet/samples/GettingStarted/Step7_Observability.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/PromptRenderingResult.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/FunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel, kernel.core

#9739 Python: updated pre-commits
  python/.pre-commit-config.yaml
  python/pyproject.toml
  python/samples/concepts/plugins/openai_plugin_azure_key_vault.py
  python/samples/learn_resources/plugins/GithubPlugin/github.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_runner.py
  python/semantic_kernel/connectors/search/__init__.py
  python/semantic_kernel/connectors/search/bing/bing_search.py
  python/semantic_kernel/connectors/search/google/google_search.py
  python/semantic_kernel/connectors/search_engine/bing_connector.py
  python/semantic_kernel/connectors/search_engine/google_connector.py
  python/semantic_kernel/connectors/utils/document_loader.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/functions/kernel_plugin.py
  python/semantic_kernel/kernel_types.py
  python/semantic_kernel/prompt_template/prompt_template_config.py
  python/uv.lock
Labels: python

#9339 .Net Processes - Map Step Feature
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithProcesses/Step05/Step05_MapReduce.cs
  dotnet/samples/GettingStartedWithProcesses/Utilities/ProcessStateMetadataUtilities.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessMap.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessMapState.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepContext.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepState.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessMapStateMetadata.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessStepStateMetadata.cs
  dotnet/src/Experimental/Process.Core/Internal/KernelProcessStateMetadataExtension.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessFunctionTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessMapBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Controllers/ProcessTestController.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/ProcessStateTypeResolver.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessMapTestResources.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessMapTests.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalMap.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr.UnitTests/ProcessMessageSerializationTests.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ActorStateKeys.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/MapActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprKernelProcessContext.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprKernelProcessFactory.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprMapInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprProcessInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprStepInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IMap.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IProcess.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/KernelProcessDaprExtensions.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessMapBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/KernelProcessMapTests.cs
  dotnet/src/Experimental/Process.UnitTests/KernelProcessSerializationTests.cs
  dotnet/src/Experimental/Process.UnitTests/KernelProcessStateTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalMapTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/CloneTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/KernelProcessStateMetadataFactory.cs
  dotnet/src/InternalUtilities/process/Abstractions/MapExtensions.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessConstants.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
  dotnet/src/InternalUtilities/process/Runtime/MapExtensions.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessEvent.cs
Labels: PR: ready for review, .NET, experimental, enhancement, processes

#9693 Python: Azure AI Inference tracing SDK
  python/.cspell.json
  python/pyproject.toml
  python/samples/demos/telemetry/main.py
  python/samples/demos/telemetry/scenarios.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/azure_ai_inference_settings.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_base.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_text_embedding.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_tracing.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_base.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/utils.py
  python/semantic_kernel/utils/authentication/async_default_azure_credential_wrapper.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/model_diagnostics_settings.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/embeddings/test_embedding_service_base.py
  python/tests/unit/connectors/ai/azure_ai_inference/conftest.py
  python/tests/unit/connectors/ai/azure_ai_inference/services/test_azure_ai_inference_chat_completion.py
  python/tests/unit/connectors/ai/azure_ai_inference/services/test_azure_ai_inference_text_embedding.py
  python/tests/unit/connectors/ai/azure_ai_inference/services/test_azure_ai_inference_tracing.py
  python/tests/unit/utils/model_diagnostics/test_decorated.py
  python/uv.lock
Labels: PR: in progress, python, memory

#9760 .Net: Updated streaming example of Azure chat completion with data
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAIWithData_ChatCompletion.cs
Labels: .NET

#9770 .Net: chore: avoid awaiting delay if its zero
  dotnet/src/Experimental/Orchestration.Flow/Execution/FlowExecutor.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
Labels: .NET

#9772 .Net: Add unit test to confirm 429 exception handling
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
Labels: .NET, kernel

#9674 .Net: Update M.E.AI.Abstractions version
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatClientChatCompletionService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceChatClient.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
Labels: .NET, kernel, kernel.core

#9670 Python: OpenAPI plugin updates to promote plugin to preview
  python/samples/demos/process_with_dapr/fastapi_app.py
  python/samples/demos/process_with_dapr/flask_app.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_tracing.py
  python/semantic_kernel/connectors/openai_plugin/openai_authentication_config.py
  python/semantic_kernel/connectors/openai_plugin/openai_function_execution_parameters.py
  python/semantic_kernel/connectors/openai_plugin/openai_utils.py
  python/semantic_kernel/connectors/openapi_plugin/__init__.py
  python/semantic_kernel/connectors/openapi_plugin/const.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_expected_response.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_oauth_flow.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_oauth_flows.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_parameter.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_payload.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_payload_property.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_parameter.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_parameter_location.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_parameter_style.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_payload.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_payload_property.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_run_options.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_security_requirement.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_security_scheme.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_function_execution_parameters.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_manager.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_parser.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_runner.py
  python/semantic_kernel/connectors/openapi_plugin/operation_selection_predicate_context.py
  python/semantic_kernel/functions/kernel_function_extension.py
  python/semantic_kernel/functions/kernel_plugin.py
  python/tests/integration/cross_language/test_cross_language.py
  python/tests/unit/connectors/openapi_plugin/apikey-securityV3_0.json
  python/tests/unit/connectors/openapi_plugin/no-securityV3_0.json
  python/tests/unit/connectors/openapi_plugin/oauth-securityV3_0.json
  python/tests/unit/connectors/openapi_plugin/openapi.yaml
  python/tests/unit/connectors/openapi_plugin/test_openapi_manager.py
  python/tests/unit/connectors/openapi_plugin/test_openapi_parser.py
  python/tests/unit/connectors/openapi_plugin/test_openapi_runner.py
  python/tests/unit/connectors/openapi_plugin/test_rest_api_operation_run_options.py
  python/tests/unit/connectors/openapi_plugin/test_sk_openapi.py
  python/tests/unit/functions/test_kernel_plugins.py
Labels: python, openapi

#9764 Python: Add AI connector README
  python/samples/concepts/chat_completion/chat_bedrock_api.py
  python/samples/concepts/local_models/lm_studio_chat_completion.py
  python/samples/concepts/local_models/lm_studio_text_embedding.py
  python/samples/concepts/local_models/ollama_chat_completion.py
  python/samples/concepts/model_as_a_service/mmlu_model_eval.py
  python/samples/concepts/setup/ALL_SETTINGS.md
  python/semantic_kernel/connectors/ai/README.md
  python/semantic_kernel/connectors/ai/bedrock/__init__.py
  python/semantic_kernel/connectors/ai/google/google_ai/__init__.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_text_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/__init__.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/integration/embeddings/test_embedding_service_base.py
Labels: python, documentation

#9775 .Net: Improved example with telemetry in filters for streaming scenario
  dotnet/samples/Concepts/Filtering/TelemetryWithFilters.cs
Labels: .NET

#9781 Python: Bump Python version to 1.16.0 for a release.
  python/pyproject.toml
  python/semantic_kernel/__init__.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/semantic_kernel/contents/streaming_annotation_content.py
  python/semantic_kernel/contents/streaming_file_reference_content.py
  python/uv.lock
Labels: python

#9789 Python: Fix syntax for pinned pydantic package.
  python/pyproject.toml
  python/uv.lock
Labels: python

#9784 .Net: Add JsonElement String to Primitive Implicit Conversion Support (SLM Function Calling)
  dotnet/samples/Demos/OllamaFunctionCalling/Program.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
Labels: .NET, kernel

#9797 .Net Processes - Sync parameter name for error handler
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
Labels: bug, PR: ready for review, .NET, processes

#9794 .Net: Improve the DI sample and function naming
  dotnet/samples/GettingStarted/GettingStarted.csproj
  dotnet/samples/GettingStarted/Resources/repair-service.json
  dotnet/samples/GettingStarted/Step1_Create_Kernel.cs
  dotnet/samples/GettingStarted/Step2_Add_Plugins.cs
  dotnet/samples/GettingStarted/Step3_Yaml_Prompt.cs
  dotnet/samples/GettingStarted/Step4_Dependency_Injection.cs
  dotnet/samples/GettingStarted/Step5_Chat_Prompt.cs
  dotnet/samples/GettingStarted/Step6_Responsible_AI.cs
  dotnet/samples/GettingStarted/Step8_Pipelining.cs
  dotnet/samples/GettingStarted/Step9_OpenAPI_Plugins.cs
Labels: .NET

#9795 .Net: Update to latest M.E.AI
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Services/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Services/AzureAIInferenceChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceChatClient.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/EmbeddingGenerationServiceExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
Labels: .NET, kernel, kernel.core

#9804 .Net: Fix bug where filtered tag field throws.
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#9808 .Net: Stop setting upper bound on nuget references
  dotnet/Directory.Packages.props
Labels: .NET

#9809 .Net: Add new 2024-09-01-preview version
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.cs
Labels: .NET, kernel

#9753 Python: Introduced a new condition to yield `StreamingChatMessageContent` directly when usage data is available.
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/tests/unit/connectors/ai/open_ai/services/test_azure_chat_completion.py
Labels: python

#9824 .Net: Fix typo
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoMemoryStore.cs
Labels: .NET, kernel, memory

#9801 .Net: Improve docs for OpenAI repsonse format property
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIPromptExecutionSettings.cs
Labels: .NET, kernel

#9822 Python: Refactor chat completion concept samples
  python/samples/concepts/README.md
  python/samples/concepts/chat_completion/azure_chat_gpt_api.py
  python/samples/concepts/chat_completion/azure_chat_image_input.py
  python/samples/concepts/chat_completion/chat_anthropic_api.py
  python/samples/concepts/chat_completion/chat_bedrock_api.py
  python/samples/concepts/chat_completion/chat_gpt_api.py
  python/samples/concepts/chat_completion/chat_mistral_api.py
  python/samples/concepts/chat_completion/chat_streaming.py
  python/samples/concepts/chat_completion/openai_logit_bias.py
  python/samples/concepts/chat_completion/simple_chatbot.py
  python/samples/concepts/chat_completion/simple_chatbot_kernel_function.py
  python/samples/concepts/chat_completion/simple_chatbot_logit_bias.py
  python/samples/concepts/chat_completion/simple_chatbot_streaming.py
  python/samples/concepts/chat_completion/simple_chatbot_with_image.py
  python/samples/concepts/setup/chat_completion_services.py
  python/samples/concepts/setup/openai_env_setup.py
  python/semantic_kernel/connectors/ai/onnx/__init__.py
  python/tests/samples/test_concepts.py
Labels: python, documentation

#9833 .Net: Replaced IMemoryStore with IVectorStore in examples
  dotnet/samples/Concepts/Caching/SemanticCachingWithFilters.cs
  dotnet/samples/Concepts/Optimization/FrugalGPTWithFilters.cs
  dotnet/samples/Concepts/Optimization/PluginSelectionWithFilters.cs
  dotnet/samples/Demos/OnnxSimpleRAG/README.md
Labels: .NET, documentation

#9835 .Net: Version 1.31.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#9834 .Net: Add OpenAPI operations filtering samples
  dotnet/samples/Concepts/Plugins/OpenApiPlugin_Filtering.cs
  dotnet/samples/Concepts/Plugins/OpenApiPlugin_PayloadHandling.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, openapi, documentation

#7568 Update COMMUNITY.md
  COMMUNITY.md
Labels: documentation

#9839 Python: remove mistaken on_activate func
  python/samples/getting_started_with_processes/step01/step01_processes.py
  python/semantic_kernel/processes/kernel_process/kernel_process_step.py
Labels: python

#9845 Python: improve integration test runs
  .github/workflows/python-build.yml
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-lint.yml
  .github/workflows/python-test-coverage.yml
  .github/workflows/python-unit-tests.yml
  python/samples/concepts/chat_completion/simple_chatbot.py
  python/samples/concepts/chat_completion/simple_chatbot_kernel_function.py
  python/samples/concepts/chat_completion/simple_chatbot_logit_bias.py
  python/samples/concepts/chat_completion/simple_chatbot_streaming.py
  python/samples/concepts/chat_completion/simple_chatbot_with_image.py
  python/samples/concepts/setup/chat_completion_services.py
  python/semantic_kernel/connectors/ai/anthropic/prompt_execution_settings/anthropic_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/azure_ai_inference_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/bedrock/bedrock_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/google/google_ai/google_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/vertex_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/mistral_ai/prompt_execution_settings/mistral_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/ollama/ollama_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/onnx/onnx_gen_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/onnx/services/onnx_gen_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/azure_chat_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/prompt_execution_settings.py
  python/semantic_kernel/contents/kernel_content.py
  python/tests/conftest.py
  python/tests/integration/audio_to_text/audio_to_text_test_base.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/conftest.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/integration/completions/test_chat_completion_with_image_input_text_output.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_conversation_summary_plugin.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/integration/embeddings/test_embedding_service_base.py
  python/tests/integration/memory/memory_stores/test_astradb_memory_store.py
  python/tests/integration/memory/memory_stores/test_pinecone_memory_store.py
  python/tests/integration/memory/vector_stores/azure_cosmos_db/test_azure_cosmos_db_no_sql.py
  python/tests/integration/text_to_audio/text_to_audio_test_base.py
  python/tests/samples/samples_utils.py
  python/tests/samples/test_concepts.py
  python/tests/samples/test_learn_resources.py
  python/tests/utils.py
Labels: python

#9847 Python: small makefile update for python
  python/Makefile
Labels: python

#9716 Python: Fix Onnx Connector Memory Problem with Onnx
  python/semantic_kernel/connectors/ai/onnx/services/onnx_gen_ai_completion_base.py
Labels: python
