Repository microsoft/semantic-kernel, pull requests merged in 2024-10, with the labels that each got.

#9045 .Net: Remove duplicating AOT attributes
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcessFactory.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContent.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelParameterMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelReturnParameterMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
Labels: .NET, kernel.core

#9047 .Net: Fix type, interrogate
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcessFactory.cs
Labels: .NET

#9048 .Net: Split verification methods from VectorStoreRecordPropertyReader
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyVerification.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyVerificationTests.cs
Labels: .NET, kernel, memory

#8068 .Net: Improve the `ITextToImageService` abstractions to support `ExecutionSettings`
  dotnet/samples/Concepts/TextToImage/OpenAI_TextToImage.cs
  dotnet/samples/Concepts/TextToImage/OpenAI_TextToImageLegacy.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/text-to-image-b64_json-format-response.json
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/text-to-image-response.json
  dotnet/src/Connectors/Connectors.AzureOpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Connectors.OpenAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/TestData/text-to-image-b64_json-format-response.json
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/TestData/text-to-image-response.json
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/TestData/text-to-image-response.txt
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.TextToImage.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/Services/OpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAITextToImageExecutionSettings.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextToImageTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextToImageTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextToImage/ITextToImageService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextToImage/TextToImageServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Contents/TextContent.cs
Labels: .NET, kernel, kernel.core

#9050 .Net: Fix issues after vector split merge.
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
Labels: .NET

#9049 .Net: Update README.md
  dotnet/samples/GettingStartedWithProcesses/README.md
Labels: .NET, documentation

#9026 .Net: Support DI for Text Search Services
  dotnet/src/Plugins/Plugins.UnitTests/Web/Bing/BingTextSearchTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Google/GoogleTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/WebKernelBuilderExtensions.cs
  dotnet/src/Plugins/Plugins.Web/WebServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchKernelBuilderExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchServiceCollectionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreTextSearchTestBase.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreTextSearchTests.cs
Labels: .NET, kernel

#9052 Python: Improve exception log message in streaming content merge item list
  python/semantic_kernel/contents/streaming_content_mixin.py
Labels: python

#9027 .Net: Remove unnecessary DAM attributes
  dotnet/samples/Demos/AotCompatibility.TestApp/AotCompatibility.TestApp.csproj
  dotnet/src/InternalUtilities/src/System/InternalTypeConverter.cs
  dotnet/src/InternalUtilities/src/System/TypeConverterFactory.cs
Labels: .NET

#9058 .Net: Fix build errors and warnings after merge with the main branch
  dotnet/src/SemanticKernel.Abstractions/AI/TextToImage/TextToImageServiceExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, aot

#9046 .Net: Adapt In-Memory Connector to new Text Search Design
  dotnet/src/IntegrationTests/Data/BaseTextSearchTests.cs
  dotnet/src/IntegrationTests/Data/BaseVectorStoreTextSearchTests.cs
  dotnet/src/IntegrationTests/Data/VectorStoreExtensions.cs
  dotnet/src/IntegrationTests/Data/VolatileVectorStoreTextSearchTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Plugins/Web/Bing/BingTextSearchTests.cs
  dotnet/src/IntegrationTests/Plugins/Web/Google/GoogleTextSearchTests.cs
  dotnet/src/IntegrationTests/README.md
  dotnet/src/IntegrationTests/TestData/semantic-kernel-info.txt
  dotnet/src/SemanticKernel.Core/Data/KernelBuilderExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/ServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/KernelBuilderExtensionsTests.cs
Labels: .NET, kernel, documentation

#9054 .Net: Vector store PropertyReader refactor
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonGenericDataModelMapperTests.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordMapping.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReaderOptions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyVerificationTests.cs
Labels: .NET, kernel, memory

#8943 Python: Anthropic function calling update
  python/samples/concepts/auto_function_calling/anthropic_api_function_calling.py
  python/semantic_kernel/connectors/ai/anthropic/prompt_execution_settings/anthropic_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/unit/connectors/anthropic/services/test_anthropic_chat_completion.py
  python/tests/unit/connectors/anthropic/test_anthropic_request_settings.py
Labels: python

#9055 Python: Add support for streaming OpenAI assistants
  docs/PLANNERS.md
  python/samples/concepts/README.md
  python/samples/concepts/agents/README.md
  python/samples/concepts/agents/assistant_agent_chart_maker.py
  python/samples/concepts/agents/assistant_agent_retrieval.py
  python/samples/concepts/agents/assistant_agent_streaming.py
  python/samples/concepts/agents/mixed_chat_streaming.py
  python/samples/getting_started/CONFIGURING_THE_KERNEL.md
  python/samples/getting_started_with_agents/README.md
  python/samples/getting_started_with_agents/step8_assistant_vision.py
  python/semantic_kernel/agents/channels/agent_channel.py
  python/semantic_kernel/agents/channels/chat_history_channel.py
  python/semantic_kernel/agents/channels/open_ai_assistant_channel.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/group_chat/agent_chat.py
  python/semantic_kernel/agents/group_chat/agent_group_chat.py
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/semantic_kernel/contents/__init__.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/const.py
  python/semantic_kernel/contents/streaming_annotation_content.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/semantic_kernel/contents/streaming_file_reference_content.py
  python/tests/unit/agents/test_agent_chat.py
  python/tests/unit/agents/test_agent_group_chat.py
  python/tests/unit/agents/test_chat_history_channel.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
  python/tests/unit/agents/test_open_ai_assistant_channel.py
  python/tests/unit/contents/test_streaming_annotation_content.py
  python/tests/unit/contents/test_streaming_file_reference_content.py
  python/uv.lock
Labels: python, documentation

#9065 Python: Bump Python version to 1.11.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#9061 .Net: Adapt Azure AI Search Connector to new Text Search Design
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchTextSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Data/BaseTextSearchTests.cs
  dotnet/src/IntegrationTests/Data/BaseVectorStoreTextSearchTests.cs
  dotnet/src/IntegrationTests/Data/VolatileVectorStoreTextSearchTests.cs
  dotnet/src/IntegrationTests/Plugins/Web/Bing/BingTextSearchTests.cs
  dotnet/src/IntegrationTests/Plugins/Web/Google/GoogleTextSearchTests.cs
  dotnet/src/IntegrationTests/README.md
Labels: .NET, kernel, documentation

#8656 Python: OpenAI Structured Output `response_format` ADR
  docs/decisions/0055-python-structured-output.md
Labels: documentation

#9080 Python: Include streaming code output for OpenAI Assistants
  python/samples/concepts/agents/assistant_agent_file_manipulation_streaming.py
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
  python/uv.lock
Labels: python

#9060 .Net: ADR - Connectors Versioning Strategy for Underlying SDKs
  docs/decisions/0055-dotnet-azureopenai-stable-version-strategy.md
Labels: documentation

#9078 .Net: {Azure}OpenAI Connectors Update to 2.1.0-beta.1
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/Agents/ComplexChat_NestedShopper.cs
  dotnet/samples/Concepts/Agents/MixedChat_Files.cs
  dotnet/samples/Concepts/Agents/MixedChat_Images.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_ChartMaker.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_FileManipulation.cs
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAIWithData_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_CustomClient.cs
  dotnet/samples/Concepts/Planners/AutoFunctionCallingPlanning.cs
  dotnet/samples/GettingStartedWithAgents/Step09_Assistant_Vision.cs
  dotnet/samples/GettingStartedWithAgents/Step11_AssistantTool_FileSearch.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantMessageFactory.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantRunOptionsFactory.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIClientProvider.cs
  dotnet/src/Agents/UnitTests/OpenAI/Internal/AssistantMessageFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantResponseContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIFunctionToolCallTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Extensions/OpenAIPluginCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.AudioToText.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.Embeddings.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/OpenAIFunctionToolCall.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionFunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionStreamingTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_StreamingTests.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAgentsTest.cs
Labels: .NET, kernel

#9064 .Net: Improve mapper effeciency for pinecone and redis hashsets.
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordMapper.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordMapping.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordMappingTests.cs
Labels: .NET, kernel, memory

#9082 .Net: Add response container type for vector search results.
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Common.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiVector.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Paging.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Simple.cs
  dotnet/samples/Concepts/Memory/VolatileVectorStore_LoadData.cs
  dotnet/samples/Concepts/Search/VectorStore_TextSearch.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Data/BaseVectorStoreTextSearchTests.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/IVectorizableTextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/IVectorizedSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/VectorSearchOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/VectorSearchResults.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreTextSearchTestBase.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, kernel.core, memory

#9090 .Net: Use AsynEnumerable search interface for azure ai search.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchTextSearchTests.cs
  dotnet/src/IntegrationTests/TestSettings/Memory/AzureAISearchSetup.psm1
Labels: .NET, kernel, memory

#9091 .Net: Bump OllamaSharp to Strong Name signed package.
  dotnet/Directory.Packages.props
Labels: .NET

#9096 .Net Agents - Align with expectations when arguments override specified.
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantToolResourcesFactory.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/UnitTests/KernelAgentTests.cs
  dotnet/src/Agents/UnitTests/MockAgent.cs
Labels: PR: ready for review, .NET, agents

#9095 .NET: Processes support for sub-processes
  dotnet/samples/GettingStartedWithProcesses/Step01/Step01_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02_AccountOpening.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEvent.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEventVisibility.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessFunctionTarget.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessFunctionTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalEvent.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalMessage.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalMessageFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepBuilderTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Processes/ProcessTests.cs
Labels: .NET, kernel

#9076 .Net: Update Qdrant Memory Connector to new Text Search Design
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantTextSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel

#9086 .Net: Add attributes to add to a model which can be converted to a TextSearchResult
  dotnet/samples/Concepts/Search/VectorStore_TextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/TextSearchResultLinkAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/TextSearchResultNameAttribute.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/TextSearchResultValueAttribute.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchResultPropertyReader.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
Labels: .NET, kernel.core

#9143 .Net: Process - Fixing issue with steps being invoked multiple times.
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/IntegrationTests/Processes/ProcessCycleTests.cs
Labels: .NET, kernel

#8951 Python: Add Vector Store to PostgreSQL connector
  .github/workflows/python-integration-tests.yml
  python/samples/concepts/memory/new_memory.py
  python/samples/getting_started/third_party/.env.example
  python/samples/getting_started/third_party/postgres-memory.ipynb
  python/semantic_kernel/connectors/memory/postgres/__init__.py
  python/semantic_kernel/connectors/memory/postgres/constants.py
  python/semantic_kernel/connectors/memory/postgres/postgres_collection.py
  python/semantic_kernel/connectors/memory/postgres/postgres_memory_store.py
  python/semantic_kernel/connectors/memory/postgres/postgres_settings.py
  python/semantic_kernel/connectors/memory/postgres/postgres_store.py
  python/semantic_kernel/connectors/memory/postgres/utils.py
  python/tests/conftest.py
  python/tests/integration/connectors/memory/test_postgres.py
  python/tests/integration/connectors/memory/test_postgres_memory_store.py
  python/tests/unit/connectors/memory/test_postgres.py
Labels: python, memory

#9145 Update TRANSPARENCY_FAQS.md
  TRANSPARENCY_FAQS.md
Labels: documentation

#9104 Python/.Net: Agent Resources for Learn-Site Update
  .github/_typos.toml
  dotnet/samples/LearnResources/Plugins/GitHub/GitHubModels.cs
  dotnet/samples/LearnResources/Plugins/GitHub/GitHubPlugin.cs
  dotnet/samples/LearnResources/Resources/Grimms-The-King-of-the-Golden-Mountain.txt
  dotnet/samples/LearnResources/Resources/Grimms-The-Water-of-Life.txt
  dotnet/samples/LearnResources/Resources/Grimms-The-White-Snake.txt
  dotnet/samples/LearnResources/Resources/PopulationByAdmin1.csv
  dotnet/samples/LearnResources/Resources/PopulationByCountry.csv
  dotnet/samples/LearnResources/Resources/WomensSuffrage.txt
  python/.vscode/settings.json
  python/samples/learn_resources/agent_docs/agent_collaboration.py
  python/samples/learn_resources/agent_docs/assistant_code.py
  python/samples/learn_resources/agent_docs/assistant_search.py
  python/samples/learn_resources/agent_docs/chat_agent.py
  python/samples/learn_resources/plugins/GithubPlugin/github.py
  python/samples/learn_resources/resources/Grimms-The-King-of-the-Golden-Mountain.txt
  python/samples/learn_resources/resources/Grimms-The-Water-of-Life.txt
  python/samples/learn_resources/resources/Grimms-The-White-Snake.txt
  python/samples/learn_resources/resources/PopulationByAdmin1.csv
  python/samples/learn_resources/resources/PopulationByCountry.csv
Labels: PR: ready for review, .NET, python, agents

#9150 .Net: Use empty string instead of null content in assistant message in Azure/OpenAI connectors
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
Labels: .NET, kernel

#9158 .Net: Fixing subprocess triggered by multiple inputs unexpected behavior bug
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/IntegrationTests/Processes/ProcessTests.cs
Labels: .NET, kernel

#9155 .Net: Add Optional version parameter for Azure OpenAI API's.
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToImageService.cs
Labels: .NET, kernel

#9157 .Net: Version 1.22.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#9087 .Net: SK Process - Sample 3 Food related samples
  dotnet/samples/GettingStartedWithProcesses/README.md
  dotnet/samples/GettingStartedWithProcesses/Step03/Models/FoodIngredients.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Models/FoodOrderItem.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishAndChipsProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishSandwichProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FriedFishProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/PotatoFriesProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/SingleFoodItemProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03_FoodPreparation.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/CutFoodStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/ExternalStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/FryFoodStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/GatherIngredientsStep.cs
Labels: PR: ready for review, .NET, experimental, documentation

#9167 Fix ADR numbering
  docs/decisions/0056-python-streaming-content-for-token-usage.md
  docs/decisions/0057-python-structured-output.md
  docs/decisions/0058-vector-search-design.md
  docs/decisions/0059-text-search.md
Labels: documentation

#9166 .Net: Net: Bump System.Text.Json away from vulnerable package 8.0.4
  dotnet/Directory.Packages.props
Labels: .NET

#9169 .Net: Disable the Qdrant and Google text search integration tests
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantTextSearchTests.cs
  dotnet/src/IntegrationTests/Plugins/Web/Google/GoogleTextSearchTests.cs
Labels: .NET, kernel

#9103 Python: Add 'low' Severity Level to ContentFilterResultSeverity Enum
  python/semantic_kernel/connectors/ai/open_ai/exceptions/content_filter_ai_exception.py
Labels: python

#9142 Python: Update 05-using-the-planner.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
Labels: python

#9131 .Net: Allow the endpoint parameter in AddHuggingFaceChatCompletion to be optional
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceChatCompletionService.cs
Labels: .NET, kernel

#9137 .Net: Add backward compatibility and data migration examples
  dotnet/samples/Concepts/Memory/VectorStore_ConsumeFromMemoryStore_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_ConsumeFromMemoryStore_Common.cs
  dotnet/samples/Concepts/Memory/VectorStore_ConsumeFromMemoryStore_Qdrant.cs
  dotnet/samples/Concepts/Memory/VectorStore_ConsumeFromMemoryStore_Redis.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_Simple.cs
  dotnet/samples/Concepts/Memory/VectorStore_MigrateFromMemoryStore_Redis.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, documentation, memory

#9181 .Net: Processes - Sample Pattern Adjustments
  dotnet/samples/GettingStartedWithProcesses/SharedSteps/ScriptedUserInputStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step01/Step01_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02_AccountOpening.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03_FoodPreparation.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: PR: ready for review, .NET, experimental, samples, processes

#9184 .Net Processes - Fluent edge building
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02_AccountOpening.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishAndChipsProcess.cs
  dotnet/src/Experimental/Process.Core/ProcessEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.UnitTests/KernelProcessStateTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessTypeExtensionsTests.cs
Labels: PR: ready for review, .NET, experimental, processes

#9079 .Net: Make Core package AOT compatible
  docs/decisions/0060-jsos-integration.md
  dotnet/samples/Demos/AotCompatibility.TestApp/AotCompatibility.TestApp.csproj
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReaderOptions.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyVerification.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContentBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorStore.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStore.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
  dotnet/src/SemanticKernel.UnitTests/Contents/FunctionCallBuilder/FunctionCallContentBuilderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/FunctionCallBuilder/KernelArgumentsJsonSerializerContext.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/JsonSerializerContexts/PrimitiveTypesJsonSerializerContext.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/JsonSerializerContexts/TestJsonSerializerOptionsForPrimitives.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/JsonSerializerContexts/TestJsonSerializerOptionsForTestParameterAndReturnTypes.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/JsonSerializerContexts/TestParameterType.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/JsonSerializerContexts/TestParameterTypeJsonSerializerContext.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/JsonSerializerContexts/TestReturnType.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/JsonSerializerContexts/TestReturnTypeJsonSerializerContext.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelExtensions_CreateAddAImportPluginsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelExtensions_CreateFunctionFromMethodTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelExtensions_CreateFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelExtensions_InvokePromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFactory_CreateFromDelegateTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFactory_CreateFromMethodInfoTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFactory_CreateFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelParameterMetadataTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelReturnParameterMetadataTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel, kernel.core, documentation

#9138 .Net: Bugfix {Azure}OpenAI Telemetry skipping usage information for function calling.
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/KernelCore/KernelTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Connectors.OpenAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/KernelCore/KernelTests.cs
  dotnet/src/InternalUtilities/test/MoqExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
Labels: .NET, kernel

#9019 .Net: Add skeleton InMemory Vector Store project and unit test project to solution
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/Connectors.InMemory.UnitTests.csproj
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/InMemoryVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/Connectors.Memory.InMemory.csproj
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStore.cs
Labels: .NET, kernel, documentation, memory

#9174 .Net: Vector search rag sample
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/VectorStoreRAG/DataLoader.cs
  dotnet/samples/Demos/VectorStoreRAG/IDataLoader.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/ApplicationConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/AzureAISearchConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/AzureCosmosDBConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/AzureOpenAIConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/AzureOpenAIEmbeddingsConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/QdrantConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/RagConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/RedisConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/WeaviateConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Program.cs
  dotnet/samples/Demos/VectorStoreRAG/RAGChatService.cs
  dotnet/samples/Demos/VectorStoreRAG/README.md
  dotnet/samples/Demos/VectorStoreRAG/TextSnippet.cs
  dotnet/samples/Demos/VectorStoreRAG/UniqueKeyGenerator.cs
  dotnet/samples/Demos/VectorStoreRAG/VectorStoreRAG.csproj
  dotnet/samples/Demos/VectorStoreRAG/appsettings.json
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchServiceCollectionExtensions.cs
Labels: .NET, kernel, documentation, memory

#9187 .Net Processes - Expose OnError Event Handling
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepBuilderTests.cs
Labels: PR: ready for review, .NET, experimental, processes

#8106 Python: #6761 Onnx Connector
  python/pyproject.toml
  python/samples/concepts/README.md
  python/samples/concepts/local_models/onnx_chat_completion.py
  python/samples/concepts/local_models/onnx_phi3_vision_completion.py
  python/samples/concepts/local_models/onnx_text_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/onnx/__init__.py
  python/semantic_kernel/connectors/ai/onnx/onnx_gen_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/onnx/onnx_gen_ai_settings.py
  python/semantic_kernel/connectors/ai/onnx/services/__init__.py
  python/semantic_kernel/connectors/ai/onnx/services/onnx_gen_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/onnx/services/onnx_gen_ai_completion_base.py
  python/semantic_kernel/connectors/ai/onnx/services/onnx_gen_ai_text_completion.py
  python/semantic_kernel/connectors/ai/onnx/utils.py
  python/semantic_kernel/contents/binary_content.py
  python/semantic_kernel/contents/image_content.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completion_with_image_input_text_output.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/integration/completions/test_utils.py
  python/tests/unit/connectors/onnx/conftest.py
  python/tests/unit/connectors/onnx/services/test_onnx_chat_completion.py
  python/tests/unit/connectors/onnx/services/test_onnx_text_completion.py
  python/tests/unit/connectors/onnx/services/test_onnx_utils.py
  python/tests/unit/connectors/onnx/test_onnx_prompt_execution_settings.py
  python/uv.lock
Labels: python, documentation

#9192 .Net: Make ONNX connector Native-AOT compatible.
  dotnet/samples/Demos/AotCompatibility.TestApp/AotCompatibility.TestApp.csproj
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/CustomPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/CustomPromptExecutionSettingsJsonSerializerContext.cs
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/OnnxRuntimeGenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Onnx/Connectors.Onnx.csproj
  dotnet/src/Connectors/Connectors.Onnx/OnnxKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Onnx/Text/OnnxRuntimeGenAIPromptExecutionSettingsJsonSerializerContext.cs
  dotnet/src/Functions/Functions.Yaml/PromptExecutionSettingsTypeConverter.cs
  dotnet/src/IntegrationTests/Processes/ProcessCycleTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/NoneFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehavior.cs
Labels: .NET, kernel, kernel.core, aot

#9208 .Net: Fixing up new projects merged from main.
  dotnet/samples/Demos/VectorStoreRAG/DataLoader.cs
  dotnet/samples/Demos/VectorStoreRAG/TextSnippet.cs
  dotnet/samples/GettingStartedWithTextSearch/GettingStartedWithTextSearch.csproj
  dotnet/samples/GettingStartedWithTextSearch/InMemoryVectorStoreCollectionFixture.cs
  dotnet/samples/GettingStartedWithTextSearch/InMemoryVectorStoreFixture.cs
  dotnet/samples/GettingStartedWithTextSearch/Step4_Search_With_VectorStore.cs
  dotnet/samples/GettingStartedWithTextSearch/VolatileVectorStoreCollectionFixture.cs
Labels: .NET

#9160 Python: Fix AI Search Environment Variables
  python/.env.example
  python/samples/getting_started/.env.example
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/third_party/.env.example
  python/samples/learn_resources/.env.example
Labels: python

#9225 .Net: Address bugbash feedback for vector search samples.
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_InMemory.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Qdrant.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Redis.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Simple.cs
Labels: .NET

#9215 .Net: Added default index kind and distance function for Azure CosmosDB NoSQL connector
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
Labels: .NET, kernel, memory

#9228 .Net: Added default index kind and distance function for Azure CosmosDB MongoDB connector
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBConstants.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
Labels: .NET, kernel, memory

#9231 .Net: Add collection registration methods for InMemory connector and uncomment package info for VectorData.Abstractions.
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/InMemoryKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/InMemoryServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/KernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/ServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/KernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/ServiceCollectionExtensions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorData.Abstractions.csproj
  dotnet/src/Connectors/VectorData.Abstractions/neticon.png
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
Labels: .NET, kernel, kernel.core, memory

#9235 .Net Agents - Fix Assistant Token Capture and Handling of Streaming Code-Interpreter Output
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/IntegrationTests/Processes/ProcessCycleTests.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAgentsTest.cs
Labels: PR: ready for review, .NET, experimental, agents

#9236 .Net Agents - Fix `AggregatorAgent` channel management
  dotnet/src/Agents/Abstractions/AggregatorAgent.cs
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/UnitTests/AggregatorAgentTests.cs
Labels: bug, PR: ready for review, .NET, experimental, enhancement, agents

#9248 .Net: Publish AOT testing application
  dotnet/samples/Demos/AotCompatibility.TestApp/Program.cs
  dotnet/src/SemanticKernel.UnitTests/AotCompatibilityTests.cs
Labels: .NET, kernel, aot

#9252 .Net: Enable the GoogleTextSearchTests
  .github/workflows/dotnet-build-and-test.yml
  dotnet/src/IntegrationTests/Plugins/Web/Google/GoogleTextSearchTests.cs
Labels: .NET, kernel

#9232 .Net: New CreateFromType and CreateMetadataFromType methods
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionMetadataFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionMetadataFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginFactoryTests.cs
Labels: .NET, kernel

#9250 .Net: Mark new Native-AOT API as experimental
  dotnet/docs/EXPERIMENTS.md
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContentBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelParameterMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelReturnParameterMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel, kernel.core, documentation, aot

#9259 .Net: Updated stepwise planner migration examples to use new function calling model
  dotnet/samples/Demos/StepwisePlannerMigration/README.md
Labels: .NET, documentation

#9249 .Net: Update README with feedback from Bug Bash
  dotnet/samples/GettingStarted/README.md
  dotnet/samples/GettingStartedWithTextSearch/README.md
  dotnet/samples/GettingStartedWithTextSearch/Step2_Search_For_RAG.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
Labels: .NET, documentation

#9260 .Net: Re-ordered parameters in VectorStoreRecordVectorAttribute
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBHotelModel.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLHotel.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateHotel.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordAttributes/VectorStoreRecordVectorAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeAllTypes.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateHotel.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel

#9261 .Net: Update the RAG Sample with feedback from the bug bash
  dotnet/samples/Demos/VectorStoreRAG/DataLoader.cs
  dotnet/samples/Demos/VectorStoreRAG/IDataLoader.cs
  dotnet/samples/Demos/VectorStoreRAG/Options/RagConfig.cs
  dotnet/samples/Demos/VectorStoreRAG/Program.cs
  dotnet/samples/Demos/VectorStoreRAG/RAGChatService.cs
  dotnet/samples/Demos/VectorStoreRAG/README.md
  dotnet/samples/Demos/VectorStoreRAG/VectorStoreRAG.csproj
  dotnet/samples/Demos/VectorStoreRAG/appsettings.json
Labels: .NET, documentation

#9276 .Net: Change version suffix for memory connectors which implement IVectorStore
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/Connectors.Memory.AzureAISearch.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/Connectors.Memory.AzureCosmosDBMongoDB.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/Connectors.Memory.AzureCosmosDBNoSQL.csproj
  dotnet/src/Connectors/Connectors.Memory.InMemory/Connectors.Memory.InMemory.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Connectors.Memory.Pinecone.csproj
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Redis/Connectors.Memory.Redis.csproj
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Connectors.Memory.Weaviate.csproj
Labels: .NET, kernel, memory

#9258 .Net: AddVectorStoreTextSearch support service ids for dependencies
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchKernelBuilderExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchServiceCollectionExtensionsTests.cs
Labels: .NET, kernel

#9279 .Net: Update SK and VectorData versions.
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/VectorData.Abstractions/VectorData.Abstractions.csproj
Labels: .NET, kernel

#9255 .Net: Enable the InMemoryTextSearchTests
  .github/workflows/dotnet-build-and-test.yml
  dotnet/src/IntegrationTests/Connectors/Memory/InMemory/InMemoryVectorStoreTextSearchTests.cs
Labels: .NET, kernel

#9273 .Net: Fix: Enhance Function Argument Validation to Prevent Null Argument Exceptions in Tool Calls.
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_streaming_single_function_call_empty_assistance_response.txt
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Connectors.OpenAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIFunctionToolCallTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/TestData/chat_completion_streaming_single_function_call_empty_assistance_response.txt
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/OpenAIFunctionToolCall.cs
Labels: .NET, kernel

#9281 .Net Agents - Fixed Assistant Function-Call Message Role
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/IntegrationTests/Agents/MixedAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#9262 .Net: Fixing Processes food samples diagram links + step name fix
  dotnet/samples/GettingStartedWithProcesses/README.md
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishAndChipsProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishSandwichProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FriedFishProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/PotatoFriesProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/SingleFoodItemProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03a_FoodPreparation.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03b_FoodOrdering.cs
Labels: .NET, documentation, processes

#9285 .Net Processes: Updated to process abstractions and core builders in preparation for Dapr runtime
  .vscode/settings.json
  dotnet/samples/GettingStartedWithProcesses/SharedSteps/ScriptedUserInputStep.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEdge.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessFunctionTarget.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepInfo.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepState.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/IntegrationTests/Processes/ProcessTests.cs
Labels: .NET, kernel

#9294 .Net: Processes fixing sample 1 to emit exit event
  dotnet/samples/GettingStartedWithProcesses/Events/CommonEvents.cs
  dotnet/samples/GettingStartedWithProcesses/SharedSteps/ScriptedUserInputStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step01/Step01_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02_AccountOpening.cs
Labels: .NET, processes

#9272 .Net Processes - Agents Sample
  dotnet/samples/GettingStartedWithProcesses/Events/CommonEvents.cs
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithProcesses/README.md
  dotnet/samples/GettingStartedWithProcesses/SharedSteps/ScriptedUserInputStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/AgentOrchestrationEvents.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/ChatHistoryProvider.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/KernelExtensions.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Plugins/CalendarPlugin.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Plugins/LocationPlugin.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Plugins/WeatherPlugin.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Steps/AgentGroupChatStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Steps/ManagerAgentStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Steps/RenderMessageStep.cs
  dotnet/src/Agents/Core/Chat/SequentialSelectionStrategy.cs
  dotnet/src/Agents/Core/History/ChatHistoryReducerExtensions.cs
  dotnet/src/Agents/Core/History/ChatHistorySummarizationReducer.cs
  dotnet/src/Agents/UnitTests/Core/Chat/SequentialSelectionStrategyTests.cs
  dotnet/src/Agents/UnitTests/Core/History/ChatHistoryReducerExtensionsTests.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: PR: ready for review, .NET, experimental, agents, documentation, processes

#9300 .Net: Processes - Stateful food preparation samples
  dotnet/samples/GettingStartedWithProcesses/README.md
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FriedFishProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/PotatoFriesProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03a_FoodPreparation.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/CutFoodWithSharpeningStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/FryFoodStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/GatherIngredientsStep.cs
Labels: .NET, documentation, processes

#9101 Python: Weaviate vector store
  .github/workflows/python-integration-tests.yml
  python/.coveragerc
  python/.cspell.json
  python/pyproject.toml
  python/samples/concepts/memory/new_memory.py
  python/semantic_kernel/connectors/memory/azure_ai_search/utils.py
  python/semantic_kernel/connectors/memory/weaviate/README.md
  python/semantic_kernel/connectors/memory/weaviate/const.py
  python/semantic_kernel/connectors/memory/weaviate/utils.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_collection.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_settings.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_store.py
  python/semantic_kernel/data/const.py
  python/semantic_kernel/data/vector_store_record_collection.py
  python/tests/integration/connectors/memory/test_vector_collections.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
  python/tests/unit/connectors/memory/test_weaviate.py
  python/uv.lock
Labels: python, documentation, memory

#9292 Python: Fix issue with default opentelemetry metric in pydantic base model
  python/semantic_kernel/functions/kernel_function.py
Labels: python

#9314 .Net: Version 1.24.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#9311 .Net: Update .NET notebooks to use release 1.23.0
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/01-basic-loading-the-kernel.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-kernel-arguments-chat.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/notebooks/07-DALL-E-3.ipynb
  dotnet/notebooks/08-chatGPT-with-DALL-E-3.ipynb
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
  dotnet/notebooks/config/settings.json.openai-example
Labels: .NET

#9315 .Net: Added example of Structured Outputs with Azure OpenAI
  dotnet/samples/Concepts/ChatCompletion/OpenAI_StructuredOutputs.cs
Labels: .NET

#9309 .Net Processes - Use JSON Schema Generation from Type
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithProcesses/Step04/SchemaGenerator.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Steps/ManagerAgentStep.cs
Labels: PR: ready for review, .NET, experimental, processes

#9323 .Net: Set dll version number for vectordata.abstractions.
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/VectorData.Abstractions/VectorData.Abstractions.csproj
Labels: .NET, kernel

#9257 Python: Fix typo in 06-memory-and-embeddings.ipynb notebook
  python/samples/getting_started/06-memory-and-embeddings.ipynb
Labels: python

#9295 .Net: Dm/sqlserver/vector
  dotnet/src/Connectors/Connectors.Memory.SqlServer/README.md
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerClient.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerMemoryStore.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqlServer/SqlServerMemoryStoreTests.cs
Labels: .NET, kernel, documentation, memory

#9317 .Net: Update the BingSearch notebook
  dotnet/README.md
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
  dotnet/notebooks/10-RAG-with-BingSearch.ipynb
  dotnet/notebooks/README.md
Labels: .NET, documentation

#9335 .Net: Improved vector search query in Azure CosmosDB NoSQL connector
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
Labels: .NET, kernel, memory

#9343 .Net: Make new API of Core package AOT compatible
  dotnet/samples/GettingStartedWithProcesses/Step04/SchemaGenerator.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStore.cs
  dotnet/src/SemanticKernel.AotTests/SemanticKernel.AotTests.csproj
  dotnet/src/SemanticKernel.Core/Data/ServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchKernelBuilderExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchResultPropertyReader.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStore.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreCollectionSearchMapping.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionMetadataFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionMetadataFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel, aot

#9353 .Net: Added an example how to get citations from chat with data response
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAIWithData_ChatCompletion.cs
Labels: .NET

#9344 .Net: Create samples showing interop with langchain ingested data.
  dotnet/samples/Concepts/Memory/VectorStore_Langchain_Interop_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_Langchain_Interop_Qdrant.cs
  dotnet/samples/Concepts/Memory/VectorStore_Langchain_Interop_Redis.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#9357 .Net: Add image to text support to rag sample.
  dotnet/samples/Demos/VectorStoreRAG/DataLoader.cs
Labels: .NET

#9360 .Net: Processes with Dapr - Improving Demo with README
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  dotnet/samples/Demos/ProcessWithDapr/Controllers/ProcessController.cs
  dotnet/samples/Demos/ProcessWithDapr/ProcessWithDapr.csproj
  dotnet/samples/Demos/ProcessWithDapr/README.md
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/IntegrationTests/Processes/ProcessCycleTests.cs
Labels: .NET, kernel, documentation

#9359 .Net Agents - Emit streaming function call content for assistant agent
  dotnet/samples/Concepts/Agents/ChatCompletion_Streaming.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Streaming.cs
  dotnet/samples/GettingStartedWithAgents/Step08_Assistant.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
Labels: PR: ready for review, .NET, experimental, enhancement, agents

#9372 .Net: Updated planner notebook to use function calling
  dotnet/README.md
  dotnet/notebooks/05-using-function-calling.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/README.md
Labels: .NET, documentation

#9362 Python: Return streaming tool call output to the caller
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/semantic_kernel/contents/binary_content.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
Labels: python, agents

#9385 .Net: Scoping step Ids to a process.
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
Labels: .NET

#7451 .Net: Invoke parallel function calls concurrently
  .editorconfig
  dotnet/samples/Concepts/FunctionCalling/FunctionCalling.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/AutoFunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/EchoPromptTemplate.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/PromptTemplateConfigTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/AIConnectors/FunctionCallsProcessorTests.cs
Labels: .NET, kernel, kernel.core

#9370 .Net Processes - Support shared runtime code
  dotnet/src/Experimental/Process.LocalRuntime/LocalEvent.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalMessage.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.LocalRuntime/Process.LocalRuntime.csproj
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/EventBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ExternalEventBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/MessageBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprEvent.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprMessage.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprMessageFactory.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IEventBuffer.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IMessageBuffer.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Process.Runtime.Dapr.csproj
  dotnet/src/Experimental/Process.UnitTests/Runtime/ProcessEventTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime/ProcessMessageTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime/TestSerializer.cs
  dotnet/src/InternalUtilities/process/ProcessEvent.cs
  dotnet/src/InternalUtilities/process/ProcessMessage.cs
  dotnet/src/InternalUtilities/process/ProcessMessageFactory.cs
  dotnet/src/InternalUtilities/process/RuntimeUtilities.props
Labels: PR: ready for review, .NET, experimental, enhancement, processes

#9389 Python: Fix cancelled typo
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
Labels: python, experimental, agents

#9402 .Net: Upgraded SK and VectorData package versions
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.AzureOpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/VectorData.Abstractions/VectorData.Abstractions.csproj
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET, kernel, kernel.core

#9404 .Net: Add the server urls to the additional properties
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/OpenApiKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/IntegrationTests/Plugins/Web/Google/GoogleTextSearchTests.cs
Labels: .NET, kernel

#9392 .Net Processes - Minor tweaks and finesse
  dotnet/samples/GettingStartedWithProcesses/Step01/Step01_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/CompleteNewCustomerFormStep.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepInfo.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ActorStateKeys.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/EventBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ExternalEventBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/MessageBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
Labels: PR: ready for review, .NET, experimental, enhancement, processes

#9419 .Net: Disable failing integration tests
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextToImageTests.cs
  dotnet/src/IntegrationTests/Data/BaseTextSearchTests.cs
Labels: .NET, kernel

#9363 Python: Add the Python process framework
  python/pyproject.toml
  python/samples/concepts/README.md
  python/samples/concepts/processes/cycles_with_fan_in.py
  python/samples/concepts/processes/nested_process.py
  python/samples/getting_started_with_processes/README.md
  python/samples/getting_started_with_processes/step01_processes.py
  python/semantic_kernel/exceptions/__init__.py
  python/semantic_kernel/exceptions/process_exceptions.py
  python/semantic_kernel/processes/__init__.py
  python/semantic_kernel/processes/const.py
  python/semantic_kernel/processes/kernel_process/__init__.py
  python/semantic_kernel/processes/kernel_process/kernel_process.py
  python/semantic_kernel/processes/kernel_process/kernel_process_edge.py
  python/semantic_kernel/processes/kernel_process/kernel_process_event.py
  python/semantic_kernel/processes/kernel_process/kernel_process_function_target.py
  python/semantic_kernel/processes/kernel_process/kernel_process_message_channel.py
  python/semantic_kernel/processes/kernel_process/kernel_process_state.py
  python/semantic_kernel/processes/kernel_process/kernel_process_step.py
  python/semantic_kernel/processes/kernel_process/kernel_process_step_context.py
  python/semantic_kernel/processes/kernel_process/kernel_process_step_info.py
  python/semantic_kernel/processes/kernel_process/kernel_process_step_state.py
  python/semantic_kernel/processes/local_runtime/__init__.py
  python/semantic_kernel/processes/local_runtime/local_event.py
  python/semantic_kernel/processes/local_runtime/local_kernel_process.py
  python/semantic_kernel/processes/local_runtime/local_kernel_process_context.py
  python/semantic_kernel/processes/local_runtime/local_message.py
  python/semantic_kernel/processes/local_runtime/local_message_factory.py
  python/semantic_kernel/processes/local_runtime/local_process.py
  python/semantic_kernel/processes/local_runtime/local_step.py
  python/semantic_kernel/processes/process_builder.py
  python/semantic_kernel/processes/process_edge_builder.py
  python/semantic_kernel/processes/process_end_step.py
  python/semantic_kernel/processes/process_function_target_builder.py
  python/semantic_kernel/processes/process_step_builder.py
  python/semantic_kernel/processes/process_step_edge_builder.py
  python/semantic_kernel/processes/process_types.py
  python/tests/unit/processes/kernel_process/test_kernel_process.py
  python/tests/unit/processes/kernel_process/test_kernel_process_edge.py
  python/tests/unit/processes/kernel_process/test_kernel_process_event.py
  python/tests/unit/processes/kernel_process/test_kernel_process_function_target.py
  python/tests/unit/processes/kernel_process/test_kernel_process_message_channel.py
  python/tests/unit/processes/kernel_process/test_kernel_process_state.py
  python/tests/unit/processes/kernel_process/test_kernel_process_step_context.py
  python/tests/unit/processes/kernel_process/test_kernel_process_step_info.py
  python/tests/unit/processes/kernel_process/test_kernel_process_step_state.py
  python/tests/unit/processes/local_runtime/test_local_event.py
  python/tests/unit/processes/local_runtime/test_local_kernel_process.py
  python/tests/unit/processes/local_runtime/test_local_kernel_process_context.py
  python/tests/unit/processes/local_runtime/test_local_message.py
  python/tests/unit/processes/local_runtime/test_local_message_factory.py
  python/tests/unit/processes/local_runtime/test_local_process.py
  python/tests/unit/processes/test_process_edge_builder.py
  python/tests/unit/processes/test_process_step_builder.py
  python/tests/unit/processes/test_process_step_edge_builder.py
  python/tests/unit/processes/test_process_types.py
  python/uv.lock
Labels: python, documentation, processes

#9423 Python: Bump Python version to 1.12.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#9394 .Net: Add GenericDataModel support to Pinecone connector
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Connectors.Memory.Pinecone.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordFieldMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/Connectors.Pinecone.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeUtilsTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#9405 .Net Processes - Refactored Step Activation w/ Clone Support
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime/CloneTests.cs
  dotnet/src/InternalUtilities/process/ProcessExtensions.cs
  dotnet/src/InternalUtilities/process/StepExtensions.cs
Labels: PR: in progress, .NET, experimental, enhancement, processes

#9407 .Net: Open SQLite connection when it's registered with connection string
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteServiceCollectionExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteServiceCollectionExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreTests.cs
Labels: .NET, kernel, memory

#9425 .Net Processes - Updated unit-tests folder/file grouping
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessTypeExtensionsTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
Labels: PR: ready for review, .NET, experimental, enhancement, processes

#9307 Python: Update skprompt.txt reference
  python/samples/getting_started/05-using-the-planner.ipynb
Labels: python

#8832 .Net: comments and var name inconsistent with source
  dotnet/samples/GettingStarted/Step8_Pipelining.cs
Labels: .NET

#9427 Python: Add step03 getting started with processes samples.
  python/samples/concepts/processes/cycles_with_fan_in.py
  python/samples/concepts/processes/nested_process.py
  python/samples/getting_started_with_processes/README.md
  python/samples/getting_started_with_processes/step01/step01_processes.py
  python/samples/getting_started_with_processes/step03/models/__init__.py
  python/samples/getting_started_with_processes/step03/models/food_ingredients.py
  python/samples/getting_started_with_processes/step03/models/food_order_item.py
  python/samples/getting_started_with_processes/step03/processes/__init__.py
  python/samples/getting_started_with_processes/step03/processes/fish_and_chips_process.py
  python/samples/getting_started_with_processes/step03/processes/fish_sandwich_process.py
  python/samples/getting_started_with_processes/step03/processes/fried_fish_process.py
  python/samples/getting_started_with_processes/step03/processes/potato_fries_process.py
  python/samples/getting_started_with_processes/step03/processes/single_food_item_process.py
  python/samples/getting_started_with_processes/step03/step03a_food_preparation.py
  python/samples/getting_started_with_processes/step03/step03b_food_ordering.py
  python/samples/getting_started_with_processes/step03/steps/__init__.py
  python/samples/getting_started_with_processes/step03/steps/cut_food_step.py
  python/samples/getting_started_with_processes/step03/steps/cut_food_with_sharpening_step.py
  python/samples/getting_started_with_processes/step03/steps/external_step.py
  python/samples/getting_started_with_processes/step03/steps/fry_food_step.py
  python/samples/getting_started_with_processes/step03/steps/gather_ingredients_step.py
  python/semantic_kernel/processes/kernel_process/kernel_process_message_channel.py
  python/semantic_kernel/processes/kernel_process/kernel_process_step_context.py
  python/semantic_kernel/processes/local_runtime/local_process.py
  python/semantic_kernel/processes/local_runtime/local_step.py
  python/tests/unit/processes/kernel_process/test_kernel_process_step_context.py
Labels: python, experimental, documentation, processes

#9431 Python: Increment Python version to 1.12.1.
  python/semantic_kernel/__init__.py
Labels: python

#9422 Python: Ollama tool call and image content
  .github/workflows/python-integration-tests.yml
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/ollama_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/utils.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/integration/completions/test_chat_completion_with_image_input_text_output.py
  python/tests/unit/connectors/ai/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/connectors/ai/ollama/services/test_ollama_text_completion.py
  python/tests/unit/connectors/ai/ollama/services/test_ollama_text_embedding.py
Labels: python, ai connector

#9434 Python: Allow caller to specify file ids that already exist when creating assistant
  python/samples/concepts/agents/assistant_agent_file_manipulation_streaming.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/tests/unit/agents/test_azure_assistant_agent.py
  python/tests/unit/agents/test_open_ai_assistant_agent.py
Labels: python, experimental, agents

#9438 .Net Processes - Update shared code pattern
  dotnet/SK-dotnet.sln
  dotnet/src/Experimental/Process.Abstractions/Process.Abstractions.csproj
  dotnet/src/Experimental/Process.Core/Process.Core.csproj
  dotnet/src/Experimental/Process.LocalRuntime/Process.LocalRuntime.csproj
  dotnet/src/Experimental/Process.Runtime.Dapr/Process.Runtime.Dapr.csproj
  dotnet/src/Experimental/Process.Utilities.UnitTests/CloneTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/Process.Utilities.UnitTests.csproj
  dotnet/src/Experimental/Process.Utilities.UnitTests/ProcessEventTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/ProcessMessageTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/TestSerializer.cs
  dotnet/src/InternalUtilities/process/InternalUtilities.props
  dotnet/src/InternalUtilities/process/Runtime/ProcessEvent.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessExtensions.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessMessage.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessMessageFactory.cs
  dotnet/src/InternalUtilities/process/Runtime/StepExtensions.cs
  dotnet/src/InternalUtilities/process/RuntimeUtilities.props
Labels: PR: ready for review, .NET, experimental, processes

#9424 .Net Processes: State Management in Processes Part 1
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishSandwichProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FishSandwichStateProcessSuccess.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FishSandwichStateProcessSuccessLowStock.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FriedFishProcessStateSuccess.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FriedFishProcessStateSuccessLowStock.json
  dotnet/samples/GettingStartedWithProcesses/Step03/ProcessesStates/FriedFishProcessStateSuccessNoStock.json
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03a_FoodPreparation.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/CutFoodWithSharpeningStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Steps/GatherIngredientsStep.cs
  dotnet/samples/GettingStartedWithProcesses/Utilities/ProcessStateMetadataUtilities.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepInfo.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessStateMetadata.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessStepStateMetadata.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/ProcessTypeExtensionsTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/KernelProcessStepExtension.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessExtensions.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
  dotnet/src/InternalUtilities/process/InternalUtilities.props
Labels: .NET, processes

#9453 .Net: Fix mapping issue of the required payload properties
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV2_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_1.yaml
Labels: .NET, openapi

#9467 .Net: Update Azure AI Inference to beta.2
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Core/ChatClientCoreTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Settings/AzureAIInferencePromptExecutionSettings.cs
Labels: .NET, kernel

#9433 .Net: Update AIModelRouter (AzureOpenAI)
  dotnet/samples/Demos/AIModelRouter/AIModelRouter.csproj
  dotnet/samples/Demos/AIModelRouter/CustomRouter.cs
  dotnet/samples/Demos/AIModelRouter/Program.cs
  dotnet/samples/Demos/AIModelRouter/README.md
Labels: .NET, documentation

#9442 .Net: Enable bidirectional adapters between SK and Microsoft.Extensions.AI interfaces
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AIFunctionKernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatClientChatCompletionService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceChatClient.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/EmbeddingGenerationServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AbstractionsJsonContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
Labels: .NET, kernel, kernel.core

#9465 .Net: Azure OpenAI Temporary Fix [401 Retry Bug]
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/SingleAuthorizationHeaderPolicy.cs
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
Labels: .NET, kernel

#9461 .Net: VectorStore: Allow any key when using a custom collection factory
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
Labels: .NET, kernel, memory

#9463 .Net Processes - Facilitate Parallel Execution of LocalProcess
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
Labels: bug, PR: ready for review, .NET, experimental, enhancement, processes

#9457 .Net Processes - Update Runtime Exception Handling / Logging
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/ExceptionExtensions.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
Labels: PR: ready for review, .NET, experimental, enhancement, processes

#9479 Python: Add parallel_tool_calls attribute to OpenAI chat prompt execution settings
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/tests/unit/connectors/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/ai/open_ai/services/test_open_ai_chat_completion_base.py
Labels: python, ai connector

#9480 Python: Bump Python version to 1.13.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#9482 .Net: Added a streaming flag to filter context models
  dotnet/samples/Concepts/Filtering/FunctionInvocationFiltering.cs
  dotnet/samples/Concepts/Filtering/TelemetryWithFilters.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/AutoFunctionInvocationFilterTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/AutoFunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Function/FunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/FunctionInvocationFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/PromptRenderFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/AIConnectors/FunctionCallsProcessorTests.cs
Labels: .NET, kernel, kernel.core

#9487 .Net: Parallel function calls option
  dotnet/samples/Concepts/FunctionCalling/FunctionCalling.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/PromptExecutionSettingsTypeConverterTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorOptions.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorDeserializationTests.cs
Labels: .NET, kernel, ai connector, kernel.core

#9491 .Net Processes: Fixing an issue with nested processes in Dapr runtime.
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprStepInfo.cs
Labels: .NET

#9492 .Net: Version 1.26.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#9477 .Net Processes - Add Process-Level Error Handler
  dotnet/samples/Demos/ProcessWithDapr/Controllers/ProcessController.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Steps/RenderMessageStep.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessError.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepInfo.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/EventBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/MessageBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprKernelProcessFactory.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprStepInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IEventBuffer.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IMessageBuffer.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/CloneTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/ProcessTypeExtensionsTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/ExceptionExtensions.cs
  dotnet/src/InternalUtilities/process/Abstractions/KernelProcessStepExtension.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessConstants.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessExtensions.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessEvent.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessMessage.cs
Labels: PR: ready for review, .NET, experimental, enhancement, processes
