Repository microsoft/semantic-kernel, pull requests merged in 2024-09, with the labels that each got.

#7960 .Net: Update JsonSchemaMapper to incorporate the .NET 9 shim
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaGenerationContext.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.ReflectionHelpers.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.STJv8.JsonSchema.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.STJv8.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.STJv9.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapperConfiguration.cs
  dotnet/src/InternalUtilities/src/Schema/KernelJsonSchemaBuilder.cs
  dotnet/src/InternalUtilities/src/Schema/README.md
  dotnet/src/InternalUtilities/src/Schema/ReferenceTypeNullability.cs
Labels: .NET, documentation, Ignite

#8426 .Net: Simplify how additional text search filter parameters are specified
  dotnet/samples/Concepts/Search/Bing_FunctionCallingWithTextSearch.cs
  dotnet/src/SemanticKernel.Core/Search/TextSearchExtensions.cs
Labels: .NET

#8427 .Net: OpenAI V2 - Azure SDK beta.4 update + Integration Tests Fix
  dotnet/Directory.Packages.props
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_NonStreamingTests.cs
Labels: .NET, kernel

#8485 .Net: AI function calls processor
  dotnet/SK-dotnet.sln
  dotnet/src/InternalUtilities/connectors/AI/AiConnectorsInternalUtilities.props
  dotnet/src/InternalUtilities/connectors/AI/FunctionCallsProcessor.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorConfiguration.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
  dotnet/src/SemanticKernel.UnitTests/Utilities/AIConnectors/FunctionCallsProcessorTests.cs
Labels: .NET, kernel, kernel.core

#8492 .Net: Prevent assigning a nullable variable to a non-nullable property
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
Labels: .NET, kernel

#8493 .Net: Fix formatting errors in the schema files
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaGenerationContext.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.cs
Labels: .NET

#8430 Python: ADR for new AI connector abstract methods
  docs/decisions/0052-python-ai-connector-new-abstract-methods.md
Labels: documentation

#8486 Python: .Net OpenAI V2 MergeFix for GA
  .github/workflows/python-build.yml
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/PromptTemplates/HandlebarsVisionPrompts.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaGenerationContext.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.ReflectionHelpers.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.STJv8.JsonSchema.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.STJv8.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.STJv9.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapperConfiguration.cs
  dotnet/src/InternalUtilities/src/Schema/KernelJsonSchemaBuilder.cs
  dotnet/src/InternalUtilities/src/Schema/README.md
  dotnet/src/InternalUtilities/src/Schema/ReferenceTypeNullability.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatPromptParser.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/ChatPromptParserTests.cs
  python/.pre-commit-config.yaml
  python/.vscode/tasks.json
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/semantic_kernel/__init__.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/functions/kernel_arguments.py
  python/semantic_kernel/kernel.py
  python/tests/unit/connectors/anthropic/services/test_anthropic_chat_completion.py
  python/tests/unit/contents/test_chat_message_content.py
  python/tests/unit/functions/test_kernel_arguments.py
Labels: .NET, python, kernel, kernel.core, documentation

#8496 .Net: Update package version
  dotnet/Directory.Build.props
  dotnet/nuget/nuget-package.props
Labels: .NET

#8498 .Net: [Feature Branch] Added required configuration
  .github/workflows/dotnet-build-and-test.yml
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#8499 .Net: [Feature Branch] Added configuration for text-to-image service
  .github/workflows/dotnet-build-and-test.yml
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#8500 .Net: [Feature Branch] Updated integration tests
  .github/workflows/dotnet-build-and-test.yml
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#8494 .Net: Add Vector Search ADR document and abstractions
  docs/decisions/00NN-vector-search-design.md
  dotnet/src/SemanticKernel.Abstractions/Data/IVectorSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordOptions/VectorSearchOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchFiltering/EqualityFilterClause.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchFiltering/FilterClause.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchFiltering/FilterClauseType.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchFiltering/TagListContainsFilterClause.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchFiltering/VectorSearchFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchQueries/VectorSearchQuery.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchQueries/VectorSearchQueryType.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchQueries/VectorizableTextSearchQuery.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchQueries/VectorizedSearchQuery.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchResult.cs
Labels: .NET, kernel.core, documentation

#8506 .Net: Switch from API keys to DefaultAzureCredential
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToAudioService.cs
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIAudioToTextTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionFunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionNonStreamingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionStreamingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextToAudioTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextToImageTests.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/PromptTests.cs
  dotnet/src/IntegrationTests/README.md
  dotnet/src/IntegrationTests/TestSettings/AzureOpenAIConfiguration.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel, documentation

#8333 .Net Agents - Add Integration Test
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
  dotnet/src/IntegrationTests/Agents/MixedAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
Labels: .NET, kernel, experimental, enhancement, agents, Ignite

#8520 .Net: Share method for processing function invocation results
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/AIConnectors/FunctionCallsProcessorTests.cs
Labels: .NET, kernel, ai connector, function_calling

#8523 .Net: Update MixedAgentTests to use a token credential
  .github/workflows/dotnet-build-and-test.yml
  dotnet/src/IntegrationTests/Agents/MixedAgentTests.cs
Labels: .NET, kernel

#8489 .Net: Add support for advanced search keywords
  dotnet/src/Plugins/Plugins.UnitTests/Web/Bing/BingTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearch.cs
Labels: .NET

#8424 .Net: Use interfaces for mapper abstractions
  dotnet/samples/Concepts/Search/Bing_FunctionCallingWithTextSearch.cs
  dotnet/samples/Concepts/Search/Bing_TextSearch.cs
  dotnet/samples/Concepts/Search/Google_TextSearch.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Bing/BingTextSearchTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Google/GoogleTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearchOptions.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleTextSearchOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Search/ITextSearchResultMapper.cs
  dotnet/src/SemanticKernel.Abstractions/Search/ITextSearchStringMapper.cs
  dotnet/src/SemanticKernel.Abstractions/Search/TextSearchDelegates.cs
  dotnet/src/SemanticKernel.Abstractions/Search/TextSearchResult.cs
  dotnet/src/SemanticKernel.Core/Search/TextSearchExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Search/TextSearchExtensionsTests.cs
Labels: .NET, kernel, kernel.core

#8522 .Net: Handle null parameter values in Handlebars positional arguments
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/Helpers/KernelFunctionHelpersTests.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelFunctionHelpers.cs
Labels: .NET, kernel

#8507 .Net: Add vector search implementation for azure ai search
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#8508 .Net: Add qdrant vector search implementation.
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.Qdrant/MockableQdrantClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#8532 .Net: Switch to using AzureCliCredential
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
  dotnet/src/IntegrationTests/Agents/MixedAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIAudioToTextTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionFunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionNonStreamingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionStreamingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextToAudioTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextToImageTests.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/PromptTests.cs
Labels: .NET, kernel

#8543 Python: Add a samples README and a demos README.
  python/samples/README.md
  python/samples/demos/README.md
Labels: python, documentation

#8403 .Net: Added implementation of Weaviate connector for new memory design
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Connectors.Memory.Weaviate.csproj
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Converters/WeaviateDateTimeOffsetConverter.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Converters/WeaviateNullableDateTimeOffsetConverter.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Http/HttpRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateCreateCollectionSchemaRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateDeleteCollectionSchemaRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateDeleteObjectBatchRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateDeleteObjectRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateGetCollectionObjectRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateGetCollectionSchemaRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateGetCollectionSchemaResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateGetCollectionsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateGetCollectionsResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateUpsertCollectionObjectBatchRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateUpsertCollectionObjectBatchResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/IWeaviateVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateCollectionSchema.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateCollectionSchemaProperty.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateCollectionSchemaVectorConfig.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateCollectionSchemaVectorIndexConfig.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateOperationResult.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateOperationResultError.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateOperationResultErrors.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateQueryMatch.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateQueryMatchWhereClause.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateConstants.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/Connectors.Weaviate.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateHotel.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreCollectionFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreTests.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/DistanceFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Data/RecordDefinition/IndexKind.cs
Labels: .NET, kernel, kernel.core, memory

#8549 .Net: Unify text and vector search and move all to data namespace.
  dotnet/samples/Concepts/RAG/Bing_RagWithTextSearch.cs
  dotnet/samples/Concepts/Search/Bing_FunctionCallingWithTextSearch.cs
  dotnet/samples/Concepts/Search/Bing_TextSearch.cs
  dotnet/samples/Concepts/Search/Google_TextSearch.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Bing/BingTextSearchTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Google/GoogleTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearchOptions.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleTextSearchOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/FilterClauses/AnyTagEqualToFilterClause.cs
  dotnet/src/SemanticKernel.Abstractions/Data/FilterClauses/EqualToFilterClause.cs
  dotnet/src/SemanticKernel.Abstractions/Data/FilterClauses/FilterClause.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/ITextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/ITextSearchResultMapper.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/ITextSearchStringMapper.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/KernelSearchResults.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/TextSearchFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/TextSearchOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/TextSearchResult.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/IVectorSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/VectorSearchExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/VectorSearchFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/VectorSearchOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/VectorSearchResult.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchFiltering/FilterClause.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchFiltering/FilterClauseType.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStorage/IVectorStore.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStorage/IVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStorage/IVectorStoreRecordMapper.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStorage/StorageToDataModelMapperOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStorage/VectorStoreException.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStorage/VectorStoreOperationException.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStorage/VectorStoreRecordMappingException.cs
  dotnet/src/SemanticKernel.Abstractions/Search/EqualityFilterClause.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/MockTextSearch.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchExtensionsTests.cs
Labels: .NET, kernel, kernel.core, memory

#8544 .Net: Advertise required functions in the first request to AI model only
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehaviorTests.cs
Labels: .NET, kernel, kernel.core

#8546 .Net: Add volatile vector search and enforcing collection type.
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStore.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreCollectionSearchMapping.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreTests.cs
Labels: .NET, kernel

#8562 .Net: Update samples to use new function calling model
  dotnet/samples/Concepts/Agents/ChatCompletion_FunctionTermination.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_Streaming.cs
  dotnet/samples/Concepts/Agents/ComplexChat_NestedShopper.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_FunctionCalling.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ReasonedFunctionCalling.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_RepeatedFunctionCalling.cs
  dotnet/samples/Concepts/Filtering/AutoFunctionInvocationFiltering.cs
  dotnet/samples/Concepts/Filtering/TelemetryWithFilters.cs
  dotnet/samples/Concepts/FunctionCalling/OpenAI_FunctionCalling.cs
  dotnet/samples/Concepts/Optimization/PluginSelectionWithFilters.cs
  dotnet/samples/Concepts/Planners/AutoFunctionCallingPlanning.cs
  dotnet/samples/Concepts/Plugins/TransformPlugin.cs
  dotnet/samples/Demos/BookingRestaurant/BookingRestaurant.csproj
  dotnet/samples/Demos/BookingRestaurant/Program.cs
  dotnet/samples/Demos/CodeInterpreterPlugin/CodeInterpreterPlugin.csproj
  dotnet/samples/Demos/CodeInterpreterPlugin/Program.cs
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/CreateChatGptPlugin.csproj
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/Program.cs
  dotnet/samples/Demos/FunctionInvocationApproval/Program.cs
  dotnet/samples/Demos/HomeAutomation/HomeAutomation.csproj
  dotnet/samples/Demos/HomeAutomation/Worker.cs
  dotnet/samples/Demos/StepwisePlannerMigration/Controllers/AutoFunctionCallingController.cs
  dotnet/samples/Demos/TelemetryWithAppInsights/Program.cs
  dotnet/samples/Demos/TelemetryWithAppInsights/TelemetryWithAppInsights.csproj
  dotnet/samples/Demos/TimePlugin/Program.cs
  dotnet/samples/Demos/TimePlugin/TimePlugin.csproj
  dotnet/samples/GettingStarted/Step2_Add_Plugins.cs
  dotnet/samples/GettingStarted/Step7_Observability.cs
  dotnet/samples/GettingStartedWithAgents/Step02_Plugins.cs
  dotnet/samples/LearnResources/MicrosoftLearn/CreatingFunctions.cs
  dotnet/samples/LearnResources/MicrosoftLearn/Planner.cs
  dotnet/samples/LearnResources/MicrosoftLearn/Plugin.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryKernelAgent.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
Labels: .NET, kernel, ai connector, function_calling

#8564 .Net: Remove obsolete code to work with OpenAI ChatGPT plugins
  dotnet/samples/Concepts/Plugins/CreatePluginFromOpenAI_AzureKeyVault.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Functions/Functions.OpenApi/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIAuthenticateRequestAsyncCallback.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIAuthenticationConfig.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenAI/KernelOpenAIPluginExtensionsTests.cs
Labels: .NET, openapi, documentation

#8587 .Net: Ollama Address PR Feedback
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Connectors.Ollama.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Extensions/OllamaKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Extensions/OllamaServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/HttpMessageHandlerStub.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaTestHelper.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Settings/OllamaPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_test_response.txt
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_test_response_stream.txt
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/text_generation_test_response.txt
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/text_generation_test_response_stream.txt
  dotnet/src/Connectors/Connectors.Ollama/Connectors.Ollama.csproj
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaChatResponseStreamer.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/ServiceBase.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaMetadata.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextGenerationService.cs
  dotnet/src/Connectors/Connectors.Ollama/Settings/OllamaPromptExecutionSettings.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaTextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaTextGenerationTests.cs
  dotnet/src/IntegrationTests/TestSettings/OllamaConfiguration.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: .NET, kernel

#8298 Python: Introducing vector search for the new memory connectors
  python/.cspell.json
  python/.pre-commit-config.yaml
  python/.vscode/launch.json
  python/pyproject.toml
  python/samples/concepts/memory/azure_ai_search_as_plugin.py
  python/samples/concepts/memory/azure_ai_search_hotel_sample.py
  python/samples/concepts/search/bing_text_search.py
  python/samples/concepts/search/bing_text_search_as_plugin.py
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/connectors/memory/azure_ai_search/azure_ai_search_collection.py
  python/semantic_kernel/connectors/search/bing/__init__.py
  python/semantic_kernel/connectors/search/bing/bing_search.py
  python/semantic_kernel/connectors/search/bing/bing_search_response.py
  python/semantic_kernel/connectors/search/bing/bing_search_settings.py
  python/semantic_kernel/connectors/search/bing/bing_web_page.py
  python/semantic_kernel/connectors/search/bing/const.py
  python/semantic_kernel/data/__init__.py
  python/semantic_kernel/data/const.py
  python/semantic_kernel/data/filters/__init__.py
  python/semantic_kernel/data/filters/any_tags_equal_to_filter_clause.py
  python/semantic_kernel/data/filters/equal_to_filter_clause.py
  python/semantic_kernel/data/filters/filter_clause_base.py
  python/semantic_kernel/data/filters/not_equal_to_filter_clause.py
  python/semantic_kernel/data/filters/search_filter_base.py
  python/semantic_kernel/data/filters/text_search_filter.py
  python/semantic_kernel/data/filters/vector_search_filter.py
  python/semantic_kernel/data/kernel_search_extension.py
  python/semantic_kernel/data/kernel_search_result.py
  python/semantic_kernel/data/search_base.py
  python/semantic_kernel/data/search_options_base.py
  python/semantic_kernel/data/text_search.py
  python/semantic_kernel/data/text_search_options.py
  python/semantic_kernel/data/text_search_result.py
  python/semantic_kernel/data/vector_search.py
  python/semantic_kernel/data/vector_search_options.py
  python/semantic_kernel/data/vector_search_query.py
  python/semantic_kernel/data/vector_search_result.py
  python/semantic_kernel/exceptions/memory_connector_exceptions.py
  python/semantic_kernel/functions/kernel_parameter_metadata.py
  python/semantic_kernel/functions/kernel_plugin.py
  python/semantic_kernel/prompt_template/kernel_prompt_template.py
  python/semantic_kernel/search/__init__.py
  python/semantic_kernel/search/const.py
  python/uv.lock
Labels: python, memory

#8588 .Net: Add SK user agent string for Azure Cosmos DB NoSQL and MongoDB.
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLServiceCollectionExtensions.cs
Labels: .NET, kernel, memory

#8595 Python: Bump Python version to 1.8.3 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#8590 Update adr document with filter changes.
  docs/decisions/00NN-vector-search-design.md
Labels: documentation

#8617 .Net: Temporarily disable Weaviate integration tests
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel

#8557 .Net:[OpenAPI] Prevent buffering of streamed responses
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
Labels: .NET, openapi

#8594 .Net: Azure AI Inference: Main Merge Address PR Feedback
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletionStreaming.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Core/ChatClientCoreTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Services/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Settings/AzureAIInferencePromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Connectors.AzureAIInference.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Services/AzureAIInferenceChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Settings/AzureAIInferencePromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureAIInference/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/IntegrationTests/TestSettings/AzureAIInferenceConfiguration.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  prompt_template_samples/FunPlugin/Limerick/config.json
Labels: .NET, PR: ready to merge, kernel, ai connector

#8526 Python: New AI Connector abstract methods
  docs/decisions/0052-python-ai-connector-new-abstract-methods.md
  python/.cspell.json
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_text_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/utils.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/utils.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/decorators.py
  python/tests/unit/connectors/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
  python/tests/unit/utils/model_diagnostics/conftest.py
  python/tests/unit/utils/model_diagnostics/test_trace_chat_completion.py
  python/tests/unit/utils/model_diagnostics/test_trace_text_completion.py
Labels: python, documentation

#8559 .Net: Updated baseline package version
  dotnet/nuget/nuget-package.props
Labels: .NET

#8630 .Net: Add function calling samples
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/FunctionCalling/FunctionCalling.cs
  dotnet/samples/Concepts/FunctionCalling/OpenAI_FunctionCalling.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_NoneFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/NoneFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehavior.cs
Labels: .NET, kernel, kernel.core, function_calling

#8531 .Net: Add ONNX Demo + Concepts
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/ChatCompletion/Onnx_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Onnx_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Memory/Onnx_EmbeddingGeneration.cs
  dotnet/samples/Concepts/README.md
  dotnet/samples/Demos/AIModelRouter/AIModelRouter.csproj
  dotnet/samples/Demos/AIModelRouter/Program.cs
  dotnet/samples/Demos/AIModelRouter/README.md
  dotnet/samples/Demos/OnnxSimpleRAG/Facts/KernelMemory.txt
  dotnet/samples/Demos/OnnxSimpleRAG/Facts/SemanticKernel.txt
  dotnet/samples/Demos/OnnxSimpleRAG/OnnxSimpleRAG.csproj
  dotnet/samples/Demos/OnnxSimpleRAG/Program.cs
  dotnet/samples/Demos/OnnxSimpleRAG/README.md
  dotnet/samples/README.md
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, documentation

#8655 .Net: Minor improvements for the function calling samples
  dotnet/samples/Concepts/FunctionCalling/FunctionCalling.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation, function_calling

#8654 .Net: AzureOpenAI Connector - Bugfix AsyncFilter Null Reference Exception when using Function Calling.
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_streaming_multiple_function_calls_test_async_filter_response.txt
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/OpenAIStreamingChatMessageContent.cs
Labels: bug, .NET, kernel, ai connector, openai_sdk_v2

#7963 .Net: New Azure AI Inference Connector
  .github/workflows/dotnet-build-and-test.yml
  docs/decisions/0051-dotnet-azure-model-as-a-service.md
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Demos/AIModelRouter/AIModelRouter.csproj
  dotnet/samples/Demos/AIModelRouter/Program.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Connectors.AzureAIInference.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Core/ChatClientCoreTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Extensions/AzureAIInferenceKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Extensions/AzureAIInferenceServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Services/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Settings/AzureAIInferencePromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/TestData/chat_completion_response.json
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/TestData/chat_completion_streaming_response.txt
  dotnet/src/Connectors/Connectors.AzureAIInference/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Connectors.AzureAIInference.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/AddHeaderRequestPolicy.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/RequestFailedExceptionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Services/AzureAIInferenceChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Settings/AzureAIInferencePromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureAIInference/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/README.md
  dotnet/src/IntegrationTests/TestSettings/AzureAIInferenceConfiguration.cs
  dotnet/src/IntegrationTests/testsettings.json
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  prompt_template_samples/ChatPlugin/Chat/config.json
  prompt_template_samples/FunPlugin/Limerick/config.json
Labels: .NET, kernel, kernel.core, documentation

#8660 .Net: Updated package version to 1.19
  dotnet/nuget/nuget-package.props
Labels: .NET

#8585 .Net: Anthropic - samples
  dotnet/samples/Concepts/ChatCompletion/Anthropic_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Anthropic_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/Anthropic_ProvidersSetup.cs
  dotnet/samples/Concepts/ChatCompletion/Anthropic_Vision.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/README.md
  dotnet/samples/Demos/AIModelRouter/AIModelRouter.csproj
  dotnet/samples/Demos/AIModelRouter/Program.cs
  dotnet/samples/Demos/AIModelRouter/README.md
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, ai connector, documentation

#8512 .Net: Switch from API keys to Azure Credentials when accessing Azure Cognitive Services
  .github/workflows/dotnet-build-and-test.yml
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Services/AzureOpenAITextToAudioService.cs
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
  dotnet/src/IntegrationTests/Agents/MixedAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIAudioToTextTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionFunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionNonStreamingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionStreamingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextToAudioTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAITextToImageTests.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/PromptTests.cs
  dotnet/src/IntegrationTests/README.md
  dotnet/src/IntegrationTests/TestSettings/AzureOpenAIConfiguration.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel, documentation

#8653 .Net: Concept sample showing different options for calling functions with multiple parameters
  .github/_typos.toml
  dotnet/samples/Concepts/FunctionCalling/MultipleFunctionsVsParameters.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#8666 .Net: VectorStore: Adding a generic data model and related azure ai search mapper.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStoreGenericDataModel.cs
Labels: .NET, kernel, kernel.core, memory

#8674 Python: Fix issues of Google AI/Vertex AI on handling classes in kernel functions
  python/semantic_kernel/connectors/ai/google/google_ai/services/utils.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/utils.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
Labels: python

#8016 Python: #6499 Mistral AI Function Calling
  python/samples/concepts/auto_function_calling/chat_mistral_ai_api_function_calling.py
  python/semantic_kernel/connectors/ai/mistral_ai/prompt_execution_settings/mistral_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/integration/completions/test_chat_completion_with_image_input_text_output.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/unit/connectors/mistral_ai/services/test_mistralai_chat_completion.py
  python/tests/unit/connectors/mistral_ai/test_mistralai_request_settings.py
  python/tests/unit/connectors/ollama/services/test_ollama_chat_completion.py
Labels: python

#8682 Python: Parallel function calling sample
  python/samples/concepts/auto_function_calling/parallel_function_calling.py
Labels: python

#8693 .Net: Remove obsolete integration tests and disable failing unit tests
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordMapperTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIFileServiceTests.cs
Labels: .NET, kernel

#8683 Python: Fix Anthropic Chat Completion. Fix agent chat broadcast message bug.
  python/samples/concepts/chat_completion/chat_anthropic_api.py
  python/samples/getting_started_with_agents/step1_agent.py
  python/semantic_kernel/agents/group_chat/agent_chat.py
  python/semantic_kernel/connectors/ai/anthropic/prompt_execution_settings/anthropic_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/tests/unit/connectors/anthropic/services/test_anthropic_chat_completion.py
  python/tests/unit/connectors/anthropic/test_anthropic_request_settings.py
Labels: python

#8681 .Net: Added dotnet prompty fileproviders
  dotnet/Directory.Packages.props
  dotnet/src/Functions/Functions.Prompty.UnitTests/Functions.Prompty.UnitTests.csproj
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTest.cs
  dotnet/src/Functions/Functions.Prompty/Extensions/PromptyKernelExtensions.cs
  dotnet/src/Functions/Functions.Prompty/Functions.Prompty.csproj
Labels: .NET

#8705 .Net: Fix intermittently failing unit tests
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionFunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_FunctionCallingTests.cs
Labels: .NET, kernel

#8696 .Net: Update notebooks for 1.19.0
  dotnet/notebooks/01-basic-loading-the-kernel.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-kernel-arguments-chat.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/notebooks/07-DALL-E-3.ipynb
  dotnet/notebooks/08-chatGPT-with-DALL-E-3.ipynb
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
  dotnet/notebooks/config/Settings.cs
Labels: .NET, ai connector

#8690 .Net: Switch to using interfaces for search instead of query objects.
  docs/decisions/00NN-vector-search-design.md
  dotnet/samples/Concepts/Memory/VectorSearch_Simple.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/IVectorizableTextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/IVectorizedSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/VectorSearchExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchQueries/VectorSearchQuery.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchQueries/VectorSearchQueryType.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchQueries/VectorizableTextSearchQuery.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearchQueries/VectorizedSearchQuery.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorStorage/IVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, kernel.core, documentation, memory

#8698 .Net: OpenAI + AzureOpenAI Connector SDK updates
  dotnet/Directory.Packages.props
  dotnet/docs/OPENAI-CONNECTOR-MIGRATION.md
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.TextToAudio.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/Services/OpenAIChatCompletionService.cs
Labels: .NET, kernel, documentation

#8700 .Net: Fix typo for DefaultSummarizationPrompt
  dotnet/src/Agents/Core/History/ChatHistorySummarizationReducer.cs
Labels: .NET

#8710 Python: Support Sessions plugin auth token
  python/samples/concepts/auto_function_calling/azure_python_code_interpreter_function_calling.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/core_plugins/sessions_python_tool/README.md
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/tests/conftest.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_embedding.py
  python/tests/unit/core_plugins/test_sessions_python_plugin.py
Labels: python, documentation

#8717 .Net: Minor code enhancements and fixes
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
  dotnet/src/IntegrationTests/Agents/MixedAgentTests.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorDeserializationTests.cs
Labels: .NET, kernel

#8812 Python: Fix typo
  python/semantic_kernel/core_plugins/sessions_python_tool/README.md
Labels: python, documentation

#8817 Python: Fix openai assistant function calling bug
  python/samples/getting_started_with_agents/step2_plugins.py
  python/samples/getting_started_with_agents/step7_assistant.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
Labels: python, agents

#8816 .Net: Adding generic data model support for Redis
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordFieldMapping.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreMappingTestHelpers.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonGenericDataModelMapperTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#8819 Python: Support numpy >=1.25.0 for SK Python versions < '3.12'
  python/pyproject.toml
  python/uv.lock
Labels: python

#8820 Python: Bump Python version to 1.9.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#8836 .Net: Addressing minor review comments
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorFunctionsSelectorContext.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorOptions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehaviorTests.cs
Labels: .NET, kernel, kernel.core

#8713 .Net: Adding Qdrant generic data model mapper.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordFieldMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantGenericDataModelMapperTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#8837 .Net: Remove float64 from supported vectors for Qdrant.
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordFieldMapping.cs
Labels: .NET, kernel, memory

#8838 .Net: Suppress moq warning after taking package updates.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel

#8841 .Net: Basic implementation of ITextSearch for an IVectorStore implementation
  dotnet/samples/Concepts/Search/Bing_TextSearch.cs
  dotnet/samples/Concepts/Search/VectorStore_TextSearch.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/TextSearchOptions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearchOptions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchExtensions.cs
Labels: .NET, kernel.core

#8845 Remove dead link to Maven Central
  README.md
Labels: documentation

#8847 .Net: Add float64 support for redis vector search.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
Labels: .NET, kernel, memory

#8648 .Net: OpenAI Structured Outputs ADR and implementation for Option 1 and Option 2
  docs/decisions/0053-dotnet-structured-outputs.md
  dotnet/samples/Concepts/ChatCompletion/OpenAI_StructuredOutputs.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Connectors.OpenAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIJsonSchemaTransformerTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/TestData/chat_completion_refusal_test_response.json
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/TestData/chat_completion_streaming_refusal_test_response.txt
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/OpenAIJsonSchemaTransformer.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIPromptExecutionSettings.cs
  dotnet/src/InternalUtilities/src/Schema/KernelJsonSchemaBuilder.cs
Labels: .NET, kernel, documentation

#8711 Python: Support DefaultAzureCredential Auth for Azure Resources
  .github/workflows/python-integration-tests.yml
  python/samples/concepts/auto_function_calling/azure_python_code_interpreter_function_calling.py
  python/semantic_kernel/connectors/ai/open_ai/const.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/settings/azure_open_ai_settings.py
  python/semantic_kernel/core_plugins/sessions_python_tool/README.md
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_settings.py
  python/semantic_kernel/utils/authentication/entra_id_authentication.py
  python/tests/conftest.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/integration/embeddings/test_azure_oai_embedding_service.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_embedding.py
  python/tests/unit/core_plugins/test_sessions_python_plugin.py
Labels: python, documentation

#8853 .Net: Disable failing integration tests
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_FunctionCallingTests.cs
Labels: .NET, kernel

#8823 .Net: Fixed record mapping in Azure CosmosDB MongoDB connector
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBHotelModel.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBConstants.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBNamingConvention.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordMapper.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#8848 .Net: Updated package version to 1.20.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#8495 Python: support all auth options for azure ai search
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/azure_chat_prompt_execution_settings.py
  python/tests/unit/connectors/open_ai/test_openai_request_settings.py
Labels: python

#8862 Python: Support DefaultAzureCredential for AzureAI Inference
  .github/workflows/python-integration-tests.yml
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_text_embedding.py
  python/tests/integration/embeddings/test_azure_ai_inference_embedding_service.py
Labels: python

#8502 Python: Fixed an issue where the schema property was missing when using the OpenAPI plugin with the get method.
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_parameter.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_parser.py
  python/tests/unit/connectors/openapi/openapi_todo.yaml
  python/tests/unit/connectors/openapi/test_openapi_parser.py
Labels: python

#8852 .Net Agents - Streaming Bug Fix and Support Additional Assistant Option
  dotnet/samples/Concepts/Agents/ChatCompletion_FunctionTermination.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantRunOptionsFactory.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantExecutionOptions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantInvocationOptions.cs
  dotnet/src/Agents/UnitTests/OpenAI/Internal/AssistantRunOptionsFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantDefinitionTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantInvocationOptionsTests.cs
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
  dotnet/src/IntegrationTests/Agents/MixedAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionFunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_FunctionCallingTests.cs
Labels: bug, PR: ready for review, .NET, kernel, experimental, enhancement, agents

#8842 .Net: Sample demonstrating function advertisement depending on context
  dotnet/samples/Concepts/FunctionCalling/ContextDependentAdvertising.cs
Labels: .NET

#8689 Python: Update anthropic_settings url path
  python/semantic_kernel/connectors/ai/anthropic/settings/anthropic_settings.py
Labels: python

#8813 .Net: Enhance volatile memory connector to allow collection to be serialized/deserialized
  dotnet/samples/Concepts/Memory/VectorSearch_Simple.cs
  dotnet/samples/Concepts/Memory/VectorStoreExtensions.cs
  dotnet/samples/Concepts/Memory/VolatileVectorStore_LoadData.cs
  dotnet/samples/Concepts/Resources/semantic-kernel-info.txt
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
Labels: .NET

#8887 .Net: Added vector search implementation for Azure CosmosDB for MongoDB
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionOptions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#8905 .Net: Update integration tests to use AzureCliCredential
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_NoneFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Planners/PlanTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlanParserTests.cs
  dotnet/src/IntegrationTests/Planners/SequentialPlanner/SequentialPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/IntegrationTests/Planners/StepwisePlanner/StepwisePlannerTests.cs
  dotnet/src/IntegrationTests/README.md
Labels: .NET, kernel, documentation

#8901 .Net: Support polymorphic serialization of ChatMessageContent class and its derivatives
  dotnet/src/SemanticKernel.Abstractions/Contents/KernelContent.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ChatMessageContentTests.cs
Labels: .NET, kernel, kernel.core

#8904 .Net: [Feature branch] Added support for Filter and Offset parameters in Azure CosmosDB MongoDB vector search
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBHotelModel.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordMapper.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#8889 .Net: Add Examples to retrieve FinishReason/DoneReason and other details with the Ollama connector
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletionStreaming.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
Labels: .NET, kernel

#8911 .Net: Switch redis hashset vectorstore prefix default to true
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollectionOptions.cs
Labels: .NET, kernel, memory

#8908 Python: Check the Azure OpenAI settings API key for None
  .github/workflows/python-integration-tests.yml
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
Labels: python

#8915 .Net Agents - Make `messages` parameter optional for `OpenAIAssistantAgent.InvokeStreamingAsync`
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Streaming.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#8913 .Net Agents - Update KernelFunction Based Strategies for `AgentGroupChat`
  dotnet/samples/GettingStartedWithAgents/Step04_KernelFunctionStrategies.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionTerminationStrategy.cs
  dotnet/src/Agents/Core/ChatHistoryKernelAgent.cs
  dotnet/src/Agents/Core/History/ChatHistoryReducerExtensions.cs
  dotnet/src/Agents/Core/Internal/ChatMessageForPrompt.cs
Labels: PR: ready for review, .NET, experimental, enhancement, agents

#8899 .Net: Create sample showing how to render ChatHistory to a prompt and invoke it
  dotnet/samples/Concepts/PromptTemplates/ChatLoopWithPrompt.cs
  dotnet/samples/Concepts/PromptTemplates/SafeChatPrompts.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#8919 .Net: Update OpenAI / AzureOpenAI Concepts
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAI_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAI_CustomClient.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_CustomClient.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, PR: ready to merge, documentation

#8920 .Net: Vector search sample: Multi Vector and Paging
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiVector.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Paging.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
Labels: .NET

#8909 .Net: Adding a multi-store vector search sample.
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Common.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Qdrant.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Redis.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Volatile.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Simple.cs
Labels: .NET

#8927 .Net: Creating skeleton projects for Processes.
  dotnet/SK-dotnet.sln
  dotnet/docs/EXPERIMENTS.md
  dotnet/src/Experimental/Process.Abstractions/AssemblyInfo.cs
  dotnet/src/Experimental/Process.Abstractions/Process.Abstractions.csproj
  dotnet/src/Experimental/Process.Core/AssemblyInfo.cs
  dotnet/src/Experimental/Process.Core/Process.Core.csproj
  dotnet/src/Experimental/Process.LocalRuntime/AssemblyInfo.cs
  dotnet/src/Experimental/Process.LocalRuntime/Process.LocalRuntime.csproj
  dotnet/src/Experimental/Process.UnitTests/Process.UnitTests.csproj
Labels: .NET, documentation

#8891 .Net: Add VectorStoreTextSearch concepts and unit tests
  .github/_typos.toml
  dotnet/samples/Concepts/Memory/VectorStoreExtensions.cs
  dotnet/samples/Concepts/Memory/VolatileVectorStore_LoadData.cs
  dotnet/samples/Concepts/Resources/what-is-semantic-kernel.json
  dotnet/samples/Concepts/Search/VectorStore_TextSearch.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreTextSearchTests.cs
Labels: .NET, kernel

#8948 .Net: Fix function calling integration tests
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletionFunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_RequiredFunctionChoiceBehaviorTests.cs
Labels: .NET, kernel

#8631 .Net Agents - Support Prompt Template
  dotnet/samples/Concepts/Agents/ChatCompletion_ServiceSelection.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_Templating.cs
  dotnet/samples/Concepts/Agents/MixedChat_Agents.cs
  dotnet/samples/Concepts/Agents/MixedChat_Files.cs
  dotnet/samples/Concepts/Agents/MixedChat_Images.cs
  dotnet/samples/Concepts/Agents/MixedChat_Reset.cs
  dotnet/samples/Concepts/Agents/MixedChat_Streaming.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_ChartMaker.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_FileManipulation.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Streaming.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Templating.cs
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/samples/GettingStartedWithAgents/Resources/GenerateStory.yaml
  dotnet/samples/GettingStartedWithAgents/Step01_Agent.cs
  dotnet/samples/GettingStartedWithAgents/Step06_DependencyInjection.cs
  dotnet/samples/GettingStartedWithAgents/Step08_Assistant.cs
  dotnet/samples/GettingStartedWithAgents/Step09_Assistant_Vision.cs
  dotnet/samples/GettingStartedWithAgents/Step10_AssistantTool_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/Step11_AssistantTool_FileSearch.cs
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryKernelAgent.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantCreationOptionsFactory.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantRunOptionsFactory.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantCapabilities.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantDefinition.cs
  dotnet/src/Agents/OpenAI/OpenAIClientProvider.cs
  dotnet/src/Agents/UnitTests/OpenAI/Internal/AssistantRunOptionsFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantAgentTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantDefinitionTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantResponseContent.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIClientProviderTests.cs
  dotnet/src/IntegrationTests/Agents/MixedAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
Labels: PR: ready for review, .NET, kernel, experimental, enhancement, agents

#8923 .Net: Share generic data model validations and use everywhere.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, memory

#8957 .Net: bentho/process abstraction
  dotnet/src/Experimental/Process.Abstractions/KernelProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEdge.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEvent.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessFunctionTarget.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessMessageChannel.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStep.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepContext.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepState.cs
Labels: .NET

#8944 .Net: [Feature Branch] Added vector search implementation for Weaviate
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateVectorSearchRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateVectorSearchResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/ModelV2/WeaviateVectorSearchData.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateConstants.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#8959 .Net: Refactored step inheritance to make this less confusing.
  dotnet/src/Experimental/Process.Abstractions/KernelProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStep.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepInfo.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepState.cs
Labels: .NET

#8892 .Net: Adding generic data type support to the volatile vector store.
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreKeyResolver.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollectionOptions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreVectorResolver.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel

#8964 .Net: Adding process builders.
  dotnet/src/Experimental/Process.Abstractions/KernelProcessFunctionTarget.cs
  dotnet/src/Experimental/Process.Abstractions/Process.Abstractions.csproj
  dotnet/src/Experimental/Process.Core/Extensions/ProcessTypeExtensions.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/Process.Core.csproj
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessFunctionTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.UnitTests/Process.UnitTests.csproj
  dotnet/src/Experimental/Process.UnitTests/ProcessBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessTypeExtensionsTests.cs
Labels: .NET

#8967 .Net: Implemented generic data model support for Azure CosmosDB MongoDB connector
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBConstants.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonGenericDataModelMapper.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
Labels: .NET, kernel, memory

#8982 Fixed broken links in repo
  README.md
  docs/decisions/0034-rag-in-sk.md
Labels: documentation

#8968 .Net: Sample showing how to use function calling to retrieve relevant information
  dotnet/samples/Concepts/ChatCompletion/OpenAI_FunctionCallingWithMemoryPlugin.cs
Labels: .NET

#8979 .Net: bentho/local-runtime
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithProcesses/Step01_Processes.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEvent.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepInfo.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepState.cs
  dotnet/src/Experimental/Process.Core/Extensions/ProcessTypeExtensions.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalMessage.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcessFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.LocalRuntime/Process.LocalRuntime.csproj
  dotnet/src/Experimental/Process.UnitTests/LocalProcessTests.cs
  dotnet/src/Experimental/Process.UnitTests/Process.UnitTests.csproj
  dotnet/src/Experimental/Process.UnitTests/ProcessEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessTypeExtensionsTests.cs
Labels: PR: in progress, .NET, experimental, enhancement

#8970 .Net: Feature Processes
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithProcesses/Step01_Processes.cs
  dotnet/src/Experimental/Process.Abstractions/AssemblyInfo.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEdge.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEvent.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessFunctionTarget.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessMessageChannel.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStep.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepContext.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepInfo.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepState.cs
  dotnet/src/Experimental/Process.Abstractions/Process.Abstractions.csproj
  dotnet/src/Experimental/Process.Core/AssemblyInfo.cs
  dotnet/src/Experimental/Process.Core/Extensions/ProcessTypeExtensions.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/Process.Core.csproj
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessFunctionTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/AssemblyInfo.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalMessage.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcessFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.LocalRuntime/Process.LocalRuntime.csproj
  dotnet/src/Experimental/Process.UnitTests/LocalProcessTests.cs
  dotnet/src/Experimental/Process.UnitTests/Process.UnitTests.csproj
  dotnet/src/Experimental/Process.UnitTests/ProcessBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessTypeExtensionsTests.cs
Labels: .NET, documentation

#8984 .Net: Bump to version 1.21.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#8981 .Net: Implemented generic data model support for Azure CosmosDB NoSQL connector
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLReadOnlyMemoryByteConverter.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#8976 .Net: Rename a number of properties as agreed and remove dangerous default
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Common.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiVector.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Paging.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Simple.cs
  dotnet/samples/Concepts/Memory/VolatileVectorStore_LoadData.cs
  dotnet/samples/Concepts/Search/Bing_TextSearch.cs
  dotnet/samples/Concepts/Search/Google_TextSearch.cs
  dotnet/samples/Concepts/Search/VectorStore_TextSearch.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Bing/BingTextSearchTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Google/GoogleTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleTextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/TextSearchOptions.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/VectorSearchFilter.cs
  dotnet/src/SemanticKernel.Abstractions/Data/VectorSearch/VectorSearchOptions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/MockTextSearch.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreTextSearchTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, kernel.core, memory

#8985 Python: Azure OpenAI setting fix: Don't fetch AD token if API is present in environment variable.
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_embedding.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_embedding.py
Labels: python

#8973 Python: Pass in retrieved agent to agent creation. Refactor unit tests. Add a code sample for retrieval.
  python/samples/concepts/agents/assistant_agent_retrieval.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/tests/unit/agents/test_azure_assistant_agent.py
  python/tests/unit/agents/test_open_ai_assistant_agent.py
Labels: python

#8958 Python: Support OpenAI json_schema response format
  python/pyproject.toml
  python/samples/concepts/README.md
  python/samples/concepts/planners/azure_openai_function_calling_stepwise_planner.py
  python/samples/concepts/structured_output/README.md
  python/samples/concepts/structured_output/json_structured_output.py
  python/samples/concepts/structured_output/json_structured_output_function_calling.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/semantic_kernel/connectors/ai/prompt_execution_settings.py
  python/semantic_kernel/connectors/utils/structured_output_schema.py
  python/semantic_kernel/functions/kernel_parameter_metadata.py
  python/semantic_kernel/schema/kernel_json_schema_builder.py
  python/semantic_kernel/utils/authentication/__init__.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
  python/tests/unit/connectors/open_ai/test_openai_request_settings.py
  python/tests/unit/schema/test_schema_builder.py
  python/uv.lock
Labels: python, documentation

#8960 .Net: Make the JSON serialization aspect of the Abstractions package AOT friendly
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiFunction.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralFunction.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIJsonSchemaTransformerTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/OpenAIFunction.cs
  dotnet/src/InternalUtilities/src/Diagnostics/DynamicallyAccessedMembersAttribute.cs
  dotnet/src/InternalUtilities/src/Diagnostics/RequiresDynamicCodeAttribute.cs
  dotnet/src/InternalUtilities/src/Diagnostics/RequiresUnreferencedCodeAttribute.cs
  dotnet/src/InternalUtilities/src/Diagnostics/UnconditionalSuppressMessageAttribute.cs
  dotnet/src/InternalUtilities/src/Schema/KernelJsonSchemaBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContentBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionLogMessages.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelJsonSchema.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelParameterMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelReturnParameterMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryQueryResult.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryRecord.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.Abstractions/Text/JsonElementJsonSerializerContext.cs
  dotnet/src/SemanticKernel.Abstractions/Text/MemoryRecordMetadataJsonSerializerContext.cs
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel, kernel.core, aot

#8989 .Net: Unit test for KernelJsonSchemaBuilder
  dotnet/src/SemanticKernel.UnitTests/Utilities/KernelJsonSchemaBuilderTests.cs
Labels: .NET, kernel

#8992 .Net: Updated package version to 1.21.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#8902 Python: Streaming content for token usage
  docs/decisions/0054-python-streaming-content-for-token-usage.md
  python/samples/demos/telemetry/main.py
  python/samples/demos/telemetry/scenarios.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/semantic_kernel/contents/streaming_content_mixin.py
  python/semantic_kernel/contents/streaming_text_content.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/decorators.py
  python/tests/integration/cross_language/test_cross_language.py
  python/tests/unit/connectors/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
  python/tests/unit/contents/test_streaming_chat_message_content.py
  python/tests/unit/utils/model_diagnostics/test_trace_streaming_chat_completion.py
  python/tests/unit/utils/model_diagnostics/test_trace_streaming_text_completion.py
Labels: python, documentation

#8993 .Net: Updated baseline version to 1.21.1
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel.core

#7372 .Net: remove redundant TasksExtensions and ValueTuple refs
  dotnet/Directory.Packages.props
  dotnet/src/Agents/UnitTests/Agents.UnitTests.csproj
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel

#9004 Python: Bump Python version to 1.10.0 from 1.9.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#9000 .Net: Add delegates for the string and result mappers
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/ITextSearchResultMapper.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/ITextSearchStringMapper.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
Labels: .NET, kernel.core

#8995 .Net: Bentho/lazy step initialization
  dotnet/samples/GettingStartedWithProcesses/Step01_Processes.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepState.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.UnitTests/KernelProcessStateTests.cs
  dotnet/src/Experimental/Process.UnitTests/LocalProcessTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessStepBuilderTests.cs
Labels: PR: ready for review, .NET, experimental, enhancement

#6905 Python: Guided Conversations Sample v0.1.0
  python/samples/demos/guided_conversations/README.md
  python/samples/demos/guided_conversations/guided_conversation/__init__.py
  python/samples/demos/guided_conversations/guided_conversation/functions/__init__.py
  python/samples/demos/guided_conversations/guided_conversation/functions/conversation_plan.py
  python/samples/demos/guided_conversations/guided_conversation/functions/execution.py
  python/samples/demos/guided_conversations/guided_conversation/functions/final_update_plan.py
  python/samples/demos/guided_conversations/guided_conversation/plugins/__init__.py
  python/samples/demos/guided_conversations/guided_conversation/plugins/agenda.py
  python/samples/demos/guided_conversations/guided_conversation/plugins/artifact.py
  python/samples/demos/guided_conversations/guided_conversation/plugins/guided_conversation_agent.py
  python/samples/demos/guided_conversations/guided_conversation/utils/__init__.py
  python/samples/demos/guided_conversations/guided_conversation/utils/base_model_llm.py
  python/samples/demos/guided_conversations/guided_conversation/utils/conversation_helpers.py
  python/samples/demos/guided_conversations/guided_conversation/utils/openai_tool_calling.py
  python/samples/demos/guided_conversations/guided_conversation/utils/plugin_helpers.py
  python/samples/demos/guided_conversations/guided_conversation/utils/resources.py
  python/samples/demos/guided_conversations/interactive_guided_conversation.py
  python/samples/demos/guided_conversations/notebooks/01_guided_conversation_teaching.ipynb
  python/samples/demos/guided_conversations/notebooks/02_artifact.ipynb
  python/samples/demos/guided_conversations/notebooks/03_agenda.ipynb
  python/samples/demos/guided_conversations/notebooks/04_battle_of_the_agents.ipynb
  python/samples/demos/guided_conversations/pyproject.toml
Labels: python, documentation

#8991 .Net: Integration tests for Bing and Google text search
  dotnet/src/IntegrationTests/Data/BaseTextSearchTests.cs
  dotnet/src/IntegrationTests/Plugins/Web/Bing/BingTextSearchTests.cs
  dotnet/src/IntegrationTests/Plugins/Web/Google/GoogleTextSearchTests.cs
  dotnet/src/IntegrationTests/TestSettings/BingConfiguration.cs
  dotnet/src/IntegrationTests/TestSettings/GoogleConfiguration.cs
Labels: .NET, kernel

#9011 .Net: Address IL2067 and IL3051 AOT warnings in Abstractions project
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/AotCompatibility.TestApp/AotCompatibility.TestApp.csproj
  dotnet/samples/Demos/AotCompatibility.TestApp/Program.cs
  dotnet/src/InternalUtilities/src/System/InternalTypeConverter.cs
  dotnet/src/InternalUtilities/src/System/TypeConverterFactory.cs
  dotnet/src/SemanticKernel.Abstractions/Services/EmptyServiceProvider.cs
Labels: .NET, kernel.core, aot

#9007 .Net: Add DI registration helpers for collections and search
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Pinecone/PineconeServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateServiceCollectionExtensionsTests.cs
Labels: .NET, kernel, memory

#8584 .Net: Gemini - Removed limitation when gemini throws exception if invalid response (BREAKING CHANGE)
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
Labels: .NET, kernel

#9010 .Net: Implemented generic data model support for Weaviate connector
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/HttpV2/WeaviateUpsertCollectionObjectBatchRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordMapperTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#9014 .Net: Remove ReadOnlyMemoryConverter
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/Query.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/SparseVectorData.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeDocument.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/SearchVectorsResponse.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecord.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Http/HttpRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateMemoryStore.cs
  dotnet/src/InternalUtilities/src/Text/JsonOptionsCache.cs
  dotnet/src/InternalUtilities/src/Text/ReadOnlyMemoryConverter.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryQueryResult.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryRecord.cs
Labels: .NET, kernel, kernel.core, memory

#9017 .Net: ONNX - Remove starting space at the beginning of first token
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIChatCompletionService.cs
Labels: .NET, kernel

#9023 .Net: Adding the ability to redirect system.Console output to test output.
  dotnet/samples/Concepts/PromptTemplates/SafeChatPrompts.cs
  dotnet/samples/GettingStartedWithProcesses/Step01_Processes.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: PR: ready for review, .NET

#9022 .Net: Adding usage metadata to OpenAI Streaming Chunks
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/TestData/chat_completion_streaming_test_response.txt
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
Labels: .NET, kernel

#9031 Python: Azure identity needs to be a default dependency
  python/pyproject.toml
Labels: python

#9021 .Net: Add generic data model sample
  dotnet/samples/Concepts/Memory/VectorStore_GenericDataModel_Interop.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#9033 Python: Bump python version to 1.10.1 for a release.
  python/semantic_kernel/__init__.py
Labels: python
