Repository microsoft/semantic-kernel, pull requests merged in 2024-02, with the labels that each got.

#4764 Python: Add kernel plugin collection and remove old plugin collection classes
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/third_party/weaviate-persistent-memory.ipynb
  python/samples/kernel-syntax-examples/google_palm_chat_with_memory.py
  python/samples/kernel-syntax-examples/memory.py
  python/samples/kernel-syntax-examples/plugins_from_dir.py
  python/samples/kernel-syntax-examples/self-critique_rag.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_exception.py
  python/semantic_kernel/orchestration/__init__.py
  python/semantic_kernel/orchestration/kernel_context.py
  python/semantic_kernel/orchestration/kernel_function.py
  python/semantic_kernel/orchestration/kernel_function_base.py
  python/semantic_kernel/planning/action_planner/action_planner.py
  python/semantic_kernel/planning/basic_planner.py
  python/semantic_kernel/planning/plan.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner_parser.py
  python/semantic_kernel/plugin_definition/__init__.py
  python/semantic_kernel/plugin_definition/constants.py
  python/semantic_kernel/plugin_definition/function_view.py
  python/semantic_kernel/plugin_definition/kernel_plugin.py
  python/semantic_kernel/plugin_definition/kernel_plugin_collection.py
  python/semantic_kernel/plugin_definition/plugin_collection.py
  python/semantic_kernel/plugin_definition/plugin_collection_base.py
  python/semantic_kernel/plugin_definition/read_only_plugin_collection.py
  python/semantic_kernel/plugin_definition/read_only_plugin_collection_base.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/semantic_kernel/utils/naming.py
  python/tests/conftest.py
  python/tests/integration/completions/test_conversation_summary_plugin.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
  python/tests/template_engine/prompt_template_e2e_tests.py
  python/tests/unit/core_plugins/test_file_io_plugin.py
  python/tests/unit/core_plugins/test_http_plugin.py
  python/tests/unit/core_plugins/test_math_plugin.py
  python/tests/unit/core_plugins/test_text_plugin.py
  python/tests/unit/core_plugins/test_time_plugin.py
  python/tests/unit/kernel_extensions/test_import_plugins.py
  python/tests/unit/kernel_extensions/test_register_functions.py
  python/tests/unit/planning/action_planner/test_action_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner_extensions.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner_parser.py
  python/tests/unit/planning/test_plan_creation.py
  python/tests/unit/planning/test_plan_execution.py
  python/tests/unit/plugin_definition/test_kernel_plugin_collection.py
  python/tests/unit/plugin_definition/test_kernel_plugins.py
  python/tests/unit/template_engine/blocks/test_code_block.py
  python/tests/unit/template_engine/test_prompt_template_engine.py
  python/tests/unit/test_kernel.py
  python/tests/unit/test_serialization.py
Labels: python

#4849 Python: Bump python version to 0.5.0 for release. Update notebooks.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
Labels: python

#4804 Fixing logic in custom `or` HB helper
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelperUtils.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelSystemHelpers.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPrompt.handlebars
Labels: bug, .NET, planner, kernel

#4850 Python: Make the Kernel class Pydantic.
  python/semantic_kernel/kernel.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner.py
  python/tests/unit/planning/stepwise_planner/test_stepwise_planner_parse_result.py
Labels: python

#4854 .Net: Add a Unit Test to ensure the Service Attributes defined previously in the service are available in the ServiceSelector to be used as a filter.
  dotnet/src/SemanticKernel.UnitTests/Functions/CustomAIServiceSelectorTests.cs
Labels: .NET, kernel

#4774 .Net: Fix bug to allow activation of JSON mode through execution_settings
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
Labels: .NET, kernel

#4740 .Net: SK Agents
  docs/decisions/0032-agents.md
  docs/decisions/diagrams/open-ai-assistant-api-objects.png
Labels: PR: ready for review, agents, documentation

#4863 Python: Pydantic-ify the KernelFunction class. Fix code paths related to tool_calls.
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/third_party/weaviate-persistent-memory.ipynb
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/kernel-syntax-examples/chat_gpt_api_function_calling.py
  python/samples/kernel-syntax-examples/google_palm_chat_with_memory.py
  python/samples/kernel-syntax-examples/memory.py
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/models/chat/open_ai_chat_message.py
  python/semantic_kernel/connectors/ai/open_ai/semantic_functions/open_ai_chat_prompt_template.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/connectors/openapi/kernel_openapi.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/orchestration/__init__.py
  python/semantic_kernel/orchestration/kernel_context.py
  python/semantic_kernel/orchestration/kernel_function.py
  python/semantic_kernel/orchestration/kernel_function_base.py
  python/semantic_kernel/planning/action_planner/action_planner.py
  python/semantic_kernel/planning/plan.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner.py
  python/semantic_kernel/planning/sequential_planner/sequential_planner_parser.py
  python/semantic_kernel/planning/stepwise_planner/stepwise_planner.py
  python/semantic_kernel/plugin_definition/kernel_plugin.py
  python/semantic_kernel/plugin_definition/kernel_plugin_collection.py
  python/semantic_kernel/semantic_functions/chat_prompt_template.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/tests/unit/core_plugins/test_text_plugin.py
  python/tests/unit/kernel_extensions/test_register_functions.py
  python/tests/unit/orchestration/test_native_function.py
  python/tests/unit/planning/action_planner/test_action_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner.py
  python/tests/unit/planning/sequential_planner/test_sequential_planner_parser.py
  python/tests/unit/planning/test_plan_creation.py
  python/tests/unit/template_engine/blocks/test_code_block.py
  python/tests/unit/template_engine/test_prompt_template_engine.py
  python/tests/unit/test_kernel.py
  python/tests/unit/test_serialization.py
Labels: python

#4859 Java: Add wiremock tests
  java/aiservices/openai/pom.xml
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/XMLPromptParser.java
  java/api-test/integration-tests/pom.xml
  java/api-test/integration-tests/scripts/generateCert.sh
  java/api-test/integration-tests/scripts/recordMappings.sh
  java/api-test/integration-tests/scripts/runWiremocks.sh
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example05_InlineFunctionDefinitionTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/syntaxexamples/WiremockExamplesIT.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/syntaxexamples/WiremockRecord.java
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-80273270-bf63-4ea6-a726-97b378c27206.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-8a534347-22a6-449e-8312-e0e251c72a06.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-afcd8a90-4c00-427e-a6fe-2889c709673a.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-b287fd2a-66ca-4bf5-8318-46b27dde1ba3.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-d60c220f-9f80-45dc-9c2c-4d4ac7c5fa32.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-005b620b-a3ab-496e-884f-855eaeeba807.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-016ee37f-184f-46d0-a300-c39987eb78bc.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-1f9bb4da-15dd-464a-a46c-386ffc4459e7.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-22035813-f748-470e-bfca-d655d0295a30.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-3097698c-da33-491e-8462-274369fe04ea.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-3263345f-be02-49fa-bd66-2915c1fde1d0.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-38a4bb8e-5955-454a-ab41-ab7c7c84796c.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-3d3c6b8b-7d76-4a56-bf61-754d5ec1fa15.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-460b6d23-f865-479f-a9e3-7e77d771574e.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-48f17a4b-a1bf-419a-882b-7fb4a28f3597.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-48fea358-dd01-44f5-bf3a-fdf8cd171e55.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-4fc21523-e803-4523-9cc8-78c386cb83cb.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-53426f33-03a5-464e-93b7-27dd1c00ca41.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-547fcddc-e0ea-4ebc-a6e5-116ba6388a96.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-63e32274-0eb9-486b-a740-d204963a1921.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-8d24484b-28a8-4dfb-8ea8-3098f013e7b9.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-8e1a79d7-8b2d-49d9-a4b6-1af619d23972.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-db15fdb3-7258-4a62-8877-7a23deff3483.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-f38fccbd-0526-4d8c-ab2c-bc1bd945292c.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-f66a56a2-e9ca-4f8b-88cb-b1748bc3156e.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-25f23187-2ccd-4365-ac5f-4c34f9cb1df7.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-53c9bc60-38e1-43ee-bc41-72c4c8e0c132.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-6e1f75c1-ff79-4c2f-8aa2-21d3bb9b657c.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-713b4915-450e-40a6-bd95-59d39067d220.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-79dc9a6e-6e4b-452b-91ed-b441a44d62be.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-7b007608-4004-4b4a-97fc-17b824be79d7.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-b946d010-8f1e-446a-aa88-1d5abc29099c.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-bb5c976d-a431-4026-b142-cbc87e62f60c.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-bfa8b606-15ca-4096-ac0d-adbce5b0cbfd.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-c94e0c39-6013-4230-9ac9-d5b9d397ef71.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-ebdb09a0-2362-444e-ae20-6a059ae86631.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-ff557508-e079-47f6-9b97-c393faec9812.json
  java/api-test/pom.xml
  java/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example10_DescribeAllPluginsAndFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example30_ChatWithPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example49_LogitBias.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example60_AdvancedMethodFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example61_MultipleLLMs.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example62_CustomAIServiceSelector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/contextvariables/ContextVariableTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/InputVariable.java
Labels: java

#4852 .Net: Adding EnumType PodType.Nano to Pinecone Connector
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Model/PodType.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeUtils.cs
Labels: .NET, kernel, memory

#4872 .Net Gemini - chat & text integration tests
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/Gemini/GeminiChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/Gemini/GeminiTextGenerationTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel

#4842 .Net Add remarks to OpenAIPromptExecutionSettings.ResponseFormat
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
Labels: .NET, kernel

#4805 .Net Small fixes in samples Step1-8
  dotnet/samples/KernelSyntaxExamples/BaseTest.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step1_Create_Kernel.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step2_Add_Plugins.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step3_Yaml_Prompt.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step4_Dependency_Injection.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step5_Chat_Prompt.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step6_Responsible_AI.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step7_Observability.cs
  dotnet/samples/KernelSyntaxExamples/Getting_Started/Step8_Pipelining.cs
  dotnet/samples/KernelSyntaxExamples/RepoUtils/XunitLogger.cs
Labels: .NET

#4861 .Net: Update azure.ai.openai to beta 13
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIFunctionToolCall.cs
Labels: .NET, kernel

#4757 .Net: Implicit JSON to target type conversion
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AzureSdk/OpenAIPluginCollectionExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
Labels: PR: ready for review, .NET, kernel

#4897 Python: Set the default plugins on the semantic function. Add a unit test.
  python/semantic_kernel/kernel.py
  python/tests/unit/kernel_extensions/test_import_plugins.py
Labels: python

#4883 .Net - Fix Agent Message Ordering for Multimessage Runs
  dotnet/samples/KernelSyntaxExamples/Example75_AgentTools.cs
  dotnet/src/Experimental/Agents/Internal/ChatRun.cs
  dotnet/src/Experimental/Agents/Internal/ChatThread.cs
Labels: bug, PR: ready for review, .NET, agents

#4873 .Net Gemini - Added samples
  dotnet/samples/KernelSyntaxExamples/Example80_GeminiTextGeneration.cs
  dotnet/samples/KernelSyntaxExamples/Example81_GeminiChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/README.md
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
Labels: .NET, documentation

#4793 .Net: Planner options improvements
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Example66_FunctionCallingStepwisePlanner.cs
  dotnet/samples/TelemetryExample/Program.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AzureSdk/OpenAIPluginCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/OpenAIFunctionTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/chat_completion_multiple_function_calls_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/chat_completion_single_function_call_test_response.json
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/chat_completion_streaming_multiple_function_calls_test_response.txt
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/chat_completion_streaming_single_function_call_test_response.txt
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ToolCallBehaviorTests.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/InternalUtilities/planning/Extensions/KernelFunctionMetadataExtensions.cs
  dotnet/src/InternalUtilities/planning/Extensions/ReadOnlyFunctionCollectionPlannerExtensions.cs
  dotnet/src/InternalUtilities/planning/PlannerOptions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlannerOptions.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlannerOptions.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/GeneratePlan.yaml
Labels: PR: ready for review, .NET, planner, kernel

#4907 .Net - Format agent output for AskAsync (agent as a plug-in)
  dotnet/src/Experimental/Agents/Internal/Agent.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#4904 .Net: Fix PlannerInstrumentation log message typo
  dotnet/src/InternalUtilities/planning/PlannerInstrumentation.cs
Labels: bug, .NET

#4930 Fix broken links
  SECURITY.md
Labels: documentation

#4915 Python: Remove cross lingual sample for AOAI OYD
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_cross_lingual.py
Labels: python

#4928 Python: streaming fix for Python: SK 0.5.0 breaks streaming #4925
  python/semantic_kernel/orchestration/kernel_function.py
Labels: python

#4924 Python: Support for cases where "logprobs" does not exist
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
Labels: python

#4916 .Net - Update "InternalUtilities" solution folder to include current code files.
  dotnet/SK-dotnet.sln
Labels: PR: ready for review, .NET

#4906 Python: Fix 06 memory notebook missing plugin name.
  python/notebooks/06-memory-and-embeddings.ipynb
  python/samples/kernel-syntax-examples/azure_chat_gpt_api.py
  python/semantic_kernel/__init__.py
Labels: python

#4786 .Net GoogleAI/VertexAI Added public API for embeddings
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/GoogleAI/GoogleAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/VertexAI/VertexAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/GoogleAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/VertexAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/TextEmbedding/GoogleAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/TextEmbedding/VertexAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/GoogleAI/GoogleAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Interfaces/IEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/VertexAI/VertexAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/GoogleAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextEmbedding/GoogleAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextEmbedding/TextEmbeddingGenerationServiceBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextEmbedding/VertexAITextEmbeddingGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/EmbeddingGenerationTests.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#4867 .Net: added Functions.OpenApi.Extensions project
  dotnet/SK-dotnet.sln
  dotnet/src/Functions/Functions.OpenApi.Extensions/Functions.OpenApi.Extensions.csproj
Labels: .NET

#4927 Python: fixes for hugging face and working integration tests
  .github/workflows/python-unit-tests.yml
  python/poetry.toml
  python/semantic_kernel/connectors/ai/hugging_face/hf_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/hugging_face/services/__init__.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/tests/integration/completions/conftest.py
  python/tests/integration/completions/test_hf_local_text_completions.py
  python/tests/integration/completions/test_hf_local_text_summarization.py
  python/tests/unit/ai/hugging_face/test_hf_local_text_completions.py
Labels: python

#4949 Python: Add CMK support to create Index
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
  python/tests/unit/memory/test_azure_cognitive_search_memory_store.py
Labels: python, memory

#4951 Python: Bump python project version for release. Update notebooks.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-semantic-function-inline.ipynb
  python/notebooks/04-context-variables-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
Labels: python

#4771 .Net: ADR for RAG pattern in SK
  docs/decisions/0033-kernel-filters.md
  docs/decisions/0034-rag-in-sk.md
  dotnet/samples/KernelSyntaxExamples/Example78_RAG.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Resources/chat-gpt-retrieval-plugin-open-api.yaml
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Plugins/Plugins.Memory/TextMemoryPlugin.cs
Labels: PR: ready for review, .NET, documentation

#4954 .Net: reintroduce publish config and set IsPackable to false for Functions.OpenApi.Extensions project
  dotnet/SK-dotnet.sln
  dotnet/src/Functions/Functions.OpenApi.Extensions/Functions.OpenApi.Extensions.csproj
Labels: .NET

#4963 .Net: Support work and school accounts for Microsoft Graph Connector
  dotnet/src/Plugins/Plugins.MsGraph/Connectors/CredentialManagers/LocalUserMSALCredentialManager.cs
Labels: .NET

#4956 .Net: Added fix for null completion usage details
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
Labels: PR: ready for review, .NET, kernel

#4967 .Net: Bump to version 1.3.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#4957 .Net Added support for gemini-vision
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/GeminiPartTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiPart.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiRequest.cs
Labels: .NET, kernel

#4968 Java: Version bumps
  java/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionInvocation.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-bom/pom.xml
Labels: java

#4955 Java: Remove KernelFunctionCollection from public API
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example07_BingAndGooglePlugins.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example42_KernelBuilder.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example69_MutableKernelPlugin.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelPluginCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/CodeBlock.java
Labels: java

#4944 Python: Remove functions view
  python/semantic_kernel/connectors/openapi/kernel_openapi.py
  python/semantic_kernel/core_plugins/conversation_summary_plugin.py
  python/semantic_kernel/functions/functions_view.py
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/semantic_kernel/functions/kernel_function_metadata.py
  python/semantic_kernel/functions/kernel_plugin_collection.py
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/semantic_kernel/planners/basic_planner.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_extensions.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner.py
  python/tests/unit/ai/hugging_face/test_hf_local_text_completions.py
  python/tests/unit/functions/test_kernel_function_decorators.py
  python/tests/unit/functions/test_kernel_function_metadata.py
  python/tests/unit/planners/action_planner/test_action_planner.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_extensions.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_parser.py
  python/tests/unit/test_serialization.py
Labels: python

#4971 Java: Complete rename from skill to plugin
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example01NativeFunctionsTest.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example03_ArgumentsTest.java
  java/plugins/semantickernel-plugin-core/src/main/java/com/microsoft/semantickernel/plugins/text/TextPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/TimePlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example01_NativeFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example03_Arguments.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummaryPlugin.java
  java/semantickernel-api/src/main/ignore/java/com/microsoft/semantickernel/DefaultKernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionInvocation.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ToolCallBehavior.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/semantickernel/blocks/FunctionIdBlock.java
Labels: java

#4958 .Net - Add support for Azure Open AI Assistants API
  dotnet/samples/KernelSyntaxExamples/Example72_AgentCollaboration.cs
  dotnet/src/Experimental/Agents.UnitTests/Extensions/OpenAIRestExtensions.AssistantTests.cs
  dotnet/src/Experimental/Agents.UnitTests/Extensions/OpenAIRestExtensions.MessagesTests.cs
  dotnet/src/Experimental/Agents.UnitTests/Extensions/OpenAIRestExtensions.RunTests.cs
  dotnet/src/Experimental/Agents.UnitTests/Extensions/OpenAIRestExtensions.ThreadTests.cs
  dotnet/src/Experimental/Agents.UnitTests/Integration/AgentHarness.cs
  dotnet/src/Experimental/Agents.UnitTests/Integration/RunHarness.cs
  dotnet/src/Experimental/Agents.UnitTests/Integration/ThreadHarness.cs
  dotnet/src/Experimental/Agents.UnitTests/Templates/GameAgent.yaml
  dotnet/src/Experimental/Agents.UnitTests/Templates/PoetAgent.yaml
  dotnet/src/Experimental/Agents/AgentBuilder.Static.cs
  dotnet/src/Experimental/Agents/AgentBuilder.cs
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.Assistant.cs
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.AssistantFiles.cs
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.Messages.cs
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.Run.cs
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.Thread.cs
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.cs
  dotnet/src/Experimental/Agents/IAgent.cs
  dotnet/src/Experimental/Agents/Internal/Agent.cs
  dotnet/src/Experimental/Agents/Internal/OpenAIRestContext.cs
  dotnet/src/Experimental/Agents/Models/AssistantModel.cs
  dotnet/src/Experimental/Agents/Models/OpenAIListModel.cs
  dotnet/src/Experimental/Agents/Models/ThreadMessageModel.cs
  dotnet/src/Experimental/Agents/Models/ThreadModel.cs
  dotnet/src/Experimental/Agents/Models/ThreadRunModel.cs
  dotnet/src/Experimental/Agents/Models/ThreadRunStepModel.cs
Labels: PR: ready for review, .NET, feature branch, experimental, enhancement, agents

#4966 .Net Gemini - Adjusted exceptions to comply with ADR
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Common/GeminiClientChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Common/GeminiChatCompletionClient.cs
Labels: .NET, kernel

#4993 .Net: Sets serialization depth to 128
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelJsonSchema.cs
Labels: .NET, kernel.core

#4994 .Net: Fixed usage of chat system prompt
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#4972 Java: Add header to Java openai call
  java/aiservices/openai/pom.xml
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/OpenAIRequestSettings.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/aiservices/openai/src/main/resources/com/microsoft/semantickernel/aiservices/openai/semantic-kernel-version.properties
Labels: java

#4989 Java: Tidy poms
  java/aiservices/openai/pom.xml
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-web-bing/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/samples/sk-v1/01-SimpleChat/pom.xml
  java/samples/sk-v1/02-PersonaChat/pom.xml
  java/samples/sk-v1/03-SimpleRag/pom.xml
  java/samples/sk-v1/04-DynamicRag/pom.xml
  java/samples/sk-v1/05-MultiModal/pom.xml
  java/samples/sk-v1/06-Assistants/pom.xml
  java/samples/sk-v1/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-bom/pom.xml
Labels: java

#4977 Python: check if timestamp exists
  python/semantic_kernel/connectors/memory/azure_cosmosdb/mongo_vcore_store_api.py
Labels: python, memory

#4803 .Net - OpenAI File Service ADR
  docs/decisions/0026-file-service.md
Labels: PR: ready for review, ai connector, experimental, agents, documentation

#4998 Java: Update redis and spring-starter versions
  java/connectors/semantickernel-connectors-memory-redis/pom.xml
  java/connectors/semantickernel-connectors-memory-redis/src/main/java/com/microsoft/semantickernel/connectors/memory/redis/JsonMemoryRecord.java
  java/connectors/semantickernel-connectors-memory-redis/src/main/java/com/microsoft/semantickernel/connectors/memory/redis/RedisMemoryStore.java
  java/samples/semantickernel-spring-starter/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/SKException.java
  java/semantickernel-bom/pom.xml
Labels: java

#5001 Python: updated a bunch of samples and made improvements to the blocks and the tests
  python/samples/kernel-syntax-examples/action_planner.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_api.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_vector_search.py
  python/samples/kernel-syntax-examples/bing_search_plugin.py
  python/samples/kernel-syntax-examples/chat_gpt_api_function_calling.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_template/open_ai_chat_prompt_template.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/connectors/openapi/kernel_openapi.py
  python/semantic_kernel/core_plugins/math_plugin.py
  python/semantic_kernel/core_plugins/web_search_engine_plugin.py
  python/semantic_kernel/functions/kernel_arguments.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/semantic_kernel/planners/action_planner/skprompt.txt
  python/semantic_kernel/planners/plan.py
  python/semantic_kernel/prompt_template/chat_prompt_template.py
  python/semantic_kernel/template_engine/blocks/block.py
  python/semantic_kernel/template_engine/blocks/block_types.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/semantic_kernel/template_engine/blocks/function_id_block.py
  python/semantic_kernel/template_engine/blocks/text_block.py
  python/semantic_kernel/template_engine/blocks/val_block.py
  python/semantic_kernel/template_engine/blocks/var_block.py
  python/semantic_kernel/template_engine/code_tokenizer.py
  python/semantic_kernel/template_engine/prompt_template_engine.py
  python/semantic_kernel/template_engine/template_tokenizer.py
  python/semantic_kernel/utils/validation.py
  python/tests/unit/ai/hugging_face/test_hf_local_text_completions.py
  python/tests/unit/functions/test_kernel_arguments.py
  python/tests/unit/template_engine/blocks/test_block.py
  python/tests/unit/template_engine/blocks/test_code_block.py
  python/tests/unit/template_engine/blocks/test_function_id_block.py
  python/tests/unit/template_engine/blocks/test_text_block.py
  python/tests/unit/template_engine/blocks/test_var_block.py
Labels: python

#4992 .Net: Fixed Azure AI Search asynchronous operation execution
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/Connectors.AzureAISearch.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/Connectors.Memory.AzureAISearch.csproj
Labels: PR: ready for review, .NET, kernel, memory

#4918 .Net: Configurable Handlebars Planner prompt
  dotnet/samples/KernelSyntaxExamples/Example48_GroundednessChecks.cs
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/src/InternalUtilities/planning/PlannerInstrumentation.cs
  dotnet/src/InternalUtilities/src/Type/TypeExtensions.cs
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPrompt.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/AdditionalContext.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Examples/LoopsAllowedExample.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Examples/NoLoopsExample.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/BlockHelpers.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/ComparisonHelpers.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/CustomHelpers/ComplexTypes.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/CustomHelpers/CustomHelpers.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/LoopHelpers.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/MathHelpers.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/VariableHelpers.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/IntroductionWithExample.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/RetryLogic.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/TipsAndInstructions.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/UserGoal.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/Extensions/HandlebarsPlannerExtensions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlannerOptions.cs
  dotnet/src/Planners/Planners.Handlebars/Planners.Handlebars.csproj
Labels: .NET

#5009 Python: Remove functions view
  python/semantic_kernel/connectors/openapi/kernel_openapi.py
  python/semantic_kernel/core_plugins/conversation_summary_plugin.py
  python/semantic_kernel/core_plugins/http_plugin.py
  python/semantic_kernel/functions/functions_view.py
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/semantic_kernel/functions/kernel_function_metadata.py
  python/semantic_kernel/functions/kernel_plugin_collection.py
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/semantic_kernel/planners/basic_planner.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_extensions.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner.py
  python/tests/unit/ai/hugging_face/test_hf_local_text_completions.py
  python/tests/unit/functions/test_kernel_function_decorators.py
  python/tests/unit/functions/test_kernel_function_metadata.py
  python/tests/unit/functions/test_native_function.py
  python/tests/unit/planners/action_planner/test_action_planner.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_extensions.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_parser.py
  python/tests/unit/test_serialization.py
Labels: python

#4933 .Net: Text-to-Audio abstraction and OpenAI implementation
  .github/workflows/dotnet-build-and-test.yml
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAITextToAudioClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAITextToAudioClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToAudio/AzureOpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToAudio/OpenAITextToAudioExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToAudio/OpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToAudio/TextToAudioRequest.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToAudio/AzureOpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToAudio/OpenAITextToAudioExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToAudio/OpenAITextToAudioServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextToAudioTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/testsettings.json
  dotnet/src/SemanticKernel.Abstractions/AI/TextToAudio/ITextToAudioService.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioContent.cs
Labels: PR: ready for review, .NET, kernel, kernel.core

#4932 .Net: Audio-to-Text abstraction and OpenAI implementation
  dotnet/docs/EXPERIMENTS.md
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/AzureOpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/OpenAIAudioToTextExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/OpenAIAudioToTextExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/OpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIServiceCollectionExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIAudioToTextTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/TestData/test_audio.wav
  dotnet/src/IntegrationTests/testsettings.json
  dotnet/src/InternalUtilities/src/Diagnostics/Verify.cs
  dotnet/src/SemanticKernel.Abstractions/AI/AudioToText/IAudioToTextService.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioContent.cs
Labels: PR: ready for review, .NET, kernel, kernel.core, documentation

#4860 .Net: Allow access KernelFunction.ExecutionSettings from IAIServiceSelector
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/OpenAIAudioToTextExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToAudio/OpenAITextToAudioExecutionSettings.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Functions/Functions.Yaml/PromptExecutionSettingsNodeDeserializer.cs
  dotnet/src/Plugins/Plugins.Core/ConversationSummaryPlugin.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/InputVariable.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/AI/PromptExecutionSettingsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceSelectorTests.cs
Labels: .NET, kernel, kernel.core

#5015 .Net: Bump to version 1.4.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#5019 .Net Add Audio examples
  dotnet/samples/KernelSyntaxExamples/Example28_Audio.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
Labels: .NET

#5026 .Net: Improved Audio API by adding default setting values
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/OpenAIAudioToTextExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToAudio/OpenAITextToAudioExecutionSettings.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/OpenAIAudioToTextExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToAudio/AzureOpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToAudio/OpenAITextToAudioExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToAudio/OpenAITextToAudioServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextToAudioTests.cs
Labels: PR: ready for review, .NET, kernel

#4961 .Net: API Manifest Plugins
  dotnet/Directory.Packages.props
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/KernelSyntaxExamples/Example80_ApiManifest.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/Plugins/ApiManifestPlugins/MessagesPlugin/apimanifest.json
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/AssemblyInfo.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Functions.OpenApi.Extensions.csproj
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Functions.OpenApi.csproj
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
Labels: .NET, documentation

#5031 .Net: Fix kernel syntax sample numbering
  dotnet/samples/KernelSyntaxExamples/Example80_OpenAIFiles.cs
  dotnet/samples/KernelSyntaxExamples/Example81_TextEmbedding.cs
  dotnet/samples/KernelSyntaxExamples/Example82_Audio.cs
  dotnet/samples/KernelSyntaxExamples/Example83_ApiManifest.cs
Labels: .NET

#4937 Java: Add OpenAI function calling
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIFunction.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example05_InlineFunctionDefinitionTest.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/ConversationSummaryPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example10_DescribeAllPluginsAndFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example27_PromptFunctionsUsingChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example30_ChatWithPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example56_TemplateMethodFunctionsWithMultipleArguments.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example57_KernelHooks.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example58_ConfigureExecutionSettings.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example59_OpenAIFunctionCalling.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example60_AdvancedMethodFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example69_MutableKernelPlugin.java
  java/samples/sample-code/src/main/resources/log4j2.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelPluginCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/TextAIService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/KernelHooks.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunctionMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ToolCallBehavior.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelFunctionFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
Labels: java

#5024 Java: Make KernelFunctionFactory calls fluent. Fix some hook related bugs
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/syntaxexamples/Example05_InlineFunctionDefinitionTest.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/ConversationSummaryPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example03_Arguments.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example05_InlineFunctionDefinition.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example10_DescribeAllPluginsAndFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummaryPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example27_PromptFunctionsUsingChatGPT.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example30_ChatWithPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example42_KernelBuilder.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example58_ConfigureExecutionSettings.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example59_OpenAIFunctionCalling.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example61_MultipleLLMs.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example62_CustomAIServiceSelector.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example69_MutableKernelPlugin.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/StreamingKernelContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/TextAIService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatMessageContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/StreamingChatMessageContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/EmbeddedResourceLoader.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/ServiceLoadUtil.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/Todo.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/Verify.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/CodeTokenizer.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/DefaultPromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/TemplateTokenizer.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/Block.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/BlockTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/CodeRendering.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/FunctionIdBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/NamedArgBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/Symbols.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/TextBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/TextRendering.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/ValBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/tokenizer/blocks/VarBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelFunctionFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelPromptTemplateFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/AIService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/AIServiceSelection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/AIServiceSelector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/AiServiceCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/BaseAIServiceSelector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/OrderedAIServiceSelector.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/StreamingTextContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/TextContent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/textcompletion/TextGenerationService.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/templateengine/semantickernel/CodeTokenizerTest.java
Labels: java

#5005 .Net: Create Plan Prompt Override
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/samples/KernelSyntaxExamples/Resources/65-prompt-override.handlebars
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/TipsAndInstructions.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/UserGoal.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/Extensions/HandlebarsPlannerExtensions.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlannerOptions.cs
Labels: .NET

#4983 .Net: Removing Insufficient functions error
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPrompt.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/TipsAndInstructions.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
Labels: .NET

#5035 Java: Apply linting fixes
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIFunction.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example59_OpenAIFunctionCalling.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelPluginCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/chatcompletion/ChatHistory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/KernelHooks.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/KernelFunctionMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ToolCallBehavior.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/InputParameter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
Labels: java

#5041 .Net: Gemini - Remove text generation from chat completion services
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/GoogleAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/VertexAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/ChatCompletion/GeminiChatCompletionServiceBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/ChatCompletion/GoogleAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/ChatCompletion/VertexAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/GoogleAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIServiceCollectionExtensions.cs
Labels: .NET, kernel

#5053 Java: Small fixes from API review
  java/aiservices/openai/pom.xml
  java/aiservices/openai/src/main/resources/META-INF/services/com.microsoft.semantickernel.services.chatcompletion.ChatCompletionService$Builder
  java/aiservices/openai/src/main/resources/META-INF/services/com.microsoft.semantickernel.services.textcompletion.TextGenerationService$Builder
  java/api-test/integration-tests/pom.xml
  java/api-test/pom.xml
  java/connectors/semantickernel-connectors-web-bing/pom.xml
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/sample-code/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/DefaultPromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/TemplateTokenizer.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/BlockTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/FunctionIdBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/NamedArgBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/TextBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/ValBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/VarBlock.java
  java/semantickernel-bom/pom.xml
Labels: java

#5050 Python: Kernel service revamp and AIServiceSelector
  python/poetry.lock
  python/semantic_kernel/connectors/ai/ai_exception.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/embeddings/embedding_generator_base.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_embedding.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/semantic_kernel/functions/function_result.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/semantic_kernel/planners/plan.py
  python/semantic_kernel/services/ai_service_client_base.py
  python/semantic_kernel/services/ai_service_selector.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/tests/conftest.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/unit/ai/hugging_face/test_hf_local_text_completions.py
  python/tests/unit/core_plugins/test_wait_plugin.py
  python/tests/unit/kernel/test_kernel_invoke_filters.py
  python/tests/unit/kernel/test_kernel_service_management.py
  python/tests/unit/kernel_extensions/test_import_plugins.py
  python/tests/unit/planners/action_planner/test_action_planner.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner.py
  python/tests/unit/text/test_function_extension.py
Labels: python

#5073 .Net: OpenAI is throttling requests. Temporarily disable these tests pending switch to using Azure OpenAI.
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
Labels: .NET, kernel

#5017 .Net: Baseline version 1.4.0
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel.core

#5020 .Net. ContentFilterResults added to text/message content metadata
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/IntegrationTests/BaseIntegrationTest.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
Labels: .NET, kernel

#5051 .Net: Update the integration tests readme to include instructions for audio tests
  dotnet/src/IntegrationTests/README.md
Labels: .NET, kernel, documentation

#5072 Python: fix for using complete_chat
  python/samples/kernel-syntax-examples/azure_chat_gpt_api.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/services/ai_service_selector.py
Labels: python

#5048 .Net: Add new Semantic-Kernel-Version header to all HTTP requests
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example52_CustomOpenAIClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/TextEmbedding/HuggingFaceTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/TextGeneration/HuggingFaceTextGenerationService.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoMemoryStore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAITextToAudioClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAITextToAudioClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.OpenAI/CustomClient/OpenAITextToImageClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/Files/OpenAIFileService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/AzureOpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Kusto/KustoMemoryStoreTests.cs
  dotnet/src/Functions/Functions.OpenApi/DocumentLoader.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/InternalUtilities/src/Http/HttpHeaderConstant.cs
  dotnet/src/InternalUtilities/src/Http/HttpHeaderValues.cs
  dotnet/src/Plugins/Plugins.Core/HttpPlugin.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingConnector.cs
Labels: .NET, kernel, memory

#5036 .Net: Gemini - execution settings mutability control
  dotnet/samples/KernelSyntaxExamples/Example85_GeminiTextGeneration.cs
  dotnet/samples/KernelSyntaxExamples/Example86_GeminiChatCompletion.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Settings/GeminiPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Settings/GeminiPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Settings/GeminiSafetySetting.cs
Labels: .NET, kernel

#5008 .Net: Added support for BinaryData for ImageContent.
  dotnet/src/SemanticKernel.Abstractions/Contents/ImageContent.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ImageContentTests.cs
Labels: .NET, kernel, kernel.core

#5071 Python: Support for cases where "logprobs" does not exist（OpenAITextCompletionBase）
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
Labels: python

#3425 Python: Update 09-groundedness-checking.ipynb - Tiny Typo
  python/notebooks/09-groundedness-checking.ipynb
Labels: python

#5002 Python: .Net: [Agents] Agents abstraction + OpenAIChatCompletionAgent
  dotnet/samples/KernelSyntaxExamples/Example79_ChatCompletionAgent.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Experimental/Agents.UnitTests/ChatCompletionAgentTests.cs
  dotnet/src/Experimental/Agents/AgentMessageContentItemCollection.cs
  dotnet/src/Experimental/Agents/ChatCompletion/ChatCompletionAgent.cs
  dotnet/src/Experimental/Agents/ChatCompletionAgent.cs
  dotnet/src/Experimental/Agents/KernelAgent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ChatMessageContentTests.cs
Labels: .NET, python, kernel, kernel.core

#5105 .Net Gemini/vision binary data
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiRequest.cs
Labels: .NET, kernel

#5093 .Net: Added example of Azure AI Search as Plugin with custom schema and configurable search fields
  dotnet/samples/KernelSyntaxExamples/Example84_AzureAISearchPlugin.cs
Labels: .NET

#5014 Python: implemented multiple arguments for functions in templates, with named_args added
  python/semantic_kernel/connectors/ai/ai_exception.py
  python/semantic_kernel/functions/kernel_arguments.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/template_engine/blocks/block.py
  python/semantic_kernel/template_engine/blocks/block_errors.py
  python/semantic_kernel/template_engine/blocks/block_types.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/semantic_kernel/template_engine/blocks/function_id_block.py
  python/semantic_kernel/template_engine/blocks/named_arg_block.py
  python/semantic_kernel/template_engine/blocks/symbols.py
  python/semantic_kernel/template_engine/blocks/text_block.py
  python/semantic_kernel/template_engine/blocks/val_block.py
  python/semantic_kernel/template_engine/blocks/var_block.py
  python/semantic_kernel/template_engine/code_tokenizer.py
  python/semantic_kernel/template_engine/prompt_template_engine.py
  python/semantic_kernel/template_engine/protocols/code_renderer.py
  python/semantic_kernel/template_engine/protocols/prompt_templating_engine.py
  python/semantic_kernel/template_engine/protocols/text_renderer.py
  python/semantic_kernel/template_engine/template_tokenizer.py
  python/tests/unit/core_plugins/test_wait_plugin.py
  python/tests/unit/functions/test_kernel_function_decorators.py
  python/tests/unit/functions/test_native_function.py
  python/tests/unit/template_engine/blocks/test_block.py
  python/tests/unit/template_engine/blocks/test_code_block.py
  python/tests/unit/template_engine/blocks/test_function_id_block.py
  python/tests/unit/template_engine/blocks/test_named_arg_block.py
  python/tests/unit/template_engine/blocks/test_text_block.py
  python/tests/unit/template_engine/blocks/test_val_block.py
  python/tests/unit/template_engine/blocks/test_var_block.py
  python/tests/unit/template_engine/test_code_tokenizer.py
  python/tests/unit/template_engine/test_prompt_template_engine.py
  python/tests/unit/template_engine/test_template_tokenizer.py
  python/tests/unit/test_serialization.py
Labels: python

#5102 .Net - Updated Open AI Assistant Model Serialization
  dotnet/src/Experimental/Agents/Internal/ChatMessage.cs
  dotnet/src/Experimental/Agents/Internal/ChatRun.cs
  dotnet/src/Experimental/Agents/Models/ThreadMessageModel.cs
  dotnet/src/Experimental/Agents/Models/ThreadRunModel.cs
  dotnet/src/Experimental/Agents/Models/ThreadRunStepModel.cs
Labels: bug, PR: ready for review, .NET, experimental, agents

#5057 .Net: Add early return if Freeze method is called on a frozen object
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
Labels: .NET, kernel, kernel.core

#5098 .Net: More API Manifest plugin examples from Microsoft Graph
  dotnet/samples/KernelSyntaxExamples/Example83_ApiManifest.cs
  dotnet/samples/KernelSyntaxExamples/Plugins/ApiManifestPlugins/CalendarPlugin/apimanifest.json
  dotnet/samples/KernelSyntaxExamples/Plugins/ApiManifestPlugins/ContactsPlugin/apimanifest.json
  dotnet/samples/KernelSyntaxExamples/Plugins/ApiManifestPlugins/DriveItemPlugin/apimanifest.json
Labels: .NET

#5112 .Net AudioContent class moved to the Microsoft.SemanticKernel namespace
  dotnet/samples/KernelSyntaxExamples/Example82_Audio.cs
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/AzureOpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAITextToAudioClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAITextToAudioClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.OpenAI/TextToAudio/AzureOpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToAudio/OpenAITextToAudioService.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/OpenAIAudioToTextServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIAudioToTextTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/AudioToText/IAudioToTextService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextToAudio/ITextToAudioService.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioContent.cs
Labels: .NET, kernel, kernel.core

#5119 Python: Revert Pysdk issue 3980 (#5063)
  .github/workflows/python-coverage.yml
  .github/workflows/python-unit-tests.yml
  python/.coveragerc
  python/DEV_SETUP.md
  python/poetry.lock
  python/pyproject.toml
Labels: python, documentation

#5068 .Net: Unit test showing some strategies to unit test kernel functions
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionUnitTestStrategies.cs
Labels: .NET, kernel

#4392 .Net: Add model documentation
  dotnet/docs/MODELS.md
Labels: docs and tests, .NET, documentation

#5125 Python: Clean up kernel examples and notebooks and, allow plugins to be overwritten
  python/README.md
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/samples/kernel-syntax-examples/action_planner.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_api.py
  python/samples/kernel-syntax-examples/bing_plugin_examples.py
  python/samples/kernel-syntax-examples/bing_search_plugin.py
  python/samples/kernel-syntax-examples/chat.py
  python/samples/kernel-syntax-examples/configuring_prompts.py
  python/samples/kernel-syntax-examples/openai_logit_bias.py
  python/samples/kernel-syntax-examples/setup_logging.py
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_handler.py
  python/semantic_kernel/functions/kernel_plugin_collection.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/semantic_kernel/template_engine/blocks/var_block.py
  python/tests/unit/functions/test_kernel_plugin_collection.py
  python/tests/unit/planners/action_planner/test_action_planner.py
Labels: python, documentation

#3744 Python: Fixing python document pipeline
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmos_db_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/cosmosdb_utils.py
  python/tests/integration/connectors/memory/test_azure_cosmosdb_memory_store.py
Labels: python, memory connector, memory

#5133 .Net: [HB Planner] Content type fix
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelFunctionHelpers.cs
Labels: .NET, kernel

#4973 Adding HandlebarsPlanCreationException
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/src/InternalUtilities/planning/Exceptions/PlanCreationException.cs
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
Labels: .NET

#4789 .Net Ollama Connector [WIP]
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example80_OllamaTextGeneration.cs
  dotnet/samples/KernelSyntaxExamples/Example81_OllamaChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Connectors/Connectors.Ollama/ChatCompletion/OllamaChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Ollama/Connectors.Ollama.csproj
  dotnet/src/Connectors/Connectors.Ollama/Core/IEndpointProvider.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/IHttpRequestFactory.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/IOllamaClient.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/IStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaChatRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaChatResponse.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaClient.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaEndpointProvider.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaHttpRequestFactory.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaMetadata.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaResponseBase.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaTextRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaTextResponse.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/TextGeneration/OllamaTextGenerationService.cs
Labels: .NET, kernel

#5121 .Net: Mark GoogleAI and VertexAI services as experimental
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Connectors.GoogleVertexAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.GoogleVertexAI/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Connectors.GoogleVertexAI.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/InternalUtilities/src/Diagnostics/CompilerServicesAttributes.cs
Labels: .NET, kernel, documentation

#5154 Python: Remove the left over naming related to FunctionView
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/events/function_invoked_event_args.py
  python/semantic_kernel/events/function_invoking_event_args.py
  python/semantic_kernel/events/kernel_events_args.py
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_extensions.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_parser.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_extensions.py
Labels: python

#5113 .Net Add image support for Agent responses
  dotnet/samples/KernelSyntaxExamples/Example85_AgentCharts.cs
  dotnet/src/Experimental/Agents/IChatMessage.cs
  dotnet/src/Experimental/Agents/Internal/ChatMessage.cs
  dotnet/src/Experimental/Agents/Models/ThreadMessageModel.cs
Labels: PR: ready for review, .NET, agents

#5143 Python: Remove the memory tied to the kernel. Update kernel examples and notebooks.
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/third_party/weaviate-persistent-memory.ipynb
  python/samples/kernel-syntax-examples/action_planner.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/kernel-syntax-examples/azure_cognitive_search_memory.py
  python/samples/kernel-syntax-examples/bing_plugin_examples.py
  python/samples/kernel-syntax-examples/bing_search_plugin.py
  python/samples/kernel-syntax-examples/chat_gpt_api_function_calling.py
  python/samples/kernel-syntax-examples/google_palm_chat_with_memory.py
  python/samples/kernel-syntax-examples/google_search_plugin.py
  python/samples/kernel-syntax-examples/memory.py
  python/samples/kernel-syntax-examples/open_ai_chat_with_memory.py
  python/samples/kernel-syntax-examples/openai_function_calling.py
  python/samples/kernel-syntax-examples/rag_with_text_memory_plugin.py
  python/samples/kernel-syntax-examples/self-critique_rag.py
  python/samples/kernel-syntax-examples/sequential_planner.py
  python/samples/kernel-syntax-examples/template_language.py
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/openapi/kernel_openapi.py
  python/semantic_kernel/core_plugins/http_plugin.py
  python/semantic_kernel/core_plugins/math_plugin.py
  python/semantic_kernel/core_plugins/text_memory_plugin.py
  python/semantic_kernel/core_plugins/text_plugin.py
  python/semantic_kernel/core_plugins/time_plugin.py
  python/semantic_kernel/core_plugins/wait_plugin.py
  python/semantic_kernel/core_plugins/web_search_engine_plugin.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/memory/volatile_memory_store.py
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_extensions.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner.py
  python/tests/integration/completions/test_conversation_summary_plugin.py
  python/tests/integration/embeddings/test_azure_oai_embedding_service.py
  python/tests/integration/embeddings/test_gp_embedding_service.py
  python/tests/integration/embeddings/test_hf_embedding_service.py
  python/tests/integration/embeddings/test_oai_embedding_service.py
  python/tests/integration/planning/sequential_planner/test_sequential_plan_parser.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
  python/tests/unit/core_plugins/test_http_plugin.py
  python/tests/unit/core_plugins/test_math_plugin.py
  python/tests/unit/core_plugins/test_text_plugin.py
  python/tests/unit/core_plugins/test_time_plugin.py
  python/tests/unit/kernel/test_import_plugins.py
  python/tests/unit/planners/action_planner/test_action_planner.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_extensions.py
  python/tests/unit/planners/test_plan_creation.py
  python/tests/unit/planners/test_plan_execution.py
  python/tests/unit/prompt_template/test_prompt_template_e2e.py
Labels: python

#5147 .Net: Ollama connector text embedding support
  dotnet/samples/KernelSyntaxExamples/Example82_OllamaTextEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/IEndpointProvider.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/IOllamaClient.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaClient.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaEndpointProvider.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/TextEmbedding/OllamaTextEmbeddingGenerationService.cs
Labels: PR: feedback to address, .NET, kernel

#5131 .Net: First step to make ChatMessageContent more serialization-friendly
  dotnet/samples/KernelSyntaxExamples/Example85_ChatHistorySerialization.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/BinaryContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ImageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/KernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/TextContent.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ChatMessageContentTests.cs
Labels: .NET, kernel, kernel.core

#5122 Java: Update handlebars function calling
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/XMLPromptParser.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/WiremockExamplesIT.java
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-12b6744e-443f-4fe7-82e2-55cc41195ff1.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-45379a29-d6d3-4613-a885-b30ccaaa6db0.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-686c6f9b-7c66-41af-8b9b-86e44fcdb2b1.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-71b07779-49a8-44e5-a60b-ee5b0a3ad697.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-c9edbe4a-e60b-4796-bd01-11bafa211bab.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-093a64da-80ba-49bf-a4fd-625224d60b3a.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-0c8046c5-74ad-4836-8aa9-09da60f367a2.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-252c54f4-1111-467b-b028-7687e4ed5021.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-270f9641-5867-4ca4-a738-d3b1d18faefb.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-364efff1-b5dd-4796-8c01-936b19045de2.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-36d8c189-3b93-4a19-b92f-8effb670f75a.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-3708b848-8dbe-4c2d-a057-04abcee675c0.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-4939b782-4212-435b-8d7d-c3454fe0200c.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-5d78a6d8-abca-488a-8752-599051a3e352.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-604be5a5-3e55-44ee-a85f-9d9e63b1763a.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-70facef2-7e60-49d5-8009-b38915a1b355.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-779728d0-3cfa-4374-aa56-7038de43449e.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-79f4220d-21e6-43e2-8a2e-6a281fcbfea9.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-8ccdcbb2-4a82-47c4-a3da-93041481ce06.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-bcdbf876-8b4c-4de1-99b4-deaad761fdbe.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-c71f3ff7-70f7-4966-a752-811bf1c01382.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-ca797b35-ef23-4628-9c6f-b1ea00ba5e3e.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-daf144e4-182b-4100-91f2-49b6115a1026.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-dc3d7bb6-815c-44fc-a15f-a6f9ce7eb012.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-f0070b1d-f4eb-4691-9d72-a0b935a227eb.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-0215b128-4822-4368-ac3d-2f580a221f00.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-1296bcee-1e54-43b1-b4b3-4642dd8bd0a0.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-350fea53-3d73-4d59-b603-dba32fdc5af9.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-3ce79fbf-90ee-4575-aeb4-6f7d545d1db6.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-3d48b3d9-5263-4d35-97dc-6db5b0335989.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-544c72c2-de8a-407d-a319-b7c04a8c237e.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-7441c9cd-22ef-41a0-8c0b-f050326ca99c.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-7718fb6b-1cae-4420-8e34-126c14d00539.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-857195c1-97b9-4118-8c05-d25d0020f8e2.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-85f3675c-e404-4138-96c2-e49d4521e4f6.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-990e9efb-2d61-424d-bbf6-a68e2d25552f.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-a29ad1f1-2423-4dbf-a127-fd2c93998fcd.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-fb3fd96e-de60-4e75-b551-493819766937.json
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/java/FunctionsWithinPrompts_Example.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariableTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/CollectionVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ToolCallBehavior.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
Labels: java

#5137 .Net: Tuning HB Planner - CreatePlan prompt, template extraction, and type handling
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Handlebars.UnitTests/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/CustomHelpers/CustomHelpers.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/VariableHelpers.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/TipsAndInstructions.handlebars
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlanner.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/HandlebarsPlannerOptions.cs
Labels: .NET

#5159 Python: split kernelfunction into fromprompt and frommethod classes
  python/samples/kernel-syntax-examples/azure_chat_gpt_api.py
  python/samples/kernel-syntax-examples/configuring_prompts.py
  python/semantic_kernel/core_plugins/conversation_summary_plugin.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/functions/kernel_function_metadata.py
  python/semantic_kernel/functions/kernel_parameter_metadata.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_exception.py
  python/semantic_kernel/planners/plan.py
  python/semantic_kernel/services/ai_service_selector.py
  python/tests/integration/completions/conftest.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
  python/tests/integration/completions/test_azure_oai_text_service.py
  python/tests/integration/completions/test_gp_chat_service.py
  python/tests/integration/completions/test_oai_chat_service.py
  python/tests/integration/completions/test_oai_text_service.py
  python/tests/unit/functions/test_kernel_function_decorators.py
  python/tests/unit/functions/test_kernel_function_from_method.py
  python/tests/unit/functions/test_kernel_function_from_prompt.py
  python/tests/unit/functions/test_kernel_plugins.py
  python/tests/unit/functions/test_native_function.py
  python/tests/unit/kernel/test_register_functions.py
  python/tests/unit/planners/test_plan_creation.py
  python/tests/unit/prompt_template/test_kernel_prompt_template.py
  python/tests/unit/template_engine/blocks/test_code_block.py
  python/tests/unit/test_serialization.py
  python/tests/unit/text/test_function_extension.py
Labels: python

#5183 .Net: Adding #each block details + jsonSerializer fix to handle named FP literals
  dotnet/samples/KernelSyntaxExamples/Example65_HandlebarsPlanner.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelSystemHelpers.cs
  dotnet/src/Planners/Planners.Handlebars/Handlebars/CreatePlanPromptPartials/Helpers/BlockHelpers.handlebars
Labels: .NET, kernel

#5150 .Net ImageToText Abstraction + HuggingFace Connector ImageToText support.
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example85_ImageToText.cs
  dotnet/samples/KernelSyntaxExamples/Resources/EmbeddedResource.cs
  dotnet/samples/KernelSyntaxExamples/Resources/test_image.jpg
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/HuggingFaceTestHelper.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/ImageToText/HuggingFaceImageToTextTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TestData/imagetotext_test_request.jpg
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TestData/imagetotext_test_response.json
  dotnet/src/Connectors/Connectors.HuggingFace/Connectors.HuggingFace.csproj
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/ImageToText/HuggingFaceImageToTextService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/ImageToText/ImageToTextGenerationResponse.cs
  dotnet/src/InternalUtilities/src/Diagnostics/CompilerServicesAttributes.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ImageToText/IImageToTextService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ImageToText/ImageToTextExtensions.cs
Labels: .NET, kernel, kernel.core

#5128 .Net Gemini simplify code
  dotnet/src/Connectors/Connectors.GoogleVertexAI/ChatCompletion/GeminiChatCompletionServiceBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/ChatCompletion/GoogleAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/ChatCompletion/VertexAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Common/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Common/GeminiClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Common/GeminiTextGenerationClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Common/GeminiTokenCounterClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Interfaces/IGeminiTextGenerationClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Interfaces/IGeminiTokenCounterClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Settings/GeminiPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextEmbedding/GoogleAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextEmbedding/TextEmbeddingGenerationServiceBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextEmbedding/VertexAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextGeneration/GeminiTextGenerationServiceBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextGeneration/GoogleAIGeminiTextGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextGeneration/VertexAIGeminiTextGenerationService.cs
Labels: .NET, kernel

#5141 .Net Gemini/vision sample
  dotnet/samples/KernelSyntaxExamples/Example87_GeminiVision.cs
  dotnet/samples/KernelSyntaxExamples/Resources/sample_image.jpg
Labels: .NET

#5199 Java: remove plugins/semantickernel-plugins-core
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/Example01NativeFunctionsTest.java
  java/plugins/semantickernel-plugin-core/pom.xml
  java/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/text/TextPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/web/SearchUrlPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/web/WebSearchEnginePlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example01_NativeFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example07_BingAndGooglePlugins.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example10_DescribeAllPluginsAndFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example11_WebSearchQueries.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example56_TemplateMethodFunctionsWithMultipleArguments.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/util/LocaleParser.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/Plugin.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/text/TextChunkerTest.java
Labels: java

#5192 Python: update ruff to 0.2.2
  python/.conf/.pre-commit-config.yaml
  python/.conf/packages_list.json
  python/poetry.lock
  python/pyproject.toml
Labels: python

#5194 Python: test added for multiple settings in one prompt function
  python/tests/unit/functions/test_kernel_function_from_prompt.py
Labels: python

#5201 Java: Implement a number of fixes from API review
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example06_TemplateLanguage.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example07_BingAndGooglePlugins.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example10_DescribeAllPluginsAndFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example13_ConversationSummaryPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example30_ChatWithPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example42_KernelBuilder.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example56_TemplateMethodFunctionsWithMultipleArguments.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example59_OpenAIFunctionCalling.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example60_AdvancedMethodFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example69_MutableKernelPlugin.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/FunctionInvokedEvent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/FunctionInvokingEvent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/PromptRenderedEvent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/PromptRenderingEvent.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionInvocation.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/InvocationContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionArguments.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
Labels: java

#5221 Java: move BingConnector to samples/sample-code
  java/samples/sample-code/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/connectors/web/bing/BingConnector.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/TimePlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/web/WebSearchEnginePlugin.java
Labels: java

#5058 Java: Update ToolCallBehavior
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example59_OpenAIFunctionCalling.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/java/FunctionsWithinPrompts_Example.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionInvocation.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/InvocationContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ToolCallBehavior.java
Labels: java

#5215 .Net: Updated package validation baseline version
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel, kernel.core

#5160 .Net: Python: remove _async from methods
  python/semantic_kernel/connectors/memory/astradb/astradb_memory_store.py
  python/tests/integration/connectors/memory/test_astradb.py
Labels: python, memory

#5225 Java: Fix null check
  java/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/web/WebSearchEnginePlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example59_OpenAIFunctionCalling.java
  java/samples/sample-code/src/main/resources/log4j2.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-bom/pom.xml
Labels: java

#5227 Update 0031-feature-branch-strategy - merging main
  docs/decisions/0031-feature-branch-strategy.md
Labels: documentation

#5195 Python: updated relevant parts from xml to defusedxml
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/open_ai/contents/open_ai_chat_message_content.py
  python/semantic_kernel/contents/chat_history.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_parser.py
Labels: python

#5230 Java: Add javadocs for OpenAIRequestSettings and OpenAITextGenerationService
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/implementation/OpenAIRequestSettings.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/aiservices/openai/src/main/resources/com/microsoft/semantickernel/aiservices/openai/implementation/semantic-kernel-version.properties
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/Buildable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/builders/SemanticKernelBuilder.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/InvocationContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionArguments.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/textcompletion/TextGenerationService.java
Labels: java

#5232 Python: Added metadata specifying connection stems from MSK code
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/mongodb_atlas/mongodb_atlas_memory_store.py
Labels: python, memory

#5224 Python: bugfix: min relevance score calculation filtering on mongodbatlas semantic search
  python/semantic_kernel/connectors/memory/mongodb_atlas/mongodb_atlas_memory_store.py
  python/tests/integration/connectors/memory/test_mongodb_atlas.py
Labels: python, memory
