Repository microsoft/semantic-kernel, pull requests merged in 2024-05, with the labels that each got.

#6067 .Net BugFix Issue 6058 Changing Dictionary in Enumeration
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
Labels: bug, .NET, kernel

#6076 .Net: Add netstandard2.0 build of Microsoft.SemanticKernel.Connectors.Onnx
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Onnx/BertOnnxTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Onnx/Connectors.Onnx.csproj
Labels: .NET, kernel

#6078 .Net: Tweak RegexTerminationStrategy
  dotnet/src/Agents/Core/Chat/RegExTerminationStrategy.cs
  dotnet/src/Agents/UnitTests/Core/Chat/RegExTerminationStrategyTest.cs
  dotnet/src/Agents/UnitTests/Core/Chat/RegExTerminationStrategyTests.cs
Labels: .NET

#6024 .Net: Azure AI Content Safety and Prompt Shields demo application
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/ContentSafety/ContentSafety.csproj
  dotnet/samples/Demos/ContentSafety/ContentSafety.http
  dotnet/samples/Demos/ContentSafety/Controllers/ChatController.cs
  dotnet/samples/Demos/ContentSafety/Exceptions/AttackDetectionException.cs
  dotnet/samples/Demos/ContentSafety/Exceptions/TextModerationException.cs
  dotnet/samples/Demos/ContentSafety/Extensions/ConfigurationExtensions.cs
  dotnet/samples/Demos/ContentSafety/Filters/AttackDetectionFilter.cs
  dotnet/samples/Demos/ContentSafety/Filters/TextModerationFilter.cs
  dotnet/samples/Demos/ContentSafety/Handlers/ContentSafetyExceptionHandler.cs
  dotnet/samples/Demos/ContentSafety/Models/ChatModel.cs
  dotnet/samples/Demos/ContentSafety/Options/AzureContentSafetyOptions.cs
  dotnet/samples/Demos/ContentSafety/Options/OpenAIOptions.cs
  dotnet/samples/Demos/ContentSafety/Program.cs
  dotnet/samples/Demos/ContentSafety/README.md
  dotnet/samples/Demos/ContentSafety/Services/PromptShield/PromptShieldAnalysis.cs
  dotnet/samples/Demos/ContentSafety/Services/PromptShield/PromptShieldRequest.cs
  dotnet/samples/Demos/ContentSafety/Services/PromptShield/PromptShieldResponse.cs
  dotnet/samples/Demos/ContentSafety/Services/PromptShield/PromptShieldService.cs
  dotnet/samples/Demos/ContentSafety/appsettings.json
Labels: .NET, documentation

#6053 .Net: Handle Default Values for KernelParameterMetadata Correctly
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests2.cs
Labels: .NET, kernel

#6087 .Net: Fix spelling of 'Euclidean'
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBSimilarityType.cs
Labels: .NET, kernel, memory

#6070 .Net - Update Agent Readme
  dotnet/samples/Concepts/Agents/ComplexChat_NestedShopper.cs
  dotnet/samples/Concepts/Agents/README.md
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/samples/GettingStartedWithAgents/README.md
  dotnet/samples/GettingStartedWithAgents/Step6_DependencyInjection.cs
  dotnet/samples/GettingStartedWithAgents/Step7_OpenAIAssistant.cs
Labels: PR: ready for review, .NET, experimental, agents, documentation

#6092 Java: Python: Docs: Fix broken link
  dotnet/README.md
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/README.md
  dotnet/src/IntegrationTests/README.md
  java/README.md
  java/samples/sample-code/README.md
  python/DEV_SETUP.md
  python/README.md
  python/samples/documentation_examples/README.md
Labels: bug, PR: ready for review, .NET, python, kernel, java, documentation

#6086 .Net: fix #6033: Add more tests and comments
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateTest.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTest.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chat.prompty
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chatNoExecutionSettings.prompty
  dotnet/src/Functions/Functions.Prompty/Extensions/PromptyKernelExtensions.cs
Labels: .NET, kernel

#6089 Python: Remove references to text-davinci-003 text models as it causes tests to hang.
  .github/workflows/python-integration-tests.yml
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/samples/documentation_examples/.env.example
  python/samples/documentation_examples/README.md
  python/samples/kernel-syntax-examples/self-critique_rag.py
  python/tests/integration/completions/test_azure_oai_text_service.py
  python/tests/integration/completions/test_conversation_summary_plugin.py
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
Labels: python, documentation

#6059 Python: Update import paths for OpenAI settings functions
  python/notebooks/03-prompt-function-inline.ipynb
Labels: python

#6096 .Net: Split safe prompt into multiple unit tests
  dotnet/samples/Concepts/ChatPrompts/SafeChatPrompts.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
Labels: .NET, kernel

#5963 .Net: ADR: OTel LLM requests
  docs/decisions/0044-OTel-semantic-convention.md
Labels: PR: in progress, documentation

#6077 .Net: Added dimensions property to OpenAI embedding generation services
  .github/workflows/dotnet-build-and-test.yml
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextEmbedding/OpenAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextEmbedding/AzureOpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextEmbedding/OpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextEmbeddingTests.cs
Labels: .NET, kernel

#5877 Python: add new samples and fix streaming tool call FunctionCallContent formation
  python/poetry.lock
  python/pyproject.toml
  python/samples/kernel-syntax-examples/openai_function_calling_with_custom_plugin.py
  python/samples/kernel-syntax-examples/resources/__init__.py
  python/samples/kernel-syntax-examples/resources/bookings_plugin/__init__.py
  python/samples/kernel-syntax-examples/resources/bookings_plugin/bookings_plugin.py
  python/samples/kernel-syntax-examples/restaurant_booking.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/contents/function_call_content.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/utils/settings.py
Labels: python

#6107 .Net: Refactor PromptyKernelExtensions.CreateFunctionFromPrompty
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Prompty/PromptyFunction.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTest.cs
  dotnet/src/Functions/Functions.Prompty/Extensions/PromptyKernelExtensions.cs
Labels: .NET

#6101 Java: Removing java samples as we are relocating samples
  samples/java/JavaReferenceSkill/.gitignore
  samples/java/JavaReferenceSkill/README.md
  samples/java/JavaReferenceSkill/pom.xml
  samples/java/JavaReferenceSkill/src/main/java/com/microsoft/semantickernel/skills/random/Main.java
  samples/java/JavaReferenceSkill/src/main/java/com/microsoft/semantickernel/skills/random/RandomActivitySkill.java
  samples/java/JavaReferenceSkill/src/main/proto/activity.proto
  samples/java/JavaReferenceSkill/src/test/java/com/microsoft/semantickernel/skills/random/RandomActivitySkillTest.java
Labels: documentation, samples

#6118 .Net: Clean up some things in LiquidPromptTemplate and PromptyKernelExtensions
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateFactoryTest.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplateFactory.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTest.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModelParameters.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyYaml.cs
  dotnet/src/Functions/Functions.Prompty/Extensions/PromptyKernelExtensions.cs
Labels: .NET, kernel

#6108 .Net: Tweak temp function names created by Kernel.InvokePrompt{Streaming}Async
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET

#6111 Python: added embedding dimensions support
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_embedding.py
  python/tests/unit/connectors/open_ai/services/test_openai_text_embedding.py
Labels: python

#6130 .Net: Fixed integration tests
  dotnet/samples/Concepts/Memory/SemanticTextMemory_Building.cs
  dotnet/samples/Demos/TelemetryWithAppInsights/RepoUtils/RepoFiles.cs
  dotnet/src/IntegrationTests/TestHelpers.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/RepoFiles.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
Labels: .NET, kernel

#6125 .Net: Fixing minor defects: Disposing cursor too early also wrong sequence on constructor
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryRecordMetadata.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryStore.cs
Labels: .NET, kernel, memory

#6141 Python: Retire planners that are not supported in dotnet.
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
  python/samples/concepts/logging/setup_logging.py
  python/samples/concepts/on_your_data/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/concepts/planners/action_planner.py
  python/samples/concepts/plugins/plugins_from_dir.py
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/semantic_kernel/planners/__init__.py
  python/semantic_kernel/planners/action_planner/__init__.py
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/semantic_kernel/planners/action_planner/action_planner_config.py
  python/semantic_kernel/planners/action_planner/skprompt.txt
  python/semantic_kernel/planners/basic_planner.py
  python/semantic_kernel/planners/stepwise_planner/Plugins/StepwiseStep/config.json
  python/semantic_kernel/planners/stepwise_planner/Plugins/StepwiseStep/skprompt.txt
  python/semantic_kernel/planners/stepwise_planner/__init__.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner_config.py
  python/semantic_kernel/planners/stepwise_planner/system_step.py
  python/tests/integration/planning/stepwise_planner/test_stepwise_planner.py
  python/tests/unit/planners/action_planner/test_action_planner.py
  python/tests/unit/planners/stepwise_planner/test_stepwise_planner_parse_result.py
Labels: python, planner

#5269 .Net: Added metadata specifying connection stems from MSK code
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBMemoryStore.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBMemoryStoreTestsFixture.cs
Labels: .NET, kernel, memory

#6117 .Net Concepts Readme Update
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#5919 Python: update ToolCallBehavior and rename to FunctionCallBehavior to match dotnet and extended capabilities
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
  python/samples/concepts/on_your_data/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/concepts/plugins/openai_function_calling_with_custom_plugin.py
  python/samples/demos/booking_restaurant/restaurant_booking.py
  python/semantic_kernel/connectors/ai/function_call_behavior.py
  python/semantic_kernel/connectors/ai/open_ai/contents/function_call.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/tool_call_behavior.py
  python/semantic_kernel/connectors/ai/open_ai/services/utils.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner_options.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner_result.py
  python/semantic_kernel/planners/planner_options.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_extensions.py
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_oai_chat_service.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
  python/tests/unit/connectors/test_function_call_behavior.py
  python/tests/unit/planners/function_calling_stepwise_planner/test_function_calling_stepwise_planner.py
Labels: python

#6143 .Net: Switch to using StreamJsonParser
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
Labels: .NET, kernel

#6048 .Net: Fix #6030 - Mitigating Prompt Injection in Liquid Templates
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateTest.ItRenderChatTestAsync.verified.txt
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateTest.cs
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/PromptTemplates.Liquid.UnitTests.csproj
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/TestData/chat.txt
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
Labels: .NET, kernel, kernel.core

#6149 Python: Check for other services registered before throwing service not found.
  python/semantic_kernel/services/ai_service_selector.py
  python/tests/unit/functions/test_kernel_function_from_prompt.py
Labels: python

#6147 Python: Fixes to Python getting_started notebooks
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
Labels: python

#6127 .Net: Samples - Fix array access in Handlebars syntax
  dotnet/samples/LearnResources/MicrosoftLearn/FunctionsWithinPrompts.cs
  dotnet/samples/LearnResources/MicrosoftLearn/Templates.cs
  dotnet/samples/LearnResources/Resources/getIntent.prompt.yaml
Labels: .NET

#6109 .Net: Added function invocation approval demo app
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/BookingRestaurant/Program.cs
  dotnet/samples/Demos/FunctionInvocationApproval/FunctionInvocationApproval.csproj
  dotnet/samples/Demos/FunctionInvocationApproval/Options/AzureOpenAIOptions.cs
  dotnet/samples/Demos/FunctionInvocationApproval/Options/OpenAIOptions.cs
  dotnet/samples/Demos/FunctionInvocationApproval/Program.cs
Labels: .NET

#6152 .Net: Example of retry logic using Filters
  dotnet/samples/Concepts/Filtering/RetryWithFilters.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#6151 .Net: Example of Semantic Caching with Filters
  dotnet/samples/Concepts/Caching/SemanticCachingWithFilters.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryRecord.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBSimilarityType.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBVectorSearchType.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/FunctionResult.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/MemoryRecord.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/Functions/PromptRenderingResult.cs
  dotnet/src/SemanticKernel.Core/Memory/SemanticTextMemory.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/PromptRenderFilterTests.cs
Labels: .NET, kernel, kernel.core, documentation, memory

#6082 .Net: Add request uri and payload to RestApiOperationResponse
  dotnet/src/Functions/Functions.OpenApi/HttpContentFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/IntegrationTests/Plugins/RepairServiceTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/RestApiOperationResponse.cs
Labels: .NET, kernel, kernel.core

#6021 Python: updating pinecone client
  .github/workflows/python-integration-tests.yml
  .pre-commit-config.yaml
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/pinecone/pinecone_memory_store.py
  python/semantic_kernel/utils/settings.py
  python/tests/integration/connectors/memory/test_pinecone.py
Labels: python, memory

#6163 Python: Use a Jinja2 sandboxed env to prevent running unsafe code.
  python/semantic_kernel/prompt_template/jinja2_prompt_template.py
Labels: python

#6097 .Net: Merge the Prompty feature branch to main
  .github/_typos.toml
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/PromptTemplates/LiquidPrompts.cs
  dotnet/samples/Concepts/PromptTemplates/MultiplePromptTemplates.cs
  dotnet/samples/Concepts/Prompty/PromptyFunction.cs
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateFactoryTest.cs
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateTest.cs
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/PromptTemplates.Liquid.UnitTests.csproj
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/TestData/chat.txt
  dotnet/src/Extensions/PromptTemplates.Liquid/AssemblyInfo.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplateFactory.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/PromptTemplates.Liquid.csproj
  dotnet/src/Functions/Functions.Prompty.UnitTests/Functions.Prompty.UnitTests.csproj
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTest.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chat.prompty
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chatNoExecutionSettings.prompty
  dotnet/src/Functions/Functions.Prompty/AssemblyInfo.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModel.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModelConfig.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModelParameters.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyTool.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyYaml.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/ApiType.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/ModelType.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/ParserType.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/RoleType.cs
  dotnet/src/Functions/Functions.Prompty/Extensions/PromptyKernelExtensions.cs
  dotnet/src/Functions/Functions.Prompty/Functions.Prompty.csproj
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
Labels: .NET, kernel, kernel.core, documentation

#6158 Python: Add ACA Python Sessions (Code Interpreter) Core Plugin, samples, and tests
  python/.env.example
  python/samples/concepts/auto_function_calling/azure_python_code_interpreter_function_calling.py
  python/samples/concepts/plugins/azure_python_code_interpreter.py
  python/semantic_kernel/core_plugins/__init__.py
  python/semantic_kernel/core_plugins/sessions_python_tool/README.md
  python/semantic_kernel/core_plugins/sessions_python_tool/__init__.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_settings.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_remote_file_metadata.py
  python/semantic_kernel/utils/settings.py
  python/tests/unit/core_plugins/test_sessions_python_plugin.py
Labels: python, documentation

#6168 .Net: Version 1.11.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#6169 .Net: Improvements for Azure Cosmos DB for MongoDB connector
  dotnet/samples/Concepts/Caching/SemanticCachingWithFilters.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBConfig.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBMemoryStoreTestsFixture.cs
Labels: .NET, kernel, memory

#6173 .Net: Update Concepts README for new Prompt samples
  .vscode/settings.json
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#6178 Python: Bump Python version to 0.9.8b1 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#6184 .Net: Added dimensions property to OpenAI embedding service constructor
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextEmbedding/OpenAITextEmbeddingGenerationService.cs
Labels: .NET, kernel

#6186 .Net: Version 1.11.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#6171 .Net: Example of prompt PII detection logic with Filters and Microsoft Presidio
  dotnet/samples/Concepts/Filtering/PIIDetection.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#6150 .Net: Add model diagnostics to non-streaming APIs
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
  dotnet/src/Agents/Core/Agents.Core.csproj
  dotnet/src/Agents/OpenAI/Agents.OpenAI.csproj
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceTextGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAIClientCore.cs
  dotnet/src/InternalUtilities/planning/PlannerInstrumentation.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ActivityExtensions.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
  dotnet/src/InternalUtilities/src/System/AppContextSwitchHelper.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
Labels: .NET, kernel, kernel.core

#6216 Python: new kernel function decorator
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/tests/unit/functions/test_kernel_function_decorators.py
Labels: python

#6219 Java: Skip spotless on Java 8
  .github/workflows/java-integration-tests.yml
  java/api-test/pom.xml
  java/pom.xml
Labels: java

#6191 .Net: Update telemetry sample and documentation
  docs/decisions/0044-OTel-semantic-convention.md
  dotnet/docs/TELEMETRY.md
  dotnet/samples/Demos/TelemetryWithAppInsights/Program.cs
  dotnet/samples/Demos/TelemetryWithAppInsights/README.md
  dotnet/samples/Demos/TelemetryWithAppInsights/TelemetryWithAppInsights.csproj
  dotnet/samples/Demos/TelemetryWithAppInsights/TestConfiguration.cs
Labels: .NET, documentation

#5998 .Net: Fix 5796 function calling enum params
  dotnet/samples/GettingStarted/Step7_Observability.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Extensions/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Google/EmbeddingGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiFunctionCallingTests.cs
  dotnet/src/IntegrationTests/Connectors/Google/TestsBase.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.cs
Labels: .NET, kernel

#6206 .Net: Don't limit [KernelFunction] to public methods
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionAttribute.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests2.cs
Labels: .NET, kernel, kernel.core

#6226 Python: allow openapi runner to use a custom client
  python/samples/concepts/plugins/openai_plugin_azure_key_vault.py
  python/samples/concepts/plugins/openapi/openapi_client.py
  python/samples/concepts/resources/open_ai_plugins/akv-openai.json
  python/semantic_kernel/connectors/openapi_plugin/openapi_function_execution_parameters.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_manager.py
  python/tests/unit/connectors/openapi/test_sk_openapi.py
  python/tests/unit/functions/test_kernel_plugins.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#6223 .Net: Add support for tool choice none and any
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIToolCallBehavior.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
Labels: .NET, kernel

#6241 .Net: Fix filters cloning when registered via Kernel properties
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/FilterBaseTest.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/KernelFilterTests.cs
Labels: .NET, kernel, kernel.core

#6200 .Net: Time Plugin Demo
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/TimePlugin/Program.cs
  dotnet/samples/Demos/TimePlugin/README.md
  dotnet/samples/Demos/TimePlugin/TimePlugin.csproj
Labels: .NET, documentation

#6215 Python: add test to show using a lambda func
  python/tests/unit/functions/test_kernel_function_from_method.py
Labels: python

#6245 .Net: Graduate some experimental features
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionMetadata.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethodOptions.cs
Labels: .NET, kernel, kernel.core

#6256 .Net: Unit tests for the MistralAI connector
  .github/_typos.toml
  dotnet/samples/Concepts/ChatCompletion/MistralAI_ChatPrompt.cs
  dotnet/samples/Concepts/ChatCompletion/MistralAI_FunctionCalling.cs
  dotnet/samples/Concepts/ChatCompletion/MistralAI_Function_Calling.cs
  dotnet/samples/Concepts/ChatCompletion/MistralAI_StreamingFunctionCalling.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_FunctionCalling.cs
  dotnet/samples/Concepts/ChatPrompts/SafeChatPrompts.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Connectors.MistralAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralTestBase.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Services/MistralAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Services/MistralAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_function_call_none_response.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_function_call_response.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_function_called_response.json
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAITextEmbeddingGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: .NET, kernel

#6266 .Net: Code clean-up
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralUsage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Connectors.MistralAI.csproj
  dotnet/src/Connectors/Connectors.MistralAI/Extensions/MistralAIPluginCollectionExtensions.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/TextEmbedding/MistralAITextEmbeddingTests.cs
Labels: .NET, kernel

#6221 .Net: Fix KernelFunctionFromMethod.ToString
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
Labels: .NET, kernel, kernel.core

#6271 .Net: Additional unit tests
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralAIExtensionTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralPropertyType.cs
Labels: .NET, kernel

#6257 .Net: Rename to AllowDangerouslySetContent
  dotnet/samples/Concepts/ChatPrompts/SafeChatPrompts.cs
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/CompatibilitySuppressions.xml
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplateFactory.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelFunctionHelpers.cs
  dotnet/src/Extensions/PromptTemplates.Liquid.UnitTests/LiquidTemplateTest.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/InputVariable.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/KernelPromptTemplateTests.cs
Labels: .NET, kernel, kernel.core

#6268 Python: handle failing tool call gracefully
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
Labels: python

#6183 Python: fix class type
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
  python/samples/concepts/chat_completion/azure_chat_gpt_api.py
Labels: python

#6242 .Net: [WIP] OTel model diagnostics: streaming APIs
  dotnet/samples/Demos/TelemetryWithAppInsights/Program.cs
  dotnet/samples/Demos/TelemetryWithAppInsights/TelemetryWithAppInsights.csproj
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET, kernel

#6273 .Net: Updated notebooks
  dotnet/notebooks/00-getting-started.ipynb
  dotnet/notebooks/01-basic-loading-the-kernel.ipynb
  dotnet/notebooks/02-running-prompts-from-file.ipynb
  dotnet/notebooks/03-semantic-function-inline.ipynb
  dotnet/notebooks/04-kernel-arguments-chat.ipynb
  dotnet/notebooks/05-using-the-planner.ipynb
  dotnet/notebooks/06-memory-and-embeddings.ipynb
  dotnet/notebooks/07-DALL-E-3.ipynb
  dotnet/notebooks/08-chatGPT-with-DALL-E-3.ipynb
  dotnet/notebooks/09-memory-with-chroma.ipynb
  dotnet/notebooks/10-BingSearch-using-kernel.ipynb
Labels: .NET

#6279 Python: OpenAPI plugin enhance
  python/samples/concepts/plugins/openai_plugin_azure_key_vault.py
  python/samples/concepts/plugins/openai_plugin_klarna.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_manager.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/functions/kernel_function_metadata.py
  python/tests/unit/connectors/openapi/test_sk_openapi.py
Labels: python

#6263 .Net: MistralAI Connector
  .github/_typos.toml
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/ChatCompletion/MistralAI_ChatPrompt.cs
  dotnet/samples/Concepts/ChatCompletion/MistralAI_FunctionCalling.cs
  dotnet/samples/Concepts/ChatCompletion/MistralAI_StreamingFunctionCalling.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_FunctionCalling.cs
  dotnet/samples/Concepts/ChatPrompts/SafeChatPrompts.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Connectors.MistralAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralAIExtensionTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralTestBase.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Services/MistralAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Services/MistralAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_function_call_none_response.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_function_call_response.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_function_called_response.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_response.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_streaming_function_call_response.txt
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_streaming_function_called_response.txt
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_streaming_response.txt
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/embeddings_response.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/function_call_response.json
  dotnet/src/Connectors/Connectors.MistralAI/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/ChatCompletionRequest.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/ChatCompletionResponse.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatChoice.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatCompletionChoice.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatCompletionChunk.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatMessage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralEmbedding.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralFunction.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralParameters.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralResponseBase.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralTool.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralToolCall.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralUsage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/TextEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/TextEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.MistralAI/Connectors.MistralAI.csproj
  dotnet/src/Connectors/Connectors.MistralAI/Extensions/MistralAIPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAITextEmbeddingGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/TextEmbedding/MistralAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/README.md
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, kernel, documentation

#6003 Python: Unsafe input handling
  docs/decisions/0040-chat-prompt-xml-support.md
  python/semantic_kernel/const.py
  python/semantic_kernel/contents/chat_history.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/semantic_kernel/contents/text_content.py
  python/semantic_kernel/functions/kernel_arguments.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner.py
  python/semantic_kernel/prompt_template/handlebars_prompt_template.py
  python/semantic_kernel/prompt_template/input_variable.py
  python/semantic_kernel/prompt_template/jinja2_prompt_template.py
  python/semantic_kernel/prompt_template/kernel_prompt_template.py
  python/semantic_kernel/prompt_template/prompt_template_base.py
  python/semantic_kernel/prompt_template/prompt_template_config.py
  python/semantic_kernel/prompt_template/utils/handlebars_system_helpers.py
  python/semantic_kernel/prompt_template/utils/jinja2_system_helpers.py
  python/semantic_kernel/prompt_template/utils/template_function_helpers.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/tests/unit/contents/test_chat_history.py
  python/tests/unit/contents/test_chat_message_content.py
  python/tests/unit/contents/test_streaming_chat_message_content.py
  python/tests/unit/functions/test_kernel_function_from_method.py
  python/tests/unit/functions/test_kernel_function_from_prompt.py
  python/tests/unit/kernel/test_kernel.py
  python/tests/unit/prompt_template/semantic-kernel-tests.txt
  python/tests/unit/prompt_template/test_handlebars_prompt_template.py
  python/tests/unit/prompt_template/test_handlebars_prompt_template_e2e.py
  python/tests/unit/prompt_template/test_jinja2_prompt_template_e2e.py
  python/tests/unit/prompt_template/test_kernel_prompt_template.py
  python/tests/unit/prompt_template/test_prompt_template_e2e.py
  python/tests/unit/template_engine/blocks/test_code_block.py
Labels: python, documentation

#6272 .Net: Increase auto-invoke and in-flight tool calling hard-coded limits
  dotnet/src/Connectors/Connectors.Google.UnitTests/GeminiToolCallBehaviorTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.Google/GeminiToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ToolCallBehaviorTests.cs
Labels: .NET, kernel

#6292 .Net: Consolidate some code used in unit tests
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralTestBase.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Services/MistralAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Services/MistralAITextEmbeddingGenerationServiceTests.cs
Labels: .NET, kernel

#6286 Python: added function_name and plugin_name properties to FC and FCR
  python/semantic_kernel/contents/function_call_content.py
  python/semantic_kernel/contents/function_result_content.py
  python/tests/unit/contents/test_function_call.py
Labels: python

#6288 Python: renamed complete to get_
  python/samples/concepts/plugins/openai_function_calling_with_custom_plugin.py
  python/samples/concepts/text_generation/google_palm_text_completion.py
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion_base.py
  python/semantic_kernel/connectors/ai/text_completion_client_base.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/tests/unit/connectors/google_palm/services/test_palm_chat_completion.py
  python/tests/unit/connectors/google_palm/services/test_palm_text_completion.py
  python/tests/unit/connectors/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/connectors/ollama/services/test_ollama_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
  python/tests/unit/functions/test_kernel_function_from_prompt.py
Labels: python

#6287 Python: improved plugins docstrings
  python/semantic_kernel/functions/kernel_plugin.py
Labels: python

#6296 Java: Add customer information to reservations
  java/samples/semantickernel-demos/booking-agent-m365/src/main/java/com/microsoft/semantickernel/BookingAgent.java
  java/samples/semantickernel-demos/booking-agent-m365/src/main/java/com/microsoft/semantickernel/BookingPlugin.java
  java/samples/semantickernel-demos/booking-agent-m365/src/main/resources/log4j2.xml
Labels: java

#6275 .Net: fixed extension data in Model diagnostics
  dotnet/samples/Demos/TelemetryWithAppInsights/Program.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET, kernel

#6297 .Net: Add activities to MistralClient
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
Labels: .NET, kernel

#6298 Python: Create an experimental class and function decorator.
  python/semantic_kernel/utils/experimental_decorator.py
  python/tests/conftest.py
  python/tests/unit/functions/test_kernel_experimental_decorator.py
  python/tests/unit/functions/test_kernel_function_decorators.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#6299 Python: Bump python version to 0.9.9b1 for release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#6302 .Net: Bump version to 1.12.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#6301 .Net: Add MistralAI to the AppInsights sample
  dotnet/samples/Demos/TelemetryWithAppInsights/Program.cs
  dotnet/samples/Demos/TelemetryWithAppInsights/README.md
  dotnet/samples/Demos/TelemetryWithAppInsights/TelemetryWithAppInsights.csproj
  dotnet/samples/Demos/TelemetryWithAppInsights/TestConfiguration.cs
Labels: .NET, documentation

#6252 Java: Apply a number of fixes from API review
  java/CHANGELOG.md
  java/aiservices/openai/pom.xml
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/OpenAiService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/audio/OpenAiAudioToTextService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/audio/OpenAiTextToAudioService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/api-test/integration-tests/pom.xml
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/ToolCallBehaviourTest.java
  java/api-test/pom.xml
  java/pom.xml
  java/samples/pom.xml
  java/samples/semantickernel-concepts/pom.xml
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/pom.xml
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example49_LogitBias.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/RunAll.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/chatcompletion/Example33_Chat.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example09_FunctionTypes.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example59_OpenAIFunctionCalling.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example60_AdvancedMethodFunctions.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/java/FunctionsWithinPrompts_Example.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/plugins/Example10_DescribeAllPluginsAndFunctions.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/resources/com/microsoft/semantickernel/samples/syntaxexamples/chatcompletion/30-system-prompt.txt
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/resources/com/microsoft/semantickernel/samples/syntaxexamples/chatcompletion/30-user-context.txt
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/resources/com/microsoft/semantickernel/samples/syntaxexamples/chatcompletion/30-user-prompt.txt
  java/samples/semantickernel-demos/booking-agent-m365/pom.xml
  java/samples/semantickernel-demos/booking-agent-m365/src/main/java/com/microsoft/semantickernel/BookingAgent.java
  java/samples/semantickernel-demos/pom.xml
  java/samples/semantickernel-learn-resources/pom.xml
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/CreatingFunctions.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Plugin.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/SerializingPrompts.java
  java/samples/semantickernel-sample-plugins/pom.xml
  java/samples/semantickernel-sample-plugins/semantickernel-openapi-plugin/pom.xml
  java/semantickernel-api/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/CollectionUtil.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionInvocation.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResultMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/InvocationContext.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/InvocationReturnMode.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/chatcompletion/ChatHistory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/openai/OpenAiServiceBuilder.java
  java/semantickernel-bom/pom.xml
Labels: java, documentation

#6142 .Net: Implementation of store using Azure SQL/SQL Server with vector search.
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.SqlServer/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/Connectors.Memory.SqlServer.csproj
  dotnet/src/Connectors/Connectors.Memory.SqlServer/ISqlServerClient.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerClient.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerMemoryEntry.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerMemoryStore.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqlServer/SqlServerMemoryStoreTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel, memory

#6309 .Net: Include request info in HttpOperationException
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/IntegrationTests/Plugins/RepairServiceTests.cs
  dotnet/src/SemanticKernel.Abstractions/Http/HttpOperationException.cs
Labels: .NET, kernel, kernel.core

#6307 .Net: Ignore PromptExecutionSettings.IsFrozen for JSON serialization
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
Labels: .NET, kernel.core

#6308 .Net: Some Mistral code cleanup from analyzers
  dotnet/samples/Demos/CodeInterpreterPlugin/Program.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Services/MistralAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/ChatCompletionRequest.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatChoice.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatCompletionChoice.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatCompletionChunk.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatMessage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralFunction.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralParameters.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralTool.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralToolCall.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAITextEmbeddingGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET, kernel

#6306 .Net: Trace ChatHistory and PromptExecutionSettings in IChatCompletionServices
  dotnet/src/Connectors/Connectors.Google/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
Labels: .NET, kernel

#6262 .Net: Summarization and translation evaluation examples with Filters
  .github/_typos.toml
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Filters/BertSummarizationEvaluationFilter.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Filters/BleuSummarizationEvaluationFilter.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Filters/CometTranslationEvaluationFilter.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Filters/FilterFactory.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Filters/MeteorSummarizationEvaluationFilter.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Models/EvaluationRequest.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Models/EvaluationResponse.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Models/EvaluationScoreType.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Program.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/QualityCheckWithFilters.csproj
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Services/EvaluationService.cs
  dotnet/samples/Demos/QualityCheck/QualityCheckWithFilters/Services/FakeChatCompletionService.cs
  dotnet/samples/Demos/QualityCheck/README.md
  dotnet/samples/Demos/QualityCheck/python-server/Dockerfile
  dotnet/samples/Demos/QualityCheck/python-server/app/__init__.py
  dotnet/samples/Demos/QualityCheck/python-server/app/main.py
  dotnet/samples/Demos/QualityCheck/python-server/docker-compose.yml
  dotnet/samples/Demos/QualityCheck/python-server/requirements.txt
Labels: .NET, documentation

#6312 Java: Upgrade azure-ai-openai to 1.0.0-beta.8
  java/CHANGELOG.md
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/ToolCallBehaviourTest.java
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-12b6744e-443f-4fe7-82e2-55cc41195ff1.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-71b07779-49a8-44e5-a60b-ee5b0a3ad697.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-0c8046c5-74ad-4836-8aa9-09da60f367a2.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-0215b128-4822-4368-ac3d-2f580a221f00.json
  java/pom.xml
  java/samples/semantickernel-demos/booking-agent-m365/src/main/java/com/microsoft/semantickernel/BookingPlugin.java
Labels: java, documentation

#6314 Java: Upgrade azure-identity to 1.12.1
  java/CHANGELOG.md
  java/semantickernel-bom/pom.xml
Labels: java, documentation

#6315 .Net: Fix MistralAI logging
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
Labels: .NET, kernel

#6305 .Net: Include streaming tool call information in model diagnostics
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET, kernel

#6304 .Net: Fix CI pipeline for Windows runner
  .github/workflows/dotnet-build-and-test.yml
  dotnet/samples/GettingStarted/Step8_Pipelining.cs
Labels: .NET

#6321 Python: Bump version to 1.0.0rc1.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#6324 .Net: Fix ArgumentNullException from TextPlugin.Uppercase/Lowercase on .NET Framework
  dotnet/src/Plugins/Plugins.Core/TextPlugin.cs
Labels: .NET

#6323 .Net: Fix PlatformNotSupportedException from HttpClientProvider
  dotnet/src/InternalUtilities/src/Http/HttpClientProvider.cs
Labels: .NET

#6148 .Net: Adds a memory connector for Azure Cosmos DB for NoSQL
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/Connectors.Memory.AzureCosmosDBNoSQL.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/CosmosSystemTextJSonSerializer.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLMemoryStoreTestsFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/DataHelper.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel, memory

#6300 .Net: Added logprobs property to OpenAIPromptExecutionSettings
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextGeneration/AzureOpenAITextGenerationServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
Labels: .NET, kernel

#6218 .Net: Enable CreateFromType/Object to work with closed generics
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelPluginFactory.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests2.cs
Labels: .NET, kernel

#6336 .Net: Bump version to 1.13.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#6330 Java: Fix #6325 and #6273
  java/CHANGELOG.md
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/exceptions/SKCheckedException.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/exceptions/SKException.java
Labels: java, documentation

#6340 .Net: Fixed warning in release pipeline about Docker base image in examples
  dotnet/samples/Demos/QualityCheck/README.md
  dotnet/samples/Demos/QualityCheck/python-server/Dockerfile
Labels: .NET, documentation

#6335 Python: Add json schema handling. Add experimental tag to OpenAPI and Memory Connectors.
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
  python/semantic_kernel/connectors/ai/embeddings/embedding_generator_base.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_embedding.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/utils.py
  python/semantic_kernel/connectors/memory/astradb/astra_client.py
  python/semantic_kernel/connectors/memory/astradb/astradb_memory_store.py
  python/semantic_kernel/connectors/memory/astradb/astradb_settings.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_ai_search_settings.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmos_db_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmos_db_store_api.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmosdb_settings.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/cosmosdb_utils.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/mongo_vcore_store_api.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb_no_sql/azure_cosmosdb_no_sql_memory_store.py
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
  python/semantic_kernel/connectors/memory/memory_settings_base.py
  python/semantic_kernel/connectors/memory/milvus/milvus_memory_store.py
  python/semantic_kernel/connectors/memory/mongodb_atlas/mongodb_atlas_memory_store.py
  python/semantic_kernel/connectors/memory/mongodb_atlas/mongodb_atlas_settings.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_memory_store.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_settings.py
  python/semantic_kernel/connectors/memory/postgres/postgres_memory_store.py
  python/semantic_kernel/connectors/memory/postgres/postgres_settings.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_memory_store.py
  python/semantic_kernel/connectors/memory/redis/redis_memory_store.py
  python/semantic_kernel/connectors/memory/redis/redis_settings.py
  python/semantic_kernel/connectors/memory/usearch/usearch_memory_store.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_memory_store.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_settings.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_function_execution_parameters.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_manager.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/functions/kernel_parameter_metadata.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_pydantic.py
  python/semantic_kernel/memory/memory_query_result.py
  python/semantic_kernel/memory/memory_record.py
  python/semantic_kernel/memory/memory_store_base.py
  python/semantic_kernel/memory/null_memory.py
  python/semantic_kernel/memory/semantic_text_memory.py
  python/semantic_kernel/memory/semantic_text_memory_base.py
  python/semantic_kernel/memory/volatile_memory_store.py
  python/semantic_kernel/schema/kernel_json_schema.py
  python/semantic_kernel/schema/kernel_json_schema_builder.py
  python/tests/integration/planning/function_calling_stepwise_planner/test_int_function_calling_stepwise_planner.py
  python/tests/unit/functions/test_kernel_function_from_method.py
  python/tests/unit/functions/test_kernel_parameter_metadata.py
  python/tests/unit/schema/test_schema_builder.py
  python/tests/unit/test_serialization.py
Labels: python, memory

#6337 Python: fix for fc stepwise
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
Labels: python

#6345 Python: Bump Python version to v1.0.0
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#6354 Python: Try to fix a doc building issue.
  python/semantic_kernel/functions/kernel_plugin.py
Labels: python

#6347 Simplify README.md
  README.md
Labels: documentation

#6357 Python: Fix FC stepwise planner.
  python/samples/concepts/plugins/openai_function_calling_with_custom_plugin.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/semantic_kernel/prompt_template/utils/jinja2_system_helpers.py
  python/semantic_kernel/schema/kernel_json_schema_builder.py
  python/tests/integration/planning/function_calling_stepwise_planner/test_int_function_calling_stepwise_planner.py
Labels: python

#6351 Python: update for kernel function decorator defaults
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/tests/unit/core_plugins/test_text_memory_plugin.py
  python/tests/unit/core_plugins/test_text_plugin.py
  python/tests/unit/functions/test_kernel_function_decorators.py
  python/tests/unit/functions/test_kernel_function_from_method.py
Labels: python

#6363 Python: updated pyproject and lock
  .pre-commit-config.yaml
  python/poetry.lock
  python/pyproject.toml
Labels: python

#6361 Python: split kernel into kernel extensions for relevant pieces
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/filters/kernel_filters_extension.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_extension.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/reliability/kernel_reliability_extension.py
  python/semantic_kernel/services/kernel_services_extension.py
  python/tests/unit/functions/test_kernel_function_from_prompt.py
Labels: python

#6366 Python: Improve test coverage
  python/.coveragerc
  python/semantic_kernel/prompt_template/prompt_template_config.py
  python/semantic_kernel/prompt_template/utils/handlebars_system_helpers.py
  python/semantic_kernel/prompt_template/utils/template_function_helpers.py
  python/semantic_kernel/services/ai_service_selector.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/semantic_kernel/text/text_chunker.py
  python/semantic_kernel/utils/null_logger.py
  python/semantic_kernel/utils/validation.py
  python/tests/conftest.py
  python/tests/unit/kernel/test_kernel.py
  python/tests/unit/prompt_template/test_handlebars_prompt_template.py
  python/tests/unit/prompt_template/test_jinja2_prompt_template.py
  python/tests/unit/prompt_template/test_prompt_templates.py
  python/tests/unit/schema/test_schema_builder.py
  python/tests/unit/services/test_ai_service_selector.py
  python/tests/unit/template_engine/blocks/test_code_block.py
  python/tests/unit/template_engine/blocks/test_var_block.py
  python/tests/unit/text/test_text_chunker.py
Labels: python, PR: breaking change

#6368 Python: Bump Python version to 1.0.1 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#6372 Java: Add example of a multi turnaround chat with tool calls. Fixes bug with serializing tool call arguments
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/test/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAiChatCompletionTest.java
  java/aiservices/openai/src/test/resources/com/microsoft/semantickernel/aiservices/openai/chatcompletion/chatCompletion.txt
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/ToolCallBehaviourTest.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example59_OpenAIFunctionCalling.java
Labels: java

#6378 Python: Fix doc strings
  python/semantic_kernel/functions/kernel_plugin.py
Labels: python

#6370 Python: Fix schema handling. Fix function result return for type list.
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/utils.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_expected_response.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_parameter.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_parameter_location.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_parameter_style.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_payload.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_payload_property.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_operation_run_options.py
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_uri.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_manager.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_parser.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_runner.py
  python/semantic_kernel/functions/function_result.py
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/functions/kernel_function_metadata.py
  python/semantic_kernel/functions/kernel_parameter_metadata.py
  python/semantic_kernel/schema/kernel_json_schema.py
  python/semantic_kernel/schema/kernel_json_schema_builder.py
  python/tests/integration/planning/function_calling_stepwise_planner/test_int_function_calling_stepwise_planner.py
  python/tests/unit/functions/test_kernel_function_from_method.py
  python/tests/unit/services/test_service_utils.py
Labels: python

#6382 Python: Refactoring. Use get_function and get_plugin.
  python/samples/concepts/search/bing_plugin_examples.py
  python/samples/learn_resources/serializing_prompts.py
  python/semantic_kernel/connectors/ai/open_ai/const.py
  python/tests/unit/core_plugins/test_http_plugin.py
  python/tests/unit/core_plugins/test_math_plugin.py
  python/tests/unit/core_plugins/test_sessions_python_plugin.py
  python/tests/unit/core_plugins/test_text_memory_plugin.py
  python/tests/unit/core_plugins/test_text_plugin.py
  python/tests/unit/core_plugins/test_time_plugin.py
  python/tests/unit/kernel/test_kernel.py
  python/tests/unit/kernel/test_register_functions.py
Labels: python

#6384 Python: Remove assert on non-required api_key
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
Labels: python, memory

#6381 Python: Fix typos.
  python/semantic_kernel/connectors/ai/function_call_behavior.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/connectors/ai/prompt_execution_settings.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_memory_store.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/function_result_content.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/semantic_kernel/contents/streaming_text_content.py
  python/semantic_kernel/contents/text_content.py
  python/semantic_kernel/core_plugins/text_plugin.py
  python/semantic_kernel/core_plugins/time_plugin.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/semantic_kernel/services/ai_service_client_base.py
  python/semantic_kernel/services/ai_service_selector.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/semantic_kernel/template_engine/blocks/function_id_block.py
  python/semantic_kernel/template_engine/blocks/named_arg_block.py
  python/semantic_kernel/template_engine/blocks/var_block.py
  python/semantic_kernel/template_engine/code_tokenizer.py
Labels: python, memory

#6320 .Net: Update LiquidPromptTemplate to use Fluid instead of Scriban
  dotnet/Directory.Packages.props
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/PromptTemplates.Liquid.csproj
Labels: .NET, kernel

#6409 Python: Fix typo
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
  python/samples/concepts/plugins/openai_function_calling_with_custom_plugin.py
Labels: python

#6331 .Net: Holiday plugin sample
  dotnet/samples/Concepts/ChatCompletion/OpenAI_FunctionCalling.cs
Labels: .NET

#6411 Python: updated samples
  python/samples/learn_resources/README.md
  python/samples/learn_resources/__init__.py
  python/samples/learn_resources/ai_services.py
  python/samples/learn_resources/configuring_prompts.py
  python/samples/learn_resources/creating_functions.py
  python/samples/learn_resources/functions_within_prompts.py
  python/samples/learn_resources/planner.py
  python/samples/learn_resources/plugin.py
  python/samples/learn_resources/plugins/MathPlugin/Math.py
  python/samples/learn_resources/prompts.py
  python/samples/learn_resources/serializing_prompts.py
  python/samples/learn_resources/service_configurator.py
  python/samples/learn_resources/sk_service_configurator.py
  python/samples/learn_resources/templates.py
  python/samples/learn_resources/using_the_kernel.py
  python/samples/learn_resources/your_first_prompt.py
  python/tests/samples/test_learn_resources.py
Labels: python, documentation

#6394 Python: Fix schema building for complex types
  python/semantic_kernel/schema/kernel_json_schema_builder.py
  python/tests/unit/schema/test_schema_builder.py
Labels: python

#6246 Python: (Astra DB) Explicit projection when reading from Astra DB
  python/semantic_kernel/connectors/memory/astradb/astra_client.py
Labels: python, memory

#6431 Python: Fix doc string for allow_dangerously_set_content
  python/semantic_kernel/prompt_template/input_variable.py
  python/semantic_kernel/prompt_template/prompt_template_config.py
Labels: python

#6432 Python: Bump Python version to 1.0.3 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#6428 .Net: Return result of the function executed before termination for streaming API
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/FunctionCalling/AutoFunctionInvocationFilterTests.cs
Labels: .NET, kernel

#6430 Python: Run notebooks as tests
  python/poetry.lock
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/tests/samples/test_getting_started.py
  python/tests/samples/test_learn_resources.py
Labels: python

#6424 Python: fix: Remove wrong `response_format` override in `AzureChatPromptExecutionSettings` class
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/azure_chat_prompt_execution_settings.py
  python/tests/unit/connectors/open_ai/test_openai_request_settings.py
Labels: python

#6392 Python: Pydantic settings config
  python/samples/concepts/chat_completion/chat_gpt_api.py
  python/samples/concepts/memory/azure_cognitive_search_memory.py
  python/samples/concepts/on_your_data/azure_chat_gpt_with_data_api.py
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_completion.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_text_embedding.py
  python/semantic_kernel/connectors/ai/google_palm/settings/google_palm_settings.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/azure_chat_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/settings/azure_open_ai_settings.py
  python/semantic_kernel/connectors/ai/open_ai/settings/open_ai_settings.py
  python/semantic_kernel/connectors/memory/astradb/astradb_memory_store.py
  python/semantic_kernel/connectors/memory/astradb/astradb_settings.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_ai_search_settings.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmos_db_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmos_db_store_api.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmosdb_settings.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/cosmosdb_utils.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/mongo_vcore_store_api.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/utils.py
  python/semantic_kernel/connectors/memory/memory_settings_base.py
  python/semantic_kernel/connectors/memory/mongodb_atlas/mongodb_atlas_memory_store.py
  python/semantic_kernel/connectors/memory/mongodb_atlas/mongodb_atlas_settings.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_memory_store.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_settings.py
  python/semantic_kernel/connectors/memory/postgres/postgres_memory_store.py
  python/semantic_kernel/connectors/memory/postgres/postgres_settings.py
  python/semantic_kernel/connectors/memory/redis/redis_memory_store.py
  python/semantic_kernel/connectors/memory/redis/redis_settings.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_memory_store.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_settings.py
  python/semantic_kernel/connectors/search_engine/bing_connector.py
  python/semantic_kernel/connectors/search_engine/bing_connector_settings.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_settings.py
  python/semantic_kernel/kernel_pydantic.py
  python/semantic_kernel/prompt_template/input_variable.py
  python/tests/integration/connectors/memory/test_astradb.py
  python/tests/integration/connectors/memory/test_azure_cognitive_search.py
  python/tests/integration/connectors/memory/test_azure_cosmosdb_memory_store.py
  python/tests/integration/connectors/memory/test_azure_cosmosdb_no_sql_memory_store.py
  python/tests/integration/connectors/memory/test_mongodb_atlas.py
  python/tests/integration/connectors/memory/test_weaviate_memory_store.py
  python/tests/unit/connectors/google_palm/services/test_palm_chat_completion.py
  python/tests/unit/connectors/google_palm/services/test_palm_text_completion.py
  python/tests/unit/connectors/google_palm/services/test_palm_text_embedding.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_embedding.py
Labels: python, memory

#6265 Java development
  java/samples/semantickernel-concepts/README.md
Labels: java, documentation

#6403 .Net: Update obsolete links
  docs/decisions/0010-dotnet-project-structure.md
  dotnet/samples/Demos/BookingRestaurant/README.md
  dotnet/samples/Demos/TimePlugin/README.md
Labels: .NET, documentation

#6438 Java: Fix OpenAPI importer not being able to match parameters, and removing…
  java/CHANGELOG.md
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIFunction.java
  java/samples/semantickernel-sample-plugins/semantickernel-openapi-plugin/src/main/java/com/microsoft/semantickernel/samples/openapi/OpenAPIHttpRequestPlugin.java
Labels: java, documentation

#6436 Java: Deprecate the java-v1 branch
  java/README.md
  java/pom.xml
Labels: java, documentation

#6407 .Net: Include request metadata in KernelException if response cannot be serialized
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/IntegrationTests/Plugins/RepairServiceTests.cs
  dotnet/src/SemanticKernel.Abstractions/Http/HttpOperationException.cs
  dotnet/src/SemanticKernel.Abstractions/KernelException.cs
Labels: .NET, kernel, kernel.core

#6447 .Net Ollama Rebase Main -> Feature Branch
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletion.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Memory/Ollama_EmbeddingGeneration.cs
  dotnet/samples/Concepts/TextGeneration/Ollama_TextGeneration.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Connectors.Ollama.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/HttpMessageHandlerStub.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaTestHelper.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_test_response.json
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/embeddings_test_response.json
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/text_generation_test_response.json
  dotnet/src/Connectors/Connectors.Ollama/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/IStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaChatRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaChatResponse.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaClient.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaResponseBase.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaTextRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaTextResponse.cs
  dotnet/src/Connectors/Connectors.Ollama/Connectors.Ollama.csproj
  dotnet/src/Connectors/Connectors.Ollama/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaMetadata.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextGenerationService.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, kernel

#6450 .Net: Fixed ImageContent usage in OpenAI connector
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionWithVision.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
Labels: .NET, kernel

#6467 Python: added hugging face unit test
  python/tests/unit/connectors/hugging_face/test_hf_text_completions.py
Labels: python

#6250 Python: mypy coverage enhancement
  python/mypy.ini
  python/semantic_kernel/const.py
  python/semantic_kernel/core_plugins/conversation_summary_plugin.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/semantic_kernel/core_plugins/text_memory_plugin.py
  python/semantic_kernel/core_plugins/web_search_engine_plugin.py
  python/semantic_kernel/functions/kernel_arguments.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/kernel_types.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner.py
  python/semantic_kernel/prompt_template/jinja2_prompt_template.py
  python/semantic_kernel/prompt_template/kernel_prompt_template.py
  python/semantic_kernel/prompt_template/prompt_template_config.py
  python/semantic_kernel/prompt_template/utils/template_function_helpers.py
  python/semantic_kernel/reliability/pass_through_without_retry.py
  python/semantic_kernel/services/ai_service_client_base.py
  python/semantic_kernel/services/ai_service_selector.py
  python/semantic_kernel/services/kernel_services_extension.py
  python/semantic_kernel/template_engine/blocks/code_block.py
  python/semantic_kernel/template_engine/blocks/function_id_block.py
  python/semantic_kernel/template_engine/blocks/named_arg_block.py
  python/semantic_kernel/template_engine/blocks/val_block.py
  python/semantic_kernel/template_engine/blocks/var_block.py
  python/semantic_kernel/text/text_chunker.py
  python/semantic_kernel/utils/experimental_decorator.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#6477 Python: Fix function calling concept example.
  python/samples/concepts/plugins/openai_function_calling_with_custom_plugin.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
Labels: python

#6278 Python: Support Bing Custom Search
  python/semantic_kernel/connectors/search_engine/bing_connector.py
  python/semantic_kernel/connectors/search_engine/bing_connector_settings.py
Labels: python
