Repository microsoft/semantic-kernel, pull requests merged in 2024-06, with the labels that each got.

#6478 Python: Fix learn resource planner sample
  python/samples/learn_resources/__init__.py
  python/samples/learn_resources/planner.py
  python/samples/learn_resources/service_settings.py
  python/samples/learn_resources/sk_service_configurator.py
Labels: python

#6485 Python: updates to cicd and notebooks
  .github/workflows/python-lint.yml
  .github/workflows/python-samples-tests.yml
  .github/workflows/python-test-coverage.yml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/learn_resources/__init__.py
  python/samples/learn_resources/ai_services.py
  python/samples/learn_resources/functions_within_prompts.py
  python/samples/learn_resources/planner.py
  python/samples/learn_resources/serializing_prompts.py
  python/samples/learn_resources/your_first_prompt.py
  python/samples/service_settings.py
  python/samples/sk_service_configurator.py
Labels: python

#6454 .Net: Added AzureChatExtensionsOptions property and deprecated WithData classes
  .github/workflows/dotnet-build-and-test.yml
  dotnet/code-coverage.ps1
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAIWithData_ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAIWithDataChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAIWithDataStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataConfig.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/ChatWithDataMessage.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/ChatWithDataRequest.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/ChatWithDataResponse.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/ChatWithDataStreamingResponse.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AzureSdk/AzureOpenAIWithDataChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AzureSdk/AzureOpenAIWithDataStreamingChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIServiceCollectionExtensionsTests.cs
Labels: .NET, kernel

#6487 Python: Improve DEV_SETUP.md Poetry install instructions for MacOS users.
  python/DEV_SETUP.md
Labels: python, documentation

#6486 Python: implement async support for templates
  python/semantic_kernel/prompt_template/jinja2_prompt_template.py
  python/semantic_kernel/prompt_template/utils/template_function_helpers.py
  python/tests/unit/prompt_template/test_jinja2_prompt_template.py
  python/tests/unit/prompt_template/test_template_helper.py
Labels: python

#6493 Python: Fix Bing Connector Setting Usage
  python/semantic_kernel/connectors/search_engine/bing_connector.py
Labels: python

#6507 Python: Updates to fix changes made to ACA Sessions Plugin
  python/semantic_kernel/core_plugins/sessions_python_tool/README.md
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_remote_file_metadata.py
  python/tests/unit/core_plugins/test_sessions_python_plugin.py
Labels: python, documentation

#6391 Python: Refactoring and fix bug. AuthorRole instead of string literals.
  python/samples/concepts/chat_completion/openai_logit_bias.py
  python/samples/concepts/filtering/function_invocation_filters_stream.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/contents/function_result_content.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
  python/tests/unit/contents/test_chat_history.py
  python/tests/unit/contents/test_chat_message_content.py
  python/tests/unit/contents/test_streaming_chat_message_content.py
  python/tests/unit/functions/test_kernel_function_from_prompt.py
  python/tests/unit/planners/function_calling_stepwise_planner/test_function_calling_stepwise_planner.py
  python/tests/unit/prompt_template/test_handlebars_prompt_template.py
  python/tests/unit/prompt_template/test_jinja2_prompt_template.py
  python/tests/unit/prompt_template/test_prompt_template_e2e.py
Labels: python

#6023 Java: Add Gemini ChatCompletion and HuggingFace
  java/aiservices/google/pom.xml
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/GeminiService.java
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/chatcompletion/GeminiChatCompletion.java
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/chatcompletion/GeminiChatMessageContent.java
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/chatcompletion/GeminiFunctionCall.java
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/chatcompletion/GeminiRole.java
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/chatcompletion/GeminiXMLPromptParser.java
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/implementation/MonoConverter.java
  java/aiservices/huggingface/pom.xml
  java/aiservices/huggingface/src/main/java/com/microsoft/semantickernel/aiservices/huggingface/HuggingFaceClient.java
  java/aiservices/huggingface/src/main/java/com/microsoft/semantickernel/aiservices/huggingface/models/GeneratedTextItem.java
  java/aiservices/huggingface/src/main/java/com/microsoft/semantickernel/aiservices/huggingface/models/TextGenerationRequest.java
  java/aiservices/huggingface/src/main/java/com/microsoft/semantickernel/aiservices/huggingface/models/chat/ChatCompletionRequest.java.ignore
  java/aiservices/huggingface/src/main/java/com/microsoft/semantickernel/aiservices/huggingface/models/chat/HuggingFaceChatCompletionService.java.ignore
  java/aiservices/huggingface/src/main/java/com/microsoft/semantickernel/aiservices/huggingface/models/chat/HuggingFaceXMLPromptParser.java.ignore
  java/aiservices/huggingface/src/main/java/com/microsoft/semantickernel/aiservices/huggingface/services/HuggingFacePromptExecutionSettings.java
  java/aiservices/huggingface/src/main/java/com/microsoft/semantickernel/aiservices/huggingface/services/HuggingFaceTextGenerationService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAiXMLPromptParser.java
  java/api-test/integration-tests/pom.xml
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/ToolCallBehaviourTest.java
  java/pom.xml
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/pom.xml
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example20_HuggingFace.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example42_KernelBuilder.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example49_LogitBias.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example61_MultipleLLMs.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example62_CustomAIServiceSelector.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example98_GeminiFunctionCalling.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/chatcompletion/Example30_ChatWithPrompts.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/chatcompletion/Example63_ChatCompletionPrompts.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/chatcompletion/Example96_GeminiChatCompletion.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/configuration/Example26_AADAuth.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/configuration/Example41_HttpClientUsage.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example27_PromptFunctionsUsingChatGPT.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example98_GeminiFunctionCalling.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/java/FunctionsWithinPrompts_Example.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/plugins/Example07_BingAndGooglePlugins.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/AIServices.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/ConfiguringPrompts.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/CreatingFunctions.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/FunctionsWithinPrompts.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Plugin.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Prompts.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/SerializingPrompts.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Templates.java
  java/samples/semantickernel-learn-resources/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/UsingTheKernel.java
  java/samples/semantickernel-sample-plugins/semantickernel-openapi-plugin/src/test/java/ExampleOpenAPIParent.java
  java/semantickernel-api/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ToolCallBehavior.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/chatcompletion/ChatCompletionService.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/chatcompletion/ChatPromptParseVisitor.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/chatcompletion/ChatXMLPromptParser.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/gemini/GeminiServiceBuilder.java
  java/semantickernel-bom/pom.xml
Labels: java

#6543 .Net: Version 1.14.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#6544 .Net: Fix: telemetry sample app repeated calls to the same registered function
  dotnet/samples/Demos/TelemetryWithAppInsights/Program.cs
Labels: .NET

#6545 Python: Adjust the learn file imports based on a previous refactor.
  python/samples/__init__.py
  python/samples/learn_resources/__init__.py
  python/samples/learn_resources/configuring_prompts.py
  python/samples/learn_resources/creating_functions.py
  python/samples/learn_resources/plugin.py
  python/samples/learn_resources/templates.py
  python/samples/learn_resources/using_the_kernel.py
  python/tests/integration/completions/test_azure_oai_text_service.py
Labels: python

#6560 Python: Handle streaming tool call attempts. Fix func calling concept example.
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
Labels: python

#6562 Python: import fix for azure ai search settings in chat
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/azure_chat_prompt_execution_settings.py
Labels: python

#6390 .Net: added readme
  dotnet/src/Connectors/Connectors.Memory.SqlServer/README.md
Labels: .NET, kernel, documentation, memory

#6567 .Net: Version 1.14.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#6408 .Net: Add missing code samples reference to dotnet Readme
  dotnet/README.md
Labels: .NET, documentation

#6568 .Net: Marked Agents projects as Packable. Fixed Publish configuration.
  dotnet/SK-dotnet.sln
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
  dotnet/src/Agents/Core/Agents.Core.csproj
  dotnet/src/Agents/OpenAI/Agents.OpenAI.csproj
Labels: .NET

#6406 .Net: Add AssemblyAI file service Remake from #5964
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/AssemblyAIFilesExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/AssemblyAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/Connectors.AssemblyAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/Services/AssemblyAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/Services/AssemblyAIFileServiceTests.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/AssemblyAIAudioToTextExecutionSettings.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/AssemblyAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/AssemblyAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/Core/AssemblyAIClient.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/Services/AssemblyAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/Services/AssemblyAIFileService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/AzureOpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/OpenAIAudioToTextServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/AssemblyAI/AssemblyAIAudioToTextTests.cs
  dotnet/src/IntegrationTests/Connectors/AssemblyAI/AssemblyAIFilesTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/AudioToText/IAudioToTextService.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioStreamContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioStreamContentExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
Labels: .NET, kernel, kernel.core

#6587 .Net: Update TELEMETRY.md to include the latest recommended pattern for ILoggerFactory
  dotnet/docs/TELEMETRY.md
Labels: .NET, documentation

#6561 .Net: Baseline 1.14.1
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/Extensions/PromptTemplates.Handlebars/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET, kernel, kernel.core

#6620 .Net: Restructure function calling samples
  dotnet/samples/Concepts/AutoFunctionCalling/OpenAI_FunctionCalling.cs
  dotnet/samples/Concepts/FunctionCalling/Gemini_FunctionCalling.cs
  dotnet/samples/Concepts/FunctionCalling/OpenAI_FunctionCalling.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#6637 .Net: Minor clean-up of sample
  dotnet/samples/Concepts/FunctionCalling/OpenAI_FunctionCalling.cs
Labels: .NET

#6586 Java: Add setting for UserAgent
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/implementation/OpenAIRequestSettings.java
Labels: java

#6196 .Net: Cross-language tests
  dotnet/src/IntegrationTests/CrossLanguage/Data/LightBulbApi.json
  dotnet/src/IntegrationTests/CrossLanguage/Data/LightBulbApiTest.json
  dotnet/src/IntegrationTests/CrossLanguage/Data/PromptWithChatRolesTest-HB.yaml
  dotnet/src/IntegrationTests/CrossLanguage/Data/PromptWithChatRolesTest.json
  dotnet/src/IntegrationTests/CrossLanguage/Data/PromptWithComplexObjectsTest.json
  dotnet/src/IntegrationTests/CrossLanguage/Data/PromptWithHelperFunctionsTest.json
  dotnet/src/IntegrationTests/CrossLanguage/Data/PromptWithSimpleVariableTest.json
  dotnet/src/IntegrationTests/CrossLanguage/Data/PromptWithSimpleVariableTest.yaml
  dotnet/src/IntegrationTests/CrossLanguage/Data/SimplePromptTest.json
  dotnet/src/IntegrationTests/CrossLanguage/Data/SimplePromptTest.yaml
  dotnet/src/IntegrationTests/CrossLanguage/KernelRequestTracer.cs
  dotnet/src/IntegrationTests/CrossLanguage/OpenApiTest.cs
  dotnet/src/IntegrationTests/CrossLanguage/PromptWithChatRolesTest.cs
  dotnet/src/IntegrationTests/CrossLanguage/PromptWithComplexObjectsTest.cs
  dotnet/src/IntegrationTests/CrossLanguage/PromptWithHelperFunctionsTest.cs
  dotnet/src/IntegrationTests/CrossLanguage/PromptWithSimpleVariableTest.cs
  dotnet/src/IntegrationTests/CrossLanguage/SimplePromptTest.cs
  dotnet/src/IntegrationTests/CrossLanguage/YamlPromptTest.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/SemanticKernel.UnitTests/HttpMessageHandlerStub.cs
Labels: .NET, kernel

#6583 Java: Add GeminiTextGenerationService and usage data to chat completion
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/chatcompletion/GeminiChatCompletion.java
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/textcompletion/GeminiTextGenerationService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example43_GetModelResult.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example57_KernelHooks.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example98_GeminiFunctionCalling.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example98_GeminiFunctionCalling.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResult.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResultMetadata.java
Labels: java

#6573 Python: Update Python getting-started notebooks
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
Labels: python

#6660 Python: Fix broken concept samples. Run concept examples as tests.
  .github/workflows/python-integration-tests.yml
  python/.env.example
  python/samples/concepts/chat_completion/openai_logit_bias.py
  python/samples/concepts/filtering/prompt_filters.py
  python/samples/concepts/grounding/grounded.py
  python/samples/concepts/on_your_data/azure_chat_gpt_with_data_api.py
  python/samples/concepts/on_your_data/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/concepts/on_your_data/azure_chat_gpt_with_data_api_vector_search.py
  python/samples/concepts/planners/azure_openai_function_calling_stepwise_planner.py
  python/samples/concepts/planners/openai_function_calling_stepwise_planner.py
  python/samples/concepts/planners/sequential_planner.py
  python/samples/concepts/plugins/azure_key_vault_settings.py
  python/samples/concepts/plugins/openai_plugin_azure_key_vault.py
  python/samples/concepts/prompt_templates/azure_chat_gpt_api_handlebars.py
  python/samples/concepts/prompt_templates/azure_chat_gpt_api_jinja2.py
  python/samples/concepts/prompt_templates/load_yaml_prompt.py
  python/samples/concepts/prompt_templates/template_language.py
  python/samples/concepts/rag/self-critique_rag.py
  python/samples/concepts/resources/__init__.py
  python/samples/concepts/search/bing_plugin_examples.py
  python/samples/getting_started/.env.example
  python/samples/getting_started/third_party/.env.example
  python/samples/learn_resources/.env.example
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_ai_search_settings.py
  python/semantic_kernel/connectors/search_engine/bing_connector.py
  python/semantic_kernel/core_plugins/web_search_engine_plugin.py
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/tests/samples/test_concepts.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
Labels: python, memory

#6666 .Net Add version to CodeInterpreter API Calls
  dotnet/samples/Demos/CodeInterpreterPlugin/README.md
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonPlugin.cs
Labels: .NET, documentation

#6662 .Net: Fix for RestApiOperation.BuildQueryString
  dotnet/src/Functions/Functions.OpenApi/Serialization/FormStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/FormStyleParametersSerializerTests.cs
Labels: .NET

#6632 .Net: Handle empty response with no content type in RestApiOperationRunner
  dotnet/src/Extensions/PromptTemplates.Handlebars/Helpers/KernelHelpers/KernelFunctionHelpers.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationResponseExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/RestApiOperationResponse.cs
Labels: .NET, kernel, kernel.core

#6680 Python: Fix sample path
  .github/workflows/python-integration-tests.yml
  python/samples/concepts/plugins/openai_plugin_azure_key_vault.py
  python/samples/concepts/prompt_templates/configuring_prompts.py
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/tests/samples/test_concepts.py
  python/tests/samples/test_learn_resources.py
  python/tests/samples/test_samples_utils.py
Labels: python

#6684 Python: fix for backslash
  python/samples/concepts/plugins/openai_plugin_azure_key_vault.py
Labels: python

#6688 .Net: Avoid null ref in ModelDiagnostics.SetCompletionResponse
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET

#6623 .Net: Add Support for 'dall-e-3' Model in OpenAIImageGeneration Class
  .github/_typos.toml
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/OpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/TextToImageRequest.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToImage/OpenAITextToImageServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextToImageTests.cs
  dotnet/src/IntegrationTests/CrossLanguage/PromptWithComplexObjectsTest.cs
  dotnet/src/IntegrationTests/CrossLanguage/PromptWithHelperFunctionsTest.cs
  dotnet/src/IntegrationTests/README.md
Labels: .NET, kernel, documentation

#6393 .Net: Support records with no key, fix issue with Relevance
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLMemoryStore.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLMemoryStoreTestsFixture.cs
Labels: .NET, kernel, memory

#6520 Python: Support for image content and chat message content with image content
  python/samples/concepts/chat_completion/azure_chat_image_input.py
  python/samples/concepts/resources/sample_image.jpg
  python/samples/learn_resources/templates.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding_base.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb/mongo_vcore_store_api.py
  python/semantic_kernel/connectors/memory/azure_cosmosdb_no_sql/azure_cosmosdb_no_sql_memory_store.py
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
  python/semantic_kernel/contents/__init__.py
  python/semantic_kernel/contents/binary_content.py
  python/semantic_kernel/contents/chat_history.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/const.py
  python/semantic_kernel/contents/function_call_content.py
  python/semantic_kernel/contents/function_result_content.py
  python/semantic_kernel/contents/image_content.py
  python/semantic_kernel/contents/kernel_content.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/semantic_kernel/contents/streaming_content_mixin.py
  python/semantic_kernel/contents/streaming_text_content.py
  python/semantic_kernel/contents/text_content.py
  python/semantic_kernel/contents/types.py
  python/semantic_kernel/contents/utils/__init__.py
  python/semantic_kernel/contents/utils/author_role.py
  python/semantic_kernel/contents/utils/data_uri.py
  python/semantic_kernel/contents/utils/finish_reason.py
  python/semantic_kernel/schema/kernel_json_schema_builder.py
  python/tests/assets/sample_image.jpg
  python/tests/integration/completions/test_azure_oai_chat_service.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_oai_chat_service.py
  python/tests/integration/completions/test_utils.py
  python/tests/samples/test_concepts.py
  python/tests/unit/contents/test_binary_content.py
  python/tests/unit/contents/test_chat_history.py
  python/tests/unit/contents/test_chat_message_content.py
  python/tests/unit/contents/test_data_uri.py
  python/tests/unit/contents/test_function_call.py
  python/tests/unit/contents/test_image_content.py
  python/tests/unit/contents/test_streaming_chat_message_content.py
  python/tests/unit/core_plugins/test_sessions_python_plugin.py
  python/tests/unit/kernel/test_kernel.py
  python/tests/unit/schema/test_schema_builder.py
Labels: python, memory

#6698 Python: Azure AI Search api key should not be required.
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_ai_search_settings.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
Labels: python, memory

#6691 Python: Fix sample plugin path for Windows. Re-enable samples CI tests.
  .github/workflows/python-integration-tests.yml
  python/samples/concepts/planners/openai_function_calling_stepwise_planner.py
  python/samples/concepts/plugins/openai_function_calling_with_custom_plugin.py
  python/samples/concepts/prompt_templates/configuring_prompts.py
  python/samples/concepts/prompt_templates/load_yaml_prompt.py
  python/samples/concepts/search/bing_plugin_examples.py
  python/samples/demos/booking_restaurant/README.md
  python/samples/demos/booking_restaurant/restaurant_booking.py
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/tests/integration/cross_language/data/prompt_simple_expected.json
  python/tests/integration/cross_language/data/prompt_with_chat_roles_expected.json
  python/tests/integration/cross_language/data/prompt_with_complex_objects_expected.json
  python/tests/integration/cross_language/data/prompt_with_helper_functions_expected.json
  python/tests/integration/cross_language/data/prompt_with_simple_variable_expected.json
  python/tests/integration/cross_language/test_cross_language.py
  python/tests/integration/planning/function_calling_stepwise_planner/test_int_function_calling_stepwise_planner.py
  python/tests/samples/test_concepts.py
  python/tests/samples/test_learn_resources.py
  python/tests/samples/test_samples_utils.py
Labels: python, documentation

#6699 Python: Bump Python version to 1.1.0 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#6449 .Net: Support function call content classes for AI streaming API
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/FunctionCalling/Gemini_FunctionCalling.cs
  dotnet/samples/Concepts/FunctionCalling/OpenAI_FunctionCalling.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/StreamingKernelContentItemCollection.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContentBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingFunctionCallUpdateContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingKernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingTextContent.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/StreamingKernelContentItemCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/FunctionCallContentBuilderTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/StreamingChatMessageContentTests.cs
Labels: .NET, kernel, kernel.core

#6710 .Net: Replaced text-davinci-003 with gpt-3.5-turbo-instruct
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/README.md
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/testsettings.json
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/README.md
  dotnet/src/IntegrationTests/prompts/GenerateStory.yaml
  dotnet/src/IntegrationTests/prompts/GenerateStoryHandlebars.yaml
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel, documentation

#6705 .Net: instead running two queries now a single query can do the same thing
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Database.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
Labels: .NET, kernel, memory

#6709 Python: fix: Preserve class type in `experimental_class` decorator to avoid type inference issues
  python/semantic_kernel/utils/experimental_decorator.py
Labels: python

#6711 Python: Env sample
  python/samples/concepts/README.md
  python/samples/concepts/setup/ALL_SETTINGS.md
  python/samples/concepts/setup/README.md
  python/samples/concepts/setup/openai_env_setup.py
  python/semantic_kernel/connectors/memory/postgres/postgres_settings.py
Labels: python, documentation, memory

#6713 Python: Update notebooks to run with dotenv settings.
  python/samples/getting_started/.env.example
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/CONFIGURING_THE_KERNEL.md
  python/samples/getting_started/third_party/.env.example
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python, documentation

#6716 Python: Bump Python version to 1.1.1 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#6686 .Net: Fix for path parameters are not URL-encoded when calling an Open API function
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/SimpleStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
Labels: .NET

#6736 .Net: Adding unit tests for property enumerator and excluding from code coverage since it's in InternalUtilities.
  dotnet/src/InternalUtilities/src/Schema/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel

#6708 .Net: Gemini Task -> ValueTask for BearerTokenProvider
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiCountingTokensTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/VertexAI/VertexAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Extensions/VertexAIMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Extensions/VertexAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/VertexAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/VertexAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.Google/Connectors.Google.csproj
  dotnet/src/Connectors/Connectors.Google/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiTokenCounterClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/VertexAI/VertexAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/VertexAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/VertexAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/VertexAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Services/VertexAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Google/Services/VertexAITextEmbeddingGenerationService.cs
Labels: .NET, kernel

#6642 .Net: Update DuckDB.NET.Data and DuckDB.NET.Data.Full package versions to 1.0.0
  dotnet/Directory.Packages.props
Labels: .NET

#6797 Python: Update dev setup readme
  python/DEV_SETUP.md
Labels: python, documentation

#6802 Python: custom service selector sample
  python/samples/concepts/README.md
  python/samples/concepts/service_selector/custom_service_selector.py
  python/tests/samples/test_concepts.py
Labels: python, documentation

#6704 .Net: Added support for multiple chat and text results from Kernel
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionMultipleChoices.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextGeneration/TextGenerationExtensions.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
Labels: .NET, kernel, PR: breaking change, kernel.core

#6754 Python: If no env_file is configured then default to relative .env file
  python/samples/concepts/README.md
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
  python/semantic_kernel/kernel_pydantic.py
Labels: python, documentation

#6800 .Net: Added example how to get list of function calls in auto function invocation filter
  dotnet/samples/Concepts/Filtering/AutoFunctionInvocationFiltering.cs
Labels: .NET

#6722 .Net: Fixing ConversationSummaryPlugin's ActionItems response by improving underlying prompt
  dotnet/src/Plugins/Plugins.Core/PromptFunctionConstants.cs
Labels: .NET

#6807 Python: fix for Python: parameters mentioned in a SK prompt are not synced wi…
  python/semantic_kernel/prompt_template/kernel_prompt_template.py
  python/tests/unit/prompt_template/test_prompt_templates.py
Labels: python

#6574 Update README.md
  README.md
Labels: documentation

#6753 .Net: Align the behavior of the ChatMessageContent.Content property setter with streaming counterpart
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ChatMessageContentTests.cs
Labels: .NET, kernel, kernel.core

#6625 Update EUCLIDEAN_DISTANCE.md
  docs/EUCLIDEAN_DISTANCE.md
Labels: documentation

#6719 .Net: refactor : SummarizeConversation
  dotnet/src/Plugins/Plugins.Core/PromptFunctionConstants.cs
Labels: .NET

#6815 .Net: Examples with FrugalGPT techniques for LLM cost and performance improvements
  dotnet/samples/Concepts/Optimization/FrugalGPT.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#6630 .Net: Implementation for NopPromptTemplateFactory
  dotnet/src/SemanticKernel.Core/PromptTemplate/EchoPromptTemplate.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/EchoPromptTemplateFactory.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/EchoPromptTemplateTests.cs
Labels: .NET, kernel

#6416 .Net Simplify configuration by ServiceId on Multi Model Scenarios.
  dotnet/samples/Concepts/ChatCompletion/Connectors_WithMultipleLLMs.cs
  dotnet/src/Experimental/Orchestration.Flow/FlowOrchestrator.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelArguments.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/PromptTemplateConfig.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFactory.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/AI/PromptExecutionSettingsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelArgumentsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/OrderedAIServiceSelectorTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/PromptTemplateConfigTests.cs
Labels: .NET, kernel, kernel.core

#6566 .Net: Version 1.15.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#6853 .Net: Adapted broken link to KernelFunctionStrategies
  dotnet/samples/GettingStartedWithAgents/README.md
Labels: .NET, documentation

#6824 Python: Updates to user agent. Add unit tests.
  python/semantic_kernel/connectors/ai/open_ai/const.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_config_base.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/utils.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_runner.py
  python/semantic_kernel/connectors/telemetry.py
  python/semantic_kernel/const.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
  python/tests/unit/connectors/google_palm/services/test_palm_chat_completion.py
  python/tests/unit/connectors/google_palm/services/test_palm_text_completion.py
  python/tests/unit/connectors/google_palm/services/test_palm_text_embedding.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_completion.py
  python/tests/unit/connectors/open_ai/services/test_azure_text_embedding.py
  python/tests/unit/connectors/open_ai/services/test_openai_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_openai_text_completion.py
  python/tests/unit/core_plugins/test_sessions_python_plugin.py
  python/tests/unit/functions/test_kernel_plugins.py
  python/tests/unit/telemetry/test_user_agent.py
Labels: python, memory

#6693 ADR for Model-as-a-Service
  docs/decisions/0046-azure-model-as-a-service.md
Labels: PR: in progress, ai connector, documentation

#6894 .Net OpenAI SDK V2 - Phase 00 (Feature Branch)
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/ConceptsV2/ConceptsV2.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Connectors.OpenAIV2.UnitTests.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2/Connectors.OpenAIV2.csproj
  dotnet/src/IntegrationTestsV2/IntegrationTestsV2.csproj
Labels: .NET, kernel

#6895 .Net: Fix for HuggingFaceChatCompletionService incorrect modification of model id
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/Models/ChatCompletionRequest.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/ChatCompletion/HuggingFaceChatCompletionTests.cs
Labels: .NET, kernel

#6900 .Net: Empty projects for the new AzureOpenAI connector
  dotnet/SK-dotnet.sln
Labels: .NET

#6858 .Net Fix - OpenAIFilePurpose definitions and handling for OpenAIFileService
  .github/_typos.toml
  dotnet/samples/Concepts/Agents/OpenAIAssistant_FileService.cs
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.OpenAI/Files/OpenAIFilePurpose.cs
  dotnet/src/Connectors/Connectors.OpenAI/Files/OpenAIFileService.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIFileServiceTests.cs
  dotnet/src/IntegrationTests/TestData/test_content.txt
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
Labels: bug, PR: ready for review, .NET, kernel, ai connector, experimental, kernel.core

#6859 .Net: Python: Update multiple-results when streaming at a getting-started notebook.
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
Labels: python

#6898 .Net OpenAI SDK V2 - Phase 01 Embeddings + ClientCore (Feature Branch)
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Connectors.OpenAIV2.UnitTests.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/Models/AddHeaderRequestPolicyTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/Models/PipelineSynchronousPolicyTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/ClientResultExceptionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/text-embeddings-multiple-response.txt
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/text-embeddings-response.txt
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Utils/MockPipelineResponse.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Utils/MockResponseHeaders.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Connectors.OpenAIV2.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.Embeddings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/Models/AddHeaderRequestPolicy.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/Models/PipelineSynchronousPolicy.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/ClientResultExceptionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextEmbbedingGenerationService.cs
  dotnet/src/IntegrationTestsV2/.editorconfig
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAITextEmbeddingTests.cs
  dotnet/src/IntegrationTestsV2/IntegrationTestsV2.csproj
  dotnet/src/IntegrationTestsV2/TestSettings/OpenAIConfiguration.cs
Labels: .NET, kernel

#6650 .Net: Native functions with yaml file
  dotnet/samples/Concepts/Functions/MethodFunctions_Yaml.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/IntegrationTests/PromptTests.cs
Labels: .NET, kernel, documentation

#6906 .Net: Copy code related to AzureChatCompletionSeervice from Connectors.OpenAI to Connectors.AzureOpenAI
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/AzureOpenAITestHelper.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/AzureToolCallBehaviorTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/ChatHistoryExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Connectors.AzureOpenAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIFunctionToolCallTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIPluginCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIStreamingTextContentTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/RequestFailedExceptionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/FunctionCalling/AutoFunctionInvocationFilterTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/FunctionCalling/AzureOpenAIFunctionTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/FunctionCalling/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/MultipleHttpMessageHandlerStub.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_multiple_function_calls_test_response.json
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_single_function_call_test_response.json
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_streaming_multiple_function_calls_test_response.txt
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_streaming_single_function_call_test_response.txt
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_streaming_test_response.txt
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_test_response.json
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_with_data_streaming_test_response.txt
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/chat_completion_with_data_test_response.json
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/filters_multiple_function_calls_test_response.json
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/filters_streaming_multiple_function_calls_test_response.txt
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/text_completion_streaming_test_response.txt
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/TestData/text_completion_test_response.json
  dotnet/src/Connectors/Connectors.AzureOpenAI/AddHeaderRequestPolicy.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/AzureOpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/AzureToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/ChatCompletion/AzureOpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/ChatHistoryExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIFunction.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIFunctionToolCall.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIStreamingTextContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/RequestFailedExceptionExtensions.cs
Labels: .NET, kernel, ai connector

#6912 Java: Fix #6028
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettingsTest.java
Labels: java

#6923 .Net: Split redis and qdrant memory connector unit test projects from main unit test project.
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Redis/Connectors.Memory.Redis.csproj
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/Connectors.Qdrant.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantMemoryStoreTests2.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantMemoryStoreTests3.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorDbClientTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.Redis.UnitTests/Connectors.Redis.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
Labels: .NET, kernel, memory

#6907 .Net: Deprecate OpenAI plugins
  dotnet/samples/Concepts/Plugins/CreatePluginFromOpenAI_AzureKeyVault.cs
  dotnet/samples/Concepts/Plugins/CreatePluginFromOpenApiSpec_Github.cs
  dotnet/samples/Concepts/Plugins/CreatePluginFromOpenApiSpec_Klarna.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Functions/Functions.OpenApi/OpenAI/KernelOpenAIPluginExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIAuthenticateRequestAsyncCallback.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIAuthenticationConfig.cs
  dotnet/src/Functions/Functions.OpenApi/OpenAI/OpenAIFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenAI/KernelOpenAIPluginExtensionsTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Plugins/OpenApi/OpenApiPluginsTests.cs
  dotnet/src/IntegrationTests/Plugins/OpenApi/RepairServiceTests.cs
  dotnet/src/IntegrationTests/Plugins/OpenApi/instacart-service.yaml
  dotnet/src/IntegrationTests/Plugins/OpenApi/repair-service.json
  dotnet/src/IntegrationTests/Plugins/instacart-ai-plugin.json
Labels: .NET, kernel, openapi, documentation

#6931 Python: Bump Python version to 1.1.2 for a release.
  python/pyproject.toml
  python/samples/getting_started/00-getting-started.ipynb
  python/samples/getting_started/01-basic-loading-the-kernel.ipynb
  python/samples/getting_started/02-running-prompts-from-file.ipynb
  python/samples/getting_started/03-prompt-function-inline.ipynb
  python/samples/getting_started/04-kernel-arguments-chat.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-memory-and-embeddings.ipynb
  python/samples/getting_started/07-hugging-face-for-plugins.ipynb
  python/samples/getting_started/08-native-function-inline.ipynb
  python/samples/getting_started/09-groundedness-checking.ipynb
  python/samples/getting_started/10-multiple-results-per-prompt.ipynb
  python/samples/getting_started/11-streaming-completions.ipynb
  python/samples/getting_started/third_party/weaviate-persistent-memory.ipynb
Labels: python

#6664 ADR: OpenAI + AzureOpenAI Connector
  docs/decisions/0046-kernel-content-graduation.md
  docs/decisions/0047-azure-open-ai-connectors.md
Labels: documentation

#6927 .Net Agents - Fix function result handling
  dotnet/samples/GettingStartedWithAgents/Step1_Agent.cs
  dotnet/samples/GettingStartedWithAgents/Step2_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/Step3_Chat.cs
  dotnet/samples/GettingStartedWithAgents/Step4_KernelFunctionStrategies.cs
  dotnet/samples/GettingStartedWithAgents/Step5_JsonResult.cs
  dotnet/samples/GettingStartedWithAgents/Step6_DependencyInjection.cs
  dotnet/samples/GettingStartedWithAgents/Step7_Logging.cs
  dotnet/samples/GettingStartedWithAgents/Step8_OpenAIAssistant.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
Labels: PR: ready for review, .NET, experimental, agents, function_calling

#6742 Python: Azure Model-as-a-Service Python connector
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/azure_ai_inference/__init__.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/azure_ai_inference_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/azure_ai_inference_settings.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/__init__.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_base.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_text_embedding.py
  python/semantic_kernel/connectors/ai/google_palm/settings/google_palm_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/settings/open_ai_settings.py
  python/semantic_kernel/services/ai_service_client_base.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/unit/connectors/azure_ai_inference/conftest.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_chat_completion.py
  python/tests/unit/connectors/azure_ai_inference/services/test_azure_ai_inference_text_embedding.py
Labels: python

#6933 .Net Agents - Direct logger association with Agent
  dotnet/samples/GettingStartedWithAgents/Step7_Logging.cs
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/AggregatorAgent.cs
  dotnet/src/Agents/Abstractions/ChatHistoryChannel.cs
  dotnet/src/Agents/Abstractions/ChatHistoryKernelAgent.cs
  dotnet/src/Agents/Abstractions/IChatHistoryHandler.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/UnitTests/AgentChannelTests.cs
  dotnet/src/Agents/UnitTests/AgentChatTests.cs
  dotnet/src/Agents/UnitTests/AggregatorAgentTests.cs
  dotnet/src/Agents/UnitTests/ChatHistoryChannelTests.cs
  dotnet/src/Agents/UnitTests/Core/AgentGroupChatTests.cs
  dotnet/src/Agents/UnitTests/Core/ChatCompletionAgentTests.cs
Labels: .NET, PR: ready to merge, enhancement, agents

#6943 .Net: Added example with telemetry in Filters
  dotnet/samples/Concepts/Filtering/TelemetryWithFilters.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/InternalUtilities/samples/InternalUtilities/XunitLogger.cs
Labels: .NET, documentation

#6929 .Net: Added plugin selection example using vector search
  dotnet/samples/Concepts/Optimization/PluginSelection.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#6909 Python: Update DEV_SETUP.md with dependencies for tests
  python/DEV_SETUP.md
Labels: python, documentation

#6957 .Net Fix - Include role definition for each StreamingChatMessageContent
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
Labels: bug, .NET, kernel, ai connector

#6945 .Net: Bump Microsoft.Azure.Kusto.Data
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.Kusto/KustoMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Kusto/KustoMemoryStoreTests.cs
Labels: .NET, kernel, memory

#6951 .Net OpenAI V2 - Text to Image Service - Phase 02
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Connectors.OpenAIV2.UnitTests.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/KernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Extensions/ServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Services/OpenAITextToImageServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/TestData/text-to-image-response.txt
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.Embeddings.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.TextToImage.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Extensions/OpenAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextEmbbedingGenerationService.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Services/OpenAITextToImageService.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAITextEmbeddingTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/OpenAI/OpenAITextToImageTests.cs
  dotnet/src/InternalUtilities/test/MoqExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextToImage/ITextToImageService.cs
Labels: .NET, kernel, kernel.core

#6948 .Net: VectorStore: Add unit tests for mappers and adding dedicated options for mapper.
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreRecordMapperTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorRecordStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorRecordStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorRecordStoreTests.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/IVectorStoreRecordMapper.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/StorageToDataModelMapperOptions.cs
Labels: .NET, kernel, kernel.core, memory

#6970 .Net OpenAI V2 - Internal Utilities - Phase 03
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.OpenAIV2.UnitTests/Core/Models/PipelineSynchronousPolicyTests.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Connectors.OpenAIV2.csproj
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/Models/AddHeaderRequestPolicy.cs
  dotnet/src/Connectors/Connectors.OpenAIV2/Core/Models/PipelineSynchronousPolicy.cs
  dotnet/src/InternalUtilities/openai/OpenAIUtilities.props
  dotnet/src/InternalUtilities/openai/Policies/GeneratedActionPipelinePolicy.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
  dotnet/src/SemanticKernel.UnitTests/Utilities/OpenAI/GenericActionPipelinePolicyTests.cs
Labels: .NET, kernel

#6960 .Net: Dm/sqlserver/json
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerClient.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel, memory

#6965 .Net: Batch delete query optimization in Sqlite
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Database.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteMemoryStore.cs
Labels: .NET, kernel, memory

#6968 .Net: Add unit tests for AzureAISearch and Redis Vector Record Stores.
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorRecordStoreTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorRecordStoreTests.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
Labels: .NET, kernel

#6984 .Net: Migrate Azure Chat Completion Service to AzureOpenAI SDK v2
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/AzureOpenAITestHelper.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/AzureOpenAIToolCallBehaviorTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIChatMessageContentTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIFunctionToolCallTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureOpenAIPluginCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/ClientResultExceptionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/RequestFailedExceptionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/FunctionCalling/AutoFunctionInvocationFilterTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/FunctionCalling/AzureOpenAIFunctionTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/FunctionCalling/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/AddHeaderRequestPolicy.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/AzureOpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/AzureOpenAIToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/ChatCompletion/AzureOpenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/ClientResultExceptionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIFunction.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIFunctionToolCall.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureOpenAIStreamingChatMessageContent.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.cs
Labels: .NET, kernel

#6990 .Net - Convert message `AuthorName` whitespace or empty string assignment to `null`
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingChatMessageContent.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ChatMessageContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/StreamingChatMessageContentTests.cs
Labels: bug, PR: ready for review, .NET, kernel

#6992 .Net: VectorStore: Adding unit tests for the Qdrant vector record store.
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Qdrant/MockableQdrantClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorRecordStore.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorRecordStoreTests.cs
Labels: .NET, kernel, memory

#6950 Python: Catch correct error for does_collection_exist
  python/semantic_kernel/connectors/memory/qdrant/qdrant_memory_store.py
Labels: python, memory

#7003 .Net: Extension methods & integration tests for AzureOpenAIChatCompletionService v2
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/ChatHistoryExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/ClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletionTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_FunctionCallingTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_NonStreamingTests.cs
  dotnet/src/IntegrationTestsV2/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_StreamingTests.cs
  dotnet/src/IntegrationTestsV2/IntegrationTestsV2.csproj
  dotnet/src/IntegrationTestsV2/TestHelpers.cs
  dotnet/src/IntegrationTestsV2/TestSettings/AzureOpenAIConfiguration.cs
Labels: .NET, kernel

#6982 Python: slight improvements in kernel and function result content, sample of local function calling with Nexus Raven
  python/samples/concepts/auto_function_calling/nexus_raven.py
  python/semantic_kernel/contents/chat_history.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/function_result_content.py
  python/semantic_kernel/core_plugins/math_plugin.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
Labels: python

#7005 Python: restructured pyproject and removed some dependencies
  python/poetry.lock
  python/pyproject.toml
Labels: python
