Repository microsoft/semantic-kernel, pull requests merged in 2024-03, with the labels that each got.

#5246 .Net - Fix Agent HTTP Request Header
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.cs
Labels: bug, .NET, experimental, agents

#5251 Python: updated python tests with cache and added coverage
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-test-coverage.yaml
  .github/workflows/python-unit-tests.yml
  python/poetry.toml
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
Labels: python

#5244 Java: fix javadoc in orchestration package
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ToolCallBehavior.java
Labels: java

#5235 Python: Migrate and update docs samples
  python/samples/documentation_examples/.env.example
  python/samples/documentation_examples/README.md
  python/samples/documentation_examples/ai_services.py
  python/samples/documentation_examples/configuring_prompts.py
  python/samples/documentation_examples/creating_functions.py
  python/samples/documentation_examples/evaluate_with_prompt_flow.py
  python/samples/documentation_examples/functions_within_prompts.py
  python/samples/documentation_examples/improved_evaluate_with_prompt_flow.py
  python/samples/documentation_examples/planner.py
  python/samples/documentation_examples/plugin.py
  python/samples/documentation_examples/plugins/MathPlugin/native_function.py
  python/samples/documentation_examples/plugins/OrchestratorPlugin/GetIntent/config.json
  python/samples/documentation_examples/plugins/OrchestratorPlugin/GetIntent/skprompt.txt
  python/samples/documentation_examples/plugins/WriterPlugin/ShortPoem/config.json
  python/samples/documentation_examples/plugins/WriterPlugin/ShortPoem/skprompt.txt
  python/samples/documentation_examples/plugins/prompt_flow_helpers/.promptflow/flow.layout.json
  python/samples/documentation_examples/plugins/prompt_flow_helpers/perform_math/.gitignore
  python/samples/documentation_examples/plugins/prompt_flow_helpers/perform_math/.promptflow/flow.tools.json
  python/samples/documentation_examples/plugins/prompt_flow_helpers/perform_math/data.jsonl
  python/samples/documentation_examples/plugins/prompt_flow_helpers/perform_math/flow.dag.yaml
  python/samples/documentation_examples/plugins/prompt_flow_helpers/perform_math/math_planner.py
  python/samples/documentation_examples/plugins/prompt_flow_helpers/perform_math/plugins/MathPlugin/Math.py
  python/samples/documentation_examples/plugins/prompt_flow_helpers/perform_math/requirements.txt
  python/samples/documentation_examples/plugins/prompts/chat/config.json
  python/samples/documentation_examples/plugins/prompts/chat/skprompt.txt
  python/samples/documentation_examples/prompts.py
  python/samples/documentation_examples/serializing_prompts.py
  python/samples/documentation_examples/service_configurator.py
  python/samples/documentation_examples/templates.py
  python/samples/documentation_examples/using_the_kernel.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/planners/plan.py
  python/semantic_kernel/template_engine/blocks/var_block.py
Labels: python, documentation

#5265 .Net: Gemini - Added more integration tests
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/EmbeddingGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/Gemini/GeminiChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/Gemini/GeminiTextGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/TestsBase.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/TestData/test_image_001.jpg
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#5260 Python: Complex Type support for Method functions
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/functions/kernel_parameter_metadata.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner.py
  python/semantic_kernel/prompt_template/input_variable.py
  python/semantic_kernel/prompt_template/prompt_template_config.py
  python/tests/unit/functions/test_kernel_function_decorators.py
  python/tests/unit/functions/test_kernel_function_from_method.py
  python/tests/unit/functions/test_kernel_parameter_metadata.py
  python/tests/unit/prompt_template/test_prompt_templates.py
  python/tests/unit/test_serialization.py
Labels: python

#5282 .Net: Added ConfigureAwait(false) to asyncReference in InvokeStreamingCoreAsync
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
Labels: .NET

#5275 .Net: Update classes so namespaces are consistent and match project location
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Client/TextGenerationStreamJsonParserTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/HuggingFaceKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/HuggingFacePromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/HuggingFaceServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceImageToTextTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/TextGeneration/TextGenerationStreamResponseTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/IStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/ImageToTextGenerationResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/TextEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/TextEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/TextGenerationRequest.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/TextGenerationResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/TextGenerationStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/TextGenerationStreamResponse.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFacePromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceImageToTextService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceTextGenerationService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/TextGeneration/HuggingFaceTextGenerationService.cs
  dotnet/src/Connectors/Connectors.HuggingFace/TextGeneration/TextGenerationStreamMetadata.cs
Labels: .NET, kernel

#5281 .Net: Gemini - Add GeminiStreamResponse unit test
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/GeminiStreamResponseTests.cs
Labels: .NET, kernel

#5222 Python: Remove MotorCommandCursor in import typing
  python/semantic_kernel/connectors/memory/mongodb_atlas/mongodb_atlas_memory_store.py
Labels: python, memory

#5268 Java: add ToolCallBehaviour test
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatMessageContent.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIFunctionToolCall.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/ToolCallBehaviourTest.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example57_KernelHooks.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelPluginCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/CharacterVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionInvocation.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResult.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/ToolCallBehavior.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionArguments.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
Labels: java

#5291 Python: Bump pyproject.toml to 0.9.0.beta1 for beta release. Match notebooks.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-prompt-function-inline.ipynb
  python/notebooks/04-kernel-arguments-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
Labels: python

#5293 .Net Gemini - vertex update
  dotnet/samples/KernelSyntaxExamples/Example85_GeminiTextGeneration.cs
  dotnet/samples/KernelSyntaxExamples/Example86_GeminiChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example87_GeminiVision.cs
  dotnet/samples/KernelSyntaxExamples/README.md
  dotnet/samples/KernelSyntaxExamples/TestConfiguration.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/ChatCompletion/VertexAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/VertexAI/VertexAIGeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/TextGeneration/VertexAIGeminiTextGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/TestsBase.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel, documentation

#5261 Java: Rudimentary HandleBarsPromptTemplateTest
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplateTest.java
Labels: java

#5308 Python: Fix broken link
  python/samples/documentation_examples/README.md
Labels: python, documentation

#5294 .Net: [Agent] Fixed an issue with retrieving an existing OpenAI assistant given its ID, leading to creation of a duplicate assistant.
  dotnet/src/Experimental/Agents/AgentBuilder.cs
Labels: good first issue, PR: ready for review, .NET, experimental, agents

#5271 .Net: Ollama client refactor
  dotnet/src/Connectors/Connectors.Ollama/ChatCompletion/OllamaChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/IEndpointProvider.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/IHttpRequestFactory.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaClient.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaEndpointProvider.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/OllamaHttpRequestFactory.cs
  dotnet/src/Connectors/Connectors.Ollama/TextEmbedding/OllamaTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Ollama/TextGeneration/OllamaTextGenerationService.cs
Labels: .NET, kernel

#5287 Python: updated telemetry key names
  python/.coveragerc
  python/semantic_kernel/connectors/telemetry.py
Labels: python

#5239 .Net: Marked Experimental.Orchestration.Flow package as alpha
  dotnet/src/Experimental/Orchestration.Flow/Experimental.Orchestration.Flow.csproj
Labels: .NET

#5229 .Net: Removing dependency on BinaryData class from content classes
  dotnet/samples/KernelSyntaxExamples/Example80_OpenAIFiles.cs
  dotnet/samples/KernelSyntaxExamples/Example85_ImageToText.cs
  dotnet/samples/KernelSyntaxExamples/Example86_ChatHistorySerialization.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceImageToTextTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Client/HuggingFaceClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/AzureOpenAITextToAudioClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/OpenAITextToAudioClient.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToAudio/AzureOpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TextToAudio/OpenAITextToAudioServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextToAudioTests.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/BinaryContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/ImageContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/KernelContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/TextContent.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
  dotnet/src/SemanticKernel.UnitTests/Contents/ChatMessageContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ImageContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel, kernel.core

#5266 .Net: minor change so that inputs are not skipped in Planner example
  dotnet/samples/DocumentationExamples/Planner.cs
Labels: .NET

#5301 .Net: Fix serialization of OpenAIChatMessageContent type
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ToolCallBehavior.cs
  dotnet/src/IntegrationTests/BaseIntegrationTest.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
Labels: .NET, kernel

#5274 .Net: Initial check-in of the MistralAI connector
  dotnet/SK-dotnet.sln
  dotnet/docs/EXPERIMENTS.md
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/.editorconfig
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Connectors.MistralAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Connectors.MistralAI.csproj
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAITextEmbeddingGenerationService.cs
Labels: .NET, kernel, documentation

#5267 Python: Support Auto tool calling for OpenAI models
  python/samples/documentation_examples/README.md
  python/samples/documentation_examples/planner.py
  python/samples/documentation_examples/serializing_prompts.py
  python/samples/documentation_examples/service_configurator.py
  python/samples/kernel-syntax-examples/azure_chat_gpt_with_data_api_function_calling.py
  python/samples/kernel-syntax-examples/chat_gpt_api_function_calling.py
  python/samples/kernel-syntax-examples/openai_function_calling.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/google_palm/services/gp_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/contents/open_ai_streaming_chat_message_content.py
  python/semantic_kernel/connectors/ai/open_ai/contents/tool_calls.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/tool_call_behavior.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/connectors/ai/prompt_execution_settings.py
  python/semantic_kernel/contents/chat_history.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/prompt_template/prompt_template_config.py
  python/semantic_kernel/utils/chat.py
  python/tests/integration/completions/test_oai_chat_service.py
  python/tests/integration/connectors/memory/test_postgres.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
  python/tests/unit/functions/test_kernel_function_from_prompt.py
Labels: python, documentation

#4940 .Net: Add home automation example to demonstrate how to use DI in a real app
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/HomeAutomation/.vscode/launch.json
  dotnet/samples/HomeAutomation/.vscode/tasks.json
  dotnet/samples/HomeAutomation/HomeAutomation.csproj
  dotnet/samples/HomeAutomation/Options/AzureOpenAI.cs
  dotnet/samples/HomeAutomation/Options/OpenAIOptions.cs
  dotnet/samples/HomeAutomation/Plugins/MyAlarmPlugin.cs
  dotnet/samples/HomeAutomation/Plugins/MyLightPlugin.cs
  dotnet/samples/HomeAutomation/Plugins/MyTimePlugin.cs
  dotnet/samples/HomeAutomation/Program.cs
  dotnet/samples/HomeAutomation/Properties/launchSettings.json
  dotnet/samples/HomeAutomation/README.md
  dotnet/samples/HomeAutomation/Worker.cs
  dotnet/samples/HomeAutomation/appsettings.Development.json
  dotnet/samples/HomeAutomation/appsettings.json
Labels: .NET, documentation

#5328 Python: Remove the service_id arg from the import plugin from prompt directory. Fix other notebooks. Formatting fixes.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-prompt-function-inline.ipynb
  python/notebooks/04-kernel-arguments-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/third_party/weaviate-persistent-memory.ipynb
  python/semantic_kernel/connectors/ai/open_ai/contents/function_call.py
  python/semantic_kernel/connectors/ai/open_ai/services/tool_call_behavior.py
  python/semantic_kernel/connectors/memory/postgres/postgres_memory_store.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_memory_store.py
  python/semantic_kernel/planners/basic_planner.py
  python/semantic_kernel/text/text_chunker.py
Labels: python, memory

#5318 Python: Add function name and plugin name to invoke prompt. Add unit tests.
  python/samples/kernel-syntax-examples/rag_with_text_memory_plugin.py
  python/semantic_kernel/kernel.py
  python/tests/unit/kernel/test_prompt_create_methods.py
Labels: python

#5312 Python: Fix action planner
  python/.coveragerc
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner.py
Labels: python

#5336 Python: combined stream and non-stream HF tests
  python/tests/unit/connectors/hugging_face/test_hf_local_text_completions.py
Labels: python

#5325 .Net: Initial check-in of chat completion implementation
  .vscode/settings.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_response.json
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/embeddings_response.json
  dotnet/src/Connectors/Connectors.MistralAI/Client/ChatCompletionRequest.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/ChatCompletionResponse.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatChoice.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatMessage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralEmbedding.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralResponseBase.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralUsage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/TextEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/TextEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAITextEmbeddingGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/TextEmbedding/MistralAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/README.md
Labels: .NET, kernel, documentation

#5110 .Net: Add File Id Reference Handling to Experimental Agent Package so that User Messages can be related to file Ids in OpenAI Storage
  dotnet/samples/KernelSyntaxExamples/Example75_AgentTools.cs
  dotnet/src/Experimental/Agents.UnitTests/Extensions/OpenAIRestExtensions.MessagesTests.cs
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.Messages.cs
  dotnet/src/Experimental/Agents/IAgentExtensions.cs
  dotnet/src/Experimental/Agents/IAgentThread.cs
  dotnet/src/Experimental/Agents/Internal/Agent.cs
  dotnet/src/Experimental/Agents/Internal/ChatThread.cs
Labels: .NET

#5341 Python: Update kernel tests
  python/semantic_kernel/functions/kernel_plugin.py
  python/semantic_kernel/kernel.py
  python/tests/assets/test_native_plugins/TestNativePlugin/native_function.py
  python/tests/assets/test_native_plugins/TestNativePluginNoClass/native_function.py
  python/tests/assets/test_plugins/TestPlugin/TestFunction/config.json
  python/tests/assets/test_plugins/TestPlugin/TestFunction/skprompt.txt
  python/tests/assets/test_plugins/TestPlugin/TestNoFunction/something_else.txt
  python/tests/conftest.py
  python/tests/integration/completions/conftest.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
  python/tests/integration/embeddings/test_azure_oai_embedding_service.py
  python/tests/integration/embeddings/test_gp_embedding_service.py
  python/tests/integration/embeddings/test_oai_embedding_service.py
  python/tests/unit/contents/test_chat_history.py
  python/tests/unit/functions/test_kernel_plugin_collection.py
  python/tests/unit/functions/test_kernel_plugins.py
  python/tests/unit/kernel/test_import_plugins.py
  python/tests/unit/kernel/test_kernel.py
  python/tests/unit/kernel/test_kernel_invoke_filters.py
  python/tests/unit/kernel/test_kernel_service_management.py
  python/tests/unit/kernel/test_prompt_create_methods.py
  python/tests/unit/kernel/test_register_functions.py
  python/tests/unit/services/test_ai_service_client_base.py
Labels: python

#5349 .Net Gemini enable SSE
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/GoogleAI/GoogleAIEndpointProvider.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/VertexAI/VertexAIEndpointProvider.cs
Labels: .NET, kernel

#5348 .Net: Gemini/embedding sample
  dotnet/samples/KernelSyntaxExamples/Example95_GeminiTextGeneration.cs
  dotnet/samples/KernelSyntaxExamples/Example96_GeminiChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example97_GeminiVision.cs
  dotnet/samples/KernelSyntaxExamples/Example99_GeminiEmbeddingGeneration.cs
Labels: .NET

#5351 .Net: Fix samples numbering
  dotnet/samples/KernelSyntaxExamples/Example86_ImageToText.cs
  dotnet/samples/KernelSyntaxExamples/Example87_ChatHistorySerialization.cs
Labels: .NET

#5373 .Net: Update model IDs and location in testsettings.json
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#5375 .Net: Gemini/restructure
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiClientChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiClientChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiClientCountingTokensTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiClientTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiClientTextStreamingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/GeminiPartTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/GoogleAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/GoogleAIGeminiTextGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/GoogleAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/VertexAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/VertexAIGeminiTextGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/VertexAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiContent.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiPart.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiResponse.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiResponseCandidate.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/GoogleAI/GoogleAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Interfaces/IEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/VertexAI/VertexAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/GoogleAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/GoogleAIGeminiTextGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/GoogleAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAIGeminiTextGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAITextEmbeddingGenerationService.cs
Labels: .NET, kernel

#5335 .Net: WIP: Ollama Connector Restructuring
  dotnet/samples/KernelSyntaxExamples/Example80_OllamaTextGeneration.cs
  dotnet/samples/KernelSyntaxExamples/Example81_OllamaChatCompletion.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/IStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaChatRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaChatResponse.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaClient.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaEmbeddingResponse.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaResponseBase.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaTextRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaTextResponse.cs
  dotnet/src/Connectors/Connectors.Ollama/Core/IOllamaClient.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaMetadata.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextGenerationService.cs
Labels: .NET, kernel

#5377 .Net: Update Azure.AI.OpenAI to 1.0.0-beta.14
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/AzureOpenAITextToImageService.cs
Labels: .NET, kernel

#5376 .Net: Respect Kernel plugin changes made during function auto-invocation
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
Labels: .NET, kernel

#5342 Java: feat(): add PostChatCompletionEvent
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example57_KernelHooks.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/KernelHook.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/KernelHooks.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/hooks/PostChatCompletionEvent.java
Labels: java

#3430 .Net: ADR for supporting more type info in FunctionView
  docs/decisions/0035-skfunction-type-descriptions.md
Labels: docs and tests, documentation

#5391 Python: Properly handle exceptions in the kernel using the exception metadata
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
  python/tests/unit/functions/test_kernel_function_from_method.py
  python/tests/unit/functions/test_kernel_function_from_prompt.py
Labels: python

#5369 .Net: Update Example72_AgentCollaboration.cs
  dotnet/samples/KernelSyntaxExamples/Example72_AgentCollaboration.cs
Labels: .NET

#5388 .Net: Fix for DALL-E endpoint name in examples
  dotnet/samples/KernelSyntaxExamples/Example18_DallE.cs
  dotnet/samples/KernelSyntaxExamples/README.md
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/AzureOpenAITextToImageService.cs
Labels: .NET, kernel, documentation

#5197 .NET: ADR describing the Semantic Kernel versioning approach
  docs/decisions/0036-semantic-kernel-release-versioning.md
Labels: documentation

#5417 Python: Use the correct exception key for handling streaming exceptions in the kernel
  python/semantic_kernel/kernel.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#5413 Python: add missing init from prompt_template folder
  python/semantic_kernel/prompt_template/__init__.py
Labels: python

#5416 .Net: GoogleVertexAI - memory builder
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/GoogleAIMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/VertexAIMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/GoogleAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIMemoryBuilderExtensions.cs
Labels: .NET, kernel

#5415 .Net: Gemini/functions update2
  dotnet/samples/KernelSyntaxExamples/Example98_GeminiFunctionCalling.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatGenerationFunctionCallingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatStreamingFunctionCallingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/GoogleAI/GoogleAIEmbeddingRequestTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/TestData/chat_finish_reason_other_response.json
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/TestData/chat_stream_finish_reason_other_response.json
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiChatMessageContent.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiContent.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiFunctionToolCall.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiFunctionToolResult.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiPart.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiStreamingChatMessageContent.cs
Labels: .NET, kernel

#5191 Python: add py3.12 to unit tests
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-test-coverage.yaml
  .github/workflows/python-unit-tests.yml
  python/.conf/.pre-commit-config.yaml
  python/.vscode/tasks.json
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/memory/azure_cognitive_search/azure_cognitive_search_memory_store.py
  python/semantic_kernel/connectors/memory/azure_cognitive_search/utils.py
  python/semantic_kernel/connectors/memory/chroma/chroma_memory_store.py
  python/semantic_kernel/connectors/memory/milvus/milvus_memory_store.py
  python/semantic_kernel/connectors/openapi/kernel_openapi.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/kernel.py
  python/tests/integration/connectors/memory/conftest.py
  python/tests/integration/connectors/memory/test_astradb.py
  python/tests/integration/connectors/memory/test_azure_cognitive_search.py
  python/tests/integration/connectors/memory/test_chroma.py
  python/tests/integration/connectors/memory/test_milvus.py
  python/tests/integration/connectors/memory/test_postgres.py
  python/tests/integration/connectors/memory/test_qdrant_memory_store.py
  python/tests/integration/connectors/memory/test_redis.py
  python/tests/unit/core_plugins/test_wait_plugin.py
  python/tests/unit/functions/test_kernel_function_from_method.py
Labels: python, memory

#5443 .Net VertexAI - bearer provider
  dotnet/samples/KernelSyntaxExamples/Example94_GeminiGetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example95_GeminiTextGeneration.cs
  dotnet/samples/KernelSyntaxExamples/Example96_GeminiChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example97_GeminiVision.cs
  dotnet/samples/KernelSyntaxExamples/Example98_GeminiFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example99_GeminiEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiCountingTokensTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/VertexAI/VertexAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/GoogleAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/VertexAIMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/VertexAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/VertexAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/VertexAIGeminiTextGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/VertexAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Clients/GeminiTokenCounterClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/VertexAI/VertexAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAIGeminiTextGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAITextEmbeddingGenerationService.cs
Labels: .NET, kernel

#5382 Java: some unit tests for semanticfunctions and resulting code changes
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/KernelHooksTest.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example57_KernelHooks.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example58_ConfigureExecutionSettings.java
  java/semantickernel-api/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelReturnParameterMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/InputVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionYaml.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelParameterMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/OutputVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettingsTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethodTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionYamlTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfigTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateFactoryTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/services/AIServiceSelectorTest.java
Labels: java

#5440 Python: Add extras and minor package updates
  .github/workflows/python-build-wheel.yml
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-lint.yml
  .github/workflows/python-unit-tests.yml
  python/.conf/.pre-commit-config.yaml
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/connectors/openapi/kernel_openapi.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/kernel.py
Labels: python

#5350 Python: Introduce the function calling stepwise planner
  python/notebooks/03-prompt-function-inline.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/third_party/weaviate-persistent-memory.ipynb
  python/samples/kernel-syntax-examples/function_calling_stepwise_planner.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/functions/kernel_plugin_collection.py
  python/semantic_kernel/planners/__init__.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/__init__.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner_options.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner_result.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/generate_plan.yaml
  python/semantic_kernel/planners/function_calling_stepwise_planner/step_prompt.txt
  python/semantic_kernel/planners/planner_extensions.py
  python/semantic_kernel/planners/planner_options.py
  python/tests/integration/completions/test_azure_oai_chat_service_extensions.py
  python/tests/integration/planning/function_calling_stepwise_planner/test_int_function_calling_stepwise_planner.py
  python/tests/unit/kernel/test_kernel.py
  python/tests/unit/kernel/test_register_functions.py
  python/tests/unit/planners/function_calling_stepwise_planner/test_function_calling_stepwise_planner_options.py
  python/tests/unit/planners/function_calling_stepwise_planner/test_unit_function_calling_stepwise_planner.py
Labels: python

#5450 .Net: Update to version 1.6.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#5439 Python: Add missing argument
  python/notebooks/05-using-the-planner.ipynb
Labels: python

#5237 Python: Fixed unnecessary slashes in URLs
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
Labels: python

#5458 .Net: Version 1.6.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#5459 Python: replace py test coverage yml. remove unneeded requirements.txt file from sample plugin
  .github/workflows/python-test-coverage.yml
  python/samples/documentation_examples/plugins/prompt_flow_helpers/perform_math/requirements.txt
Labels: python

#5460 .Net Gemini comments adjustment
  dotnet/samples/KernelSyntaxExamples/Example94_GeminiGetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example95_GeminiTextGeneration.cs
  dotnet/samples/KernelSyntaxExamples/Example96_GeminiChatCompletion.cs
  dotnet/samples/KernelSyntaxExamples/Example97_GeminiVision.cs
  dotnet/samples/KernelSyntaxExamples/Example98_GeminiFunctionCalling.cs
  dotnet/samples/KernelSyntaxExamples/Example99_GeminiEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAIGeminiTextGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAITextEmbeddingGenerationService.cs
Labels: .NET, kernel

#5455 Python: Pass kernel args to tool calls
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/tests/unit/connectors/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/open_ai/services/test_open_ai_chat_completion_base.py
Labels: python

#5462 Python: Bump python version to 0.9.2b1 for release.
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-prompt-function-inline.ipynb
  python/notebooks/04-kernel-arguments-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
Labels: python

#5464 .Net: Gemini/update1
  dotnet/samples/KernelSyntaxExamples/Example94_GeminiGetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example95_GeminiTextGeneration.cs
  dotnet/samples/KernelSyntaxExamples/Example99_GeminiEmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Clients/GeminiChatCompletionClient.cs
Labels: .NET, kernel

#5406 Python: convert null descriptions to empty str in basic planner
  python/semantic_kernel/planners/basic_planner.py
Labels: python

#5402 Python: Example notebook incorrect deployment name definition
  python/notebooks/08-native-function-inline.ipynb
Labels: python

#5468 .Net: Downgrading version of JsonSchema.Net.Generation package to resolve dependency conflict
  dotnet/Directory.Packages.props
Labels: .NET

#5472 .Net: Bump to version 1.6.2
  dotnet/nuget/nuget-package.props
Labels: .NET

#5466 Python: Handlebars template support
  python/poetry.lock
  python/pyproject.toml
  python/samples/kernel-syntax-examples/azure_chat_gpt_api_handlebars.py
  python/semantic_kernel/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/utils.py
  python/semantic_kernel/exceptions/planner_exceptions.py
  python/semantic_kernel/exceptions/template_engine_exceptions.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/functions/kernel_function_metadata.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/planners/planner_extensions.py
  python/semantic_kernel/planners/sequential_planner/Plugins/SequentialPlanning/skprompt.txt
  python/semantic_kernel/planners/sequential_planner/sequential_planner.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_extensions.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_parser.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner.py
  python/semantic_kernel/prompt_template/__init__.py
  python/semantic_kernel/prompt_template/const.py
  python/semantic_kernel/prompt_template/handlebars_prompt_template.py
  python/semantic_kernel/prompt_template/kernel_prompt_template.py
  python/semantic_kernel/prompt_template/prompt_template_base.py
  python/semantic_kernel/prompt_template/prompt_template_config.py
  python/semantic_kernel/prompt_template/utils/__init__.py
  python/semantic_kernel/prompt_template/utils/handlebars_function_helpers.py
  python/semantic_kernel/prompt_template/utils/handlebars_system_helpers.py
  python/tests/assets/test_plugins/TestPlugin/TestFunctionHandlebars/config.json
  python/tests/assets/test_plugins/TestPlugin/TestFunctionHandlebars/skprompt.txt
  python/tests/integration/planning/sequential_planner/test_sequential_plan_parser.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
  python/tests/unit/kernel/test_kernel.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_parser.py
  python/tests/unit/prompt_template/semantic-kernel-tests.txt
  python/tests/unit/prompt_template/test_handlebars_prompt_template.py
  python/tests/unit/prompt_template/test_handlebars_prompt_template_e2e.py
  python/tests/unit/prompt_template/test_kernel_prompt_template.py
  python/tests/unit/prompt_template/test_prompt_template_e2e.py
  python/tests/unit/prompt_template/test_prompt_templates.py
Labels: python

#5477 Python: planner love
  python/notebooks/05-using-the-planner.ipynb
  python/semantic_kernel/kernel.py
  python/semantic_kernel/planners/basic_planner.py
  python/semantic_kernel/planners/plan.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_parser.py
  python/semantic_kernel/planners/stepwise_planner/Plugins/StepwiseStep/skprompt.txt
  python/semantic_kernel/planners/stepwise_planner/__init__.py
  python/semantic_kernel/planners/stepwise_planner/stepwise_planner.py
  python/tests/integration/planning/sequential_planner/test_sequential_plan_parser.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_parser.py
  samples/plugins/WriterPlugin/Brainstorm/skprompt.txt
Labels: python, samples

#5475 .Net: Gemini - Async stream parser, read-only tool attempts and minor fixes
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatGenerationFunctionCallingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatStreamingFunctionCallingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiChatStreamingTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/Clients/GeminiCountingTokensTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/Gemini/GeminiStreamResponseTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/StreamJsonParserTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/VertexAI/VertexAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/VertexAIMemoryBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/VertexAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/VertexAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/VertexAIGeminiTextGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Services/VertexAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Clients/GeminiTokenCounterClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiFinishReason.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiMetadata.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiSafetyRating.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiSafetySetting.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/GoogleAI/GoogleAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/StreamJsonParser.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/VertexAI/VertexAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/VertexAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAIGeminiChatCompletionService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAIGeminiTextGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Services/VertexAITextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/ToolCallBehavior.cs
Labels: .NET, kernel

#5117 .Net: ADR for audio abstraction and implementation renaming
  docs/decisions/0037-audio-naming.md
Labels: documentation

#5481 .Net - Fix agent function invocation and examples
  dotnet/samples/KernelSyntaxExamples/Example72_AgentCollaboration.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Experimental/Agents/IChatMessage.cs
  dotnet/src/Experimental/Agents/Internal/Agent.cs
Labels: bug, PR: ready for review, .NET, PR: regression fix, experimental, agents

#5480 .Net: Update namespace in Gemini connector files
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/GeminiKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Extensions/GeminiPluginCollectionExtensions.cs
Labels: .NET, kernel

#5486 .Net - Expose Agent Thread Messages
  dotnet/src/Experimental/Agents.UnitTests/Integration/ThreadHarness.cs
  dotnet/src/Experimental/Agents.UnitTests/MockExtensions.cs
  dotnet/src/Experimental/Agents/Extensions/OpenAIRestExtensions.Messages.cs
  dotnet/src/Experimental/Agents/IAgentThread.cs
  dotnet/src/Experimental/Agents/Internal/ChatThread.cs
Labels: bug, PR: ready for review, .NET, agents

#5484 .Net HuggingFace Image to Text Sample Windows Forms Application
  .vscode/launch.json
  dotnet/SK-dotnet.sln
  dotnet/samples/HuggingFaceImageTextExample/FormMain.Designer.cs
  dotnet/samples/HuggingFaceImageTextExample/FormMain.cs
  dotnet/samples/HuggingFaceImageTextExample/FormMain.resx
  dotnet/samples/HuggingFaceImageTextExample/HuggingFaceImageTextExample.csproj
  dotnet/samples/HuggingFaceImageTextExample/Program.cs
  dotnet/samples/HuggingFaceImageTextExample/README.md
Labels: PR: ready for review, .NET, documentation

#5422 .Net: Create clone of KernelFunction when it is added to a KernelPlugin
  docs/decisions/0038-set_plugin_name_in_metadata.md
  dotnet/samples/KernelSyntaxExamples/Example69_MutableKernelPlugin.cs
  dotnet/samples/KernelSyntaxExamples/Example76_Filters.cs
  dotnet/samples/KernelSyntaxExamples/Example79_ChatCompletionAgent.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AzureSdk/OpenAIPluginCollectionExtensionsTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPlugin.cs
  dotnet/src/SemanticKernel.Core/Functions/DefaultKernelPlugin.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
Labels: .NET, kernel, kernel.core, documentation

#5483 Python: support Jinja2 templating
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/third_party/weaviate-persistent-memory.ipynb
  python/poetry.lock
  python/pyproject.toml
  python/samples/kernel-syntax-examples/azure_chat_gpt_api_jinja2.py
  python/semantic_kernel/exceptions/template_engine_exceptions.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/prompt_template/__init__.py
  python/semantic_kernel/prompt_template/const.py
  python/semantic_kernel/prompt_template/handlebars_prompt_template.py
  python/semantic_kernel/prompt_template/jinja2_prompt_template.py
  python/semantic_kernel/prompt_template/utils/__init__.py
  python/semantic_kernel/prompt_template/utils/handlebars_function_helpers.py
  python/semantic_kernel/prompt_template/utils/jinja2_system_helpers.py
  python/semantic_kernel/prompt_template/utils/template_function_helpers.py
  python/tests/unit/prompt_template/test_handlebars_prompt_template.py
  python/tests/unit/prompt_template/test_jinja2_prompt_template.py
  python/tests/unit/prompt_template/test_jinja2_prompt_template_e2e.py
Labels: python

#5448 Java: Add example of handlebars subexpressions
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatMessageContent.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatResponse.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIFunction.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIFunctionToolCall.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/KernelHooksTest.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example09_FunctionTypes.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example57_KernelHooks.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example58_ConfigureExecutionSettings.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/java/FunctionsHandlebars_Example.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/EmbeddedResourceLoader.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/DefaultPromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResult.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettings.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelReturnParameterMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/InputVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunction.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionArguments.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromPrompt.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionYaml.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelParameterMetadata.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/MethodDetails.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/OutputVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfig.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/implementation/EmbeddedResourceLoaderTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/orchestration/PromptExecutionSettingsTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethodTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionYamlTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateConfigTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/PromptTemplateFactoryTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/services/AIServiceSelectorTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplateTest.java
Labels: java

#5498 Java: Add KernelPluginFactoryTest
  java/semantickernel-api/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/EmbeddedResourceLoader.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/annotations/DefineKernelFunction.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/plugin/KernelPluginFactoryTest.java
  java/semantickernel-api/src/test/resources/Plugins/ExamplePlugins/ExampleFunction/config.json
  java/semantickernel-api/src/test/resources/Plugins/ExamplePlugins/ExampleFunction/skprompt.txt
Labels: java

#5492 .Net: Sample image to text - Small fix
  dotnet/samples/HuggingFaceImageTextExample/FormMain.cs
  dotnet/samples/HuggingFaceImageTextExample/README.md
Labels: .NET, documentation

#5488 .Net - Fix Open AI Agent Run State Processing
  dotnet/src/Experimental/Agents/Internal/ChatRun.cs
Labels: bug, PR: ready for review, .NET, experimental, release blocker, agents

#5499 .Net Gemini - Comments fix & parser refactor
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Core/StreamJsonParserTests.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Clients/GeminiTextGenerationClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/Clients/GeminiTokenCounterClient.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiContent.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiFunction.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/Gemini/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.GoogleVertexAI/Core/StreamJsonParser.cs
Labels: .NET, kernel

#5473 .Net: Set baseline to 1.6.2
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel.core

#5479 ADR Updated Completion Service Selection Strategy
  docs/decisions/0015-completion-service-selection.md
  docs/decisions/0038-completion-service-selection.md
Labels: documentation

#5519 .Net: Use state for the tokenizer/encoding for all examples with a tokencount
  dotnet/samples/KernelSyntaxExamples/Example55_TextChunker.cs
Labels: .NET

#5549 .Net: Update test assertions in GeminiPluginCollectionExtensionsTests
  dotnet/src/Connectors/Connectors.GoogleVertexAI.UnitTests/Extensions/GeminiPluginCollectionExtensionsTests.cs
Labels: .NET, kernel

#5556 .Net: Version 1.6.3
  dotnet/nuget/nuget-package.props
Labels: .NET

#5502 .Net: Loosen TextChunker's lines input type
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/Text/TextChunker.cs
Labels: .NET

#5500 Java: Update readme
  java/PACKAGES.md
  java/README.md
Labels: java, documentation

#5525 Java: Allow creating empty ChatHistory
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/services/chatcompletion/ChatHistory.java
Labels: java

#5559 .Net: Update title and description in Google connectors project
  dotnet/src/Connectors/Connectors.Google/Connectors.Google.csproj
Labels: .NET, kernel

#5527 Python: Add support for yaml prompt template
  python/samples/kernel-syntax-examples/load_yaml_prompt.py
  python/samples/kernel-syntax-examples/resources/sample_plugins/generate_story.yaml
  python/samples/kernel-syntax-examples/resources/sample_plugins/parrot.yaml
  python/semantic_kernel/kernel.py
  python/tests/assets/test_plugins/TestPlugin/TestFunctionYaml/test_function.yaml
  python/tests/assets/test_plugins/TestPlugin/TestFunctionYamlHandlebars/test_function.yaml
  python/tests/assets/test_plugins/TestPlugin/TestFunctionYamlJinja2/test_function.yaml
  python/tests/integration/completions/test_oai_chat_service.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#5512 Python: Enhanced pre commit and tasks
  python/.conf/.pre-commit-config.yaml
  python/.vscode/tasks.json
  python/mypy.ini
  python/poetry.lock
  python/pyproject.toml
  python/semantic_kernel/kernel.py
Labels: python

#5562 .Net: Removed Gemini text generation service, client and tests.
  dotnet/samples/KernelSyntaxExamples/Example95_GeminiGetModelResult.cs
  dotnet/samples/KernelSyntaxExamples/Example95_GeminiTextGeneration.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiTextStreamingTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Extensions/GoogleAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Extensions/VertexAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/GoogleAIGeminiTextGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/VertexAIGeminiTextGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiTextGenerationClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/IGeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/GoogleAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/GoogleAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/VertexAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/VertexAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Services/GoogleAIGeminiTextGenerationService.cs
  dotnet/src/Connectors/Connectors.Google/Services/VertexAIGeminiTextGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/Gemini/GeminiTextGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/TestsBase.cs
Labels: .NET, kernel

#5557 .Net: Baseline 1.6.3
  dotnet/nuget/nuget-package.props
Labels: .NET

#5563 .Net: Update Example14_SemanticMemory.cs
  dotnet/samples/KernelSyntaxExamples/Example14_SemanticMemory.cs
Labels: .NET

#5553 .Net: Disable Azure SDK network timeout when a custom HttpClient is supplied
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
Labels: .NET, kernel

#5555 .Net: Upgrade to completion API version 2024-02-01
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataConfig.cs
  dotnet/src/Connectors/Connectors.OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataService.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/AzureOpenAITextToImageService.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletionWithData/AzureOpenAIChatCompletionWithDataTests.cs
Labels: .NET, PR: ready to merge, kernel

#5567 .Net: Rename ToolCallBehavior class to GeminiToolCallBehavior
  dotnet/samples/KernelSyntaxExamples/Example98_GeminiFunctionCalling.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationFunctionCallingTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatStreamingFunctionCallingTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/GeminiToolCallBehaviorTests.cs
  dotnet/src/Connectors/Connectors.Google/GeminiPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Google/GeminiToolCallBehavior.cs
  dotnet/src/IntegrationTests/Connectors/GoogleVertexAI/Gemini/GeminiFunctionCallingTests.cs
Labels: .NET, kernel

#5094 .Net: Add AssemblyAI connector for Audio-to-text
  dotnet/SK-dotnet.sln
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/docs/EXPERIMENTS.md
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/AudioToText/AssemblyAIAudioToTextServiceExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/AudioToText/AssemblyAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/Connectors.AssemblyAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/MultipleHttpMessageHandlerStub.cs
  dotnet/src/Connectors/Connectors.AssemblyAI.UnitTests/TestData/test_audio.wav
  dotnet/src/Connectors/Connectors.AssemblyAI/AssemblyAIAudioToTextExecutionSettings.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/AssemblyAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/AssemblyAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/Client/AssemblyAIClient.cs
  dotnet/src/Connectors/Connectors.AssemblyAI/Connectors.AssemblyAI.csproj
  dotnet/src/Connectors/Connectors.AssemblyAI/Services/AssemblyAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/AzureOpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.OpenAI/AudioToText/OpenAIAudioToTextService.cs
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/AzureOpenAIAudioToTextServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/AudioToText/OpenAIAudioToTextServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/AssemblyAI/AssemblyAIAudioToTextTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/SemanticKernel.Abstractions/AI/AudioToText/IAudioToTextService.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioStreamContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/AudioStreamContentExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/SemanticKernel.Abstractions.csproj
Labels: PR: feedback to address, .NET, kernel, kernel.core, documentation

#5570 .Net: Avoid duplicated logic between GetOpenAIClientOptions impls
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/TextToImage/AzureOpenAITextToImageService.cs
Labels: .NET, kernel

#5564 Python: Ollama: Correct API parameters
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_embedding.py
  python/tests/unit/connectors/ollama/services/test_ollama_text_completion.py
  python/tests/unit/connectors/ollama/services/test_ollama_text_embedding.py
Labels: python

#5565 Python: preprend 'Semantic-Kernel' to User-Agent, and add version key-value pair to headers
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_config_base.py
  python/semantic_kernel/connectors/telemetry.py
Labels: python

#5566 .Net: Ollama connector unit tests
  dotnet/SK-dotnet.sln
  dotnet/samples/KernelSyntaxExamples/Example82_OllamaTextEmbeddingGeneration.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Connectors.Ollama.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/HttpMessageHandlerStub.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/OllamaTestHelper.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaTextGenerationTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_test_response.json
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/embeddings_test_response.json
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/text_generation_test_response.json
  dotnet/src/Connectors/Connectors.Ollama/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaChatRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Client/OllamaTextRequest.cs
  dotnet/src/Connectors/Connectors.Ollama/Connectors.Ollama.csproj
  dotnet/src/Connectors/Connectors.Ollama/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Ollama/OllamaServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextEmbeddingGenerationService.cs
Labels: .NET, kernel

#5518 .Net: Add BERT ONNX embedding generation service
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/docs/EXPERIMENTS.md
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/BertOnnxTextEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/Connectors.Onnx.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Onnx/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Onnx/BertOnnxOptions.cs
  dotnet/src/Connectors/Connectors.Onnx/BertOnnxTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Onnx/Connectors.Onnx.csproj
  dotnet/src/Connectors/Connectors.Onnx/OnnxKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Onnx/PoolingMode.cs
Labels: .NET, kernel, documentation

#5577 Python: Bump python version to 0.9.4b1 for release
  python/notebooks/00-getting-started.ipynb
  python/notebooks/01-basic-loading-the-kernel.ipynb
  python/notebooks/02-running-prompts-from-file.ipynb
  python/notebooks/03-prompt-function-inline.ipynb
  python/notebooks/04-kernel-arguments-chat.ipynb
  python/notebooks/05-using-the-planner.ipynb
  python/notebooks/06-memory-and-embeddings.ipynb
  python/notebooks/07-hugging-face-for-plugins.ipynb
  python/notebooks/08-native-function-inline.ipynb
  python/notebooks/09-groundedness-checking.ipynb
  python/notebooks/10-multiple-results-per-prompt.ipynb
  python/notebooks/11-streaming-completions.ipynb
  python/pyproject.toml
Labels: python

#5582 Java: learn samples
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/connectors/web/bing/BingConnector.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/AIServices.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/ConfiguringPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/CreatingFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/FunctionsWithinPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Prompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/SerializingPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/MathPlugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/Prompts/chat/config.json
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/Prompts/chat/skprompt.txt
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example07_BingAndGooglePlugins.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/Kernel.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/HandlebarsPromptTemplateFactory.java
Labels: java

#5551 .Net: Remove default chat system prompt
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/OpenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/PromptTemplateConfigTests.cs
Labels: .NET, kernel

#5581 .Net: Feature connectors Ollama build fix
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
Labels: .NET

#5596 Python: updated openai chat sample
  python/.conf/.pre-commit-config.yaml
  python/samples/kernel-syntax-examples/chat_gpt_api.py
Labels: python

#5594 Python: add additional handlebars test, to make sure built-in helpers run
  python/tests/unit/prompt_template/test_handlebars_prompt_template.py
Labels: python

#5571 Add some guidance on using version suffixes
  docs/decisions/0036-semantic-kernel-release-versioning.md
Labels: documentation

#5606 Python: fixed the broken link
  python/notebooks/05-using-the-planner.ipynb
Labels: python

#5489 .Net: CJK support for text splitter
  dotnet/Directory.Packages.props
  dotnet/samples/KernelSyntaxExamples/Example55_TextChunker.cs
  dotnet/src/SemanticKernel.Core/Text/TextChunker.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=Arabic.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=Chinese.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=English.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=Japanese.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=Korean.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.cs
Labels: .NET, kernel

#5607 .Net: Improve performance of the text splitter by reducing calls to tokenizer
  dotnet/src/SemanticKernel.Core/Text/TextChunker.cs
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.cs
Labels: .NET, kernel

#5393 .Net & Python: Fix Broken Links
  dotnet/samples/KernelSyntaxExamples/Resources/22-openapi.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV2_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_1.yaml
  python/notebooks/05-using-the-planner.ipynb
Labels: .NET, python

#5548 .Net: Mistral Streaming Chat Completion
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/TestData/chat_completions_streaming_response.txt
  dotnet/src/Connectors/Connectors.MistralAI/Client/ChatCompletionStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/IStreamJsonParser.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatCompletionChoice.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatCompletionChunk.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatMessage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.MistralAI/Services/MistralAITextEmbeddingGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/TextEmbedding/MistralAITextEmbeddingTests.cs
Labels: .NET, kernel

#5617 Python: Remove jinja2 built in helpers from custom helpers. Introduce messages custom func helper.
  python/semantic_kernel/prompt_template/utils/handlebars_system_helpers.py
  python/semantic_kernel/prompt_template/utils/jinja2_system_helpers.py
  python/tests/unit/prompt_template/test_handlebars_prompt_template.py
  python/tests/unit/prompt_template/test_jinja2_prompt_template.py
Labels: python

#5568 Python: .Net Gemini - internalize plugin extensions
  dotnet/samples/KernelSyntaxExamples/Example98_GeminiFunctionCalling.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Connectors.Google.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Google.UnitTests/Utils/GeminiKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Core/GeminiPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Google/GeminiToolCallBehavior.cs
Labels: .NET, PR: ready to merge, kernel

#5627 .Net: Remove use of Console.SetOut as it impacts other tests
  dotnet/src/IntegrationTests/Connectors/OpenAI/ChatHistoryTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIAudioToTextTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextToAudioTests.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/IntegrationTests/PromptTests.cs
  dotnet/src/IntegrationTests/WebPlugin/WebPluginTests.cs
Labels: .NET, kernel

#5618 Python: Allow function calling stepwise planner to use AzureOpenAI chat service
  python/samples/kernel-syntax-examples/azure_openai_function_calling_stepwise_planner.py
  python/samples/kernel-syntax-examples/openai_function_calling_stepwise_planner.py
  python/samples/kernel-syntax-examples/resources/email_plugin/native_function.py
  python/semantic_kernel/core_plugins/time_plugin.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/tests/unit/planners/function_calling_stepwise_planner/test_unit_function_calling_stepwise_planner.py
Labels: python

#5593 .Net: Update Milvus memory connector to 2.3
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.Milvus/MilvusMemoryStore.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Milvus/MilvusFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Milvus/MilvusMemoryStoreTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel, memory

#5595 Java: Add documentation examples
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/CreatingFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Plugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Prompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/SerializingPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/UsingTheKernel.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/MathPlugin.java
  java/samples/sample-code/src/main/resources/Plugins/Prompts/chat/config.json
  java/samples/sample-code/src/main/resources/Plugins/Prompts/chat/skprompt.txt
  java/samples/sample-code/src/main/resources/Plugins/Prompts/getIntent.prompt.yaml
  java/samples/sample-code/src/main/resources/Plugins/WriterPlugin/ShortPoem/config.json
  java/samples/sample-code/src/main/resources/Plugins/WriterPlugin/ShortPoem/skprompt.txt
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariableTypes.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/NumberVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/PrimitiveBooleanVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/PrimitiveVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionInvocation.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/InputVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/contextvariables/converters/NumberVariableContextVariableTypeConverterTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethodTest.java
Labels: java

#5614 Java: use id instead of range in markdown
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/AIServices.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/ConfiguringPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/FunctionsWithinPrompts.java
Labels: java

#4432 .Net: Remove unnecessary finalizers / dispose pattern implementations from tests
  dotnet/src/Connectors/Connectors.Memory.DuckDB/DuckDBMemoryStore.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Sqlite/SqliteMemoryStoreTests.cs
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/FlowOrchestratorTests.cs
  dotnet/src/Experimental/Orchestration.Flow.IntegrationTests/XunitLogger.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Chroma/ChromaMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/ChatHistoryTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAICompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/IntegrationTests/PromptTests.cs
  dotnet/src/IntegrationTests/WebPlugin/WebPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/HttpPluginTests.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleConnector.cs
Labels: .NET, kernel, memory

#5590 Python: Fix - Action Planner breaking when parameters are not explicitly given in the ask
  python/semantic_kernel/planners/action_planner/action_planner.py
  python/tests/unit/planners/action_planner/test_action_planner.py
Labels: python

#5507 Initial function calling sequence diagrams
  docs/decisions/diagrams/tool-call-auto-invoke.mmd
  docs/decisions/diagrams/tool-call-filters.mmd
  docs/decisions/diagrams/tool-call-skip-llm.mmd
Labels: documentation

#5634 .Net: Removed unneeded use of RedirectOutput
  dotnet/src/IntegrationTests/Connectors/OpenAI/ChatHistoryTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIAudioToTextTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAITextToAudioTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIToolsTests.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
  dotnet/src/IntegrationTests/Planners/Stepwise/FunctionCallingStepwisePlannerTests.cs
  dotnet/src/IntegrationTests/PromptTests.cs
  dotnet/src/IntegrationTests/WebPlugin/WebPluginTests.cs
Labels: .NET, kernel

#5637 .Net: Add some Kernel checks to the RequiredFunction behavior
  dotnet/src/Connectors/Connectors.OpenAI/ToolCallBehavior.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ToolCallBehaviorTests.cs
Labels: .NET, kernel

#5609 .Net: Units test which demonstrate testing Kernel Invoke methods without mocking
  dotnet/src/SemanticKernel.UnitTests/KernelTests.cs
Labels: .NET, kernel

#5655 .Net Fix Add Missing OpenAI Connector Choice properties to Metadata
  dotnet/samples/KernelSyntaxExamples/Example43_GetModelResult.cs
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/ChatCompletion/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/OpenAI/TestData/chat_completion_streaming_test_response.txt
Labels: .NET, kernel

#5601 Java: Add Plugin sample
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/ToolCallBehaviourTest.java
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-12b6744e-443f-4fe7-82e2-55cc41195ff1.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo-2_chat_completions-71b07779-49a8-44e5-a60b-ee5b0a3ad697.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_gpt-35-turbo_chat_completions-0c8046c5-74ad-4836-8aa9-09da60f367a2.json
  java/api-test/integration-tests/src/test/resources/wiremock/mappings/deployments_text-davinci-003_completions-0215b128-4822-4368-ac3d-2f580a221f00.json
  java/pom.xml
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/AIServices.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/CreatingFunctions.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Plugin.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Prompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/SerializingPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/MathPlugin.java
  java/samples/sample-code/src/main/resources/Plugins/Prompts/Chat/config.json
  java/samples/sample-code/src/main/resources/Plugins/Prompts/Chat/skprompt.txt
  java/samples/sample-code/src/main/resources/Plugins/Prompts/chat/config.json
  java/samples/sample-code/src/main/resources/Plugins/Prompts/getIntent.prompt.yaml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/CollectionVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/converters/PrimitiveVariableContextVariableTypeConverter.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/DefaultPromptTemplate.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/CodeBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/FunctionIdBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/NamedArgBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/TextBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/TextRendering.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/ValBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/implementation/templateengine/tokenizer/blocks/VarBlock.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/semanticfunctions/KernelFunctionFromMethod.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/templateengine/handlebars/HandlebarsPromptTemplate.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/contextvariables/converters/NumberVariableContextVariableTypeConverterTest.java
  java/semantickernel-api/src/test/java/com/microsoft/semantickernel/templateengine/semantickernel/CodeTokenizerTest.java
  java/semantickernel-bom/pom.xml
Labels: java

#5677 Java: Tidy up and add Javadocs
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/XMLPromptParser.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/SerializingPrompts.java
  java/samples/semantickernel-spring-starter/pom.xml
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariable.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/contextvariables/ContextVariableTypeConverter.java
Labels: java

#5605 .Net: introduce ApiManifestPluginParameters to support multiple API dependencies
  dotnet/samples/KernelSyntaxExamples/Example83_ApiManifest.cs
  dotnet/samples/KernelSyntaxExamples/Plugins/ApiManifestPlugins/AstronomyPlugin/apimanifest.json
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestPluginParameters.cs
Labels: .NET

#5679 Java: Fix importing multiple plugin functions
  java/api-test/integration-tests/src/test/java/com/microsoft/semantickernel/tests/ImportingMultiplePluginsTest.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/KernelPluginCollection.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/plugin/KernelPluginFactory.java
Labels: java

#5642 .Net: Broaden Response ContentType Checking Logic
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationResponseExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationResponseTests.cs
Labels: .NET

#5678 Java: Fix some Doc fixes
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/ConfiguringPrompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Prompts.java
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/plugins/PromptFunctionConstants.java
Labels: java

#5664 .Net - Fixed creation of Kernel for Azure Open AI case.
  dotnet/samples/KernelSyntaxExamples/Example70_Agents.cs
  dotnet/src/Experimental/Agents/Internal/Agent.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Milvus/MilvusFixture.cs
Labels: bug, PR: ready for review, .NET, kernel, experimental, agents

#5675 .Net Hugging face exp update
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/HuggingFaceImageTextExample/FormMain.cs
  dotnet/samples/KernelSyntaxExamples/KernelSyntaxExamples.csproj
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Connectors.HuggingFace.UnitTests.csproj
  dotnet/src/Connectors/Connectors.HuggingFace/AssemblyInfo.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel, documentation

#5687 Python: small fix for running prompt without any execution settings
  python/samples/kernel-syntax-examples/rag_with_text_memory_plugin.py
  python/semantic_kernel/memory/semantic_text_memory.py
  python/semantic_kernel/services/ai_service_selector.py
Labels: python

#5520 Python: Enhance Chat Message Content creation and parsing
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/contents/azure_chat_message_content.py
  python/semantic_kernel/connectors/ai/open_ai/contents/azure_streaming_chat_message_content.py
  python/semantic_kernel/connectors/ai/open_ai/contents/open_ai_chat_message_content.py
  python/semantic_kernel/connectors/ai/open_ai/contents/open_ai_streaming_chat_message_content.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/contents/__init__.py
  python/semantic_kernel/contents/chat_history.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/chat_message_content_base.py
  python/semantic_kernel/contents/const.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/semantic_kernel/contents/streaming_content_mixin.py
  python/semantic_kernel/contents/streaming_kernel_content.py
  python/semantic_kernel/contents/streaming_text_content.py
  python/semantic_kernel/contents/text_content.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
  python/tests/unit/contents/test_chat_history.py
  python/tests/unit/contents/test_chat_message_content.py
  python/tests/unit/prompt_template/test_handlebars_prompt_template.py
  python/tests/unit/prompt_template/test_jinja2_prompt_template.py
Labels: python

#5692 Java: Disable formatter on Prompts
  java/samples/sample-code/src/main/java/com/microsoft/semantickernel/samples/documentationexamples/Prompts.java
Labels: java

#5700 .Net: Marking the ToolCallResultSerializerOptions as obsolete.
  dotnet/src/Connectors/Connectors.OpenAI/AzureSdk/ClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI/ToolCallBehavior.cs
  dotnet/src/Planners/Planners.OpenAI/Stepwise/FunctionCallingStepwisePlanner.cs
Labels: .NET, kernel
