Repository microsoft/semantic-kernel, pull requests merged in 2024-12, with the labels that each got.

#9644 .Net: Bump ONNX to 0.5.2
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/ChatCompletion/Onnx_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Onnx_ChatCompletionStreaming.cs
  dotnet/samples/Demos/OnnxSimpleRAG/OnnxSimpleRAG.csproj
  dotnet/samples/Demos/OnnxSimpleRAG/Program.cs
  dotnet/src/Connectors/Connectors.Onnx/Connectors.Onnx.csproj
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIChatCompletionService.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIPromptExecutionSettings.cs
Labels: .NET, kernel

#9861 .Net: Update to OpenApi.NET V2 - Part1
  dotnet/Directory.Packages.props
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/CopilotAgentPluginKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiParameter.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiParameterType.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiPayloadProperty.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/FormStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/OpenApiTypeConverter.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/PipeDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/SimpleStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/SpaceDelimitedStyleParameterSerializer.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/OpenApiSchemaExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/RestApiOperationExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/FormStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/OpenApiTypeConverterTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/PipeDelimitedStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/SimpleStyleParametersSerializerTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/SpaceDelimitedStyleParametersSerializerTests.cs
Labels: .NET, openapi

#9855 Python: fix for file limit and some cleanup
  docs/decisions/0031-feature-branch-strategy.md
  dotnet/docs/MODELS.md
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/function_action_result.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
Labels: .NET, python, documentation

#9856 Python: graduate filters, add exception during addition and some cleanup
  python/pyproject.toml
  python/samples/concepts/filtering/auto_function_invoke_filters.py
  python/samples/concepts/filtering/function_invocation_filters.py
  python/samples/concepts/filtering/function_invocation_filters_stream.py
  python/semantic_kernel/connectors/ai/__init__.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/exceptions/__init__.py
  python/semantic_kernel/exceptions/filter_exceptions.py
  python/semantic_kernel/filters/__init__.py
  python/semantic_kernel/filters/auto_function_invocation/auto_function_invocation_context.py
  python/semantic_kernel/filters/filter_context_base.py
  python/semantic_kernel/filters/filter_types.py
  python/semantic_kernel/filters/functions/function_invocation_context.py
  python/semantic_kernel/filters/kernel_filters_extension.py
  python/semantic_kernel/filters/prompts/prompt_render_context.py
  python/tests/integration/audio_to_text/audio_to_text_test_base.py
  python/tests/integration/audio_to_text/test_audio_to_text.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/integration/embeddings/test_embedding_service_base.py
  python/tests/unit/agents/test_termination_strategy.py
  python/tests/unit/connectors/ai/open_ai/test_openai_request_settings.py
  python/tests/unit/kernel/test_kernel_filter_extension.py
  python/tests/unit/schema/test_schema_builder.py
Labels: python

#9870 .Net: Add responseMimeType Parameter to GeminiPromptExecutionSettings for Enhanced Output Control.
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/GeminiPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.Google/GeminiPromptExecutionSettings.cs
Labels: .NET, kernel

#9874 Python: Raise exceptions when services are not set up in integration test workflow
  .github/workflows/python-integration-tests.yml
  python/tests/integration/audio_to_text/audio_to_text_test_base.py
  python/tests/integration/audio_to_text/test_audio_to_text.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/integration/embeddings/test_embedding_service_base.py
  python/tests/integration/text_to_audio/test_text_to_audio.py
  python/tests/integration/text_to_audio/text_to_audio_test_base.py
  python/tests/utils.py
Labels: python

#9811 .Net Processes - Refactoring/expanding Process Sample02
  dotnet/samples/GettingStartedWithProcesses/README.md
  dotnet/samples/GettingStartedWithProcesses/Step02/Models/AccountDetails.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Models/AccountOpeningEvents.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Models/AccountUserInteractionDetails.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Models/MarketingNewEntryDetails.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Models/NewCustomerForm.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Processes/NewAccountCreationProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Processes/NewAccountVerificationProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02a_AccountOpening.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02b_AccountOpening.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/CRMRecordCreationStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/CompleteNewCustomerFormStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/CreditScoreCheckStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/FraudDetectionStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/NewAccountStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/NewMarketingEntryStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/TestInputs/UserInputCreditScoreFailureInteractionStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/TestInputs/UserInputFraudFailureInteractionStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/TestInputs/UserInputSuccessfulInteractionStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Steps/WelcomePacketStep.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessCycleTestResources.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessTests.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
Labels: docs and tests, .NET, documentation, processes

#9885 Python: Bump Python version to 1.17.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#9879 .Net: Removed Verify.Xunit package
  dotnet/Directory.Packages.props
  dotnet/src/Agents/UnitTests/Agents.UnitTests.csproj
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/ProcessTestFixture.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Local/Process.IntegrationTestRunner.Local.csproj
  dotnet/src/Experimental/Process.Runtime.Dapr.UnitTests/Process.Runtime.Dapr.UnitTests.csproj
  dotnet/src/Experimental/Process.UnitTests/Process.UnitTests.csproj
  dotnet/src/Experimental/Process.Utilities.UnitTests/Process.Utilities.UnitTests.csproj
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=Arabic.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=Chinese.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=English.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=Japanese.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguageAsync_language=Korean.verified.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguage_language=Arabic.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguage_language=Chinese.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguage_language=English.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguage_language=Japanese.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.VerifyShortStoryInLanguage_language=Korean.txt
  dotnet/src/SemanticKernel.UnitTests/Text/TextChunkerInternationalTests.cs
Labels: .NET, kernel

#9844 .Net: Fix MistralAI function calling and add image content support
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Client/MistralClientTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/ChatCompletionRequest.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/ContentChunk.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/ContentChunkType.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/ImageUrlChunk.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatCompletionChunk.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralChatMessage.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/TextChunk.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIPromptExecutionSettings.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#9887 Python: Introduce agent name field regex
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/utils/validation.py
  python/tests/unit/agents/test_agent.py
  python/tests/unit/agents/test_aggregator_termination_strategy.py
  python/tests/unit/agents/test_chat_completion_agent.py
  python/tests/unit/agents/test_kernel_function_selection_strategy.py
  python/tests/unit/agents/test_kernel_function_termination_strategy.py
  python/tests/unit/agents/test_sequential_strategy_selection.py
  python/tests/unit/agents/test_termination_strategy.py
Labels: python

#9880 .Net: Fixes for importing Copilot plugin manifests
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/CopilotAgentPluginKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiParameterFilter.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiParameterFilterContext.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/CopilotAgentPluginKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/messages-apiplugin.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/messages-openapi.yml
Labels: .NET

#9849 .Net: feat/declarative agents
  dotnet/samples/Concepts/Agents/DeclarativeAgents.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Plugins/CopilotAgentBasedPlugins.cs
  dotnet/samples/Concepts/Resources/DeclarativeAgents/SchedulingAssistant.json
  dotnet/samples/Concepts/Resources/DeclarativeAgents/scheduling-assistant-instructions.txt
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/CopilotAgentPluginKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/DeclarativeAgentExtensions.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Functions.OpenApi.Extensions.csproj
Labels: .NET, experimental, enhancement, agents

#9873 .Net: Added support for Structured Outputs in prompts
  dotnet/samples/Concepts/ChatCompletion/OpenAI_StructuredOutputs.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Resources/Plugins/MoviePlugins/MoviePluginPrompt/TopMovies/config.json
  dotnet/samples/Concepts/Resources/Plugins/MoviePlugins/MoviePluginPrompt/TopMovies/skprompt.txt
  dotnet/samples/Concepts/Resources/Plugins/MoviePlugins/MoviePluginYaml/TopMovies.yaml
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Helpers/OpenAIChatResponseFormatHelperTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Helpers/OpenAIChatResponseFormatHelper.cs
Labels: .NET, kernel

#9843 .Net: chore/updates plugins
  .github/_typos.toml
  .gitignore
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/AstronomyPlugin/astronomy-apiplugin.json
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/AstronomyPlugin/astronomy-openapi.yml
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/AstronomyPlugin/messages-openapi.yml
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/CalendarPlugin/calendar-openapi.yml
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/ContactsPlugin/contacts-openapi.yml
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/DriveItemPlugin/driveitem-apiplugin.json
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/DriveItemPlugin/driveitem-openapi.yml
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/MessagesPlugin/messages-apiplugin.json
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/MessagesPlugin/messages-openapi.yml
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/README.md
Labels: .NET, documentation

#9896 .Net: Version 1.32.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#9901 .Net: Fix bug where redis score was mapped from wrong score field.
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#9906 .Net: Small improvements in Structured Outputs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_StructuredOutputs.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Helpers/OpenAIChatResponseFormatBuilderTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Helpers/OpenAIChatResponseFormatBuilder.cs
Labels: .NET, kernel

#9890 Python: enable ollama streaming tool calls
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/utils.py
  python/semantic_kernel/connectors/ai/bedrock/services/model_provider/utils.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/utils.py
  python/semantic_kernel/contents/function_call_content.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/unit/connectors/ai/ollama/services/test_ollama_chat_completion.py
  python/uv.lock
Labels: python

#9904 Python: Include the sessions plugin status key in return value
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_plugin.py
Labels: python, core plugin

#9807 .Net: Replace stj-schema-mapper source code with M.E.AI schema generation
  dotnet/samples/GettingStartedWithProcesses/Step04/SchemaGenerator.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiFunctionTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Extensions/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIFunctionTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIJsonSchemaTransformerTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Extensions/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/OpenAIJsonSchemaTransformer.cs
  dotnet/src/Connectors/Connectors.OpenAI/Helpers/OpenAIChatResponseFormatBuilder.cs
  dotnet/src/InternalUtilities/src/Schema/.editorconfig
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaGenerationContext.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.STJv8.JsonSchema.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.STJv8.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.STJv9.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapper.cs
  dotnet/src/InternalUtilities/src/Schema/JsonSchemaMapperConfiguration.cs
  dotnet/src/InternalUtilities/src/Schema/KernelJsonSchemaBuilder.cs
  dotnet/src/InternalUtilities/src/Schema/Polyfills/NullabilityInfo.cs
  dotnet/src/InternalUtilities/src/Schema/Polyfills/NullabilityInfoContext.cs
  dotnet/src/InternalUtilities/src/Schema/Polyfills/NullabilityInfoHelpers.cs
  dotnet/src/InternalUtilities/src/Schema/README.md
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionMetadataFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelParameterMetadataTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginFactoryTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelReturnParameterMetadataTests.cs
Labels: .NET, kernel, documentation

#9905 .Net: Refactored integration tests for vector stores
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchTextSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreTests.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#7561 Remove build Java badge from readme
  README.md
Labels: documentation

#9936 .Net: Add store and metadata properties to OpenAIPromptExecutionSettings
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIPromptExecutionSettings.cs
Labels: .NET, kernel

#9946 Python: Add store and metadata properties to OpenAIPromptExecutionSettings
  python/samples/concepts/chat_completion/simple_chatbot_store_metadata.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
Labels: python

#9903 .Net: fix: add "status" field to Python dynamic session response
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonPlugin.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/SessionsPythonPluginTests.cs
Labels: .NET

#9959 .Net: Fix OpenApiDocumentParser fail when X-API-version is provide in the content key
  dotnet/samples/Concepts/Memory/OpenAI_EmbeddingGeneration.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_1.yaml
Labels: .NET, documentation

#9965 Python: Deprecated retry_mechanism
  python/samples/concepts/filtering/retry_with_filters.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/reliability/kernel_reliability_extension.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#9324 .Net: Add PostgresVectorStore Memory connector.
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Memory/VectorStoreFixtures/VectorStoreInfra.cs
  dotnet/samples/Concepts/Memory/VectorStoreFixtures/VectorStorePostgresContainerFixture.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Postgres.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.Memory.Postgres/Connectors.Memory.Postgres.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresVectorStoreCollectionSqlBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresVectorStoreDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresConstants.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresSqlCommandInfo.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreCollectionSqlBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordPropertyMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreUtils.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/README.md
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/Connectors.Postgres.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresHotel.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreCollectionSqlBuilderTests.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreRecordPropertyMappingTests.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreCollectionFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreTests.cs
  dotnet/src/InternalUtilities/src/Linq/AsyncEnumerable.cs
Labels: .NET, kernel, documentation, memory

#9823 .Net: Fix typo in GettingStarted.Step3_Yaml_Prompt - CreatPrompt -> CreatePrompt
  dotnet/samples/GettingStarted/Step3_Yaml_Prompt.cs
Labels: .NET

#9985 .Net: Allow customization of building REST API operation URL, payload, and headers
  dotnet/src/Functions/Functions.OpenApi/HttpContentFactory.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationHeadersFactory.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationPayloadFactory.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperationUrlFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
Labels: .NET, openapi

#9969 .Net: fix: includes path item path parameters to OpenAPI document parsing
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
Labels: .NET

#9982 Python: Qdrant - fix in filter and 100% test coverage
  python/semantic_kernel/connectors/memory/qdrant/qdrant_collection.py
  python/tests/unit/connectors/memory/qdrant/test_qdrant.py
Labels: python, memory

#9978 Python: FunctionResultContent hash fix to handle lists/sets
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/semantic_kernel/contents/function_result_content.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
  python/tests/unit/contents/test_function_result_content.py
Labels: python

#9938 Python: Anthropic function calling fixes
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/semantic_kernel/connectors/ai/anthropic/services/utils.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/integration/completions/test_chat_completions.py
Labels: python

#9967 .Net Agents - Support name based KernelFunction*Strategy
  dotnet/samples/Concepts/Agents/ChatCompletion_ServiceSelection.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_ChartMaker.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_FileService.cs
  dotnet/samples/GettingStartedWithAgents/Step04_KernelFunctionStrategies.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionTerminationStrategy.cs
  dotnet/src/Agents/Core/Internal/ChatMessageForPrompt.cs
  dotnet/src/Agents/UnitTests/Core/Internal/ChatMessageForPromptTests.cs
Labels: .NET, experimental, enhancement, agents

#9974 Python: Yield FunctionResultContent in streaming chat completion path. Update tests.
  python/samples/concepts/auto_function_calling/anthropic_api_function_calling.py
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
  python/samples/concepts/auto_function_calling/chat_mistral_ai_api_function_calling.py
  python/samples/concepts/auto_function_calling/function_calling_with_required_type.py
  python/samples/concepts/auto_function_calling/functions_defined_in_json_prompt.py
  python/samples/concepts/auto_function_calling/functions_defined_in_yaml_prompt.py
  python/samples/concepts/filtering/function_invocation_filters_stream.py
  python/samples/concepts/plugins/openai_plugin_azure_key_vault.py
  python/samples/learn_resources/templates.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/contents/function_call_content.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
  python/tests/unit/connectors/ai/azure_ai_inference/conftest.py
  python/tests/unit/connectors/ai/azure_ai_inference/services/test_azure_ai_inference_chat_completion.py
  python/tests/unit/connectors/ai/google/google_ai/conftest.py
  python/tests/unit/connectors/ai/google/google_ai/services/test_google_ai_chat_completion.py
  python/tests/unit/connectors/ai/google/vertex_ai/conftest.py
  python/tests/unit/connectors/ai/google/vertex_ai/services/test_vertex_ai_chat_completion.py
  python/tests/unit/kernel/test_kernel.py
Labels: python, ai connector

#10005 Python: Fix Anthropic parallel tool call
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/semantic_kernel/connectors/ai/anthropic/services/utils.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/unit/connectors/ai/anthropic/conftest.py
  python/tests/unit/connectors/ai/anthropic/services/test_anthropic_chat_completion.py
Labels: python

#10009 Python: Include a function_invoke_attempt index with Streaming CMC
  python/samples/concepts/auto_function_calling/anthropic_api_function_calling.py
  python/samples/concepts/auto_function_calling/chat_completion_with_auto_function_calling.py
  python/samples/concepts/auto_function_calling/chat_completion_with_auto_function_calling_streaming.py
  python/samples/concepts/auto_function_calling/chat_completion_with_manual_function_calling.py
  python/samples/concepts/auto_function_calling/chat_completion_with_manual_function_calling_streaming.py
  python/samples/concepts/auto_function_calling/chat_gpt_api_function_calling.py
  python/samples/concepts/auto_function_calling/chat_mistral_ai_api_function_calling.py
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_chat_completion.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/onnx/services/onnx_gen_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/tests/conftest.py
  python/tests/samples/test_concepts.py
  python/tests/unit/connectors/openapi_plugin/test_sk_openapi.py
  python/tests/unit/functions/test_kernel_plugins.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#9984 Python: improved text_search folder testing
  python/.vscode/settings.json
  python/semantic_kernel/connectors/memory/azure_ai_search/azure_ai_search_collection.py
  python/semantic_kernel/connectors/memory/azure_ai_search/azure_ai_search_store.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_base.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_collection.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_store.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/utils.py
  python/semantic_kernel/connectors/memory/postgres/postgres_collection.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_collection.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_store.py
  python/semantic_kernel/connectors/memory/redis/redis_collection.py
  python/semantic_kernel/connectors/memory/redis/redis_store.py
  python/semantic_kernel/connectors/memory/redis/utils.py
  python/semantic_kernel/connectors/memory/weaviate/utils.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_collection.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_store.py
  python/semantic_kernel/data/record_definition/vector_store_model_decorator.py
  python/semantic_kernel/data/record_definition/vector_store_model_definition.py
  python/semantic_kernel/data/record_definition/vector_store_model_protocols.py
  python/semantic_kernel/data/record_definition/vector_store_record_fields.py
  python/semantic_kernel/data/record_definition/vector_store_record_utils.py
  python/semantic_kernel/data/search_filter.py
  python/semantic_kernel/data/text_search/text_search.py
  python/semantic_kernel/data/text_search/utils.py
  python/semantic_kernel/data/text_search/vector_store_text_search.py
  python/semantic_kernel/data/vector_search/vector_search.py
  python/semantic_kernel/data/vector_search/vector_search_filter.py
  python/semantic_kernel/data/vector_search/vector_text_search.py
  python/semantic_kernel/data/vector_search/vectorizable_text_search.py
  python/semantic_kernel/data/vector_search/vectorized_search.py
  python/semantic_kernel/data/vector_storage/vector_store.py
  python/semantic_kernel/data/vector_storage/vector_store_record_collection.py
  python/semantic_kernel/exceptions/__init__.py
  python/semantic_kernel/exceptions/memory_connector_exceptions.py
  python/semantic_kernel/exceptions/search_exceptions.py
  python/semantic_kernel/exceptions/vector_store_exceptions.py
  python/tests/conftest.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/integration/completions/test_chat_completion_with_image_input_text_output.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_conversation_summary_plugin.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/unit/connectors/memory/azure_ai_search/test_azure_ai_search.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql_collection.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql_store.py
  python/tests/unit/connectors/memory/qdrant/test_qdrant.py
  python/tests/unit/connectors/memory/redis/test_redis_store.py
  python/tests/unit/connectors/memory/weaviate/test_weaviate_collection.py
  python/tests/unit/connectors/memory/weaviate/test_weaviate_store.py
  python/tests/unit/data/conftest.py
  python/tests/unit/data/test_text_search.py
  python/tests/unit/data/test_vector_search_base.py
  python/tests/unit/data/test_vector_search_mixins.py
  python/tests/unit/data/test_vector_store_model_decorator.py
  python/tests/unit/data/test_vector_store_record_collection.py
  python/tests/unit/data/test_vector_store_record_definition.py
  python/tests/unit/data/test_vector_store_record_utils.py
  python/tests/unit/data/test_vector_store_text_search.py
  python/tests/utils.py
Labels: python, memory

#9981 Python: Upgrade Minimum Onnx Version to enable MacOS Unit Tests
  python/pyproject.toml
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completion_with_image_input_text_output.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/unit/connectors/ai/onnx/services/test_onnx_chat_completion.py
  python/tests/unit/connectors/ai/onnx/services/test_onnx_text_completion.py
  python/tests/unit/connectors/ai/onnx/services/test_onnx_utils.py
  python/tests/unit/connectors/ai/onnx/test_onnx_prompt_execution_settings.py
  python/uv.lock
Labels: python

#10018 Python: Bump Python version to 1.17.1 for a release.
  python/semantic_kernel/__init__.py
Labels: python
