Repository microsoft/semantic-kernel, pull requests merged in 2025-02, with the labels that each got.

#10383 Python: Fix OpenAI assistant metadata type
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/tests/unit/agents/test_azure_assistant_agent.py
  python/tests/unit/agents/test_open_ai_assistant_agent.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
  python/tests/unit/agents/test_open_ai_assistant_channel.py
Labels: python

#10386 Python: Update document generator demo README
  python/samples/demos/document_generator/README.md
Labels: python, documentation

#10363 .Net: CrewAI Plugin
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Plugins/CrewAI_Plugin.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  dotnet/src/Plugins/Plugins.AI.UnitTests/CrewAI/CrewAIEnterpriseClientTests.cs
  dotnet/src/Plugins/Plugins.AI.UnitTests/CrewAI/CrewAIEnterpriseTests.cs
  dotnet/src/Plugins/Plugins.AI.UnitTests/CrewAI/MockHttpClientFactory.cs
  dotnet/src/Plugins/Plugins.AI.UnitTests/Plugins.AI.UnitTests.csproj
  dotnet/src/Plugins/Plugins.AI/AssemblyInfo.cs
  dotnet/src/Plugins/Plugins.AI/CrewAI/Client/CrewAIEnterpriseClient.cs
  dotnet/src/Plugins/Plugins.AI/CrewAI/Client/CrewAIStateEnumConverter.cs
  dotnet/src/Plugins/Plugins.AI/CrewAI/CrewAIEnterprise.cs
  dotnet/src/Plugins/Plugins.AI/CrewAI/CrewAIInputMetadata.cs
  dotnet/src/Plugins/Plugins.AI/CrewAI/Models/CrewAIKickoffResponse.cs
  dotnet/src/Plugins/Plugins.AI/CrewAI/Models/CrewAIKickoffState.cs
  dotnet/src/Plugins/Plugins.AI/CrewAI/Models/CrewAIRequiredInputs.cs
  dotnet/src/Plugins/Plugins.AI/CrewAI/Models/CrewAIStatusResponse.cs
  dotnet/src/Plugins/Plugins.AI/Plugins.AI.csproj
Labels: .NET, documentation, needs_port_to_python

#10403 .Net: Increased timeout for integration tests
  dotnet/src/IntegrationTests/BaseIntegrationTest.cs
Labels: .NET, kernel

#10387 .Net: Added traces for Agent invocations
  dotnet/Directory.Packages.props
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/samples/GettingStartedWithAgents/README.md
  dotnet/samples/GettingStartedWithAgents/Step07_Logging.cs
  dotnet/samples/GettingStartedWithAgents/Step07_Telemetry.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ActivityExtensions.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/ActivityExtensionsTests.cs
Labels: .NET, kernel, agents, documentation

#10396 .Net: Updated package version
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel.core

#10376 Python: Fixed Python bug when enable_json_response=True
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
Labels: python

#10362 Python: Add unit tests for Bedrock agent integration
  python/semantic_kernel/agents/bedrock/bedrock_agent.py
  python/semantic_kernel/agents/bedrock/bedrock_agent_base.py
  python/tests/unit/agents/bedrock_agent/conftest.py
  python/tests/unit/agents/bedrock_agent/test_action_group_utils.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_action_group_model.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent_base.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent_channel.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent_event_type.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent_model.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent_settings.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent_status.py
Labels: python

#10395 Python: Bug: Type Definition Error ImageContent
  python/semantic_kernel/contents/image_content.py
Labels: python

#10402 .NET Agents - Fix updated grouping for Getting Started samples
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step01_AzureAIAgent.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step02_AzureAIAgent_Chat.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step03_AzureAIAgent_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step04_AzureAIAgent_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step05_AzureAIAgent_OpenAPI.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step01_Assistant.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step02_Assistant_Vision.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step03_AssistantTool_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step04_AssistantTool_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/README.md
Labels: .NET, experimental, enhancement, agents, documentation

#10357 .Net: replaces message creation by send messages in CAP and API manifest samples and tests
  dotnet/samples/Concepts/Plugins/CopilotAgentBasedPlugins.cs
  dotnet/samples/Concepts/Resources/Plugins/ApiManifestPlugins/MessagesPlugin/apimanifest.json
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/AstronomyPlugin/messages-openapi.yml
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/MessagesPlugin/messages-apiplugin.json
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/MessagesPlugin/messages-openapi.yml
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/README.md
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/CopilotAgentPluginKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/messages-apiplugin.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/messages-openapi.yml
Labels: .NET, documentation

#10413 .Net: Avoid sending duplicate function tools when creating a thread
  dotnet/samples/GettingStartedWithAgents/AzureAIAgents/Step06_AzureAIAgent_Functions.cs
  dotnet/src/Agents/AzureAI/Extensions/KernelFunctionExtensions.cs
  dotnet/src/Agents/AzureAI/Internal/AgentThreadActions.cs
Labels: .NET, experimental, agents

#10427 Python: Allow AI Inference connector to use Azure AI Services resource
  python/samples/concepts/setup/chat_completion_services.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_text_embedding.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/utils.py
  python/tests/unit/connectors/ai/azure_ai_inference/services/test_azure_ai_inference_chat_completion.py
  python/tests/unit/connectors/ai/azure_ai_inference/services/test_azure_ai_inference_text_embedding.py
Labels: python

#10373 Python: Fixes to Cosmos DB NoSQL query syntax generation.
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_collection.py
Labels: python, memory

#10431 .Net: Clean-up
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step02_AzureAIAgent_Chat.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step06_AzureAIAgent_Functions.cs
  dotnet/src/Agents/AzureAI/Internal/AgentThreadActions.cs
Labels: .NET, agents

#10404 .NET: Doc improvements for Agents folder
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentChannel.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/AgentChatSerializer.cs
  dotnet/src/Agents/Abstractions/AggregatorAgent.cs
  dotnet/src/Agents/Abstractions/Extensions/ChatHistoryExtensions.cs
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/Abstractions/Serialization/AgentParticipant.cs
  dotnet/src/Agents/Abstractions/Serialization/ChatMessageReference.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIClientProvider.cs
  dotnet/src/Agents/AzureAI/AzureAIInvocationOptions.cs
  dotnet/src/Agents/AzureAI/AzureAIThreadMessageFactory.cs
  dotnet/src/Agents/AzureAI/RunPollingOptions.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/Chat/AgentGroupChatSettings.cs
  dotnet/src/Agents/Core/Chat/AggregatorTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/SelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/SequentialSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/TerminationStrategy.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryChannel.cs
  dotnet/src/Agents/Core/ChatHistoryKernelAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantCapabilities.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantDefinition.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantExecutionOptions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantInvocationOptions.cs
  dotnet/src/Agents/OpenAI/OpenAIClientProvider.cs
  dotnet/src/Agents/OpenAI/OpenAIThreadCreationOptions.cs
  dotnet/src/Agents/OpenAI/RunPollingOptions.cs
Labels: .NET

#10364 .Net Add Audio content capabilities to Gemini
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiChatCompletionTests.cs
Labels: .NET, kernel

#10434 .Net: Fix solution structure: Move Connectors.Postgres.UnitTests into MemoryUnitTests
  dotnet/SK-dotnet.sln
Labels: .NET

#10414 Python: Add support for Azure AI Agent Service
  python/pyproject.toml
  python/samples/concepts/agents/azure_ai_agent/.env.example
  python/samples/concepts/agents/azure_ai_agent/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_file_manipulation.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_streaming.py
  python/samples/getting_started_with_agents/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/.env.example
  python/samples/getting_started_with_agents/azure_ai_agent/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/step1_azure_ai_agent.py
  python/samples/getting_started_with_agents/azure_ai_agent/step2_azure_ai_agent_chat.py
  python/samples/getting_started_with_agents/azure_ai_agent/step3_azure_ai_agent_code_interpreter.py
  python/samples/getting_started_with_agents/azure_ai_agent/step4_azure_ai_agent_file_search.py
  python/samples/getting_started_with_agents/azure_ai_agent/step5_azure_ai_agent_openapi.py
  python/samples/getting_started_with_agents/chat_completion/README.md
  python/samples/getting_started_with_agents/chat_completion/step1_agent.py
  python/samples/getting_started_with_agents/chat_completion/step2_plugins.py
  python/samples/getting_started_with_agents/chat_completion/step3_chat.py
  python/samples/getting_started_with_agents/chat_completion/step4_kernel_function_strategies.py
  python/samples/getting_started_with_agents/chat_completion/step5_json_result.py
  python/samples/getting_started_with_agents/chat_completion/step6_logging.py
  python/samples/getting_started_with_agents/openai_assistant/README.md
  python/samples/getting_started_with_agents/openai_assistant/step1_assistant.py
  python/samples/getting_started_with_agents/openai_assistant/step2_assistant_vision.py
  python/samples/getting_started_with_agents/openai_assistant/step3_assistant_tool_code_interpreter.py
  python/samples/getting_started_with_agents/openai_assistant/step4_assistant_tool_file_search.py
  python/samples/getting_started_with_agents/resources/countries.json
  python/samples/getting_started_with_agents/resources/weather.json
  python/semantic_kernel/agents/azure_ai/__init__.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent_settings.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent_utils.py
  python/semantic_kernel/agents/azure_ai/azure_ai_channel.py
  python/semantic_kernel/agents/channels/agent_channel.py
  python/semantic_kernel/agents/channels/bedrock_agent_channel.py
  python/semantic_kernel/agents/channels/chat_history_channel.py
  python/semantic_kernel/agents/channels/open_ai_assistant_channel.py
  python/semantic_kernel/contents/file_reference_content.py
  python/semantic_kernel/contents/streaming_file_reference_content.py
  python/tests/samples/test_concepts.py
  python/tests/unit/agents/azure_ai_agent/test_agent_content_generation.py
  python/tests/unit/agents/azure_ai_agent/test_agent_thread_actions.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent_settings.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent_utils.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_channel.py
  python/uv.lock
Labels: python, agents, documentation

#10450 .Net: Version bump for 1.36.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#10449 .Net: VectorData doc improvements
  dotnet/src/Connectors/VectorData.Abstractions/FilterClauses/AnyTagEqualToFilterClause.cs
  dotnet/src/Connectors/VectorData.Abstractions/FilterClauses/EqualToFilterClause.cs
  dotnet/src/Connectors/VectorData.Abstractions/FilterClauses/FilterClause.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordAttributes/VectorStoreRecordDataAttribute.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordAttributes/VectorStoreRecordKeyAttribute.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordAttributes/VectorStoreRecordVectorAttribute.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/DistanceFunction.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/IndexKind.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreRecordDataProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreRecordDefinition.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreRecordKeyProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreRecordProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreRecordVectorProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordOptions/DeleteRecordOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordOptions/GetRecordOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordOptions/UpsertRecordOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IVectorizableTextSearch.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IVectorizedSearch.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchFilter.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchResult.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchResults.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStore.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordCollection.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordMapper.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/StorageToDataModelMapperOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreException.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreOperationException.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreRecordMappingException.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStoreGenericDataModel.cs
Labels: .NET, kernel

#10444 .Net: Feature copilot agent plugins demo sample
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/BearerAuthenticationProviderWithCancellationToken.cs
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/CopilotAgentPluginsDemoSample.csproj
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/CopilotAgentPluginsDemoSample.sln
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/DemoCommand.cs
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/Logging/SemanticKernelLogger.cs
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/Logging/SemanticKernelLoggerProvider.cs
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/Program.cs
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/appsettings.json
Labels: .NET

#10406 .Net: Fix #10389
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/AIConnectors/FunctionCallsProcessorTests.cs
Labels: .NET, kernel

#10453 .Net: Update GettingStarted Documentation
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#10439 .Net: Hybrid Model Orchestration ADR
  docs/decisions/0064-hybrid-model-orchestration.md
Labels: documentation

#10451 Python: Allow for factory callbacks in the process framework
  python/samples/demos/process_with_dapr/fastapi_app.py
  python/samples/demos/process_with_dapr/process/process.py
  python/samples/demos/process_with_dapr/process/steps.py
  python/semantic_kernel/processes/dapr_runtime/actors/process_actor.py
  python/semantic_kernel/processes/dapr_runtime/actors/step_actor.py
  python/semantic_kernel/processes/dapr_runtime/dapr_actor_registration.py
  python/semantic_kernel/processes/kernel_process/kernel_process.py
  python/semantic_kernel/processes/local_runtime/local_kernel_process_context.py
  python/semantic_kernel/processes/local_runtime/local_process.py
  python/semantic_kernel/processes/local_runtime/local_step.py
  python/semantic_kernel/processes/process_builder.py
  python/tests/unit/processes/dapr_runtime/test_process_actor.py
  python/tests/unit/processes/dapr_runtime/test_step_actor.py
  python/tests/unit/processes/local_runtime/test_local_kernel_process_context.py
  python/tests/unit/processes/local_runtime/test_local_process.py
Labels: python, processes

#10462 Python: Remove old references of plugin import
  python/samples/concepts/filtering/auto_function_invoke_filters.py
  python/samples/getting_started/05-using-the-planner.ipynb
Labels: python

#10481 .Net: Update prompty support to use prompty.core
  dotnet/Directory.Packages.props
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTest.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chat.prompty
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chatJsonObject.prompty
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModel.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModelConfig.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyModelParameters.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyResponseFormat.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyTool.cs
  dotnet/src/Functions/Functions.Prompty/Core/PromptyYaml.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/ApiType.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/ModelType.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/ParserType.cs
  dotnet/src/Functions/Functions.Prompty/Core/Types/RoleType.cs
  dotnet/src/Functions/Functions.Prompty/Functions.Prompty.csproj
  dotnet/src/Functions/Functions.Prompty/KernelFunctionPrompty.cs
Labels: .NET

#10502 Python: set openai package to newer version and removed default value of parallel tool calls
  python/pyproject.toml
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/tests/unit/connectors/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/ai/open_ai/services/test_openai_chat_completion_base.py
  python/uv.lock
Labels: python

#10276 Python: experimental py3.13 support
  .github/workflows/python-build.yml
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-lint.yml
  .github/workflows/python-test-coverage.yml
  .github/workflows/python-unit-tests.yml
  python/.pre-commit-config.yaml
  python/Makefile
  python/pyproject.toml
  python/pyrightconfig.json
  python/samples/concepts/README.md
  python/samples/concepts/auto_function_calling/chat_completion_with_auto_function_calling.py
  python/samples/concepts/planners/azure_openai_function_calling_stepwise_planner.py
  python/samples/concepts/planners/openai_function_calling_stepwise_planner.py
  python/samples/concepts/planners/sequential_planner.py
  python/samples/demos/document_generator/custom_selection_strategy.py
  python/samples/demos/document_generator/custom_termination_strategy.py
  python/samples/demos/guided_conversations/guided_conversation/plugins/agenda.py
  python/samples/demos/guided_conversations/guided_conversation/utils/resources.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_text_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/hugging_face/hf_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_completion.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/connectors/ai/onnx/services/onnx_gen_ai_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/azure_chat_prompt_execution_settings.py
  python/semantic_kernel/contents/binary_content.py
  python/semantic_kernel/core_plugins/sessions_python_tool/sessions_python_settings.py
  python/semantic_kernel/processes/dapr_runtime/actors/process_actor.py
  python/semantic_kernel/processes/dapr_runtime/actors/step_actor.py
  python/semantic_kernel/processes/dapr_runtime/dapr_process_info.py
  python/semantic_kernel/processes/dapr_runtime/dapr_step_info.py
  python/semantic_kernel/processes/dapr_runtime/interfaces/process_interface.py
  python/semantic_kernel/processes/kernel_process/kernel_process_step_context.py
  python/semantic_kernel/processes/local_runtime/local_kernel_process_context.py
  python/semantic_kernel/processes/local_runtime/local_process.py
  python/semantic_kernel/processes/local_runtime/local_step.py
  python/semantic_kernel/prompt_template/prompt_template_base.py
  python/semantic_kernel/prompt_template/prompt_template_config.py
  python/semantic_kernel/template_engine/protocols/code_renderer.py
  python/semantic_kernel/template_engine/protocols/text_renderer.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/decorators.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_text_completion.py
  python/tests/integration/cross_language/test_cross_language.py
  python/tests/integration/embeddings/test_embedding_service_base.py
  python/tests/samples/test_concepts.py
  python/tests/samples/test_learn_resources.py
  python/tests/unit/connectors/ai/onnx/services/test_onnx_chat_completion.py
  python/tests/unit/connectors/ai/onnx/services/test_onnx_text_completion.py
  python/tests/unit/connectors/ai/open_ai/test_openai_request_settings.py
  python/tests/unit/test_serialization.py
  python/uv.lock
Labels: python, documentation

#10441 .Net: Add hybrid search abstraction and azure ai search implementation
  docs/decisions/00NN-hybrid-search.md
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IKeywordVectorizedHybridSearch.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/KeywordVectorizedHybridSearchOptions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchConfigConditionAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseKeywordVectorizedHybridSearchTests.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyReader.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreRecordPropertyReaderTests.cs
Labels: .NET, kernel, documentation, memory

#10498 Python: Fix csv file paths for learn site sample. Improve streaming output formatting with code present
  python/samples/concepts/agents/assistant_agent/assistant_agent_file_manipulation.py
  python/samples/concepts/agents/assistant_agent/assistant_agent_file_manipulation_streaming.py
  python/samples/concepts/agents/mixed_chat/mixed_chat_files.py
  python/samples/learn_resources/agent_docs/assistant_code.py
Labels: python

#10497 Python: Add Azure AI Agent AI Search Sample. Update memory sample with README.
  .github/_typos.toml
  python/samples/concepts/agents/azure_ai_agent/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_azure_ai_search.py
  python/samples/concepts/agents/mixed_chat/mixed_chat_images.py
  python/samples/concepts/agents/mixed_chat/mixed_chat_reset.py
  python/samples/concepts/memory/azure_ai_search_hotel_samples/README.md
  python/samples/concepts/memory/azure_ai_search_hotel_samples/step_0_data_model.py
  python/samples/concepts/memory/azure_ai_search_hotel_samples/step_1_interact_with_the_collection.py
  python/samples/concepts/memory/azure_ai_search_hotel_samples/step_2_use_as_a_plugin.py
  python/samples/getting_started_with_agents/azure_ai_agent/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/step1_azure_ai_agent.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/group_chat/agent_group_chat.py
  python/semantic_kernel/agents/strategies/termination/default_termination_strategy.py
Labels: python, documentation

#10500 Python: Bump Python version to 1.21.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10496 .Net: Update {Azure}OpenAI Connectors to latest 2.2.0-beta.1
  dotnet/Directory.Packages.props
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step05_AssistantTool_Function.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/AzureClientCoreTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAITextToAudioServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIPromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AuthorRole.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistory.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryTests.cs
Labels: .NET, kernel, kernel.core

#10509 .Net: Updated package version
  dotnet/nuget/nuget-package.props
Labels: .NET

#10503 .Net: Hybrid model orchestration sample
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/ChatCompletion/HybridCompletion_Fallback.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#10505 .Net: Add qdrant and weaviate keyword hybrid search implementations and tests
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateConstants.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantNamedVectorsKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantSingleVectorKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateKeywordVectorizedHybridSearchTests.cs
Labels: .NET, kernel, documentation, memory

#10513 .NET Agents - Fix enum handling of function parameters
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Resources/Agents/ParrotAgent.yaml
  dotnet/samples/Concepts/Resources/Agents/ToolAgent.yaml
  dotnet/samples/Concepts/Resources/Agents/travelinfo.txt
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step01_AzureAIAgent.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step02_AzureAIAgent_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step03_AzureAIAgent_Chat.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step04_AzureAIAgent_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step05_AzureAIAgent_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step06_AzureAIAgent_OpenAPI.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step07_AzureAIAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step01_Assistant.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step02_Assistant_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step03_Assistant_Vision.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step04_AssistantTool_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step05_AssistantTool_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step06_AssistantTool_Function.cs
  dotnet/samples/GettingStartedWithAgents/Plugins/MenuPlugin.cs
  dotnet/samples/GettingStartedWithAgents/Plugins/WidgetFactory.cs
  dotnet/samples/GettingStartedWithAgents/README.md
  dotnet/samples/GettingStartedWithAgents/Step02_Plugins.cs
  dotnet/src/Agents/AzureAI/Agents.AzureAI.csproj
  dotnet/src/Agents/OpenAI/Agents.OpenAI.csproj
  dotnet/src/InternalUtilities/agents/Extensions/KernelFunctionMetadataExtensions.cs
Labels: bug, .NET, agents, documentation

#10529 .Net: Fix bug where special chars in collection name fails index creation.
  dotnet/samples/GettingStartedWithAgents/Step04_KernelFunctionStrategies.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreCollectionSqlBuilder.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#10524 .Net: Add Azure CosmosDB NoSQL Hybrid Keyword Search
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLConnectionStringSetConditionAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreFixture.cs
Labels: .NET, kernel, memory

#10519 .Net Agents: Fix consumption of execution settings when defining agent from template.
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step01_AzureAIAgent.cs
  dotnet/samples/GettingStartedWithAgents/Resources/AutoInvokeTools.yaml
  dotnet/samples/GettingStartedWithAgents/Step01_Agent.cs
  dotnet/samples/GettingStartedWithAgents/Step02_Plugins.cs
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/UnitTests/Core/ChatCompletionAgentTests.cs
  dotnet/src/Agents/UnitTests/KernelAgentTests.cs
  dotnet/src/Agents/UnitTests/MockAgent.cs
Labels: bug, .NET, experimental, agents

#10329 Python: removes AWS "us." region prefix from model id
  python/semantic_kernel/connectors/ai/bedrock/services/model_provider/bedrock_model_provider.py
  python/tests/unit/connectors/ai/bedrock/services/test_bedrock_model_provider_utils.py
Labels: python

#10494 .Net: Removed Obsolete VolatileVectorStore and references.
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/Data/KernelBuilderExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/ServiceCollectionExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStore.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreCollectionSearchMapping.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreKeyResolver.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollectionOptions.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreVectorResolver.cs
  dotnet/src/SemanticKernel.UnitTests/Data/KernelBuilderExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/ServiceCollectionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreTests.cs
Labels: .NET, kernel

#10538 Python: add AzureAIAgent client creation method. Handle user_agent.
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_azure_ai_search.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_file_manipulation.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_streaming.py
  python/samples/getting_started_with_agents/azure_ai_agent/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/step1_azure_ai_agent.py
  python/samples/getting_started_with_agents/azure_ai_agent/step2_azure_ai_agent_chat.py
  python/samples/getting_started_with_agents/azure_ai_agent/step3_azure_ai_agent_code_interpreter.py
  python/samples/getting_started_with_agents/azure_ai_agent/step4_azure_ai_agent_file_search.py
  python/samples/getting_started_with_agents/azure_ai_agent/step5_azure_ai_agent_openapi.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/connectors/ai/open_ai/settings/azure_open_ai_settings.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent.py
  python/uv.lock
Labels: python, documentation

#10539 Python: Bump Python version to 1.21.1 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10540 Python: Updates to doc gen demo after introducing KernelArgs to Chat Completion Agent. Typing updates.
  python/samples/demos/document_generator/agents/code_validation_agent.py
  python/samples/demos/document_generator/agents/content_creation_agent.py
  python/samples/demos/document_generator/agents/custom_agent_base.py
  python/samples/demos/document_generator/agents/user_agent.py
  python/samples/demos/document_generator/custom_selection_strategy.py
  python/samples/demos/document_generator/custom_termination_strategy.py
  python/samples/demos/document_generator/plugins/repo_file_plugin.py
Labels: python

#10533 .Net: Azure OpenAI Connector - Adding new max completion tokens override parameter
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
Labels: .NET, kernel

#10525 .Net: Add mongodb hybrid keyword search implementation
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollectionOptions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBKeywordVectorizedHybridSearchTests.cs
  dotnet/src/InternalUtilities/connectors/Memory/MongoDB/MongoDBConstants.cs
Labels: .NET, kernel, memory

#10569 .Net: Add option to disable automatic HTML decoding for Handlebars templates
  dotnet/src/Extensions/Extensions.UnitTests/PromptTemplates/Handlebars/HandlebarsPromptTemplateTests.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplate.cs
  dotnet/src/Extensions/PromptTemplates.Handlebars/HandlebarsPromptTemplateOptions.cs
Labels: .NET, kernel

#10568 .Net: Include developer role in parsing regex
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
Labels: .NET, kernel

#10355 Python: .Net: ADR for realtime
  docs/decisions/0065-realtime-api-clients.md
Labels: documentation

#10573 .Net: Update Microsoft.Extensions.AI packages to the latest version.
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/ChatCompletion/HybridCompletion_Fallback.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Services/AzureAIInferenceChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Settings/AzureAIInferencePromptExecutionSettings.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AIFunctionKernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatClientChatCompletionService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceChatClient.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/EmbeddingGenerationServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AbstractionsJsonContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionSchemaModel.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
Labels: .NET, kernel, kernel.core

#10598 Python: Fix Infinite Recursion in Hashing Logic by Tracking Visited Objects
  python/semantic_kernel/contents/utils/hashing.py
  python/tests/unit/contents/test_hashing_utils.py
Labels: python

#10560 Python: update GoogleConnector settings arg to search_api_key from api_key
  python/semantic_kernel/connectors/search_engine/google_connector.py
Labels: python

#10599 Python: Bump Python version to 1.21.2 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10585 Python: Update install-uv target to install uv into active virtual env if available
  python/Makefile
Labels: python

#10588 Python: filter improvements
  python/samples/concepts/caching/semantic_caching.py
  python/samples/concepts/filtering/function_invocation_filters_stream.py
  python/samples/concepts/filtering/retry_with_different_model.py
  python/samples/concepts/filtering/retry_with_filters.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/memory/in_memory/in_memory_collection.py
  python/semantic_kernel/filters/auto_function_invocation/auto_function_invocation_context.py
  python/semantic_kernel/filters/filter_context_base.py
  python/semantic_kernel/filters/functions/function_invocation_context.py
  python/semantic_kernel/filters/kernel_filters_extension.py
  python/semantic_kernel/filters/prompts/prompt_render_context.py
  python/semantic_kernel/functions/function_result.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/utils/list_handler.py
  python/tests/samples/test_concepts.py
  python/tests/unit/kernel/test_kernel.py
  python/uv.lock
Labels: python, memory

#10590 .Net: Obsolete MEVD connectors collection factories
  dotnet/SK-dotnet.sln.DotSettings
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/AzureAISearchFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/PineconeFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/QdrantFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/RedisFactory.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_CustomMapper.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/IAzureAISearchVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/IAzureCosmosDBMongoDBVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/IAzureCosmosDBNoSQLVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/IMongoDBVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/IPineconeVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/IQdrantVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/IRedisVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/ISqliteVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/IWeaviateVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreTests.cs
Labels: .NET, kernel, memory

#10603 Python: Fix kernel parameter metadata input type arg to call type_
  python/semantic_kernel/prompt_template/prompt_template_config.py
  python/tests/unit/prompt_template/test_prompt_templates.py
Labels: kernel.core

#10607 Python: Add support for AutoGen's 0.2 ConversableAgent
  python/pyproject.toml
  python/samples/concepts/agents/autogen_conversable_agent/README.md
  python/samples/concepts/agents/autogen_conversable_agent/autogen_conversable_agent_code_executor.py
  python/samples/concepts/agents/autogen_conversable_agent/autogen_conversable_agent_convo_with_tools.py
  python/samples/concepts/agents/autogen_conversable_agent/autogen_conversable_agent_simple_convo.py
  python/semantic_kernel/agents/autogen/README.md
  python/semantic_kernel/agents/autogen/__init__.py
  python/semantic_kernel/agents/autogen/autogen_conversable_agent.py
  python/tests/unit/agents/autogen_conversable_agent/test_autogen_conversable_agent.py
  python/uv.lock
Labels: python, agents, autogen

#10616 .Net Agents - Refine client provider/factory
  dotnet/src/Agents/AzureAI/AzureAIAgent.ClientFactory.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.ClientFactory.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAssistantTest.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAzureTest.cs
Labels: .NET, enhancement, agents, feature_graduation

#10618 .Net: Add Bedrock Agent tests
  dotnet/Directory.Packages.props
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/UnitTests/Agents.UnitTests.csproj
  dotnet/src/Agents/UnitTests/Bedrock/BedrockAgentChannelTests.cs
  dotnet/src/Agents/UnitTests/Bedrock/BedrockAgentTests.cs
  dotnet/src/Agents/UnitTests/Bedrock/Extensions.cs/BedrockAgentExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Bedrock/Extensions.cs/BedrockFunctionSchemaExtensionsTests.cs
  dotnet/src/IntegrationTests/Agents/BedrockAgentTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/TestSettings/BedrockAgentConfiguration.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET

#10628 .Net Agents - Fix typos and sample execution settings
  dotnet/samples/Concepts/Agents/ChatCompletion_FunctionTermination.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_Serialization.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_ServiceSelection.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_Streaming.cs
  dotnet/samples/Concepts/Agents/ComplexChat_NestedShopper.cs
  dotnet/samples/GettingStartedWithAgents/Step02_Plugins.cs
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentChannel.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/Internal/BroadcastQueue.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantToolResourcesFactory.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
Labels: .NET, agents, documentation

#10574 .Net: Change Agents.Abstractions to depend on SemanticKernel.Abstractions instead of SemanticKernel.Core
  dotnet/samples/Concepts/Agents/ChatCompletion_Templating.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Templating.cs
  dotnet/samples/GettingStartedWithAgents/Step01_Agent.cs
  dotnet/samples/GettingStartedWithAgents/Step02_Plugins.cs
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Core/Agents.Core.csproj
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/UnitTests/Agents.UnitTests.csproj
  dotnet/src/Agents/UnitTests/Core/ChatCompletionAgentTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantAgentTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionNoop.cs
  dotnet/src/SemanticKernel.Abstractions/Services/AIServiceExtensions.cs
Labels: .NET, agents, kernel.core, feature_graduation

#10614 .Net: Adds Process Framework with Aspire demo
  .github/_typos.toml
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.AppHost/ProcessFramework.Aspire.AppHost.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.AppHost/Program.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.AppHost/appsettings.json
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/Models/ProcessEvents.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/ProcessFramework.Aspire.ProcessOrchestrator.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/ProcessFramework.Aspire.ProcessOrchestrator.http
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/Program.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/Steps/SummarizeStep.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/Steps/TranslateStep.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/SummaryAgentHttpClient.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/TranslatorAgentHttpClient.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/appsettings.json
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ServiceDefaults/Extensions.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ServiceDefaults/ProcessFramework.Aspire.ServiceDefaults.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.Shared/ProcessFramework.Aspire.Shared.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.Shared/SummarizeRequest.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.Shared/TranslationRequest.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.SummaryAgent/ProcessFramework.Aspire.SummaryAgent.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.SummaryAgent/ProcessFramework.Aspire.SummaryAgent.http
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.SummaryAgent/Program.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.SummaryAgent/appsettings.json
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.TranslatorAgent/ProcessFramework.Aspire.TranslatorAgent.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.TranslatorAgent/ProcessFramework.Aspire.TranslatorAgent.http
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.TranslatorAgent/Program.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.TranslatorAgent/appsettings.json
  dotnet/samples/Demos/ProcessFrameworkWithAspire/README.md
  dotnet/samples/Demos/ProcessFrameworkWithAspire/docs/architecture.png
  dotnet/samples/Demos/ProcessFrameworkWithAspire/docs/aspire-dashboard.png
  dotnet/samples/Demos/ProcessFrameworkWithAspire/docs/aspire-metrics.png
  dotnet/samples/Demos/ProcessFrameworkWithAspire/docs/aspire-traces.png
Labels: .NET, experimental, enhancement, agents, samples

#10551 .Net: Add prompt execution settings to AutoFunctionInvocationContext
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/AutoFunctionInvocationFilterTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/AutoFunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/Prompt/PromptRenderContext.cs
  dotnet/src/SemanticKernel.Abstractions/Kernel.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/PromptRenderFilterTests.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/AIConnectors/FunctionCallsProcessorTests.cs
Labels: .NET, kernel, kernel.core, needs_port_to_python

#10677 .Net: Updated package version
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET

#10670 Python: removed pyright until we have time to reevaluate typing setup
  python/pyproject.toml
  python/pyrightconfig.json
  python/uv.lock
Labels: python

#10682 .Net: Add support for OpenAPI parameters defined with schema but without a type
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.OpenApi/Serialization/OpenApiTypeConverter.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/OpenApiTypeConverterTests.cs
Labels: .NET, openapi

#10684 .Net: Update sample to demonstrate how hybrid AI orchestration can be used with Kernel
  dotnet/samples/Concepts/ChatCompletion/HybridCompletion_Fallback.cs
Labels: .NET, ai connector

#10260 .Net: Phase 1 of the declarative agent schema for review
  docs/decisions/0018-custom-prompt-template-formats.md
  docs/decisions/NNNN-declarative-agent-schema.md
  dotnet/SK-dotnet.sln
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/src/Agents/Abstractions/Definition/AgentDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/AgentToolDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/KernelAgentFactory.cs
  dotnet/src/Agents/Abstractions/Definition/ModelConfiguration.cs
  dotnet/src/Agents/Abstractions/Definition/ModelDefinition.cs
  dotnet/src/Agents/Abstractions/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Agents.AzureAI.csproj
  dotnet/src/Agents/AzureAI/AzureAIClientProvider.cs
  dotnet/src/Agents/AzureAI/Definition/AzureAIAgentFactory.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/KernelExtensions.cs
  dotnet/src/Agents/Core/Definition/AggregatorKernelAgentFactory.cs
  dotnet/src/Agents/Core/Definition/ChatCompletionAgentFactory.cs
  dotnet/src/Agents/OpenAI/Agents.OpenAI.csproj
  dotnet/src/Agents/OpenAI/Definition/OpenAIAssistantAgentFactory.cs
  dotnet/src/Agents/OpenAI/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/KernelExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/ModelConfigurationExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/PromptExecutionSettingsExtensions.cs
  dotnet/src/Agents/OpenAI/OpenAIClientProvider.cs
  dotnet/src/Agents/UnitTests/Agents.UnitTests.csproj
  dotnet/src/Agents/UnitTests/AzureAI/Definition/AzureAIAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/AzureAI/Extensions/AgentDefinitionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Core/Definition/ChatCompletionAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/Core/Extensions/AgentDefinitionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Core/Factory/AggregatorKernelAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Definition/OpenAIAssistantAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/AgentDefinitionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/KernelExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Test/FakeTokenCredential.cs
  dotnet/src/Agents/UnitTests/Yaml/KernelAgentYamlTests.cs
  dotnet/src/Agents/Yaml/AgentDefinitionYaml.cs
  dotnet/src/Agents/Yaml/Agents.Yaml.csproj
  dotnet/src/Agents/Yaml/KernelAgentFactoryYamlExtensions.cs
  dotnet/src/Extensions/PromptTemplates.Liquid/LiquidPromptTemplate.cs
  dotnet/src/Functions/Functions.Yaml/Functions.Yaml.csproj
  dotnet/src/IntegrationTests/Agents/BedrockAgentTests.cs
  dotnet/src/IntegrationTests/TestSettings/BedrockAgentConfiguration.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/InputVariable.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/TemplateOptions.cs
Labels: .NET, kernel, kernel.core, documentation

#10667 Python: Improve agent getting started samples
  python/samples/getting_started_with_agents/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/step1_azure_ai_agent.py
  python/samples/getting_started_with_agents/azure_ai_agent/step2_azure_ai_agent_chat.py
  python/samples/getting_started_with_agents/azure_ai_agent/step3_azure_ai_agent_code_interpreter.py
  python/samples/getting_started_with_agents/azure_ai_agent/step4_azure_ai_agent_file_search.py
  python/samples/getting_started_with_agents/azure_ai_agent/step5_azure_ai_agent_openapi.py
  python/samples/getting_started_with_agents/chat_completion/README.md
  python/samples/getting_started_with_agents/chat_completion/step1_agent.py
  python/samples/getting_started_with_agents/chat_completion/step1_chat_completion_agent.py
  python/samples/getting_started_with_agents/chat_completion/step2_chat_completion_agent_chat.py
  python/samples/getting_started_with_agents/chat_completion/step2_plugins.py
  python/samples/getting_started_with_agents/chat_completion/step3_chat.py
  python/samples/getting_started_with_agents/chat_completion/step3_kernel_function_strategies.py
  python/samples/getting_started_with_agents/chat_completion/step4_chat_completion_agent_json_result.py
  python/samples/getting_started_with_agents/chat_completion/step5_chat_completion_agent_logging.py
  python/samples/getting_started_with_agents/chat_completion/step5_json_result.py
  python/samples/getting_started_with_agents/chat_completion/step6_logging.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/tests/samples/test_concepts.py
  python/uv.lock
Labels: python, agents, documentation

#10704 Python: improve feature decorator return type so it doesn't affect Pylance
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/utils/feature_stage_decorator.py
  python/uv.lock
Labels: python

#10678 Python: Introducing the Chroma Connector with the new vector store design
  python/samples/concepts/memory/complex_memory.py
  python/semantic_kernel/connectors/memory/chroma/__init__.py
  python/semantic_kernel/connectors/memory/chroma/chroma.py
  python/semantic_kernel/data/record_definition/vector_store_model_definition.py
  python/tests/integration/memory/vector_stores/test_vector_store.py
  python/tests/integration/memory/vector_stores/vector_store_test_base.py
  python/tests/unit/connectors/memory/chroma/test_chroma.py
Labels: python, memory

#10697 .Net: Feature declarative agents experimental
  dotnet/src/Agents/Abstractions/Definition/AgentDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/AgentToolDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/KernelAgentFactory.cs
  dotnet/src/Agents/Abstractions/Definition/ModelConfiguration.cs
  dotnet/src/Agents/Abstractions/Definition/ModelDefinition.cs
  dotnet/src/Agents/AzureAI/Definition/AzureAIAgentFactory.cs
  dotnet/src/Agents/Core/Definition/AggregatorKernelAgentFactory.cs
  dotnet/src/Agents/Core/Definition/ChatCompletionAgentFactory.cs
  dotnet/src/Agents/OpenAI/Definition/OpenAIAssistantAgentFactory.cs
  dotnet/src/Agents/Yaml/AgentDefinitionYaml.cs
  dotnet/src/Agents/Yaml/Agents.Yaml.csproj
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/InputVariable.cs
Labels: .NET, kernel.core

#10700 .Net: Simplify the model classes for the declarative agent definition
  dotnet/src/Agents/Abstractions/Definition/AgentDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/AgentToolDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/ModelConfiguration.cs
  dotnet/src/Agents/Abstractions/Definition/ModelDefinition.cs
  dotnet/src/Agents/Abstractions/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentDefinitionExtensions.cs
Labels: .NET

#10701 Python: Agent `get_response` API
  python/.cspell.json
  python/samples/README.md
  python/samples/SAMPLE_GUIDELINES.md
  python/samples/concepts/agents/openai_assistant/openai_assistant_chart_maker_streaming.py
  python/samples/concepts/agents/openai_assistant/openai_assistant_file_manipulation.py
  python/samples/concepts/agents/openai_assistant/openai_assistant_file_manipulation_streaming.py
  python/samples/getting_started_with_agents/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/step1_azure_ai_agent.py
  python/samples/getting_started_with_agents/azure_ai_agent/step2_azure_ai_agent_plugin.py
  python/samples/getting_started_with_agents/azure_ai_agent/step3_azure_ai_agent_group_chat.py
  python/samples/getting_started_with_agents/azure_ai_agent/step4_azure_ai_agent_code_interpreter.py
  python/samples/getting_started_with_agents/azure_ai_agent/step5_azure_ai_agent_file_search.py
  python/samples/getting_started_with_agents/azure_ai_agent/step6_azure_ai_agent_openapi.py
  python/samples/getting_started_with_agents/chat_completion/step1_chat_completion_agent.py
  python/samples/getting_started_with_agents/chat_completion/step2_chat_completion_agent_plugin.py
  python/samples/getting_started_with_agents/chat_completion/step3_chat_completion_agent_group_chat.py
  python/samples/getting_started_with_agents/chat_completion/step4_kernel_function_strategies.py
  python/samples/getting_started_with_agents/chat_completion/step5_chat_completion_agent_json_result.py
  python/samples/getting_started_with_agents/chat_completion/step6_chat_completion_agent_logging.py
  python/samples/getting_started_with_agents/openai_assistant/step1_assistant.py
  python/samples/getting_started_with_agents/openai_assistant/step2_assistant_plugins.py
  python/samples/getting_started_with_agents/openai_assistant/step3_assistant_vision.py
  python/samples/getting_started_with_agents/openai_assistant/step4_assistant_tool_code_interpreter.py
  python/samples/getting_started_with_agents/openai_assistant/step5_assistant_tool_file_search.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/autogen/autogen_conversable_agent.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/bedrock/bedrock_agent.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/agents/open_ai/function_action_result.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/utils/telemetry/agent_diagnostics/decorators.py
  python/tests/samples/test_concepts.py
  python/tests/unit/agents/autogen_conversable_agent/test_autogen_conversable_agent.py
  python/tests/unit/agents/azure_ai_agent/conftest.py
  python/tests/unit/agents/azure_ai_agent/test_agent_thread_actions.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_channel.py
  python/tests/unit/agents/bedrock_agent/conftest.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent.py
  python/tests/unit/agents/chat_completion/conftest.py
  python/tests/unit/agents/chat_completion/test_chat_completion_agent.py
  python/tests/unit/agents/openai_assistant/conftest.py
  python/tests/unit/agents/openai_assistant/test_assistant_thread_actions.py
  python/tests/unit/agents/openai_assistant/test_open_ai_assistant_agent.py
  python/tests/unit/agents/test_agent.py
  python/tests/unit/agents/test_group_chat_strategies/test_aggregator_termination_strategy.py
  python/tests/unit/agents/test_group_chat_strategies/test_kernel_function_selection_strategy.py
  python/tests/unit/agents/test_group_chat_strategies/test_kernel_function_termination_strategy.py
  python/tests/unit/agents/test_group_chat_strategies/test_sequential_strategy_selection.py
  python/tests/unit/agents/test_group_chat_strategies/test_termination_strategy.py
  python/uv.lock
Labels: python, agents, documentation

#10702 .Net: Add Aspire scaffolding for agent-hosting sample
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Controllers/AgentCompletionRequest.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Controllers/AgentCompletionsController.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/ChatWithAgent.AppHost.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ServiceDefaults/ChatWithAgent.ServiceDefaults.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ServiceDefaults/CommonExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/AgentCompletionsApiClient.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/ChatWithAgent.Web.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/App.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Layout/MainLayout.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Layout/MainLayout.razor.css
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Layout/NavMenu.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Layout/NavMenu.razor.css
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor.css
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Counter.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Error.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Home.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Routes.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/_Imports.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/wwwroot/app.css
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/wwwroot/favicon.png
Labels: .NET

#10480 .Net: Concept sample showing how to switch deployments based on functions being called
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAI_ChatCompletion.cs
  dotnet/samples/Concepts/Filtering/AzureOpenAI_DeploymentSwitch.cs
  dotnet/samples/Concepts/README.md
Labels: .NET, documentation

#10711 .Net: Use Contoso endpoints
  dotnet/samples/Concepts/Filtering/AzureOpenAI_DeploymentSwitch.cs
Labels: .NET

#10705 Python: lazy create stores in integration tests
  python/tests/integration/agents/bedrock_agent/test_bedrock_agent_integration.py
  python/tests/integration/memory/vector_stores/azure_cosmos_db/test_azure_cosmos_db_no_sql.py
  python/tests/integration/memory/vector_stores/test_vector_store.py
  python/tests/integration/memory/vector_stores/vector_store_test_base.py
Labels: python

#10600 .Net Agents: Update experimental meta-data for graduation
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentChannel.cs
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/AgentChatSerializer.cs
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
  dotnet/src/Agents/Abstractions/AggregatorAgent.cs
  dotnet/src/Agents/Abstractions/AggregatorChannel.cs
  dotnet/src/Agents/Abstractions/Internal/BroadcastQueue.cs
  dotnet/src/Agents/Abstractions/Internal/ChannelReference.cs
  dotnet/src/Agents/Abstractions/Logging/AggregatorAgentLogMessages.cs
  dotnet/src/Agents/Abstractions/Properties/AssemblyInfo.cs
  dotnet/src/Agents/Abstractions/Serialization/ChatMessageReference.cs
  dotnet/src/Agents/AzureAI/Agents.AzureAI.csproj
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/Agents.Core.csproj
  dotnet/src/Agents/Core/Chat/AgentGroupChatSettings.cs
  dotnet/src/Agents/Core/Chat/AggregatorTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/RegExTerminationStrategy.cs
  dotnet/src/Agents/Core/Chat/SelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/SequentialSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/TerminationStrategy.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryChannel.cs
  dotnet/src/Agents/Core/ChatHistoryKernelAgent.cs
  dotnet/src/Agents/Core/Internal/ChatMessageForPrompt.cs
  dotnet/src/Agents/Core/Logging/AgentGroupChatLogMessages.cs
  dotnet/src/Agents/Core/Logging/AggregatorTerminationStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/KernelFunctionSelectionStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/KernelFunctionTerminationStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/RegExTerminationStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/SequentialSelectionStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/TerminationStrategyLogMessages.cs
  dotnet/src/Agents/Core/Properties/AssemblyInfo.cs
  dotnet/src/Agents/OpenAI/Agents.OpenAI.csproj
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantCapabilities.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantDefinition.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantExecutionOptions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantInvocationOptions.cs
  dotnet/src/Agents/OpenAI/OpenAIClientProvider.cs
  dotnet/src/Agents/OpenAI/OpenAIThreadCreationOptions.cs
  dotnet/src/Agents/OpenAI/Properties/AssemblyInfo.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingChatMessageContent.cs
Labels: .NET, enhancement, agents, kernel.core, feature_graduation

#10717 .Net: Updated package version
  dotnet/nuget/nuget-package.props
Labels: .NET

#10719 .Net: Adding preview package suffix to Agents.OpenAI.
  dotnet/src/Agents/OpenAI/Agents.OpenAI.csproj
Labels: .NET

#10718 Python: Bump Python version to 1.22.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10707 Python: Allow plugins via agent constructors. Update samples.
  python/samples/concepts/agents/chat_completion_agent/chat_completion_function_termination.py
  python/samples/concepts/agents/mixed_chat/mixed_chat_agents.py
  python/samples/concepts/agents/mixed_chat/mixed_chat_agents_plugins.py
  python/samples/concepts/agents/mixed_chat/mixed_chat_files.py
  python/samples/concepts/agents/mixed_chat/mixed_chat_images.py
  python/samples/concepts/agents/mixed_chat/mixed_chat_reset.py
  python/samples/concepts/agents/mixed_chat/mixed_chat_streaming.py
  python/samples/concepts/agents/openai_assistant/openai_assistant_chart_maker.py
  python/samples/getting_started_with_agents/README.md
  python/samples/getting_started_with_agents/chat_completion/step1_chat_completion_agent_simple.py
  python/samples/getting_started_with_agents/chat_completion/step2_chat_completion_agent_with_kernel.py
  python/samples/getting_started_with_agents/chat_completion/step3_chat_completion_agent_plugin_simple.py
  python/samples/getting_started_with_agents/chat_completion/step4_chat_completion_agent_plugin_with_kernel.py
  python/samples/getting_started_with_agents/chat_completion/step5_chat_completion_agent_group_chat.py
  python/samples/getting_started_with_agents/chat_completion/step6_kernel_function_strategies.py
  python/samples/getting_started_with_agents/chat_completion/step7_chat_completion_agent_json_result.py
  python/samples/getting_started_with_agents/chat_completion/step8_chat_completion_agent_logging.py
  python/samples/getting_started_with_agents/chat_completion/step9_chat_completion_agent_structured_outputs.py
  python/samples/learn_resources/agent_docs/agent_collaboration.py
  python/samples/learn_resources/agent_docs/assistant_code.py
  python/samples/learn_resources/agent_docs/assistant_search.py
  python/samples/learn_resources/agent_docs/chat_agent.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/autogen/autogen_conversable_agent.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/bedrock/bedrock_agent.py
  python/semantic_kernel/agents/channels/chat_history_channel.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/tests/samples/test_concepts.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent.py
  python/tests/unit/agents/chat_completion/conftest.py
  python/tests/unit/agents/chat_completion/test_chat_completion_agent.py
  python/tests/unit/agents/chat_completion/test_chat_history_channel.py
  python/tests/unit/agents/test_group_chat_strategies/test_sequential_strategy_selection.py
Labels: python, PR: breaking change, agents, documentation

#10714 .Net: Add support to deserialize all Azure AI tool types
  dotnet/src/Agents/AzureAI/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentToolDefinitionExtensions.cs
  dotnet/src/Agents/UnitTests/Yaml/AzureAIKernelAgentYamlTests.cs
Labels: .NET

#10724 .Net: Use chat completion agent
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/Hosting/Agent/.gitignore
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Controllers/AgentCompletionsController.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/ChatWithAgent.AppHost.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/AgentCompletionsApiClient.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/ChatWithAgent.Web.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor
  dotnet/samples/Demos/Hosting/Agent/README.md
Labels: .NET, documentation
