Repository microsoft/semantic-kernel, pull requests merged in 2025-09, with the labels that each got.

#12977 Python: fix (openai): only propagate usage metadata for final streaming chunk without choices
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
Labels: python

#13058 Python: Don't return code output via on_intermediate_msg callback
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
Labels: python, agents

#13067 Python: Bump Python version to 1.36.2 for a release
  python/semantic_kernel/__init__.py
Labels: python

#13036 .Net: Fix batch operation non-string keys with MongoDB
  dotnet/src/VectorData/MongoDB/MongoCollection.cs
Labels: .NET

#13100 .Net: Version bump 1.65.0
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET

#13127 Python: Bump Python version to 1.37.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#13138 Python: Fix AzureAIAgent readme links
  python/samples/getting_started_with_agents/README.md
Labels: agents, documentation, samples

#13153 .Net & Python: Add tool definitions to agent invoke span
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIChannel.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
  python/semantic_kernel/utils/telemetry/agent_diagnostics/decorators.py
  python/semantic_kernel/utils/telemetry/agent_diagnostics/gen_ai_attributes.py
Labels: .NET, python, telemetry

#13195 .Net: Fix Json serialization mistake in GenAI telemetry
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET, telemetry
