Repository microsoft/semantic-kernel, pull requests merged in 2025-01, with the labels that each got.

#10058 use ubuntu 22 for link check
  .github/workflows/markdown-link-check.yml
  dotnet/src/Connectors/Connectors.Memory.Chroma/README.md
Labels: .NET, kernel, documentation, memory

#10027 Python: Fix pydantic alias issue
  python/semantic_kernel/connectors/memory/azure_cosmosdb/azure_cosmosdb_settings.py
Labels: python, memory

#9999 .Net: fix: expected empty response in rest APIs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
Labels: .NET

#9997 .Net: fix payload parameter value resolution
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV2_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_0.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/documentV3_1.yaml
Labels: .NET, openapi

#10000 .Net: Handle media types with parameters
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
Labels: .NET, openapi

#9954 Python: .Net: Add function calling with AzureAIInference sample
  dotnet/samples/Concepts/FunctionCalling/AzureAIInference_FunctionCalling.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Settings/AzureAIInferencePromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Settings/AzureAIInferencePromptExecutionSettings.cs
  python/samples/concepts/chat_completion/simple_chatbot_store_metadata.py
Labels: .NET, python, kernel, documentation

#10013 .Net: Remove potential ambituity for Step05 Processes Sample
  dotnet/samples/GettingStartedWithProcesses/Step05/Step05_MapReduce.cs
Labels: bug, PR: ready for review, .NET, processes

#10080 .Net: RestApiOperationRunner refactoring
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
Labels: .NET, openapi

#10037 .Net: Support DateTime parameters in tools for Assistants API #9940
  dotnet/src/Agents/OpenAI/Extensions/KernelFunctionExtensions.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/KernelFunctionExtensionsTests.cs
Labels: .NET, experimental, enhancement, agents

#10051 Python: change order used to check variants in (de)ser steps
  python/semantic_kernel/data/vector_storage/vector_store_record_collection.py
Labels: python

#10055 .Net: Add JsonNumberHandling Attribute to Execution Settings in Ollama, ONNX, and Other Connectors
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFacePromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Ollama/Settings/OllamaPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIAudioToTextExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAITextToAudioExecutionSettings.cs
Labels: .NET, kernel

#10054 .Net: HomeAutomation AzureOpenAI Configuration Fix
  dotnet/samples/Demos/HomeAutomation/HomeAutomation.csproj
  dotnet/samples/Demos/HomeAutomation/Options/AzureOpenAIOptions.cs
  dotnet/samples/Demos/HomeAutomation/Options/OpenAIOptions.cs
  dotnet/samples/Demos/HomeAutomation/Program.cs
Labels: .NET

#9705 .Net: Process mermaid flowchart code generation, image generation on flowchart and sample usage.
  dotnet/Directory.Packages.props
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithProcesses/Step01/Step01_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03a_FoodPreparation.cs
  dotnet/samples/GettingStartedWithProcesses/Utilities/MermaidRenderer.cs
  dotnet/src/Experimental/Process.Core/Tools/ProcessVisualizationExtensions.cs
Labels: PR: ready for review, .NET, experimental, enhancement, processes

#10106 .Net: Add factory for customizing OpenAPI plugins responses
  dotnet/samples/Concepts/Plugins/OpenApiPlugin_RestApiOperationResponseFactory.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Functions/Functions.Grpc/Functions.Grpc.csproj
  dotnet/src/Functions/Functions.Markdown/Functions.Markdown.csproj
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationResponseFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationResponseFactoryContext.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/RestApiOperationResponse.cs
Labels: .NET, openapi, kernel.core, documentation

#10096 Python: Agent content generation for function call content should be assistant role
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
Labels: python, agents

#9924 .Net: adds support for strict mode with OpenAI
  dotnet/samples/Concepts/Agents/DeclarativeAgents.cs
  dotnet/samples/Concepts/Plugins/ApiManifestBasedPlugins.cs
  dotnet/samples/Concepts/Plugins/CopilotAgentBasedPlugins.cs
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/DriveItemPlugin/driveitem-openapi.yml
  dotnet/samples/Demos/OpenAIRealtime/Program.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIFunctionTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Extensions/KernelFunctionMetadataExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/OpenAIFunction.cs
  dotnet/src/Connectors/Connectors.OpenAI/ToolCallBehavior.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/CopilotAgentPluginKernelExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/Extensions/RestApiOperationExtensions.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiParameter.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApiKernelPluginFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiParameterFilter.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiParameterFilterContext.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/PromptExecutionSettingsTypeConverterTests.cs
  dotnet/src/InternalUtilities/src/Schema/KernelJsonSchemaBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorOptions.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorDeserializationTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionMetadataTests.cs
  dotnet/src/SemanticKernel.UnitTests/PromptTemplate/PromptTemplateConfigTests.cs
Labels: .NET, kernel, kernel.core

#10063 Python: Improve azure assistant agent settings and retrieval operations.
  python/DEV_SETUP.md
  python/samples/concepts/agents/assistant_agent_retrieval.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/tests/unit/agents/test_azure_assistant_agent.py
Labels: python, agents, documentation

#10111 .Net: Version 1.33.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#10028 Python: Update README.md
  python/README.md
Labels: python, documentation

#10095 Python: Remove OpenAI plugin. Update OpenAPI exec params to use direct predicate reference
  python/samples/concepts/plugins/openai_plugin_azure_key_vault.py
  python/samples/concepts/plugins/openai_plugin_klarna.py
  python/semantic_kernel/connectors/openai_plugin/__init__.py
  python/semantic_kernel/connectors/openai_plugin/openai_authentication_config.py
  python/semantic_kernel/connectors/openai_plugin/openai_function_execution_parameters.py
  python/semantic_kernel/connectors/openai_plugin/openai_utils.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_function_execution_parameters.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_manager.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_parser.py
  python/semantic_kernel/functions/kernel_function_extension.py
  python/semantic_kernel/functions/kernel_plugin.py
  python/tests/conftest.py
  python/tests/samples/test_concepts.py
  python/tests/unit/connectors/openai_plugin/test_openai_plugin.py
  python/tests/unit/connectors/openapi_plugin/test_sk_openapi.py
  python/tests/unit/functions/test_kernel_plugins.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#10115 Python: Bump Python version to 1.18.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10003 .Net: Fix bash script to build the dotnet solution
  dotnet/build.sh
Labels: .NET

#10123 .Net: Use UriKind.Relative
  dotnet/samples/LearnResources/Plugins/GitHub/GitHubPlugin.cs
Labels: .NET

#10119 .Net: fix bug: Example Step00 of Process Framework is wrong
  dotnet/samples/GettingStartedWithProcesses/Step00/Step00_Processes.cs
Labels: .NET

#10136 Python: Temporarily xFail some google ai integration tests to unblock
  python/tests/integration/completions/test_chat_completion_with_function_calling.py
  python/tests/integration/completions/test_chat_completion_with_image_input_text_output.py
Labels: python

#10132 Python: Fix function call content argument parsing
  python/DEV_SETUP.md
  python/semantic_kernel/contents/function_call_content.py
  python/tests/unit/contents/test_function_call_content.py
Labels: python, documentation

#10118 Python: Upgrade AOAI api version to latest GA: 2024-10-21
  python/semantic_kernel/connectors/ai/open_ai/const.py
  python/uv.lock
Labels: python

#10116 Python: Improve agent retrieval by passing necessary kwargs. Add unit tests.
  python/samples/concepts/agents/assistant_agent_retrieval.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/tests/unit/agents/test_azure_assistant_agent.py
  python/tests/unit/agents/test_open_ai_assistant_agent.py
Labels: python, agents

#10146 Python: Bump Python version to 1.18.1 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10143 .Net: Add unit tests for Text Search AOT enhancements
  dotnet/src/SemanticKernel.AotTests/JsonSerializerContexts/CustomResultJsonSerializerContext.cs
  dotnet/src/SemanticKernel.AotTests/Plugins/CustomResult.cs
  dotnet/src/SemanticKernel.AotTests/Program.cs
  dotnet/src/SemanticKernel.AotTests/SemanticKernel.AotTests.csproj
  dotnet/src/SemanticKernel.AotTests/UnitTests/Search/MockTextSearch.cs
  dotnet/src/SemanticKernel.AotTests/UnitTests/Search/TextSearchExtensionsTests.cs
  dotnet/src/SemanticKernel.AotTests/UnitTests/Search/VectorStoreTextSearchTests.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchExtensions.cs
Labels: .NET

#10144 .Net: Add shared integration tests for checking vector search scores
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/InMemory/CommonInMemoryVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/CommonPostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/CommonQdrantVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel

#10135 .Net: Google Gemini - Adding response schema (Structured Outputs support)
  .editorconfig
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/GeminiPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.Google/GeminiPromptExecutionSettings.cs
Labels: .NET, kernel

#10163 Python: Configure top_p and temp for assistant agents if configured
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
Labels: python, agents

#10161 Python: Provide full list of samples in concepts README.
  python/samples/concepts/README.md
  python/samples/concepts/structured_outputs/README.md
  python/samples/concepts/structured_outputs/json_structured_outputs.py
  python/samples/concepts/structured_outputs/json_structured_outputs_function_calling.py
Labels: python, documentation

#10171 Python: Bump Python version to 1.18.2 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10129 .Net: Add a request index to the streamed function call update content
  dotnet/samples/Concepts/FunctionCalling/FunctionCalling.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FunctionCallContentBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingFunctionCallUpdateContent.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/FunctionCallBuilder/FunctionCallContentBuilderTests.cs
Labels: .NET, kernel, kernel.core, function_calling

#10173 Python: Update gen_ai traces and logs
  python/semantic_kernel/utils/telemetry/model_diagnostics/decorators.py
  python/semantic_kernel/utils/telemetry/model_diagnostics/gen_ai_attributes.py
  python/tests/unit/utils/model_diagnostics/test_trace_chat_completion.py
  python/tests/unit/utils/model_diagnostics/test_trace_streaming_chat_completion.py
  python/tests/unit/utils/model_diagnostics/test_trace_streaming_text_completion.py
  python/tests/unit/utils/model_diagnostics/test_trace_text_completion.py
Labels: python

#10033 Python: Feat/Add DEVELOPER role for openai o1
  python/samples/concepts/README.md
  python/samples/concepts/reasoning/simple_reasoning.py
  python/samples/concepts/reasoning/simple_reasoning_function_calling.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/utils.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/contents/chat_history.py
  python/semantic_kernel/contents/utils/author_role.py
  python/uv.lock
Labels: python, documentation

#10178 .Net: Fixed the condition judgment of the TrackStreamingToolingUpdate method
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIFunctionToolCallTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/OpenAIFunctionToolCall.cs
Labels: .NET, kernel

#10170 .Net: Fixing distance functions for Pinecone, Weaviate and Redis and adding integration tests for score testing for these.
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/DistanceFunction.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/CommonPineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/CommonRedisHashsetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/CommonRedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/CommonWeaviateVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#10159 .Net: Add Async Support for ConverseStreamResponse to Avoid Thread Blocking
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/Clients/BedrockChatCompletionClient.cs
Labels: .NET, kernel

#10235 .Net: Python: fix pre-commit version
  dotnet/src/Connectors/Connectors.Memory.Redis/README.md
  python/.pre-commit-config.yaml
  python/semantic_kernel/connectors/memory/redis/README.md
  python/uv.lock
Labels: .NET, python, kernel, documentation, memory

#10191 Python: Update sort step method for assistant invoke.
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
  python/uv.lock
Labels: python

#10199 .Net: Update M.E.AI to 9.1.0-preview.1.25064.3
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatClientChatCompletionService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceChatClient.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
Labels: .NET, kernel, kernel.core

#10227 .Net: OllamaPromptExecutionSettings doesn't have NumPredict property
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Settings/OllamaPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextGenerationService.cs
  dotnet/src/Connectors/Connectors.Ollama/Settings/OllamaPromptExecutionSettings.cs
Labels: .NET, kernel

#10180 .Net: Add support for Base64 encoded images in MistralAI
  dotnet/samples/Concepts/ChatCompletion/MistralAI_ChatCompletion.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.MistralAI/Client/ImageUrlChunk.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/ChatCompletion/MistralAIChatCompletionTests.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, kernel, documentation

#10236 .Net: Refactor shared integration tests to allow attribute based disable.
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/CommonPineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeApiKeySetConditionAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeFactAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeTheoryAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/CommonRedisHashsetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/CommonRedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Xunit/DisableVectorStoreTestsAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Xunit/ITestCondition.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Xunit/VectorStoreFactAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Xunit/VectorStoreFactDiscoverer.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Xunit/VectorStoreFactTestCase.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Xunit/VectorStoreTheoryAttribute.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Xunit/VectorStoreTheoryDiscoverer.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Xunit/VectorStoreTheoryTestCase.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Xunit/XunitTestCaseExtensions.cs
Labels: .NET, kernel

#10246 Python: improve Makefile uv installation logic
  python/Makefile
Labels: python

#10245 Python: Grab function_name from kwargs if present in ProcessStepEdgeBuilder
  python/semantic_kernel/processes/process_step_edge_builder.py
  python/tests/unit/processes/test_process_step_edge_builder.py
Labels: python

#10254 Python: Bump Python version to 1.19.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10255 Python: Add agent invocation spans
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/semantic_kernel/utils/telemetry/agent_diagnostics/__init__.py
  python/semantic_kernel/utils/telemetry/agent_diagnostics/decorators.py
  python/tests/unit/utils/agent_diagnostics/test_agent_decorated.py
  python/tests/unit/utils/agent_diagnostics/test_trace_chat_completion_agent.py
  python/tests/unit/utils/agent_diagnostics/test_trace_open_ai_assistant_agent.py
  python/tests/unit/utils/model_diagnostics/test_connector_decorated.py
Labels: python, agents

#10248 .Net: Function Calling Reliability ADR
  docs/decisions/0063-function-calling-reliability.md
Labels: ai connector, documentation, function_calling

#10232 .Net: Onnx Chinese Characters Fix
  dotnet/samples/Demos/OnnxSimpleRAG/Program.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIChatCompletionService.cs
Labels: .NET, kernel

#10257 .Net: Sanitize function names
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
Labels: .NET, kernel, ai connector, function_calling

#10264 .Net: Updated package version
  dotnet/nuget/nuget-package.props
Labels: .NET

#10270 Python: bug fixes from graphrag insights
  python/.vscode/tasks.json
  python/semantic_kernel/agents/group_chat/broadcast_queue.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/prompt_execution_settings.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_settings.py
  python/semantic_kernel/connectors/memory/weaviate/weaviate_settings.py
  python/semantic_kernel/contents/utils/data_uri.py
  python/semantic_kernel/data/filter_clauses/any_tags_equal_to_filter_clause.py
  python/semantic_kernel/data/filter_clauses/equal_to_filter_clause.py
  python/semantic_kernel/data/filter_clauses/filter_clause_base.py
  python/semantic_kernel/data/record_definition/vector_store_model_decorator.py
  python/semantic_kernel/data/text_search/text_search.py
  python/semantic_kernel/data/text_search/utils.py
  python/semantic_kernel/data/text_search/vector_store_text_search.py
  python/semantic_kernel/data/vector_storage/vector_store_record_collection.py
  python/semantic_kernel/functions/kernel_function_from_prompt.py
  python/semantic_kernel/processes/local_runtime/local_step.py
  python/semantic_kernel/template_engine/blocks/function_id_block.py
  python/tests/unit/data/test_vector_store_model_decorator.py
  python/uv.lock
Labels: python, memory

#10190 Python: Introduce the chat history reducer
  python/samples/concepts/README.md
  python/samples/concepts/agents/chat_completion_history_reducer.py
  python/samples/concepts/chat_completion/simple_chatbot_with_summary_history_reducer.py
  python/samples/concepts/chat_completion/simple_chatbot_with_summary_history_reducer_keep_func_content.py
  python/samples/concepts/chat_completion/simple_chatbot_with_truncation_history_reducer.py
  python/samples/concepts/plugins/openai_function_calling_with_custom_plugin.py
  python/samples/concepts/reasoning/simple_reasoning_function_calling.py
  python/samples/concepts/setup/chat_completion_services.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/channels/chat_history_channel.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/strategies/selection/kernel_function_selection_strategy.py
  python/semantic_kernel/agents/strategies/selection/selection_strategy.py
  python/semantic_kernel/agents/strategies/selection/sequential_selection_strategy.py
  python/semantic_kernel/agents/strategies/termination/kernel_function_termination_strategy.py
  python/semantic_kernel/connectors/ai/anthropic/prompt_execution_settings/anthropic_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/semantic_kernel/connectors/ai/anthropic/services/utils.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_base.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_chat_completion.py
  python/semantic_kernel/connectors/ai/bedrock/services/model_provider/utils.py
  python/semantic_kernel/connectors/ai/chat_completion_client_base.py
  python/semantic_kernel/connectors/ai/function_call_behavior.py
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/connectors/ai/function_choice_behavior.py
  python/semantic_kernel/connectors/ai/function_choice_type.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/utils.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/utils.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_chat_completion.py
  python/semantic_kernel/connectors/ai/ollama/services/utils.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_chat_completion_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_config_base.py
  python/semantic_kernel/contents/__init__.py
  python/semantic_kernel/contents/function_call_content.py
  python/semantic_kernel/contents/history_reducer/__init__.py
  python/semantic_kernel/contents/history_reducer/chat_history_reducer.py
  python/semantic_kernel/contents/history_reducer/chat_history_reducer_utils.py
  python/semantic_kernel/contents/history_reducer/chat_history_summarization_reducer.py
  python/semantic_kernel/contents/history_reducer/chat_history_truncation_reducer.py
  python/semantic_kernel/exceptions/agent_exceptions.py
  python/semantic_kernel/exceptions/content_exceptions.py
  python/tests/unit/agents/test_chat_completion_agent.py
  python/tests/unit/agents/test_chat_history_channel.py
  python/tests/unit/agents/test_sequential_strategy_selection.py
  python/tests/unit/connectors/ai/azure_ai_inference/services/test_azure_ai_inference_chat_completion.py
  python/tests/unit/connectors/ai/open_ai/services/test_azure_chat_completion.py
  python/tests/unit/connectors/ai/open_ai/services/test_openai_chat_completion_base.py
  python/tests/unit/connectors/ai/test_function_call_behavior.py
  python/tests/unit/connectors/ai/test_function_choice_behavior.py
  python/tests/unit/contents/test_chat_history_reducer_utils.py
  python/tests/unit/contents/test_chat_history_summarization_reducer.py
  python/tests/unit/contents/test_chat_history_truncation_reducer.py
Labels: python, experimental, agents, documentation

#10275 .Net: Improve auto-recovery for Azure{OpenAI} models
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/AIConnectors/FunctionCallsProcessorTests.cs
Labels: .NET, kernel, ai connector, function_calling

#10261 .Net: Added example for chat completion with data and function calling
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAIWithData_ChatCompletion.cs
Labels: .NET

#10286 Python: Improve handling for kernel plugin from file.
  python/semantic_kernel/functions/kernel_function_extension.py
  python/semantic_kernel/functions/kernel_plugin.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#10192 .Net: Remove DeleteRecordOptions and UpsertRecordOptions from MEVD
  dotnet/samples/Concepts/Memory/VectorStoreEmbeddingGeneration/TextEmbeddingVectorStoreRecordCollection.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/MappingVectorStoreRecordCollection.cs
  dotnet/samples/GettingStartedWithVectorStores/Step4_NonStringKey_VectorStore.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/Connectors/VectorData.Abstractions/RecordOptions/DeleteRecordOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordOptions/UpsertRecordOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
Labels: .NET, kernel, memory

#10285 .Net: Moved IChatHistoryReducer from Agents to SK packages
  dotnet/samples/Concepts/Agents/ChatCompletion_HistoryReducer.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/ChatHistoryExtensions.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/ChatHistoryMaxTokensReducer.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/ChatHistoryReducerTests.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/IChatHistoryReducer.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/SummarizingChatHistoryReducer.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryReducers/TruncatingChatHistoryReducer.cs
  dotnet/samples/Concepts/ChatCompletion/MultipleProviders_ChatHistoryReducer.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/GettingStartedWithAgents/Step04_KernelFunctionStrategies.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/KernelExtensions.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/KernelFunctionTerminationStrategy.cs
  dotnet/src/Agents/Core/ChatHistoryKernelAgent.cs
  dotnet/src/Agents/Core/History/IChatHistoryReducer.cs
  dotnet/src/Agents/UnitTests/Core/ChatCompletionAgentTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatHistoryExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/IChatHistoryReducer.cs
  dotnet/src/SemanticKernel.Core/AI/ChatCompletion/ChatHistoryReducerExtensions.cs
  dotnet/src/SemanticKernel.Core/AI/ChatCompletion/ChatHistorySummarizationReducer.cs
  dotnet/src/SemanticKernel.Core/AI/ChatCompletion/ChatHistoryTruncationReducer.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryReducerExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistorySummarizationReducerTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryTruncationReducerTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/MockChatHistoryGenerator.cs
Labels: .NET, kernel, kernel.core

#10298 Python: prompt template config and kernel args support for agents
  python/samples/concepts/agents/assistant_agent_templating.py
  python/samples/concepts/agents/chat_completion_function_termination.py
  python/samples/concepts/agents/chat_completion_templating.py
  python/samples/concepts/agents/mixed_chat_agents_plugins.py
  python/samples/getting_started_with_agents/step2_plugins.py
  python/samples/learn_resources/agent_docs/chat_agent.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_base.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/prompt_template/const.py
  python/semantic_kernel/prompt_template/handlebars_prompt_template.py
  python/semantic_kernel/prompt_template/jinja2_prompt_template.py
  python/semantic_kernel/prompt_template/prompt_template_base.py
  python/semantic_kernel/services/ai_service_selector.py
  python/semantic_kernel/services/kernel_services_extension.py
  python/tests/unit/agents/test_agent.py
  python/tests/unit/agents/test_azure_assistant_agent.py
  python/tests/unit/agents/test_chat_completion_agent.py
  python/tests/unit/agents/test_open_ai_assistant_base.py
Labels: python, agents

#10306 Python: Add Deepseek service to concept samples
  python/samples/concepts/auto_function_calling/chat_completion_with_auto_function_calling.py
  python/samples/concepts/auto_function_calling/chat_completion_with_auto_function_calling_streaming.py
  python/samples/concepts/auto_function_calling/chat_completion_with_manual_function_calling.py
  python/samples/concepts/chat_completion/simple_chatbot.py
  python/samples/concepts/chat_completion/simple_chatbot_kernel_function.py
  python/samples/concepts/chat_completion/simple_chatbot_streaming.py
  python/samples/concepts/setup/chat_completion_services.py
Labels: python

#10324 .Net: Adding Ollama extension for improved Aspire experience
  docs/decisions/0054-processes.md
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Extensions/OllamaServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
Labels: .NET, kernel, documentation

#10222 .Net: SK Process Cloud Events - Publish Interface abstractions scaffolding
  dotnet/src/Experimental/Process.Abstractions/IKernelExternalProcessMessageChannel.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessContext.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepContext.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Controllers/ProcessTestController.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Program.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/DaprTestProcessContext.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/ProcessTestFixture.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Local/ProcessTestFixture.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/CloudEvents/MockCloudEventClient.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/CloudEvents/MockCloudEventData.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessCloudEventsResources.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/Process.IntegrationTests.Shared.props
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessCloudEventsTests.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessTestFixture.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ExternalMessageBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ExternalMessageBufferActorWrapper.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprKernelProcessContext.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IExternalMessageBuffer.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/KernelProcessDaprExtensions.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
Labels: .NET, processes, cloud-events, dapr

#10268 .Net: Add CachedContent Property to GeminiPromptExecutionSettings
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/GoogleAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/VertexAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/ClientBase.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.Google/GeminiPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Google/VertexAIVersion.cs
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/Google/TestsBase.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Resources/gemini_cached_content.json
Labels: .NET, kernel

#10304 .Net: issue-10278 : Change ChatPromptParser to enable 0-n text part instead of single value
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatPromptParser.cs
  dotnet/src/SemanticKernel.UnitTests/Prompt/ChatPromptParserTests.cs
Labels: .NET, kernel, kernel.core

#10316 Python: Allow enums to be passed in to on_function_result. Improve handling FRC result so it can be hashed.
  python/semantic_kernel/contents/function_result_content.py
  python/semantic_kernel/contents/utils/hashing.py
  python/semantic_kernel/processes/process_step_builder.py
  python/tests/unit/contents/test_function_result_content.py
  python/tests/unit/processes/test_process_step_builder.py
Labels: python

#10301 Python: improve agent samples and chat history handling
  python/samples/concepts/agents/chat_completion_history_reducer.py
  python/samples/concepts/chat_completion/simple_chatbot_with_summary_history_reducer.py
  python/samples/concepts/chat_completion/simple_chatbot_with_summary_history_reducer_keep_func_content.py
  python/samples/concepts/structured_outputs/json_structured_outputs.py
  python/samples/getting_started_with_agents/step10_assistant_tool_file_search.py
  python/samples/getting_started_with_agents/step1_agent.py
  python/samples/getting_started_with_agents/step2_plugins.py
  python/samples/getting_started_with_agents/step3_chat.py
  python/samples/getting_started_with_agents/step4_kernel_function_strategies.py
  python/samples/getting_started_with_agents/step5_json_result.py
  python/samples/getting_started_with_agents/step6_logging.py
  python/samples/getting_started_with_agents/step7_assistant.py
  python/samples/getting_started_with_agents/step8_assistant_vision.py
  python/samples/getting_started_with_agents/step9_assistant_tool_code_interpreter.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/channels/chat_history_channel.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/group_chat/agent_chat.py
  python/semantic_kernel/agents/group_chat/agent_group_chat.py
  python/semantic_kernel/agents/strategies/__init__.py
  python/semantic_kernel/contents/__init__.py
  python/semantic_kernel/contents/chat_history.py
  python/semantic_kernel/contents/history_reducer/chat_history_reducer.py
  python/semantic_kernel/contents/history_reducer/chat_history_reducer_utils.py
  python/semantic_kernel/contents/history_reducer/chat_history_summarization_reducer.py
  python/semantic_kernel/contents/history_reducer/chat_history_truncation_reducer.py
  python/tests/unit/agents/test_agent.py
  python/tests/unit/contents/test_chat_history_summarization_reducer.py
Labels: python

#10332 Python: Improve hashing of cmc and scmc items. Add tests.
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/tests/unit/contents/test_chat_message_content.py
  python/tests/unit/contents/test_streaming_chat_message_content.py
Labels: python

#10331 Python: Bump Python version to 1.20.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10330 .Net: Updated agent logs to include agent name
  dotnet/src/Agents/Abstractions/AgentChat.cs
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
  dotnet/src/Agents/Abstractions/Logging/AgentChatLogMessages.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/Agents.Core.csproj
  dotnet/src/Agents/Core/Chat/SequentialSelectionStrategy.cs
  dotnet/src/Agents/Core/Chat/TerminationStrategy.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/Logging/AgentGroupChatLogMessages.cs
  dotnet/src/Agents/Core/Logging/ChatCompletionAgentLogMessages.cs
  dotnet/src/Agents/Core/Logging/SequentialSelectionStrategyLogMessages.cs
  dotnet/src/Agents/Core/Logging/TerminationStrategyLogMessages.cs
  dotnet/src/InternalUtilities/agents/Extensions/AgentExtensions.cs
Labels: .NET

#9970 .Net: Removed System.Memory.Data dependency
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.UnitTests/Extensions/ClientResultExceptionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel

#10213 Python: Add vector search to Postgres connector
  python/samples/getting_started/third_party/postgres-memory.ipynb
  python/semantic_kernel/connectors/memory/postgres/constants.py
  python/semantic_kernel/connectors/memory/postgres/postgres_collection.py
  python/semantic_kernel/connectors/memory/postgres/postgres_settings.py
  python/semantic_kernel/connectors/memory/postgres/postgres_store.py
  python/semantic_kernel/connectors/memory/postgres/utils.py
  python/tests/integration/memory/vector_stores/postgres/test_postgres_int.py
  python/tests/unit/connectors/memory/postgres/test_postgres_store.py
Labels: python, memory

#10350 .NET - Introduce ChatCompletionAgent `Allow-List` of supported content
  dotnet/src/Agents/Core/ChatHistoryChannel.cs
  dotnet/src/Agents/UnitTests/Core/ChatHistoryChannelTests.cs
Labels: bug, PR: ready for review, .NET, agents

#10347 Python: intro allowed content types in chat history channel receive. Add mixed chat image sample.
  python/samples/concepts/README.md
  python/samples/concepts/agents/mixed_chat_images.py
  python/semantic_kernel/agents/channels/chat_history_channel.py
  python/tests/unit/agents/test_chat_history_channel.py
Labels: python, agents, documentation

#10341 Python: [python] Bug fix 10340
  python/semantic_kernel/processes/process_edge_builder.py
  python/tests/unit/processes/test_process_edge_builder.py
Labels: python

#10344 .Net: Updated chat history reducers to include system message
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/Google/TestsBase.cs
  dotnet/src/SemanticKernel.Core/AI/ChatCompletion/ChatHistoryReducerExtensions.cs
  dotnet/src/SemanticKernel.Core/AI/ChatCompletion/ChatHistorySummarizationReducer.cs
  dotnet/src/SemanticKernel.Core/AI/ChatCompletion/ChatHistoryTruncationReducer.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistorySummarizationReducerTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatHistoryTruncationReducerTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/MockChatHistoryGenerator.cs
Labels: .NET, kernel

#10184 Python: Document generator agent framework demo
  python/samples/demos/document_generator/GENERATED_DOCUMENT.md
  python/samples/demos/document_generator/README.md
  python/samples/demos/document_generator/agents/code_validation_agent.py
  python/samples/demos/document_generator/agents/content_creation_agent.py
  python/samples/demos/document_generator/agents/custom_agent_base.py
  python/samples/demos/document_generator/agents/user_agent.py
  python/samples/demos/document_generator/custom_selection_strategy.py
  python/samples/demos/document_generator/custom_termination_strategy.py
  python/samples/demos/document_generator/main.py
  python/samples/demos/document_generator/plugins/code_execution_plugin.py
  python/samples/demos/document_generator/plugins/repo_file_plugin.py
  python/samples/demos/document_generator/plugins/user_plugin.py
Labels: python, agents, documentation

#10307 Python: Bedrock agent
  python/pyproject.toml
  python/samples/concepts/README.md
  python/samples/concepts/agents/bedrock_agent/.env.example
  python/samples/concepts/agents/bedrock_agent/README.md
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_simple_chat.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_simple_chat_streaming.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_update_agent.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_use_existing.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_with_code_interpreter.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_with_code_interpreter_streaming.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_with_kernel_function.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_with_kernel_function_streaming.py
  python/samples/concepts/agents/bedrock_agent/bedrock_mixed_chat_agents.py
  python/samples/concepts/agents/bedrock_agent/bedrock_mixed_chat_agents_streaming.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/bedrock/README.md
  python/semantic_kernel/agents/bedrock/__init__.py
  python/semantic_kernel/agents/bedrock/action_group_utils.py
  python/semantic_kernel/agents/bedrock/bedrock_agent.py
  python/semantic_kernel/agents/bedrock/bedrock_agent_base.py
  python/semantic_kernel/agents/bedrock/bedrock_agent_settings.py
  python/semantic_kernel/agents/bedrock/models/__init__.py
  python/semantic_kernel/agents/bedrock/models/bedrock_action_group_model.py
  python/semantic_kernel/agents/bedrock/models/bedrock_agent_event_type.py
  python/semantic_kernel/agents/bedrock/models/bedrock_agent_model.py
  python/semantic_kernel/agents/bedrock/models/bedrock_agent_status.py
  python/semantic_kernel/agents/channels/bedrock_agent_channel.py
  python/semantic_kernel/agents/channels/chat_history_channel.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/tests/unit/agents/test_chat_completion_agent.py
  python/uv.lock
Labels: python, documentation
