Repository microsoft/semantic-kernel, pull requests merged in 2025-03, with the labels that each got.

#10526 .Net: ADR Samples Contribution Guidelines
  docs/decisions/0066-concepts-guidelines.md
Labels: documentation

#10745 .Net: Use preview suffix for Agents abstractions
  dotnet/nuget/nuget-package.props
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
Labels: .NET

#10749 Python: fixed vector dimension to 1536
  python/samples/concepts/caching/semantic_caching.py
Labels: python

#10748 Python: Allow OpenAIAssistant model id to pass into setup resources
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
Labels: python

#10751 Python: Bump Python version to 1.22.1 for a release
  python/semantic_kernel/__init__.py
  python/tests/unit/connectors/ai/hugging_face/test_hf_text_completions.py
Labels: python

#10743 .Net: Upgrade to latest ONNX Runtime GenAI
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIChatCompletionService.cs
Labels: .NET, kernel

#10622 .Net: Add Calendar write for Copilot Agent Plugin Calendar
  .vscode/launch.json
  .vscode/tasks.json
  dotnet/samples/Concepts/Plugins/CopilotAgentBasedPlugins.cs
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/CalendarPlugin/calendar-apiplugin.json
  dotnet/samples/Concepts/Resources/Plugins/CopilotAgentPlugins/CalendarPlugin/calendar-openapi.yml
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/DemoCommand.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/CopilotAgentPluginKernelExtensions.cs
Labels: .NET

#10772 Python: Improve Bedrock service setup docs
  python/.cspell.json
  python/samples/concepts/agents/bedrock_agent/README.md
  python/samples/concepts/setup/ALL_SETTINGS.md
  python/semantic_kernel/connectors/ai/README.md
  python/semantic_kernel/connectors/ai/bedrock/README.md
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_base.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_chat_completion.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_text_completion.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_text_embedding.py
  python/tests/integration/completions/chat_completion_test_base.py
  python/tests/integration/completions/test_chat_completions.py
  python/tests/integration/completions/test_text_completion.py
Labels: python, documentation

#10737 Python: improved chat history samples
  python/samples/SAMPLE_GUIDELINES.md
  python/samples/concepts/README.md
  python/samples/concepts/auto_function_calling/chat_completion_with_auto_function_calling.py
  python/samples/concepts/chat_history/README.md
  python/samples/concepts/chat_history/serialize_chat_history.py
  python/samples/concepts/chat_history/store_chat_history_in_cosmosdb.py
  python/semantic_kernel/contents/chat_history.py
  python/semantic_kernel/data/record_definition/vector_store_model_decorator.py
Labels: python, documentation

#10746 .Net: Concept Samples Updates and Fixes
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAI_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAI_ChatCompletionWithReasoning.cs
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAI_CustomClient.cs
  dotnet/samples/Concepts/ChatCompletion/HuggingFace_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/HuggingFace_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/LMStudio_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/LMStudio_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionWithReasoning.cs
  dotnet/samples/Concepts/ChatCompletion/OpenAI_CustomClient.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/LocalModels/HuggingFace_ChatCompletionWithTGI.cs
  dotnet/samples/Concepts/LocalModels/MultipleProviders_ChatCompletion.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: .NET, documentation

#10741 .Net: dotnet format issues with SDK 9.0
  dotnet/src/Connectors/Connectors.Memory.Pinecone/IPineconeMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresVectorStoreDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/IQdrantVectorDbClient.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordCollection.cs
  dotnet/src/Experimental/Process.Abstractions/IKernelExternalProcessMessageChannel.cs
  dotnet/src/Experimental/Process.Abstractions/IKernelProcessMessageChannel.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ActivityExtensions.cs
  dotnet/src/Plugins/Plugins.Document/FileSystem/IFileSystemConnector.cs
  dotnet/src/Plugins/Plugins.Document/IDocumentConnector.cs
  dotnet/src/SemanticKernel.Abstractions/AI/TextToImage/ITextToImageService.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/ITextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/ISemanticTextMemory.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ICodeRendering.cs
  dotnet/src/SemanticKernel.Core/TemplateEngine/Blocks/ITextRendering.cs
Labels: .NET, kernel, kernel.core, memory

#10786 .Net: Make AzureOpenAI service/model deployment configurable
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Extensions/WebApplicationBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/ChatWithAgent.AppHost.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Extensions/DistributedApplicationBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Extensions/ResourceBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/AzureOpenAIChatConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/ChatWithAgent.Configuration.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/HostConfig.cs
Labels: .NET

#10775 .Net: Add missing Ollama Connector Aspire Friendly Extensions
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Extensions/OllamaKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Extensions/OllamaServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Services/OllamaTextGenerationService.cs
  dotnet/src/IntegrationTests/Agents/BedrockAgentTests.cs
  dotnet/src/IntegrationTests/TestSettings/BedrockAgentConfiguration.cs
Labels: .NET, kernel

#10779 .Net: Demo showing how to integrate MCP tools with Semantic Kernel
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/ModelContextProtocol/McpDotNetExtensions.cs
  dotnet/samples/Demos/ModelContextProtocol/ModelContextProtocol.csproj
  dotnet/samples/Demos/ModelContextProtocol/Program.cs
  dotnet/samples/Demos/ModelContextProtocol/README.md
  dotnet/samples/Demos/ModelContextProtocol/SimpleToolsConsole.json
Labels: .NET, documentation

#10790 .Net: Rename VectorSearchOptions.NewFilter to Filter
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Common.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Simple.cs
  dotnet/samples/GettingStartedWithVectorStores/Step2_Vector_Search.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/InMemoryVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreCollectionSqlBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchFilter.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchOptions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Support/TestStore.cs
Labels: .NET, kernel, memory

#10806 .Net: Read the agent and OpenAI model prosp from configuration
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Config/AgentConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Config/ServiceConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Extensions/WebApplicationBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Extensions/ResourceBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/HostConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/OpenAIChatConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor
  dotnet/samples/Demos/Hosting/Agent/README.md
Labels: .NET, documentation

#10725 Python: Improve handling the Dapr process context
  python/samples/demos/process_with_dapr/fastapi_app.py
  python/samples/demos/process_with_dapr/process/steps.py
  python/semantic_kernel/processes/dapr_runtime/actors/process_actor.py
  python/semantic_kernel/processes/dapr_runtime/actors/step_actor.py
  python/semantic_kernel/processes/dapr_runtime/dapr_kernel_process_context.py
  python/semantic_kernel/processes/dapr_runtime/dapr_step_info.py
  python/semantic_kernel/processes/dapr_runtime/interfaces/process_interface.py
  python/semantic_kernel/processes/dapr_runtime/interfaces/step_interface.py
  python/semantic_kernel/processes/kernel_process/kernel_process_state.py
  python/semantic_kernel/processes/kernel_process/kernel_process_step_state.py
  python/semantic_kernel/processes/local_runtime/local_process.py
  python/tests/unit/processes/dapr_runtime/test_process_actor.py
Labels: python, processes

#10797 Python: Add embedding and text completion samples
  python/samples/concepts/caching/semantic_caching.py
  python/samples/concepts/embedding/text_embedding_generation.py
  python/samples/concepts/setup/chat_completion_services.py
  python/samples/concepts/setup/text_completion_services.py
  python/samples/concepts/setup/text_embedding_services.py
  python/samples/concepts/text_completion/text_completion.py
  python/samples/concepts/text_completion/text_completion_streaming.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_text_embedding.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_text_embedding.py
  python/semantic_kernel/connectors/ai/embedding_generator_base.py
  python/semantic_kernel/connectors/ai/embeddings/embedding_generator_base.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/semantic_kernel/connectors/ai/mistral_ai/__init__.py
  python/semantic_kernel/connectors/ai/mistral_ai/services/mistral_ai_text_embedding.py
  python/semantic_kernel/connectors/ai/ollama/services/ollama_text_embedding.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_text_embedding_base.py
  python/semantic_kernel/data/text_search/vector_store_text_search.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/memory/semantic_text_memory.py
  python/tests/integration/embeddings/test_embedding_service.py
  python/tests/integration/embeddings/test_embedding_service_base.py
  python/tests/integration/embeddings/test_embedding_service_with_memory.py
  python/tests/samples/test_concepts.py
  python/tests/unit/connectors/ai/open_ai/services/test_azure_text_embedding.py
  python/tests/unit/core_plugins/test_text_memory_plugin.py
  python/uv.lock
Labels: python

#10813 Python: Fix issues of Gemini parallel function call
  python/semantic_kernel/connectors/ai/google/google_ai/services/google_ai_chat_completion.py
  python/semantic_kernel/connectors/ai/google/google_ai/services/utils.py
  python/semantic_kernel/connectors/ai/google/shared_utils.py
  python/semantic_kernel/connectors/ai/google/vertex_ai/services/vertex_ai_chat_completion.py
  python/tests/unit/connectors/ai/google/test_shared_utils.py
Labels: python

#10477 .Net: Process Cloud Events - Publish Events Abstractions
  dotnet/src/Experimental/Process.Abstractions/IKernelExternalProcessMessageChannel.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessContext.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessProxy.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessProxyMessage.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepContext.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProxyStep.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessProxyEventMetadata.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessProxyStateMetadata.cs
  dotnet/src/Experimental/Process.Abstractions/Models/KernelProcessStepStateMetadata.cs
  dotnet/src/Experimental/Process.Core/Internal/ProcessEventData.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessProxyBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Controllers/ProcessTestController.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/ProcessStateTypeResolver.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Program.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/DaprTestProcessContext.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/Process.IntegrationTests.Resources.csproj
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessCloudEventsResources.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessCycleTestResources.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessCloudEventsTests.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessTests.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/TestSettings/ProcessTestGroup.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProxy.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ExternalMessageBufferActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ExternalMessageBufferActorWrapper.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProxyActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprKernelProcessContext.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprProcessInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprProxyInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprStepInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IExternalMessageBuffer.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IProxy.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/KernelProcessDaprExtensions.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessProxyBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/KernelProcessProxyTests.cs
  dotnet/src/Experimental/Process.UnitTests/Process.UnitTests.csproj
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalMapTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProxyTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/KernelProcessStateMetadataFactory.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessConstants.cs
  dotnet/src/InternalUtilities/process/Runtime/KernelProcessProxyMessageFactory.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessMessage.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessMessageFactory.cs
  dotnet/src/InternalUtilities/process/TestsShared/CloudEvents/MockCloudEventClient.cs
  dotnet/src/InternalUtilities/process/TestsShared/CloudEvents/MockCloudEventData.cs
  dotnet/src/InternalUtilities/process/TestsShared/Steps/CommonSteps.cs
  dotnet/src/InternalUtilities/process/TestsSharedComponents.props
Labels: .NET, processes, cloud-events, dapr

#10801 Python: Add sample to show how to retrieve existing azure ai agent definition.
  python/samples/getting_started_with_agents/azure_ai_agent/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/step7_azure_ai_agent_retrieval.py
Labels: python, agents, documentation

#10817 .Net: Update to AgentDefinition.Inputs to match latest spec changes
  dotnet/src/Agents/Abstractions/Definition/AgentDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/AgentInput.cs
  dotnet/src/Agents/Abstractions/Definition/AgentOutput.cs
  dotnet/src/Agents/Abstractions/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/UnitTests/Core/Extensions/AgentDefinitionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AgentDefinitionYamlTests.cs
  dotnet/src/Agents/UnitTests/Yaml/KernelAgentYamlTests.cs
  dotnet/src/Agents/Yaml/AgentDefinitionYaml.cs
Labels: .NET

#10816 .Net: Fix merge issues and update Hybrid to also support new filter
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollectionQueryBuilder.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/HybridSearchOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IKeywordHybridSearch.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IKeywordVectorizedHybridSearch.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/KeywordVectorizedHybridSearchOptions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseKeywordVectorizedHybridSearchTests.cs
  dotnet/src/SemanticKernel.Core/Data/VolatileVectorStoreRecordCollection.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VolatileVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#10826 Python: Remove custom separator in Bedrock tool call fully qualified name
  python/samples/concepts/setup/chat_completion_services.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_chat_completion.py
  python/semantic_kernel/connectors/ai/bedrock/services/model_provider/utils.py
  python/semantic_kernel/connectors/ai/google/shared_utils.py
  python/tests/integration/completions/chat_completion_test_base.py
Labels: python

#10834 Python: restructured the client classes, agent verbs
  python/samples/concepts/realtime/README.md
  python/samples/concepts/realtime/realtime_agent_with_function_calling_webrtc.py
  python/samples/concepts/realtime/realtime_agent_with_function_calling_websocket.py
  python/samples/concepts/realtime/simple_realtime_chat_webrtc.py
  python/samples/concepts/realtime/simple_realtime_chat_websocket.py
  python/samples/concepts/realtime/utils.py
  python/samples/demos/call_automation/call_automation.py
  python/semantic_kernel/connectors/ai/open_ai/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/services/_open_ai_realtime.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_realtime.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_realtime.py
  python/semantic_kernel/connectors/ai/realtime_client_base.py
  python/semantic_kernel/services/ai_service_client_base.py
  python/tests/unit/connectors/ai/open_ai/services/test_openai_realtime.py
Labels: python, documentation

#10835 Python: bump version
  python/semantic_kernel/__init__.py
Labels: python

#10830 Python: New samples added to use the auto_reduce flag in the ChatHistorySummarizationReducer and the ChatHistoryTruncationReducer classes
  python/samples/concepts/README.md
  python/samples/concepts/chat_completion/simple_chatbot_with_summary_history_reducer_autoreduce.py
  python/samples/concepts/chat_completion/simple_chatbot_with_truncation_history_reducer_autoreduce.py
  python/uv.lock
Labels: python, documentation

#10847 .Net: Remove EditorBrowsable(EditorBrowsableState.Never) from ChatMessageContent.Content property
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContent.cs
Labels: .NET

#10851 Python: fix for import without realtime extra
  python/pyproject.toml
  python/uv.lock
Labels: python

#10623 .Net: IVectorStore implementation for Azure SQL
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.Common/SqlFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/Connectors.Memory.Postgres.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresVectorStoreCollectionSqlBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreCollectionSqlBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/Connectors.Memory.SqlServer.csproj
  dotnet/src/Connectors/Connectors.Memory.SqlServer/ExceptionWrapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/GenericRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/RecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlDataReaderDictionary.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerClient.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerConstants.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Connectors.Memory.Sqlite.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreCollectionSqlBuilderTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreRecordKeyProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchOptions.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/InternalUtilities/src/Data/VectorStoreRecordPropertyVerification.cs
  dotnet/src/VectorDataIntegrationTests/PostgresIntegrationTests/CRUD/PostgresBatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/PostgresIntegrationTests/CRUD/PostgresGenericDataModelConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/PostgresIntegrationTests/Support/PostgresFixture.cs
  dotnet/src/VectorDataIntegrationTests/PostgresIntegrationTests/VectorSearch/PostgresVectorSearchDistanceFunctionComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/PostgresIntegrationTests/VectorSearch/PostgresVectorSearchDistanceFunctionComplianceTests_Hnsw.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/CRUD/SqlServerBatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/CRUD/SqlServerGenericDataModelConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Filter/SqlServerBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Properties/AssemblyAttributes.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerCommandBuilderTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerMemoryStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Support/SqlServerConnectionStringRequiredAttribute.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Support/SqlServerFixture.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Support/SqlServerTestEnvironment.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Support/SqlServerTestStore.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/VectorSearch/SqlServerVectorSearchDistanceFunctionComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/VectorSearch/SqlServerVectorSearchDistanceFunctionComplianceTests_Hnsw.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/BatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/ConformanceTestsBase.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/GenericDataModelConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Models/SimpleModel.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorSearch/VectorSearchDistanceFunctionComplianceTests.cs
Labels: .NET, kernel, memory

#10838 .Net: Changes to support .NET9 formatting
  .github/workflows/dotnet-format.yml
  dotnet/src/Experimental/Process.Abstractions/IKernelExternalProcessMessageChannel.cs
Labels: .NET

#10768 Fix Typos in ADR Documentation
  docs/decisions/0032-agents.md
  docs/decisions/0042-samples-restructure.md
  docs/decisions/0046-java-repository-separation.md
  docs/decisions/0047-azure-open-ai-connectors.md
  docs/decisions/0049-agents-assistantsV2.md
  docs/decisions/0050-updated-vector-store-design.md
  docs/decisions/0058-vector-search-design.md
  docs/decisions/0061-function-call-behavior.md
Labels: documentation

#10895 Update Hybrid Search ADR with latest decisions and rename.
  docs/decisions/0067-hybrid-search.md
Labels: documentation

#10897 .Net: Small fix to support cloning for new property on VectorStoreRecordKeyProperty
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreRecordKeyProperty.cs
Labels: .NET, kernel

#10869 .Net: Apply a JSON converter for exceptions when serializing chat history
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceMessageApiClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.Onnx/Connectors.Onnx.csproj
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/InternalUtilities/src/Text/ExceptionJsonConverter.cs
  dotnet/src/InternalUtilities/src/Text/JsonOptionsCache.cs
  dotnet/src/SemanticKernel.UnitTests/Utilities/ExceptionConverterTests.cs
Labels: .NET, kernel, ai connector

#10810 Python: Introducing the Faiss Connector
  python/.cspell.json
  python/pyproject.toml
  python/samples/concepts/memory/complex_memory.py
  python/samples/concepts/memory/simple_memory.py
  python/semantic_kernel/connectors/memory/faiss.py
  python/semantic_kernel/connectors/memory/in_memory/in_memory_collection.py
  python/semantic_kernel/data/vector_storage/vector_store.py
  python/tests/conftest.py
  python/tests/unit/connectors/memory/faiss/test_faiss.py
  python/uv.lock
Labels: python, memory

#10863 .Net: Implement support for text embedding generation in AWS Bedrock
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Extensions/BedrockKernelBuilderExtensionTests.cs
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Extensions/BedrockServiceCollectionExtensionTests.cs
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Services/BedrockTextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/BedrockServiceFactory.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/Clients/BedrockTextEmbeddingGenerationClient.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/IBedrockBatchTextEmbeddingService.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/IBedrockSplitTextEmbeddingService.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/IBedrockTextEmbeddingService.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/Models/AmazonEmbed/AmazonEmbedService.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/Models/AmazonEmbed/TitanEmbedRequest.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/Models/AmazonEmbed/TitanEmbedResponse.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/Models/CohereEmbed/CohereEmbedService.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/Models/CohereEmbed/EmbedRequest.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/Models/CohereEmbed/EmbedResponse.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Extensions/BedrockKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Extensions/BedrockServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Services/BedrockTextEmbeddingGeneratorService.cs
  dotnet/src/IntegrationTests/Connectors/Amazon/Bedrock/BedrockTextEmbeddingTests.cs
Labels: .NET, kernel, ai connector

#10908 Python: Support AzureAIAgent agent_id instead of assistant_id
  python/pyproject.toml
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_azure_ai_search.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_file_manipulation.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_streaming.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/contents/annotation_content.py
  python/semantic_kernel/contents/streaming_annotation_content.py
  python/tests/unit/agents/azure_ai_agent/test_agent_content_generation.py
  python/tests/unit/agents/azure_ai_agent/test_agent_thread_actions.py
  python/tests/unit/contents/test_annotation_content.py
  python/tests/unit/contents/test_streaming_annotation_content.py
  python/uv.lock
Labels: python, agents

#10914 .Net: Fix Qdrant OrElse behavior around Not
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantFilterTranslator.cs
Labels: .NET, kernel, memory

#10915 .Net: Change three more Redis filtering tests on bools to expect InvalidOperationException
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Filter/RedisBasicFilterTests.cs
Labels: .NET

#10860 .Net: Azure AI Agent tool support: file search, function, bing grounding, open api
  dotnet/samples/Concepts/FunctionCalling/FunctionCalling.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/src/Agents/Abstractions/Definition/KernelAgentFactory.cs
  dotnet/src/Agents/AzureAI/Definition/AzureAIAgentFactory.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentToolDefinitionExtensions.cs
  dotnet/src/Agents/UnitTests/Core/Factory/AggregatorKernelAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AzureAIKernelAgentYamlTests.cs
  dotnet/src/Agents/Yaml/AgentDefinitionYaml.cs
  dotnet/src/Agents/Yaml/AgentMetadataTypeConverter.cs
  dotnet/src/Agents/Yaml/AgentToolDefinitionTypeConverter.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET

#10899 .Net: Make Bedrock agent clients required and public
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step01_BedrockAgent.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step02_BedrockAgent_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step03_BedrockAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step04_BedrockAgent_Trace.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step05_BedrockAgent_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step06_BedrockAgent_AgentChat.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/IntegrationTests/Agents/BedrockAgentTests.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseBedrockAgentTest.cs
Labels: .NET, kernel, agents

#10888 .Net Add mechanism to access http request options
  dotnet/samples/Concepts/Plugins/OpenApiPlugin_RestApiOperationResponseFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationRunner.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/RestApiOperationRunnerTests.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/RestApiOperationResponse.cs
Labels: .NET, openapi, kernel.core

#10922 .Net: Updated package version for SK and MEVD
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/VectorData.Abstractions/VectorData.Abstractions.csproj
Labels: .NET, kernel

#10929 Python: Bump Python version to 1.24.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#10681 Python: Improve test coverage
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent_channel.py
  python/tests/unit/connectors/ai/bedrock/services/test_bedrock_model_provider_utils.py
  python/tests/unit/connectors/ai/mistral_ai/services/test_mistralai_chat_completion.py
  python/tests/unit/connectors/search/bing/test_bing_search.py
  python/tests/unit/connectors/search/google/test_google_search.py
Labels: python

#10859 .Net: scrub preceding cross region identifier in Amazon Bedrock model IDs
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Extensions/BedrockKernelBuilderExtensionTests.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/BedrockServiceFactory.cs
Labels: .NET, kernel

#10886 Python: Introducing the Pinecone Connector
  python/.coveragerc
  python/mypy.ini
  python/pyproject.toml
  python/samples/concepts/memory/complex_memory.py
  python/semantic_kernel/connectors/memory/azure_ai_search/azure_ai_search_collection.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_mongodb_collection.py
  python/semantic_kernel/connectors/memory/azure_cosmos_db/azure_cosmos_db_no_sql_collection.py
  python/semantic_kernel/connectors/memory/chroma/chroma.py
  python/semantic_kernel/connectors/memory/in_memory/in_memory_collection.py
  python/semantic_kernel/connectors/memory/mongodb_atlas/mongodb_atlas_collection.py
  python/semantic_kernel/connectors/memory/pinecone/__init__.py
  python/semantic_kernel/connectors/memory/pinecone/_pinecone.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_settings.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_collection.py
  python/semantic_kernel/connectors/memory/qdrant/qdrant_store.py
  python/semantic_kernel/connectors/memory/redis/redis_collection.py
  python/semantic_kernel/data/record_definition/vector_store_model_definition.py
  python/semantic_kernel/data/vector_storage/vector_store.py
  python/semantic_kernel/data/vector_storage/vector_store_record_collection.py
  python/tests/conftest.py
  python/tests/integration/memory/memory_stores/test_pinecone_memory_store.py
  python/tests/unit/connectors/conftest.py
  python/tests/unit/connectors/memory/azure_ai_search/test_azure_cognitive_search_memory_store_unit_tests.py
  python/tests/unit/connectors/memory/conftest.py
  python/tests/unit/connectors/memory/in_memory/test_volatile_memory_store.py
  python/tests/unit/connectors/memory/pinecone/test_pinecone.py
  python/tests/unit/connectors/search/bing/test_bing_search.py
  python/tests/unit/connectors/search/google/test_google_search.py
  python/tests/unit/core_plugins/conftest.py
  python/tests/unit/data/test_vector_store_record_definition.py
  python/uv.lock
Labels: python, memory

#10947 Python: Use openai assistant methods not azure ai
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
Labels: python

#10946 Python: Model dump json step info for Dapr step actor
  python/semantic_kernel/processes/dapr_runtime/actors/step_actor.py
  python/tests/unit/processes/dapr_runtime/test_step_actor.py
Labels: python

#10949 Python: Bump Python version to 1.24.1 and rc3 for a release
  python/semantic_kernel/__init__.py
Labels: python

#10937 .Net: Fix CodeQL errors
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/CreateChatGptPlugin/.editorconfig
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/.gitignore
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/README.md
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/AIPluginJson.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Directory.Build.props
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Directory.Build.targets
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Extensions/AIPluginRunner.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Extensions/KernelBuilderExtensions.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Logo.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Models/AIPluginSettings.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Models/AppSettings.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Models/KernelSettings.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Models/ServiceTypes.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Plugins/MathPlugin.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Program.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Prompts/GetLogicalValue/config.json
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/Prompts/GetLogicalValue/skprompt.txt
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/azure-function.sln
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/config-samples/appsettings.json.azure-example
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/config-samples/appsettings.json.openai-example
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/host.json
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/local.settings.json.example
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/logo.png
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/shared/PluginApi.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/shared/PluginAuth.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/shared/PluginManifest.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/shared/PluginShared.csproj
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/azure-function/sk-chatgpt-azure-function.csproj
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/kernel-functions-generator/Extensions/GeneratorExecutionContextExtensions.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/kernel-functions-generator/KernelFunctionGenerator.cs
  dotnet/samples/Demos/CreateChatGptPlugin/MathPlugin/kernel-functions-generator/kernel-functions-generator.csproj
  dotnet/samples/Demos/CreateChatGptPlugin/README.md
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/.gitignore
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/.vscode/extensions.json
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/.vscode/launch.json
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/.vscode/settings.json
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/.vscode/tasks.json
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/CreateChatGptPlugin.csproj
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/Program.cs
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/config/Env.cs
  dotnet/samples/Demos/CreateChatGptPlugin/Solution/config/KernelBuilderExtensions.cs
  dotnet/src/Functions/Functions.Prompty/KernelFunctionPrompty.cs
Labels: .NET, documentation

#10410 Python: Nvidia Embedding Connector
  python/samples/concepts/setup/ALL_SETTINGS.md
  python/semantic_kernel/connectors/ai/README.md
  python/semantic_kernel/connectors/ai/nvidia/README.md
  python/semantic_kernel/connectors/ai/nvidia/__init__.py
  python/semantic_kernel/connectors/ai/nvidia/prompt_execution_settings/__init__.py
  python/semantic_kernel/connectors/ai/nvidia/prompt_execution_settings/nvidia_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/nvidia/services/__init__.py
  python/semantic_kernel/connectors/ai/nvidia/services/nvidia_handler.py
  python/semantic_kernel/connectors/ai/nvidia/services/nvidia_model_types.py
  python/semantic_kernel/connectors/ai/nvidia/services/nvidia_text_embedding.py
  python/semantic_kernel/connectors/ai/nvidia/settings/__init__.py
  python/semantic_kernel/connectors/ai/nvidia/settings/nvidia_settings.py
  python/tests/unit/connectors/ai/nvidia/services/test_nvidia_text_embedding.py
Labels: python, documentation

#10825 .Net: Processes: Hook up uninitialization for Steps in Local Runtime
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/Program.cs
  dotnet/samples/GettingStartedWithProcesses/Step00/Step00_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step01/Step01_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02a_AccountOpening.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02b_AccountOpening.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03a_FoodPreparation.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Step03b_FoodOrdering.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
  dotnet/samples/GettingStartedWithProcesses/Step05/Step05_MapReduce.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepContext.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepExternalContext.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProxyStep.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalMap.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProxy.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalMapTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProxyTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
Labels: .NET, processes

#10953 Python: small fix for Pinecone integrated embeddings
  python/semantic_kernel/connectors/memory/pinecone/_pinecone.py
  python/semantic_kernel/connectors/memory/pinecone/pinecone_settings.py
  python/semantic_kernel/data/vector_storage/vector_store_record_collection.py
  python/tests/unit/connectors/memory/pinecone/test_pinecone.py
  python/tests/unit/data/test_vector_search_base.py
  python/tests/unit/data/test_vector_store_record_collection.py
  python/uv.lock
Labels: python, memory

#10936 .Net: Pdf upload MVP
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Controllers/FilesController.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Rag/IDataLoader.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Rag/PdfLoader.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Rag/TextSnippet.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Rag/UniqueKeyGenerator.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Extensions/ResourceBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/AzureOpenAIChatConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/AzureOpenAIEmbeddingsConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/RagConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/ApiClients/AgentCompletionsApiClient.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/ApiClients/FilesApiClient.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor.css
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Extensions/HttpClientBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/wwwroot/images/paperclip.svg
Labels: .NET

#10973 .Net: Enable RAG for agent
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Config/AgentConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Config/ServiceConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Controllers/AgentCompletionRequest.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Controllers/AgentCompletionsController.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Rag/TextSnippet.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Resources/AgentDefinition.yaml
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Resources/EmbeddedResource.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Extensions/ResourceBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/HostConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/RagConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/ApiClients/AgentCompletionsApiClient.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor.css
Labels: .NET

#10972 .Net: Change Sqlite connector to accept connection string instead of DbConnection
  dotnet/src/Connectors/Connectors.Memory.Sqlite/ISqliteVectorStoreRecordCollectionFactory.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreCollectionCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/Fakes/FakeDBConnection.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/Fakes/FakeDbCommand.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/Fakes/FakeDbParameterCollection.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteVectorStoreCollectionCommandBuilderTests.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteServiceCollectionExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/Support/SqliteTestStore.cs
Labels: .NET, kernel, memory

#10991 .Net: [TINY] Document the default thread-safety expectation for the MEVD abstractions
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStore.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordCollection.cs
Labels: .NET, kernel

#11004 .Net: don't use a mutable static counter for tests that can run in parallel
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalMapTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProxyTests.cs
  dotnet/src/InternalUtilities/process/TestsShared/Steps/CommonSteps.cs
Labels: .NET

#11005 .Net MEVD: Fix String mapping for SQL Server connector
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCommandBuilder.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerCommandBuilderTests.cs
Labels: .NET, kernel, memory

#10978 .Net: Make a few OpenAPI APIs non-experimental
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationResponseFactory.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiOperationResponseFactoryContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/RestApiOperationResponse.cs
Labels: .NET, openapi, kernel.core

#10985 .Net: Fix Bedrock agent function calling complex type
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step01_BedrockAgent.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step02_BedrockAgent_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step03_BedrockAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step04_BedrockAgent_Trace.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step05_BedrockAgent_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step06_BedrockAgent_AgentChat.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Bedrock/Extensions/BedrockAgentExtensions.cs
  dotnet/src/Agents/Bedrock/Extensions/BedrockAgentInvokeExtensions.cs
  dotnet/src/Agents/Bedrock/Extensions/BedrockFunctionSchemaExtensions.cs
  dotnet/src/Agents/UnitTests/Bedrock/BedrockAgentTests.cs
  dotnet/src/Agents/UnitTests/Bedrock/Extensions.cs/BedrockAgentExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Bedrock/Extensions.cs/BedrockFunctionSchemaExtensionsTests.cs
  dotnet/src/IntegrationTests/Agents/BedrockAgentTests.cs
Labels: .NET, kernel, agents

#10827 .Net: Revert KernelAIFunction name separator using dash
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_function_call_response.txt
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/TestData/chat_completion_multiple_function_calls_test_response.txt
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
Labels: .NET, PR: ready to merge, kernel, kernel.core

#10862 .Net: HuggingFace Connector Enhancement for Batch Embedding Generation
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Core/HuggingFaceClient.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/ChatCompletion/HuggingFaceChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/EmbeddingGeneration/EmbeddingGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/HuggingFaceTestsBase.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/TextGeneration/HuggingFaceTextGenerationTests.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, PR: ready to merge, kernel

#10840 .Net: Add functionality to create and import plugins with YAML functions
  dotnet/src/Functions/Functions.UnitTests/Yaml/Functions/KernelFunctionYamlTests.cs
  dotnet/src/Functions/Functions.UnitTests/Yaml/Plugins/CreateKernelPluginYamlTests.cs
  dotnet/src/Functions/Functions.Yaml/Functions.Yaml.csproj
  dotnet/src/Functions/Functions.Yaml/PromptYamlKernelExtensions.cs
Labels: .NET

#10958 .Net MEVD: Unify collection deletion and creation
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreCollectionCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteVectorStoreCollectionCommandBuilderTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/AzureAISearchIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/Collections/AzureAISearchCollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/Support/AzureAISearchFixture.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Collections/CosmosMongoDBCollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/CosmosMongoDBIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Filter/CosmosMongoBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Properties/AssemblyAttributes.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Support/CosmosConnectionStringRequiredAttribute.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Support/CosmosMongoDBFixture.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Support/CosmosMongoDBTestEnvironment.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Support/CosmosMongoDBTestStore.cs
  dotnet/src/VectorDataIntegrationTests/CosmosNoSQLIntegrationTests/Collections/CosmosNoSQLCollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosNoSQLIntegrationTests/CosmosNoSQLIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/CosmosNoSQLIntegrationTests/Support/CosmosNoSQLFixture.cs
  dotnet/src/VectorDataIntegrationTests/InMemoryIntegrationTests/Collections/InMemoryCollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/InMemoryIntegrationTests/Support/InMemoryFixture.cs
  dotnet/src/VectorDataIntegrationTests/MongoDBIntegrationTests/Collections/MongoDBCollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/MongoDBIntegrationTests/Support/MongoDBFixture.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Collections/QdrantCollectionConformanceTests_NamedVectors.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Collections/QdrantCollectionConformanceTests_UnnamedVector.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Filter/QdrantBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Support/QdrantNamedVectorsFixture.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Support/QdrantTestStore.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Support/QdrantUnnamedVectorFixture.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Collections/RedisCollectionConformanceTests_HashSet.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Collections/RedisCollectionConformanceTests_Json.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Filter/RedisBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Support/RedisFixture.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Support/RedisGenericDataModelFixture.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Support/RedisHashSetFixture.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Support/RedisJsonFixture.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Support/RedisSimpleModelFixture.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Support/RedisTestStore.cs
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/Collections/SqliteCollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/Support/SqliteFixture.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Collections/CollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/Collections/WeaviateCollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/Support/WeaviateFixture.cs
Labels: .NET, kernel, memory

#10989 .Net: Sync to MEAI 9.3.0-preview.1.25114.11
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/ChatCompletion/HybridCompletion_Fallback.cs
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Plugins/CreatePluginFromOpenApiSpec_Github.cs
  dotnet/samples/Demos/AIModelRouter/AIModelRouter.csproj
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/CopilotAgentPluginsDemoSample.csproj
  dotnet/samples/Demos/OllamaFunctionCalling/OllamaFunctionCalling.csproj
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Connectors.Ollama.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.Ollama/Connectors.Ollama.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatClientChatCompletionService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceChatClient.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatCompletionServiceExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
Labels: .NET, kernel, kernel.core

#11042 .Net MEVD: SqlServerVectorStore should accept a connection string to be thread safe
  dotnet/src/Connectors/Connectors.Memory.SqlServer/ExceptionWrapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Support/SqlServerTestStore.cs
Labels: .NET, kernel, memory

#10974 .Net: Switch postgres and sqlserver to preview, and move experimental to only memory store artifacts.
  dotnet/src/Connectors/Connectors.Memory.Postgres/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/Connectors.Memory.Postgres.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresMemoryEntry.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresMemoryStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/Connectors.Memory.SqlServer.csproj
  dotnet/src/Connectors/Connectors.Memory.SqlServer/ISqlServerClient.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerClient.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerMemoryEntry.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerMemoryStore.cs
Labels: .NET, kernel, memory

#11008 .Net: Processes UTs causing Build pipeline errors
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalMapTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProxyTests.cs
  dotnet/src/InternalUtilities/process/TestsShared/Services/CounterService.cs
  dotnet/src/InternalUtilities/process/TestsShared/Services/ICounterService.cs
  dotnet/src/InternalUtilities/process/TestsShared/Setup/KernelSetup.cs
  dotnet/src/InternalUtilities/process/TestsShared/Steps/CommonSteps.cs
Labels: .NET, processes

#11050 .Net: Version 1.42.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#10489 .Net: Support for configuring dimensions in Google AI embeddings generation
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Memory/Google_EmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/GoogleAI/GoogleAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/GoogleAI/GoogleAIEmbeddingRequestTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/GoogleAITextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/GoogleAI/GoogleAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/GoogleAI/GoogleAIEmbeddingRequest.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/GoogleAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/GoogleAIMemoryBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Extensions/GoogleAIServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Services/GoogleAITextEmbeddingGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/Google/EmbeddingGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/Google/TestsBase.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/EmbeddingGenerationServiceExtensions.cs
Labels: .NET, kernel, kernel.core

#10993 .Net Fix #10964 Gemini typeof(T) schema breaks logging
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
Labels: .NET, kernel

#11046 .Net: Fix and put back Ollama tool asserts
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
Labels: .NET, PR: ready to merge, kernel

#11041 .Net: Support AzureAiSearch as vector store
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/ChatWithAgent.AppHost.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Extensions/ResourceBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/AzureAISearchConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/HostConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Layout/NavMenu.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Counter.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Home.razor
Labels: .NET

#11038 .Net MEVD: add new test that ensures that UpsertBatchAsync can insert and update records from the same batch
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/BatchConformanceTests.cs
Labels: .NET

#11011 .Net Agents - Remove default kernel assignment from samples
  dotnet/samples/Concepts/Agents/AzureAIAgent_Streaming.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step02_AzureAIAgent_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step04_AzureAIAgent_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step06_AzureAIAgent_OpenAPI.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step07_AzureAIAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step03_BedrockAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step04_BedrockAgent_Trace.cs
  dotnet/src/Agents/UnitTests/Bedrock/BedrockAgentTests.cs
Labels: PR: ready for review, .NET, agents

#11034 Python: Bump Python version to 1.25.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#11024 Python: Update README.md
  README.md
  python/README.md
Labels: python, documentation

#11047 .Net MEVD: Split batches to account for the SQL Server 2100 parameter limit
  dotnet/src/Connectors/Connectors.Memory.SqlServer/ExceptionWrapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerConstants.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/CRUD/SqlServerBatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerCommandBuilderTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/BatchConformanceTests.cs
Labels: .NET, kernel, memory

#11068 .Net: Fixed links
  .github/.linkspector.yml
  README.md
  docs/PLUGINS.md
  docs/PROMPT_TEMPLATE_LANGUAGE.md
  docs/decisions/0008-support-generic-llm-request-settings.md
  dotnet/samples/Concepts/README.md
  dotnet/samples/Demos/AIModelRouter/README.md
  dotnet/samples/Demos/BookingRestaurant/README.md
  dotnet/samples/Demos/TimePlugin/README.md
  dotnet/samples/GettingStartedWithAgents/README.md
Labels: .NET, documentation

#11070 .Net: Remove old warnings
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/Connectors.Onnx.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Onnx/Connectors.Onnx.csproj
  dotnet/src/SemanticKernel.UnitTests/Utilities/ExceptionConverterTests.cs
Labels: .NET, kernel

#10849 Python: Unit tests for ollama services utils and dapr_actor_registration
  python/tests/unit/connectors/ai/ollama/services/test_utils.py
  python/tests/unit/processes/dapr_runtime/test_dapr_actor_registration.py
Labels: python

#11057 Python: Fix agent_id kwarg in AzureAIAgent retrieval sample
  python/samples/getting_started_with_agents/azure_ai_agent/step7_azure_ai_agent_retrieval.py
  python/tests/unit/agents/azure_ai_agent/test_agent_content_generation.py
Labels: python

#11056 Python: Pass api_key to azure config base init
  python/semantic_kernel/connectors/ai/open_ai/services/azure_realtime.py
Labels: python

#11081 Python: Exclude certain fields from KernelFunction model dump
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/functions/kernel_parameter_metadata.py
  python/tests/unit/functions/test_kernel_function_from_method.py
  python/tests/unit/functions/test_kernel_function_from_prompt.py
Labels: python

#11035 Python: removed old search plugins
  python/samples/concepts/README.md
  python/samples/concepts/search/bing_plugin_examples.py
  python/samples/concepts/search/bing_search_plugin.py
  python/samples/concepts/search/bing_text_search.py
  python/samples/concepts/search/bing_text_search_as_plugin.py
  python/samples/concepts/search/google_search_plugin.py
  python/samples/concepts/search/google_text_search_as_plugin.py
  python/tests/samples/test_concepts.py
Labels: python, documentation

#11075 .Net: Avoid using test.com is samples and tests
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAIWithData_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/ChatHistoryInFunctions.cs
Labels: .NET

#11073 .Net: Update Azure and OpenAI to latest beta.4
  docs/decisions/0065-realtime-api-clients.md
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/ChatCompletion/AzureOpenAIWithData_ChatCompletion.cs
  dotnet/samples/Demos/OpenAIRealtime/Program.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.cs
Labels: .NET, kernel, documentation

#11074 .Net: Remove AllowUnsafeBlocks
  dotnet/src/Connectors/Connectors.AzureOpenAI/Connectors.AzureOpenAI.csproj
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
Labels: .NET, kernel

#11077 .Net: Target net462 in all MEVD connectors
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/Connectors.Memory.AzureAISearch.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/Connectors.Memory.AzureCosmosDBMongoDB.csproj
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/Connectors.Memory.AzureCosmosDBNoSQL.csproj
  dotnet/src/Connectors/Connectors.Memory.Chroma/Connectors.Memory.Chroma.csproj
  dotnet/src/Connectors/Connectors.Memory.DuckDB/Connectors.Memory.DuckDB.csproj
  dotnet/src/Connectors/Connectors.Memory.InMemory/Connectors.Memory.InMemory.csproj
  dotnet/src/Connectors/Connectors.Memory.Kusto/Connectors.Memory.Kusto.csproj
  dotnet/src/Connectors/Connectors.Memory.Milvus/Connectors.Memory.Milvus.csproj
  dotnet/src/Connectors/Connectors.Memory.MongoDB/Connectors.Memory.MongoDB.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Connectors.Memory.Pinecone.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/Connectors.Memory.Postgres.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Connectors.Memory.Qdrant.csproj
  dotnet/src/Connectors/Connectors.Memory.Qdrant/Http/ApiSchema/GetVectorsRequest.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/Connectors.Memory.Redis.csproj
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/Connectors.Memory.SqlServer.csproj
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Connectors.Memory.Sqlite.csproj
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreCollectionCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/Connectors.Memory.Weaviate.csproj
  dotnet/src/Connectors/Connectors.OpenAI/Services/OpenAIFileService.cs
  dotnet/src/InternalUtilities/src/Diagnostics/IsExternalInit.cs
  dotnet/src/InternalUtilities/src/Diagnostics/UnreachableException.cs
  dotnet/src/InternalUtilities/src/System/IndexRange.cs
  dotnet/src/SemanticKernel.Abstractions/Services/EmptyServiceProvider.cs
Labels: .NET, memory, msft.ext.vectordata

#11079 .Net: Fix Amazon Bedrock UT
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Services/BedrockTextEmbeddingGenerationServiceTests.cs
Labels: .NET, kernel

#11066 .Net: Remove document upload functionality
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Controllers/FilesController.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Rag/IDataLoader.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Rag/PdfLoader.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Rag/TextSnippet.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Rag/UniqueKeyGenerator.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Resources/AgentDefinition.yaml
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Extensions/ResourceBuilderExtensions.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/RagConfig.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/ApiClients/FilesApiClient.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Components/Pages/Chat.razor.css
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Web/wwwroot/images/paperclip.svg
Labels: .NET

#11006 Python: Add Copilot Studio Agents and Copilot Studio Skill demos
  python/samples/demos/README.md
  python/samples/demos/copilot_studio_agent/.env.sample
  python/samples/demos/copilot_studio_agent/README.md
  python/samples/demos/copilot_studio_agent/image.png
  python/samples/demos/copilot_studio_agent/src/chat.py
  python/samples/demos/copilot_studio_agent/src/direct_line_agent.py
  python/samples/demos/copilot_studio_agent/src/requirements.txt
  python/samples/demos/copilot_studio_skill/README.md
  python/samples/demos/copilot_studio_skill/azure.yaml
  python/samples/demos/copilot_studio_skill/image.png
  python/samples/demos/copilot_studio_skill/infra/aca.bicep
  python/samples/demos/copilot_studio_skill/infra/acr.bicep
  python/samples/demos/copilot_studio_skill/infra/appin.bicep
  python/samples/demos/copilot_studio_skill/infra/bot.bicep
  python/samples/demos/copilot_studio_skill/infra/fetch-container-image.bicep
  python/samples/demos/copilot_studio_skill/infra/main.bicep
  python/samples/demos/copilot_studio_skill/infra/main.parameters.json
  python/samples/demos/copilot_studio_skill/infra/openAI.bicep
  python/samples/demos/copilot_studio_skill/infra/uami.bicep
  python/samples/demos/copilot_studio_skill/src/api/.dockerignore
  python/samples/demos/copilot_studio_skill/src/api/adapter.py
  python/samples/demos/copilot_studio_skill/src/api/app.py
  python/samples/demos/copilot_studio_skill/src/api/auth.py
  python/samples/demos/copilot_studio_skill/src/api/bot.py
  python/samples/demos/copilot_studio_skill/src/api/config.py
  python/samples/demos/copilot_studio_skill/src/api/copilot-studio.manifest.json
  python/samples/demos/copilot_studio_skill/src/api/dockerfile
  python/samples/demos/copilot_studio_skill/src/api/requirements.txt
  python/samples/demos/copilot_studio_skill/src/api/sk_conversation_agent.py
Labels: python, documentation

#10952 .Net MEVD: Port the Pinecone connector to use Pinecone.Client
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Memory.Pinecone/Connectors.Memory.Pinecone.csproj
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordFieldMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeGenericDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/Process.IntegrationTestRunner.Dapr.csproj
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/CommonPineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeAllTypes.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeUserSecretsExtensions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/PineconeVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Pinecone/Xunit/PineconeApiKeySetConditionAttribute.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/CRUD/PineconeAllSupportedTypesTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/CRUD/PineconeBatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/CRUD/PineconeGenericDataModelConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/CRUD/PineconeRecordConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Collections/PineconeCollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Filter/PineconeBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/PineconeIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Properties/AssemblyAttributes.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Support/PineconeAllTypes.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Support/PineconeFixture.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Support/PineconeGenericDataModelFixture.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Support/PineconeSimpleModelFixture.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Support/PineconeTestStore.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/VectorSearch/PineconeVectorSearchDistanceFunctionComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorSearch/VectorSearchDistanceFunctionComplianceTests.cs
Labels: .NET, kernel, memory

#11030 .Net: Support for Bedrock declarative agents
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step03_BedrockAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step07_BedrockAgent_Declarative.cs
  dotnet/src/Agents/Abstractions/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/Abstractions/Extensions/AgentToolDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentToolDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/KernelExtensions.cs
  dotnet/src/Agents/Bedrock/Definition/BedrockAgentFactory.cs
  dotnet/src/Agents/Bedrock/Extensions/BedrockAgentDefinitionExtensions.cs
  dotnet/src/Agents/Bedrock/Extensions/BedrockAgentExtensions.cs
  dotnet/src/Agents/Bedrock/Extensions/BedrockAgentToolDefinitionExtensions.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET

#11085 .Net: Make collection optional
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Resources/AgentDefinition.yaml
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.ApiService/Resources/AgentWithRagDefinition.yaml
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.Configuration/RagConfig.cs
Labels: .NET

#10934 .Net - Add Web Search Support to OpenAIPromptExecutionSettings
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionWebSearch.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIPromptExecutionSettings.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_NonStreamingTests.cs
Labels: PR: ready for review, .NET, kernel, documentation

#11096 .Net: Update readme
  dotnet/samples/Demos/Hosting/Agent/ChatWithAgent.AppHost/appsettings.json
  dotnet/samples/Demos/Hosting/Agent/README.md
Labels: .NET, documentation

#11098 .Net: Move Aspire projects to AgentFrameworkWithAspire folder
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/AgentFrameworkWithAspire/.gitignore
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Config/ServiceConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Controllers/AgentCompletionRequest.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Controllers/AgentCompletionsController.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Rag/TextSnippet.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Resources/AgentDefinition.yaml
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Resources/AgentWithRagDefinition.yaml
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Resources/EmbeddedResource.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/appsettings.json
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/ChatWithAgent.AppHost.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/Extensions/ResourceBuilderExtensions.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/appsettings.json
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/AzureAISearchConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/AzureOpenAIChatConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/AzureOpenAIEmbeddingsConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/ChatWithAgent.Configuration.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/HostConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/OpenAIChatConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/OpenAIEmbeddingsConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/RagConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ServiceDefaults/ChatWithAgent.ServiceDefaults.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ServiceDefaults/CommonExtensions.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/ApiClients/AgentCompletionsApiClient.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/ChatWithAgent.Web.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/App.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Layout/MainLayout.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Layout/MainLayout.razor.css
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Layout/NavMenu.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Layout/NavMenu.razor.css
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Pages/Chat.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Pages/Chat.razor.css
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Pages/Error.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Routes.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/_Imports.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Extensions/HttpClientBuilderExtensions.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Program.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/appsettings.json
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/wwwroot/app.css
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/wwwroot/favicon.png
  dotnet/samples/Demos/AgentFrameworkWithAspire/README.md
Labels: .NET, documentation

#11093 .Net: Fix unstable {Azure}OpenAI telemetry UT
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/KernelCore/KernelTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/KernelCore/KernelTests.cs
Labels: bug, .NET, kernel, ai connector

#11088 .Net: Update AI Clients to defend against URL injection attacks
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiChatGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/Clients/GeminiCountingTokensTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/VertexAI/VertexAIClientEmbeddingsGenerationTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Clients/GeminiTokenCounterClient.cs
  dotnet/src/Connectors/Connectors.Google/Core/VertexAI/VertexAIEmbeddingClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeClient.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeClientTests.cs
  dotnet/src/InternalUtilities/src/Diagnostics/Verify.cs
Labels: .NET, kernel, ai connector, sk team issue, memory

#11069 .Net: Add a common agent invoke api.
  dotnet/samples/Concepts/Agents/ChatCompletion_ServiceSelection.cs
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentInvokeOptions.cs
  dotnet/src/Agents/Abstractions/AgentResponseItem.cs
  dotnet/src/Agents/Abstractions/AgentThread.cs
  dotnet/src/Agents/Abstractions/AggregatorAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIAgentThread.cs
  dotnet/src/Agents/AzureAI/AzureAIChannel.cs
  dotnet/src/Agents/AzureAI/Internal/AgentThreadActions.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryAgentThread.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgentThread.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
  dotnet/src/Agents/UnitTests/MockAgent.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/ChatCompletionAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/ChatCompletionAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/OpenAIAssistantAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/OpenAIAssistantAgentInvokeTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/TestSettings/AzureAIConfiguration.cs
Labels: .NET, kernel

#11118 .Net: Common agent api review feedback 1
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentInvokeOptions.cs
  dotnet/src/Agents/Abstractions/AggregatorAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIAgentThread.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryAgentThread.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgentThread.cs
  dotnet/src/Agents/UnitTests/MockAgent.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentThreadConformance/AgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentThreadConformance/AzureAIAgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentThreadConformance/ChatCompletionAgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentThreadConformance/OpenAIAssistantAgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/OpenAIAssistantAgentFixture.cs
Labels: .NET, kernel

#11124 .Net: Common agent api review feedback 2
  dotnet/src/Agents/Abstractions/AgentResponseItem.cs
  dotnet/src/Agents/AzureAI/AzureAIAgentThread.cs
  dotnet/src/Agents/Core/ChatHistoryAgentThread.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgentThread.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/AzureAIAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/ChatCompletionAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/InvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/OpenAIAssistantAgentInvokeTests.cs
Labels: .NET, kernel

#11125 .Net: Remove returned id from AgentThread.Create to support responses
  dotnet/src/Agents/Abstractions/AgentInvokeOptions.cs
  dotnet/src/Agents/Abstractions/AgentThread.cs
  dotnet/src/Agents/AzureAI/AzureAIAgentThread.cs
  dotnet/src/Agents/Core/ChatHistoryAgentThread.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgentThread.cs
Labels: .NET

#11126 .Net: Add unit tests for AgentThread and ChatHistoryAgentThread
  dotnet/src/Agents/UnitTests/Core/AgentThreadTests.cs
  dotnet/src/Agents/UnitTests/Core/ChatHistoryAgentThreadTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantAgentThreadTests.cs
Labels: .NET

#11133 .Net: Make AgentThread.Create protected and expose on concrete implementations where possible
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentThread.cs
  dotnet/src/Agents/AzureAI/AzureAIAgentThread.cs
  dotnet/src/Agents/Core/ChatHistoryAgentThread.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgentThread.cs
  dotnet/src/Agents/UnitTests/Core/AgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentThreadConformance/AgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentThreadConformance/ChatCompletionAgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/ChatCompletionAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/OpenAIAssistantAgentFixture.cs
Labels: .NET, kernel

#11138 .Net: Add more options to getmessages for each agentthread and improve xml docs.
  dotnet/src/Agents/Abstractions/AgentThread.cs
  dotnet/src/Agents/AzureAI/AzureAIAgentThread.cs
  dotnet/src/Agents/Core/ChatHistoryAgentThread.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgentThread.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/OpenAIAssistantAgentFixture.cs
Labels: .NET, kernel

#11137 .Net: Update ChatCompletion, AzureAI and Assistant samples to new invocation and thread pattern.
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step01_AzureAIAgent.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step02_AzureAIAgent_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step04_AzureAIAgent_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step05_AzureAIAgent_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step06_AzureAIAgent_OpenAPI.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step07_AzureAIAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step01_Assistant.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step02_Assistant_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step03_Assistant_Vision.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step04_AssistantTool_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step05_AssistantTool_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step06_AssistantTool_Function.cs
  dotnet/samples/GettingStartedWithAgents/Step01_Agent.cs
  dotnet/samples/GettingStartedWithAgents/Step02_Plugins.cs
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Bedrock/BedrockAgentThread.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgentThread.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantAgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/BedrockAgentFixture.cs
Labels: .NET, kernel

#11117 .Net: Reference SK projects
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/ChatWithAgent.Web.csproj
Labels: .NET

#11115 .Net: Enable SK telemetry
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/appsettings.json
Labels: .NET

#11136 .Net: Add an experimental AgentKernelFunctionFactory
  dotnet/samples/GettingStartedWithAgents/Step08_AgentAsKernelFunction.cs
  dotnet/src/Agents/Core/Functions/AgentKernelFunctionFactory.cs
  dotnet/src/Agents/UnitTests/Core/Functions/AgentKernelFunctionFactoryTests.cs
  dotnet/src/InternalUtilities/connectors/AI/FunctionCalling/FunctionCallsProcessor.cs
Labels: .NET

#11148 .Net: small fixes
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
Labels: .NET

#11152 .Net: Fixing AWS package versions
  dotnet/Directory.Packages.props
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
Labels: .NET

#11113 .Net: Add Ollama ChatCompletion with Vision Sample
  dotnet/samples/Concepts/ChatCompletion/Ollama_ChatCompletionWithVision.cs
  dotnet/samples/Concepts/README.md
Labels: bug, .NET, PR: ready to merge, ai connector, documentation

#10858 .Net: Structured Data Plugin - Query and CRUD Operations
  docs/decisions/0067-structured-data-connector.md
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/StructuredDataPlugin/ApplicationDbContext.cs
  dotnet/samples/Demos/StructuredDataPlugin/Product.cs
  dotnet/samples/Demos/StructuredDataPlugin/Program.cs
  dotnet/samples/Demos/StructuredDataPlugin/README.md
  dotnet/samples/Demos/StructuredDataPlugin/StructuredDataPlugin.csproj
  dotnet/samples/Demos/StructuredDataPlugin/appsettings.json
  dotnet/src/Plugins/Plugins.StructuredData.EntityFramework/AssemblyInfo.cs
  dotnet/src/Plugins/Plugins.StructuredData.EntityFramework/Plugins.StructuredData.EntityFramework.csproj
  dotnet/src/Plugins/Plugins.StructuredData.EntityFramework/StructuredDataOperation.cs
  dotnet/src/Plugins/Plugins.StructuredData.EntityFramework/StructuredDataPluginFactory.cs
  dotnet/src/Plugins/Plugins.StructuredData.EntityFramework/StructuredDataService.cs
  dotnet/src/Plugins/Plugins.StructuredData.EntityFramework/StructuredDataServiceExtensions.cs
  dotnet/src/Plugins/Plugins.UnitTests/Plugins.UnitTests.csproj
  dotnet/src/Plugins/Plugins.UnitTests/StructuredData/StructuredDataServiceTests.cs
Labels: .NET, PR: ready to merge, documentation

#11150 .Net: Change OnNewMessage to be internal.
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentThread.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentThreadConformance/AgentThreadTests.cs
Labels: .NET, kernel

#11157 .Net: Set the AzureAI:ConnectionString from secrets
  .github/workflows/dotnet-integration-tests.yml
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/InvokeTests.cs
Labels: .NET, kernel

#11109 .Net: Update to match the change in the latest Agent declarative specification
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step07_BedrockAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step07_Assistant_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Step08_Declarative.cs
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
  dotnet/src/Agents/Abstractions/Definition/AgentToolDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/ModelConnection.cs
  dotnet/src/Agents/Abstractions/Definition/ModelDefinition.cs
  dotnet/src/Agents/Abstractions/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/Abstractions/Extensions/AgentToolDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Definition/AzureAIAgentFactory.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentToolDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/KernelExtensions.cs
  dotnet/src/Agents/Bedrock/Definition/BedrockAgentFactory.cs
  dotnet/src/Agents/Bedrock/Extensions/BedrockAgentDefinitionExtensions.cs
  dotnet/src/Agents/Bedrock/Extensions/BedrockAgentToolDefinitionExtensions.cs
  dotnet/src/Agents/Core/Definition/ChatCompletionAgentFactory.cs
  dotnet/src/Agents/OpenAI/Definition/OpenAIAssistantAgentFactory.cs
  dotnet/src/Agents/OpenAI/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/KernelExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/ModelConfigurationExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/ModelConnectionExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/PromptExecutionSettingsExtensions.cs
  dotnet/src/Agents/UnitTests/AzureAI/Definition/AzureAIAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/AzureAI/Extensions/AgentDefinitionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Core/Definition/ChatCompletionAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/Core/Extensions/AgentDefinitionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Definition/OpenAIAssistantAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/AgentDefinitionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/KernelExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AgentDefinitionYamlTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AzureAIKernelAgentYamlTests.cs
  dotnet/src/Agents/UnitTests/Yaml/KernelAgentYamlTests.cs
  dotnet/src/Agents/Yaml/AgentDefinitionYaml.cs
  dotnet/src/Agents/Yaml/AgentToolDefinitionTypeConverter.cs
  dotnet/src/Agents/Yaml/ModelConfigurationTypeConverter.cs
  dotnet/src/Agents/Yaml/PromptExecutionSettingsTypeConverter.cs
Labels: .NET

#11151 .Net: Agent Framework With Aspire
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/AgentFrameworkWithAspire/.gitignore
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/ChatWithAgent.ApiService.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Config/ServiceConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Controllers/AgentCompletionRequest.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Controllers/AgentCompletionsController.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Rag/TextSnippet.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Resources/AgentDefinition.yaml
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Resources/AgentWithRagDefinition.yaml
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Resources/EmbeddedResource.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/appsettings.json
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/ChatWithAgent.AppHost.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/Extensions/ResourceBuilderExtensions.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/Program.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/Properties/launchSettings.json
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/appsettings.json
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/AzureAISearchConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/AzureOpenAIChatConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/AzureOpenAIEmbeddingsConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/ChatWithAgent.Configuration.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/HostConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/OpenAIChatConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/OpenAIEmbeddingsConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Configuration/RagConfig.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ServiceDefaults/ChatWithAgent.ServiceDefaults.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ServiceDefaults/CommonExtensions.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/ApiClients/AgentCompletionsApiClient.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/ChatWithAgent.Web.csproj
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/App.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Layout/MainLayout.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Layout/MainLayout.razor.css
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Layout/NavMenu.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Layout/NavMenu.razor.css
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Pages/Chat.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Pages/Chat.razor.css
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Pages/Error.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/Routes.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Components/_Imports.razor
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Extensions/HttpClientBuilderExtensions.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/Program.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/appsettings.json
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/wwwroot/app.css
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.Web/wwwroot/favicon.png
  dotnet/samples/Demos/AgentFrameworkWithAspire/README.md
Labels: .NET, documentation

#11163 .Net: Fix bug in ChatCompletionAgent
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
Labels: .NET

#11169 Python: Fix Bedrock agent
  python/.cspell.json
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_with_code_interpreter.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_with_code_interpreter_streaming.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_with_kernel_function.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_with_kernel_function_simple.py
  python/samples/concepts/agents/bedrock_agent/bedrock_agent_with_kernel_function_streaming.py
  python/samples/concepts/agents/bedrock_agent/bedrock_mixed_chat_agents.py
  python/samples/concepts/agents/bedrock_agent/bedrock_mixed_chat_agents_streaming.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/bedrock/bedrock_agent.py
  python/semantic_kernel/agents/channels/chat_history_channel.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent_channel.py
Labels: python

#11171 .Net: Update AgentCompletionsController Sample to use new invocation approach
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Controllers/AgentCompletionsController.cs
Labels: .NET

#11172 Python: Bump Python version to 1.26.0 and RC to RC4 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#11170 .Net: Version 1.43.0
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.AzureOpenAI/CompatibilitySuppressions.xml
Labels: .NET, kernel

#11180 Python: lazy-loading mechanism for agent dependencies
  python/semantic_kernel/__init__.py
  python/semantic_kernel/agents/__init__.py
  python/semantic_kernel/agents/__init__.pyi
Labels: python

#11175 Python: Update AzureAIAgent sample
  python/samples/getting_started_with_agents/azure_ai_agent/step1_azure_ai_agent.py
  python/samples/learn_resources/agent_docs/chat_agent.py
Labels: python

#11067 .Net: Initial check-in of the Tavily text search implementation
  dotnet/samples/Concepts/Search/Tavily_TextSearch.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  dotnet/src/Plugins/Plugins.UnitTests/Plugins.UnitTests.csproj
  dotnet/src/Plugins/Plugins.UnitTests/TestData/tavily_site_filter_devblogs_microsoft.com.json
  dotnet/src/Plugins/Plugins.UnitTests/TestData/tavily_what_is_the_semantic_kernel.json
  dotnet/src/Plugins/Plugins.UnitTests/Web/Tavily/TavilyTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Tavily/TavilyImageResult.cs
  dotnet/src/Plugins/Plugins.Web/Tavily/TavilySearchRequest.cs
  dotnet/src/Plugins/Plugins.Web/Tavily/TavilySearchResponse.cs
  dotnet/src/Plugins/Plugins.Web/Tavily/TavilySearchResult.cs
  dotnet/src/Plugins/Plugins.Web/Tavily/TavilyTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Tavily/TavilyTextSearchOptions.cs
  dotnet/src/Plugins/Plugins.Web/WebKernelBuilderExtensions.cs
  dotnet/src/Plugins/Plugins.Web/WebServiceCollectionExtensions.cs
Labels: .NET

#11194 .Net: Add node.js as a prerequisite for MCP sample
  dotnet/samples/Demos/ModelContextProtocolPlugin/README.md
Labels: .NET, documentation

#11184 Python: Allow for Agents as Kernel Functions
  python/samples/concepts/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_as_kernel_function.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_streaming.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_as_kernel_function.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_function_termination.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_prompt_templating.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_summary_history_reducer_agent_chat.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_summary_history_reducer_single_agent.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_truncate_history_reducer_agent_chat.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_truncate_history_reducer_single_agent.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/functions/kernel_function_extension.py
  python/semantic_kernel/functions/kernel_plugin.py
  python/tests/unit/kernel/test_kernel.py
  python/uv.lock
Labels: python, agents, documentation

#11211 .Net: Function parameters/arguments type handling fixes
  dotnet/samples/Demos/ModelContextProtocolPlugin/Program.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AIFunctionKernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/FunctionChoiceBehaviorOptions.cs
Labels: .NET, kernel, kernel.core

#11210 .Net: Update the getting started samples to use the new Agent invoke API
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step07_BedrockAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step07_Assistant_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Step08_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Step09_MultiAgent_Declarative.cs
  dotnet/src/Agents/UnitTests/Core/Factory/AggregatorKernelAgentFactoryTests.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseBedrockAgentTest.cs
Labels: .NET

#11209 .Net: Bump to version 1.44.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#11215 .Net: Added missing KernelFunction attribute to DownloadFileAsync in SessionsPythonPlugin
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonPlugin.cs
Labels: .NET

#11193 .Net: Update README.md (Typo "Azure Open AI"→"Azure OpenAI")
  dotnet/samples/GettingStartedWithAgents/README.md
Labels: .NET, documentation

#11217 .Net: Fix bug where invoking with no message throws for some agents.
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentThread.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/BedrockAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/InvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeStreamingConformance/InvokeStreamingTests.cs
Labels: .NET, kernel

#11213 .Net: Add template support for declarative agents
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step07_Assistant_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Step08_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Step09_MultiAgent_Declarative.cs
  dotnet/src/Agents/Abstractions/Definition/KernelAgentFactory.cs
  dotnet/src/Agents/Abstractions/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/AzureAI/Definition/AzureAIAgentFactory.cs
  dotnet/src/Agents/Bedrock/Definition/BedrockAgentFactory.cs
  dotnet/src/Agents/Core/Definition/AggregatorKernelAgentFactory.cs
  dotnet/src/Agents/Core/Definition/ChatCompletionAgentFactory.cs
  dotnet/src/Agents/OpenAI/Definition/OpenAIAssistantAgentFactory.cs
  dotnet/src/Agents/UnitTests/Core/Factory/AggregatorKernelAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AzureAIKernelAgentYamlTests.cs
  dotnet/src/Agents/Yaml/KernelAgentFactoryYamlExtensions.cs
Labels: .NET

#11221 Python: Add thread_id to assistant message to avoid duplication
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
Labels: python

#11203 .Net: Tavily image search and integration tests
  dotnet/src/IntegrationTests/Data/BaseTextSearchTests.cs
  dotnet/src/IntegrationTests/Plugins/Web/Tavily/TavilyTextSearchTests.cs
  dotnet/src/IntegrationTests/TestSettings/TavilyConfiguration.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Tavily/TavilyTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Tavily/TavilyTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Tavily/TavilyTextSearchOptions.cs
Labels: .NET, kernel

#11219 .Net: Add invoke overloads for string and no message.
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Controllers/AgentCompletionsController.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step01_AzureAIAgent.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step01_Assistant.cs
  dotnet/samples/GettingStartedWithAgents/Step01_Agent.cs
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/UnitTests/AgentTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/InvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeStreamingConformance/InvokeStreamingTests.cs
Labels: .NET, kernel

#11201 .Net: Add support for agent specific params
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/AgentInvokeOptions.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIAgentInvokeOptions.cs
  dotnet/src/Agents/AzureAI/AzureAIInvocationOptions.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentRunExtensions.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantRunOptionsFactory.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgentInvokeOptions.cs
  dotnet/src/Agents/UnitTests/AzureAI/AzureAIAgentInvokeOptionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantAgentInvokeOptionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantAgentTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantResponseContent.cs
  dotnet/src/IntegrationTests/Agents/AzureAIAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
Labels: .NET, kernel

#11224 Python: Common agent invocation API updates
  python/pyproject.toml
  python/samples/concepts/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_streaming_chat_history_callback.py
  python/samples/concepts/agents/openai_assistant/README.md
  python/samples/concepts/agents/openai_assistant/openai_assistant_streaming_chat_history_callback.py
  python/samples/getting_started_with_agents/azure_ai_agent/README.md
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/autogen/autogen_conversable_agent.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/bedrock/bedrock_agent.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent.py
  python/tests/unit/agents/chat_completion/test_chat_completion_agent.py
  python/tests/unit/agents/openai_assistant/test_open_ai_assistant_agent.py
  python/uv.lock
Labels: python, agents, documentation

#11229 .Net: Add support for getting notified of all messages and obsolete remaining methods using threadId.
  dotnet/samples/Concepts/Agents/AzureAIAgent_Streaming.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Streaming.cs
  dotnet/src/Agents/Abstractions/AgentInvokeOptions.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/AzureAIAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/BedrockAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/InvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/OpenAIAssistantAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeStreamingConformance/InvokeStreamingTests.cs
Labels: .NET, kernel

#11232 .Net: Add MCP server/client sample
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/MCPClient.csproj
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/MCPServer.csproj
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Properties/launchSettings.json
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Tools/DateTimeUtils.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Tools/WeatherUtils.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/appsettings.json
  dotnet/samples/Demos/ModelContextProtocolClientServer/README.md
  dotnet/samples/Demos/README.md
Labels: .NET, documentation

#11235 .Net: Add fix to ChatCompletionAgent for function call termination bug
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/AzureAIAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/BedrockAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/ChatCompletionAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/InvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/OpenAIAssistantAgentInvokeTests.cs
Labels: .NET, kernel

#11234 .Net: Switch from hardcoded model id
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step01_AzureAIAgent.cs
Labels: .NET

#11249 Python: Improve call_automation demo README
  python/samples/demos/call_automation/readme.md
Labels: python, documentation

#11256 .Net: Fix InMemory collection deletion.
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
Labels: .NET, kernel, memory
