Repository microsoft/semantic-kernel, pull requests merged in 2025-05, with the labels that each got.

#11826 Python: Deep-copy `function_result.value` in `invoke_function_call` to prevent state mutation
  python/semantic_kernel/kernel.py
  python/tests/unit/kernel/test_kernel.py
Labels: python, function_calling

#11750 .Net: Evaluate MemberAccess of constants in filter translators
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSqlFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Common/SqlFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateFilterTranslator.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/Filter/FilterTranslationPreprocessor.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
Labels: .NET, kernel, memory

#11767 .Net: Handle comparison with nullable value types in MEVD filter translators
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSqlFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Common/SqlFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateFilterTranslator.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/Filter/FilterTranslationPreprocessor.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Filter/CosmosMongoBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Filter/CosmosMongoBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/MongoDBIntegrationTests/Filter/MongoDBBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/MongoDBIntegrationTests/Filter/MongoDBBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Filter/PineconeBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Filter/PineconeBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Filter/RedisBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Filter/RedisBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/Filter/WeaviateBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/Filter/WeaviateBasicQueryTests.cs
Labels: .NET, kernel, memory

#11815 .Net: Remove math and wait plugins
  dotnet/samples/Concepts/Planners/FunctionCallStepwisePlanning.cs
  dotnet/src/Plugins/Plugins.Core/MathPlugin.cs
  dotnet/src/Plugins/Plugins.Core/WaitPlugin.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/MathPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/WaitPluginTests.cs
Labels: .NET

#11817 .Net: Integration tests for the python code interpreter plugin
  dotnet/samples/Demos/CodeInterpreterPlugin/Program.cs
  dotnet/samples/Demos/CodeInterpreterPlugin/README.md
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Plugins/Core/SessionsPythonPluginTests.cs
  dotnet/src/IntegrationTests/TestData/SessionsPythonPlugin/file_to_upload_1.txt
  dotnet/src/IntegrationTests/TestData/SessionsPythonPlugin/file_to_upload_2.txt
  dotnet/src/IntegrationTests/TestSettings/AzureContainerAppSessionPoolConfiguration.cs
Labels: .NET, kernel, documentation

#11837 .Net: Add MEVD solution filter
  dotnet/MEVD.slnf
Labels: .NET

#11833 .Net: Agent Bedrock update to use abstractions
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Bedrock/BedrockAgentThread.cs
  dotnet/src/Agents/Bedrock/Extensions/BedrockAgentExtensions.cs
  dotnet/src/Agents/UnitTests/Bedrock/BedrockAgentChannelTests.cs
  dotnet/src/Agents/UnitTests/Bedrock/BedrockAgentTests.cs
  dotnet/src/Agents/UnitTests/Bedrock/Extensions.cs/BedrockAgentExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
Labels: .NET, kernel, enhancement, agents

#11808 .Net: [MEVD] Removed Experimental flag from GetService method
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IKeywordHybridSearch.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IVectorSearch.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IVectorizableTextSearch.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/KeywordHybridSearchExtensions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchExtensions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStore.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreExtensions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreMetadata.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreRecordCollectionMetadata.cs
Labels: .NET, kernel

#11845 .Net: MEVD: Add consistent error handling
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchDynamicDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLDynamicDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchDynamicDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLDynamicDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/ErrorHandlingFeedIterator.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordFieldMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreUtils.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordFieldMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonDynamicDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/ExceptionWrapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/RecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateDynamicDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBDynamicDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateDynamicDataModelMapperTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordCollection.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreRecordMappingException.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Plugins/Core/SessionsPythonPluginTests.cs
  dotnet/src/InternalUtilities/connectors/Memory/MongoDB/ErrorHandlingAsyncCursor.cs
  dotnet/src/InternalUtilities/connectors/Memory/MongoDB/MongoDBDynamicDataModelMapper.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreErrorHandler.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
Labels: .NET, kernel, memory

#11857 .Net: Further improvement to MongoDB reliability.
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreFixture.cs
Labels: .NET, kernel

#11840 .Net: Update Microsoft.Extensions.AI 9.4.0 to 9.4.3
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordVectorPropertyModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordVectorPropertyModel{TInput}.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
Labels: .NET, kernel, memory

#11853 .Net: Change Upsert to not return generated keys
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_MultiStore.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_Simple.cs
  dotnet/samples/Concepts/Memory/VectorStore_DynamicDataModel_Interop.cs
  dotnet/samples/Concepts/Memory/VectorStore_HybridSearch_Simple_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Common.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiVector.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Simple.cs
  dotnet/samples/Demos/VectorStoreRAG/DataLoader.cs
  dotnet/samples/GettingStartedWithVectorStores/Step1_Ingest_Data.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/CRUD/SqlServerBatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/BatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/DynamicDataModelConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/NoDataConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/NoVectorConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/RecordConformanceTests.cs
Labels: .NET, kernel, memory

#11856 .Net: Migrate Python code interpreter C# plugin to the lates Azure code interpreter API version
  dotnet/src/IntegrationTests/Plugins/Core/SessionsPythonPluginTests.cs
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonCodeExecutionProperties.cs
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonPlugin.cs
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsRemoteFileMetadata.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/SessionsPythonPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/TestData/sessions_python_plugin_code_execution.json
  dotnet/src/Plugins/Plugins.UnitTests/TestData/sessions_python_plugin_file_list.json
  dotnet/src/Plugins/Plugins.UnitTests/TestData/sessions_python_plugin_file_upload.json
Labels: .NET, kernel, core plugin

#11834 .Net: Add a store for textual rag
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchDocument.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStore.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStoreOptions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStoreSourceRetrievalRequest.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStoreSourceRetrievalResponse.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStoreUpsertOptions.cs
  dotnet/src/SemanticKernel.Core/SemanticKernel.Core.csproj
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchStoreTests.cs
Labels: .NET, kernel

#11859 .Net: Use SendWithSuccessCheck extension methods
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonPlugin.cs
Labels: .NET, core plugin

#11864 .Net: Remove concurrent "batching" implementations in MEVD
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLDynamicDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLDynamicDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/ICosmosNoSQLMapper.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBDynamicDataModelMapperTests.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBVectorStoreRecordMapperTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreCollection.cs
  dotnet/src/InternalUtilities/connectors/Memory/MongoDB/IMongoDBMapper.cs
  dotnet/src/InternalUtilities/connectors/Memory/MongoDB/MongoDBDynamicDataModelMapper.cs
  dotnet/src/InternalUtilities/connectors/Memory/MongoDB/MongoDBVectorStoreRecordMapper.cs
Labels: .NET, kernel, memory

#11862 .Net: Rename TextRagComponent, add prompt tests and improve prompts.
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithTextSearchBehaviorConformance/AgentWithTextSearchBehavior.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithTextSearchBehaviorConformance/AzureAIAgentWithTextSearchBehaviorTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithTextSearchBehaviorConformance/ChatCompletionAgentWithTextSearchBehaviorTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithTextSearchBehaviorConformance/OpenAIAssistantAgentWithTextSearchBehaviorTests.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehavior.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehaviorOptions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStore.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchBehaviorTests.cs
Labels: .NET, kernel

#11883 .Net: Add covariant return types to VectorStore.GetCollection() implementations
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/CosmosMongoVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/CosmosNoSqlVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
Labels: .NET, kernel, memory

#11893 .Net: Move strings from resx to a dedicated type
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/CosmosMongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/CosmosNoSqlCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateCollection.cs
  dotnet/src/Connectors/Directory.Build.props
  dotnet/src/Connectors/VectorData.Abstractions/Properties/VectorDataStrings.Designer.cs
  dotnet/src/Connectors/VectorData.Abstractions/Properties/VectorDataStrings.resx
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionModelBuilder.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/VectorDataStrings.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorData.Abstractions.csproj
  dotnet/src/Connectors/VectorData.UnitTests/CollectionModelBuilderTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/PineconeEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/PineconeIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/EmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorDataIntegrationTests.csproj
Labels: .NET, kernel, memory

#11852 Python: Add extra_body attribute to OpenAI Chat settings
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/azure_chat_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_prompt_execution_settings.py
Labels: python

#11877 .Net: Add an agent RAG sample, add text only upload, bug fixes and more tests
  dotnet/samples/Concepts/Agents/ChatCompletion_Rag.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehavior.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehaviorOptions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStore.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchStoreTests.cs
Labels: .NET, kernel, documentation

#11901 .Net: Update to the latest version of MCP package
  dotnet/Directory.Packages.props
Labels: .NET, modelcontextprotocol

#11851 Python: Introduce the Copilot Studio Agent
  python/.vscode/launch.json
  python/pyproject.toml
  python/samples/getting_started_with_agents/copilot_studio/README.md
  python/samples/getting_started_with_agents/copilot_studio/step1_copilot_studio_agent_simple.py
  python/samples/getting_started_with_agents/copilot_studio/step2_copilot_studio_agent_thread_management.py
  python/samples/getting_started_with_agents/copilot_studio/step3_copilot_studio_agent_prompt_template.py
  python/samples/getting_started_with_agents/copilot_studio/step4_copilot_studio_agent_web_search.py
  python/semantic_kernel/agents/__init__.py
  python/semantic_kernel/agents/__init__.pyi
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/copilot_studio/__init__.py
  python/semantic_kernel/agents/copilot_studio/copilot_studio_agent.py
  python/semantic_kernel/agents/copilot_studio/copilot_studio_agent_settings.py
  python/semantic_kernel/exceptions/agent_exceptions.py
  python/tests/unit/agents/copilot_studio/test_copilot_studio_agent.py
  python/uv.lock
Labels: python, agents, documentation

#11900 .Net: Add cancellation token & add headers to request
  dotnet/samples/Demos/CodeInterpreterPlugin/Program.cs
  dotnet/src/IntegrationTests/Plugins/Core/SessionsPythonPluginTests.cs
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonPlugin.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/SessionsPythonPluginTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Plugins.UnitTests.csproj
Labels: .NET, kernel

#11780 .Net: Handle rendering a list of strings in a SK prompt
  dotnet/src/SemanticKernel.Core/PromptTemplate/KernelPromptTemplate.cs
Labels: .NET

#11728 .Net: Issue 11564 (fix for local api description url filepath)
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/ApiManifestKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/example-apimanifest-local.json
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/example-apimanifest-repair-service.json
Labels: .NET

#11898 .Net: [MEVD] Fixed SQLite filtering behavior
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteCommandBuilderTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/SqliteIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/VectorSearch/SqliteVectorSearchWithFilterConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Support/TestStore.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorSearch/VectorSearchWithFilterConformanceTests.cs
Labels: .NET, kernel, memory

#11890 Python: Update README.md
  python/samples/demos/telemetry/README.md
Labels: python, documentation

#11849 Python: Replace mutable default arguments and prevent unintended side effects
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/connectors/ai/anthropic/services/anthropic_chat_completion.py
  python/semantic_kernel/connectors/ai/function_choice_behavior.py
  python/semantic_kernel/contents/function_result_content.py
  python/semantic_kernel/contents/utils/data_uri.py
  python/semantic_kernel/core_plugins/http_plugin.py
  python/semantic_kernel/core_plugins/text_memory_plugin.py
  python/semantic_kernel/functions/kernel_function.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/memory/semantic_text_memory.py
  python/semantic_kernel/prompt_template/prompt_template_config.py
Labels: python

#11850 Python: Properly surface streaming code responses and handle Bing Grounding for AzureAIAgent
  python/samples/concepts/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_bing_grounding.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_bing_grounding_streaming_with_message_callback.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_code_interpreter_streaming_with_message_callback.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
Labels: python, agents, documentation

#11912 .Net: Fixing GenAI tracing
  dotnet/samples/Demos/TelemetryWithAppInsights/Program.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ActivityExtensions.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET, telemetry

#11920 Python: Disable Milvus memory store integration tests
  python/tests/integration/memory/memory_stores/test_milvus_memory_store.py
Labels: docs and tests, python

#11903 .Net: Fixes for vector store rag sample.
  dotnet/samples/Demos/VectorStoreRAG/DataLoader.cs
  dotnet/samples/Demos/VectorStoreRAG/Program.cs
  dotnet/samples/Demos/VectorStoreRAG/TextSnippet.cs
  dotnet/samples/Demos/VectorStoreRAG/VectorStoreRAG.csproj
  dotnet/samples/Demos/VectorStoreRAG/appsettings.json
Labels: .NET

#11906 .Net: Remove the experimental attribute from the core plugins
  dotnet/src/Plugins/Plugins.Core/AssemblyInfo.cs
  dotnet/src/Plugins/Plugins.Core/ConversationSummaryPlugin.cs
Labels: .NET, core plugin

#11873 Python: Port Agent Runtime to SK repo
  python/pyproject.toml
  python/semantic_kernel/agents/runtime/__init__.py
  python/semantic_kernel/agents/runtime/core/__init__.py
  python/semantic_kernel/agents/runtime/core/agent.py
  python/semantic_kernel/agents/runtime/core/agent_id.py
  python/semantic_kernel/agents/runtime/core/agent_metadata.py
  python/semantic_kernel/agents/runtime/core/agent_type.py
  python/semantic_kernel/agents/runtime/core/base_agent.py
  python/semantic_kernel/agents/runtime/core/cancellation_token.py
  python/semantic_kernel/agents/runtime/core/core_runtime.py
  python/semantic_kernel/agents/runtime/core/exceptions.py
  python/semantic_kernel/agents/runtime/core/intervention.py
  python/semantic_kernel/agents/runtime/core/logging.py
  python/semantic_kernel/agents/runtime/core/message_context.py
  python/semantic_kernel/agents/runtime/core/routed_agent.py
  python/semantic_kernel/agents/runtime/core/serialization.py
  python/semantic_kernel/agents/runtime/core/subscription.py
  python/semantic_kernel/agents/runtime/core/telemetry/__init__.py
  python/semantic_kernel/agents/runtime/core/telemetry/constants.py
  python/semantic_kernel/agents/runtime/core/telemetry/propagation.py
  python/semantic_kernel/agents/runtime/core/telemetry/tracing.py
  python/semantic_kernel/agents/runtime/core/telemetry/tracing_config.py
  python/semantic_kernel/agents/runtime/core/topic.py
  python/semantic_kernel/agents/runtime/core/type_helpers.py
  python/semantic_kernel/agents/runtime/core/validation_utils.py
  python/semantic_kernel/agents/runtime/in_process/__init__.py
  python/semantic_kernel/agents/runtime/in_process/agent_instantiation_context.py
  python/semantic_kernel/agents/runtime/in_process/default_subscription.py
  python/semantic_kernel/agents/runtime/in_process/default_topic.py
  python/semantic_kernel/agents/runtime/in_process/in_process_runtime.py
  python/semantic_kernel/agents/runtime/in_process/message_handler_context.py
  python/semantic_kernel/agents/runtime/in_process/queue.py
  python/semantic_kernel/agents/runtime/in_process/runtime_impl_helpers.py
  python/semantic_kernel/agents/runtime/in_process/subscription_context.py
  python/semantic_kernel/agents/runtime/in_process/type_prefix_subscription.py
  python/semantic_kernel/agents/runtime/in_process/type_subscription.py
  python/tests/unit/agents/runtime/test_message_serialization.py
  python/tests/unit/agents/runtime/test_runtime.py
  python/uv.lock
Labels: python, agents

#11908 .Net: Stop setting dimensions on MEVD calls to IEmbeddingGenerator
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordVectorPropertyModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordVectorPropertyModel{TInput}.cs
Labels: .NET, kernel

#11924 .Net: Upgrade pgvector and implement support for other embedding types
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.PgVector/IPostgresVectorStoreDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresCollection.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresConstants.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresMapper.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresModelBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresPropertyMapping.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresSqlBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.PgVector.UnitTests/PostgresMapperTests.cs
  dotnet/src/Connectors/Connectors.PgVector.UnitTests/PostgresPropertyMappingTests.cs
  dotnet/src/Connectors/Connectors.PgVector.UnitTests/PostgresSqlBuilderTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateCollectionCreateMappingTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/DistanceFunction.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/CommonWeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/AzureAISearchEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/Support/AzureAISearchTestStore.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/CosmosMongoEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosNoSqlIntegrationTests/CosmosNoSqlEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/InMemoryIntegrationTests/InMemoryEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/MongoDBIntegrationTests/MongoDBEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/PgVectorIntegrationTests/PostgresEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/PgVectorIntegrationTests/VectorSearch/PostgresVectorSearchDistanceFunctionComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/PineconeEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/VectorSearch/PineconeVectorSearchDistanceFunctionComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/QdrantEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/RedisHashSetEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/RedisJsonEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/VectorSearch/SqlServerVectorSearchDistanceFunctionComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/SqliteEmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/EmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Support/TestStore.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Support/VectorStoreFixture.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorSearch/VectorSearchDistanceFunctionComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/WeaviateEmbeddingTypeTests.cs
Labels: .NET, kernel, memory

#11935 .Net: [MEVD] Removed null key filtering for Upsert operations
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCollection.cs
Labels: .NET, kernel, memory

#11909 .Net: SqlServer dependency injection extension methods
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreOptions.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/DependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorDataIntegrationTests.csproj
Labels: .NET, kernel, memory

#11945 Ops: Update `Code QL` workflow for workflow dispatch
  .github/workflows/codeql-analysis.yml
Labels: github_actions

#11904 .Net: Bump version of Azure.AI.Projects and use new classes
  dotnet/Directory.Packages.props
  dotnet/src/Agents/AzureAI/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentToolDefinitionExtensions.cs
  dotnet/src/Agents/UnitTests/Yaml/AzureAIKernelAgentYamlTests.cs
Labels: .NET

#11944 .Net Agents - CodeQL Fix
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step07_BedrockAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step07_Assistant_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Step09_Declarative.cs
Labels: .NET, agents

#11931 .Net: Use type to represent python code execution result
  dotnet/src/IntegrationTests/Plugins/Core/SessionsPythonPluginTests.cs
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonCodeExecutionResult.cs
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonPlugin.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/SessionsPythonCodeExecutionResultTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/SessionsPythonPluginTests.cs
Labels: .NET, kernel

#11905 .Net: Add format script helper
  dotnet/format.ps1
Labels: .NET, enhancement

#11947 .Net: Rename ConversationStatePart to AIContextBehavior
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/Concepts/Agents/ChatCompletion_Mem0.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_Rag.cs
  dotnet/src/Agents/Abstractions/AgentThread.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/UnitTests/Core/AgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithStatePartConformance/AgentWithStatePartTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithTextSearchBehaviorConformance/AgentWithTextSearchBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AIContextBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AIContextBehaviorsManager.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AIContextBehaviorsManagerExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehavior.cs
  dotnet/src/SemanticKernel.Core/Memory/AIContextBehaviorsManagerExtensions.cs
  dotnet/src/SemanticKernel.Core/Memory/ConversationStatePartsManagerExtensions.cs
  dotnet/src/SemanticKernel.Core/Memory/Mem0/Mem0Behavior.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AIContextBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AIContextBehaviorsManagerExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AIContextBehaviorsManagerTests.cs
Labels: .NET, kernel, kernel.core, documentation

#11962 .Net: Fix index creation on pgvector with Hamming
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresSqlBuilder.cs
  dotnet/src/VectorDataIntegrationTests/PgVectorIntegrationTests/VectorSearch/PostgresVectorSearchDistanceFunctionComplianceTests.cs
Labels: .NET, kernel, memory

#11950 .Net: Graduate Plugins.Core package from 'alpha' to 'preview'
  dotnet/src/Plugins/Plugins.Core/Plugins.Core.csproj
Labels: .NET, core plugin

#11960 .Net: Replace text search behavior delegate options with Func
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehaviorOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchBehaviorTests.cs
Labels: .NET, kernel

#11892 .Net MEVD: Make sure NpgsqlDataSource gets disposed
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Postgres.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/IPostgresVectorStoreDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresCollection.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresUtils.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresVectorStore.cs
  dotnet/src/Connectors/Connectors.PgVector.UnitTests/PostgresCollectionTests.cs
  dotnet/src/Connectors/Connectors.PgVector.UnitTests/PostgresVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/PgVector/CommonPostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/PgVector/PostgresVectorStoreFixture.cs
  dotnet/src/VectorDataIntegrationTests/PgVectorIntegrationTests/Support/PostgresTestStore.cs
Labels: .NET, kernel, memory

#11948 .Net: Version 1.49.0
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET

#11951 .Net: Remove the Functions.Markdown package
  dotnet/SK-dotnet.sln
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/Markdown/Functions/KernelFunctionMarkdownTests.cs
Labels: .NET

#11969 .Net: Serialize python code execution result
  dotnet/src/Plugins/Plugins.Core/CodeInterpreter/SessionsPythonCodeExecutionResult.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/SessionsPythonCodeExecutionResultTests.cs
Labels: .NET, core plugin

#11971 .Net: Orchestration conditions
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/DocumentGenerationProcess.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/Steps/GenerateDocumentationStep.cs
  dotnet/samples/Demos/ProcessWithDapr/ProcessSteps/KickoffStep.cs
  dotnet/samples/GettingStartedWithProcesses/Step01/Step01_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishAndChipsProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishSandwichProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/SingleFoodItemProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEdge.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEdgeCondition.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProxyStep.cs
  dotnet/src/Experimental/Process.Abstractions/Process.Abstractions.csproj
  dotnet/src/Experimental/Process.Abstractions/Serialization/Model/Workflow.cs
  dotnet/src/Experimental/Process.Core/DeclarativeConditionContentWrapper.cs
  dotnet/src/Experimental/Process.Core/FoundryListenForBuilder.cs
  dotnet/src/Experimental/Process.Core/FoundryMessageSourceBuilder.cs
  dotnet/src/Experimental/Process.Core/FoundryProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ListenForBuilder.cs
  dotnet/src/Experimental/Process.Core/ListenForTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/MessageSourceBuilder.cs
  dotnet/src/Experimental/Process.Core/Process.Core.csproj
  dotnet/src/Experimental/Process.Core/ProcessAgentBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessProxyBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/Workflow/WorkflowBuilder.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessCycleTestResources.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalAgentStep.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/ProcessStateManager.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprProcessInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Serialization/KernelProcessEventSerializer.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessSerializationTests.cs
  dotnet/src/Experimental/Process.UnitTests/Resources/dotnetOnlyWorkflow1.yaml
  dotnet/src/InternalUtilities/process/Abstractions/DeclarativeConditionEvaluation.cs
  dotnet/src/InternalUtilities/process/Runtime/AgentFactoryFactory.cs
  dotnet/src/InternalUtilities/process/Runtime/AgentThreadFactory.cs
  dotnet/src/InternalUtilities/process/Runtime/KernelProcessAgentExecutor_Internal.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessEvent.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessMessage.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessMessageFactory.cs
Labels: .NET

#11984 .Net: Make InMemoryCollectionOptions non-generic
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryServiceCollectionExtensions.cs
Labels: .NET, kernel, memory

#11988 .Net: Dynamic agent
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessAgentStep.cs
  dotnet/src/Experimental/Process.Core/DeclarativeConditionContentWrapper.cs
  dotnet/src/Experimental/Process.Core/FoundryProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessAgentBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalAgentStep.cs
  dotnet/src/InternalUtilities/process/Abstractions/DeclarativeConditionEvaluation.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessStateManager.cs
  dotnet/src/InternalUtilities/process/Runtime/KernelProcessAgentExecutor_Internal.cs
Labels: .NET

#11579 Multi agent orchestration ADR
  .github/_typos.toml
  docs/decisions/0071-multi-agent-orchestration.md
Labels: agents, documentation

#11818 .Net: Enable package validation for the liquid prompt template package
  dotnet/src/Extensions/PromptTemplates.Liquid/PromptTemplates.Liquid.csproj
Labels: .NET, kernel

#11968 .Net: Sample for plugins to share state
  .github/_typos.toml
  dotnet/samples/Concepts/FunctionCalling/FunctionCalling_SharedState.cs
  dotnet/samples/Concepts/README.md
  dotnet/samples/Concepts/Resources/travel-destination-overview.txt
Labels: .NET, documentation

#12006 Python: Pin ONNX Windows pkg to last available.
  python/pyproject.toml
  python/uv.lock
Labels: python

#11976 Python: Fix fallback logic overriding custom ChatHistory in ChatHistoryAgentThread
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/tests/unit/agents/chat_completion/test_chat_completion_agent.py
Labels: python, agents

#12000 Python: Fix ChatCompletionAgent intermediate message ordering for invoke and invoke_stream
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_message_callback.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_message_callback_streaming.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/tests/unit/agents/chat_completion/test_chat_completion_agent.py
Labels: python, agents

#11983 .Net: Add Whiteboard behavior
  dotnet/src/IntegrationTests/Memory/WhiteboardBehaviorTests.cs
  dotnet/src/SemanticKernel.Core/Memory/Whiteboard/WhiteboardBehavior.cs
  dotnet/src/SemanticKernel.Core/Memory/Whiteboard/WhiteboardBehaviorOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/WhiteboardBehaviorTests.cs
Labels: .NET, kernel

#11991 .Net: Onnx - Add `IEmbeddingGenerator` and obsolete `ITextEmbeddingsGenerationService` + Improvements - Phase 03
  dotnet/samples/Concepts/Memory/Onnx_EmbeddingGeneration.cs
  dotnet/samples/Demos/OnnxSimpleRAG/Program.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Extensions/AzureOpenAIServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.EmbeddingGenerator.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralAIExtensionTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/Extensions/MistralAIKernelBuilderExtensions.EmbeddingGenerator.cs
  dotnet/src/Connectors/Connectors.MistralAI/Extensions/MistralAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/Extensions/MistralAIServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/Connectors/Connectors.Onnx/BertOnnxTextEmbeddingGenerationService.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/Extensions/OpenAIKernelBuilderExtensions.EmbeddingGenerator.cs
  dotnet/src/Connectors/Connectors.OpenAI/Extensions/OpenAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.OpenAI/Extensions/OpenAIServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/IntegrationTests/Connectors/MistralAI/TextEmbedding/MistralAITextEmbeddingTests.cs
  dotnet/src/IntegrationTests/Connectors/Onnx/BertOnnxTextEmbeddingGenerationServiceTests.cs
  dotnet/src/IntegrationTests/Planners/Handlebars/HandlebarsPlannerTests.cs
Labels: .NET, kernel

#11994 .Net: HuggingFace - Add `IEmbeddingGenerator` and obsolete `ITextEmbeddingsGenerationService` - Phase 04
  dotnet/samples/Concepts/Memory/HuggingFace_EmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/HuggingFaceKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/HuggingFaceServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceEmbeddingGenerationTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace.UnitTests/Services/HuggingFaceEmbeddingGeneratorTests.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFaceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceEmbeddingGenerator.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Services/HuggingFaceTextEmbeddingGenerationService.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/EmbeddingGeneration/EmbeddingGenerationTests.cs
  dotnet/src/IntegrationTests/Connectors/HuggingFace/HuggingFaceTestsBase.cs
Labels: .NET, kernel

#12018 .Net: Fix type name code for MEVD exceptions
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/VectorDataStrings.cs
Labels: .NET, kernel

#11836 .Net: KernelFunctions as AIFunctions
  dotnet/samples/Concepts/Plugins/CustomMutablePlugin.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Extensions/McpServerBuilderExtensions.cs
  dotnet/src/Agents/UnitTests/AzureAI/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/KernelCore/KernelTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/KernelCore/KernelTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatClient/KernelFunctionInvokingChatClient.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AIFunctionArgumentsExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AIFunctionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AIFunctionKernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettingsExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AbstractionsJsonContext.cs
  dotnet/src/SemanticKernel.Abstractions/Filters/AutoFunctionInvocation/AutoFunctionInvocationContext.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionNoop.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelPlugin.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/AIFunctionKernelFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Filters/AutoFunctionInvocation/AutoFunctionInvocationContextTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionCloneTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionTests.cs
Labels: .NET, kernel, kernel.core, msft.ext.ai

#12008 Python: Fix OpenAIAssistantAgent/OpenAIResponsesAgent intermediate message ordering for invoke and invoke_stream
  python/samples/concepts/agents/openai_assistant/openai_assistant_message_callback.py
  python/samples/concepts/agents/openai_assistant/openai_assistant_message_callback_streaming.py
  python/samples/concepts/agents/openai_responses/responses_agent_message_callback.py
  python/samples/concepts/agents/openai_responses/responses_agent_message_callback_streaming.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/semantic_kernel/agents/open_ai/openai_responses_agent.py
  python/semantic_kernel/agents/open_ai/responses_agent_thread_actions.py
  python/tests/samples/test_getting_started.py
  python/tests/unit/agents/openai_assistant/test_assistant_thread_actions.py
  python/tests/unit/agents/openai_assistant/test_openai_assistant_agent.py
Labels: python, agents

#12005 Python: Fix AzureAIAgent intermediate message ordering for invoke and invoke_stream
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_message_callback.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_message_callback_streaming.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent.py
  python/uv.lock
Labels: python, agents

#12001 Python: Add support for MCP Streamable HTTP transport
  python/pyproject.toml
  python/samples/concepts/mcp/README.md
  python/samples/concepts/mcp/mcp_as_plugin.py
  python/semantic_kernel/connectors/mcp.py
  python/tests/unit/connectors/mcp/test_mcp.py
  python/uv.lock
Labels: python, documentation

#12020 .Net: Add whiteboard sample
  dotnet/samples/Concepts/Agents/ChatCompletion_Whiteboard.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/IntegrationTests/Memory/WhiteboardBehaviorTests.cs
  dotnet/src/SemanticKernel.Core/Memory/Whiteboard/WhiteboardBehavior.cs
Labels: .NET, kernel, documentation

#12028 .Net: Amazon Bedrock - Add `IEmbeddingGenerator` and obsolete `ITextEmbeddingsGenerationService` - Phase 05
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Memory/AWSBedrock_EmbeddingGeneration.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Extensions/BedrockKernelBuilderExtensionTests.cs
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Extensions/BedrockServiceCollectionExtensionTests.cs
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Services/BedrockTextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Extensions/BedrockKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Extensions/BedrockServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Extensions/BedrockServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Services/BedrockTextEmbeddingGeneratorService.cs
  dotnet/src/Connectors/Connectors.Amazon/Connectors.Amazon.csproj
  dotnet/src/IntegrationTests/Connectors/Amazon/Bedrock/BedrockTextEmbeddingTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, kernel, documentation

#12029 .Net: Ollama - Add `IEmbeddingGenerator` and obsolete `ITextEmbeddingsGenerationService` - Phase 06
  dotnet/samples/Concepts/Memory/Ollama_EmbeddingGeneration.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Extensions/OllamaKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Extensions/OllamaServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/Connectors/Connectors.Ollama/Extensions/OllamaServiceCollectionExtensions.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaTextEmbeddingTests.cs
Labels: .NET, kernel

#12032 .Net: Azure AI Inference - Add `IEmbeddingGenerator` - Phase 07
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Extensions/AzureAIInferenceServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/TestData/text-embeddings-response.txt
  dotnet/src/Connectors/Connectors.AzureAIInference/Core/ChatClientCore.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Extensions/AzureOpenAIServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/IntegrationTests/Connectors/AzureAIInference/AzureAIInferenceEmbeddingGeneratorTests.cs
  dotnet/src/IntegrationTests/TestSettings/AzureAIInferenceConfiguration.cs
  dotnet/src/IntegrationTests/testsettings.json
Labels: .NET, kernel

#11993 Python: Multi-agent orchestration: Concurrent + Sequential
  python/samples/getting_started_with_agents/multi_agent_orchestration/__init__.py
  python/samples/getting_started_with_agents/multi_agent_orchestration/step1_concurrent.py
  python/samples/getting_started_with_agents/multi_agent_orchestration/step1a_concurrent_structure_output.py
  python/samples/getting_started_with_agents/multi_agent_orchestration/step2_sequential.py
  python/samples/getting_started_with_agents/multi_agent_orchestration/step2a_sequential_cancellation_token.py
  python/samples/getting_started_with_agents/resources/Hamlet_full_play_summary.txt
  python/semantic_kernel/agents/__init__.py
  python/semantic_kernel/agents/__init__.pyi
  python/semantic_kernel/agents/orchestration/__init__.py
  python/semantic_kernel/agents/orchestration/agent_actor_base.py
  python/semantic_kernel/agents/orchestration/concurrent.py
  python/semantic_kernel/agents/orchestration/orchestration_base.py
  python/semantic_kernel/agents/orchestration/sequential.py
  python/semantic_kernel/agents/orchestration/tools.py
  python/tests/unit/agents/orchestration/conftest.py
  python/tests/unit/agents/orchestration/test_concurrent.py
  python/tests/unit/agents/orchestration/test_orchestration_base.py
  python/tests/unit/agents/orchestration/test_orchestration_tools.py
  python/tests/unit/agents/orchestration/test_sequential.py
Labels: python, agents

#12040 Python: add explicit typing extensions dep
  python/pyproject.toml
  python/uv.lock
Labels: python

#12041 .Net: More support for Foundry Process Builder
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/Program.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/DocumentGenerationProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessAgentStep.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessDeclarativeConditionHandler.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEdge.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessFunctionTarget.cs
  dotnet/src/Experimental/Process.Abstractions/ProcessTargetType.cs
  dotnet/src/Experimental/Process.Abstractions/Serialization/Model/Workflow.cs
  dotnet/src/Experimental/Process.Core/FoundryListenForBuilder.cs
  dotnet/src/Experimental/Process.Core/FoundryProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/Internal/EndStep.cs
  dotnet/src/Experimental/Process.Core/Internal/KernelProcessStateMetadataExtension.cs
  dotnet/src/Experimental/Process.Core/ListenForBuilder.cs
  dotnet/src/Experimental/Process.Core/ListenForTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessAgentBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessExporter.cs
  dotnet/src/Experimental/Process.Core/ProcessFunctionTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessMapBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessProxyBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.Core/Tools/ProcessVisualizationExtensions.cs
  dotnet/src/Experimental/Process.Core/Workflow/WorkflowBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalAgentStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprAgentStepInfo.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessMapBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessProxyBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/Core/ProcessStepEdgeBuilderTests.cs
  dotnet/src/Experimental/Process.UnitTests/ProcessSerializationTests.cs
  dotnet/src/Experimental/Process.UnitTests/Resources/dotnetOnlyWorkflow1.yaml
  dotnet/src/Experimental/Process.UnitTests/Resources/scenario1.yaml
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProxyTests.cs
  dotnet/src/InternalUtilities/process/Runtime/MapExtensions.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessMessageFactory.cs
Labels: .NET

#11910 .Net Agents - Add support for URL citation on Azure Agent
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step09_AzureAIAgent_BingGrounding.cs
  dotnet/src/Agents/AzureAI/Internal/AgentThreadActions.cs
  dotnet/src/Agents/AzureAI/Logging/AgentThreadActionsLogMessages.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/Logging/AssistantThreadActionsLogMessages.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAgentsTest.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAssistantTest.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAzureAgentTest.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAzureTest.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Contents/AnnotationContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/AnnotationKind.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/FileReferenceContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingAnnotationContent.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingFileReferenceContent.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/AnnotationContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/ChatMessageContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/FileReferenceContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/StreamingAnnotationContentTests.cs
  dotnet/src/SemanticKernel.UnitTests/Contents/StreamingFileReferenceContentTests.cs
Labels: .NET, kernel, enhancement, agents, kernel.core, Build

#11982 Python: Support Declarative Agent Spec for ChatCompletionAgent & AzureAIAgent
  python/pyproject.toml
  python/samples/concepts/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_azure_ai_search.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_bing_grounding.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_code_interpreter.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_file_search.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_function_calling_from_file.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_openapi.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_with_existing_agent_id.py
  python/samples/concepts/resources/declarative_spec/spec.yaml
  python/samples/concepts/resources/file_search/employees.pdf
  python/samples/getting_started_with_agents/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/step1_azure_ai_agent.py
  python/samples/getting_started_with_agents/azure_ai_agent/step4_azure_ai_agent_code_interpreter.py
  python/samples/getting_started_with_agents/azure_ai_agent/step8_azure_ai_agent_declarative.py
  python/samples/getting_started_with_agents/chat_completion/step01_chat_completion_agent_simple.py
  python/samples/getting_started_with_agents/chat_completion/step02_chat_completion_agent_thread_management.py
  python/samples/getting_started_with_agents/chat_completion/step03_chat_completion_agent_with_kernel.py
  python/samples/getting_started_with_agents/chat_completion/step04_chat_completion_agent_plugin_simple.py
  python/samples/getting_started_with_agents/chat_completion/step05_chat_completion_agent_plugin_with_kernel.py
  python/samples/getting_started_with_agents/chat_completion/step06_chat_completion_agent_group_chat.py
  python/samples/getting_started_with_agents/chat_completion/step07_kernel_function_strategies.py
  python/samples/getting_started_with_agents/chat_completion/step08_chat_completion_agent_json_result.py
  python/samples/getting_started_with_agents/chat_completion/step09_chat_completion_agent_logging.py
  python/samples/getting_started_with_agents/chat_completion/step11_chat_completion_agent_declarative.py
  python/samples/getting_started_with_agents/resources/sales.csv
  python/semantic_kernel/agents/__init__.py
  python/semantic_kernel/agents/__init__.pyi
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent_settings.py
  python/semantic_kernel/agents/bedrock/bedrock_agent.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/azure_responses_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/semantic_kernel/agents/open_ai/openai_responses_agent.py
  python/tests/assets/test_yaml_spec/spec.yaml
  python/tests/conftest.py
  python/tests/samples/test_concepts.py
  python/tests/unit/agents/test_agent.py
  python/uv.lock
Labels: python, agents, documentation

#12047 .Net: [Feature Branch] Improvements and tests for declarative processes
  dotnet/src/Experimental/Process.Abstractions/Serialization/WorkflowSerializer.cs
  dotnet/src/Experimental/Process.Core/FoundryProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessExporter.cs
  dotnet/src/Experimental/Process.Core/Workflow/WorkflowBuilder.cs
  dotnet/src/Experimental/Process.UnitTests/.editorconfig
  dotnet/src/Experimental/Process.UnitTests/Process.UnitTests.csproj
  dotnet/src/Experimental/Process.UnitTests/ProcessSerializationTests.cs
  dotnet/src/Experimental/Process.UnitTests/Resources/combined-workflow.yaml
  dotnet/src/Experimental/Process.UnitTests/Resources/dotnetOnlyWorkflow1.yaml
  dotnet/src/Experimental/Process.UnitTests/Steps/AStep.cs
  dotnet/src/Experimental/Process.UnitTests/Steps/BStep.cs
  dotnet/src/Experimental/Process.UnitTests/Steps/CStep.cs
  dotnet/src/Experimental/Process.UnitTests/Steps/CommonEvents.cs
  dotnet/src/Experimental/Process.UnitTests/Steps/KickoffStep.cs
  dotnet/src/Experimental/Process.UnitTests/Steps/ProductInfoProvider.cs
Labels: .NET, processes

#12043 .Net MEVD: DI for relational DBs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.PgVector.UnitTests/PostgresServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.SqliteVec.UnitTests/SqliteServiceCollectionExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqliteVec/SqliteServiceCollectionExtensionsTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqliteVec/SqliteVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/PgVectorIntegrationTests/PostgresDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/PgVectorIntegrationTests/PostgresEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/PgVectorIntegrationTests/Support/PostgresTestStore.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/SqliteDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/SqliteEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/DependencyInjectionTests.cs
Labels: .NET, kernel, memory

#12038 .Net: Add AI suggested tweaks to prompts and use IChatClient
  dotnet/samples/Concepts/Agents/ChatCompletion_Whiteboard.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/IntegrationTests/Memory/WhiteboardBehaviorTests.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehavior.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehaviorOptions.cs
  dotnet/src/SemanticKernel.Core/Memory/Mem0/Mem0Behavior.cs
  dotnet/src/SemanticKernel.Core/Memory/Mem0/Mem0BehaviorOptions.cs
  dotnet/src/SemanticKernel.Core/Memory/Whiteboard/WhiteboardBehavior.cs
  dotnet/src/SemanticKernel.Core/Memory/Whiteboard/WhiteboardBehaviorOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/Mem0BehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/WhiteboardBehaviorTests.cs
Labels: .NET, kernel

#12054 .Net: Update to latest version of MEAI and move away from deprecated schema APIs.
  dotnet/Directory.Packages.props
  dotnet/samples/GettingStartedWithProcesses/Step04/SchemaGenerator.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Core/OpenAIJsonSchemaTransformerTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Helpers/OpenAIChatResponseFormatBuilder.cs
  dotnet/src/InternalUtilities/src/Schema/KernelJsonSchemaBuilder.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/AIFunctionKernelFunctionTests.cs
Labels: .NET, kernel

#12045 Python: Multi-agent orchestration: Group Chat
  python/samples/getting_started_with_agents/multi_agent_orchestration/step3_group_chat.py
  python/samples/getting_started_with_agents/multi_agent_orchestration/step3a_group_chat_human_in_the_loop.py
  python/samples/getting_started_with_agents/multi_agent_orchestration/step3b_group_chat_with_chat_completion_manager.py
  python/semantic_kernel/agents/__init__.py
  python/semantic_kernel/agents/__init__.pyi
  python/semantic_kernel/agents/orchestration/agent_actor_base.py
  python/semantic_kernel/agents/orchestration/concurrent.py
  python/semantic_kernel/agents/orchestration/group_chat.py
  python/semantic_kernel/agents/orchestration/orchestration_base.py
  python/semantic_kernel/agents/orchestration/sequential.py
  python/semantic_kernel/agents/orchestration/tools.py
  python/tests/unit/agents/orchestration/test_group_chat.py
Labels: python, agents

#12039 Python: fixes and updates for MCP
  python/pyproject.toml
  python/samples/concepts/mcp/agent_with_mcp_agent.py
  python/samples/concepts/mcp/azure_ai_agent_with_local_server.py
  python/semantic_kernel/connectors/mcp.py
  python/semantic_kernel/utils/validation.py
  python/tests/samples/test_concepts.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_mongodb_collection.py
  python/tests/unit/functions/test_kernel_function_metadata.py
  python/uv.lock
Labels: python

#12066 Python: Bump Python version to 1.30.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#11987 .Net: Local Runtime improvements
  dotnet/src/Experimental/Process.Abstractions/IProcessStorageConnector.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStep.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageParentData.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageStepEdgesData.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageStepState.cs
  dotnet/src/Experimental/Process.Abstractions/ProcessStorageManager.cs
  dotnet/src/Experimental/Process.Core/ListenForTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalEdgeGroupProcessor.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/KernelProcessStepEdgesExtension.cs
  dotnet/src/InternalUtilities/process/TestsShared/Processes/CommonProcesses.cs
  dotnet/src/InternalUtilities/process/TestsShared/Services/CounterService.cs
  dotnet/src/InternalUtilities/process/TestsShared/Services/ICounterService.cs
  dotnet/src/InternalUtilities/process/TestsShared/Services/JsonFileStorage.cs
  dotnet/src/InternalUtilities/process/TestsShared/Services/MockStorage.cs
  dotnet/src/InternalUtilities/process/TestsShared/Steps/CommonSteps.cs
Labels: .NET

#12072 .Net: Fixing Local process Tests
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageParentData.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProxy.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalMapTests.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/InternalUtilities/process/TestsShared/Processes/CommonProcesses.cs
Labels: .NET

#12059 .Net: Add integration test to ensure that search only embedding generation works
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/AzureAISearchEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/CosmosMongoEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosNoSqlIntegrationTests/CosmosNoSqlEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/InMemoryIntegrationTests/InMemoryEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/MongoDBIntegrationTests/MongoDBEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/PgVectorIntegrationTests/PostgresEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/PineconeEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/QdrantEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/RedisHashSetEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/RedisJsonEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/SqliteEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/EmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/WeaviateEmbeddingGenerationTests.cs
Labels: .NET

#12061 .Net: Add a response type for OnModelInvokeAsync
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithStatePartConformance/AgentWithStatePartTests.cs
  dotnet/src/IntegrationTests/Memory/Mem0BehaviorTests.cs
  dotnet/src/IntegrationTests/Memory/WhiteboardBehaviorTests.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AIContextBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AIContextBehaviorsManager.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AIContextBehaviorsManagerExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AIContextPart.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehavior.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStoreOptions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStoreSourceRetrievalRequest.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStoreSourceRetrievalResponse.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStoreUpsertOptions.cs
  dotnet/src/SemanticKernel.Core/Memory/AIContextAdditionsExtensions.cs
  dotnet/src/SemanticKernel.Core/Memory/Mem0/Mem0Behavior.cs
  dotnet/src/SemanticKernel.Core/Memory/Whiteboard/WhiteboardBehavior.cs
  dotnet/src/SemanticKernel.Core/Memory/Whiteboard/WhiteboardBehaviorOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AIContextBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AIContextBehaviorsManagerExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AIContextBehaviorsManagerTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/Mem0BehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/WhiteboardBehaviorTests.cs
Labels: .NET, kernel, kernel.core

#12083 .Net: Stop setting dimensions when generating embeddings in SearchAsync
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosMongoDB/CosmosMongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateCollection.cs
Labels: .NET, kernel, memory

#12073 Python: Add MultiAgent Orchestration to README.
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_message_callback.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_message_callback_streaming.py
  python/samples/getting_started_with_agents/README.md
  python/samples/getting_started_with_agents/multi_agent_orchestration/step4a_handoff_structured_inputs.py
Labels: python, agents, documentation

#12094 .Net: [Feature Branch] Added chat completion agent type support for declarative processes
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Agents/Core/ChatHistoryAgentThread.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessAgentThread.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessThreadType.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessDefaultState.cs
  dotnet/src/Experimental/Process.Core/Tools/ProcessStepLoader.cs
  dotnet/src/Experimental/Process.Core/Workflow/WorkflowBuilder.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessResources.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/Process.LocalRuntime.csproj
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Process.Runtime.Dapr.csproj
  dotnet/src/Experimental/Process.Utilities.UnitTests/Process.Utilities.UnitTests.csproj
  dotnet/src/InternalUtilities/process/Runtime/AgentFactoryFactory.cs
  dotnet/src/InternalUtilities/process/Runtime/AgentThreadFactory.cs
  dotnet/src/InternalUtilities/process/Runtime/KernelProcessAgentExecutor_Internal.cs
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET

#12099 .Net: Foundry local only
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessFunctionTarget.cs
  dotnet/src/Experimental/Process.Abstractions/Serialization/Model/Workflow.cs
  dotnet/src/Experimental/Process.Core/FoundryListenForBuilder.cs
  dotnet/src/Experimental/Process.Core/FoundryListenForTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/FoundryProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessFunctionTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/Workflow/WorkflowBuilder.cs
  dotnet/src/Experimental/Process.Core/WorkflowSerializer.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessResources.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessMessage.cs
Labels: .NET

#12101 Foundry local only
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessFunctionTarget.cs
  dotnet/src/Experimental/Process.Core/FoundryProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/Workflow/WorkflowBuilder.cs
Labels: .NET

#12107 Python: Place upper-bound on azure-ai-projects until service is ready
  python/pyproject.toml
  python/uv.lock
Labels: python

#12108 .Net: Updated package version
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel.core

#12090 .Net: Enable embedding generation for hybrid search
  dotnet/src/Connectors/Connectors.CosmosNoSql.UnitTests/CosmosNoSqlCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateCollection.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IKeywordHybridSearchable.cs
Labels: .NET, kernel, memory

#12089 Python: Multiple new classes tests to improve code coverage
  python/tests/unit/connectors/ai/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/processes/dapr_runtime/test_process_actor.py
  python/tests/unit/processes/dapr_runtime/test_step_actor.py
  python/tests/unit/processes/test_process_builder.py
Labels: python

#12111 .Net: Rename RecordSearchOptions -> VectorSearchOptions
  dotnet/src/Connectors/Connectors.CosmosMongoDB.UnitTests/CosmosMongoCollectionTests.cs
  dotnet/src/Connectors/Connectors.CosmosNoSql.UnitTests/CosmosNoSqlCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosMongoDB/CosmosMongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresCollection.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateQueryBuilder.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateQueryBuilderTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IVectorSearchable.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/RecordSearchOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreCollection.cs
  dotnet/src/SemanticKernel.AotTests/UnitTests/Search/MockVectorizableTextSearch.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/DependencyInjectionTests.cs
Labels: .NET, kernel, memory

#12112 .Net: Rename names and type on VectorStoreProperty and related
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/PineconeFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/RedisFactory.cs
  dotnet/samples/Concepts/Memory/VectorStore_ConsumeFromMemoryStore_Qdrant.cs
  dotnet/samples/Concepts/Memory/VectorStore_ConsumeFromMemoryStore_Redis.cs
  dotnet/src/Connectors/Connectors.CosmosMongoDB.UnitTests/CosmosMongoCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.CosmosMongoDB.UnitTests/CosmosMongoCollectionTests.cs
  dotnet/src/Connectors/Connectors.CosmosNoSql.UnitTests/CosmosNoSqlCollectionQueryBuilderTests.cs
  dotnet/src/Connectors/Connectors.CosmosNoSql.UnitTests/CosmosNoSqlHotel.cs
  dotnet/src/Connectors/Connectors.CosmosNoSql.UnitTests/CosmosNoSqlMapperTests.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoCollectionTests.cs
  dotnet/src/Connectors/Connectors.PgVector.UnitTests/PostgresHotel.cs
  dotnet/src/Connectors/Connectors.PgVector.UnitTests/PostgresSqlBuilderTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantCollectionTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisCollectionSearchMappingTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetDynamicMappingTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetMapperTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetMappingTestHelpers.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonCollectionTests.cs
  dotnet/src/Connectors/Connectors.SqliteVec.UnitTests/SqliteHotel.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateQueryBuilderTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionModelBuilder.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordAttributes/VectorStoreDataAttribute.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordAttributes/VectorStoreKeyAttribute.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordAttributes/VectorStoreVectorAttribute.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreDataProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreKeyProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreVectorProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreVectorProperty{TInput}.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/CosmosMongoDB/CosmosMongoCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/CosmosMongoDB/CosmosMongoHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/CosmosMongoDB/CosmosMongoVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/PgVector/PostgresHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/PgVector/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqliteVec/SqliteHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqliteVec/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Filter/RedisBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Filter/RedisBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Filter/SqlServerBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Filter/SqlServerBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/Filter/SqliteBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/Filter/SqliteBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/NoDataConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/NoVectorConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Collections/CollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Models/SimpleRecord.cs
Labels: .NET, kernel

#12105 .Net: Update M.E.AI to stable version!
  dotnet/Directory.Packages.props
Labels: .NET

#12113 .Net: Rename DeleteCollection -> EnsureCollectionDeleted
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/PineconeFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/RedisFactory.cs
  dotnet/samples/GettingStartedWithTextSearch/InMemoryVectorStoreFixture.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchCollectionTests.cs
  dotnet/src/Connectors/Connectors.CosmosMongoDB.UnitTests/CosmosMongoCollectionTests.cs
  dotnet/src/Connectors/Connectors.CosmosNoSql.UnitTests/CosmosNoSqlCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosMongoDB/CosmosMongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosMongoDB/CosmosMongoVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresCollection.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoCollectionTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateCollectionTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStore.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/CosmosMongoDB/CosmosMongoCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/CosmosNoSql/CosmosNoSqlCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/PgVector/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqliteVec/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Collections/CollectionConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/DependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/EmbeddingTypeTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Support/VectorStoreCollectionFixture.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorSearch/VectorSearchDistanceFunctionComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorSearch/VectorSearchWithFilterConformanceTests.cs
Labels: .NET, kernel, memory

#12128 .Net: Update codebase to the latest MCP package
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/AuthorRoleExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/ChatMessageContentExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/ContentExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/PromptResultExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/ReadResourceResultExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/RoleExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/SamplingMessageExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/HumanInTheLoopFilter.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/BaseSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/MCPPromptSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/MCPResourceTemplatesSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/MCPResourcesSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/MCPSamplingSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Extensions/McpServerBuilderExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/PromptDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/ResourceDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/ResourceTemplateDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Tools/MailboxUtils.cs
  dotnet/samples/Demos/ModelContextProtocolPlugin/Program.cs
Labels: .NET, modelcontextprotocol

#12097 .Net MEVD: Dependency Injection
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/VectorStoreRAG/Program.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosMongoDB/CosmosMongoCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreOptions.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreCollectionOptions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
  dotnet/src/SemanticKernel.Core/PromptTemplate/AggregatorPromptTemplateFactory.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/AzureAISearchDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/AzureAISearchEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/PineconeDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/PineconeEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Support/PineconeTestStore.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/QdrantDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/QdrantEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/FakeDatabase.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/RedisHashSetDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/RedisHashSetEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/RedisJsonDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/RedisJsonEmbeddingGenerationTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/DependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/WeaviateDependencyInjectionTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/WeaviateEmbeddingGenerationTests.cs
Labels: .NET, kernel, memory

#12127 .Net: Remove unsigned type support from SqliteVec provider
  .github/workflows/dotnet-format.yml
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosMongoDB/CosmosMongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteModelBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqlitePropertyMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateCollection.cs
  dotnet/src/Connectors/Connectors.SqliteVec.UnitTests/SqliteCollectionTests.cs
  dotnet/src/Connectors/Connectors.SqliteVec.UnitTests/SqliteMapperTests.cs
  dotnet/src/Connectors/Connectors.SqliteVec.UnitTests/SqliteVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqliteVec/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/CRUD/SqliteBatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/CRUD/SqliteRecordConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/Filter/SqliteBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/Filter/SqliteBasicQueryTests.cs
Labels: .NET, kernel, memory

#12104 Python: Multi-agent orchestration: Magentic
  python/.cspell.json
  python/samples/getting_started_with_agents/README.md
  python/samples/getting_started_with_agents/multi_agent_orchestration/README.md
  python/samples/getting_started_with_agents/multi_agent_orchestration/step1a_concurrent_structured_outputs.py
  python/samples/getting_started_with_agents/multi_agent_orchestration/step5_magentic.py
  python/semantic_kernel/agents/__init__.py
  python/semantic_kernel/agents/__init__.pyi
  python/semantic_kernel/agents/orchestration/magentic.py
  python/semantic_kernel/agents/orchestration/prompts/__init__.py
  python/semantic_kernel/agents/orchestration/prompts/_magentic_prompts.py
  python/tests/unit/agents/orchestration/test_magentic.py
Labels: python, agents, documentation

#12130 .Net: Context based function selection ADR
  docs/decisions/0072-context-based-function-selection.md
Labels: documentation

#12138 .Net Agents - Fix assistant settings for integration test fixture
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/OpenAIAssistantAgentFixture.cs
  dotnet/src/IntegrationTests/TestSettings/AzureAIConfiguration.cs
Labels: bug, .NET, kernel, agents

#12143 .Net: Support search-only embedding generation
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosMongoDB/CosmosMongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoCollection.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresCollection.cs
  dotnet/src/Connectors/Connectors.Memory.PgVector/PostgresModelBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisFieldMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonDynamicModelBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonModelBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisModelBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateCollection.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionModelBuilder.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/VectorDataStrings.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/VectorPropertyModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/VectorPropertyModel{TInput}.cs
  dotnet/src/Connectors/VectorData.UnitTests/CollectionModelBuilderTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/EmbeddingGenerationTests.cs
Labels: .NET, kernel, memory

#12058 Python: marked planners deprecated and removed all related items
  python/README.md
  python/samples/getting_started/05-memory-and-embeddings.ipynb
  python/samples/getting_started/05-using-the-planner.ipynb
  python/samples/getting_started/06-hugging-face-for-plugins.ipynb
  python/samples/getting_started/07-native-function-inline.ipynb
  python/samples/getting_started/08-groundedness-checking.ipynb
  python/samples/getting_started/09-multiple-results-per-prompt.ipynb
  python/samples/getting_started/10-streaming-completions.ipynb
  python/samples/learn_resources/planner.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner_options.py
  python/semantic_kernel/planners/function_calling_stepwise_planner/function_calling_stepwise_planner_result.py
  python/semantic_kernel/planners/plan.py
  python/semantic_kernel/planners/planner_extensions.py
  python/semantic_kernel/planners/planner_options.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_config.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_extensions.py
  python/semantic_kernel/planners/sequential_planner/sequential_planner_parser.py
  python/tests/integration/planning/function_calling_stepwise_planner/test_int_function_calling_stepwise_planner.py
  python/tests/integration/planning/sequential_planner/test_sequential_plan_parser.py
  python/tests/integration/planning/sequential_planner/test_sequential_planner.py
  python/tests/samples/test_getting_started.py
  python/tests/unit/planners/function_calling_stepwise_planner/test_function_calling_stepwise_planner.py
  python/tests/unit/planners/function_calling_stepwise_planner/test_function_calling_stepwise_planner_options.py
  python/tests/unit/planners/sequential_planner/__init__.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_extensions.py
  python/tests/unit/planners/sequential_planner/test_sequential_planner_parser.py
  python/tests/unit/planners/test_plan_creation.py
  python/tests/unit/planners/test_plan_execution.py
  python/tests/unit/planners/test_planner_extensions.py
Labels: python, documentation

#12071 Python: Validate for missing or unexpected params from model
  python/semantic_kernel/kernel.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#12135 .Net: Fix integration test and bugs
  dotnet/src/Connectors/Connectors.Memory.CosmosNoSql/CosmosNoSqlDynamicCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateQueryBuilder.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/CosmosMongoDB/CosmosMongoCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/CosmosNoSql/CosmosNoSqlCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/CosmosNoSql/CosmosNoSqlVectorStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/PgVector/PostgresVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/PgVector/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqliteVec/SqliteVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/SqliteVec/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Data/BaseTextSearchTests.cs
Labels: .NET, kernel, memory

#12134 .Net MEVD: Test coverage for all kinds of data fields supported by Azure AI Search
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchCollectionCreateMapping.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/CRUD/AzureAISearchAllSupportedTypesTests.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/Support/AzureAISearchAllTypes.cs
Labels: .NET, kernel, memory

#12115 Python: Update Cosmos and MongoDB
  python/semantic_kernel/connectors/memory/azure_cosmos_db.py
  python/semantic_kernel/connectors/memory/mongodb.py
  python/tests/integration/memory/azure_cosmos_db/conftest.py
  python/tests/integration/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql.py
  python/tests/unit/connectors/memory/azure_cosmos_db/conftest.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_mongodb_collection.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql_collection.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql_store.py
  python/tests/unit/connectors/memory/conftest.py
Labels: python, memory

#12146 Allow omitting property type from definition
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionModelBuilder.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/VectorDataStrings.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreDataProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreKeyProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreVectorProperty.cs
  dotnet/src/Connectors/VectorData.UnitTests/CollectionModelBuilderTests.cs
Labels: .NET, kernel

#12159 .Net: Disable Api Manifest unit tests
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/ApiManifestKernelExtensionsTests.cs
Labels: .NET

#12157 .Net: Update to the latest mcp nuget package
  dotnet/Directory.Packages.props
Labels: .NET, modelcontextprotocol

#12162 .Net MEVD: Getting integration tests green 1/n
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/Properties/AssemblyAttributes.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/Support/SqliteTestEnvironment.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/Support/SqliteTestStore.cs
  dotnet/src/VectorDataIntegrationTests/SqliteVecIntegrationTests/Support/SqliteVecRequiredAttribute.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/Filter/WeaviateBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/Filter/WeaviateBasicQueryTests.cs
Labels: .NET

#11858 .Net: Add missing directory Plugin in concepts + Warning fixes
  dotnet/Directory.Build.props
  dotnet/samples/Concepts/Plugins/CreatePromptPluginFromDirectory.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresSqlBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Settings/OllamaPromptExecutionSettingsTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/CrossLanguage/KernelRequestTracer.cs
  dotnet/src/InternalUtilities/src/System/IndexRange.cs
  prompt_template_samples/FunPlugin/Joke/config.json
Labels: .NET, kernel, documentation, memory

#12163 .Net MEVD: Update NRedisStack to 1.0.0 to get Full Framework fixes
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.Memory.Redis/Connectors.Memory.Redis.csproj
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/FakeDatabase.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Filter/RedisBasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Filter/RedisBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
Labels: .NET, kernel, memory

#12165 .Net: Fix samples and a small usability issue.
  dotnet/samples/Concepts/Memory/VectorStoreFixtures/VectorStorePostgresContainerFixture.cs
  dotnet/samples/Concepts/Memory/VectorStore_ConsumeFromMemoryStore_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_MultiStore.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_Simple.cs
  dotnet/samples/Concepts/Memory/VectorStore_DynamicDataModel_Interop.cs
  dotnet/samples/Concepts/Memory/VectorStore_HybridSearch_Simple_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Common.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_InMemory.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Postgres.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Qdrant.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Redis.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiVector.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Simple.cs
  dotnet/samples/Concepts/Memory/VolatileVectorStore_LoadData.cs
  dotnet/samples/GettingStartedWithVectorStores/Step4_Use_DynamicDataModel.cs
  dotnet/samples/GettingStartedWithVectorStores/VectorStoresFixture.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/PropertyModel.cs
Labels: .NET, kernel

#12110 .Net Agents - Magentic Agent Orchestration
  dotnet/SK-dotnet.sln
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step01_Concurrent.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step02_Sequential.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step03_GroupChat.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step04_Handoff.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step05_Magentic.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentToolDefinitionExtensions.cs
  dotnet/src/Agents/Magentic/Agents.Magentic.csproj
  dotnet/src/Agents/Magentic/Internal/PromptExecutionSettingsExtensions.cs
  dotnet/src/Agents/Magentic/Logging/MagenticOrchestrationLogMessages.cs
  dotnet/src/Agents/Magentic/MagenticAgentActor.cs
  dotnet/src/Agents/Magentic/MagenticManager.cs
  dotnet/src/Agents/Magentic/MagenticManagerActor.cs
  dotnet/src/Agents/Magentic/MagenticManagerContext.cs
  dotnet/src/Agents/Magentic/MagenticMessages.cs
  dotnet/src/Agents/Magentic/MagenticOrchestration.String.cs
  dotnet/src/Agents/Magentic/MagenticOrchestration.cs
  dotnet/src/Agents/Magentic/MagenticProgressLedger.cs
  dotnet/src/Agents/Magentic/MagenticPrompts.cs
  dotnet/src/Agents/Magentic/MagenticTeam.cs
  dotnet/src/Agents/Magentic/Properties/AssemblyInfo.cs
  dotnet/src/Agents/Magentic/StandardMagenticManager.cs
  dotnet/src/Agents/Orchestration/Extensions/RuntimeExtensions.cs
  dotnet/src/Agents/Runtime/Abstractions/Runtime.Abstractions.csproj
  dotnet/src/Agents/Runtime/Core/Runtime.Core.csproj
  dotnet/src/Agents/UnitTests/Agents.UnitTests.csproj
  dotnet/src/Agents/UnitTests/Magentic/MagenticManagerContextTests.cs
  dotnet/src/Agents/UnitTests/Magentic/MagenticOrchestrationTests.cs
  dotnet/src/Agents/UnitTests/Magentic/StandardMagenticManagerTests.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseOrchestrationTest.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: .NET, agents, Build

#12167 .Net: Package version updates.
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/VectorData.Abstractions/VectorData.Abstractions.csproj
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel, kernel.core

#12152 Python: Preserve Citation Title in AnnotationContent from Azure AI Foundry Annotations
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/contents/annotation_content.py
  python/semantic_kernel/contents/streaming_annotation_content.py
  python/tests/unit/agents/azure_ai_agent/test_agent_content_generation.py
  python/tests/unit/contents/test_annotation_content.py
  python/tests/unit/contents/test_chat_message_content.py
  python/tests/unit/contents/test_streaming_annotation_content.py
Labels: python, agents

#12171 .Net Agents - Fix agent runtime package publishing
  dotnet/src/Agents/Runtime/Abstractions/Runtime.Abstractions.csproj
  dotnet/src/Agents/Runtime/Core/Runtime.Core.csproj
Labels: .NET, agents

#12078 Python: added WebRTC support for Azure OpenAI Realtime
  python/samples/concepts/realtime/realtime_agent_with_function_calling_webrtc.py
  python/samples/concepts/realtime/realtime_agent_with_function_calling_websocket.py
  python/semantic_kernel/connectors/ai/open_ai/__init__.py
  python/semantic_kernel/connectors/ai/open_ai/prompt_execution_settings/open_ai_realtime_execution_settings.py
  python/semantic_kernel/connectors/ai/open_ai/services/_open_ai_realtime.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_config_base.py
  python/semantic_kernel/connectors/ai/open_ai/services/azure_realtime.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_realtime.py
Labels: python

#12172 .Net: Fixing CodeQL failure
  dotnet/src/VectorDataIntegrationTests/PgVectorIntegrationTests/PostgresEmbeddingTypeTests.cs
Labels: .NET

#12027 .Net Agents - Update Azure Foundry Agent SDK
  dotnet/Directory.Packages.props
  dotnet/nuget.config
  dotnet/samples/Concepts/Agents/AzureAIAgent_FileManipulation.cs
  dotnet/samples/Concepts/Agents/AzureAIAgent_Streaming.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/AzureAIAgentWithMCPToolsSample.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step01_AzureAIAgent.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step02_AzureAIAgent_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step03_AzureAIAgent_Chat.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step04_AzureAIAgent_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step05_AzureAIAgent_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step06_AzureAIAgent_OpenAPI.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step07_AzureAIAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step09_AzureAIAgent_BingGrounding.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step07_Assistant_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step05_Magentic.cs
  dotnet/samples/GettingStartedWithAgents/Step10_MultiAgent_Declarative.cs
  dotnet/src/Agents/AzureAI/Agents.AzureAI.csproj
  dotnet/src/Agents/AzureAI/AzureAIAgent.ClientFactory.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIAgentThread.cs
  dotnet/src/Agents/AzureAI/AzureAIChannel.cs
  dotnet/src/Agents/AzureAI/AzureAIClientProvider.cs
  dotnet/src/Agents/AzureAI/AzureAIThreadMessageFactory.cs
  dotnet/src/Agents/AzureAI/Definition/AzureAIAgentFactory.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentRunExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/AgentToolDefinitionExtensions.cs
  dotnet/src/Agents/AzureAI/Extensions/KernelFunctionExtensions.cs
  dotnet/src/Agents/AzureAI/Internal/AgentMessageFactory.cs
  dotnet/src/Agents/AzureAI/Internal/AgentThreadActions.cs
  dotnet/src/Agents/AzureAI/Logging/AgentThreadActionsLogMessages.cs
  dotnet/src/Agents/OpenAI/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/OpenAI/OpenAIClientProvider.cs
  dotnet/src/Agents/UnitTests/AzureAI/AzureAIClientProviderTests.cs
  dotnet/src/Agents/UnitTests/AzureAI/Definition/AzureAIAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/AzureAI/Extensions/KernelFunctionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/AzureAI/Internal/AgentMessageFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Definition/OpenAIAssistantAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/AssistantClientExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/OpenAIClientExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantAgentTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIAssistantAgentThreadTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AgentYamlTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AzureAIKernelAgentYamlTests.cs
  dotnet/src/Experimental/Process.Abstractions/Process.Abstractions.csproj
  dotnet/src/Experimental/Process.LocalRuntime/Process.LocalRuntime.csproj
  dotnet/src/IntegrationTests/Agents/AzureAIAgentTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/MixedAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
  dotnet/src/IntegrationTests/TestSettings/AzureAIConfiguration.cs
  dotnet/src/InternalUtilities/process/Runtime/AgentThreadFactory.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAgentsTest.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAzureAgentTest.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAzureTest.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, kernel, PR: breaking change, agents, Build

#12084 Python: Update the AzureAIAgent packages, types, and APIs based on Azure SDK's new code
  .github/workflows/python-integration-tests.yml
  python/pyproject.toml
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_as_kernel_function.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_azure_ai_search.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_bing_grounding.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_bing_grounding_streaming_with_message_callback.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_code_interpreter_streaming_with_message_callback.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_code_interpreter.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_file_search.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_function_calling_from_file.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_declarative_openapi.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_file_manipulation.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_message_callback.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_message_callback_streaming.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_prompt_templating.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_streaming.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_structured_outputs.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_truncation_strategy.py
  python/samples/concepts/resources/declarative_spec/spec.yaml
  python/samples/getting_started_with_agents/azure_ai_agent/README.md
  python/samples/getting_started_with_agents/azure_ai_agent/step2_azure_ai_agent_plugin.py
  python/samples/getting_started_with_agents/azure_ai_agent/step4_azure_ai_agent_code_interpreter.py
  python/samples/getting_started_with_agents/azure_ai_agent/step5_azure_ai_agent_file_search.py
  python/samples/getting_started_with_agents/azure_ai_agent/step6_azure_ai_agent_openapi.py
  python/semantic_kernel/__init__.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent_settings.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent_utils.py
  python/semantic_kernel/agents/azure_ai/azure_ai_channel.py
  python/tests/integration/agents/azureai_agent/test_azureai_agent_integration.py
  python/tests/unit/agents/azure_ai_agent/conftest.py
  python/tests/unit/agents/azure_ai_agent/test_agent_content_generation.py
  python/tests/unit/agents/azure_ai_agent/test_agent_thread_actions.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent_utils.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_channel.py
  python/uv.lock
Labels: python, PR: breaking change, agents, documentation

#12116 Python: Update Chroma, Pinecone, Postgres
  python/semantic_kernel/connectors/memory/chroma.py
  python/semantic_kernel/connectors/memory/pinecone.py
  python/semantic_kernel/connectors/memory/postgres.py
  python/tests/integration/memory/postgres/test_postgres_int.py
  python/tests/unit/connectors/memory/test_chroma.py
  python/tests/unit/connectors/memory/test_pinecone.py
  python/tests/unit/connectors/memory/test_postgres_store.py
Labels: python, memory

#12180 .Net: Updated package version
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/VectorData.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET, kernel

#12169 .Net: Switch to using the new Qdrant testcontainer package
  dotnet/Directory.Packages.props
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/QdrantIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Support/QdrantTestStore.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Support/TestContainer/QdrantBuilder.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Support/TestContainer/QdrantConfiguration.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Support/TestContainer/QdrantContainer.cs
Labels: .NET

#12198 .Net: Ai context behavior merge and renames
  dotnet/samples/Concepts/Agents/ChatCompletion_Rag.cs
  dotnet/src/Agents/Abstractions/AgentThread.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/UnitTests/Core/AgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/AzureAIAgentTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithStatePartConformance/AgentWithStatePartTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentFixture.cs
  dotnet/src/IntegrationTests/Memory/Mem0BehaviorTests.cs
  dotnet/src/IntegrationTests/Memory/WhiteboardBehaviorTests.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AIContextBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AIContextBehaviorsManager.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AggregateAIContextBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AggregateAIContextBehaviorExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchBehavior/TextSearchBehavior.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearchStore/TextSearchStore.cs
  dotnet/src/SemanticKernel.Core/Memory/Mem0/Mem0Behavior.cs
  dotnet/src/SemanticKernel.Core/Memory/Whiteboard/WhiteboardBehavior.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchStoreTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AIContextBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AggregateAIContextBehaviorExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AggregateAIContextBehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/Mem0BehaviorTests.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/WhiteboardBehaviorTests.cs
Labels: .NET, kernel, kernel.core

#12175 .Net: Version 1.53.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#12200 .Net: Exposing ToJson method on FoundryProcessBuilder.
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Experimental/Process.Core/FoundryProcessBuilder.cs
Labels: .NET

#12211 Python: Add missing fields to `AzureAIAgentSettings`
  python/semantic_kernel/agents/azure_ai/azure_ai_agent_settings.py
Labels: python

#12183 Python: Support structured outputs with Azure AI inference chat completion.
  python/samples/concepts/structured_outputs/json_structured_outputs.py
  python/samples/concepts/structured_outputs/json_structured_outputs_function_calling.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/azure_ai_inference_prompt_execution_settings.py
  python/semantic_kernel/connectors/ai/azure_ai_inference/services/azure_ai_inference_chat_completion.py
  python/tests/unit/connectors/ai/azure_ai_inference/conftest.py
  python/tests/unit/connectors/ai/azure_ai_inference/services/test_azure_ai_inference_chat_completion.py
Labels: python, ai connector

#12208 .Net: Fix BaseTest
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: .NET

#12119 Python: Update Qdrant, Redis, Weaviate
  python/semantic_kernel/connectors/memory/qdrant.py
  python/semantic_kernel/connectors/memory/redis.py
  python/semantic_kernel/connectors/memory/weaviate.py
  python/tests/unit/connectors/memory/test_qdrant.py
  python/tests/unit/connectors/memory/test_redis_store.py
Labels: python, memory

#12120 Python: Update SQL
  python/semantic_kernel/connectors/memory/sql_server.py
  python/tests/unit/connectors/memory/test_sql_server.py
Labels: python, memory

#12229 .Net: FIxing serialization issue in Dapr runtime.
  dotnet/src/Experimental/Process.Abstractions/KernelProcessFunctionTarget.cs
  dotnet/src/Experimental/Process.Abstractions/Serialization/Model/Workflow.cs
Labels: .NET

#12227 Python: Add OpenAI's sequence_number attribute to unit tests based on their latest package
  python/tests/unit/agents/openai_responses/test_openai_responses_thread_actions.py
  python/uv.lock
Labels: python

#12224 Python: Use BaseModel instead of KernelBaseModel in samples
  python/samples/getting_started_with_agents/multi_agent_orchestration/step4a_handoff_structured_inputs.py
Labels: python, agents

#12235 .Net: Add Summary property to OpenApiOperation model class
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/OpenApiKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV20Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV30Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiDocumentParserV31Tests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/OpenApiKernelPluginFactoryTests.cs
Labels: .NET, openapi

#12226 .Net: Fixes MCP Behavior for AIFunction.AsKernelFunction() + Fix ensuring FunctionChoiceBehavior works correctly with IChatClients.
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatClient_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatClient_NoneFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatClient_RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatClient_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatClient_NoneFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatClient_RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatClient/KernelFunctionInvokingChatClient.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AIFunctionKernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/AutoFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/FunctionChoiceBehaviors/RequiredFunctionChoiceBehavior.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettingsExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/AIFunctionKernelFunctionTests.cs
Labels: .NET, kernel, kernel.core

#12238 .Net: Bump nuget package version to 1.54.0
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/Connectors.AzureOpenAI/CompatibilitySuppressions.xml
  dotnet/src/Connectors/Connectors.OpenAI/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
Labels: .NET, kernel, kernel.core

#12242 .NET Agents - Update Handoff Orchestration
  dotnet/src/Agents/Orchestration/Handoff/HandoffActor.cs
Labels: bug, .NET, agents

#12207 .Net: Improve docs for VectorData.Abstractions
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionJsonModelBuilder.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionModelBuilder.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/CollectionModelBuildingOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/DataPropertyModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/Filter/FilterTranslationPreprocessor.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/KeyPropertyModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/PropertyModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/VectorPropertyModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordAttributes/VectorStoreVectorAttribute.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/DistanceFunction.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/IndexKind.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreDataProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreKeyProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreVectorProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordOptions/FilteredRecordRetrievalOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/HybridSearchOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IKeywordHybridSearchable.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/IVectorSearchable.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/RecordSearchOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchExtensions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/VectorSearchFilter.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStore.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreCollection.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreCollectionMetadata.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreCollectionOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreException.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreExtensions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreMetadata.cs
Labels: .NET, kernel

#12248 Python: Relax Agent Invocation Methods to Allow Positional or Keyword Arguments for `messages`
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/autogen/autogen_conversable_agent.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/bedrock/bedrock_agent.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/copilot_studio/copilot_studio_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/semantic_kernel/agents/open_ai/openai_responses_agent.py
  python/tests/unit/agents/autogen_conversable_agent/test_autogen_conversable_agent.py
Labels: python, agents

#12241 .Net: Remove SqlDataReaderDictionary in SQL Server provider
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlDataReaderDictionary.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerJsonSerializerContext.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerMapper.cs
  dotnet/src/Connectors/VectorData.Abstractions/ProviderServices/PropertyModel.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerCommandBuilderTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
Labels: .NET, kernel, memory
