Repository microsoft/semantic-kernel, pull requests merged in 2025-06, with the labels that each got.

#12344 Python: Bump Python version to 1.32.1 for a release
  python/semantic_kernel/__init__.py
Labels: python

#12319 .Net: Update to the latest MCP sdk
  dotnet/Directory.Packages.props
  dotnet/src/SemanticKernel.Core/Memory/AIContextExtensions.cs
Labels: .NET, modelcontextprotocol

#11473 Added ChatHistoryAgentThread to multi-agent
  README.md
Labels: documentation

#12342 .Net: Updated version for Fluid.Core to 2.24.0.
  dotnet/Directory.Packages.props
Labels: .NET

#12358 .Net: Upgraded package version
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET

#12333 .Net: Optimize and clean up SqliteVec provider
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqliteMapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqliteVec/SqlitePropertyMapping.cs
  dotnet/src/Connectors/Connectors.SqliteVec.UnitTests/SqliteCommandBuilderTests.cs
  dotnet/src/Connectors/Connectors.SqliteVec.UnitTests/SqliteMapperTests.cs
  dotnet/src/Connectors/Connectors.SqliteVec.UnitTests/SqlitePropertyMappingTests.cs
Labels: .NET, kernel, memory

#12367 .Net: Update to the latest mcp sdk package
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Tools/MailboxUtils.cs
Labels: .NET, modelcontextprotocol

#12341 .Net: Removing the use of TargetBuilder with multiple parameters in favor of using process.ListenFor().AllOf() or simple TargetBuilder
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/Program.cs
  dotnet/samples/GettingStartedWithProcesses/Step01/Step01_Processes.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Processes/NewAccountCreationProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Processes/NewAccountVerificationProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02a_AccountOpening.cs
  dotnet/samples/GettingStartedWithProcesses/Step02/Step02b_AccountOpening.cs
  dotnet/samples/GettingStartedWithProcesses/Step03/Processes/FishAndChipsProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
  dotnet/src/Experimental/Process.Core/ProcessAgentBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessFunctionTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessProxyBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepBuilder.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessCycleTestResources.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessCloudEventsTests.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessCycleTests.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessTests.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/CloneTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
Labels: .NET, processes

#12379 Python: Allow custom httpx client timeout when not using custom client
  python/semantic_kernel/connectors/openapi_plugin/models/rest_api_run_options.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_function_execution_parameters.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_manager.py
  python/semantic_kernel/connectors/openapi_plugin/openapi_runner.py
  python/tests/unit/connectors/openapi_plugin/test_openapi_manager.py
  python/tests/unit/connectors/openapi_plugin/test_rest_api_operation_run_options.py
Labels: python, openapi

#12381 Python: Bump Python version to 1.32.2 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#12325 .Net: Migrate sln to slnx
  .github/_typos.toml
  .github/workflows/dotnet-build-and-test.yml
  .github/workflows/dotnet-ci.yml
  .github/workflows/dotnet-format.yml
  .gitignore
  dotnet/Directory.Build.targets
  dotnet/MEVD.slnf
  dotnet/SK-dotnet.sln
  dotnet/SK-dotnet.slnx
  dotnet/SK-dotnet.slnx.DotSettings
  dotnet/format.ps1
  dotnet/global.json
Labels: .NET

#12365 .Net: BugFix 400 BadRequest for ToolcallBehavior against Google API
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/GeminiPluginCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiFunctionCallingTests.cs
Labels: .NET, kernel

#12371 .Net: Add fix for plugin naming collisions
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/Memory/AIContextExtensions.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/AIContextProviderTests.cs
Labels: .NET, kernel

#12387 .Net: disable integration test
  dotnet/src/IntegrationTests/Plugins/ContextualFunctionProviderTests.cs
Labels: .NET, kernel, agents

#12380 .NET Agents - Add sample using "Prompt Function"
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step02_AzureAIAgent_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/Plugins/MenuPlugin.cs
  dotnet/samples/GettingStartedWithAgents/Step02_Plugins.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/BaseTest.cs
Labels: .NET, agents

#12369 .Net Fix KernelParameterMetadata not compatible with C# 7.3 net472
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Services/BedrockChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Services/BedrockTextEmbeddingGenerationServiceTests.cs
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Services/BedrockTextGenerationServiceTests.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunctionMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelParameterMetadata.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelReturnParameterMetadata.cs
Labels: .NET, kernel, needs discussion, kernel.core

#12405 .Net: BugFix TryGetFunction + FunctionInvocationFilter when using IChatClient
  dotnet/src/SemanticKernel.Abstractions/AI/ChatClient/KernelFunctionInvokingChatClient.cs
  dotnet/src/SemanticKernel.Core/Functions/DefaultKernelPlugin.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/DefaultKernelPluginTests.cs
Labels: .NET, kernel, kernel.core

#12258 Python: Add file handling support to BinaryContent for OpenAI Responses API
  python/samples/concepts/README.md
  python/samples/concepts/agents/openai_responses/responses_agent_binary_content_upload.py
  python/semantic_kernel/agents/open_ai/responses_agent_thread_actions.py
  python/semantic_kernel/contents/binary_content.py
  python/tests/unit/contents/test_binary_content.py
Labels: python, documentation

#12395 Python: Remove model info check in Bedrock connectors
  python/semantic_kernel/connectors/ai/bedrock/README.md
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_base.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_chat_completion.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_text_completion.py
  python/semantic_kernel/connectors/ai/bedrock/services/bedrock_text_embedding.py
  python/tests/unit/connectors/ai/bedrock/services/test_bedrock_chat_completion.py
  python/tests/unit/connectors/ai/bedrock/services/test_bedrock_text_completion.py
  python/tests/unit/connectors/ai/bedrock/services/test_bedrock_text_embedding_generation.py
Labels: python, ai connector, documentation

#12427 Python: Bump Python version to 1.33.0 for release
  python/semantic_kernel/__init__.py
Labels: python

#12419 .Net: Add support for function calling
  dotnet/src/Agents/OpenAI/Extensions/KernelFunctionExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/OpenAIResponseExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/ResponseItemExtensions.cs
  dotnet/src/Agents/OpenAI/Extensions/StreamingResponseOutputTextDeltaUpdateExtensions.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantThreadActions.cs
  dotnet/src/Agents/OpenAI/Internal/ResponseCreationOptionsFactory.cs
  dotnet/src/Agents/OpenAI/Internal/ResponseThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgentInvokeOptions.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgentThread.cs
  dotnet/src/Agents/UnitTests/Extensions/ResponseItemExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/OpenAIResponseExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIResponseAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIResponseAgentTests.cs
Labels: .NET, kernel

#12260 .Net: Fix minor typo
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromPromptTests.cs
Labels: docs and tests, .NET, kernel

#12434 .Net: Fix flakey web search model test
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_NonStreamingTests.cs
Labels: .NET, kernel

#12436 .Net: Version 1.56.0
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
Labels: .NET

#12487 .Net: Update release versions and VectorData readme
  dotnet/SK-dotnet.slnx
  dotnet/nuget/VECTORDATA-CONNECTORS-NUGET.md
  dotnet/nuget/nuget-package.props
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Core/CompatibilitySuppressions.xml
  dotnet/src/VectorData/AzureAISearch/AzureAISearch.csproj
  dotnet/src/VectorData/CosmosMongoDB/CosmosMongoDB.csproj
  dotnet/src/VectorData/CosmosNoSql/CosmosNoSql.csproj
  dotnet/src/VectorData/InMemory/InMemory.csproj
  dotnet/src/VectorData/MongoDB/MongoDB.csproj
  dotnet/src/VectorData/PgVector/PgVector.csproj
  dotnet/src/VectorData/Pinecone/Pinecone.csproj
  dotnet/src/VectorData/Qdrant/Qdrant.csproj
  dotnet/src/VectorData/Redis/Redis.csproj
  dotnet/src/VectorData/SqlServer/SqlServer.csproj
  dotnet/src/VectorData/SqliteVec/SqliteVec.csproj
  dotnet/src/VectorData/VectorData.Abstractions/PACKAGE.md
  dotnet/src/VectorData/VectorData.Abstractions/VectorData.Abstractions.csproj
  dotnet/src/VectorData/Weaviate/Weaviate.csproj
Labels: .NET, kernel.core, documentation

#12455 .NET Agents - Add streaming support to orchestrations
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step01_Concurrent.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step02_Sequential.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step03_GroupChat.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step03a_GroupChatWithHumanInTheLoop.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step03b_GroupChatWithAIManager.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step04_Handoff.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step04a_HandoffWithStructuredInput.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step05_Magentic.cs
  dotnet/src/Agents/Orchestration/AgentActor.cs
  dotnet/src/Agents/Orchestration/AgentOrchestration.cs
  dotnet/src/Agents/Orchestration/Handoff/HandoffActor.cs
  dotnet/src/Agents/Orchestration/OrchestrationContext.cs
  dotnet/src/Agents/UnitTests/MockAgent.cs
  dotnet/src/Agents/UnitTests/Orchestration/OrchestrationResultTests.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseAgentsTest.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseOrchestrationTest.cs
Labels: .NET, agents

#12462 Python: Naming and updates
  python/samples/concepts/memory/azure_ai_search_hotel_samples/1_interact_with_the_collection.py
  python/samples/concepts/memory/complex_memory.py
  python/samples/concepts/rag/self_critique_rag.py
  python/semantic_kernel/connectors/azure_ai_search.py
  python/semantic_kernel/connectors/azure_cosmos_db.py
  python/semantic_kernel/connectors/chroma.py
  python/semantic_kernel/connectors/faiss.py
  python/semantic_kernel/connectors/in_memory.py
  python/semantic_kernel/connectors/mongodb.py
  python/semantic_kernel/connectors/pinecone.py
  python/semantic_kernel/connectors/postgres.py
  python/semantic_kernel/connectors/qdrant.py
  python/semantic_kernel/connectors/redis.py
  python/semantic_kernel/connectors/sql_server.py
  python/semantic_kernel/connectors/weaviate.py
  python/semantic_kernel/data/vector.py
  python/tests/integration/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql.py
  python/tests/integration/memory/postgres/test_postgres_int.py
  python/tests/integration/memory/test_vector_store.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_mongodb_collection.py
  python/tests/unit/connectors/memory/azure_cosmos_db/test_azure_cosmos_db_no_sql_collection.py
  python/tests/unit/connectors/memory/mongodb_atlas/test_mongodb_atlas_collection.py
  python/tests/unit/connectors/memory/test_azure_ai_search.py
  python/tests/unit/connectors/memory/test_chroma.py
  python/tests/unit/connectors/memory/test_faiss.py
  python/tests/unit/connectors/memory/test_in_memory.py
  python/tests/unit/connectors/memory/test_pinecone.py
  python/tests/unit/connectors/memory/test_postgres_store.py
  python/tests/unit/connectors/memory/test_qdrant.py
  python/tests/unit/connectors/memory/test_redis_store.py
  python/tests/unit/connectors/memory/test_sql_server.py
  python/tests/unit/connectors/memory/weaviate/test_weaviate_collection.py
  python/tests/unit/data/conftest.py
  python/tests/unit/data/test_vector_store_record_collection.py
Labels: python

#12316 Python: Add check for not approved and approved for Agent Sample
  python/samples/getting_started_with_agents/chat_completion/step06_chat_completion_agent_group_chat.py
Labels: python

#12499 Python: Support `|` and `|=` operators for `KernelArgument`
  python/semantic_kernel/functions/kernel_arguments.py
  python/tests/unit/functions/test_kernel_arguments.py
Labels: python

#12441 .Net: Optimize and clean up the PgVector provider
  dotnet/src/VectorData/PgVector/IPostgresVectorStoreCollectionSqlBuilder.cs
  dotnet/src/VectorData/PgVector/PostgresCollection.cs
  dotnet/src/VectorData/PgVector/PostgresDbClient.cs
  dotnet/src/VectorData/PgVector/PostgresDynamicCollection.cs
  dotnet/src/VectorData/PgVector/PostgresMapper.cs
  dotnet/src/VectorData/PgVector/PostgresModelBuilder.cs
  dotnet/src/VectorData/PgVector/PostgresPropertyMapping.cs
  dotnet/src/VectorData/PgVector/PostgresSqlBuilder.cs
  dotnet/src/VectorData/PgVector/PostgresSqlCommandInfo.cs
  dotnet/src/VectorData/PgVector/PostgresVectorStore.cs
  dotnet/src/VectorData/SqlServer/SqlServerCollection.cs
  dotnet/src/VectorData/SqliteVec/SqliteCollection.cs
  dotnet/test/VectorData/PgVector.UnitTests/PostgresMapperTests.cs
  dotnet/test/VectorData/PgVector.UnitTests/PostgresSqlBuilderTests.cs
  dotnet/test/VectorData/VectorData.ConformanceTests/Xunit/ConditionalFactAttribute.cs
  dotnet/test/VectorData/VectorData.ConformanceTests/Xunit/ConditionalTheoryAttribute.cs
Labels: .NET

#12456 .NET Agent - Add AIContext to `OpenAIResponseAgent`
  dotnet/samples/Concepts/Agents/OpenAIResponseAgent_Whiteboard.cs
  dotnet/src/Agents/OpenAI/Extensions/ChatContentMessageExtensions.cs
  dotnet/src/Agents/OpenAI/Internal/ResponseCreationOptionsFactory.cs
  dotnet/src/Agents/OpenAI/Internal/ResponseThreadActions.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgentThread.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithAIContextProviderConformance/AgentWithAIContextProviderTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithAIContextProviderConformance/OpenAIResponseAgentWithAIContextProviderTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/InvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/OpenAIResponseAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeStreamingConformance/OpenAIResponseAgentInvokeStreamingTests.cs
  dotnet/src/InternalUtilities/agents/Extensions/AgentExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Memory/AggregateAIContextProviderExtensions.cs
Labels: .NET, kernel, agents, kernel.core

#12533 Python: Allow for structured outputs with Ollama
  python/semantic_kernel/connectors/ai/ollama/ollama_prompt_execution_settings.py
Labels: python

#12535 Python: Improve AzureAIAgent get thread msg handling.
  python/samples/concepts/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_retrieve_messages_from_thread.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
Labels: python, agents, documentation

#12523 .Net: Introduce support for response modalities and audio options in `AzureClientCore`
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
Labels: .NET, kernel

#12572 .Net: Fix Integration Test Failure
  dotnet/SK-dotnet.slnx
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatClient_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatClient_RequiredFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_RequiredFunctionChoiceBehaviorTests.cs
Labels: .NET, kernel

#12578 .Net: Update CosmosNoSql to latest SDK and update FullTextScore syntax
  dotnet/Directory.Packages.props
  dotnet/src/VectorData/CosmosNoSql/CosmosNoSqlCollectionQueryBuilder.cs
  dotnet/test/VectorData/CosmosNoSql.UnitTests/CosmosNoSqlCollectionQueryBuilderTests.cs
Labels: .NET

#12580 Python: Bump version to 1.34.0 for a release
  python/semantic_kernel/__init__.py
Labels: python

#12477 .Net: Add ONNX ChatClient Extensions + UT
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/OnnxChatClientExtensionsTests.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxKernelBuilderExtensions.ChatClient.cs
  dotnet/src/Connectors/Connectors.Onnx/OnnxServiceCollectionExtensions.DependencyInjection.cs
  dotnet/src/IntegrationTests/Connectors/Onnx/OnnxRuntimeGenAIChatClientTests.cs
Labels: .NET, kernel

#12539 .Net: Making Gemini MaxTokens Optional when not provided
  dotnet/src/Connectors/Connectors.Google.UnitTests/GeminiPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Google/GeminiPromptExecutionSettings.cs
Labels: .NET, kernel

#12575 .Net: Change ChatCompletionAgent to notify intermediate messages as soon as they are available.
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
Labels: .NET

#12050 .Net: Initial check-in for the A2A Agent implementation
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.slnx
  dotnet/samples/Demos/A2AClientServer/A2AClient/A2AClient.csproj
  dotnet/samples/Demos/A2AClientServer/A2AClient/HostClientAgent.cs
  dotnet/samples/Demos/A2AClientServer/A2AClient/Program.cs
  dotnet/samples/Demos/A2AClientServer/A2AClient/README.md
  dotnet/samples/Demos/A2AClientServer/A2AServer/A2AServer.csproj
  dotnet/samples/Demos/A2AClientServer/A2AServer/A2AServer.http
  dotnet/samples/Demos/A2AClientServer/A2AServer/HostAgentFactory.cs
  dotnet/samples/Demos/A2AClientServer/A2AServer/Plugins/InvoiceQueryPlugin.cs
  dotnet/samples/Demos/A2AClientServer/A2AServer/Program.cs
  dotnet/samples/Demos/A2AClientServer/README.md
  dotnet/samples/Demos/A2AClientServer/a2a-inspector-agent-card.png
  dotnet/samples/Demos/A2AClientServer/a2a-inspector-raw-json-response.png
  dotnet/samples/Demos/A2AClientServer/a2a-inspector-send-message.png
  dotnet/samples/Demos/A2AClientServer/demo-architecture.png
  dotnet/samples/Demos/A2AClientServer/rest-client-agent-card.png
  dotnet/samples/Demos/A2AClientServer/rest-client-send-message.png
  dotnet/samples/GettingStartedWithAgents/A2A/Step01_A2AAgent.cs
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/src/Agents/A2A/A2AAgent.cs
  dotnet/src/Agents/A2A/A2AAgentThread.cs
  dotnet/src/Agents/A2A/A2AHostAgent.cs
  dotnet/src/Agents/A2A/Agents.A2A.csproj
  dotnet/src/Agents/A2A/Extensions/AuthorRoleExtensions.cs
  dotnet/src/Agents/UnitTests/A2A/A2AAgentTests.cs
  dotnet/src/Agents/UnitTests/A2A/A2AHostAgentTests.cs
  dotnet/src/Agents/UnitTests/A2A/BaseA2AClientTest.cs
  dotnet/src/Agents/UnitTests/Agents.UnitTests.csproj
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, documentation

#12585 .Net: Update README.md
  dotnet/samples/Demos/A2AClientServer/README.md
Labels: .NET, documentation

#12515 .Net: Expose GeminiKernelFunctionMetadataExtensions
  dotnet/src/Connectors/Connectors.Google/Extensions/GeminiKernelFunctionMetadataExtensions.cs
  dotnet/src/Connectors/Connectors.Google/GeminiToolCallBehavior.cs
Labels: .NET, kernel

#12596 .Net: Ignore unknown response item types rather than throw
  dotnet/samples/GettingStartedWithAgents/OpenAIResponse/Step03_OpenAIResponseAgent_ReasoningModel.cs
  dotnet/src/Agents/OpenAI/Extensions/OpenAIResponseExtensions.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgentThread.cs
  dotnet/src/Agents/UnitTests/Extensions/ResponseItemExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Extensions/OpenAIResponseExtensionsTests.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseResponsesAgentTest.cs
Labels: .NET

#12597 .Net: Update Aspire.* packages
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/Program.cs
Labels: .NET

#12606 .Net: Upgrade AzureAISearch SDK
  dotnet/Directory.Packages.props
Labels: .NET

#12604 .Net: Upgrade SqliteVec and PgVector
  dotnet/Directory.Packages.props
Labels: .NET

#12600 .Net: Update SK packages
  dotnet/Directory.Packages.props
Labels: .NET

#12607 .Net: Update Amazon packages
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Services/MistralAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Services/OllamaChatCompletionTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/IntegrationTests/Connectors/Amazon/Bedrock/BedrockTextGenerationTests.cs
Labels: .NET, kernel

#12610 .Net: Update Connector Dependencies + BugFix
  dotnet/Directory.Packages.props
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaChatClientIntegrationTests.cs
  dotnet/src/IntegrationTests/Connectors/Ollama/OllamaChatCompletion_FunctionCallingTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatClient/ChatMessageExtensions.cs
Labels: .NET, kernel, kernel.core

#12589 .Net: Agents - CopilotStudioAgent not invoking `AgentInvokeOptions.OnIntermediateMessage` for non-streaming
  dotnet/src/Agents/Copilot/CopilotStudioAgent.cs
Labels: bug, .NET, agents

#12611 .Net: Add sample showing how to use web and file search
  dotnet/samples/GettingStartedWithAgents/OpenAIResponse/Step03_OpenAIResponseAgent_ReasoningModel.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIResponse/Step04_OpenAIResponseAgent_Tools.cs
  dotnet/src/Agents/OpenAI/Extensions/OpenAIResponseExtensions.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgentInvokeOptions.cs
  dotnet/src/Agents/UnitTests/Extensions/ResponseItemExtensionsTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIResponseAgentTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/OpenAIResponseAgentFixture.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseResponsesAgentTest.cs
Labels: .NET, kernel
