Repository microsoft/semantic-kernel, pull requests merged in 2025-04, with the labels that each got.

#11281 Python: Add AzureAIAgent Structured Outputs sample
  python/samples/concepts/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_structured_outputs.py
Labels: python, agents, documentation

#11303 .Net: Remove the Agent preview suffix
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
  dotnet/src/Agents/Core/Agents.Core.csproj
Labels: .NET, agents

#11288 .Net: Update MCP nuget package
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Extensions/McpServerBuilderExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Program.cs
  dotnet/samples/Demos/ModelContextProtocolPlugin/Program.cs
Labels: .NET, modelcontextprotocol

#11285 .Net: Qdrant CRUD datetime support
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordFieldMapping.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordMapperTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#11306 .Net: Refactor MCP client for improved code readability
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
Labels: .NET, modelcontextprotocol

#11278 Python: Fix agent samples
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_function_termination.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_summary_history_reducer_single_agent.py
  python/semantic_kernel/agents/autogen/autogen_conversable_agent.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/core_plugins/math_plugin.py
  python/tests/unit/agents/chat_completion/test_chat_completion_agent.py
Labels: python, agents

#11316 .Net: [MEVD] Temporarily remove logging
  dotnet/SK-dotnet.sln
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Memory/VectorStore_Telemetry.cs
  dotnet/src/Connectors/VectorData.UnitTests/.editorconfig
  dotnet/src/Connectors/VectorData.UnitTests/VectorData.UnitTests.csproj
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/KeywordHybridSearchBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/KeywordHybridSearchBuilderServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/KeywordHybridSearchBuilderTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/LoggingKeywordHybridSearchBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/LoggingKeywordHybridSearchTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/LoggingVectorizableTextSearchBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/LoggingVectorizableTextSearchTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/LoggingVectorizedSearchBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/LoggingVectorizedSearchTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/VectorizableTextSearchBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/VectorizableTextSearchBuilderServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/VectorizableTextSearchBuilderTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/VectorizedSearchBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/VectorizedSearchBuilderServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorSearch/VectorizedSearchBuilderTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/LoggingVectorStoreBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/LoggingVectorStoreRecordCollectionBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/LoggingVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/LoggingVectorStoreTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/VectorStoreBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/VectorStoreBuilderServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/VectorStoreBuilderTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/VectorStoreRecordCollectionBuilderExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/VectorStoreRecordCollectionBuilderServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/VectorData.UnitTests/VectorStorage/VectorStoreRecordCollectionBuilderTests.cs
  dotnet/src/Connectors/VectorData/PACKAGE.md
  dotnet/src/Connectors/VectorData/VectorData.csproj
  dotnet/src/Connectors/VectorData/VectorSearch/KeywordHybridSearchBuilder.cs
  dotnet/src/Connectors/VectorData/VectorSearch/KeywordHybridSearchBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorSearch/KeywordHybridSearchBuilderServiceCollectionExtensions.cs
  dotnet/src/Connectors/VectorData/VectorSearch/LoggingKeywordHybridSearch.cs
  dotnet/src/Connectors/VectorData/VectorSearch/LoggingKeywordHybridSearchBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorSearch/LoggingVectorizableTextSearch.cs
  dotnet/src/Connectors/VectorData/VectorSearch/LoggingVectorizableTextSearchBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorSearch/LoggingVectorizedSearch.cs
  dotnet/src/Connectors/VectorData/VectorSearch/LoggingVectorizedSearchBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorSearch/VectorizableTextSearchBuilder.cs
  dotnet/src/Connectors/VectorData/VectorSearch/VectorizableTextSearchBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorSearch/VectorizableTextSearchBuilderServiceCollectionExtensions.cs
  dotnet/src/Connectors/VectorData/VectorSearch/VectorizedSearchBuilder.cs
  dotnet/src/Connectors/VectorData/VectorSearch/VectorizedSearchBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorSearch/VectorizedSearchBuilderServiceCollectionExtensions.cs
  dotnet/src/Connectors/VectorData/VectorStorage/LoggingVectorStore.cs
  dotnet/src/Connectors/VectorData/VectorStorage/LoggingVectorStoreBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorStorage/LoggingVectorStoreRecordCollection.cs
  dotnet/src/Connectors/VectorData/VectorStorage/LoggingVectorStoreRecordCollectionBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorStorage/VectorStoreBuilder.cs
  dotnet/src/Connectors/VectorData/VectorStorage/VectorStoreBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorStorage/VectorStoreBuilderServiceCollectionExtensions.cs
  dotnet/src/Connectors/VectorData/VectorStorage/VectorStoreRecordCollectionBuilder.cs
  dotnet/src/Connectors/VectorData/VectorStorage/VectorStoreRecordCollectionBuilderExtensions.cs
  dotnet/src/Connectors/VectorData/VectorStorage/VectorStoreRecordCollectionBuilderServiceCollectionExtensions.cs
  dotnet/src/Connectors/VectorData/neticon.png
Labels: .NET, kernel, documentation

#11309 .Net: Fix mapping of the KernelParameterMetadata.IsRequired property
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AIFunctionKernelFunction.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/AIFunctionKernelFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
Labels: .NET, kernel, kernel.core

#11279 .Net: Add Audio Input and Output support for OpenAI chat completions
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/ChatCompletion/OpenAI_ChatCompletionWithAudio.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Services/OpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIPromptExecutionSettings.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatCompletion_NonStreamingTests.cs
Labels: .NET, kernel, documentation

#11244 .Net: Removing KernelAgent.cs and moving its functionality into Agent.cs
  dotnet/samples/Concepts/Agents/ChatCompletion_ServiceSelection.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Templating.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step01_AzureAIAgent.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step01_Assistant.cs
  dotnet/samples/GettingStartedWithAgents/Step01_Agent.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/KernelExtensions.cs
  dotnet/src/Agents/Abstractions/Agent.cs
  dotnet/src/Agents/Abstractions/Agents.Abstractions.csproj
  dotnet/src/Agents/Abstractions/KernelAgent.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.ClientFactory.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Core/AgentGroupChat.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/Core/ChatHistoryAgent.cs
  dotnet/src/Agents/Core/ChatHistoryChannel.cs
  dotnet/src/Agents/Core/Internal/CoreKernelArgumentsExtensions.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.ClientFactory.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/Agents/UnitTests/AgentTests.cs
  dotnet/src/Agents/UnitTests/Core/ChatCompletionAgentTests.cs
  dotnet/src/Agents/UnitTests/Core/ChatHistoryChannelTests.cs
  dotnet/src/Agents/UnitTests/KernelAgentTests.cs
  dotnet/src/Agents/UnitTests/MockAgent.cs
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/DeclarativeAgentExtensions.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/BedrockAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/ChatCompletionAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/OpenAIAssistantAgentFixture.cs
  dotnet/src/InternalUtilities/arguments/Extensions/KernelArgumentsExtensions.cs
Labels: .NET, kernel, agents

#11339 .Net: Move hybrid search tests to new projects and adopt updated software design.
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantNamedVectorsKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantSingleVectorKeywordVectorizedHybridSearchTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateKeywordVectorizedHybridSearchTests.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/HybridSearch/AzureAISearchKeywordVectorizedHybridSearchTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosNoSQLIntegrationTests/CosmosNoSQLIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/CosmosNoSQLIntegrationTests/HybridSearch/CosmosNoSQLKeywordVectorizedHybridSearchTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosNoSQLIntegrationTests/Support/CosmosNoSQLTestEnvironment.cs
  dotnet/src/VectorDataIntegrationTests/MongoDBIntegrationTests/HybridSearch/MongoDBKeywordVectorizedHybridSearchTests.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/HybridSearch/QdrantKeywordVectorizedHybridSearchTests_NamedVectors.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/HybridSearch/QdrantKeywordVectorizedHybridSearchTests_UnnamedVectors.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/HybridSearch/KeywordVectorizedHybridSearchComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Support/TestStore.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/HybridSearch/WeaviateKeywordVectorizedHybridSearchTests.cs
Labels: .NET, kernel

#11331 Python: Add deprecaton warning to add_chat_message for server agents
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
Labels: python, agents

#11328 .Net: Rename OnNewMessage callback to OnIntermediateMessage
  dotnet/samples/Concepts/Agents/AzureAIAgent_Streaming.cs
  dotnet/samples/Concepts/Agents/OpenAIAssistant_Streaming.cs
  dotnet/src/Agents/Abstractions/AgentInvokeOptions.cs
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/ChatCompletionAgentInvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/InvokeTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeStreamingConformance/InvokeStreamingTests.cs
Labels: .NET, kernel

#11329 .Net: Add date to obsolete messages for when to expect these methods to be deleted.
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantAgent.cs
Labels: .NET

#11240 Python: Introduce the OpenAI Responses Agent
  python/pyproject.toml
  python/samples/concepts/README.md
  python/samples/concepts/agents/README.md
  python/samples/concepts/agents/openai_responses/responses_agent_file_search_streaming.py
  python/samples/concepts/agents/openai_responses/responses_agent_message_callback.py
  python/samples/concepts/agents/openai_responses/responses_agent_message_callback_streaming.py
  python/samples/concepts/agents/openai_responses/responses_agent_plugins_streaming.py
  python/samples/concepts/agents/openai_responses/responses_agent_reuse_existing_thread_id.py
  python/samples/concepts/agents/openai_responses/responses_agent_web_search_streaming.py
  python/samples/concepts/processes/plan_and_execute.py
  python/samples/getting_started_with_agents/README.md
  python/samples/getting_started_with_agents/chat_completion/step10_chat_completion_agent_structured_outputs.py
  python/samples/getting_started_with_agents/chat_completion/step2_chat_completion_agent_thread_management.py
  python/samples/getting_started_with_agents/openai_assistant/step1_assistant.py
  python/samples/getting_started_with_agents/openai_responses/README.md
  python/samples/getting_started_with_agents/openai_responses/step1_responses_agent.py
  python/samples/getting_started_with_agents/openai_responses/step2_responses_agent_thread_management.py
  python/samples/getting_started_with_agents/openai_responses/step3_responses_agent_plugins.py
  python/samples/getting_started_with_agents/openai_responses/step4_responses_agent_web_search.py
  python/samples/getting_started_with_agents/openai_responses/step5_responses_agent_file_search.py
  python/samples/getting_started_with_agents/openai_responses/step6_responses_agent_vision.py
  python/samples/getting_started_with_agents/openai_responses/step7_responses_agent_structured_outputs.py
  python/semantic_kernel/agents/__init__.py
  python/semantic_kernel/agents/__init__.pyi
  python/semantic_kernel/agents/open_ai/azure_responses_agent.py
  python/semantic_kernel/agents/open_ai/openai_responses_agent.py
  python/semantic_kernel/agents/open_ai/responses_agent_thread_actions.py
  python/semantic_kernel/connectors/ai/function_calling_utils.py
  python/semantic_kernel/connectors/ai/open_ai/services/open_ai_model_types.py
  python/semantic_kernel/connectors/ai/open_ai/settings/azure_open_ai_settings.py
  python/semantic_kernel/connectors/ai/open_ai/settings/open_ai_settings.py
  python/semantic_kernel/contents/annotation_content.py
  python/semantic_kernel/contents/chat_message_content.py
  python/semantic_kernel/contents/function_call_content.py
  python/semantic_kernel/contents/function_result_content.py
  python/semantic_kernel/contents/streaming_chat_message_content.py
  python/semantic_kernel/contents/utils/status.py
  python/semantic_kernel/kernel.py
  python/tests/conftest.py
  python/tests/unit/agents/openai_assistant/test_openai_assistant_agent.py
  python/tests/unit/agents/openai_responses/test_openai_responses_agent.py
  python/tests/unit/agents/openai_responses/test_openai_responses_thread_actions.py
  python/uv.lock
Labels: python, agents, documentation

#11349 Python: Update sample output
  python/samples/concepts/agents/openai_responses/responses_agent_message_callback.py
  python/samples/concepts/agents/openai_responses/responses_agent_message_callback_streaming.py
  python/samples/concepts/agents/openai_responses/responses_agent_plugins_streaming.py
  python/samples/getting_started_with_agents/openai_responses/step7_responses_agent_structured_outputs.py
Labels: python, agents

#11287 .Net: MEVD: Remove batch from batch CRUD operation names.
  dotnet/samples/Concepts/Memory/VectorStoreEmbeddingGeneration/TextEmbeddingVectorStoreRecordCollection.cs
  dotnet/samples/Concepts/Memory/VectorStore_EmbeddingGeneration.cs
  dotnet/samples/Concepts/Optimization/FrugalGPTWithFilters.cs
  dotnet/samples/Concepts/Optimization/PluginSelectionWithFilters.cs
  dotnet/samples/Demos/OnnxSimpleRAG/Program.cs
  dotnet/samples/Demos/VectorStoreRAG/DataLoader.cs
  dotnet/samples/GettingStartedWithVectorStores/Step4_NonStringKey_VectorStore.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/InMemoryVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/Connectors/VectorData.Abstractions/RecordOptions/GetRecordOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/CRUD/PineconeAllSupportedTypesTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/CRUD/SqlServerBatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/BatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/GenericDataModelConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/RecordConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Support/VectorStoreCollectionFixture.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorSearch/VectorSearchDistanceFunctionComplianceTests.cs
Labels: .NET, kernel, memory

#10981 Python: Introducing the SQL Connector
  python/pyproject.toml
  python/samples/concepts/memory/complex_memory.py
  python/semantic_kernel/connectors/memory/sql_server.py
  python/tests/conftest.py
  python/tests/unit/connectors/memory/conftest.py
  python/tests/unit/connectors/memory/sql_server/test_sql_server.py
  python/uv.lock
Labels: python, memory

#11342 .Net: MCP prompt sample
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/PromptResultExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/RoleExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/MCPServer.csproj
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/EmbeddedResource.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/PromptDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/PromptRegistry.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/getCurrentWeatherForCity.json
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Tools/DateTimeUtils.cs
Labels: .NET, modelcontextprotocol

#11356 .Net: Fix bug in sqlite filter logic
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
Labels: .NET, kernel, memory

#11357 .Net: Version 1.45.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#11363 .Net: Mark ChatHistoryAgent as experimental
  dotnet/src/Agents/Core/ChatHistoryAgent.cs
Labels: .NET

#11334 Python: Introducing support for using a MCP server as a plugin
  python/pyproject.toml
  python/samples/concepts/mcp/README.md
  python/samples/concepts/mcp/agent_with_mcp_plugin.py
  python/samples/concepts/mcp/mcp_as_plugin.py
  python/semantic_kernel/connectors/mcp.py
  python/semantic_kernel/functions/kernel_plugin.py
  python/tests/assets/test_plugins/TestMCPPlugin/mcp_server.py
  python/tests/integration/mcp/test_mcp_integration.py
  python/tests/unit/connectors/mcp/test_mcp.py
  python/uv.lock
Labels: python, documentation

#11321 Python: Add on_intermediate_message callback to the Agent abstraction
  python/samples/concepts/README.md
  python/samples/concepts/agents/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_message_callback.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_message_callback_streaming.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_message_callback.py
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_message_callback_streaming.py
  python/samples/concepts/agents/openai_assistant/openai_assistant_message_callback.py
  python/samples/concepts/agents/openai_assistant/openai_assistant_message_callback_streaming.py
  python/samples/getting_started_with_agents/openai_assistant/step4_assistant_tool_code_interpreter.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/azure_ai/azure_ai_agent.py
  python/semantic_kernel/agents/bedrock/bedrock_agent.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
  python/semantic_kernel/agents/open_ai/openai_responses_agent.py
  python/semantic_kernel/connectors/ai/hugging_face/services/hf_text_embedding.py
  python/tests/integration/agents/bedrock_agent/test_bedrock_agent_integration.py
  python/tests/integration/text_to_image/test_text_to_image.py
  python/tests/unit/agents/azure_ai_agent/test_azure_ai_agent.py
  python/tests/unit/agents/bedrock_agent/test_bedrock_agent.py
  python/tests/unit/agents/chat_completion/test_chat_completion_agent.py
  python/tests/unit/agents/openai_assistant/test_openai_assistant_agent.py
  python/uv.lock
Labels: python, agents, documentation

#11358 Python: Bump Python version to 1.27.0 for a release.
  python/semantic_kernel/__init__.py
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
  python/semantic_kernel/agents/open_ai/open_ai_assistant_agent.py
Labels: python

#11368 Python: Add release_candidate decorator
  python/semantic_kernel/agents/open_ai/azure_assistant_agent.py
Labels: python

#11343 Python: Unit tests for OpenAI realtime and Ollama chat completion
  .github/_typos.toml
  python/tests/unit/connectors/ai/ollama/services/test_ollama_chat_completion.py
  python/tests/unit/connectors/ai/open_ai/services/test_openai_realtime.py
  python/uv.lock
Labels: python

#11366 .Net: Obsolete custom mappers
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/AzureAISearchFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/QdrantFactory.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_CustomMapper.cs
  dotnet/samples/GettingStartedWithVectorStores/Step6_Use_CustomMapper.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/RecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateGenericDataModelMapper.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollectionOptions.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/PineconeVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordMapper.cs
  dotnet/src/InternalUtilities/connectors/Memory/MongoDB/MongoDBGenericDataModelMapper.cs
  dotnet/src/InternalUtilities/connectors/Memory/MongoDB/MongoDBVectorStoreRecordMapper.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
Labels: .NET, kernel, memory

#11379 Python: Use correct env var for AOAI Responses Deployment Name in README, Fix Responses config checks
  python/samples/getting_started_with_agents/openai_responses/README.md
  python/samples/getting_started_with_agents/openai_responses/step1_responses_agent.py
  python/semantic_kernel/__init__.py
  python/semantic_kernel/agents/open_ai/azure_responses_agent.py
Labels: python, documentation

#11371 Python: Updates
  .github/workflows/generate-pr-description.yml
  .github/workflows/python-integration-tests.yml
  .github/workflows/python-test-coverage-report.yml
  .github/workflows/python-unit-tests.yml
  .github/workflows/typos.yaml
  python/pip/README.md
  python/pyproject.toml
  python/semantic_kernel/agents/autogen/autogen_conversable_agent.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/tests/unit/agents/azure_ai_agent/test_agent_content_generation.py
Labels: python, documentation

#11372 Updated README.md
  README.md
  docs/images/sk_logo.png
Labels: documentation

#11380 .Net: Add skip validation for hybrid search options
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/HybridSearchOptions.cs
Labels: .NET, kernel

#11370 Python: Improve plan and execute sample
  python/samples/concepts/processes/plan_and_execute.py
Labels: agents, processes

#11399 .Net: Unit tests for declarative agents
  dotnet/src/Agents/Abstractions/Definition/AgentDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/AgentFactory.cs
  dotnet/src/Agents/Abstractions/Definition/AgentInput.cs
  dotnet/src/Agents/Abstractions/Definition/AgentMetadata.cs
  dotnet/src/Agents/Abstractions/Definition/AgentOutput.cs
  dotnet/src/Agents/Abstractions/Definition/AgentToolDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/ModelConnection.cs
  dotnet/src/Agents/Abstractions/Definition/ModelDefinition.cs
  dotnet/src/Agents/Abstractions/Extensions/AgentDefinitionExtensions.cs
  dotnet/src/Agents/UnitTests/Definition/AgentDefinitionModelTests.cs
  dotnet/src/Agents/UnitTests/Extensions/AgentDefinitionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Extensions/AgentToolDefinitionExtensionsTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AgentDefinitionYamlTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AgentYamlTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AzureAIKernelAgentYamlTests.cs
  dotnet/src/Agents/Yaml/AgentToolDefinitionTypeConverter.cs
  dotnet/src/Agents/Yaml/Extensions/YamlAgentFactoryExtensions.cs
Labels: .NET

#11361 .Net: Extend sample to show how to use MCP Tools from an Agent
  dotnet/samples/Demos/ModelContextProtocolPlugin/ModelContextProtocolPlugin.csproj
  dotnet/samples/Demos/ModelContextProtocolPlugin/Program.cs
Labels: .NET

#11378 .Net: Expose underlying method from kernel function
  dotnet/samples/Concepts/Functions/MethodFunctions_Advanced.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromMethod.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests2.cs
Labels: .NET, kernel, kernel.core, function_calling

#11397 Python: fix for enum handling in openai event creation in realtime
  python/semantic_kernel/connectors/ai/open_ai/services/_open_ai_realtime.py
Labels: python

#11394 Python: add AzureAIAgent, OpenAIAssistant and OpenAIResponsesAgent Integration tests, AzureAIAgent FCC gen bug fix
  .github/workflows/python-integration-tests.yml
  python/semantic_kernel/__init__.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/agents/open_ai/responses_agent_thread_actions.py
  python/tests/integration/agents/azureai_agent/test_azureai_agent_integration.py
  python/tests/integration/agents/openai_assistant_agent/test_openai_assistant_agent_integration.py
  python/tests/integration/agents/openai_responses_agent/test_openai_responses_agent_integration.py
  python/tests/integration/agents/resources/employees.pdf
  python/tests/unit/agents/azure_ai_agent/test_agent_content_generation.py
Labels: docs and tests, python, agents

#11400 .Net: Integration tests for declarative agents
  dotnet/samples/GettingStartedWithAgents/Step09_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Step10_MultiAgent_Declarative.cs
  dotnet/src/IntegrationTests/Agents/AzureAIAgentTests.cs
  dotnet/src/IntegrationTests/Agents/ChatCompletionAgentTests.cs
  dotnet/src/IntegrationTests/Agents/OpenAIAssistantAgentTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel

#11206 .Net: Process: Document generation gRPC sample
  .gitignore
  dotnet/Directory.Packages.props
  dotnet/SK-dotnet.sln
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Clients/DocumentGenerationGrpcClient.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Extensions/ConfigurationExtension.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Options/OpenAIOptions.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/ProcessWithCloudEvents.Grpc.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Program.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Protos/documentationGenerator.proto
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/README.md
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Services/DocumentGenerationService.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/appsettings.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/DocumentGenerationProcess.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/Models/DocumentInfo.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/Models/ProductInfo.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/ProcessWithCloudEvents.Processes.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/Steps/GatherProductInfoStep.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/Steps/GenerateDocumentationStep.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/Steps/ProofreadDocumentationStep.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/Steps/PublishDocumentationStep.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/README.md
  dotnet/src/Experimental/Process.Abstractions/IKernelExternalProcessMessageChannel.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEventData.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessProxyMessage.cs
  dotnet/src/Experimental/Process.IntegrationTests.Shared/ProcessCloudEventsTests.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalMap.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ExternalMessageBufferActorWrapper.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/MapActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprKernelProcessContext.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprKernelProcessFactory.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProxyTests.cs
  dotnet/src/InternalUtilities/process/Runtime/KernelProcessProxyMessageFactory.cs
  dotnet/src/InternalUtilities/process/Runtime/MapExtensions.cs
  dotnet/src/InternalUtilities/process/Runtime/ProcessEvent.cs
  dotnet/src/InternalUtilities/process/TestsShared/CloudEvents/MockCloudEventClient.cs
Labels: .NET, documentation, processes

#11431 .Net: Fixes required after latest update from main
  dotnet/samples/GettingStartedWithAgents/OpenAIResponse/Step02_ConversationState.cs
  dotnet/src/Agents/OpenAI/Extensions/ResponseItemExtensions.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgentThread.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseResponsesAgentTest.cs
Labels: .NET

#11414 .Net: [MEVD] Updated VectorStoreException. Made implementations sealed
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/AzureAISearchFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/PineconeFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/QdrantFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/RedisFactory.cs
  dotnet/samples/Concepts/Memory/VectorStore_DataIngestion_CustomMapper.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreUtils.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/ExceptionWrapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreCollectionSearchMappingTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/VectorStoreException.cs
  dotnet/src/InternalUtilities/src/Data/VectorStoreErrorHandler.cs
Labels: .NET, kernel, memory

#11446 .Net: [MEVD] Improved Cosmos NoSQL initialization logic
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLKernelBuilderExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
Labels: .NET, kernel, memory

#11433 .Net: Samples for MCP Resources and Resource Templates
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/ReadResourceResultExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/MCPClient.csproj
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/EmbeddedResource.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Extensions/McpServerBuilderExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Extensions/VectorStoreExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/MCPServer.csproj
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/EmbeddedResource.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/ResourceDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/ResourceRegistry.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/ResourceTemplateDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/TextDataModel.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/cat.jpg
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/semantic-kernel-info.txt
Labels: .NET, modelcontextprotocol

#11430 Python: Add ChatCompletionAgent integration tests
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/openai_responses_agent.py
  python/semantic_kernel/agents/open_ai/responses_agent_thread_actions.py
  python/tests/integration/agents/azureai_agent/test_azureai_agent_integration.py
  python/tests/integration/agents/chat_completion_agent/test_chat_completion_agent_integration.py
  python/tests/integration/agents/openai_assistant_agent/test_openai_assistant_agent_integration.py
  python/tests/integration/agents/openai_responses_agent/test_openai_responses_agent_integration.py
Labels: docs and tests, python, agents

#11426 Python: Update Doc Gen demo based on latest agent invocation api pattern
  python/samples/demos/document_generator/README.md
  python/samples/demos/document_generator/agents/code_validation_agent.py
  python/samples/demos/document_generator/agents/content_creation_agent.py
  python/samples/demos/document_generator/agents/custom_agent_base.py
  python/samples/demos/document_generator/agents/user_agent.py
  python/samples/demos/document_generator/custom_selection_strategy.py
Labels: python, documentation

#11428 Python: Update Python min version in README
  README.md
Labels: documentation

#11112 .Net MEVD: Filter-only search API (without vector similarity)
  dotnet/samples/Concepts/Memory/VectorStoreEmbeddingGeneration/TextEmbeddingVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresVectorStoreDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresSqlBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/MockableQdrantClient.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreCollectionCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollectionQueryBuilder.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreCollectionSqlBuilderTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordOptions/GetFilteredRecordOptions.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordCollection.cs
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/AzureAISearchIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/AzureAISearchIntegrationTests/Filter/AzureAISearchBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosMongoDBIntegrationTests/Filter/CosmosMongoBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/CosmosNoSQLIntegrationTests/Filter/CosmosNoSQLBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/InMemoryIntegrationTests/Filter/InMemoryBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/MongoDBIntegrationTests/Filter/MongoDBBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/Filter/PineconeBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/PostgresIntegrationTests/Filter/PostgresBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/QdrantIntegrationTests/Filter/QdrantBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/RedisIntegrationTests/Filter/RedisBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/Filter/SqlServerBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/Filter/SqliteBasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicQueryTests.cs
  dotnet/src/VectorDataIntegrationTests/WeaviateIntegrationTests/Filter/WeaviateBasicQueryTests.cs
Labels: .NET, kernel, memory, msft.ext.vectordata

#11441 .Net: Rename IsFilterable to IsIndexed and IsFullTextSearchable to IsFullTextIndexed
  dotnet/samples/Concepts/Memory/VectorStore_EmbeddingGeneration.cs
  dotnet/samples/Concepts/Memory/VectorStore_HybridSearch_Simple_AzureAISearch.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_MultiStore_Common.cs
  dotnet/samples/Concepts/Memory/VectorStore_VectorSearch_Simple.cs
  dotnet/samples/GettingStartedWithTextSearch/InMemoryVectorStoreFixture.cs
  dotnet/samples/GettingStartedWithVectorStores/Glossary.cs
  dotnet/samples/GettingStartedWithVectorStores/Step4_NonStringKey_VectorStore.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBHotelModel.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/InMemoryVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordPropertyMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordPropertyMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBHotelModel.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/PostgresVectorStoreRecordPropertyMappingTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteHotel.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteVectorStoreRecordPropertyMappingTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateHotel.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreCollectionCreateMappingTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordDataPropertyModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordModel.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordModelBuilder.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordAttributes/VectorStoreRecordDataAttribute.cs
  dotnet/src/Connectors/VectorData.Abstractions/RecordDefinition/VectorStoreRecordDataProperty.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorSearch/HybridSearchOptions.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteHotel.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateHotel.cs
  dotnet/src/IntegrationTests/Data/BaseVectorStoreTextSearchTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreTextSearchTestBase.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerCommandBuilderTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/NoVectorConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/HybridSearch/KeywordVectorizedHybridSearchComplianceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Support/SimpleModelFixture.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorSearch/VectorSearchDistanceFunctionComplianceTests.cs
Labels: .NET, kernel, memory

#11449 .Net: Update MCP prompt sample
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/PromptResultExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Extensions/McpServerBuilderExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/PromptDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/getCurrentWeatherForCity.json
Labels: .NET, modelcontextprotocol

#11440 .Net: Updates to FileIOPlugin
  dotnet/src/Plugins/Plugins.Core/FileIOPlugin.cs
  dotnet/src/Plugins/Plugins.UnitTests/Core/FileIOPluginTests.cs
Labels: .NET

#11458 Python: Fix `TypeError` when required is missing in MCP tool’s inputSchema
  python/semantic_kernel/connectors/mcp.py
Labels: python

#11460 Python: Support Auto Function Invocation Filter for AzureAIAgent and OpenAIAssistantAgent
  python/pyproject.toml
  python/samples/concepts/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_auto_func_invocation_filter.py
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_auto_func_invocation_filter_streaming.py
  python/samples/concepts/agents/openai_assistant/openai_assistant_auto_func_invocation_filter.py
  python/samples/concepts/agents/openai_assistant/openai_assistant_auto_func_invocation_filter_streaming.py
  python/samples/getting_started_with_agents/chat_completion/README.md
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/open_ai/assistant_content_generation.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/agents/open_ai/function_action_result.py
  python/tests/unit/agents/azure_ai_agent/test_agent_thread_actions.py
  python/tests/unit/agents/openai_assistant/test_assistant_thread_actions.py
  python/uv.lock
Labels: python, agents, documentation

#11478 .Net: Enable DI for SK plugins in MCP demo server
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Extensions/McpServerBuilderExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/PromptDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/ResourceDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/ResourceTemplateDefinition.cs
Labels: .NET, modelcontextprotocol

#11475 Python: Improve agent integration tests
  python/semantic_kernel/agents/open_ai/responses_agent_thread_actions.py
  python/tests/integration/agents/__init__.py
  python/tests/integration/agents/agent_test_base.py
  python/tests/integration/agents/azureai_agent/test_azureai_agent_integration.py
  python/tests/integration/agents/chat_completion_agent/test_chat_completion_agent_integration.py
  python/tests/integration/agents/conftest.py
  python/tests/integration/agents/openai_assistant_agent/test_openai_assistant_agent_integration.py
  python/tests/integration/agents/openai_responses_agent/test_openai_responses_agent_integration.py
Labels: docs and tests, python, agents

#11415 .Net: Updates to WebFileDownloadPlugin
  dotnet/samples/Concepts/Plugins/WebPlugins.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/IntegrationTests/Plugins/Web/WebFileDownloadPluginTests.cs
  dotnet/src/InternalUtilities/test/MultipleHttpMessageHandlerStub.cs
  dotnet/src/Plugins/Plugins.UnitTests/TestData/sk_logo.png
  dotnet/src/Plugins/Plugins.UnitTests/Web/WebFileDownloadPluginTests.cs
  dotnet/src/Plugins/Plugins.Web/WebFileDownloadPlugin.cs
Labels: .NET, kernel, documentation

#11405 .Net MEVD: Enable & fix integration tests on MongoDB
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreTests.cs
Labels: .NET, kernel

#11491 .Net: Update Microsoft.Extensions.AI to 9.4.0-preview
  dotnet/Directory.Packages.props
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/AzureAIInference_ChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/HybridCompletion_Fallback.cs
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Extensions/AzureAIInferenceServiceCollectionExtensionsTests.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Extensions/AzureAIInferenceServiceCollectionExtensions.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Services/AzureAIInferenceChatCompletionService.cs
  dotnet/src/InternalUtilities/src/Schema/KernelJsonSchemaBuilder.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/AIFunctionKernelFunction.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatClientChatCompletionService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/Embeddings/EmbeddingGenerationServiceExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Functions/KernelFunction.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/AIFunctionKernelFunctionTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ServiceConversionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/AIFunctionExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelFunctionFromMethodTests1.cs
  dotnet/src/SemanticKernel.UnitTests/Functions/KernelPluginTests.cs
Labels: .NET, kernel, ai connector, sk team issue, kernel.core

#11484 .Net: Bump AWSSDK to 4.0.0-preview.13 in /dotnet
  dotnet/Directory.Packages.props
  dotnet/src/Agents/Bedrock/Extensions/BedrockAgentInvokeExtensions.cs
  dotnet/src/Agents/UnitTests/Bedrock/BedrockAgentChannelTests.cs
  dotnet/src/Agents/UnitTests/Bedrock/BedrockAgentTests.cs
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Services/BedrockChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Services/BedrockTextGenerationServiceTests.cs
Labels: .NET, kernel

#11489 .Net: Version 1.46.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#11495 .Net: Update SK MCP samples to the latest MCP C# SDK NuGet package
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Prompts/PromptDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolPlugin/Program.cs
Labels: .NET, modelcontextprotocol

#11402 .Net: Change UpsertAsync return type to IReadOnlyList<TKey>
  dotnet/samples/Concepts/Memory/VectorStoreEmbeddingGeneration/TextEmbeddingVectorStoreRecordCollection.cs
  dotnet/samples/Concepts/Memory/VectorStore_EmbeddingGeneration.cs
  dotnet/samples/Concepts/Optimization/FrugalGPTWithFilters.cs
  dotnet/samples/Concepts/Optimization/PluginSelectionWithFilters.cs
  dotnet/samples/Demos/VectorStoreRAG/DataLoader.cs
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/InMemoryVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisHashSetVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisJsonVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Redis.UnitTests/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStoreRecordCollection.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureAISearch/AzureAISearchVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/BaseVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Postgres/PostgresVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisHashSetVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Redis/RedisJsonVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/CRUD/PineconeAllSupportedTypesTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/CRUD/SqlServerBatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerVectorStoreTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/CRUD/BatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Support/VectorStoreCollectionFixture.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/VectorSearch/VectorSearchDistanceFunctionComplianceTests.cs
Labels: .NET, kernel, memory

#11500 .Net: Sample React App for SK Process Cloud Events demo
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/.gitignore
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/.vscode/extensions.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/.vscode/launch.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/.vscode/settings.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/.vscode/tasks.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/README.md
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/eslint.config.js
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/index.html
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/package.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/public/vite.svg
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/App.css
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/App.tsx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/assets/react.svg
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/common/AppConstants.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/common/ChatConstants.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/components/GenerateDocumentsChat.tsx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/components/Icons.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/components/SimpleChat.tsx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/index.css
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/main.tsx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/DocumentGenerationGrpcClient.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/gen/documentGeneration.client.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/gen/documentGeneration.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/proto/documentGeneration.proto
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/vite-env.d.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/tsconfig.app.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/tsconfig.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/tsconfig.node.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/vite.config.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/yarn.lock
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/ProcessWithCloudEvents.Grpc.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Program.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/README.md
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/appsettings.json
  dotnet/samples/Demos/ProcessWithCloudEvents/README.md
Labels: .NET, documentation, processes

#11362 Python: Introducing SK as a MCP Server
  docs/decisions/0068-structured-data-connector.md
  docs/decisions/0069-mcp.md
  python/.cspell.json
  python/samples/concepts/mcp/README.md
  python/samples/concepts/mcp/agent_with_mcp_plugin.py
  python/samples/concepts/mcp/mcp_as_plugin.py
  python/samples/demos/sk_mcp_server/README.md
  python/samples/demos/sk_mcp_server/sk_mcp_server.py
  python/semantic_kernel/connectors/mcp.py
  python/semantic_kernel/functions/kernel_function_extension.py
  python/semantic_kernel/kernel.py
  python/tests/unit/connectors/ai/open_ai/services/test_openai_realtime.py
  python/tests/unit/connectors/mcp/test_mcp.py
Labels: python, documentation, modelcontextprotocol

#11465 Python: sample using GitHub MCP Server and Azure AI Agent
  python/samples/concepts/mcp/azure_ai_agent_with_mcp_plugin.py
Labels: python

#11503 Python: Bug fix for azure ai agent truncate strategy. Add sample.
  python/samples/concepts/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_truncation_strategy.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
Labels: python, agents, documentation

#11477 Python: small code improvements in code of call automation sample
  python/samples/demos/call_automation/call_automation.py
Labels: python

#11472 Added missing import asyncio to agent with plugin python
  README.md
Labels: documentation

#11504 Python: version updated to 1.28.0
  python/semantic_kernel/__init__.py
Labels: python

#11476 .Net: GettingStarted - Adjust Suffixes
  dotnet/samples/.editorconfig
  dotnet/samples/GettingStarted/GettingStarted.csproj
  dotnet/samples/GettingStarted/Step1_Create_Kernel.cs
  dotnet/samples/GettingStarted/Step2_Add_Plugins.cs
  dotnet/samples/GettingStarted/Step3_Yaml_Prompt.cs
  dotnet/samples/GettingStarted/Step4_Dependency_Injection.cs
  dotnet/samples/GettingStarted/Step5_Chat_Prompt.cs
  dotnet/samples/GettingStarted/Step6_Responsible_AI.cs
  dotnet/samples/GettingStarted/Step7_Observability.cs
  dotnet/samples/GettingStarted/Step8_Pipelining.cs
  dotnet/samples/GettingStarted/Step9_OpenAPI_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step01_AzureAIAgent.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step02_AzureAIAgent_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step03_AzureAIAgent_Chat.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step04_AzureAIAgent_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step05_AzureAIAgent_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step06_AzureAIAgent_OpenAPI.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step07_AzureAIAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step01_BedrockAgent.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step02_BedrockAgent_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step03_BedrockAgent_Functions.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step04_BedrockAgent_Trace.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step05_BedrockAgent_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step06_BedrockAgent_AgentChat.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step07_BedrockAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step01_Assistant.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step02_Assistant_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step03_Assistant_Vision.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step04_AssistantTool_CodeInterpreter.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step05_AssistantTool_FileSearch.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step06_AssistantTool_Function.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step07_Assistant_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Step01_Agent.cs
  dotnet/samples/GettingStartedWithAgents/Step02_Plugins.cs
  dotnet/samples/GettingStartedWithAgents/Step03_Chat.cs
  dotnet/samples/GettingStartedWithAgents/Step04_KernelFunctionStrategies.cs
  dotnet/samples/GettingStartedWithAgents/Step05_JsonResult.cs
  dotnet/samples/GettingStartedWithAgents/Step06_DependencyInjection.cs
  dotnet/samples/GettingStartedWithAgents/Step07_Telemetry.cs
  dotnet/samples/GettingStartedWithAgents/Step08_AgentAsKernelFunction.cs
  dotnet/samples/GettingStartedWithAgents/Step09_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/Step10_MultiAgent_Declarative.cs
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithTextSearch/GettingStartedWithTextSearch.csproj
  dotnet/samples/GettingStartedWithVectorStores/GettingStartedWithVectorStores.csproj
Labels: .NET

#11308 .Net: Added BraveConnector in WebSearchPlugin
  dotnet/src/Plugins/Plugins.UnitTests/TestData/brave_site_filter_what_is_the_semantic_kernel.json
  dotnet/src/Plugins/Plugins.UnitTests/TestData/brave_what_is_the_semantic_kernel.json
  dotnet/src/Plugins/Plugins.UnitTests/Web/Brave/BraveTextSearchTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/SearchUrlSkillTests.cs
  dotnet/src/Plugins/Plugins.Web/Brave/BraveConnector.cs
  dotnet/src/Plugins/Plugins.Web/Brave/BraveSearchResponse.cs
  dotnet/src/Plugins/Plugins.Web/Brave/BraveTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Brave/BraveTextSearchOptions.cs
  dotnet/src/Plugins/Plugins.Web/Brave/BraveWebResult.cs
  dotnet/src/Plugins/Plugins.Web/SearchUrlPlugin.cs
  dotnet/src/Plugins/Plugins.Web/WebKernelBuilderExtensions.cs
  dotnet/src/Plugins/Plugins.Web/WebServiceCollectionExtensions.cs
Labels: .NET

#11533 .Net: Mcp sampling sample
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/AuthorRoleExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/ChatMessageContentExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/ContentExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/PromptResultExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Extensions/SamplingMessageExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/HumanInTheLoopFilter.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Extensions/McpServerBuilderExtensions.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/MCPServer.csproj
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/ProjectResources/EmbeddedResource.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/ProjectResources/EmployeeBirthdaysAndPositions.png
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/ProjectResources/SalesReport2014.png
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/ProjectResources/cat.jpg
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/ProjectResources/getCurrentWeatherForCity.json
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/ProjectResources/semantic-kernel-info.txt
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Resources/ResourceTemplateDefinition.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Tools/MailboxUtils.cs
  dotnet/samples/Demos/ModelContextProtocolPlugin/Program.cs
Labels: .NET, modelcontextprotocol

#11499 .Net: Use ChatHistoryAgentThread with OpenAIResponseAgent
  dotnet/samples/GettingStartedWithAgents/OpenAIResponse/Step02_ConversationState.cs
  dotnet/src/Agents/OpenAI/Agents.OpenAI.csproj
  dotnet/src/Agents/OpenAI/OpenAIResponseAgent.cs
  dotnet/src/Agents/OpenAI/OpenAIResponseAgentThread.cs
  dotnet/src/Agents/UnitTests/OpenAI/OpenAIResponseAgentThreadTests.cs
Labels: .NET

#11538 .Net: Remove SingleAuthorizationHeaderPolicy
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Core/ClientCoreTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/SingleAuthorizationHeaderPolicy.cs
Labels: .NET, kernel

#11519 .Net: Update ITextSearch to align with search abstractions in M.E.VD - Phase 1
  dotnet/samples/Concepts/RAG/Bing_RagWithTextSearch.cs
  dotnet/samples/Concepts/Search/Bing_FunctionCallingWithTextSearch.cs
  dotnet/samples/Concepts/Search/Bing_TextSearch.cs
  dotnet/samples/Concepts/Search/Google_TextSearch.cs
  dotnet/samples/Concepts/Search/Tavily_TextSearch.cs
  dotnet/samples/Concepts/Search/VectorStore_TextSearch.cs
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.ApiService/Program.cs
  dotnet/samples/Demos/OnnxSimpleRAG/Program.cs
  dotnet/samples/Demos/VectorStoreRAG/RAGChatService.cs
  dotnet/samples/GettingStartedWithTextSearch/Step1_Web_Search.cs
  dotnet/samples/GettingStartedWithTextSearch/Step2_Search_For_RAG.cs
  dotnet/samples/GettingStartedWithTextSearch/Step3_Search_With_FunctionCalling.cs
  dotnet/samples/GettingStartedWithTextSearch/Step4_Search_With_VectorStore.cs
  dotnet/src/IntegrationTests/Data/BaseTextSearchTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Bing/BingTextSearchTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Google/GoogleTextSearchTests.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Tavily/TavilyTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Bing/BingTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Google/GoogleTextSearch.cs
  dotnet/src/Plugins/Plugins.Web/Tavily/TavilyTextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/CompatibilitySuppressions.xml
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/ITextSearch.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/KernelSearchResults.cs
  dotnet/src/SemanticKernel.Abstractions/Data/TextSearch/TextSearchOptions.cs
  dotnet/src/SemanticKernel.AotTests/JsonSerializerContexts/CustomResultJsonSerializerContext.cs
  dotnet/src/SemanticKernel.AotTests/UnitTests/Search/MockTextSearch.cs
  dotnet/src/SemanticKernel.AotTests/UnitTests/Search/TextSearchExtensionsTests.cs
  dotnet/src/SemanticKernel.AotTests/UnitTests/Search/VectorStoreTextSearchTests.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/TextSearchExtensions.cs
  dotnet/src/SemanticKernel.Core/Data/TextSearch/VectorStoreTextSearch.cs
  dotnet/src/SemanticKernel.UnitTests/Data/MockTextSearch.cs
  dotnet/src/SemanticKernel.UnitTests/Data/TextSearchExtensionsTests.cs
  dotnet/src/SemanticKernel.UnitTests/Data/VectorStoreTextSearchTests.cs
Labels: .NET, kernel, kernel.core

#11508 Python: add support for prompts and sample
  python/samples/concepts/mcp/README.md
  python/samples/concepts/mcp/agent_with_mcp_plugin.py
  python/samples/concepts/mcp/agent_with_mcp_sampling.py
  python/samples/concepts/mcp/azure_ai_agent_with_local_server.py
  python/samples/concepts/mcp/azure_ai_agent_with_mcp_plugin.py
  python/samples/concepts/mcp/local_agent_with_local_server.py
  python/samples/concepts/mcp/mcp_as_plugin.py
  python/samples/demos/sk_mcp_server/mcp_server_with_prompts.py
  python/samples/demos/sk_mcp_server/mcp_server_with_sampling.py
  python/samples/demos/sk_mcp_server/sk_mcp_server.py
  python/semantic_kernel/connectors/mcp.py
  python/semantic_kernel/functions/kernel_function_decorator.py
  python/semantic_kernel/functions/kernel_function_extension.py
  python/semantic_kernel/functions/kernel_function_from_method.py
  python/semantic_kernel/kernel.py
  python/semantic_kernel/services/kernel_services_extension.py
Labels: python, documentation

#11407 .Net: Fix timezone bug in qdrant datetime unit tests.
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionCreateMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreCollectionSearchMapping.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStoreRecordFieldMapping.cs
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/QdrantVectorStoreRecordMapperTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Qdrant/QdrantVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel, memory

#11557 .Net: Fix minor typos
  dotnet/src/Agents/Catalog/Template/CustomServiceAgent.cs
Labels: .NET

#11568 .Net: Update BraveTextSearch to use new ITextSearch
  dotnet/src/IntegrationTests/Data/BaseTextSearchTests.cs
  dotnet/src/IntegrationTests/Plugins/Web/Brave/BraveTextSearchTests.cs
  dotnet/src/IntegrationTests/TestSettings/BraveConfiguration.cs
  dotnet/src/Plugins/Plugins.UnitTests/Web/Brave/BraveTextSearchTests.cs
  dotnet/src/Plugins/Plugins.Web/Brave/BraveTextSearch.cs
Labels: .NET, kernel

#11435 .Net: Add support for relative file references in Prompty
  dotnet/src/Functions/Functions.Prompty.UnitTests/Functions.Prompty.UnitTests.csproj
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTest.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/model.json
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/relativeFileReference.prompty
  dotnet/src/Functions/Functions.Prompty/Extensions/PromptyKernelExtensions.cs
  dotnet/src/Functions/Functions.Prompty/KernelFunctionPrompty.cs
Labels: .NET

#11563 Python: Fix Agent StreamingTextContent Yielding and Proper Handling of FunctionCallContent/FunctionResultContent
  python/samples/concepts/agents/chat_completion_agent/chat_completion_agent_message_callback_streaming.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/chat_completion/chat_completion_agent.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/agents/open_ai/responses_agent_thread_actions.py
  python/tests/integration/agents/azureai_agent/test_azureai_agent_integration.py
  python/tests/integration/agents/chat_completion_agent/test_chat_completion_agent_integration.py
  python/tests/integration/agents/openai_assistant_agent/test_openai_assistant_agent_integration.py
  python/tests/integration/agents/openai_responses_agent/test_openai_responses_agent_integration.py
  python/tests/unit/agents/chat_completion/test_chat_completion_agent.py
  python/tests/unit/agents/openai_responses/test_openai_responses_thread_actions.py
Labels: docs and tests, python, agents

#11585 .Net MEVD: fix two bugs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStoreRecordCollection.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicFilterTests.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Filter/BasicQueryTests.cs
Labels: .NET, kernel, memory

#11584 .Net: Fix Nullable Bug Gemini Schema Generation
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiChatCompletion.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiChatCompletionStreaming.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiGetModelResult.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiStructuredOutputs.cs
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiVision.cs
  dotnet/samples/Concepts/FunctionCalling/Gemini_FunctionCalling.cs
  dotnet/samples/Concepts/Memory/TextMemoryPlugin_GeminiEmbeddingGeneration.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET, kernel, documentation

#11575 Python: Add samples to show how to get completion token usage
  python/samples/concepts/token_usage/simple_chat_token_usage.py
  python/samples/concepts/token_usage/simple_chat_token_usage_streaming.py
  python/semantic_kernel/connectors/ai/__init__.py
  python/semantic_kernel/connectors/ai/completion_usage.py
  python/tests/unit/connectors/ai/test_completion_token_usage.py
Labels: python

#11506 Python: create MCP server from agent
  python/samples/concepts/mcp/README.md
  python/samples/concepts/mcp/agent_with_mcp_agent.py
  python/samples/concepts/mcp/agent_with_mcp_sampling.py
  python/samples/concepts/mcp/azure_ai_agent_with_local_server.py
  python/samples/concepts/mcp/local_agent_with_local_server.py
  python/samples/concepts/mcp/servers/menu_agent_server.py
  python/samples/concepts/mcp/servers/restaurant_booking_agent_server.py
  python/samples/demos/mcp_server/README.md
  python/samples/demos/mcp_server/agent_as_server.py
  python/samples/demos/mcp_server/mcp_server_with_prompts.py
  python/samples/demos/mcp_server/mcp_server_with_sampling.py
  python/samples/demos/mcp_server/sk_mcp_server.py
  python/samples/demos/sk_mcp_server/README.md
  python/semantic_kernel/agents/agent.py
  python/semantic_kernel/connectors/mcp.py
Labels: python, documentation

#11539 .Net: [.NET] Process Framework with Aspire demo - Update dependencies
  dotnet/Directory.Packages.props
  dotnet/samples/Demos/AgentFrameworkWithAspire/ChatWithAgent.AppHost/ChatWithAgent.AppHost.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.AppHost/ProcessFramework.Aspire.AppHost.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.AppHost/Program.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/Program.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ServiceDefaults/CommonExtensions.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.SummaryAgent/Program.cs
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.TranslatorAgent/Program.cs
Labels: .NET

#11596 .Net: Add delete and exists methods for IVectorStore
  dotnet/samples/Concepts/Memory/VectorStoreEmbeddingGeneration/TextEmbeddingVectorStore.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/PineconeFactory.cs
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/RedisFactory.cs
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.InMemory/InMemoryVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStore.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateVectorStore.cs
  dotnet/src/Connectors/VectorData.Abstractions/VectorStorage/IVectorStore.cs
  dotnet/src/VectorDataIntegrationTests/CosmosNoSQLIntegrationTests/Support/CosmosNoSQLTestStore.cs
  dotnet/src/VectorDataIntegrationTests/VectorDataIntegrationTests/Collections/CollectionConformanceTests.cs
Labels: .NET, kernel, memory, needs_port_to_python

#11592 .Net: SK agent as MCP tool
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/MCPServer.csproj
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPServer/Tools/OrderProcessingUtils.cs
Labels: .NET, modelcontextprotocol

#11389 .Net: Update MultipleFunctionsVsParameters.cs to fix the parameter description in the SearchByPurchaseOrder function
  dotnet/samples/Concepts/FunctionCalling/MultipleFunctionsVsParameters.cs
Labels: .NET

#11601 .Net: Issue 11562 (add plugin description)
  dotnet/src/Functions/Functions.OpenApi.Extensions/Extensions/ApiManifestKernelExtensions.cs
  dotnet/src/Functions/Functions.UnitTests/Functions.UnitTests.csproj
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Extensions/ApiManifestKernelExtensionsTests.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/TestPlugins/example-apimanifest.json
Labels: .NET

#11615 .Net: Update API documentation and add the type property
  dotnet/src/Agents/Abstractions/Definition/AgentDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/AgentInput.cs
  dotnet/src/Agents/Abstractions/Definition/AgentOutput.cs
  dotnet/src/Agents/Abstractions/Definition/AgentToolDefinition.cs
  dotnet/src/Agents/Abstractions/Definition/ModelDefinition.cs
  dotnet/src/SemanticKernel.Abstractions/PromptTemplate/TemplateOptions.cs
Labels: .NET, kernel.core

#11336 .Net: Add JsonConverter's to handle bool values when converting from PromptExecutionSettings
  dotnet/SK-dotnet.sln
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Settings/AmazonCommandExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Settings/AmazonCommandRExecutionSettings.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Google/GeminiPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.HuggingFace/HuggingFacePromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Onnx/Connectors.Onnx.csproj
  dotnet/src/Connectors/Connectors.Onnx/OnnxRuntimeGenAIPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Connectors.OpenAI.csproj
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIPromptExecutionSettings.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTests.cs
  dotnet/src/Functions/Functions.Prompty/Functions.Prompty.csproj
  dotnet/src/InternalUtilities/src/Text/BoolJsonConverter.cs
  dotnet/src/InternalUtilities/src/Text/OptionalBoolJsonConverter.cs
Labels: .NET, kernel

#11620 .Net: Create a file/class per MCP client sample
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Program.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/AgentAvailableAsMCPToolSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/AzureAIAgentWithMCPToolsSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/BaseSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/ChatCompletionAgentWithMCPToolsSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/MCPPromptSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/MCPResourceTemplatesSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/MCPResourcesSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/MCPSamplingSample.cs
  dotnet/samples/Demos/ModelContextProtocolClientServer/MCPClient/Samples/MCPToolsSample.cs
Labels: .NET, modelcontextprotocol

#11626 .Net: Fix sk function arguments serialization
  dotnet/src/SemanticKernel.Abstractions/AbstractionsJsonContext.cs
Labels: .NET, kernel.core

#11630 .Net: Updated OpenTelemetry GenAI attributes
  dotnet/src/Connectors/Connectors.Amazon/Bedrock/Core/Clients/BedrockChatCompletionClient.cs
  dotnet/src/Connectors/Connectors.MistralAI/Client/MistralClient.cs
  dotnet/src/Connectors/Connectors.OpenAI/Core/ClientCore.ChatCompletion.cs
  dotnet/src/InternalUtilities/src/Diagnostics/ModelDiagnostics.cs
Labels: .NET, kernel

#11622 .Net: Update GeminiChatMessageContent to support System.Text.Json deserialization when calledToolResult is null
  dotnet/src/Connectors/Connectors.Google/Models/Gemini/GeminiChatMessageContent.cs
Labels: .NET, kernel

#11617 .Net: Fix Google Gemini Enums Schema definition
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiStructuredOutputs.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
Labels: .NET, kernel

#11616 .Net: Version 1.47.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#11534 .Net MEVD Sqlite: Escaping
  dotnet/src/Connectors/Connectors.Memory.Sqlite/Conditions/SqliteWhereCondition.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteConstants.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreCollectionCommandBuilder.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordCollection.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteVectorStoreRecordPropertyMapping.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteConditionsTests.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteVectorStoreCollectionCommandBuilderTests.cs
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/SqliteVectorStoreRecordPropertyMappingTests.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordModelBuilder.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/VectorStoreRecordModelBuildingOptions.cs
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/CRUD/SqliteBatchConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/CRUD/SqliteRecordConformanceTests.cs
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/Support/SqliteSimpleModelFixture.cs
  dotnet/src/VectorDataIntegrationTests/SqliteIntegrationTests/Support/SqliteTestStore.cs
Labels: .NET, kernel, memory

#11621 .Net: Adding Streaming Retry filter example
  dotnet/samples/Concepts/Filtering/RetryWithFilters.cs
Labels: .NET

#11531 Python: Added Brave search capability in SK(python) based on PR #9632
  python/.env.example
  python/samples/concepts/README.md
  python/samples/concepts/search/brave_text_search_as_plugin.py
  python/semantic_kernel/connectors/search/brave.py
  python/semantic_kernel/connectors/search_engine/google_connector.py
  python/tests/unit/connectors/conftest.py
  python/tests/unit/connectors/search/brave/test_brave_search.py
Labels: python, documentation

#11636 Python: Adjust RunPollingOptions import to base level, Add continue during invoke tool calls
  python/semantic_kernel/agents/__init__.py
  python/semantic_kernel/agents/__init__.pyi
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/semantic_kernel/agents/strategies/__init__.py
Labels: python, agents

#11662 Python: Update README.md
  python/samples/getting_started_with_processes/README.md
Labels: python, documentation

#11624 Python: updated mixed chat sample
  python/samples/concepts/agents/mixed_chat/mixed_chat_agents.py
  python/samples/getting_started_with_agents/azure_ai_agent/step4_azure_ai_agent_code_interpreter.py
Labels: python

#11674 .Net: Update to the latest MCP package
  dotnet/Directory.Packages.props
Labels: .NET, modelcontextprotocol

#11656 .Net: Add UserSecurityContext to SK dotnet AzureOpenAIPromptExecutionSettings
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
Labels: .NET, kernel, ai connector

#11684 .Net: Merging from main
  dotnet/Directory.Packages.props
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Services/AzureOpenAIChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI.UnitTests/Settings/AzureOpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Core/AzureClientCore.ChatCompletion.cs
  dotnet/src/Connectors/Connectors.AzureOpenAI/Settings/AzureOpenAIPromptExecutionSettings.cs
  python/pyproject.toml
  python/samples/concepts/agents/mixed_chat/mixed_chat_agents.py
  python/samples/getting_started_with_agents/azure_ai_agent/step4_azure_ai_agent_code_interpreter.py
  python/samples/getting_started_with_processes/README.md
Labels: .NET, python, kernel, documentation

#11688 .Net: Add details about remote MCP SSE servers and authentication
  dotnet/samples/Demos/ModelContextProtocolClientServer/README.md
Labels: .NET, documentation, modelcontextprotocol

#11696 .Net: fixing KernelProcessEventData toObject
  dotnet/src/Experimental/Process.Abstractions/KernelProcessEventData.cs
  dotnet/src/Experimental/Process.Abstractions/Process.Abstractions.csproj
Labels: .NET, processes

#11703 .Net: Schema validation
  dotnet/Directory.Packages.props
  dotnet/src/Experimental/Process.Abstractions/KernelProcessAgentStep.cs
  dotnet/src/Experimental/Process.Abstractions/Process.Abstractions.csproj
  dotnet/src/Experimental/Process.Abstractions/Serialization/Model/Workflow.cs
  dotnet/src/Experimental/Process.Abstractions/Serialization/WorkflowSerializer.cs
  dotnet/src/Experimental/Process.Core/ProcessAgentBuilder.cs
  dotnet/src/Experimental/Process.Core/Workflow/WorkflowBuilder.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Program.cs
Labels: .NET

#11680 Python: Add ability to clone a kernel
  python/semantic_kernel/kernel.py
  python/semantic_kernel/reliability/kernel_reliability_extension.py
  python/tests/conftest.py
  python/tests/integration/kernel/test_kernel_integration.py
  python/tests/unit/kernel/test_kernel.py
Labels: python

#11690 .Net: Add conversation state integration for ChatCompletionAgent with tests
  dotnet/src/Agents/Core/ChatCompletionAgent.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithStatePartConformance/AgentWithStatePartTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithStatePartConformance/ChatCompletionAgentWithStatePartTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AzureAIAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/BedrockAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/ChatCompletionAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/OpenAIAssistantAgentFixture.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel

#11700 .Net: Update AgentFactory implementations to handle existing agents
  dotnet/Directory.Packages.props
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step07_BedrockAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step07_Assistant_Declarative.cs
  dotnet/src/Agents/AzureAI/Definition/AzureAIAgentFactory.cs
  dotnet/src/Agents/Bedrock/Definition/BedrockAgentFactory.cs
  dotnet/src/Agents/OpenAI/Definition/OpenAIAssistantAgentFactory.cs
  dotnet/src/Agents/UnitTests/AzureAI/Definition/AzureAIAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Definition/OpenAIAssistantAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AgentYamlTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AzureAIKernelAgentYamlTests.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
Labels: .NET

#11646 .Net: Ensure Required Headers in Mistral ChatCompletion HttpClient
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralAIExtensionTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIServiceCollectionExtensions.cs
Labels: .NET, kernel, ai connector

#11723 Python: Updating feature declarative processes with main latest updates
  dotnet/Directory.Packages.props
  dotnet/samples/GettingStartedWithAgents/AzureAIAgent/Step08_AzureAIAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/BedrockAgent/Step07_BedrockAgent_Declarative.cs
  dotnet/samples/GettingStartedWithAgents/OpenAIAssistant/Step07_Assistant_Declarative.cs
  dotnet/src/Agents/AzureAI/Definition/AzureAIAgentFactory.cs
  dotnet/src/Agents/Bedrock/Definition/BedrockAgentFactory.cs
  dotnet/src/Agents/OpenAI/Definition/OpenAIAssistantAgentFactory.cs
  dotnet/src/Agents/UnitTests/AzureAI/Definition/AzureAIAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/OpenAI/Definition/OpenAIAssistantAgentFactoryTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AgentYamlTests.cs
  dotnet/src/Agents/UnitTests/Yaml/AzureAIKernelAgentYamlTests.cs
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/MistralAIExtensionTests.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIKernelBuilderExtensions.cs
  dotnet/src/Connectors/Connectors.MistralAI/MistralAIServiceCollectionExtensions.cs
  dotnet/src/InternalUtilities/samples/InternalUtilities/TestConfiguration.cs
  python/semantic_kernel/kernel.py
  python/semantic_kernel/reliability/kernel_reliability_extension.py
  python/tests/conftest.py
  python/tests/integration/kernel/test_kernel_integration.py
  python/tests/unit/kernel/test_kernel.py
Labels: .NET, python, kernel

#11716 .Net: Graduate Microsoft.SemanticKernel.PromptTemplates.Liquid package
  dotnet/src/Extensions/PromptTemplates.Liquid/PromptTemplates.Liquid.csproj
Labels: .NET, kernel

#11712 .Net: Update to latest Prompty.Core
  dotnet/Directory.Packages.props
  dotnet/src/Functions/Functions.Prompty.UnitTests/PromptyTests.cs
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chat.prompty
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chatJsonObject.prompty
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/chatNoExecutionSettings.prompty
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/model.json
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/relativeFileReference.prompty
  dotnet/src/Functions/Functions.Prompty.UnitTests/TestData/schema.json
  dotnet/src/Functions/Functions.Prompty/KernelFunctionPrompty.cs
Labels: .NET

#11729 .Net: Update to MCP 0.1.0-preview.11
  dotnet/Directory.Packages.props
Labels: .NET, modelcontextprotocol

#11730 .Net: Add unit tests for the mem0 component
  dotnet/src/SemanticKernel.Core/Memory/Mem0/Mem0Client.cs
  dotnet/src/SemanticKernel.Core/Memory/Mem0/Mem0MemoryComponent.cs
  dotnet/src/SemanticKernel.Core/Memory/Mem0/Mem0MemoryComponentOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/Mem0MemoryComponentTests.cs
Labels: .NET, kernel

#11647 .Net: Introduce Gemini Thinking Budget Configuration.
  dotnet/samples/Concepts/ChatCompletion/Google_GeminiChatCompletionWithThinkingBudget.cs
  dotnet/samples/Concepts/README.md
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/GeminiPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/GoogleAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/VertexAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.Google/GeminiPromptExecutionSettings.cs
  dotnet/src/Connectors/Connectors.Google/GeminiThinkingConfig.cs
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiChatCompletionTests.cs
  dotnet/src/IntegrationTests/Connectors/Google/TestsBase.cs
Labels: .NET, kernel, documentation

#11731 .Net: fix integration tests
  dotnet/src/IntegrationTests/Connectors/AzureOpenAI/AzureOpenAIChatCompletion_AutoFunctionChoiceBehaviorTests.cs
Labels: .NET, kernel

#11741 .Net: Obsolete SK planners
  dotnet/src/Planners/Planners.Handlebars/Planners.Handlebars.csproj
  dotnet/src/Planners/Planners.OpenAI/Planners.OpenAI.csproj
Labels: .NET

#11746 .Net: Agent Step in Processes
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Steps/RenderMessageStep.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessAgentExecutor.cs
  dotnet/src/Experimental/Process.Core/ProcessAgentBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
Labels: .NET

#11744 Python: Return thread id and run id in agent response metadata
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/semantic_kernel/agents/open_ai/assistant_thread_actions.py
  python/tests/integration/agents/azureai_agent/test_azureai_agent_integration.py
  python/tests/integration/agents/openai_assistant_agent/test_openai_assistant_agent_integration.py
  python/tests/integration/agents/openai_responses_agent/test_openai_responses_agent_integration.py
Labels: python, agents

#11702 .Net: Introduce a LINQ filter preprocessor in MEVD
  dotnet/src/Connectors/Connectors.Memory.AzureAISearch/AzureAISearchFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBMongoDB/AzureCosmosDBMongoDBFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSqlFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Common/SqlFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.MongoDB/MongoDBFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Pinecone/PineconeFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Qdrant/QdrantFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Redis/RedisFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/SqlServerFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Sqlite/SqliteFilterTranslator.cs
  dotnet/src/Connectors/Connectors.Memory.Weaviate/WeaviateFilterTranslator.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/Filter/FilterTranslationPreprocessor.cs
  dotnet/src/Connectors/VectorData.Abstractions/ConnectorSupport/Filter/QueryParameterExpression.cs
Labels: .NET, kernel, memory

#11754 .Net: Fix filtering GetAsync for Cosmos NoSQL
  dotnet/src/Connectors/Connectors.Memory.AzureCosmosDBNoSQL/AzureCosmosDBNoSQLVectorStoreCollectionQueryBuilder.cs
Labels: .NET, kernel, memory

#11745 .Net: Remove the experimental attribute from stable openapi api
  dotnet/src/Functions/Functions.OpenApi/CompatibilitySuppressions.xml
  dotnet/src/Functions/Functions.OpenApi/Extensions/OpenApiFunctionExecutionParameters.cs
  dotnet/src/Functions/Functions.OpenApi/Functions.OpenApi.csproj
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiExpectedResponse.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiInfo.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOAuthFlow.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOAuthFlows.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiOperation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiParameter.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiParameterLocation.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiParameterStyle.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiPayload.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiPayloadProperty.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiSecurityRequirement.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiSecurityScheme.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiServer.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiServerVariable.cs
  dotnet/src/Functions/Functions.OpenApi/Model/RestApiSpecification.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiParameterFilter.cs
  dotnet/src/Functions/Functions.OpenApi/RestApiParameterFilterContext.cs
Labels: .NET, openapi

#11743 .Net: Cleanup of SKEXP0020 flag, removing MemoryStore samples and stop publishing DuckDB and Kusto connectors.
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Concepts/Memory/MemoryStore_CustomReadOnly.cs
  dotnet/samples/Concepts/Memory/SemanticTextMemory_Building.cs
  dotnet/samples/Concepts/Memory/TextMemoryPlugin_GeminiEmbeddingGeneration.cs
  dotnet/samples/Concepts/Memory/TextMemoryPlugin_MultipleMemoryStore.cs
  dotnet/samples/Concepts/Memory/TextMemoryPlugin_RecallJsonSerializationWithOptions.cs
  dotnet/samples/Concepts/RAG/WithPlugins.cs
  dotnet/samples/Concepts/README.md
  dotnet/samples/Demos/OnnxSimpleRAG/OnnxSimpleRAG.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/ProcessFramework.Aspire.ProcessOrchestrator.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/ProcessWithCloudEvents.Grpc.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/ProcessWithCloudEvents.Processes.csproj
  dotnet/samples/Demos/ProcessWithDapr/ProcessWithDapr.csproj
  dotnet/samples/Demos/VectorStoreRAG/VectorStoreRAG.csproj
  dotnet/samples/GettingStarted/GettingStarted.csproj
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithTextSearch/GettingStartedWithTextSearch.csproj
  dotnet/samples/GettingStartedWithVectorStores/GettingStartedWithVectorStores.csproj
  dotnet/samples/LearnResources/LearnResources.csproj
  dotnet/src/Connectors/Connectors.AzureAISearch.UnitTests/Connectors.AzureAISearch.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureCosmosDBMongoDB.UnitTests/Connectors.AzureCosmosDBMongoDB.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureCosmosDBNoSQL.UnitTests/Connectors.AzureCosmosDBNoSQL.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Google.UnitTests/Connectors.Google.UnitTests.csproj
  dotnet/src/Connectors/Connectors.InMemory.UnitTests/Connectors.InMemory.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Memory.DuckDB/Connectors.Memory.DuckDB.csproj
  dotnet/src/Connectors/Connectors.Memory.Kusto/Connectors.Memory.Kusto.csproj
  dotnet/src/Connectors/Connectors.Memory.Postgres/IPostgresDbClient.cs
  dotnet/src/Connectors/Connectors.Memory.Postgres/PostgresVectorStoreRecordMapper.cs
  dotnet/src/Connectors/Connectors.Memory.SqlServer/README.md
  dotnet/src/Connectors/Connectors.MongoDB.UnitTests/Connectors.MongoDB.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Pinecone.UnitTests/Connectors.Pinecone.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Postgres.UnitTests/Connectors.Postgres.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Qdrant.UnitTests/Connectors.Qdrant.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Redis.UnitTests/Connectors.Redis.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Sqlite.UnitTests/Connectors.Sqlite.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Connectors.UnitTests.csproj
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Chroma/ChromaMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/DuckDB/DuckDBMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.UnitTests/Memory/Kusto/KustoMemoryStoreTests.cs
  dotnet/src/Connectors/Connectors.Weaviate.UnitTests/Connectors.Weaviate.UnitTests.csproj
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Process.IntegrationTestHost.Dapr.csproj
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/Process.IntegrationTestRunner.Dapr.csproj
  dotnet/src/IntegrationTests/Connectors/Memory/Chroma/ChromaMemoryStoreTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Milvus/MilvusMemoryStoreTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
  dotnet/src/SemanticKernel.UnitTests/SemanticKernel.UnitTests.csproj
  dotnet/src/VectorDataIntegrationTests/PineconeIntegrationTests/PineconeIntegrationTests.csproj
  dotnet/src/VectorDataIntegrationTests/PostgresIntegrationTests/Support/PostgresTestStore.cs
  dotnet/src/VectorDataIntegrationTests/SqlServerIntegrationTests/SqlServerIntegrationTests.csproj
Labels: .NET, kernel, documentation, memory

#11742 .Net: Remove custom mapper samples
  dotnet/samples/Concepts/Memory/VectorStoreLangchainInterop/MappingVectorStoreRecordCollection.cs
  dotnet/samples/Concepts/RAG/WithPlugins.cs
  dotnet/samples/GettingStartedWithVectorStores/Step4_NonStringKey_VectorStore.cs
  dotnet/samples/GettingStartedWithVectorStores/Step4_Use_DynamicDataModel.cs
Labels: .NET

#11772 .Net: Exclude some code for which we don't need to add code coverage
  dotnet/src/SemanticKernel.Core/Functions/KernelFunctionFromPrompt.cs
  dotnet/src/SemanticKernel.Core/KernelExtensions.cs
  dotnet/src/SemanticKernel.Core/Memory/MemoryBuilder.cs
  dotnet/src/SemanticKernel.Core/Memory/SemanticTextMemory.cs
Labels: .NET

#11776 .Net: Tiny fixes to make MEVD integration tests pass
  dotnet/src/IntegrationTests/Connectors/Memory/Sqlite/SqliteVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/Weaviate/WeaviateVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel

#11783 .Net: Feature process v2
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessAgentExecutor.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessAgentStep.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessDeclarativeConditionHandler.cs
  dotnet/src/Experimental/Process.Abstractions/ProcessAgentActions.cs
  dotnet/src/Experimental/Process.Core/ProcessAgentBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/Workflow/WorkflowBuilder.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalAgentStep.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
Labels: .NET

#11786 Python: Bump Python version to 1.29.0 for a release.
  python/semantic_kernel/__init__.py
Labels: python

#11737 .Net: Update Bedrock Agent to support conversation state and improve tests.
  dotnet/src/Agents/AzureAI/AzureAIAgent.cs
  dotnet/src/Agents/Bedrock/Agents.Bedrock.csproj
  dotnet/src/Agents/Bedrock/BedrockAgent.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentThreadConformance/BedrockAgentThreadTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithStatePartConformance/AgentWithStatePartTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/AgentWithStatePartConformance/BedrockAgentWithStatePartTests.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/BedrockAgentFixture.cs
  dotnet/src/IntegrationTests/Agents/CommonInterfaceConformance/InvokeConformance/BedrockAgentInvokeTests.cs
Labels: .NET, kernel

#11801 .Net: Update vector store readme's
  dotnet/src/Connectors/Connectors.Memory.Chroma/README.md
  dotnet/src/Connectors/Connectors.Memory.Kusto/README.md
  dotnet/src/Connectors/Connectors.Memory.Milvus/README.md
  dotnet/src/Connectors/Connectors.Memory.MongoDB/README.md
  dotnet/src/Connectors/Connectors.Memory.Postgres/README.md
  dotnet/src/Connectors/Connectors.Memory.Redis/README.md
Labels: .NET, kernel, documentation, memory

#11802 .Net: Try to reduce mongodb test flakiness
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreFixture.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, kernel

#11809 .Net: Updated package version
  dotnet/nuget/nuget-package.props
  dotnet/src/Connectors/VectorData.Abstractions/VectorData.Abstractions.csproj
Labels: .NET, kernel

#11747 .Net - Include Agent Runtime UnitTests in Github Pipeline
  dotnet/SK-dotnet.sln
  dotnet/src/Agents/Runtime/Abstractions.Tests/Runtime.Abstractions.UnitTests.csproj
  dotnet/src/Agents/Runtime/Core.Tests/Runtime.Core.UnitTests.csproj
  dotnet/src/Agents/Runtime/InProcess.Tests/Runtime.InProcess.UnitTests.csproj
Labels: .NET, agents

#11749 .Net: Agent Step for Process Framework - Dapr
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/.vscode/tasks.json
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/App.tsx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/common/AppConstants.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/components/ChatHeader.tsx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/components/GenerateDocumentsChat.tsx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/components/TeacherStudentInteractionChat.tsx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/main.tsx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/DocumentGenerationGrpcClient.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/gen/documentGeneration.client.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/gen/documentGeneration.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/gen/teacherStudentInteraction.client.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/gen/teacherStudentInteraction.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/grpcClients.ts
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/proto/documentGeneration.proto
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Client/src/services/grpc/proto/teacherStudentInteraction.proto
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Clients/DocumentGenerationGrpcClient.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Clients/TeacherStudentInteractionGrpcClient.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/ProcessWithCloudEvents.Grpc.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Program.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Protos/documentationGenerator.proto
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Protos/teacherStudentInteraction.proto
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Services/DocumentGenerationService.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/Services/TeacherStudentInteractionService.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/ProcessWithCloudEvents.Processes.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/TeacherStudentProcess.cs
  dotnet/samples/GettingStartedWithProcesses/Step04/Step04_AgentOrchestration.cs
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessAgentExecutor.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessAgentStep.cs
  dotnet/src/Experimental/Process.Abstractions/ProcessAgentActions.cs
  dotnet/src/Experimental/Process.Core/ProcessAgentBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessStepEdgeBuilder.cs
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/ProcessStateTypeResolver.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalAgentStep.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/AgentStepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/ProcessActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Actors/StepActor.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprAgentStepInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprProcessInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprStepInfo.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Interfaces/IAgentStep.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/KernelProcessDaprExtensions.cs
  dotnet/src/Experimental/Process.Runtime.Dapr/Serialization/KernelProcessEventSerializer.cs
  dotnet/src/InternalUtilities/process/Abstractions/ProcessConstants.cs
Labels: .NET, processes, dapr

#11814 replace mongo link
  docs/decisions/0067-hybrid-search.md
Labels: documentation

#11798 Python: Support callers passing in max supersteps for processes
  python/samples/getting_started_with_processes/README.md
  python/semantic_kernel/processes/dapr_runtime/actors/process_actor.py
  python/semantic_kernel/processes/dapr_runtime/dapr_kernel_process.py
  python/semantic_kernel/processes/dapr_runtime/dapr_kernel_process_context.py
  python/semantic_kernel/processes/local_runtime/local_kernel_process.py
  python/semantic_kernel/processes/local_runtime/local_kernel_process_context.py
  python/semantic_kernel/processes/local_runtime/local_process.py
  python/tests/unit/processes/dapr_runtime/test_dapr_kernel_process.py
  python/tests/unit/processes/dapr_runtime/test_dapr_kernel_process_context.py
  python/tests/unit/processes/local_runtime/test_local_process.py
Labels: python, documentation, processes

#11774 .Net: Adding a rag component for easily adding RAG to an agent.
  dotnet/src/SemanticKernel.Core/Memory/TextRag/TextRagComponent.cs
  dotnet/src/SemanticKernel.Core/Memory/TextRag/TextRagComponentOptions.cs
  dotnet/src/SemanticKernel.UnitTests/Memory/TextRagComponentTests.cs
Labels: .NET, kernel
