Repository microsoft/semantic-kernel, pull requests merged in 2025-07, with the labels that each got.

#12181 .Net: Refactor kernel initialization in Step01_Agent
  dotnet/samples/GettingStartedWithAgents/Step01_Agent.cs
Labels: .NET

#12644 .Net: Version 1.59.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#12618 Python: Use message cache in agent orchestrations
  python/semantic_kernel/agents/orchestration/agent_actor_base.py
  python/semantic_kernel/agents/orchestration/group_chat.py
  python/semantic_kernel/agents/orchestration/handoffs.py
  python/semantic_kernel/agents/orchestration/magentic.py
Labels: python, agents

#12656 Python: Emit partial result for magentic pattern when retrieving final result, if available
  python/semantic_kernel/agents/orchestration/magentic.py
  python/tests/unit/agents/orchestration/test_magentic.py
  python/uv.lock
Labels: python, agents

#12619 .Net: Add Support for {Azure}OpenAIPromptExecutionSettings.ChatSystem/DeveloperPrompt for ChatClients
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Extensions/ChatHistoryExtensionsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Settings/OpenAIPromptExecutionSettingsTests.cs
  dotnet/src/Connectors/Connectors.OpenAI/Settings/OpenAIPromptExecutionSettings.cs
  dotnet/src/IntegrationTests/Connectors/OpenAI/OpenAIChatClientTests.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatClient/ChatClientExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/AI/ChatCompletion/ChatClientChatCompletionService.cs
  dotnet/src/SemanticKernel.Abstractions/AI/PromptExecutionSettings.cs
  dotnet/src/SemanticKernel.UnitTests/AI/ChatCompletion/ChatClientChatCompletionServiceConversionTests.cs
  dotnet/src/SemanticKernel.UnitTests/AI/PromptExecutionSettingsTests.cs
Labels: .NET, kernel, ai connector, kernel.core, msft.ext.ai

#12654 Python: Properly handle AzureAI Search results for AzureAIAgent
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
Labels: python, agents

#12676 .Net: Exposing conversion helpers from SK Contents to MEAI Content primitives
  dotnet/src/SemanticKernel.Abstractions/Contents/ChatMessageContentExtensions.cs
  dotnet/src/SemanticKernel.Abstractions/Contents/StreamingChatMessageContentExtensions.cs
Labels: experimental, msft.ext.ai

#12677 .Net: Removing SKEXP0070 experimental from non-GA AI Connectors
  dotnet/docs/EXPERIMENTS.md
  dotnet/samples/Concepts/Concepts.csproj
  dotnet/samples/Demos/AIModelRouter/Program.cs
  dotnet/samples/Demos/AmazonBedrockModels/AmazonBedrockAIModels.csproj
  dotnet/samples/Demos/AotCompatibility/OnnxChatCompletionSamples.cs
  dotnet/samples/Demos/CopilotAgentPlugins/CopilotAgentPluginsDemoSample/DemoCommand.cs
  dotnet/samples/Demos/HuggingFaceImageToText/FormMain.cs
  dotnet/samples/Demos/OllamaFunctionCalling/OllamaFunctionCalling.csproj
  dotnet/samples/Demos/OllamaFunctionCalling/Program.cs
  dotnet/samples/Demos/OnnxSimpleRAG/OnnxSimpleRAG.csproj
  dotnet/samples/Demos/ProcessFrameworkWithAspire/ProcessFramework.Aspire/ProcessFramework.Aspire.ProcessOrchestrator/ProcessFramework.Aspire.ProcessOrchestrator.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc/ProcessWithCloudEvents.Grpc.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Processes/ProcessWithCloudEvents.Processes.csproj
  dotnet/samples/Demos/ProcessWithDapr/ProcessWithDapr.csproj
  dotnet/samples/Demos/StructuredDataPlugin/StructuredDataPlugin.csproj
  dotnet/samples/Demos/TelemetryWithAppInsights/TelemetryWithAppInsights.csproj
  dotnet/samples/GettingStarted/GettingStarted.csproj
  dotnet/samples/GettingStartedWithAgents/GettingStartedWithAgents.csproj
  dotnet/samples/GettingStartedWithProcesses/GettingStartedWithProcesses.csproj
  dotnet/samples/GettingStartedWithTextSearch/GettingStartedWithTextSearch.csproj
  dotnet/samples/GettingStartedWithVectorStores/GettingStartedWithVectorStores.csproj
  dotnet/src/Connectors/Connectors.Amazon.UnitTests/Connectors.Amazon.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Amazon/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Amazon/Connectors.Amazon.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference.UnitTests/Connectors.AzureAIInference.UnitTests.csproj
  dotnet/src/Connectors/Connectors.AzureAIInference/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.AzureAIInference/Connectors.AzureAIInference.csproj
  dotnet/src/Connectors/Connectors.Google.UnitTests/Connectors.Google.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Google/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Google/Connectors.Google.csproj
  dotnet/src/Connectors/Connectors.HuggingFace/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.HuggingFace/Connectors.HuggingFace.csproj
  dotnet/src/Connectors/Connectors.MistralAI.UnitTests/Connectors.MistralAI.UnitTests.csproj
  dotnet/src/Connectors/Connectors.MistralAI/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.MistralAI/Connectors.MistralAI.csproj
  dotnet/src/Connectors/Connectors.Ollama.UnitTests/Connectors.Ollama.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Ollama/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Ollama/Connectors.Ollama.csproj
  dotnet/src/Connectors/Connectors.Onnx.UnitTests/Connectors.Onnx.UnitTests.csproj
  dotnet/src/Connectors/Connectors.Onnx/AssemblyInfo.cs
  dotnet/src/Connectors/Connectors.Onnx/Connectors.Onnx.csproj
  dotnet/src/Connectors/Connectors.OpenAI.UnitTests/Connectors.OpenAI.UnitTests.csproj
  dotnet/src/Experimental/Process.IntegrationTestHost.Dapr/Process.IntegrationTestHost.Dapr.csproj
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/Process.IntegrationTestRunner.Dapr.csproj
  dotnet/src/IntegrationTests/IntegrationTests.csproj
Labels: .NET, sk team issue, experimental

#12636 .Net: Fix Labels Implementation in Vertex AI to Use Dictionary<string, string>
  dotnet/src/Connectors/Connectors.Google.UnitTests/Core/Gemini/GeminiRequestTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/GoogleAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Google.UnitTests/Services/VertexAIGeminiChatCompletionServiceTests.cs
  dotnet/src/Connectors/Connectors.Google/Core/Gemini/Models/GeminiRequest.cs
  dotnet/src/Connectors/Connectors.Google/GeminiPromptExecutionSettings.cs
  dotnet/src/IntegrationTests/Connectors/Google/Gemini/GeminiChatCompletionTests.cs
Labels: .NET, kernel

#12661 .Net: Removing FoundryProcessBuilder and associated files.
  dotnet/samples/GettingStartedWithProcesses/Step06/Step06_FoundryAgentProcess.cs
  dotnet/src/Agents/AzureAI/Extensions/FoundryWorkflowExtensions.cs
  dotnet/src/Experimental/Process.Core/FoundryListenForBuilder.cs
  dotnet/src/Experimental/Process.Core/FoundryListenForTargetBuilder.cs
  dotnet/src/Experimental/Process.Core/FoundryMessageSourceBuilder.cs
  dotnet/src/Experimental/Process.Core/FoundryProcessBuilder.cs
  dotnet/src/Experimental/Process.Core/FoundryWorkflowExtensions.cs
  dotnet/src/Experimental/Process.Core/ProcessAgentBuilder.cs
  dotnet/src/Experimental/Process.Core/ProcessExporter.cs
  dotnet/src/Experimental/Process.UnitTests/Process.UnitTests.csproj
  dotnet/src/Experimental/Process.UnitTests/ProcessSerializationTests.cs
  dotnet/src/Experimental/Process.UnitTests/Resources/combined-workflow.yaml
  dotnet/src/Experimental/Process.UnitTests/Resources/dotnetOnlyWorkflow1.yaml
  dotnet/src/Experimental/Process.UnitTests/Resources/scenario1.yaml
  dotnet/src/Experimental/Process.UnitTests/Resources/workflow1.yaml
Labels: .NET

#12665 .Net: Add a new orchestration sample that uses different agent types
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step01_Concurrent.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step01a_ConcurrentWithStructuredOutput.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step02_Sequential.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step02a_SequentialCancellation.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step03_GroupChat.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step03a_GroupChatWithHumanInTheLoop.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step03b_GroupChatWithAIManager.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step04_Handoff.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step04a_HandoffWithStructuredInput.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step05_Magentic.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step06_DifferentAgentTypes.cs
  dotnet/src/Agents/AzureAI/AzureAIChannel.cs
  dotnet/src/Agents/AzureAI/Internal/AgentMessageFactory.cs
  dotnet/src/Agents/AzureAI/Internal/AgentThreadActions.cs
  dotnet/src/Agents/OpenAI/Extensions/ChatContentMessageExtensions.cs
  dotnet/src/Agents/OpenAI/Internal/AssistantMessageFactory.cs
  dotnet/src/Agents/OpenAI/OpenAIAssistantChannel.cs
  dotnet/src/InternalUtilities/samples/AgentUtilities/BaseOrchestrationTest.cs
Labels: .NET

#12716 Python: Improve orchestration exception handling
  python/semantic_kernel/agents/orchestration/agent_actor_base.py
  python/semantic_kernel/agents/orchestration/concurrent.py
  python/semantic_kernel/agents/orchestration/group_chat.py
  python/semantic_kernel/agents/orchestration/handoffs.py
  python/semantic_kernel/agents/orchestration/magentic.py
  python/semantic_kernel/agents/orchestration/orchestration_base.py
  python/semantic_kernel/agents/orchestration/sequential.py
  python/tests/integration/agents/openai_assistant_agent/test_openai_assistant_agent_integration.py
  python/tests/unit/agents/orchestration/conftest.py
  python/tests/unit/agents/orchestration/test_concurrent.py
  python/tests/unit/agents/orchestration/test_group_chat.py
  python/tests/unit/agents/orchestration/test_handoff.py
  python/tests/unit/agents/orchestration/test_magentic.py
  python/tests/unit/agents/orchestration/test_orchestration_base.py
  python/tests/unit/agents/orchestration/test_sequential.py
Labels: python, agents, multi-agent

#12723 .Net Fix - Display thread type name in error message
  dotnet/src/Agents/Abstractions/Agent.cs
Labels: .NET, agents

#12735 Fixed typo in README.md
  README.md
Labels: documentation

#12739 .Net: Ensure MongoDB filter/offset tests don't conflict
  dotnet/src/IntegrationTests/Connectors/Memory/CosmosMongoDB/CosmosMongoCollectionTests.cs
  dotnet/src/IntegrationTests/Connectors/Memory/MongoDB/MongoDBVectorStoreRecordCollectionTests.cs
Labels: .NET, kernel

#12736 Python: Support AzureAI agent MCP tools for streaming and non-streaming invocations
  python/pyproject.toml
  python/samples/concepts/README.md
  python/samples/concepts/agents/azure_ai_agent/azure_ai_agent_mcp_streaming.py
  python/samples/getting_started_with_agents/azure_ai_agent/step01_azure_ai_agent.py
  python/samples/getting_started_with_agents/azure_ai_agent/step02_azure_ai_agent_plugin.py
  python/samples/getting_started_with_agents/azure_ai_agent/step03_azure_ai_agent_group_chat.py
  python/samples/getting_started_with_agents/azure_ai_agent/step04_azure_ai_agent_code_interpreter.py
  python/samples/getting_started_with_agents/azure_ai_agent/step05_azure_ai_agent_file_search.py
  python/samples/getting_started_with_agents/azure_ai_agent/step06_azure_ai_agent_openapi.py
  python/samples/getting_started_with_agents/azure_ai_agent/step07_azure_ai_agent_retrieval.py
  python/samples/getting_started_with_agents/azure_ai_agent/step08_azure_ai_agent_declarative.py
  python/samples/getting_started_with_agents/azure_ai_agent/step09_azure_ai_agent_mcp.py
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/tests/unit/connectors/ai/open_ai/services/test_azure_text_to_image.py
  python/tests/unit/connectors/ai/open_ai/services/test_openai_text_to_image.py
  python/uv.lock
Labels: python, agents, documentation

#12740 .Net: Update GettingStarted to use M.E.AI.ChatClient
  dotnet/samples/GettingStarted/Step1_Create_Kernel.cs
  dotnet/samples/GettingStarted/Step2_Add_Plugins.cs
  dotnet/samples/GettingStarted/Step3_Yaml_Prompt.cs
  dotnet/samples/GettingStarted/Step4_Dependency_Injection.cs
  dotnet/samples/GettingStarted/Step5_Chat_Prompt.cs
  dotnet/samples/GettingStarted/Step6_Responsible_AI.cs
  dotnet/samples/GettingStarted/Step7_Observability.cs
  dotnet/samples/GettingStarted/Step8_Pipelining.cs
  dotnet/samples/GettingStarted/Step9_OpenAPI_Plugins.cs
Labels: .NET

#12754 .Net: Support jsonelement for openapi plugins
  dotnet/src/Functions/Functions.OpenApi/Serialization/OpenApiTypeConverter.cs
  dotnet/src/Functions/Functions.UnitTests/OpenApi/Serialization/OpenApiTypeConverterTests.cs
Labels: .NET

#12760 Python: fix Bing grounding & custom search content generation
  python/semantic_kernel/agents/azure_ai/agent_content_generation.py
  python/semantic_kernel/agents/azure_ai/agent_thread_actions.py
  python/tests/unit/agents/azure_ai_agent/test_agent_content_generation.py
Labels: python

#12759 .Net: Processes: Checkpoint state improvements
  dotnet/SK-dotnet.slnx
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc.LocalRuntime/ProcessWithCloudEvents.Grpc.LocalRuntime.csproj
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Grpc.LocalRuntime/Program.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Utilities/Options/CosmosDBOptions.cs
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Utilities/Storage/CosmosDbContainerStorageConnector.cs
  dotnet/src/Experimental/Process.Abstractions/IProcessStepStorageOperations.cs
  dotnet/src/Experimental/Process.Abstractions/IProcessStorageOperations.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepInfo.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepState.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageEntryBase.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageParentData.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageProcessData.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageProcessEvents.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageProcessExtensions.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageProcessInfo.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageStepData.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageStepEvents.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageStepExtensions.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageStepInfo.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageStepState.cs
  dotnet/src/Experimental/Process.Abstractions/ProcessStorageManager.cs
  dotnet/src/Experimental/Process.Abstractions/StepState.cs
  dotnet/src/Experimental/Process.IntegrationTestRunner.Dapr/DaprTestProcessContext.cs
  dotnet/src/Experimental/Process.IntegrationTests.Resources/ProcessCycleTestResources.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessContext.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalKernelProcessFactory.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.LocalRuntime/README.md
  dotnet/src/Experimental/Process.Runtime.Dapr/DaprKernelProcessContext.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/Experimental/Process.Utilities.UnitTests/ObservableChannelTests.cs
  dotnet/src/InternalUtilities/process/Runtime/MapExtensions.cs
  dotnet/src/InternalUtilities/process/Runtime/ObservableChannel.cs
  dotnet/src/InternalUtilities/process/TestsShared/Steps/CommonSteps.cs
Labels: .NET, documentation

#12776 .Net: Fix issue 12775
  dotnet/samples/GettingStartedWithAgents/OpenAIResponse/Step04_OpenAIResponseAgent_Tools.cs
  dotnet/src/Agents/OpenAI/Internal/ResponseCreationOptionsFactory.cs
  dotnet/src/Agents/UnitTests/OpenAI/Internal/ResponseCreationOptionsFactoryTests.cs
Labels: .NET

#12782 .Net: Patch package dependencies
  dotnet/Directory.Packages.props
Labels: .NET

#12786 .Net: Version 1.61.0
  dotnet/nuget/nuget-package.props
Labels: .NET

#12794 .Net Agent Orchestration - Fix GroupChat Samples
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step03_GroupChat.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step03a_GroupChatWithHumanInTheLoop.cs
  dotnet/samples/GettingStartedWithAgents/Orchestration/Step06_DifferentAgentTypes.cs
  dotnet/src/Agents/Orchestration/AgentActor.cs
  dotnet/src/Agents/Orchestration/GroupChat/RoundRobinGroupChatManager.cs
  dotnet/src/Agents/Runtime/Core.Tests/AgentRuntimeExtensionsTests.cs
  dotnet/src/Agents/Runtime/InProcess.Tests/PublishMessageTests.cs
  dotnet/src/Agents/Runtime/InProcess/InProcessRuntime.cs
Labels: .NET, multi-agent

#12805 .Net: Checkpoint - Process Shared Variables
  dotnet/samples/Demos/ProcessWithCloudEvents/ProcessWithCloudEvents.Utilities/Storage/CosmosDbContainerStorageConnector.cs
  dotnet/src/Experimental/Process.Abstractions/IKernelProcessUserStateStore.cs
  dotnet/src/Experimental/Process.Abstractions/IProcessStorageOperations.cs
  dotnet/src/Experimental/Process.Abstractions/KernelProcessStepContext.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageProcessData.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageProcessExtensions.cs
  dotnet/src/Experimental/Process.Abstractions/Models/Storage/StorageProcessState.cs
  dotnet/src/Experimental/Process.Abstractions/ProcessStorageManager.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalProcess.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalStep.cs
  dotnet/src/Experimental/Process.LocalRuntime/LocalUserStateStore.cs
  dotnet/src/Experimental/Process.UnitTests/Runtime.Local/LocalProcessTests.cs
  dotnet/src/InternalUtilities/process/Abstractions/StepExtensions.cs
Labels: .NET
